<!-- received="Mon Oct  4 08:04:36 1999 PDT" -->
<!-- sent="Mon, 4 Oct 1999 11:09:08 -0400 (EDT)" -->
<!-- name="David Brodbeck" -->
<!-- email="gull@condor.resnet.mtu.edu" -->
<!-- subject="Re: Acer Scanners?" -->
<!-- id="" -->
<!-- inreplyto="s7f8ba7d.093@vmfr.vibro-meter.ch" -->
<title>sane-devel: Re: Acer Scanners?</title>
<h1>Re: Acer Scanners?</h1>
<b>David Brodbeck</b> (<a href="mailto:gull@condor.resnet.mtu.edu"><i>gull@condor.resnet.mtu.edu</i></a>)<br>
<i>Mon, 4 Oct 1999 11:09:08 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#15">[ date ]</a><a href="index.html#15">[ thread ]</a><a href="subject.html#15">[ subject ]</a><a href="author.html#15">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Kevin Charter: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<li> <b>Previous message:</b> <a href="0014.html">Nikolay N. Igotti: "Re: Acer Scanners?"</a>
<li> <b>In reply to:</b> <a href="0012.html">Dominique Bovey: "Acer Scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0021.html">Greg Lehey: "Re: Acer Scanners?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
A friend of mine has a UMAX Astra 1220S that he says works fine under<br>
Linux, though he had to use a different SCSI card than the one it came<br>
with.<br>
<p>
-----------------------------------------------------------------------<br>
    "If men had wings and bore black feathers, few of them would be<br>
     clever enough to be crows."<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Kevin Charter: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<li> <b>Previous message:</b> <a href="0014.html">Nikolay N. Igotti: "Re: Acer Scanners?"</a>
<li> <b>In reply to:</b> <a href="0012.html">Dominique Bovey: "Acer Scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0021.html">Greg Lehey: "Re: Acer Scanners?"</a>
<!-- reply="end" -->
</ul>
