<!-- received="Mon Oct  4 10:05:23 1999 PDT" -->
<!-- sent="Mon, 4 Oct 1999 18:56:48 +0200" -->
<!-- name="Juergen G. Schimmer" -->
<!-- email="schimmi@nbgm.siemens.de" -->
<!-- subject="An: New v4l backend (alpha)" -->
<!-- id="99100419090006.00739@pc-schmerer5.erlf80.asi.siemens.de" -->
<!-- inreplyto="" -->
<title>sane-devel: An: New v4l backend (alpha)</title>
<h1>An: New v4l backend (alpha)</h1>
<b>Juergen G. Schimmer</b> (<a href="mailto:schimmi@nbgm.siemens.de"><i>schimmi@nbgm.siemens.de</i></a>)<br>
<i>Mon, 4 Oct 1999 18:56:48 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#17">[ date ]</a><a href="index.html#17">[ thread ]</a><a href="subject.html#17">[ subject ]</a><a href="author.html#17">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0018.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Previous message:</b> <a href="0016.html">Kevin Charter: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello<br>
<p>
My (pre-alpha) v4l-Sane-backend is now available at<br>
<a href="http://www.franken.de/users/solid/v4l.tgz">http://www.franken.de/users/solid/v4l.tgz</a><br>
<p>
To install it, unpack it to the /backend subdirectory of the current<br>
sane sourcetree, add v4l to the PRELOADABLE_BACKENDS<br>
of the Makefile.in (Or to the Makefile), copy the line for umax<br>
with sanei_constrain_value and change umax to v4l.<br>
Make the backends (Dont run configure if you ondly have<br>
changed the lines in the Makefile), add v4l in dll.conf, edit<br>
v4l.conf and maybe it runs.<br>
<p>
At the moment it is only testet with B&amp;W Quickcam<br>
(It works) and bttv (No Picture)<br>
<p>
Somebody interested ?<br>
<p>
Juergen<br>
<p>
<pre>
--
<pre>
---
Juergen G. Schimmer                             <a href="mailto:schimmi@nbgm.siemens.de">schimmi@nbgm.siemens.de</a>
.... und ausserdem sollte Windows geloescht werden!
    ceterum censeo delendam Windows esse
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0018.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Previous message:</b> <a href="0016.html">Kevin Charter: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
