<!-- received="Wed Oct  6 04:00:58 1999 PDT" -->
<!-- sent="Wed, 6 Oct 1999 12:00:12 +0100" -->
<!-- name="Dmitry Veprintsev" -->
<!-- email="dbv@mrc-lmb.cam.ac.uk" -->
<!-- subject="Re: umax parallel port scanners - how to log protocol" -->
<!-- id="99100612130500.00248@macx46" -->
<!-- inreplyto="umax parallel port scanners - how to log protocol" -->
<title>sane-devel: Re: umax parallel port scanners - how to log protocol</title>
<h1>Re: umax parallel port scanners - how to log protocol</h1>
<b>Dmitry Veprintsev</b> (<a href="mailto:dbv@mrc-lmb.cam.ac.uk"><i>dbv@mrc-lmb.cam.ac.uk</i></a>)<br>
<i>Wed, 6 Oct 1999 12:00:12 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#30">[ date ]</a><a href="index.html#30">[ thread ]</a><a href="subject.html#30">[ subject ]</a><a href="author.html#30">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Kevin Charter: "Re: Acer Scanners?"</a>
<li> <b>Previous message:</b> <a href="0029.html">=??Q?Nov=E1k_Levente?=: "Re: Microtek Phantom 636cx again"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0032.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Reply:</b> <a href="0032.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
OK. Unfortunately, vmware only claims the port, then gets the baseaddress and<br>
then directly accesses it. So, it cannot be used for the protocol snooping<br>
purposes at the moment (i also asked on the vmware news groups). <br>
next idea (but not nearly as simple):<br>
Is it possible to make software emulation of the PC port (at different<br>
address), and have vmware  write to it, and have it redirected to  the  real<br>
port? (sort of aliasing the parport registers)? this will make the "remote"<br>
parport possible as well. <br>
<p>
<p>
<p>
On Tue, 05 Oct 1999, you wrote:<br>
<i>&gt; On Tue, 5 Oct 1999, Dmitry Veprintsev wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; in every function, pp_read/write/ioctl etc. </i><br>
<i>&gt; &gt; what will be the proper printk level (KERN_INFO?) for it to work? </i><br>
<i>&gt; </i><br>
<i>&gt; It doesn't really matter.  Did you use 'dmesg'?</i><br>
<i>&gt; </i><br>
<i>&gt; Tim.</i><br>
<i>&gt; */</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<pre>
--
Dr. Dmitry Veprintsev
<a href="mailto:dbv@mrc-lmb.cam.ac.uk">dbv@mrc-lmb.cam.ac.uk</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Kevin Charter: "Re: Acer Scanners?"</a>
<li> <b>Previous message:</b> <a href="0029.html">=??Q?Nov=E1k_Levente?=: "Re: Microtek Phantom 636cx again"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0032.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Reply:</b> <a href="0032.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- reply="end" -->
</ul>
