<!-- received="Sat Oct  9 12:27:39 1999 PDT" -->
<!-- sent="Sat, 09 Oct 1999 20:44:35 +0200" -->
<!-- name="Andreas" -->
<!-- email="andreas.rick@free.fr" -->
<!-- subject="Re: can't recognize scanner [SOLVED (...)]" -->
<!-- id="" -->
<!-- inreplyto="can't recognize scanner [SOLVED (...)]" -->
<title>sane-devel: Re: can't recognize scanner [SOLVED (...)]</title>
<h1>Re: can't recognize scanner [SOLVED (...)]</h1>
<b>Andreas</b> (<a href="mailto:andreas.rick@free.fr"><i>andreas.rick@free.fr</i></a>)<br>
<i>Sat, 09 Oct 1999 20:44:35 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#60">[ date ]</a><a href="index.html#60">[ thread ]</a><a href="subject.html#60">[ subject ]</a><a href="author.html#60">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Rob Komar: "HP 6350C support?"</a>
<li> <b>Previous message:</b> <a href="0059.html">Craig Allen: "Re: can't recognize scanner [SOLVED (...)]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
What is your SCSI-card? SCSI-Driver?<br>
Did you enable Autofocus?<br>
<p>
Greetings<br>
<p>
Andreas Rick<br>
<p>
Craig Allen wrote:<br>
<i>&gt; However, xscanimage causes the system to lock up when I try to scan</i><br>
<i>&gt; now :-(</i><br>
<i>&gt; </i><br>
<i>&gt; It locks hard and I have to power cycle to regain control - Yikes!</i><br>
<i>&gt; Now I'll have to look into *that* problem; will I ever get this thing</i><br>
<i>&gt; to work???</i><br>
<i>&gt; </i><br>
<i>&gt; Thanks for your help, Andreas.</i><br>
<i>&gt; </i><br>
<i>&gt; -Craig</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Craig</i><br>
<i>&gt; <a href="mailto:cpallen@TampaBay.rr.com">cpallen@TampaBay.rr.com</a></i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Rob Komar: "HP 6350C support?"</a>
<li> <b>Previous message:</b> <a href="0059.html">Craig Allen: "Re: can't recognize scanner [SOLVED (...)]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
