<!-- received="Sun Oct 10 07:41:29 1999 PDT" -->
<!-- sent="Sun, 10 Oct 1999 16:52:08 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="xsane-0.38 available" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane-0.38 available</title>
<h1>xsane-0.38 available</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 10 Oct 1999 16:52:08 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#75">[ date ]</a><a href="index.html#75">[ thread ]</a><a href="subject.html#75">[ subject ]</a><a href="author.html#75">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Rob Komar: "Re: HP 6350C support?"</a>
<li> <b>Previous message:</b> <a href="0074.html">Peter Kirchgessner: "Re: HP 6350C support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
xsane-0.38 is available on<br>
<a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a><br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Rob Komar: "Re: HP 6350C support?"</a>
<li> <b>Previous message:</b> <a href="0074.html">Peter Kirchgessner: "Re: HP 6350C support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
