<!-- received="Fri Oct 15 08:39:56 1999 PDT" -->
<!-- sent="Fri, 15 Oct 1999 17:41:41 +0200 (CEST)" -->
<!-- name="Frederic Bregier" -->
<!-- email="bregier@labri.u-bordeaux.fr" -->
<!-- subject="Any support for Guillemot Maxi Scan A4 Deluxe ?" -->
<!-- id="199910151541.RAA03489@raoul.labri.u-bordeaux.fr" -->
<!-- inreplyto="" -->
<title>sane-devel: Any support for Guillemot Maxi Scan A4 Deluxe ?</title>
<h1>Any support for Guillemot Maxi Scan A4 Deluxe ?</h1>
<b>Frederic Bregier</b> (<a href="mailto:bregier@labri.u-bordeaux.fr"><i>bregier@labri.u-bordeaux.fr</i></a>)<br>
<i>Fri, 15 Oct 1999 17:41:41 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#106">[ date ]</a><a href="index.html#106">[ thread ]</a><a href="subject.html#106">[ subject ]</a><a href="author.html#106">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0107.html">Fernando Segura: "Re: Win9x-Client"</a>
<li> <b>Previous message:</b> <a href="0105.html">Christian: "Win9x-Client"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0154.html">Kevin Charter: "Re: Any support for Guillemot Maxi Scan A4 Deluxe ?"</a>
<li> <b>Reply:</b> <a href="0154.html">Kevin Charter: "Re: Any support for Guillemot Maxi Scan A4 Deluxe ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello, I read about the scanner support list but I didn't found<br>
something about the Maxi Scan A4 deluxe (SCSI) from Guillemot<br>
Int. Does anybody know if this scanner is known under another<br>
name (company) or if it is supported or will be supported ?<br>
<p>
Thanks a lot!<br>
<p>
frederic<br>
<p>
<a href="mailto:bregier@labri.u-bordeaux.fr">bregier@labri.u-bordeaux.fr</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0107.html">Fernando Segura: "Re: Win9x-Client"</a>
<li> <b>Previous message:</b> <a href="0105.html">Christian: "Win9x-Client"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0154.html">Kevin Charter: "Re: Any support for Guillemot Maxi Scan A4 Deluxe ?"</a>
<li> <b>Reply:</b> <a href="0154.html">Kevin Charter: "Re: Any support for Guillemot Maxi Scan A4 Deluxe ?"</a>
<!-- reply="end" -->
</ul>
