<!-- received="Mon Oct 18 14:27:49 1999 PDT" -->
<!-- sent="Tue, 19 Oct 1999 00:55:41 +0000" -->
<!-- name="joakim verona" -->
<!-- email="joakim@verona.se" -->
<!-- subject="Re: problem getting a snapscan to work" -->
<!-- id="" -->
<!-- inreplyto="problem getting a snapscan to work" -->
<title>sane-devel: Re: problem getting a snapscan to work</title>
<h1>Re: problem getting a snapscan to work</h1>
<b>joakim verona</b> (<a href="mailto:joakim@verona.se"><i>joakim@verona.se</i></a>)<br>
<i>Tue, 19 Oct 1999 00:55:41 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#137">[ date ]</a><a href="index.html#137">[ thread ]</a><a href="subject.html#137">[ subject ]</a><a href="author.html#137">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">Robert Schwebel: "16 bit images"</a>
<li> <b>Previous message:</b> <a href="0136.html">Oliver Rauch: "Re: Can a scanner be faster on Windows 98 than on Linux?"</a>
<li> <b>Maybe in reply to:</b> <a href="0126.html">joakim verona: "problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0141.html">Zot O'Connor: "Re: problem getting a snapscan to work"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Karl-Heinz Guenster wrote:<br>
<i>&gt; </i><br>
<i>&gt; On 18-Oct-99 joakim verona wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; Hi Joakim,</i><br>
<i>&gt; </i><br>
<i>&gt; [...]</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; it now strikes me that the problem might be that the scanner needs</i><br>
<i>&gt; &gt; termination,</i><br>
<i>&gt; &gt; but it's unclear how to do this, because the scanner has one db25</i><br>
<i>&gt; &gt; port</i><br>
<i>&gt; &gt; and one centronics</i><br>
<i>&gt; &gt; port. any snapscan users who now if it needs termination?</i><br>
<i>&gt; </i><br>
<i>&gt; It's different. My Snapscan needs an active termination on Adaptec</i><br>
<i>&gt; 2940, but on my Adaptec 1560 no active and no passive termination can</i><br>
<i>&gt; help, only another scanner with termination inside will get them</i><br>
<i>&gt; running.</i><br>
<i>&gt; </i><br>
<i>&gt; I think, you should test active terminators.</i><br>
<p>
aargh! what are active terminators? do you mean supplying term power in <br>
the terminator somehow? aargh.<br>
<p>
doesn't active termination refer to the scsi hosts ability to find out<br>
if it<br>
should terminate the bus or not, depending on if there is an external<br>
chain as well?<br>
<p>
<p>
<i>&gt; Greetings</i><br>
<i>&gt; Karl-Heinz</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; E-Mail: Karl-Heinz Guenster &lt;<a href="mailto:karl-heinz.guenster@t-online.de">karl-heinz.guenster@t-online.de</a>&gt;</i><br>
<i>&gt; Date: 18-Oct-99</i><br>
<i>&gt; Time: 17:58:43</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
Joakim Verona
<a href="mailto:joakim@verona.se">joakim@verona.se</a>
<a href="http://www.verona.se/~joakimv">http://www.verona.se/~joakimv</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">Robert Schwebel: "16 bit images"</a>
<li> <b>Previous message:</b> <a href="0136.html">Oliver Rauch: "Re: Can a scanner be faster on Windows 98 than on Linux?"</a>
<li> <b>Maybe in reply to:</b> <a href="0126.html">joakim verona: "problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0141.html">Zot O'Connor: "Re: problem getting a snapscan to work"</a>
<!-- reply="end" -->
</ul>
