<!-- received="Tue Oct 19 12:16:55 1999 PDT" -->
<!-- sent="Tue, 19 Oct 1999 22:39:26 +0000" -->
<!-- name="joakim verona" -->
<!-- email="joakim@verona.se" -->
<!-- subject="Re: problem getting a snapscan to work" -->
<!-- id="" -->
<!-- inreplyto="problem getting a snapscan to work" -->
<title>sane-devel: Re: problem getting a snapscan to work</title>
<h1>Re: problem getting a snapscan to work</h1>
<b>joakim verona</b> (<a href="mailto:joakim@verona.se"><i>joakim@verona.se</i></a>)<br>
<i>Tue, 19 Oct 1999 22:39:26 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#156">[ date ]</a><a href="index.html#156">[ thread ]</a><a href="subject.html#156">[ subject ]</a><a href="author.html#156">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Robert Schwebel: "Re: 16 bit images"</a>
<li> <b>Previous message:</b> <a href="0155.html">Kevin Charter: "Re: Agfa Snapscan 1236s, AVA1505 SCSI card, Linux kernel 2.2.5 (RH6.0)"</a>
<li> <b>Maybe in reply to:</b> <a href="0126.html">joakim verona: "problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Kevin Charter wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt; hello!</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; i'm trying to get a snapscan 310 scanner to work with sane.</i><br>
<i>&gt; &gt; i have fairly complicated setup,</i><br>
<i>&gt; ...</i><br>
<i>&gt; &gt; snapscan backend 0.7</i><br>
<i>&gt; ...</i><br>
<i>&gt; &gt; scanimage -d snapscan:/dev/sge</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; gives the following(with DEBUG_SANE_SNAPSCAN set)</i><br>
<i>&gt; &gt; at the end it complains about io error,</i><br>
<i>&gt; &gt; and goes into some kind of loop.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Any suggestions would be very apreciated!!!!</i><br>
<i>&gt; </i><br>
<i>&gt; Are your disks or other essential peripherals attached to</i><br>
<i>&gt; the ncr card? As a last resort, you might consider taking</i><br>
<i>&gt; that card out if you can and seeing if the scanner works</i><br>
<i>&gt; with sane in a simplified system.</i><br>
<p>
i will try this, but it will be fairly complicated.<br>
i boot from ide drives (blush) so it is possible.<br>
<p>
<i>&gt; Does this happen in all scanning modes, with all sizes of</i><br>
<i>&gt; images? Does your system lock up? Can you give the exact</i><br>
<i>&gt; text of the error message?</i><br>
<p>
it doesnt really give any errors except those i posted.<br>
the symptoms is that the scanner command(whichever i try)<br>
just stops. the scanner hums slightly and the communication led<br>
on the front flashes, but thats about it.<br>
<p>
also, i now have terminated the scanner scsi bus, and the <br>
symptoms are the same.<br>
<p>
<p>
the symptoms are not always the same. sometimes the scanner dissapears<br>
when i do find-scanners. sometimes it seems like the unit on the<br>
other card with the same id as the scanner on that bus, apears in its<br>
place on /dev/sge, but im not certain.<br>
<p>
i dont understand why find-scanner finds the snapscan at both<br>
/dev/sge and /dev/sg4. before doing my big-bang upgrade to new box<br>
and new kernel, it only appeared on /dev/sgf.<br>
<p>
it is all very strange and i dont know how to debug my setup in<br>
a rational fashion. going down to a simpler setup is a start i guess,<br>
so i will try that. thanks!<br>
<p>
<p>
<i>&gt; Thanks,</i><br>
<i>&gt; </i><br>
<i>&gt; Kevin</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Kevin Charter</i><br>
<i>&gt; <a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca</i><br>
<i>&gt; <a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
Joakim Verona
<a href="mailto:joakim@verona.se">joakim@verona.se</a>
<a href="http://www.verona.se/~joakimv">http://www.verona.se/~joakimv</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Robert Schwebel: "Re: 16 bit images"</a>
<li> <b>Previous message:</b> <a href="0155.html">Kevin Charter: "Re: Agfa Snapscan 1236s, AVA1505 SCSI card, Linux kernel 2.2.5 (RH6.0)"</a>
<li> <b>Maybe in reply to:</b> <a href="0126.html">joakim verona: "problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
