<!-- received="Mon Oct 25 12:02:14 1999 PDT" -->
<!-- sent="Mon, 25 Oct 1999 12:12:49 -0800" -->
<!-- name="Pamela Akazawa" -->
<!-- email="pakazawa@radonc17.ucsf.edu" -->
<!-- subject="xscanimage" -->
<!-- id="v03110706b43a67bead00@[128.218.120.66]" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage</title>
<h1>xscanimage</h1>
<b>Pamela Akazawa</b> (<a href="mailto:pakazawa@radonc17.ucsf.edu"><i>pakazawa@radonc17.ucsf.edu</i></a>)<br>
<i>Mon, 25 Oct 1999 12:12:49 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#187">[ date ]</a><a href="index.html#187">[ thread ]</a><a href="subject.html#187">[ subject ]</a><a href="author.html#187">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">Gerhard Wiesinger: "Re: Problem with compilation of xsane-0.40 and patch"</a>
<li> <b>Previous message:</b> <a href="0186.html">Kevin Charter: "Re: Snapscan Troubles"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am having trouble with xscanimage.<br>
I am running RedHat 6.0.  When I download version 1.01 xscanimage does not<br>
seem to be installed.  When I downloaded version 0.71 xscanimage is<br>
istalled but I can't seem to start it because it is missing libsane.so.<br>
Does anyone have any ideas?<br>
<p>
Pam<br>
<p>
--Pam<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">Gerhard Wiesinger: "Re: Problem with compilation of xsane-0.40 and patch"</a>
<li> <b>Previous message:</b> <a href="0186.html">Kevin Charter: "Re: Snapscan Troubles"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
