<!-- received="Mon Oct 25 12:22:08 1999 PDT" -->
<!-- sent="Mon, 25 Oct 1999 21:22:23 +0200 (METDST)" -->
<!-- name="Gerhard Wiesinger" -->
<!-- email="e9125884@student.tuwien.ac.at" -->
<!-- subject="Re: Problem with compilation of xsane-0.40 and patch" -->
<!-- id="199910251922.VAA24397@stud4.tuwien.ac.at" -->
<!-- inreplyto="38148497.BA147A33@wolfsburg.de" -->
<title>sane-devel: Re: Problem with compilation of xsane-0.40 and patch</title>
<h1>Re: Problem with compilation of xsane-0.40 and patch</h1>
<b>Gerhard Wiesinger</b> (<a href="mailto:e9125884@student.tuwien.ac.at"><i>e9125884@student.tuwien.ac.at</i></a>)<br>
<i>Mon, 25 Oct 1999 21:22:23 +0200 (METDST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#188">[ date ]</a><a href="index.html#188">[ thread ]</a><a href="subject.html#188">[ subject ]</a><a href="author.html#188">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">Kevin Dalley: "Re: Problem with compilation of xsane-0.40 and patch"</a>
<li> <b>Previous message:</b> <a href="0187.html">Pamela Akazawa: "xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Kevin Dalley wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; When I try to compile xsane-0.40 using the old version libgimp1</i><br>
<i>&gt; &gt; (1.0.4), I get the following compilation error:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; gcc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -I/usr/X11R6/include -I/usr/lib/glib/include  -I/usr/local/include -DLOCALEDIR=\""/usr/share/xsane/locale"\" -D_GNU_SOURCE       -DPATH_SANE_DATA_DIR=/usr/share/xsane/sane      -DV_MAJOR=0 -DV_MINOR=40 -DSANE_V_MAJOR=1 -g -O2 -Wall xsane-preferences.c</i><br>
<i>&gt; &gt; In file included from xsane-preferences.c:27:</i><br>
<i>&gt; &gt; xsane.h:245: parse error before `FILE'</i><br>
<i>&gt; &gt; xsane.h:245: warning: no semicolon at end of struct or union</i><br>
<i>&gt; &gt; xsane.h:366: parse error before `}'</i><br>
<i>&gt; &gt; xsane.h:366: warning: type defaults to `int' in declaration of `Xsane'</i><br>
<i>&gt; &gt; xsane.h:366: warning: data definition has no type or storage class</i><br>
<i>&gt; &gt; make: *** [xsane-preferences.o] Error 1</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; One simple fix to this problem is:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; --- xsane-0.40.orig/frontend/xsane.h</i><br>
<i>&gt; &gt; +++ xsane-0.40/frontend/xsane.h</i><br>
<i>&gt; &gt; @@ -39,6 +39,7 @@</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;  /* ---------------------------------------------------------------------------------------------------------------------- */</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; +#include &lt;stdio.h&gt;</i><br>
<i>&gt; &gt;  #include &lt;getopt.h&gt;</i><br>
<i>&gt; &gt;  #include &lt;xsane-back-gtk.h&gt;</i><br>
<i>&gt; &gt;  #include &lt;xsane-preferences.h&gt;</i><br>
<i>&gt; &gt;</i><br>
<p>
Yes, same problem here.<br>
<p>
Ciao,<br>
Gerhard<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">Kevin Dalley: "Re: Problem with compilation of xsane-0.40 and patch"</a>
<li> <b>Previous message:</b> <a href="0187.html">Pamela Akazawa: "xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
