<!-- received="Wed Oct 27 16:04:49 1999 PDT" -->
<!-- sent="Wed, 27 Oct 1999 17:06:24 -0600 (MDT)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: Recommended cheap SCSI scanners?" -->
<!-- id="19991027230632Z433824-22700+112@scapa.cs.ualberta.ca" -->
<!-- inreplyto="199910272231.XAA01199@laa-laa.homehill.org" -->
<title>sane-devel: Re: Recommended cheap SCSI scanners?</title>
<h1>Re: Recommended cheap SCSI scanners?</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Wed, 27 Oct 1999 17:06:24 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#215">[ date ]</a><a href="index.html#215">[ thread ]</a><a href="subject.html#215">[ subject ]</a><a href="author.html#215">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Kevin Charter: "Re: Snapscan Troubles"</a>
<li> <b>Previous message:</b> <a href="0214.html">Allan Third: "Re: Recommended cheap SCSI scanners?"</a>
<li> <b>In reply to:</b> <a href="0214.html">Allan Third: "Re: Recommended cheap SCSI scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0219.html">Greg Lehey: "Acer 620[SU] (was: Recommended cheap SCSI scanners?)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt; &gt; Mustek 1200SP Pro SCSI 	70 pounds</i><br>
<i>&gt; &gt; &gt; Acer 620S		105 pounds</i><br>
<i>&gt; &gt; </i><br>
<p>
...<br>
<p>
<i>&gt; Do you/does anyone know which backend to use, and what sort of</i><br>
<i>&gt; state it's in (for the SCSI model)?</i><br>
<p>
Some people have been successful using the SnapScan backend with the<br>
Acer 620s. I don't have documentation for the Acer scanners though,<br>
and I have no guarantee how compatible with the SnapScan these<br>
scanners are. Some people have reported problems using the backend<br>
with Acer scanners; for instance, for some scanners all but the<br>
first 64 kB of image data gets garbled.<br>
<p>
Kevin<br>
<p>
<pre>
-- 
Kevin Charter              
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Kevin Charter: "Re: Snapscan Troubles"</a>
<li> <b>Previous message:</b> <a href="0214.html">Allan Third: "Re: Recommended cheap SCSI scanners?"</a>
<li> <b>In reply to:</b> <a href="0214.html">Allan Third: "Re: Recommended cheap SCSI scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0219.html">Greg Lehey: "Acer 620[SU] (was: Recommended cheap SCSI scanners?)"</a>
<!-- reply="end" -->
</ul>
