<!-- received="Thu Oct 28 06:38:36 1999 PDT" -->
<!-- sent="Thu, 28 Oct 1999 15:40:43 +0200" -->
<!-- name="Wolfgang Cohrs" -->
<!-- email="wcohrs@AWI-Bremerhaven.DE" -->
<!-- subject="xsane-0.41 on SPARC SOLARIS 2.6" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane-0.41 on SPARC SOLARIS 2.6</title>
<h1>xsane-0.41 on SPARC SOLARIS 2.6</h1>
<b>Wolfgang Cohrs</b> (<a href="mailto:wcohrs@AWI-Bremerhaven.DE"><i>wcohrs@AWI-Bremerhaven.DE</i></a>)<br>
<i>Thu, 28 Oct 1999 15:40:43 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#220">[ date ]</a><a href="index.html#220">[ thread ]</a><a href="subject.html#220">[ subject ]</a><a href="author.html#220">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0221.html">galysh@juno.nrl.navy.mil: "floating point exception error"</a>
<li> <b>Previous message:</b> <a href="0219.html">Greg Lehey: "Acer 620[SU] (was: Recommended cheap SCSI scanners?)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0222.html">Oliver Rauch: "Re: xsane-0.41 on SPARC SOLARIS 2.6"</a>
<li> <b>Reply:</b> <a href="0222.html">Oliver Rauch: "Re: xsane-0.41 on SPARC SOLARIS 2.6"</a>
<li> <b>Reply:</b> <a href="0226.html">Wolfgang Cohrs: "Re: xsane-0.41 on SPARC SOLARIS 2.6"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
i try to compile xsane-0.41 on SunOS  5.6 Generic_105181-16 sun4u sparc<br>
SUNW,Ultra-1System = SunOS<br>
with gcc version 2.8.1. with xsane-0.37 i have no problem.<br>
here the error<br>
<p>
making all in frontend<br>
make[1]: Entering directory `/tmpdir/xsane-0.41/frontend'<br>
gcc  -o xsane xsane-back-gtk.o xsane-front-gtk.o xsane-gamma.o<br>
xsane-preview.o xsane-preferences.o xsane-setup.o xsane-save.o<br>
xsane-scan.o xsane-icons.o xsane.o ../sanei/libsanei.a \<br>
        ../lib/liblib.a -lgimp -L/tmpdir/Software/lib -L/usr/openwin/lib<br>
-R/usr/openwin/lib -lgtk -lgdk -lgmodule -lglib -ldl -lXext -lX11<br>
-lsocket -lnsl -lm -ldl -ltiff -ljpeg -lz -lm<br>
Undefined                       first referenced<br>
 symbol                             in file<br>
sane_read                           xsane-preview.o<br>
sane_get_parameters                 xsane-preview.o<br>
sane_close                          xsane-back-gtk.o<br>
sane_strstatus                      xsane-back-gtk.o<br>
sane_cancel                         xsane-preview.o<br>
sane_exit                           xsane-scan.o<br>
sane_set_io_mode                    xsane-preview.o<br>
sane_start                          xsane-preview.o<br>
sane_open                           xsane.o<br>
sane_init                           xsane-scan.o<br>
sane_get_select_fd                  xsane-preview.o<br>
sane_get_devices                    xsane-scan.o<br>
sane_get_option_descriptor          xsane-back-gtk.o<br>
sane_control_option                 xsane-back-gtk.o<br>
ld: fatal: Symbol referencing errors. No output written to xsane<br>
make[1]: *** [xsane] Error 1<br>
make[1]: Leaving directory `/tmpdir/xsane-0.41/frontend'<br>
make: *** [all-recursive] Error 1<br>
<p>
thanx for help<br>
<p>
<pre>
--
Wolfgang Cohrs Alfred-Wegener-Institut fuer Polar- und Meeresforschung
Postfach 120161 D 27515 Bremerhaven
<a href="mailto:wcohrs@awi-bremerhaven.de">mailto:wcohrs@awi-bremerhaven.de</a>
<a href="http://www.awi-bremerhaven.de/ViewHome/Mitarbeiter.html?uid=wcohrs">http://www.awi-bremerhaven.de/ViewHome/Mitarbeiter.html?uid=wcohrs</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0221.html">galysh@juno.nrl.navy.mil: "floating point exception error"</a>
<li> <b>Previous message:</b> <a href="0219.html">Greg Lehey: "Acer 620[SU] (was: Recommended cheap SCSI scanners?)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0222.html">Oliver Rauch: "Re: xsane-0.41 on SPARC SOLARIS 2.6"</a>
<li> <b>Reply:</b> <a href="0222.html">Oliver Rauch: "Re: xsane-0.41 on SPARC SOLARIS 2.6"</a>
<li> <b>Reply:</b> <a href="0226.html">Wolfgang Cohrs: "Re: xsane-0.41 on SPARC SOLARIS 2.6"</a>
<!-- reply="end" -->
</ul>
