<!-- received="Wed Aug  6 02:01:11 1997 MST" -->
<!-- sent="Wed, 6 Aug 1997 10:25:03 +0200" -->
<!-- name="Didier Carlier" -->
<!-- email="carlierd@acm.org" -->
<!-- subject="Re: COOLSCAN II backend" -->
<!-- id="199708060825.KAA26246@fritz.sema.be" -->
<!-- inreplyto="199708052029.WAA00975@cave.BitWizard.nl" -->
<title>sane-devel: Re: COOLSCAN II backend</title>
<h1>Re: COOLSCAN II backend</h1>
<b>Didier Carlier</b> (<a href="mailto:carlierd@acm.org"><i>carlierd@acm.org</i></a>)<br>
<i>Wed, 6 Aug 1997 10:25:03 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#20">[ date ]</a><a href="index.html#20">[ thread ]</a><a href="subject.html#20">[ subject ]</a><a href="author.html#20">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Rogan Dawes: "SANE and AIX"</a>
<li> <b>Previous message:</b> <a href="0019.html">Chris Faherty: "Re: Paperport ix - scanner keyboard"</a>
<li> <b>In reply to:</b> <a href="0016.html">Rogier Wolff: "Re: COOLSCAN II backend - resend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Rogier Wolff writes:<br>
<i> &gt; </i><br>
<i> &gt; He-he... I traced the Windows software talking to the Coolscan II</i><br>
<i> &gt; using a $50,000 logic analyser..... :-)</i><br>
<i> &gt; </i><br>
<i> &gt; Anyways, we attempted to adapt the tamarack (which doesn't follow</i><br>
<i> &gt; the SCSI standard too closely) program that I had, but that didn't</i><br>
<i> &gt; lead to quick success. We could try using the umax backend.....</i><br>
<i> &gt; </i><br>
<i> &gt;</i><br>
 					Roger.<br>
<p>
That is definitely out of my budget, so I'm taking the other approach<br>
(getting the docs).<br>
The umax backend seems ok, with little modifications, I got it to do<br>
simple things like the INQUIRE and POSITION commands on the COOLSCAN,<br>
and these seem to work. It even reads data but unfortunately the<br>
picture I get is a 28.8 Meg file all black ;-).<br>
I'm now waiting for some detailed interface specs from Nikon to go<br>
further and I have good hope, as at least they replied to my faxes and <br>
phone calls. <br>
<p>
Didier<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Rogan Dawes: "SANE and AIX"</a>
<li> <b>Previous message:</b> <a href="0019.html">Chris Faherty: "Re: Paperport ix - scanner keyboard"</a>
<li> <b>In reply to:</b> <a href="0016.html">Rogier Wolff: "Re: COOLSCAN II backend - resend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
