<!-- received="Wed Aug  6 06:03:33 1997 MST" -->
<!-- sent="Wed, 6 Aug 1997 14:13:57 +0200" -->
<!-- name="Rogan Dawes" -->
<!-- email="rdawes@jhbelec.co.za" -->
<!-- subject="Error compiling sane 0.62 on AIX 4.1" -->
<!-- id="19970806141357.26084@adm1jed" -->
<!-- inreplyto="" -->
<title>sane-devel: Error compiling sane 0.62 on AIX 4.1</title>
<h1>Error compiling sane 0.62 on AIX 4.1</h1>
<b>Rogan Dawes</b> (<a href="mailto:rdawes@jhbelec.co.za"><i>rdawes@jhbelec.co.za</i></a>)<br>
<i>Wed, 6 Aug 1997 14:13:57 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#23">[ date ]</a><a href="index.html#23">[ thread ]</a><a href="subject.html#23">[ subject ]</a><a href="author.html#23">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Michael K. Johnson: "Re: COOLSCAN II backend"</a>
<li> <b>Previous message:</b> <a href="0022.html">Michael Sweet: "Re: Paperport ix - scanner keyboard"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0025.html">David Mosberger-Tang: "Re: Error compiling sane 0.62 on AIX 4.1"</a>
<li> <b>Reply:</b> <a href="0025.html">David Mosberger-Tang: "Re: Error compiling sane 0.62 on AIX 4.1"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi folks.<br>
<p>
I am having a little bit of trouble compiling sane 0.62 on AIX 4.1.<br>
<p>
First off, autoconf seems to have a problem :<br>
<p>
checking whether gcc accepts -g... yes<br>
./configure[743]: AM_PROG_RANLIB:  not found<br>
checking for a BSD compatible install... /usr/bin/installbsd -c<br>
<p>
Then, there are a couple of warnings when I compile :<br>
<p>
gcc -c -DHAVE_CONFIG_H -I. -I. -I../include/sane -I../include<br>
-D_GNU_SOURCE -DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d<br>
-DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=0 -DV_MINOR=62 -g -O2<br>
-Wall -DPIC getopt.c<br>
getopt.c: In function `_getopt_initialize':<br>
getopt.c:354: warning: implicit declaration of function `getpid'<br>
getopt.c: In function `_getopt_internal':<br>
getopt.c:559: warning: implicit declaration of function `strncmp'<br>
getopt.c:546: warning: `indfound' might be used uninitialized in this<br>
function<br>
<p>
gcc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -D_GNU_SOURCE<br>
-DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d<br>
-DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=0 -DV_MINOR=62 -g -O2<br>
-Wall -DPIC sanei_constrain_value.c<br>
sanei_constrain_value.c: In function `sanei_constrain_value':<br>
sanei_constrain_value.c:99: warning: implicit declaration of function<br>
`strncasecmp'<br>
<p>
gcc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -D_GNU_SOURCE<br>
-DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d<br>
-DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=0 -DV_MINOR=62 -g -O2<br>
-Wall -DPIC sanei_scsi.c<br>
sanei_scsi.c: In function `sanei_scsi_req_enter':<br>
sanei_scsi.c:784: warning: control reaches end of non-void function<br>
sanei_scsi.c: In function `sanei_scsi_req_wait':<br>
sanei_scsi.c:789: warning: control reaches end of non-void function<br>
sanei_scsi.c: At top level:<br>
sanei_scsi.c:126: warning: `cam_fd' defined but not used<br>
sanei_scsi.c:136: warning: `cdb_sizes' defined but not used<br>
<p>
ld: 0711-415 WARNING: Symbol sanei_debug_hp is already exported.<br>
<p>
gcc -c -g -O2 -Wall -DHAVE_CONFIG_H -I. -I. -I../include -I../include<br>
-D_GNU_SOURCE -DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d<br>
-DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=0 -DV_MINOR=62<br>
-DBACKEND_NAME=mustek -DLIBDIR=/usr/local/lib -DPIC mustek.c<br>
mustek.c: In function `attach':<br>
mustek.c:352: warning: implicit declaration of function `strndup'<br>
mustek.c:352: warning: assignment makes pointer from integer without a<br>
cast<br>
<p>
ld: 0711-415 WARNING: Symbol sanei_debug_mustek is already exported.<br>
<p>
gcc -c -g -O2 -Wall -DHAVE_CONFIG_H -I. -I. -I../include -I../include<br>
-D_GNU_SOURCE -DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d<br>
-DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=0 -DV_MINOR=62<br>
-DBACKEND_NAME=net -DLIBDIR=/usr/local/lib -DPIC net.c<br>
net.c: In function `sane_net_init':<br>
net.c:340: warning: implicit declaration of function `strsep'<br>
net.c:340: warning: assignment makes pointer from integer without a cast<br>
net.c: In function `sane_net_start':<br>
net.c:748: warning: passing arg 3 of `ngetpeername' from incompatible<br>
pointer type<br>
<p>
ld: 0711-415 WARNING: Symbol sanei_debug_net is already exported.<br>
<p>
ld: 0711-415 WARNING: Symbol sanei_debug_pnm is already exported.<br>
<p>
And then it dies with :<br>
<p>
rm -f .libs/libsane-umax.*<br>
/bin/nm -B umax.o umax-s.o sane_strstatus.o ../sanei/sanei_init_debug.o<br>
../lib/alloca.o ../lib/getopt.o ../lib/getopt1.o ../lib/snprintf.o<br>
../lib/strndup.o ../lib/strsep.o ../lib/usleep.o<br>
../sanei/sanei_constrain_value.o ../sanei/sanei_scsi.o | egrep " [BD] "<br>
<i>| sed "s/^.* //" &gt; .libs/libsane-umax.so.0.0.62.exp</i><br>
gcc -o .libs/libsane-umax.so.0 umax.o umax-s.o sane_strstatus.o<br>
../sanei/sanei_init_debug.o ../lib/alloca.o ../lib/getopt.o<br>
../lib/getopt1.o ../lib/snprintf.o ../lib/strndup.o ../lib/strsep.o<br>
../lib/usleep.o ../sanei/sanei_constrain_value.o ../sanei/sanei_scsi.o<br>
-Wl,-bE:.libs/libsane-umax.so.0.0.62.exp -Wl,-bM:SRE -Wl,-bnoentry<br>
collect2: ld returned 8 exit status<br>
ld: 0711-415 WARNING: Symbol sanei_debug_umax is already exported.<br>
ld: 0711-317 ERROR: Undefined symbol: .pow<br>
ld: 0711-345 Use the -bloadmap or -bnoquiet option to obtain more<br>
information.<br>
make[1]: *** [libsane-umax.la] Error 1<br>
make[1]: Leaving directory `/usr/local/src/sane-0.62/backend'<br>
make: *** [all-recursive] Error 1<br>
<p>
<p>
Does anyone have any suggestions ?<br>
<p>
Thanks<br>
<p>
Rogan<br>
<pre>
-- 
Rogan Dawes  <a href="mailto:rdawes@jhbelec.co.za">rdawes@jhbelec.co.za</a>   Tel: (011) 490-7379  Fax: (011) 490-7327
- The software said it requires Windows 3.1 or better, so I installed Linux -
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Michael K. Johnson: "Re: COOLSCAN II backend"</a>
<li> <b>Previous message:</b> <a href="0022.html">Michael Sweet: "Re: Paperport ix - scanner keyboard"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0025.html">David Mosberger-Tang: "Re: Error compiling sane 0.62 on AIX 4.1"</a>
<li> <b>Reply:</b> <a href="0025.html">David Mosberger-Tang: "Re: Error compiling sane 0.62 on AIX 4.1"</a>
<!-- reply="end" -->
</ul>
