<!-- received="Wed Aug  6 08:17:47 1997 MST" -->
<!-- sent="Wed, 6 Aug 1997 07:55:05 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: COOLSCAN II backend - resend" -->
<!-- id="199708061455.HAA03788@panda.mosberger" -->
<!-- inreplyto="512528870968320053@toto.iv" -->
<title>sane-devel: Re: COOLSCAN II backend - resend</title>
<h1>Re: COOLSCAN II backend - resend</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Wed, 6 Aug 1997 07:55:05 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#26">[ date ]</a><a href="index.html#26">[ thread ]</a><a href="subject.html#26">[ subject ]</a><a href="author.html#26">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">David Mosberger-Tang: "Re: Preview Window problems"</a>
<li> <b>Previous message:</b> <a href="0025.html">David Mosberger-Tang: "Re: Error compiling sane 0.62 on AIX 4.1"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">Didier Carlier: "Re: COOLSCAN II backend - resend"</a>
<li> <b>Reply:</b> <a href="0028.html">Didier Carlier: "Re: COOLSCAN II backend - resend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 1 Aug 1997 11:41:51 +0200, <a href="mailto:carlierd@acm.org">carlierd@acm.org</a> said:</i><br>
<p>
  carlierd&gt; Sorry if you did receive the first message, but I don't<br>
  carlierd&gt; think it went through ...<br>
<p>
  carlierd&gt; I'd like to have a SANE backend for the Nikon SL-20<br>
  carlierd&gt; (COOLSCAN II), which is supposed to be pretty close to the<br>
  carlierd&gt; SCSI2/scanner specifications.<br>
<p>
  carlierd&gt; Is there anybody working on this already, and, if not,<br>
  carlierd&gt; what would be the best starting point among the already<br>
  carlierd&gt; available backends for SCSI scanners ?<br>
<p>
Not a SANE backend, but there is coolscan-0.2.tgz at<br>
sunsite.unc.edu:/pub/Linux/apps/graphics/capture which could serve as<br>
a base for a SANE backend.  Or are you implying that the Coolscan II<br>
interface is different from the "regular" Coolscan interface?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">David Mosberger-Tang: "Re: Preview Window problems"</a>
<li> <b>Previous message:</b> <a href="0025.html">David Mosberger-Tang: "Re: Error compiling sane 0.62 on AIX 4.1"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">Didier Carlier: "Re: COOLSCAN II backend - resend"</a>
<li> <b>Reply:</b> <a href="0028.html">Didier Carlier: "Re: COOLSCAN II backend - resend"</a>
<!-- reply="end" -->
</ul>
