<!-- received="Thu Aug  7 02:03:58 1997 MST" -->
<!-- sent="Thu, 7 Aug 1997 10:41:37 +0200" -->
<!-- name="Didier Carlier" -->
<!-- email="carlierd@acm.org" -->
<!-- subject="Re: COOLSCAN II backend" -->
<!-- id="199708070841.KAA32389@fritz.sema.be" -->
<!-- inreplyto="199708062039.WAA01815@cave.BitWizard.nl" -->
<title>sane-devel: Re: COOLSCAN II backend</title>
<h1>Re: COOLSCAN II backend</h1>
<b>Didier Carlier</b> (<a href="mailto:carlierd@acm.org"><i>carlierd@acm.org</i></a>)<br>
<i>Thu, 7 Aug 1997 10:41:37 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#30">[ date ]</a><a href="index.html#30">[ thread ]</a><a href="subject.html#30">[ subject ]</a><a href="author.html#30">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">krienke@mailhost.uni-koblenz.de: "Mustec 1200SP Firmware 1.02 Color Problem"</a>
<li> <b>Previous message:</b> <a href="0029.html">Rogier Wolff: "Re: COOLSCAN II backend"</a>
<li> <b>In reply to:</b> <a href="0029.html">Rogier Wolff: "Re: COOLSCAN II backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">Rogier Wolff: "Re: COOLSCAN II backend"</a>
<li> <b>Reply:</b> <a href="0035.html">Rogier Wolff: "Re: COOLSCAN II backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Rogier Wolff writes:<br>
<p>
<i> &gt; Ohhh.. The coolscan wdb looks pretty normal. </i><br>
<i> &gt; </i><br>
<i> &gt; Didier do you have the SCSI spec? So does "section 14" mean anything</i><br>
<i> &gt; to you?</i><br>
<p>
Sure <br>
<p>
<i> &gt; Anyway, the Windows driver issues a "change units" command, and then</i><br>
<i> &gt; programs the window in pixels. The scan range is about an inch, so it</i><br>
<i> &gt; sets the units to 1/2800th of an inch or something close to that.</i><br>
<i> &gt; </i><br>
<i> &gt; You can also try to simply specify a window of 0, 0 to 0.5, 0.5</i><br>
<i> &gt; (600,600 in the default resolution of 1/1200th of an inch).</i><br>
<p>
Would you have a trace of a scan from the Windows driver that you<br>
could send by email ? That could probably help.<br>
<p>
What puzzles me is that all commands are accepted up to the first<br>
READ, at which point the front panel led flashes rapidly for a couple of<br>
seconds. This, according to the user's manual indicates an error<br>
condition, but the return code from the function is ok.<br>
All further READs also complete successfully, without flashes of<br>
the led on the front panel and at the end I get a black image (all<br>
zeroes).<br>
<p>
I guess there are a lot of places where a 'vendor specific' field of a <br>
command is required to be set to some value for the scanner, so<br>
debugging this without the specs (or possibly a trace ?) might be non<br>
realistic.<br>
<p>
Didier<br>
<p>
  <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">krienke@mailhost.uni-koblenz.de: "Mustec 1200SP Firmware 1.02 Color Problem"</a>
<li> <b>Previous message:</b> <a href="0029.html">Rogier Wolff: "Re: COOLSCAN II backend"</a>
<li> <b>In reply to:</b> <a href="0029.html">Rogier Wolff: "Re: COOLSCAN II backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">Rogier Wolff: "Re: COOLSCAN II backend"</a>
<li> <b>Reply:</b> <a href="0035.html">Rogier Wolff: "Re: COOLSCAN II backend"</a>
<!-- reply="end" -->
</ul>
