<!-- received="Mon Aug 11 09:39:41 1997 MST" -->
<!-- sent="Mon, 11 Aug 1997 12:16:04 -0400 (EDT)" -->
<!-- name="Pedro Guimaraes" -->
<!-- email="louse@punkin.net" -->
<!-- subject="UMAX-ASTRA-300P" -->
<!-- id="199708111446.HAA04430@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: UMAX-ASTRA-300P</title>
<h1>UMAX-ASTRA-300P</h1>
<b>Pedro Guimaraes</b> (<a href="mailto:louse@punkin.net"><i>louse@punkin.net</i></a>)<br>
<i>Mon, 11 Aug 1997 12:16:04 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#43">[ date ]</a><a href="index.html#43">[ thread ]</a><a href="subject.html#43">[ subject ]</a><a href="author.html#43">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">orauch@physik.uni-osnabrueck.de: "Re: UMAX-ASTRA-300P"</a>
<li> <b>Previous message:</b> <a href="0042.html">David Mosberger-Tang: "Re: probs with 0.62"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0045.html">Michael K. Johnson: "Re: UMAX-ASTRA-300P"</a>
<li> <b>Maybe reply:</b> <a href="0045.html">Michael K. Johnson: "Re: UMAX-ASTRA-300P"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'd like to know if there's anyone developing a driver for<br>
the UMAX-ASTRA-300P scanner? :)<br>
<p>
Thanks.<br>
<p>
<p>
                               \\\|///<br>
                                 O O<br>
                                  '<br>
/-------------------------------oO-Oo-----------------------------------\<br>
<i>| Pedro Guimaraes -- <a href="mailto:louse@punkin.net">louse@punkin.net</a>      /--/  /---/-/ /-/----/---/   | </i><br>
<i>| on the  web:  <a href="http://www.punkin.net">http://www.punkin.net</a>     /  /  / / / / / / /--/ /-/    |</i><br>
<i>| linux page: <a href="http://linux.punkin.net">http://linux.punkin.net</a>    /  /__/ / / /_/ /-\ \  /__     |</i><br>
<i>| on IRC: louse, [louse] or l0use       /------/--/-----/----/----/     |</i><br>
<i>| Running Windows on a Pentium is like having a brand new Porsche but   |</i><br>
<i>| only be able to drive backwards with the handbrake on.                |</i><br>
\-----------------------------------------------------------------------/<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">orauch@physik.uni-osnabrueck.de: "Re: UMAX-ASTRA-300P"</a>
<li> <b>Previous message:</b> <a href="0042.html">David Mosberger-Tang: "Re: probs with 0.62"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0045.html">Michael K. Johnson: "Re: UMAX-ASTRA-300P"</a>
<li> <b>Maybe reply:</b> <a href="0045.html">Michael K. Johnson: "Re: UMAX-ASTRA-300P"</a>
<!-- reply="end" -->
</ul>
