<!-- received="Mon Aug 11 17:18:33 1997 MST" -->
<!-- sent="12 Aug 1997 01:39:39 +0200" -->
<!-- name="Christophe Zwecker" -->
<!-- email="doc@rrz.uni-hamburg.de" -->
<!-- subject="Re: probs with 0.62" -->
<!-- id="5so7rr$q55$1@dumbo.und.zoff" -->
<!-- inreplyto="probs with 0.62" -->
<title>sane-devel: Re: probs with 0.62</title>
<h1>Re: probs with 0.62</h1>
<b>Christophe Zwecker</b> (<a href="mailto:doc@rrz.uni-hamburg.de"><i>doc@rrz.uni-hamburg.de</i></a>)<br>
<i>12 Aug 1997 01:39:39 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#47">[ date ]</a><a href="index.html#47">[ thread ]</a><a href="subject.html#47">[ subject ]</a><a href="author.html#47">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: scsi generic devices"</a>
<li> <b>Previous message:</b> <a href="0046.html">Fritz Jetzek: "Re: probs with 0.62"</a>
<li> <b>Maybe in reply to:</b> <a href="0041.html">Christophe Zwecker: "probs with 0.62"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0048.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: scsi generic devices"</a>
<li> <b>Reply:</b> <a href="0048.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: scsi generic devices"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang &lt;<a href="mailto:davidm@AZStarNet.COM">davidm@AZStarNet.COM</a>&gt; wrote:<br>
<i>&gt;&gt;&gt;&gt;&gt;&gt; On Mon, 11 Aug 1997 15:36:35 +0200, Christophe Zwecker &lt;<a href="mailto:doc@rrz.uni-hamburg.de">doc@rrz.uni-hamburg.de</a>&gt; said:</i><br>
<i>&gt;</i><br>
<i>&gt;  Christophe&gt; Hi, I installed over 0.60 and get this now:</i><br>
<i>&gt;</i><br>
<i>&gt;  Christophe&gt; xscanimage: can't resolve symbol 'sigprocmask'</i><br>
<i>&gt;  Christophe&gt; scanimage: can't resolve symbol '__ctype_b' scanimage:</i><br>
<i>&gt;  Christophe&gt; no SANE devices found</i><br>
<i>&gt;</i><br>
<i>&gt;  Christophe&gt; a link from /dev/sgf to /dev/scanner exists and is</i><br>
<i>&gt;  Christophe&gt; mentioned in the mustek conf</i><br>
<i>&gt;</i><br>
<i>&gt;  Christophe&gt; what could be wrong here ?</i><br>
<i>&gt;</i><br>
<i>&gt;Looks like a libc problem.  Maybe you upgraded libc recently but it</i><br>
<i>&gt;somehow picks up a wrong version of the libc shared library?</i><br>
<p>
hmm, I reinstalled V0.5 and doesn'T  complain anymore. But can't find<br>
device, I upgraded my Distr. no the sgf device is alink to /dev/sg4<br>
but I put it 666. Anyone knows how to create an sgf device ?<br>
<p>
thx<br>
<p>
<p>
<pre>
-- 
<p>
   Christophe
<p>
----------------------------------------------------------------------
Christophe Zwecker                email:      <a href="mailto:doc@rrz.uni-hamburg.de">doc@rrz.uni-hamburg.de</a>
Hamburg, Germany                    fax:      49 40 22715433  
----------------------------------------------------------------------
<p>
In newsgroups please reply also by email - thanks
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: scsi generic devices"</a>
<li> <b>Previous message:</b> <a href="0046.html">Fritz Jetzek: "Re: probs with 0.62"</a>
<li> <b>Maybe in reply to:</b> <a href="0041.html">Christophe Zwecker: "probs with 0.62"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0048.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: scsi generic devices"</a>
<li> <b>Reply:</b> <a href="0048.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: scsi generic devices"</a>
<!-- reply="end" -->
</ul>
