<!-- received="Sun Aug 17 14:59:34 1997 MST" -->
<!-- sent="Sun, 17 Aug 1997 16:58:03 -0400" -->
<!-- name="Rex Vaughn" -->
<!-- email="rvaughn@nova.org" -->
<!-- subject="Re: HP C5100 photosmart" -->
<!-- id="199708161005.MAA01288@Babylon5.wolfsburg.de" -->
<!-- inreplyto="HP C5100 photosmart" -->
<title>sane-devel: Re: HP C5100 photosmart</title>
<h1>Re: HP C5100 photosmart</h1>
<b>Rex Vaughn</b> (<a href="mailto:rvaughn@nova.org"><i>rvaughn@nova.org</i></a>)<br>
<i>Sun, 17 Aug 1997 16:58:03 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#70">[ date ]</a><a href="index.html#70">[ thread ]</a><a href="subject.html#70">[ subject ]</a><a href="author.html#70">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">David Mosberger-Tang: "Re: HP C5100 photosmart"</a>
<li> <b>Previous message:</b> <a href="0069.html">Michael Sweet: "Re: pre-0.63 patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt;&gt;&gt;&gt; On Tue, 1 Jul 1997 09:45:16 -0700 (PDT),</i><br>
<a href="mailto:beanbek@nuyums.trinet.bc.ca">beanbek@nuyums.trinet.bc.ca</a> said:<br>
<i>&gt;</i><br>
<i>&gt;   Beanbek&gt; The hp C5100 scanner is just on the market.  It has high</i><br>
<i>&gt;   Beanbek&gt; res 35mm slide and negative ability as well as 5"x7"</i><br>
<i>&gt;   Beanbek&gt; photos.  Is there any chance of the scanner being supported</i><br>
<p>
<i>&gt;   Beanbek&gt; by SANE?</i><br>
<i>&gt;</i><br>
<i>&gt; Yes, provided somebody writes a driver for it. ;-)</i><br>
<i>&gt;</i><br>
<i>&gt; Seriously though: HP is traditionally pretty good at making docs</i><br>
<i>&gt; available, so I doubt there will be a problem from that side.  Indeed,</i><br>
<p>
<i>&gt; if it uses SCL (Scanner Control Language), it might be pretty easy to</i><br>
<i>&gt; get the current HP backend to work.</i><br>
<i>&gt;</i><br>
<i>&gt; I guess it all depends whether a developer can get his/her hands on</i><br>
<i>&gt; such a beast.</i><br>
<p>
Actually it seems that the HP C5100 works just fine under SCL.<br>
I am using sane 0.62....<br>
(I didn't do any through testing but I was able to scan a negative<br>
@2400dpi in full color.<br>
 The resulting file was 171 Meg and I didn't have anything that could<br>
view it....  So instead of<br>
  scanning the entire strip, I scanned only 40mm of it and got a more<br>
reasonable 30Meg file.)<br>
<p>
Anyway, before I start asking dumb questions, is there a FAQ for this<br>
list?<br>
<p>
<p>
<pre>
--
<a href="mailto:rvaughn@nova.org">rvaughn@nova.org</a> (RBV)
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">David Mosberger-Tang: "Re: HP C5100 photosmart"</a>
<li> <b>Previous message:</b> <a href="0069.html">Michael Sweet: "Re: pre-0.63 patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
