<!-- received="Wed Aug 20 18:20:55 1997 MST" -->
<!-- sent="Wed, 20 Aug 1997 18:00:47 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: HP C5100 photosmart" -->
<!-- id="199708210100.SAA04007@hopper.mosberger" -->
<!-- inreplyto="113531690@toto.iv" -->
<title>sane-devel: Re: HP C5100 photosmart</title>
<h1>Re: HP C5100 photosmart</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 20 Aug 1997 18:00:47 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#71">[ date ]</a><a href="index.html#71">[ thread ]</a><a href="subject.html#71">[ subject ]</a><a href="author.html#71">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">David Mosberger-Tang: "Re: xscanimage-0.62 crashes gimp-0.99.10"</a>
<li> <b>Previous message:</b> <a href="0070.html">Rex Vaughn: "Re: HP C5100 photosmart"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 17 Aug 1997 16:58:03 -0400, Rex Vaughn &lt;<a href="mailto:rvaughn@nova.org">rvaughn@nova.org</a>&gt; said:</i><br>
<p>
  Rex&gt; Actually it seems that the HP C5100 works just fine under SCL.<br>
  Rex&gt; I am using sane 0.62....  (I didn't do any through testing but<br>
  Rex&gt; I was able to scan a negative @2400dpi in full color.  The<br>
  Rex&gt; resulting file was 171 Meg and I didn't have anything that<br>
  Rex&gt; could view it....  So instead of scanning the entire strip, I<br>
  Rex&gt; scanned only 40mm of it and got a more reasonable 30Meg file.)<br>
<p>
Cool!  Can you let me know when you're fairly certain that everything<br>
works as it supposed to?  I'd like to update the man-page once we know<br>
what does and what does not work with the C5100.<br>
<p>
  Rex&gt; Anyway, before I start asking dumb questions, is there a FAQ<br>
  Rex&gt; for this list?<br>
<p>
Nah, I'm afraid not.  Any volunteers?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">David Mosberger-Tang: "Re: xscanimage-0.62 crashes gimp-0.99.10"</a>
<li> <b>Previous message:</b> <a href="0070.html">Rex Vaughn: "Re: HP C5100 photosmart"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
