<!-- received="Fri Aug 22 02:27:59 1997 MST" -->
<!-- sent="Fri, 22 Aug 1997 11:19:06 +0200" -->
<!-- name="Marco Lonsing" -->
<!-- email="Marco.Lonsing@ruhr-uni-bochum.de" -->
<!-- subject="xscanimage as gimp plug-in" -->
<!-- id="199708220444.VAA01999@hopper.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage as gimp plug-in</title>
<h1>xscanimage as gimp plug-in</h1>
<b>Marco Lonsing</b> (<a href="mailto:Marco.Lonsing@ruhr-uni-bochum.de"><i>Marco.Lonsing@ruhr-uni-bochum.de</i></a>)<br>
<i>Fri, 22 Aug 1997 11:19:06 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#80">[ date ]</a><a href="index.html#80">[ thread ]</a><a href="subject.html#80">[ subject ]</a><a href="author.html#80">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Rainer Krienke: "Re: xscanimage as gimp plug-in"</a>
<li> <b>Previous message:</b> <a href="0079.html">David Mosberger-Tang: "Re: sane &amp; gtk problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">Rainer Krienke: "Re: xscanimage as gimp plug-in"</a>
<li> <b>Maybe reply:</b> <a href="0081.html">Rainer Krienke: "Re: xscanimage as gimp plug-in"</a>
<li> <b>Maybe reply:</b> <a href="0087.html">Marco Lonsing: "Re: xscanimage as gimp plug-in"</a>
<li> <b>Maybe reply:</b> <a href="0088.html">Fritz Jetzek: "Re: xscanimage as gimp plug-in"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
I compiled and installed gimp-0.99.10 with gtk+970606-davidm and<br>
sane-0.62 without any problems. xscanimage runs as standalone program <br>
without an error message. I followed the instruction in the xscanimage<br>
man page and copied respectively symlinked xscanimage to my gimp plug-in<br>
directory. Starting gimp it parses the plug-in dir, finds xscanimage and<br>
stops with <br>
the error message: <br>
<p>
     ... illegal option --g ...<br>
<p>
I could not find any point to prevent gimp from calling xscanimage with<br>
the command line option -g.<br>
<p>
Any idea?<br>
<p>
   marco<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Rainer Krienke: "Re: xscanimage as gimp plug-in"</a>
<li> <b>Previous message:</b> <a href="0079.html">David Mosberger-Tang: "Re: sane &amp; gtk problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">Rainer Krienke: "Re: xscanimage as gimp plug-in"</a>
<li> <b>Maybe reply:</b> <a href="0081.html">Rainer Krienke: "Re: xscanimage as gimp plug-in"</a>
<li> <b>Maybe reply:</b> <a href="0087.html">Marco Lonsing: "Re: xscanimage as gimp plug-in"</a>
<li> <b>Maybe reply:</b> <a href="0088.html">Fritz Jetzek: "Re: xscanimage as gimp plug-in"</a>
<!-- reply="end" -->
</ul>
