<!-- received="Sun Aug 31 02:44:18 1997 MST" -->
<!-- sent="Sun, 31 Aug 1997 10:48:02 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="umax-backend" -->
<!-- id="199708310848.KAA02461@Babylon5.wolfsburg.de" -->
<!-- inreplyto="" -->
<title>sane-devel: umax-backend</title>
<h1>umax-backend</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Sun, 31 Aug 1997 10:48:02 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#108">[ date ]</a><a href="index.html#108">[ thread ]</a><a href="subject.html#108">[ subject ]</a><a href="author.html#108">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0109.html">Didier Carlier: "Nikon LS-20"</a>
<li> <b>Previous message:</b> <a href="0107.html">Michael Ritzert: "Re: Backtracking in color scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0110.html">David Mosberger-Tang: "Re: umax-backend"</a>
<li> <b>Reply:</b> <a href="0110.html">David Mosberger-Tang: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello David, hello Tristan, hello others<br>
<p>
I want so support the 30-bit mode of the UMAX Astra-<br>
and the UMAX High-End scanners.<br>
<p>
That can be devided into two parts, from which only the first<br>
is important at the moment:<br>
<p>
1) Gamma correction with 10 bits input and 8 bits output<br>
   ( = 1024 bytes instead of 256 bytes )<br>
<p>
2) a real 10 bits per pixel (greyscale) and 30 bits per pixel (rgb)<br>
   support by sane<br>
   =&gt;  2 bytes per pixel (greyscale) and 6 bytes per pixel (rgb)<br>
       and 10 to 10 bits gamma data support<br>
<p>
I don't know if the second part really is necessary at all.<br>
But 10 to 8 bits gamma data is something that must be<br>
done in future.<br>
<p>
So my question is:<br>
Is it planed to support more than 8 bits per pixel for gamma data?<br>
If not, I could calculate the missing values in the umax-driver,<br>
but that's not a good way to do that, I think!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0109.html">Didier Carlier: "Nikon LS-20"</a>
<li> <b>Previous message:</b> <a href="0107.html">Michael Ritzert: "Re: Backtracking in color scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0110.html">David Mosberger-Tang: "Re: umax-backend"</a>
<li> <b>Reply:</b> <a href="0110.html">David Mosberger-Tang: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
