<!-- received="Wed Sep  3 12:32:22 1997 MST" -->
<!-- sent="Wed, 3 Sep 1997 20:52:02 +0200 (MET DST)" -->
<!-- name="Allan Nielsen" -->
<!-- email="an@kampsax.dtu.dk" -->
<!-- subject="Re: Mustek problems." -->
<!-- id="199709021607.SAA02473@cave.BitWizard.nl" -->
<!-- inreplyto="Pine.LNX.3.96.970903094609.8026A-100000@k2906.kampsax.dtu.dk" -->
<title>sane-devel: Re: Mustek problems.</title>
<h1>Re: Mustek problems.</h1>
<b>Allan Nielsen</b> (<a href="mailto:an@kampsax.dtu.dk"><i>an@kampsax.dtu.dk</i></a>)<br>
<i>Wed, 3 Sep 1997 20:52:02 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#130">[ date ]</a><a href="index.html#130">[ thread ]</a><a href="subject.html#130">[ subject ]</a><a href="author.html#130">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0131.html">Mathias Weigt: "Re: Mustek problems."</a>
<li> <b>Previous message:</b> <a href="0129.html">Michael Ritzert: "mustek problems in lineart mode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I have a problem compiling xscanimage from the sane-suite.<br>
<p>
When doing ./configure I get <br>
<p>
checking for gtk_gamma_curve_new in -lgtk... (cached) no<br>
<p>
and I think this is why it won't compile. I have installed <br>
gtk+970426-davidm.tar.gz<br>
with ./configure; make; make install.<br>
<p>
Which file is checked when configure answers the question above?<br>
<p>
Please help - I've tried a LOT!<br>
<p>
regards<br>
Allan.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0131.html">Mathias Weigt: "Re: Mustek problems."</a>
<li> <b>Previous message:</b> <a href="0129.html">Michael Ritzert: "mustek problems in lineart mode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
