<!-- received="Mon Sep  8 21:04:57 1997 MST" -->
<!-- sent="Mon, 8 Sep 1997 21:12:39 -0700" -->
<!-- name="jerome marchand" -->
<!-- email="jmarchand@earthlink.net" -->
<!-- subject="Re: Linking as GIMP plug-in" -->
<!-- id="19970908114100.61443@adm1jed" -->
<!-- inreplyto="Linking as GIMP plug-in" -->
<title>sane-devel: Re: Linking as GIMP plug-in</title>
<h1>Re: Linking as GIMP plug-in</h1>
<b>jerome marchand</b> (<a href="mailto:jmarchand@earthlink.net"><i>jmarchand@earthlink.net</i></a>)<br>
<i>Mon, 8 Sep 1997 21:12:39 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#150">[ date ]</a><a href="index.html#150">[ thread ]</a><a href="subject.html#150">[ subject ]</a><a href="author.html#150">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Mail Delivery Subsystem: "Returned mail: Host unknown (Name server: paula.mainz.netsurf.de: host not found)"</a>
<li> <b>Previous message:</b> <a href="0149.html">Rogan Dawes: "minimal config."</a>
<li> <b>Maybe in reply to:</b> <a href="0148.html">Allan Nielsen: "Linking as GIMP plug-in"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've got the same problem but with:<br>
Checking for <br>
<p>
gtk_gamma_curve_new in -lgtk....(cached) no<br>
I've got gtkgamma.h in the usr/gimp-0.99.10/gtk+/gtk<br>
<p>
thanks <br>
<p>
jerry<br>
<p>
Allan Nielsen wrote:<br>
<i>&gt; </i><br>
<i>&gt; hi,</i><br>
<i>&gt; </i><br>
<i>&gt; I've used sane as a GIMP plug-in for quite some time, but now I can't seem</i><br>
<i>&gt; to get sane to find gimp under ./configure I get:</i><br>
<i>&gt; </i><br>
<i>&gt; checking for libgimp/gimp.h... (cached) no</i><br>
<i>&gt; </i><br>
<i>&gt; I hve tried to do a make clean (so it's no longer the cashed results it</i><br>
<i>&gt; uses), and I've compiled GIMP 0.99.pre11 3.5.</i><br>
<i>&gt; Where is it checking for gimp.h? (I have the file)</i><br>
<i>&gt; </i><br>
<i>&gt; locate libgimp/gimp.h</i><br>
<i>&gt; </i><br>
<i>&gt; /usr/local/gimp-0.99.pre11/libgimp/gimp.h</i><br>
<i>&gt; /usr/local/include/libgimp/gimp.h</i><br>
<i>&gt; /usr/local/sane-0.62/lib/libgimp/gimp.h</i><br>
<i>&gt; </i><br>
<i>&gt; thanks in advance</i><br>
<i>&gt; Allan</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a></i><br>
<i>&gt; To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a></i><br>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Mail Delivery Subsystem: "Returned mail: Host unknown (Name server: paula.mainz.netsurf.de: host not found)"</a>
<li> <b>Previous message:</b> <a href="0149.html">Rogan Dawes: "minimal config."</a>
<li> <b>Maybe in reply to:</b> <a href="0148.html">Allan Nielsen: "Linking as GIMP plug-in"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
