<!-- received="Tue Sep  9 14:31:24 1997 MST" -->
<!-- sent="Tue, 9 Sep 1997 14:39:07 -0700" -->
<!-- name="Mail Delivery Subsystem" -->
<!-- email="MAILER-DAEMON@listserv.azstarnet.com" -->
<!-- subject="Returned mail: Host unknown (Name server: paula.mainz.netsurf.de: host not found)" -->
<!-- id="199709092139.OAA23815@aries.azstarnet.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Returned mail: Host unknown (Name server: paula.mainz.netsurf.de: host not found)</title>
<h1>Returned mail: Host unknown (Name server: paula.mainz.netsurf.de: host not found)</h1>
<b>Mail Delivery Subsystem</b> (<a href="mailto:MAILER-DAEMON@listserv.azstarnet.com"><i>MAILER-DAEMON@listserv.azstarnet.com</i></a>)<br>
<i>Tue, 9 Sep 1997 14:39:07 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#151">[ date ]</a><a href="index.html#151">[ thread ]</a><a href="subject.html#151">[ subject ]</a><a href="author.html#151">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">jim barchuk: "'bad magic number' update"</a>
<li> <b>Previous message:</b> <a href="0150.html">jerome marchand: "Re: Linking as GIMP plug-in"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a MIME-encapsulated message<br>
<p>
--OAA23815.873841143/aries.azstarnet.com<br>
<p>
The original message was received at Tue, 9 Sep 1997 14:38:52 -0700<br>
from slist@localhost<br>
<p>
   ----- The following addresses had permanent fatal errors -----<br>
<a href="mailto:tom@paula.mainz.netsurf.de">tom@paula.mainz.netsurf.de</a><br>
<p>
   ----- Transcript of session follows -----<br>
550 <a href="mailto:tom@paula.mainz.netsurf.de..">tom@paula.mainz.netsurf.de..</a>. Host unknown (Name server: paula.mainz.netsurf.de: host not found)<br>
<p>
--OAA23815.873841143/aries.azstarnet.com<br>
Content-Type: message/delivery-status<br>
<p>
Reporting-MTA: dns; aries.azstarnet.com<br>
Arrival-Date: Tue, 9 Sep 1997 14:38:52 -0700<br>
<p>
Final-Recipient: RFC822; <a href="mailto:tom@paula.mainz.netsurf.de">tom@paula.mainz.netsurf.de</a><br>
Action: failed<br>
Status: 5.1.2<br>
Remote-MTA: dns; paula.mainz.netsurf.de<br>
Last-Attempt-Date: Tue, 9 Sep 1997 14:39:03 -0700<br>
<p>
--OAA23815.873841143/aries.azstarnet.com<br>
Content-Type: message/rfc822<br>
<p>
Return-Path: <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a><br>
Received: (from slist@localhost) by aries.azstarnet.com (8.8.5/8.8.5) id OAA23810 for tom@paula.mainz.netsurf.de; Tue, 9 Sep 1997 14:38:52 -0700<br>
Date: Tue, 9 Sep 1997 14:38:52 -0700<br>
From: <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a><br>
Message-Id: &lt;199709092138.OAA23810@aries.azstarnet.com&gt;<br>
To: <a href="mailto:tom@paula.mainz.netsurf.de">tom@paula.mainz.netsurf.de</a><br>
Subject: Re: subscribe<br>
References: &lt;m0x8DIs-0003euC@paula.mainz.netsurf.de&gt;<br>
In-Reply-To: &lt;m0x8DIs-0003euC@paula.mainz.netsurf.de&gt;<br>
X-Loop: <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a><br>
<p>
You have added to the subscriber list of:<br>
<p>
	<a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a><br>
<p>
the following mail address:<br>
<p>
	<a href="mailto:tom@paula.mainz.netsurf.de">tom@paula.mainz.netsurf.de</a><br>
<p>
By default, copies of your own submissions will be returned.<br>
<p>
This is an automated subscription mechanism.  For your verification, a<br>
transcript of the original subscription request is included below.<br>
<p>
If the wrong address has been subscribed and you seem to be unable to fix it<br>
yourself, reply to this message now (quoting it entirely (for diagnostic<br>
purposes), and of course adding any comments you see fit).<br>
<pre>
--
&gt;From <a href="mailto:tom@paula.mainz.netsurf.de">tom@paula.mainz.netsurf.de</a>  Tue Sep  9 14:38:50 1997
&gt;Received: from wiesbaden.netsurf.de (nero.wiesbaden.netsurf.de [194.163.168.140]) by aries.azstarnet.com (8.8.5/8.8.5) with SMTP id OAA23780 for &lt;<a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>&gt;; Tue, 9 Sep 1997 14:38:43 -0700
&gt;Received: from paula.mainz.netsurf.de by wiesbaden.netsurf.de with smtp
&gt;	(Smail3.1.28.1 #10) id m0x8Yq1-001lkQC; Wed, 10 Sep 97 00:32 MET DST
&gt;Received: by paula.mainz.netsurf.de
&gt;	id m0x8DIs-0003euC
&gt;	(Debian Smail-3.2 1996-Jul-4 #2); Tue, 9 Sep 1997 01:33:10 +0200 (CEST)
&gt;Message-Id: &lt;m0x8DIs-0003euC@paula.mainz.netsurf.de&gt;
&gt;Date: Tue, 9 Sep 1997 01:33:10 +0200 (CEST)
&gt;From: Thomas Hahn &lt;<a href="mailto:tom@paula.mainz.netsurf.de">tom@paula.mainz.netsurf.de</a>&gt;
&gt;To: <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
&gt;Subject: subscribe
&gt;
<p>
--OAA23815.873841143/aries.azstarnet.com--
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">jim barchuk: "'bad magic number' update"</a>
<li> <b>Previous message:</b> <a href="0150.html">jerome marchand: "Re: Linking as GIMP plug-in"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
