<!-- received="Wed Sep 10 12:34:45 1997 MST" -->
<!-- sent="Wed, 10 Sep 1997 14:59:35 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: Umax UC 840" -->
<!-- id="199709101859.OAA01975@tristan.redhat.com" -->
<!-- inreplyto="Umax UC 840" -->
<title>sane-devel: Re: Umax UC 840</title>
<h1>Re: Umax UC 840</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Wed, 10 Sep 1997 14:59:35 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#155">[ date ]</a><a href="index.html#155">[ thread ]</a><a href="subject.html#155">[ subject ]</a><a href="author.html#155">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Preston Brown: "Umax Astra 600S"</a>
<li> <b>Previous message:</b> <a href="0154.html">Michael Burghart: "Umax UC 840"</a>
<li> <b>Maybe in reply to:</b> <a href="0154.html">Michael Burghart: "Umax UC 840"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Michael Burghart writes:<br>
<i>&gt;I just tried to get this to work but it seems unpossible..:(</i><br>
<p>
Please try two other drivers, and report on whether or not they<br>
work.<br>
<p>
Both are on tsx-11.mit.edu in /pub/linux/ALPHA/scanner/<br>
umax-0.5.6.tar.gz<br>
umax-0.5.tar.gz<br>
<p>
The umax-0.5.tar.gz is an older driver; 0.5.6 is very recent.  Please<br>
try both.  They come with instructions on debugging problems, and can<br>
give you more debugging output than you get with SANE.<br>
<p>
michaelkjohnson<br>
<p>
"Magazines all too frequently lead to books and should be regarded by the<br>
 prudent as the heavy petting of literature."            -- Fran Lebowitz<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Preston Brown: "Umax Astra 600S"</a>
<li> <b>Previous message:</b> <a href="0154.html">Michael Burghart: "Umax UC 840"</a>
<li> <b>Maybe in reply to:</b> <a href="0154.html">Michael Burghart: "Umax UC 840"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
