<!-- received="Wed Sep 10 13:41:17 1997 MST" -->
<!-- sent="Wed, 10 Sep 1997 21:58:22 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax UC 840" -->
<!-- id="199709101958.VAA00394@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.LNX.3.96.970910160445.22154D-100000@einstein.fs100.suse.de" -->
<title>sane-devel: Re: Umax UC 840</title>
<h1>Re: Umax UC 840</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Wed, 10 Sep 1997 21:58:22 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#157">[ date ]</a><a href="index.html#157">[ thread ]</a><a href="subject.html#157">[ subject ]</a><a href="author.html#157">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Gray Mode of MFS12000SP"</a>
<li> <b>Previous message:</b> <a href="0156.html">Preston Brown: "Umax Astra 600S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0165.html">Michael Burghart: "Re: Umax UC 840"</a>
<li> <b>Reply:</b> <a href="0165.html">Michael Burghart: "Re: Umax UC 840"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hallo Micha,<br>
<p>
<i>&gt; I just tried to get this to work but it seems unpossible..:(</i><br>
<i>&gt; I consulted the READMEs and the manpages of sane-umax but was unable to</i><br>
<i>&gt; get it up and running...</i><br>
<i>&gt; Any ideas? Or doesn't it run?</i><br>
<p>
Ich bin derjenige, der im Moment am UMAX-Treiber arbeitet.<br>
Ich habe ein UMAX S12, mit dem kann ich leider nur den<br>
3-pass-rgb-scan simmulieren, da funktioniert es aber alles.<br>
<p>
Bitte besorg dir mal umax-0.5.6 wie Michael Johnson bereits<br>
geschrieben hat und versuch es damit mal. Falls es dabei Probleme<br>
gibt, beschreibe bitte genau, was passeirt bzw was nicht.<br>
<p>
Dann leg bitte ein Bild oben rechts auf die Scanflaeche und<br>
rufe:<br>
<p>
umax-cli -R100 -w100 -h100 -r -v5 -o image.pnm 2&gt;scan.txt<br>
<p>
auf und schicke mir dann<br>
image.pnm<br>
scan.txt<br>
/tmp/umax.scsi.debug<br>
<p>
Dann kann ich mir ansehen, was passiert und was nicht!<br>
<p>
Danke, ciao<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Gray Mode of MFS12000SP"</a>
<li> <b>Previous message:</b> <a href="0156.html">Preston Brown: "Umax Astra 600S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0165.html">Michael Burghart: "Re: Umax UC 840"</a>
<li> <b>Reply:</b> <a href="0165.html">Michael Burghart: "Re: Umax UC 840"</a>
<!-- reply="end" -->
</ul>
