<!-- received="Fri Sep 12 20:03:18 1997 MST" -->
<!-- sent="Fri, 12 Sep 1997 23:11:01 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: HP OfficeJet Pro 1150c" -->
<!-- id="m0x9czV-000BWAC@charon.beck-sw.de" -->
<!-- inreplyto="Pine.LNX.3.96.970912123312.8693A-100000@micro.internexus.net" -->
<title>sane-devel: Re: HP OfficeJet Pro 1150c</title>
<h1>Re: HP OfficeJet Pro 1150c</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Fri, 12 Sep 1997 23:11:01 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#179">[ date ]</a><a href="index.html#179">[ thread ]</a><a href="subject.html#179">[ subject ]</a><a href="author.html#179">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0180.html">Alen Salamun: "Status of Logitech handheld support???"</a>
<li> <b>Previous message:</b> <a href="0178.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek problems in lineart mode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; My scanner isn't scsi, it works via the parallel port.. has anyone</i><br>
<i>&gt; configured an HP OfficeJet Pro 1150c to work with SANE?</i><br>
Sorry, but this is impossible. SANE for now only supports the SCSI versions.<br>
<p>
I do not think it is just a parport-&gt;SCSI adaptor, as the Office-Jet series<br>
is AFAIK a multi-purpose-device Scanner/Printer/Copier which acts as a<br>
printer normally.<br>
<p>
But HP normally gives away documentation on its products, so such a driver<br>
should not be a big problem. Only that someone has to write it. <br>
Any volunteers ? (preferrably ones with the hardware ahndy - how about you ?)<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
===  World-Wide-Web URL :  <a href="http://sunserver1.rz.uni-duesseldorf.de/~becka">http://sunserver1.rz.uni-duesseldorf.de/~becka</a>  ===
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0180.html">Alen Salamun: "Status of Logitech handheld support???"</a>
<li> <b>Previous message:</b> <a href="0178.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek problems in lineart mode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
