<!-- received="Sun Sep 21 09:17:15 1997 MST" -->
<!-- sent="Sun, 21 Sep 1997 17:17:44 +0059 (MDT)" -->
<!-- name="Mathias Weigt" -->
<!-- email="p5iba@medchem7.pharmazie.uni-halle.de" -->
<!-- subject="Re: HP 4C problems..." -->
<!-- id="199709210750.JAA00804@cave.BitWizard.nl" -->
<!-- inreplyto="19970921024952.65357@tarsier.colo.erols.net" -->
<title>sane-devel: Re: HP 4C problems...</title>
<h1>Re: HP 4C problems...</h1>
<b>Mathias Weigt</b> (<a href="mailto:p5iba@medchem7.pharmazie.uni-halle.de"><i>p5iba@medchem7.pharmazie.uni-halle.de</i></a>)<br>
<i>Sun, 21 Sep 1997 17:17:44 +0059 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#213">[ date ]</a><a href="index.html#213">[ thread ]</a><a href="subject.html#213">[ subject ]</a><a href="author.html#213">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Petri Lehtonen: "Re: HP 4P problems"</a>
<li> <b>Previous message:</b> <a href="0212.html">Rogier Wolff: "Re: HP 4P problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Servus !<br>
<p>
On Sun, 21 Sep 1997, eric wrote:<br>
<p>
<i>&gt; On a linux system... Kernel says scanner is sga, have a link from /dev/sga</i><br>
<i>&gt; to /dev/scanner, but I get "permission denied" when trying to scan... </i><br>
<i>&gt; modes on /dev/sga are 777... Any ideas? </i><br>
<p>
Maybe your sga is (like on my system) a link to sg0 and you don`t have rw <br>
permissions on this device (sg0)?<br>
<p>
Mathias Weigt<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Petri Lehtonen: "Re: HP 4P problems"</a>
<li> <b>Previous message:</b> <a href="0212.html">Rogier Wolff: "Re: HP 4P problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
