<!-- received="Wed Sep  1 02:00:46 1999 PDT" -->
<!-- sent="Wed, 1 Sep 1999 10:01:26 +0100" -->
<!-- name="Daniel James" -->
<!-- email="daniel@mondodesigno.com" -->
<!-- subject="Epson GT5000" -->
<!-- id="199909010903.KAA13389@mail.teleregion.co.uk" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson GT5000</title>
<h1>Epson GT5000</h1>
<b>Daniel James</b> (<a href="mailto:daniel@mondodesigno.com"><i>daniel@mondodesigno.com</i></a>)<br>
<i>Wed, 1 Sep 1999 10:01:26 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#0">[ date ]</a><a href="index.html#0">[ thread ]</a><a href="subject.html#0">[ subject ]</a><a href="author.html#0">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Alexey Zilber: "What happend to the Prisa 620S driver?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I get a seg fault straight away when trying to use scanimage with <br>
an EPSON GT 5000 scanner.  It is recognised okay by the kernel <br>
on startup, and find-scanner finds it at /dev/scanner.  I'm using <br>
RedHat 6.0 on i386, with a Adaptec 2906 card which works fine on <br>
other devices.  I installed SANE with the .rpm packages.<br>
<p>
Anything obvious I might be doing wrong? It's the only piece of <br>
hardware I've got that doesn't work under Linux. Apart from my <br>
Olympus C820L digital camera, which I haven't even attempted to <br>
get working.  Failing download software being available, could I <br>
install a Smart Media NVRAM wafer 'drive' and mount it as a <br>
device?<br>
<p>
Can we help by lobbying Epson (or Olympus) for support? Who would we ask?<br>
<p>
Daniel  <br>
_____________________<br>
bandwidth is a luxury... <br>
<a href="http://mondodesigno.com">http://mondodesigno.com</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Alexey Zilber: "What happend to the Prisa 620S driver?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
