<!-- received="Wed Sep  1 08:25:37 1999 PDT" -->
<!-- sent="Thu, 02 Sep 1999 01:30:50 +1000" -->
<!-- name="Menaka Lashitha Bandara" -->
<!-- email="lashi@alphalink.com.au" -->
<!-- subject="Acer Prisa 610S" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Acer Prisa 610S</title>
<h1>Acer Prisa 610S</h1>
<b>Menaka Lashitha Bandara</b> (<a href="mailto:lashi@alphalink.com.au"><i>lashi@alphalink.com.au</i></a>)<br>
<i>Thu, 02 Sep 1999 01:30:50 +1000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#2">[ date ]</a><a href="index.html#2">[ thread ]</a><a href="subject.html#2">[ subject ]</a><a href="author.html#2">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Mike Bhola: "600IICD on NCR810"</a>
<li> <b>Previous message:</b> <a href="0001.html">Alexey Zilber: "What happend to the Prisa 620S driver?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I want to know whether there are any drivers for the Acer 610S scanner. I really need it working, because that's the only thing stopping me from deleting my Windows partition<br>
(which I want to do badly).<br>
<p>
I'm also aware that I have to get the DTC Scanner Card loading into the kernel. Does anyone know how to do that?<br>
<p>
Thanx in advance.<br>
<p>
Lashi<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Mike Bhola: "600IICD on NCR810"</a>
<li> <b>Previous message:</b> <a href="0001.html">Alexey Zilber: "What happend to the Prisa 620S driver?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
