<!-- received="Wed Sep  1 10:32:24 1999 PDT" -->
<!-- sent="Wed, 1 Sep 1999 20:38:37 +0200 (CEST)" -->
<!-- name="Georg Huettenegger" -->
<!-- email="georg@mondoshawan.unix.cslab.tuwien.ac.at" -->
<!-- subject="Re: 600IICD on NCR810" -->
<!-- id="" -->
<!-- inreplyto="37CD4746.E598BEFC@basaix.uk.ibm.com" -->
<title>sane-devel: Re: 600IICD on NCR810</title>
<h1>Re: 600IICD on NCR810</h1>
<b>Georg Huettenegger</b> (<a href="mailto:georg@mondoshawan.unix.cslab.tuwien.ac.at"><i>georg@mondoshawan.unix.cslab.tuwien.ac.at</i></a>)<br>
<i>Wed, 1 Sep 1999 20:38:37 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#5">[ date ]</a><a href="index.html#5">[ thread ]</a><a href="subject.html#5">[ subject ]</a><a href="author.html#5">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0006.html">David Nelson: "Re: HP 4100, 5100, 6300..."</a>
<li> <b>Previous message:</b> <a href="0004.html">Brian Macy: "HP 4100, 5100, 6300..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
hi mike,<br>
<p>
<i>&gt; I am considering replacing my DTC3181E with an NCR810 based card.</i><br>
<i>&gt; However, I would still like to retain the ability to run under Win98 as</i><br>
<i>&gt; well. The Mustek supplied Twain driver only appears to support the</i><br>
<i>&gt; DTC3181E or one of the Adaptec cards. Is anyone else running this way</i><br>
<i>&gt; and if so how did they do it.</i><br>
<p>
i have the same configuration you are proposing. i did not try win98 but<br>
with win-nt the adaptec (in reality aspi) choice worked well with my ncr.<br>
<p>
bye,<br>
  georg<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0006.html">David Nelson: "Re: HP 4100, 5100, 6300..."</a>
<li> <b>Previous message:</b> <a href="0004.html">Brian Macy: "HP 4100, 5100, 6300..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
