<!-- received="Thu Sep  2 17:24:40 1999 PDT" -->
<!-- sent="Thu, 02 Sep 1999 20:27:40 -0400" -->
<!-- name="John Garrison" -->
<!-- email="jeg@visi.net" -->
<!-- subject="Scanner help" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Scanner help</title>
<h1>Scanner help</h1>
<b>John Garrison</b> (<a href="mailto:jeg@visi.net"><i>jeg@visi.net</i></a>)<br>
<i>Thu, 02 Sep 1999 20:27:40 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#10">[ date ]</a><a href="index.html#10">[ thread ]</a><a href="subject.html#10">[ subject ]</a><a href="author.html#10">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Rodger Donaldson: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint LT"</a>
<li> <b>Previous message:</b> <a href="0009.html">Douglas Gilbert: "Re: SG_BIG_BUFF, glibc 2.1 weirdness ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0012.html">Dan Kegel: "Re: Scanner help"</a>
<li> <b>Reply:</b> <a href="0012.html">Dan Kegel: "Re: Scanner help"</a>
<li> <b>Reply:</b> <a href="0014.html">John Garrison: "Re: Scanner help"</a>
<li> <b>Reply:</b> <a href="0029.html">Mike Bhola: "Re: Scanner help"</a>
<li> <b>Reply:</b> <a href="0031.html">Mike Bhola: "Re: Scanner help"</a>
<li> <b>Reply:</b> <a href="0032.html">John Garrison: "Re: Scanner help"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have an Across scanner with a dtc scsi card.  I can't even make it<br>
work for windows 98 so I don't know if it will work for linux or not (Of<br>
course a 1995 card not working on windows 98 isn't all that rare I don't<br>
guess)<br>
Can anybody tell me where to get the scsi drivers/module for linux? I<br>
don't have scsi support built in I don't think. At least I hope not<br>
cause when I boot up it says scsi hosts: 0 detected. or something like<br>
that.<br>
Anyway it is a DTC SCSI card, I would really appreciate any help getting<br>
it working.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Rodger Donaldson: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint LT"</a>
<li> <b>Previous message:</b> <a href="0009.html">Douglas Gilbert: "Re: SG_BIG_BUFF, glibc 2.1 weirdness ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0012.html">Dan Kegel: "Re: Scanner help"</a>
<li> <b>Reply:</b> <a href="0012.html">Dan Kegel: "Re: Scanner help"</a>
<li> <b>Reply:</b> <a href="0014.html">John Garrison: "Re: Scanner help"</a>
<li> <b>Reply:</b> <a href="0029.html">Mike Bhola: "Re: Scanner help"</a>
<li> <b>Reply:</b> <a href="0031.html">Mike Bhola: "Re: Scanner help"</a>
<li> <b>Reply:</b> <a href="0032.html">John Garrison: "Re: Scanner help"</a>
<!-- reply="end" -->
</ul>
