<!-- received="Sat Sep  4 09:49:47 1999 PDT" -->
<!-- sent="Sat, 4 Sep 1999 19:27:05 +0300" -->
<!-- name="Panos Katsaloulis" -->
<!-- email="teras@writeme.com" -->
<!-- subject="WINE &amp; SANE" -->
<!-- id="99090419330205.12097@KouiKoui" -->
<!-- inreplyto="" -->
<title>sane-devel: WINE &amp; SANE</title>
<h1>WINE &amp; SANE</h1>
<b>Panos Katsaloulis</b> (<a href="mailto:teras@writeme.com"><i>teras@writeme.com</i></a>)<br>
<i>Sat, 4 Sep 1999 19:27:05 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#24">[ date ]</a><a href="index.html#24">[ thread ]</a><a href="subject.html#24">[ subject ]</a><a href="author.html#24">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Dan Kegel: "SQ4800, Wine990815, and ULead PhotoImpact"</a>
<li> <b>Previous message:</b> <a href="0023.html">Panos Katsaloulis: "Support for Parallel Mustek scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I had the following idea:<br>
<p>
I've readen from the WINE documentation (I wasn't able yet to try it) that wine<br>
*is* able to do scanning with parallel drivers.<br>
Is it possible to write a sane "driver" which calls an external WINE program<br>
with the "official" drivers for this scanner?<br>
<p>
Of course only one sucj driver will be enough for ALL parallel scanners, since<br>
the low &amp; mid level drivers will be executed in "windows" mode.<br>
<p>
<pre>
--
Panos Katsaloulis &lt;<a href="mailto:teras@writeme.com">teras@writeme.com</a>&gt;
* Microsoft brought artificial intelligence to our desktop:
    Windows know exactly when is the worst time to crash -- and crash.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Dan Kegel: "SQ4800, Wine990815, and ULead PhotoImpact"</a>
<li> <b>Previous message:</b> <a href="0023.html">Panos Katsaloulis: "Support for Parallel Mustek scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
