<!-- received="Thu Sep  9 12:54:42 1999 PDT" -->
<!-- sent="Thu, 9 Sep 1999 16:00:44 -0400 (EDT)" -->
<!-- name="iehrenwald@earthlink.net" -->
<!-- email="iehrenwald@earthlink.net" -->
<!-- subject="(no subject)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: (no subject)</title>
<h1>(no subject)</h1>
<a href="mailto:iehrenwald@earthlink.net"><i>iehrenwald@earthlink.net</i></a><br>
<i>Thu, 9 Sep 1999 16:00:44 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#54">[ date ]</a><a href="index.html#54">[ thread ]</a><a href="subject.html#54">[ subject ]</a><a href="author.html#54">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">Vincent J. Parrilla: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0053.html">Petter Reinholdtsen: "Net scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
I have an Adaptec 1505 ISA and an UMAX Astra 1220S.  The SCSI card sees<br>
the scanner fine and all, but xsane won't see the device.  I am using the<br>
latest debian packages from debian potato.  I edited the<br>
/etc/sane.d/umax.conf so it looks like:<br>
<p>
--- snip ---<br>
scsi UMAX<br>
/dev/sg0<br>
--- snip ---<br>
<p>
/dev/sg0 exists, is in the scanner group, my user is in the scanner group.<br>
The dll.conf has everything commented out but , pnm, net and umax.  When I<br>
try and select the scanner with xsane I only see the pnm deviced.  I tried<br>
commenting out the pnm in dll.conf and xsane tells me there are no devices<br>
available.  <br>
<p>
Can someone help me out?  I really need this working.  Thanks.<br>
<p>
                --Ian<br>
<p>
Debian GNU/Linux -- <a href="http://www.debian.org">http://www.debian.org</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">Vincent J. Parrilla: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0053.html">Petter Reinholdtsen: "Net scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
