<!-- received="Thu Sep 16 20:56:00 1999 PDT" -->
<!-- sent="Thu, 16 Sep 1999 22:10:10 -0600" -->
<!-- name="Kevin R. Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: Acer 620: warning" -->
<!-- id="" -->
<!-- inreplyto="Acer 620: warning" -->
<title>sane-devel: Re: Acer 620: warning</title>
<h1>Re: Acer 620: warning</h1>
<b>Kevin R. Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Thu, 16 Sep 1999 22:10:10 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#102">[ date ]</a><a href="index.html#102">[ thread ]</a><a href="subject.html#102">[ subject ]</a><a href="author.html#102">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Florian Hinzmann: "Re: USB Scanner w/ linux2.3.x"</a>
<li> <b>Previous message:</b> <a href="0101.html">Greg Lehey: "Re: Acer 620: warning"</a>
<li> <b>Maybe in reply to:</b> <a href="0092.html">Greg Lehey: "Acer 620: warning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greg Lehey wrote:<br>
...<br>
<i>&gt; </i><br>
<i>&gt; Sorry, no, I'm still working on that.  This was running under</i><br>
<i>&gt; Microsoft.  But some people have had the SCSI version running under</i><br>
<i>&gt; sane.</i><br>
<p>
Gary Plewa had some success with the SnapScan backend. See<br>
<a href="http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html">http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html</a><br>
for a patched version if you have the SCSI model. It probably<br>
doesn't work perfectly.<br>
<p>
Kevin<br>
<p>
<pre>
-- 
Kevin Charter
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Florian Hinzmann: "Re: USB Scanner w/ linux2.3.x"</a>
<li> <b>Previous message:</b> <a href="0101.html">Greg Lehey: "Re: Acer 620: warning"</a>
<li> <b>Maybe in reply to:</b> <a href="0092.html">Greg Lehey: "Acer 620: warning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
