<!-- received="Mon Sep 20 08:25:46 1999 PDT" -->
<!-- sent="Mon, 20 Sep 1999 17:36:44 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Error device I/O" -->
<!-- id="" -->
<!-- inreplyto="Error device I/O" -->
<title>sane-devel: Re: Error device I/O</title>
<h1>Re: Error device I/O</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 20 Sep 1999 17:36:44 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#126">[ date ]</a><a href="index.html#126">[ thread ]</a><a href="subject.html#126">[ subject ]</a><a href="author.html#126">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">abel deuring: "Re: SG_BIG_BUFF, glibc 2.1 weirdness ..."</a>
<li> <b>Previous message:</b> <a href="0125.html">Eduardo M. A. M. Mendes: "Re: Error device I/O"</a>
<li> <b>Maybe in reply to:</b> <a href="0107.html">Eduardo M. A. M. Mendes: "Error device I/O"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Eduardo M. A. M. Mendes" wrote:./usr/lib/gnulibc1/libjpeg.so.6.0.1<br>
<p>
<i>&gt; ./usr/lib/gnulibc1/libjpeg.so.6</i><br>
<i>&gt; ./usr/lib/libjpeg.so.6.0.1</i><br>
<i>&gt; ./usr/lib/libjpeg.so</i><br>
<i>&gt; ./usr/lib/libjpeg.a</i><br>
<i>&gt; ./usr/lib/qt/include/qjpegio.h</i><br>
<i>&gt; ./usr/lib/libjpeg.so.6</i><br>
<i>&gt;</i><br>
<p>
Hi Eduardo,<br>
<p>
are you sure that is all or is there an other jpeg library installed?<br>
<p>
please send the original output of the io error!<br>
<p>
Does tiff not work if you select an other compression format than jpeg<br>
(preferences/setup/saving options)?!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">abel deuring: "Re: SG_BIG_BUFF, glibc 2.1 weirdness ..."</a>
<li> <b>Previous message:</b> <a href="0125.html">Eduardo M. A. M. Mendes: "Re: Error device I/O"</a>
<li> <b>Maybe in reply to:</b> <a href="0107.html">Eduardo M. A. M. Mendes: "Error device I/O"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
