<!-- received="Tue Sep 21 04:37:17 1999 PDT" -->
<!-- sent="Tue, 21 Sep 1999 10:13:59 +0200" -->
<!-- name="Robert Schwebel" -->
<!-- email="r.schwebel@tu-bs.de" -->
<!-- subject="gimp and xsane" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: gimp and xsane</title>
<h1>gimp and xsane</h1>
<b>Robert Schwebel</b> (<a href="mailto:r.schwebel@tu-bs.de"><i>r.schwebel@tu-bs.de</i></a>)<br>
<i>Tue, 21 Sep 1999 10:13:59 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#131">[ date ]</a><a href="index.html#131">[ thread ]</a><a href="subject.html#131">[ subject ]</a><a href="author.html#131">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0132.html">Camille DIOU: "ppSCSI and Microtek Phantom 330 CX"</a>
<li> <b>Previous message:</b> <a href="0130.html">Robert Schwebel: "xsane-0.35 bug?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0133.html">Oliver Rauch: "Re: gimp and xsane"</a>
<li> <b>Reply:</b> <a href="0133.html">Oliver Rauch: "Re: gimp and xsane"</a>
<li> <b>Reply:</b> <a href="0135.html">Fred Willingham: "Re: gimp and xsane"</a>
<li> <b>Reply:</b> <a href="0139.html">Oliver Rauch: "Re: gimp and xsane"</a>
<li> <b>Reply:</b> <a href="0140.html">Oliver Rauch: "Re: gimp and xsane"</a>
<li> <b>Reply:</b> <a href="0146.html">Fred Willingham: "Re: gimp and xsane"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Oliver!<br>
<p>
Is it possible for you to add a configure switch to disable the Gimp<br>
plugin feature in xsane? My problem is that I have Gimp-1.0.2 here (from<br>
SuSE 6.0), don't want to update now but want to use xsane :-) At the<br>
moment I cannot compile it because of this error you describe in the<br>
PROBLEMS file.<br>
<p>
Best regards, <br>
Robert<br>
<pre>
-- 
 +-----------------------------------------------------------+
   Robert Schwebel, Luedemannstrasse 25, 24114 Kiel, Germany 
     Public Observatory Rothwesten  (near Kassel, Germany)   
       Phone: +49-431-6794138, email: <a href="mailto:robert@schwebel.de">robert@schwebel.de</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0132.html">Camille DIOU: "ppSCSI and Microtek Phantom 330 CX"</a>
<li> <b>Previous message:</b> <a href="0130.html">Robert Schwebel: "xsane-0.35 bug?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0133.html">Oliver Rauch: "Re: gimp and xsane"</a>
<li> <b>Reply:</b> <a href="0133.html">Oliver Rauch: "Re: gimp and xsane"</a>
<li> <b>Reply:</b> <a href="0135.html">Fred Willingham: "Re: gimp and xsane"</a>
<li> <b>Reply:</b> <a href="0139.html">Oliver Rauch: "Re: gimp and xsane"</a>
<li> <b>Reply:</b> <a href="0140.html">Oliver Rauch: "Re: gimp and xsane"</a>
<li> <b>Reply:</b> <a href="0146.html">Fred Willingham: "Re: gimp and xsane"</a>
<!-- reply="end" -->
</ul>
