<!-- received="Sat Sep 25 23:14:38 1999 PDT" -->
<!-- sent="Sat, 25 Sep 1999 23:12:12 -0700" -->
<!-- name="Chris Ice" -->
<!-- email="chris.ice@cisco.com" -->
<!-- subject="Wierd probs w/Mustek and Adaptec2940" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Wierd probs w/Mustek and Adaptec2940</title>
<h1>Wierd probs w/Mustek and Adaptec2940</h1>
<b>Chris Ice</b> (<a href="mailto:chris.ice@cisco.com"><i>chris.ice@cisco.com</i></a>)<br>
<i>Sat, 25 Sep 1999 23:12:12 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#167">[ date ]</a><a href="index.html#167">[ thread ]</a><a href="subject.html#167">[ subject ]</a><a href="author.html#167">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Firebeard: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Previous message:</b> <a href="0166.html">Jerry Chamberlin: "Re: xsane-0.36 with NLS"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm having a strange scsi problem with my 2940uw and Mustek 1200LS<br>
scanner.  I'm on Redhat6.0, 2.2.5-22 i386.<br>
<p>
The kernel happily sees the (pci) host controller and my Sony CD-R at<br>
boot up time.  If I have the scanner turned on during boot, however, the<br>
kernel aborts and retries (timeouts) until the kernel finally panics and<br>
the boot fails.<br>
<p>
Now, here's the trick.  If I leave the scanner off until the boot<br>
finishes, and then turn the scanner on...I can manually probe it, ala...<br>
<p>
host# insmod sg<br>
host# echo "scsi add-single-device 0 0 4 0" &gt;/proc/scsi/sci<br>
<p>
All is happy.  Sane can see the scanner, the CD-R works...everything's<br>
fine.<br>
<p>
Any ideas on where to start with this?  Would be nice to get a clean<br>
boot.  :)<br>
<p>
Chris<br>
<pre>
-- 
                               --------
 +----------------------------| _   /| |-----------------------------+
 | Chris Ice, Software Artist | \`o_O' | Cisco Systems, Inc.         |
 | <a href="http://www.trub.com/">http://www.trub.com/</a>       |   ( )  | http://www.cisco.com/       |
 | <a href="mailto:chris.ice@cisco.com">mailto:chris.ice@cisco.com</a> |    U   | 170 W. Tasman Dr., SJ-12/1  |
 | 408.525.7373               |  Syn,  | San Jose, CA 95134-1706 USA |
 +----------------------------|  Ack!  |-----------------------------+
  My opinions may not reflect  --------  the views of my employer.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Firebeard: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Previous message:</b> <a href="0166.html">Jerry Chamberlin: "Re: xsane-0.36 with NLS"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
