<!-- received="Sun Sep 26 18:13:10 1999 PDT" -->
<!-- sent="Sun, 26 Sep 1999 21:11:54 -0400 (EDT)" -->
<!-- name="Marc C. Poulin" -->
<!-- email="mcp@conde-dev.com" -->
<!-- subject="problems with sane on solaris" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: problems with sane on solaris</title>
<h1>problems with sane on solaris</h1>
<b>Marc C. Poulin</b> (<a href="mailto:mcp@conde-dev.com"><i>mcp@conde-dev.com</i></a>)<br>
<i>Sun, 26 Sep 1999 21:11:54 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#172">[ date ]</a><a href="index.html#172">[ thread ]</a><a href="subject.html#172">[ subject ]</a><a href="author.html#172">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Camille DIOU: "Re: ppSCSI and Microtek Phantom 330 CX"</a>
<li> <b>Previous message:</b> <a href="0171.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0178.html">Peter Kirchgessner: "Re: problems with sane on solaris"</a>
<li> <b>Reply:</b> <a href="0178.html">Peter Kirchgessner: "Re: problems with sane on solaris"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here is my setup:<br>
<p>
Ultra 60 w/2 400 MHz procs<br>
Fully-patched Solaris 2.6<br>
gtk 1.2.4<br>
SCHILY scg drivers installed<br>
HP scanjet 5p scanner<br>
<p>
Installed sane v1.0.1, everything seemed to go fine.<br>
<p>
however, when running xscanimage, I get a segmentation fault.<br>
running scanimage finds no SANE devices, even probing for devices<br>
doesn't seem to show anything.<br>
<p>
Any ideas? I'll happily provide more details, if neccesary.<br>
thanks,<br>
Marc Poulin<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Camille DIOU: "Re: ppSCSI and Microtek Phantom 330 CX"</a>
<li> <b>Previous message:</b> <a href="0171.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0178.html">Peter Kirchgessner: "Re: problems with sane on solaris"</a>
<li> <b>Reply:</b> <a href="0178.html">Peter Kirchgessner: "Re: problems with sane on solaris"</a>
<!-- reply="end" -->
</ul>
