<!-- received="Tue Feb  2 23:34:15 1999 PST" -->
<!-- sent="Wed, 3 Feb 1999 09:32:32 +0200 (GMT+0200)" -->
<!-- name="Henk Verleye" -->
<!-- email="henk@sophis.be" -->
<!-- subject="installing sane 1.00" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: installing sane 1.00</title>
<h1>installing sane 1.00</h1>
<b>Henk Verleye</b> (<a href="mailto:henk@sophis.be"><i>henk@sophis.be</i></a>)<br>
<i>Wed, 3 Feb 1999 09:32:32 +0200 (GMT+0200)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Francisco Rodrigo Escobedo Robles: "Re: installing sane 1.00"</a>
<li> <b>Previous message:</b> <a href="0011.html">Peter Kirchgessner: "sanei_scsi_req_enter and Diamond Fireport 40"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is my first mail to this mailing list, and my mail does not really <br>
fall in the category "development", so please don't shoot me for this <br>
question, especially because my problem is probably a stupid little thing.<br>
<p>
I have downloaded the files sane-1.00-1.i386.rpm and <br>
sane-devel-1.00-1.i386.rpm from the SANE home site.  Now whenever I try <br>
to install one of them ( rpm -i sane.etc.....i386.rpm ), I get the reply<br>
"Data type 9 not supported".  It does not matter if I run rpm as root or <br>
under my own user name.<br>
<p>
Does anyone know what is happening here ?<br>
<p>
Henk Verleye<br>
<a href="mailto:henk@sophis.be">henk@sophis.be</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Francisco Rodrigo Escobedo Robles: "Re: installing sane 1.00"</a>
<li> <b>Previous message:</b> <a href="0011.html">Peter Kirchgessner: "sanei_scsi_req_enter and Diamond Fireport 40"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
