<!-- received="Thu Feb  4 07:27:50 1999 PST" -->
<!-- sent="Thu, 04 Feb 1999 16:30:55 +0100" -->
<!-- name="Nicolas de Peslouan" -->
<!-- email="nicolas@intercab.fr" -->
<!-- subject="Re: ** SANE FAQ Online **" -->
<!-- id="" -->
<!-- inreplyto="** SANE FAQ Online **" -->
<title>sane-devel: Re: ** SANE FAQ Online **</title>
<h1>Re: ** SANE FAQ Online **</h1>
<b>Nicolas de Peslouan</b> (<a href="mailto:nicolas@intercab.fr"><i>nicolas@intercab.fr</i></a>)<br>
<i>Thu, 04 Feb 1999 16:30:55 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#27">[ date ]</a><a href="index.html#27">[ thread ]</a><a href="subject.html#27">[ subject ]</a><a href="author.html#27">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">=?Windows-1252?Q?Fran=E7ois_Bonnin?=: "Re: Getting a manufacturer to release specs?"</a>
<li> <b>Previous message:</b> <a href="0026.html">F. Fernandez: "Re: ** SANE FAQ Online **"</a>
<li> <b>Maybe in reply to:</b> <a href="0023.html">Nicolas de Peslouan: "** SANE FAQ Online **"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oups !<br>
<p>
Ok, I fixed it !<br>
<p>
I added sane.intercab.fr to the primary dns, but didn't sync both<br>
secondary dns.<br>
<p>
Now, everything *should* work fine.<br>
<p>
	Nicolas.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">=?Windows-1252?Q?Fran=E7ois_Bonnin?=: "Re: Getting a manufacturer to release specs?"</a>
<li> <b>Previous message:</b> <a href="0026.html">F. Fernandez: "Re: ** SANE FAQ Online **"</a>
<li> <b>Maybe in reply to:</b> <a href="0023.html">Nicolas de Peslouan: "** SANE FAQ Online **"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
