<!-- received="Mon Feb  8 12:42:45 1999 PST" -->
<!-- sent="Mon, 08 Feb 1999 15:41:24 -0500" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: Getting a manufacturer to release specs?" -->
<!-- id="199902082041.PAA20834@tristan.devel.redhat.com" -->
<!-- inreplyto="Getting a manufacturer to release specs?" -->
<title>sane-devel: Re: Getting a manufacturer to release specs?</title>
<h1>Re: Getting a manufacturer to release specs?</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Mon, 08 Feb 1999 15:41:24 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#42">[ date ]</a><a href="index.html#42">[ thread ]</a><a href="subject.html#42">[ subject ]</a><a href="author.html#42">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">root@isis.dynip.com: "Re: (no subject)"</a>
<li> <b>Previous message:</b> <a href="0041.html">Zachary L. Stauber: "(no subject)"</a>
<li> <b>Maybe in reply to:</b> <a href="0017.html">Rene Herman: "Getting a manufacturer to release specs?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Chris Pinkham writes:<br>
<i>&gt;I hadn't thought of this until now, but do people think it might help</i><br>
<i>&gt;"convince" parallel port scanner manufacturers to release their specs if</i><br>
<i>&gt;they were informed that other manufacturers had already released their</i><br>
<i>&gt;specs.  Approach it from the perspective of lost market share and lost</i><br>
<i>&gt;revenue.</i><br>
<p>
Anyone wanting to do this should read<br>
<a href="http://www.precisioninsight.com/alspaper.html">http://www.precisioninsight.com/alspaper.html</a><br>
It was written for people wanting specs for video cards but is<br>
equally appropriate here.<br>
<p>
T he person who wrote it is the one who convinced Neomagic to let him<br>
release X drivers for the Neomagic chipset -- he's had years o<br>
experience working with companies one issues like this and his advice<br>
is really good.<br>
<p>
michaelkjohnson<br>
<p>
"Magazines all too frequently lead to books and should be regarded by the<br>
 prudent as the heavy petting of literature."            -- Fran Lebowitz<br>
 Linux Application Development       <a href="http://www.redhat.com/~johnsonm/lad/">http://www.redhat.com/~johnsonm/lad/</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">root@isis.dynip.com: "Re: (no subject)"</a>
<li> <b>Previous message:</b> <a href="0041.html">Zachary L. Stauber: "(no subject)"</a>
<li> <b>Maybe in reply to:</b> <a href="0017.html">Rene Herman: "Getting a manufacturer to release specs?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
