<!-- received="Fri Feb 12 16:55:32 1999 PST" -->
<!-- sent="Sat, 13 Feb 1999 01:58:32 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: SANE and MicroTek ScanMaker X6" -->
<!-- id="" -->
<!-- inreplyto="de-990212101306.A7321414@celeste.ucolick.org" -->
<title>sane-devel: Re: SANE and MicroTek ScanMaker X6</title>
<h1>Re: SANE and MicroTek ScanMaker X6</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Sat, 13 Feb 1999 01:58:32 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#64">[ date ]</a><a href="index.html#64">[ thread ]</a><a href="subject.html#64">[ subject ]</a><a href="author.html#64">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Peter Kirchgessner: "Re: A Question about the HP 5p"</a>
<li> <b>Previous message:</b> <a href="0063.html">Bernd Schroeder: "Re: Microtek x6el problems"</a>
<li> <b>In reply to:</b> <a href="0061.html">De Clarke: "SANE and MicroTek ScanMaker X6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0232.html">Bob Campbell: "Re: SANE and MicroTek ScanMaker X6"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, Feb 12, 1999 at 10:13:07AM -0800, De Clarke wrote:<br>
<i>&gt; </i><br>
<i>&gt; I have read the "supported devices" doco at the SANE</i><br>
<i>&gt; website and am down to a choice between 2 reasonably</i><br>
<i>&gt; priced scanners:</i><br>
<i>&gt; </i><br>
<i>&gt; Astra 1220s (UMAX) vs ScanMaker X6EL-DP (MicroTek)</i><br>
<i>&gt; </i><br>
<i>&gt; The 1220s seems like a very safe choice, the VW or</i><br>
<i>&gt; Ford of scanners for Linux.  But the ScanMaker X6EL-DP</i><br>
<i>&gt; has a feature I really want, which is a 35mm slide</i><br>
<i>&gt; adapter.</i><br>
<p>
I must admit, that I don't know what the extension "DP" means, but with<br>
regards to the slide adapter:<br>
<p>
On <a href="ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.6.291298.tar.gz">ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.6.291298.tar.gz</a><br>
<p>
is a version of the backend, that should support this adapter. However,<br>
this is completely untested, and I don't know if it works.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Peter Kirchgessner: "Re: A Question about the HP 5p"</a>
<li> <b>Previous message:</b> <a href="0063.html">Bernd Schroeder: "Re: Microtek x6el problems"</a>
<li> <b>In reply to:</b> <a href="0061.html">De Clarke: "SANE and MicroTek ScanMaker X6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0232.html">Bob Campbell: "Re: SANE and MicroTek ScanMaker X6"</a>
<!-- reply="end" -->
</ul>
