<!-- received="Mon Feb 15 20:21:52 1999 PST" -->
<!-- sent="Mon, 15 Feb 1999 20:19:24 -0800" -->
<!-- name="Frank Becker" -->
<!-- email="fbecker@nortelnetworks.com" -->
<!-- subject="Re: Logitech Scanners" -->
<!-- id="" -->
<!-- inreplyto="Logitech Scanners" -->
<title>sane-devel: Re: Logitech Scanners</title>
<h1>Re: Logitech Scanners</h1>
<b>Frank Becker</b> (<a href="mailto:fbecker@nortelnetworks.com"><i>fbecker@nortelnetworks.com</i></a>)<br>
<i>Mon, 15 Feb 1999 20:19:24 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#86">[ date ]</a><a href="index.html#86">[ thread ]</a><a href="subject.html#86">[ subject ]</a><a href="author.html#86">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Cameron Andrews: "StudioScan IIsi - not working"</a>
<li> <b>Previous message:</b> <a href="0085.html">Paul S. Aspinwall: "HP ScanJet 5100"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">Jonathan A. Buzzard: "Logitech Scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0253.html">Frank Becker: "Re: Logitech Scanners"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi.<br>
<p>
Jonathan A. Buzzard wrote:<br>
<i>&gt; </i><br>
<i>&gt; Has anyone wanting to support Logitech scanners been in touch with Logitech</i><br>
<i>&gt; recently? I know that the historically Logitech have denied Linux driver</i><br>
<i>&gt; developers the technical information that they needed in order to write</i><br>
<i>&gt; drivers.</i><br>
<p>
I read somewhere on Logitech's Web site <br>
<a href="http://www.logitech.com/us/about/al_010.html">http://www.logitech.com/us/about/al_010.html</a><br>
that their scanner line wasn't doing so well so they sold <br>
it to Storm Tech, which went bankrupt sometime last year. <br>
If Logitech still has the scanner docs, they might give them<br>
out now. Maybe it's just a matter of talking to the right<br>
person...<br>
<p>
<i>&gt; </i><br>
<i>&gt; However I can across this yesterday while browsing the Linux USB pages,</i><br>
<i>&gt; and have reproduced the section about Logitech below. From this it would</i><br>
<i>&gt; appear that Logitech have had a change of heart with regard to Linux,</i><br>
<i>&gt; and might be worth approaching again for specifications.</i><br>
<i>&gt; </i><br>
<i>&gt;         Logitech designs, manufactures and markets Human</i><br>
<i>&gt;         Interface Devices, having a long history and experience in</i><br>
<i>&gt;         making devices such as keyboards, mice, trackballs,</i><br>
<i>&gt;         cameras, loudspeakers and control devices for gaming and</i><br>
<i>&gt;         professional use.</i><br>
<i>&gt; </i><br>
<i>&gt;         Being a recognized vendor and seller for all these devices,</i><br>
<i>&gt;         they have donated USB mice, a joystick and a scanner, as</i><br>
<i>&gt;         a way to acknowledge the importance of Linux and to</i><br>
<i>&gt;         allow Logitech customers to enjoy support in their favorite</i><br>
<i>&gt;         operating systems and all Linux users to use Logitech and</i><br>
<i>&gt;         other USB hardware.</i><br>
<i>&gt; </i><br>
<i>&gt; I have four parallel port scanners listed on my web page, and I know they</i><br>
<i>&gt; produced several other non-parallel port hand held scanners in the past.</i><br>
<i>&gt; None of which appear to be supported by Sane. A quick search of my</i><br>
<i>&gt; sane mailing list archive reveals at least 20 people asking about Logitech</i><br>
<i>&gt; scanners, some quite recent.</i><br>
<i>&gt; </i><br>
<i>&gt; The original page can be seen at</i><br>
<i>&gt; </i><br>
<i>&gt;     <a href="http://peloncho.fis.ucm.es/~inaky/uusbd-www/partners.html">http://peloncho.fis.ucm.es/~inaky/uusbd-www/partners.html</a></i><br>
<i>&gt; </i><br>
<i>&gt; JAB.</i><br>
<p>
Frank.<br>
<p>
PS: Thanx for the pointer to IDA in one of your earlier <br>
mails. Best of all it works in dosemu :)<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Cameron Andrews: "StudioScan IIsi - not working"</a>
<li> <b>Previous message:</b> <a href="0085.html">Paul S. Aspinwall: "HP ScanJet 5100"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">Jonathan A. Buzzard: "Logitech Scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0253.html">Frank Becker: "Re: Logitech Scanners"</a>
<!-- reply="end" -->
</ul>
