<!-- received="Tue Feb 16 11:21:07 1999 PST" -->
<!-- sent="16 Feb 1999 14:19:20 -0500" -->
<!-- name="Zygo Blaxell" -->
<!-- email="u3nzrrvm@umail.furryterror.org" -->
<!-- subject="Re: Please help me with unrecogn. scanner (Microtek 630)" -->
<!-- id="" -->
<!-- inreplyto="Please help me with unrecogn. scanner (Microtek 630)" -->
<title>sane-devel: Re: Please help me with unrecogn. scanner (Microtek 630)</title>
<h1>Re: Please help me with unrecogn. scanner (Microtek 630)</h1>
<b>Zygo Blaxell</b> (<a href="mailto:u3nzrrvm@umail.furryterror.org"><i>u3nzrrvm@umail.furryterror.org</i></a>)<br>
<i>16 Feb 1999 14:19:20 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#91">[ date ]</a><a href="index.html#91">[ thread ]</a><a href="subject.html#91">[ subject ]</a><a href="author.html#91">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Joachim Kunze: "horizontal stripes in your image"</a>
<li> <b>Previous message:</b> <a href="0090.html">wolfgang rapp: "RE:xsane 0.11 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0076.html">Robert J. Alexander: "Please help me with unrecogn. scanner (Microtek 630)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
In article &lt;<a href="mailto:36C9608B.CD029EAB@raleigh.ibm.com">36C9608B.CD029EAB@raleigh.ibm.com</a>&gt;,<br>
Robert J. Alexander &lt;<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a>&gt; wrote:<br>
<i>&gt;The scanner gets assigned /dev/sg1 normally, but if I boot with ALSO my</i><br>
<i>&gt;4mm DAT SCSI tape on this device gets /dev/sg1 and the scanner becomes</i><br>
<i>&gt;/dev/sg2 ...</i><br>
<i>&gt;</i><br>
<i>&gt;How can I force the scanner always to be /dev/sg1 ?</i><br>
<p>
Change the SCSI ID's so the scanner's ID is lower than the DAT drive, or<br>
write a script that reads /proc/scsi/scsi and figures out which sg device<br>
the scanner has and updates a symbolic link named '/dev/scanner' to point<br>
to the right sg device.<br>
<p>
<pre>
-- 
Zygo Blaxell, Linux Engineer, Corel Corporation, <a href="mailto:zygob@corel.ca">zygob@corel.ca</a> (work),
<a href="mailto:zblaxell@furryterror.org">zblaxell@furryterror.org</a> (play).  It's my opinion, I tell you! Mine! All MINE!
Size of 'diff -Nurw [...] winehq corel' as of Tue Feb 16 13:14:00 EST 1999
Lines/files:  In 277 / 3, Out 20653 / 255, Both 20923 / 256
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Joachim Kunze: "horizontal stripes in your image"</a>
<li> <b>Previous message:</b> <a href="0090.html">wolfgang rapp: "RE:xsane 0.11 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0076.html">Robert J. Alexander: "Please help me with unrecogn. scanner (Microtek 630)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
