<!-- received="Tue Feb 16 13:38:34 1999 PST" -->
<!-- sent="Tue, 16 Feb 1999 16:37:14 -0500" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: xscanimage &amp; SGI" -->
<!-- id="" -->
<!-- inreplyto="xscanimage &amp; SGI" -->
<title>sane-devel: Re: xscanimage &amp; SGI</title>
<h1>Re: xscanimage &amp; SGI</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Tue, 16 Feb 1999 16:37:14 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#97">[ date ]</a><a href="index.html#97">[ thread ]</a><a href="subject.html#97">[ subject ]</a><a href="author.html#97">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">Andreas Dilger: "Re: xscanimage &amp; SGI"</a>
<li> <b>Previous message:</b> <a href="0096.html">Jeff Evarts: "no devices available?"</a>
<li> <b>Maybe in reply to:</b> <a href="0094.html">Mike: "xscanimage &amp; SGI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Mike wrote:<br>
<i>&gt; ...</i><br>
<i>&gt; I try to access Xtns&gt;AcquireImage&gt;Device dialog... nothing happens.</i><br>
<i>&gt; I get this error:</i><br>
<i>&gt; </i><br>
<i>&gt; xscanimage: no devices available.</i><br>
<i>&gt; ...</i><br>
<p>
What type of scanner/camera do you have?  What version of IRIX?<br>
<p>
<pre>
-- 
______________________________________________________________________
Michael Sweet, Easy Software Products                  <a href="mailto:mike@easysw.com">mike@easysw.com</a>
Printing Software for UNIX                       <a href="http://www.easysw.com">http://www.easysw.com</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">Andreas Dilger: "Re: xscanimage &amp; SGI"</a>
<li> <b>Previous message:</b> <a href="0096.html">Jeff Evarts: "no devices available?"</a>
<li> <b>Maybe in reply to:</b> <a href="0094.html">Mike: "xscanimage &amp; SGI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
