<!-- received="Wed Feb 17 10:28:54 1999 PST" -->
<!-- sent="Tue, 16 Feb 1999 22:52:53 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane 0.11 available" -->
<!-- id="" -->
<!-- inreplyto="xsane 0.11 available" -->
<title>sane-devel: Re: xsane 0.11 available</title>
<h1>Re: xsane 0.11 available</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 16 Feb 1999 22:52:53 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#100">[ date ]</a><a href="index.html#100">[ thread ]</a><a href="subject.html#100">[ subject ]</a><a href="author.html#100">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Zachary L. Stauber: "Re: Out of memory"</a>
<li> <b>Previous message:</b> <a href="0099.html">Milon Firikis: "Re: no devices available?"</a>
<li> <b>Maybe in reply to:</b> <a href="0074.html">Oliver Rauch: "xsane 0.11 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0116.html">wolfgang Rapp: "Re: xsane 0.11 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
wolfgang rapp wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hello,</i><br>
<i>&gt; I tested xsane-0.11 on linux 2.0.32 with net backend and a local HP</i><br>
<i>&gt; PhotoSmart.</i><br>
<i>&gt; I had some crashes if I browse through the options at different places.</i><br>
<i>&gt; Especially if I unswitch RGB default. It seems this depends on the</i><br>
<i>&gt; history what is done earlier. But normally it works. 0.10 seems to be</i><br>
<i>&gt; more stable.</i><br>
Hi Wolfgang,<br>
<p>
thanks for that info.<br>
<p>
I tested this with the umax backend via net:localhost and did not have<br>
any problems.<br>
How much RAM does your computer have and how much is freen when you start xsane?<br>
<p>
<i>&gt; I also compiled xsane for my Unixware Version - it works.</i><br>
Fine!<br>
<p>
<i>&gt; But the lines of code containing the C++ syntax with // as comment</i><br>
<i>&gt; increase from version to version.  For portability if not using gcc this</i><br>
<i>&gt; takes time to alter and compile.</i><br>
I am sorry about that, but that will stay the next versions.<br>
In the moment the versions are only snapshots of my development.<br>
When I know that it works with most backends/scanners, I will remove the //<br>
lines!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
-- 
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Zachary L. Stauber: "Re: Out of memory"</a>
<li> <b>Previous message:</b> <a href="0099.html">Milon Firikis: "Re: no devices available?"</a>
<li> <b>Maybe in reply to:</b> <a href="0074.html">Oliver Rauch: "xsane 0.11 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0116.html">wolfgang Rapp: "Re: xsane 0.11 available"</a>
<!-- reply="end" -->
</ul>
