<!-- received="Thu Feb 18 13:38:45 1999 PST" -->
<!-- sent="Thu, 18 Feb 1999 15:36:01 -0600" -->
<!-- name="William McVey" -->
<!-- email="wam@sa.fedex.com" -->
<!-- subject="Re: find-scanner finds nothing. NOT permissions" -->
<!-- id="199902182137.PAA18831@s07.sa.fedex.com" -->
<!-- inreplyto="find-scanner finds nothing. NOT permissions" -->
<title>sane-devel: Re: find-scanner finds nothing. NOT permissions</title>
<h1>Re: find-scanner finds nothing. NOT permissions</h1>
<b>William McVey</b> (<a href="mailto:wam@sa.fedex.com"><i>wam@sa.fedex.com</i></a>)<br>
<i>Thu, 18 Feb 1999 15:36:01 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#115">[ date ]</a><a href="index.html#115">[ thread ]</a><a href="subject.html#115">[ subject ]</a><a href="author.html#115">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">wolfgang Rapp: "Re: xsane 0.11 available"</a>
<li> <b>Previous message:</b> <a href="0114.html">Christopher W. Curtis: "Re: Microtek - Scanner and SCSI - Emulation over EPP"</a>
<li> <b>Maybe in reply to:</b> <a href="0109.html">Jeff Evarts: "find-scanner finds nothing. NOT permissions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0117.html">Oliver Rauch: "Re: find-scanner finds nothing. NOT permissions"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Jeff Evarts wrote:<br>
&lt;various parts snipped out&gt;<br>
<i>&gt;I have a UMAX Astra 1200S at /dev/sg0. </i><br>
<i>&gt;  * The OS and the BIOS both see the scanner as a generic scsi</i><br>
<i>&gt;      device at /dev/sg0</i><br>
<i>&gt;  * I have a hard (not symbolic) link from /dev/sg0 to /dev/scanner</i><br>
<i>&gt;</i><br>
<i>&gt;/usr/local/etc/sane.d/umax.conf contains just the line:</i><br>
<i>&gt;        /dev/scanner</i><br>
<p>
I don't know much about BSD/OS, but at least under FreeBSD, listing<br>
symlinks in the SANE config files is not sufficient.  Sane uses the<br>
cam_open_device function call, which doesn't actually use the device<br>
file argument to open... You may want to try putting /dev/sg0 in the<br>
config file and see if things work out better.  I haven't had time to<br>
do enough analysis of the interactions between SANE and the cam library<br>
to determine if cam_open_device() should be "fixed" or if SANE should <br>
be fixed by not using cam_open_device().<br>
<p>
 -- William<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">wolfgang Rapp: "Re: xsane 0.11 available"</a>
<li> <b>Previous message:</b> <a href="0114.html">Christopher W. Curtis: "Re: Microtek - Scanner and SCSI - Emulation over EPP"</a>
<li> <b>Maybe in reply to:</b> <a href="0109.html">Jeff Evarts: "find-scanner finds nothing. NOT permissions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0117.html">Oliver Rauch: "Re: find-scanner finds nothing. NOT permissions"</a>
<!-- reply="end" -->
</ul>
