<!-- received="Fri Feb 19 09:28:19 1999 PST" -->
<!-- sent="Fri, 19 Feb 1999 11:25:37 -0600" -->
<!-- name="William McVey" -->
<!-- email="wam@sa.fedex.com" -->
<!-- subject="Re: Shared Library Problems? Oliver, William, and others reply" -->
<!-- id="199902191726.LAA00313@s07.sa.fedex.com" -->
<!-- inreplyto="Shared Library Problems? Oliver, William, and others reply" -->
<title>sane-devel: Re: Shared Library Problems? Oliver, William, and others reply</title>
<h1>Re: Shared Library Problems? Oliver, William, and others reply</h1>
<b>William McVey</b> (<a href="mailto:wam@sa.fedex.com"><i>wam@sa.fedex.com</i></a>)<br>
<i>Fri, 19 Feb 1999 11:25:37 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#126">[ date ]</a><a href="index.html#126">[ thread ]</a><a href="subject.html#126">[ subject ]</a><a href="author.html#126">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">Andreas Dilger: "Re: [question] Astra 1220S - cables"</a>
<li> <b>Previous message:</b> <a href="0125.html">Matt Mozur: "Re: [question] Astra 1220S - cables"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">Jeff Evarts: "Shared Library Problems? Oliver, William, and others reply"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Jeff Evarts wrote:<br>
<i>&gt;William: You quoted the part where I said "THIS IS NOT A SYMLINK",</i><br>
<i>&gt;and then suggested that I not use symbolic links. I'm not. I</i><br>
<i>&gt;swear. I wouldn't lie. :-)</i><br>
<p>
Sorry, didn't see the note about it not being a symlink the first<br>
time I read you email.  The same thing applies though (at least<br>
under the FreeBSD cam library) for *ANY* file not named the exact<br>
name of the pass through device (under FreeBSD, it's /dev/pass[0-9]).<br>
If you can believe it, cam_open_device doesn't open the filename<br>
passed to it as an argument, it performs string operations to get<br>
the trailing unit number, and opens up some other device sending<br>
the unit number as an ioctl to the "real" device.  This means config<br>
files that reference hardlinks as well as any device nodes made<br>
with mknod fail if they aren't named /dev/pass[0-9].  Have you<br>
tried listing the native device (/dev/sg0 apparently) in you config<br>
files?<br>
<p>
 -- William<br>
<p>
P.S.  You can see the original thread I posted about this by searching<br>
for the subject of 'FreeBSD 3.0 CAM braindamage' in the SANE mail archives.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">Andreas Dilger: "Re: [question] Astra 1220S - cables"</a>
<li> <b>Previous message:</b> <a href="0125.html">Matt Mozur: "Re: [question] Astra 1220S - cables"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">Jeff Evarts: "Shared Library Problems? Oliver, William, and others reply"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
