<!-- received="Mon Feb 22 16:00:08 1999 PST" -->
<!-- sent="Mon, 22 Feb 1999 16:02:27 -0800" -->
<!-- name="Richard W. Knight" -->
<!-- email="sforwk@dames.com" -->
<!-- subject="RE: Acer scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: RE: Acer scanners</title>
<h1>RE: Acer scanners</h1>
<b>Richard W. Knight</b> (<a href="mailto:sforwk@dames.com"><i>sforwk@dames.com</i></a>)<br>
<i>Mon, 22 Feb 1999 16:02:27 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#150">[ date ]</a><a href="index.html#150">[ thread ]</a><a href="subject.html#150">[ subject ]</a><a href="author.html#150">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Christian Ordig: "Primax for Linux - temp. down"</a>
<li> <b>Previous message:</b> <a href="0149.html">Wolfgang Goeller: "Re: Acer scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thanks, I too am no programmer but I do have some time and an Acer 310S.<br>
I'll give it a try.<br>
<p>
Rick Knight<br>
<p>
-----Original Message-----<br>
From: <a href="mailto:owner-sane-devel@mostang.com">owner-sane-devel@mostang.com</a><br>
[<a href="mailto:owner-sane-devel@mostang.com">mailto:owner-sane-devel@mostang.com</a>]On Behalf Of Wolfgang Goeller<br>
Sent: Monday, February 22, 1999 3:47 PM<br>
To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a><br>
Subject: Re: Acer scanners<br>
<p>
<p>
"Richard W. Knight" wrote:<br>
[ ACER SCANNER support and differences to AGFA SNAPSCAN ]<br>
<p>
<i>&gt;</i><br>
<i>&gt; Thanks for the info. I'm very new to Linux. What would be involved?</i><br>
<p>
Well - start by adapting the Snapscan-code so that it recognises your<br>
ACER - Scanner.<br>
If you don't know how to do: Look for the word VUEGO - that's the<br>
ACER-EUROPE-Version.<br>
Compile, do a scan and watch carefully, what's happening.<br>
Best try with a pattern-picture (chessboard-like) to get an<br>
idea, what's going wrong, then debug the code :-))<br>
<p>
I myself had my friends Vuego-Scanner once attached - instead of<br>
the AGFA - so I could do a little testing and comparing.<br>
But - I'm no programmer<br>
    - I can get the Vuego only for a few days for testing<br>
So I might no good help, but you might have a look at the<br>
mailinglist to see, who else shares your scanner<br>
(look also for VUEGO !)<br>
<p>
regards<br>
wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Christian Ordig: "Primax for Linux - temp. down"</a>
<li> <b>Previous message:</b> <a href="0149.html">Wolfgang Goeller: "Re: Acer scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
