<!-- received="Thu Feb 25 09:07:44 1999 PST" -->
<!-- sent="Thu, 25 Feb 1999 12:07:27 -0500" -->
<!-- name="Matt Mozur" -->
<!-- email="mozur@emg.sms.siemens.com" -->
<!-- subject="Re: UMAX Astra 1200S lamp question" -->
<!-- id="9902251704.AA23776@beast.emg.sms.siemens.com" -->
<!-- inreplyto="UMAX Astra 1200S lamp question" -->
<title>sane-devel: Re: UMAX Astra 1200S lamp question</title>
<h1>Re: UMAX Astra 1200S lamp question</h1>
<b>Matt Mozur</b> (<a href="mailto:mozur@emg.sms.siemens.com"><i>mozur@emg.sms.siemens.com</i></a>)<br>
<i>Thu, 25 Feb 1999 12:07:27 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#173">[ date ]</a><a href="index.html#173">[ thread ]</a><a href="subject.html#173">[ subject ]</a><a href="author.html#173">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0174.html">Zygo Blaxell: "Re: UMAX Astra 1200S lamp question"</a>
<li> <b>Previous message:</b> <a href="0172.html">Zygo Blaxell: "UMAX Astra 1200S lamp question"</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Zygo Blaxell: "UMAX Astra 1200S lamp question"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0174.html">Zygo Blaxell: "Re: UMAX Astra 1200S lamp question"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
<p>
------=_NextPart_000_01BE60B7.692B2730<br>
Content-Type: text/plain; charset=ISO-8859-1<br>
Content-Transfer-Encoding: 7bit<br>
<p>
I also have a 1220S - the lamp does stay on for a while, but eventually<br>
does shut off.  it seems to be controlled by the scanner - as you said, <br>
there doesn't seem to be any way to do it via the driver.<br>
<p>
I have the same problem when I run under Win95, too.<br>
<p>
Maybe I'll check the UMAX web site....<br>
<p>
P.S.  I believe that they use a cold cathode fluorescent lamp - nowadays<br>
these lamps have lifetimes in excess of 25,000 hours to 50% luminance.<br>
I've seen some lamps quoted now in excess of 40K hours.<br>
<p>
----------<br>
<i>&gt; From: Zygo Blaxell &lt;<a href="mailto:u3nzrrvm@umail.furryterror.org">u3nzrrvm@umail.furryterror.org</a>&gt;</i><br>
<i>&gt; To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>&gt; Subject: UMAX Astra 1200S lamp question</i><br>
<i>&gt; Date: Thursday, February 25, 1999 11:17 AM</i><br>
<i>&gt; </i><br>
<i>&gt; I've recently acquired a UMAX Astra 1200S.  The scanner seems to work</i><br>
fine<br>
<i>&gt; under SANE as far as the software goes (great job, guys!) but I've got</i><br>
one<br>
<i>&gt; question about the hardware.</i><br>
<i>&gt; </i><br>
<i>&gt; When I connected power (and nothing else) to the scanner, the imaging</i><br>
<i>&gt; lamp came on.  When I connected the SCSI cable, the lamp stayed on.</i><br>
<i>&gt; I've tried SCSI bus resets, scanning images, setting every available</i><br>
<i>&gt; option in xscanimage and scanimage, and never has the lamp been off.</i><br>
<i>&gt; The lamp is still shining under the scanner cover to this day.</i><br>
<i>&gt; </i><br>
<i>&gt; Is this normal?  Are the Windows drivers able to turn the lamp off?</i><br>
<i>&gt; Is the hardware incapable of turning the lamp off?  Is it some kind of</i><br>
<i>&gt; funky solid-state lamp with a 100K-hour lifetime?  </i><br>
<i>&gt; </i><br>
<i>&gt; If I seem paranoid it's because I'm too used to color-balanced imaging</i><br>
<i>&gt; lamps on other photographic devices which have lifetimes less than</i><br>
<i>&gt; 100 hours.</i><br>
<i>&gt; </i><br>
<i>&gt; /proc/scsi/scsi contains (among other things):</i><br>
<i>&gt; Host: scsi0 Channel: 00 Id: 06 Lun: 00</i><br>
<i>&gt;   Vendor: UMAX     Model: Astra 1220S      Rev: V1.3</i><br>
<i>&gt;   Type:   Scanner                          ANSI SCSI revision: 02</i><br>
<i>&gt; -- </i><br>
<i>&gt; Zygo Blaxell, Linux Engineer, Corel Corporation, <a href="mailto:zygob@corel.ca">zygob@corel.ca</a> (work),</i><br>
<i>&gt; <a href="mailto:zblaxell@furryterror.org">zblaxell@furryterror.org</a> (play).  It's my opinion, I tell you! Mine! All</i><br>
MINE!<br>
<i>&gt; Size of 'diff -Nurw [...] winehq corel' as of Thu Feb 25 10:14:00 EST</i><br>
1999<br>
<i>&gt; Lines/files:  In 38 / 1, Out 8116 / 149, Both 8079 / 148</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
------=_NextPart_000_01BE60B7.692B2730<br>
Content-Type: text/html; charset=ISO-8859-1<br>
Content-Transfer-Encoding: quoted-printable<br>
<p>
<html><head></head><BODY bgcolor=3D"#FFFFFF"><p><font size=3D2 =
color=3D"#000000" face=3D"Arial">I also have a 1220S - the lamp does =
stay on for a while, but eventually<br>does shut off. &nbsp;it seems to =
be controlled by the scanner - as you said, <br>there doesn't seem to be =
any way to do it via the driver.<br><br>I have the same problem when I =
run under Win95, too.<br><br>Maybe I'll check the UMAX web =
site....<br><br>P.S. &nbsp;I believe that they use a cold cathode =
fluorescent lamp - nowadays<br>these lamps have lifetimes in excess of =
25,000 hours to 50% luminance.<br>I've seen some lamps quoted now in =
excess of 40K hours.<br><br>----------<br>&gt; From: Zygo Blaxell =
&lt;<font color=3D"#0000FF"><u>u3nzrrvm@umail.furryterror.org</u><font =
color=3D"#000000">&gt;<br>&gt; To: <font =
color=3D"#0000FF"><u>sane-devel@mostang.com</u><font =
color=3D"#000000"><br>&gt; Subject: UMAX Astra 1200S lamp =
question<br>&gt; Date: Thursday, February 25, 1999 11:17 AM<br>&gt; =
<br>&gt; I've recently acquired a UMAX Astra 1200S. &nbsp;The scanner =
seems to work fine<br>&gt; under SANE as far as the software goes (great =
job, guys!) but I've got one<br>&gt; question about the =
hardware.<br>&gt; <br>&gt; When I connected power (and nothing else) to =
the scanner, the imaging<br>&gt; lamp came on. &nbsp;When I connected =
the SCSI cable, the lamp stayed on.<br>&gt; I've tried SCSI bus resets, =
scanning images, setting every available<br>&gt; option in xscanimage =
and scanimage, and never has the lamp been off.<br>&gt; The lamp is =
still shining under the scanner cover to this day.<br>&gt; <br>&gt; Is =
this normal? &nbsp;Are the Windows drivers able to turn the lamp =
off?<br>&gt; Is the hardware incapable of turning the lamp off? &nbsp;Is =
it some kind of<br>&gt; funky solid-state lamp with a 100K-hour =
lifetime? &nbsp;<br>&gt; <br>&gt; If I seem paranoid it's because I'm =
too used to color-balanced imaging<br>&gt; lamps on other photographic =
devices which have lifetimes less than<br>&gt; 100 hours.<br>&gt; =
<br>&gt; /proc/scsi/scsi contains (among other things):<br>&gt; Host: =
scsi0 Channel: 00 Id: 06 Lun: 00<br>&gt; &nbsp;&nbsp;Vendor: UMAX =
&nbsp;&nbsp;&nbsp;&nbsp;Model: Astra 1220S =
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rev: V1.3<br>&gt; &nbsp;&nbsp;Type: =
&nbsp;&nbsp;Scanner =
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&=
nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&n=
bsp;ANSI SCSI revision: 02<br>&gt; -- <br>&gt; Zygo Blaxell, Linux =
Engineer, Corel Corporation, <font =
color=3D"#0000FF"><u>zygob@corel.ca</u><font color=3D"#000000"> =
(work),<br>&gt; <font =
color=3D"#0000FF"><u>zblaxell@furryterror.org</u><font =
color=3D"#000000"> (play). &nbsp;It's my opinion, I tell you! Mine! All =
MINE!<br>&gt; Size of 'diff -Nurw [...] winehq corel' as of Thu Feb 25 =
10:14:00 EST 1999<br>&gt; Lines/files: &nbsp;In 38 / 1, Out 8116 / 149, =
Both 8079 / 148<br>&gt; <br>&gt; --<br>&gt; Source code, list archive, =
and docs: <font =
color=3D"#0000FF"><u>http://www.mostang.com/sane/</u><font =
color=3D"#000000"><br>&gt; To unsubscribe: echo unsubscribe sane-devel | =
mail <font color=3D"#0000FF"><u>majordomo@mostang.com</u><font =
color=3D"#000000"></p>
</font></font></font></font></font></font></font></font></font></font></f=
ont></font></font></body></html>
------=_NextPart_000_01BE60B7.692B2730--


--
Source code, list archive, and docs: http://www.mostang.com/sane/
To unsubscribe: echo unsubscribe sane-devel | mail majordomo@mostang.com
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0174.html">Zygo Blaxell: "Re: UMAX Astra 1200S lamp question"</a>
<li> <b>Previous message:</b> <a href="0172.html">Zygo Blaxell: "UMAX Astra 1200S lamp question"</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Zygo Blaxell: "UMAX Astra 1200S lamp question"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0174.html">Zygo Blaxell: "Re: UMAX Astra 1200S lamp question"</a>
<!-- reply="end" -->
</ul>
