<!-- received="Sat Feb 27 13:27:48 1999 PST" -->
<!-- sent="Mon, 15 Feb 1999 03:52:29 -0500 (EST)" -->
<!-- name="Joern Schekahn" -->
<!-- email="schekahn@ipnl.in2p3.fr" -->
<!-- subject="Sane Logo" -->
<!-- id="Pine.HPP.3.96.990215034938.20861A-100000@lyohp0.in2p3.fr" -->
<!-- inreplyto="" -->
<title>sane-devel: Sane Logo</title>
<h1>Sane Logo</h1>
<b>Joern Schekahn</b> (<a href="mailto:schekahn@ipnl.in2p3.fr"><i>schekahn@ipnl.in2p3.fr</i></a>)<br>
<i>Mon, 15 Feb 1999 03:52:29 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#211">[ date ]</a><a href="index.html#211">[ thread ]</a><a href="subject.html#211">[ subject ]</a><a href="author.html#211">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0212.html">Taniguchi Shinya: "EPSON GT-7000WINS works with sane-1.00"</a>
<li> <b>Next message:</b> <a href="0212.html">David_Wegmuller@logitech.com: "Logitech Scanners"</a>
<li> <b>Previous message:</b> <a href="0210.html">Douglas Gilbert: "Announcement: Linux sg driver for testing"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0213.html">Oliver Rauch: "Re: Sane Logo"</a>
<li> <b>Reply:</b> <a href="0213.html">Oliver Rauch: "Re: Sane Logo"</a>
<li> <b>Reply:</b> <a href="0216.html">Oliver Rauch: "Re: Sane Logo"</a>
<li> <b>Reply:</b> <a href="0219.html">Michael Sweet: "Re: Sane Logo"</a>
<li> <b>Reply:</b> <a href="0220.html">Oliver Rauch: "Re: Sane Logo"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Sane-Developers,<br>
 <br>
I just ran across the logo-contest at gimp.org and found the winner logo.<br>
I think it is really nifty, but I can't find it on your web site.	<br>
<p>
The latest news dates from 2dec98 and announces the contest. <br>
 <br>
I think if you used that contest to get a new logo, you should<br>
probably use it :)<br>
<p>
Best wishes<br>
<p>
	Joern<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0212.html">Taniguchi Shinya: "EPSON GT-7000WINS works with sane-1.00"</a>
<li> <b>Next message:</b> <a href="0212.html">David_Wegmuller@logitech.com: "Logitech Scanners"</a>
<li> <b>Previous message:</b> <a href="0210.html">Douglas Gilbert: "Announcement: Linux sg driver for testing"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0213.html">Oliver Rauch: "Re: Sane Logo"</a>
<li> <b>Reply:</b> <a href="0213.html">Oliver Rauch: "Re: Sane Logo"</a>
<li> <b>Reply:</b> <a href="0216.html">Oliver Rauch: "Re: Sane Logo"</a>
<li> <b>Reply:</b> <a href="0219.html">Michael Sweet: "Re: Sane Logo"</a>
<li> <b>Reply:</b> <a href="0220.html">Oliver Rauch: "Re: Sane Logo"</a>
<!-- reply="end" -->
</ul>
