<!-- received="Sun Feb 28 14:26:31 1999 PST" -->
<!-- sent="Tue, 23 Feb 1999 11:10:42 +0100" -->
<!-- name="Robert Wilhelm" -->
<!-- email="robert@physiol.med.tu-muenchen.de" -->
<!-- subject="HIres DIN A3 scanner advice" -->
<!-- id="19990223111042.A15821@haegar.physiol.med.tu-muenchen.de" -->
<!-- inreplyto="" -->
<title>sane-devel: HIres DIN A3 scanner advice</title>
<h1>HIres DIN A3 scanner advice</h1>
<b>Robert Wilhelm</b> (<a href="mailto:robert@physiol.med.tu-muenchen.de"><i>robert@physiol.med.tu-muenchen.de</i></a>)<br>
<i>Tue, 23 Feb 1999 11:10:42 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#244">[ date ]</a><a href="index.html#244">[ thread ]</a><a href="subject.html#244">[ subject ]</a><a href="author.html#244">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">Theriault: "future support"</a>
<li> <b>Previous message:</b> <a href="0243.html">Ulrich Brachvogel: "backend for newer mustek-scsi-scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0162.html">Oliver Rauch: "Re: HIres DIN A3 scanner advice"</a>
<li> <b>Maybe reply:</b> <a href="0162.html">Oliver Rauch: "Re: HIres DIN A3 scanner advice"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am looking into purchasing an DIN A3 Scanner with<br>
at least 700x1400 optical resolution.<br>
<p>
Is Umax Mirage II SE supported? The web page just says "untested".<br>
Are there any scanners with higher (e.g. 800x1600 or 1200x2400)<br>
resolutions?<br>
<p>
<p>
<pre>
-- 
Robert Wilhelm
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">Theriault: "future support"</a>
<li> <b>Previous message:</b> <a href="0243.html">Ulrich Brachvogel: "backend for newer mustek-scsi-scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0162.html">Oliver Rauch: "Re: HIres DIN A3 scanner advice"</a>
<li> <b>Maybe reply:</b> <a href="0162.html">Oliver Rauch: "Re: HIres DIN A3 scanner advice"</a>
<!-- reply="end" -->
</ul>
