<!-- received="Sun Feb 28 16:04:27 1999 PST" -->
<!-- sent="Mon, 01 Mar 1999 01:02:18 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: 16-bit frames and interleaving" -->
<!-- id="" -->
<!-- inreplyto="16-bit frames and interleaving" -->
<title>sane-devel: Re: 16-bit frames and interleaving</title>
<h1>Re: 16-bit frames and interleaving</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 01 Mar 1999 01:02:18 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#252">[ date ]</a><a href="index.html#252">[ thread ]</a><a href="subject.html#252">[ subject ]</a><a href="author.html#252">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0253.html">Frank Becker: "Re: Logitech Scanners"</a>
<li> <b>Previous message:</b> <a href="0251.html">John Garrison: "SCSI not detected"</a>
<li> <b>Maybe in reply to:</b> <a href="0049.html">Tripp Lilley: "16-bit frames and interleaving"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<p>
<i>&gt;   Oliver&gt; What about gamma data upload to the backend?</i><br>
<i>&gt;</i><br>
<i>&gt; SANE_Int etc. are transferred in a byte-order independent fashion, so</i><br>
<i>&gt; stuff like gamma data should work just fine.  Only the image data is</i><br>
<i>&gt; special (due to efficiency considerations).</i><br>
<p>
Hi David,<br>
<p>
I don`t have the sane-specs in mind at that point, but I don`t understand<br>
why a 16-bit gamma upload to the scanner is byte-order independent and<br>
a 16-bit download from the backend to the frontend is must take care of the<br>
byte-order/transform it.<br>
<p>
Byt the way, I don`t think that it is good for efficency that that byte-order must be<br>
swapped twice sometimes:<br>
scanner-byte-order to backend-byte-order to frontend-byte-order.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0253.html">Frank Becker: "Re: Logitech Scanners"</a>
<li> <b>Previous message:</b> <a href="0251.html">John Garrison: "SCSI not detected"</a>
<li> <b>Maybe in reply to:</b> <a href="0049.html">Tripp Lilley: "16-bit frames and interleaving"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
