<!-- received="Sat Sep 20 11:57:03 1997 MST" -->
<!-- sent="Sat, 20 Sep 1997 13:11:05 -0500 (CDT)" -->
<!-- name="Mike Eckhoff" -->
<!-- email="meckhoff@zaphod.wayne.esu1.k12.ne.us" -->
<!-- subject="Color QuickCam and xscanimage" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Color QuickCam and xscanimage</title>
<h1>Color QuickCam and xscanimage</h1>
<b>Mike Eckhoff</b> (<a href="mailto:meckhoff@zaphod.wayne.esu1.k12.ne.us"><i>meckhoff@zaphod.wayne.esu1.k12.ne.us</i></a>)<br>
<i>Sat, 20 Sep 1997 13:11:05 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#1">[ date ]</a><a href="index.html#1">[ thread ]</a><a href="subject.html#1">[ subject ]</a><a href="author.html#1">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">Erik Nygren: "FYI: SANE backend for SGI IndyCam work-in-progress"</a>
<li> <b>Previous message:</b> <a href="0000.html">Henning Sauer: "UMAX Astra 1200S working with SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello!<br>
<p>
This seems to be the only SANE listserv that I have found yet, so I assume<br>
that it is for both developers and users as well?<br>
<p>
At any rate, I am having a 'hanging' problem with xscanimage.  If I scan<br>
an image with xscanimage, I can only get one scan before the software<br>
hangs.  Any try to scan again (or previes) causes the program to just sit<br>
there and it needs to be killed.  <br>
<p>
If I use the 'scanimage' program instead, I can scan as many images as I<br>
would like without a proble.  Also, if I kill xscanimage and go back into<br>
it, it will scan again (once) before hanging.<br>
<p>
Any ideas?<br>
<p>
I have tried this with both sane-0.63 and also sane-0.57 (just to give<br>
another ver a try).  My gtk+ is dated 970915.<br>
<p>
Thanks<br>
<p>
-me<br>
<p>
 +'^'+.,.+'^'+.,.+'^'+.,.+'^'+.,.+'^'+.,.+'^'+.,.+'^'+.,.+'^'+.,.+'^'+.,.+<br>
<p>
    Mike Eckhoff / Network Administrator / Wayne Public School District<br>
       KB0TPT		 <a href="http://www.wayne.esu1.k12.ne.us/~meckhoff/">http://www.wayne.esu1.k12.ne.us/~meckhoff/</a> <br>
<p>
	"Mike, don't ever call me again." - Swingers (the movie)<br>
<p>
 '`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'`'<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">Erik Nygren: "FYI: SANE backend for SGI IndyCam work-in-progress"</a>
<li> <b>Previous message:</b> <a href="0000.html">Henning Sauer: "UMAX Astra 1200S working with SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
