<!-- received="Mon Sep 29 19:36:06 1997 MST" -->
<!-- sent="Mon, 29 Sep 1997 20:53:06 +0100 (MET)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: Porting SANE" -->
<!-- id="m0xFlsQ-000BW2C@charon.beck-sw.de" -->
<!-- inreplyto="342FD72C.EC1899B0@hevanet.com" -->
<title>sane-devel: Re: Porting SANE</title>
<h1>Re: Porting SANE</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Mon, 29 Sep 1997 20:53:06 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#20">[ date ]</a><a href="index.html#20">[ thread ]</a><a href="subject.html#20">[ subject ]</a><a href="author.html#20">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Kazuhiro Sasayama: "Epson flatbed backend"</a>
<li> <b>Previous message:</b> <a href="0019.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek 600 II EP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; I'm working on porting SANE to OS/2, which is in great need of scanner</i><br>
<i>&gt; support.  Is there any objection to this?</i><br>
No. SANE was designed to be portable, and that OS/2 is not a Unix (though<br>
not too far away ;-) doesn't make a difference. We are very glad, if we can<br>
spread to more platforms. <br>
<p>
Actually I'd like somone to port SANE to M$ WinDoze =;-))) (*evil grin*)<br>
<p>
<i>&gt; I'm pretty much done with a first pass, with nearly all of the new code</i><br>
<i>&gt; being (of course) in sanei_scsi.c, where I'm using Daniel Dorau's "ASPI</i><br>
<i>&gt; Routing" driver (freeware) to communicate with the SCSI card.  I've also</i><br>
<i>&gt; managed to set up my environment so that "configure" works, and have</i><br>
<i>&gt; made some small changes to "configure.in" and "config.h.in".</i><br>
<p>
<i>&gt; I'm mainly interested in "scanimage", and already have it compiled and</i><br>
<i>&gt; running.  Still need to test it on an actual scanner.</i><br>
Great. Running with the pbm-backend right now ?<br>
<p>
<i>&gt; Is there a way to get my changes included in the "official" code?</i><br>
Sure. How big are your changes ? You should probably talk to David, who is <br>
maintaining the package. Try the EMail on the Webpage, I don't have it <br>
handy right now.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Kazuhiro Sasayama: "Epson flatbed backend"</a>
<li> <b>Previous message:</b> <a href="0019.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek 600 II EP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
