<!-- received="Fri Oct  3 22:55:01 1997 MST" -->
<!-- sent="Fri, 3 Oct 1997 22:46:36 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="welcome to sane-devel@mostang.com!" -->
<!-- id="199710040546.WAA05613@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: welcome to sane-devel@mostang.com!</title>
<h1>welcome to sane-devel@mostang.com!</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 3 Oct 1997 22:46:36 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#2">[ date ]</a><a href="index.html#2">[ thread ]</a><a href="subject.html#2">[ subject ]</a><a href="author.html#2">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Kevin Charter: "AGFA SnapScan backend"</a>
<li> <b>Previous message:</b> <a href="0001.html">Kazuhiro Sasayama: "Re: Epson flatbed backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Everyone,<br>
<p>
Well, after some blips that may have resulted in some unwanted<br>
messages to you (for which I apologize), I believe the new list at<br>
<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a> is now ready for business.  If you were<br>
subscribed to <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a> you should now be<br>
subscribed on this new list.  The new list is manged by majordomo, so<br>
to subscribe/unsubscribe, you'll have to send mail to<br>
<a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a> (send a mail containing "help" for a list of<br>
commands).<br>
<p>
The www and ftp sites have moved also:<br>
<p>
    <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a><br>
    <a href="ftp://ftp.mostang.com/pub/sane/">ftp://ftp.mostang.com/pub/sane/</a><br>
<p>
Let me know if you experience any problems!<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Kevin Charter: "AGFA SnapScan backend"</a>
<li> <b>Previous message:</b> <a href="0001.html">Kazuhiro Sasayama: "Re: Epson flatbed backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
