<!-- received="Tue Oct  7 09:44:41 1997 MST" -->
<!-- sent="07 Oct 1997 13:49:56 +0900" -->
<!-- name="Kazuhiro Sasayama" -->
<!-- email="kaz@hypercore.co.jp" -->
<!-- subject="xscanimage killed in free()" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage killed in free()</title>
<h1>xscanimage killed in free()</h1>
<b>Kazuhiro Sasayama</b> (<a href="mailto:kaz@hypercore.co.jp"><i>kaz@hypercore.co.jp</i></a>)<br>
<i>07 Oct 1997 13:49:56 +0900</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#15">[ date ]</a><a href="index.html#15">[ thread ]</a><a href="subject.html#15">[ subject ]</a><a href="author.html#15">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Ricardo Muggli: "libsane.so.0 error."</a>
<li> <b>Previous message:</b> <a href="0014.html">Patxi Larrayoz: "Solaris 2.5 &amp; Mustek MFS-8000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
xscanimage is sometimes killed in free() when options are<br>
reloaded.  It seems trying to free a freed memory.<br>
<p>
I hope this patch fixes it:<br>
<p>
Index: frontend/gtkglue.c<br>
===================================================================<br>
RCS file: /cvsroot/sane/sane/frontend/gtkglue.c,v<br>
retrieving revision 1.1.1.1<br>
diff -u -r1.1.1.1 gtkglue.c<br>
--- gtkglue.c	1997-09-30 11:09:47+09	1.1.1.1<br>
+++ gtkglue.c	1997-10-07 13:19:33+09<br>
@@ -825,6 +825,7 @@<br>
 	      if (elem-&gt;menu[j].label)<br>
 		free (elem-&gt;menu[j].label);<br>
 	  free (elem-&gt;menu);<br>
+	  elem-&gt;menu = NULL;<br>
 	}<br>
     }<br>
 }<br>
<p>
Excuse my not writing a ChangeLog entry.<br>
<p>
<pre>
-- 
Kaz Sasayama &lt;<a href="mailto:kaz@hypercore.co.jp">kaz@hypercore.co.jp</a>&gt;
* Hypercore Software Design, Ltd. &lt;URL:<a href="http://www.spice.or.jp/%7Ehypercor/">http://www.spice.or.jp/%7Ehypercor/</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Ricardo Muggli: "libsane.so.0 error."</a>
<li> <b>Previous message:</b> <a href="0014.html">Patxi Larrayoz: "Solaris 2.5 &amp; Mustek MFS-8000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
