<!-- received="Wed Oct  8 12:26:41 1997 MST" -->
<!-- sent="Tue, 07 Oct 1997 21:37:57 +0200 (MET DST)" -->
<!-- name="Henning Sauer" -->
<!-- email="hsauer@marnie.teuto.de" -->
<!-- subject="RE: libsane.so.0 error." -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.971006212438.32689A-100000@al.calvin.net" -->
<title>sane-devel: RE: libsane.so.0 error.</title>
<h1>RE: libsane.so.0 error.</h1>
<b>Henning Sauer</b> (<a href="mailto:hsauer@marnie.teuto.de"><i>hsauer@marnie.teuto.de</i></a>)<br>
<i>Tue, 07 Oct 1997 21:37:57 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#30">[ date ]</a><a href="index.html#30">[ thread ]</a><a href="subject.html#30">[ subject ]</a><a href="author.html#30">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">David Mosberger-Tang: "Re: segfault with sane-umax"</a>
<li> <b>Previous message:</b> <a href="0029.html">Peter Daum: "Re: segfault with sane-umax"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 07-Oct-97 Ricardo Muggli wrote:<br>
<p>
<i>&gt;Just in case this is distribution specific I am running Debian GNU/Linux</i><br>
<i>&gt;1.3.1</i><br>
<i>&gt;</i><br>
I had the same problem on my RedHat 4.2 Linux system!<br>
<p>
Bye,<br>
Henning<br>
<p>
----------------------------------<br>
E-Mail: Henning Sauer &lt;<a href="mailto:hsauer@marnie.teuto.de">hsauer@marnie.teuto.de</a>&gt;<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">David Mosberger-Tang: "Re: segfault with sane-umax"</a>
<li> <b>Previous message:</b> <a href="0029.html">Peter Daum: "Re: segfault with sane-umax"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
