<!-- received="Wed Oct  8 13:08:54 1997 MST" -->
<!-- sent="Wed, 8 Oct 1997 13:08:52 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@mostang.com" -->
<!-- subject="Re: segfault with sane-umax" -->
<!-- id="199710082008.NAA07229@panda.mostang.com" -->
<!-- inreplyto="segfault with sane-umax" -->
<title>sane-devel: Re: segfault with sane-umax</title>
<h1>Re: segfault with sane-umax</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@mostang.com"><i>davidm@mostang.com</i></a>)<br>
<i>Wed, 8 Oct 1997 13:08:52 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#31">[ date ]</a><a href="index.html#31">[ thread ]</a><a href="subject.html#31">[ subject ]</a><a href="author.html#31">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Peter Daum: "Re: segfault with sane-umax"</a>
<li> <b>Previous message:</b> <a href="0030.html">Henning Sauer: "RE: libsane.so.0 error."</a>
<li> <b>Maybe in reply to:</b> <a href="0024.html">Iain O'Cain: "segfault with sane-umax"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0032.html">Peter Daum: "Re: segfault with sane-umax"</a>
<li> <b>Reply:</b> <a href="0032.html">Peter Daum: "Re: segfault with sane-umax"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; In a message titled "segfault with sane-umax", Iain O'Cain</i><br>
<i>&gt; &lt;<a href="mailto:ec@intranet.org">ec@intranet.org</a>&gt; described his problems with scanimage crashing</i><br>
<i>&gt; with segfaults. I have the same problems (I wont repeat the</i><br>
<i>&gt; detailed description, since the symptoms are exactly as describe</i><br>
<i>&gt; there)</i><br>
<i>&gt;</i><br>
<i>&gt; I use a umax ASTRA 1200S scanner, which works fine with the</i><br>
<i>&gt; standalone "umax-cli" program by Michael K. Johnson</i><br>
<i>&gt; &lt;<a href="mailto:johnsonm@redhat.com">johnsonm@redhat.com</a>&gt; and Oliver Rauch</i><br>
<i>&gt; &lt;<a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>&gt;.</i><br>
<i>&gt;</i><br>
<i>&gt; I tried to locate the error- it seems like the crash occurs not</i><br>
<i>&gt; in scanimage itself, but in the c library when the program exits.</i><br>
<i>&gt; It looks like free is being called with an invalid address. The</i><br>
<i>&gt; crash occurs with libc 5.4.33 as well as 5.4.38. With an ancient</i><br>
<i>&gt; library version (5.0.9) scanimage and xscanimage work.</i><br>
<i>&gt;</i><br>
<i>&gt; Maybe somebody can make any sense of this and figure out what's</i><br>
<i>&gt; going wrong...</i><br>
<p>
I have the nagging suspicion that something is going wrong with the<br>
build of shared libraries.  Maybe something changed in libtool<br>
unbeknownst to me.  What I'm suspecting is that when the UMAX backend<br>
calls sane_exit(), it gets resolved to the sane_exit() in dll.c<br>
instead of the one in umax.c.<br>
<p>
Can you try building SANE statically (invoke configure with<br>
--disable-shared) and see how that goes?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Peter Daum: "Re: segfault with sane-umax"</a>
<li> <b>Previous message:</b> <a href="0030.html">Henning Sauer: "RE: libsane.so.0 error."</a>
<li> <b>Maybe in reply to:</b> <a href="0024.html">Iain O'Cain: "segfault with sane-umax"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0032.html">Peter Daum: "Re: segfault with sane-umax"</a>
<li> <b>Reply:</b> <a href="0032.html">Peter Daum: "Re: segfault with sane-umax"</a>
<!-- reply="end" -->
</ul>
