<!-- received="Fri Oct 10 06:37:26 1997 MST" -->
<!-- sent="Fri, 10 Oct 1997 15:37:19 +0200 (METDST)" -->
<!-- name="Per Harald Myrvang" -->
<!-- email="Per.Harald.Myrvang@cc.uit.no" -->
<!-- subject=""strange" things with SANE on IRIX 5.3" -->
<!-- id="199710101337.PAA19846@esme.cc.uit.no" -->
<!-- inreplyto="" -->
<title>sane-devel: "strange" things with SANE on IRIX 5.3</title>
<h1>"strange" things with SANE on IRIX 5.3</h1>
<b>Per Harald Myrvang</b> (<a href="mailto:Per.Harald.Myrvang@cc.uit.no"><i>Per.Harald.Myrvang@cc.uit.no</i></a>)<br>
<i>Fri, 10 Oct 1997 15:37:19 +0200 (METDST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#48">[ date ]</a><a href="index.html#48">[ thread ]</a><a href="subject.html#48">[ subject ]</a><a href="author.html#48">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Oliver.Rauch@Wolfsburg.DE: "Re: segfault with sane-umax"</a>
<li> <b>Previous message:</b> <a href="0047.html">Vance Stith: "xscanimage problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0058.html">becka@rz.uni-duesseldorf.de: "Re: "strange" things with SANE on IRIX 5.3"</a>
<li> <b>Reply:</b> <a href="0058.html">becka@rz.uni-duesseldorf.de: "Re: "strange" things with SANE on IRIX 5.3"</a>
<li> <b>Reply:</b> <a href="0075.html">Michael Sweet: "Re: "strange" things with SANE on IRIX 5.3"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello!<br>
<p>
I'm posting this just to see if anyone else have seen these errors/warnings.<br>
Recap: I am currently attempting to get a Nikon LS-1000 to work with SANE,<br>
along with Didier Carlier (who has a LS-20). I've hooked it up to a SGI Indy<br>
running Irix 5.3. So what's the problem? Well, the syslog gets filled with<br>
messages like these:<br>
<p>
  Oct  8 17:23:09 4A:unix: WARNING: wd93 SCSI Bus=0 ID=5 LUN=0:  I/O address<br>
    8b95c7f2 not correctly aligned, can't DMA<br>
  Oct  8 17:23:09 2A:unix: <br>
  Oct  8 17:23:09 4A:unix: WARNING: wd93 SCSI Bus=0 ID=5 LUN=0:  I/O address<br>
    8b95c7f2 not correctly aligned, can't DMA<br>
  Oct  8 17:23:09 2A:unix: <br>
  Oct  8 17:23:11 4A:unix: WARNING: wd93 SCSI Bus=0 ID=5 LUN=0:  I/O address<br>
    8b95c7f2 not correctly aligned, can't DMA<br>
<p>
I can't find anything dead wrong in sanei-scsi. Am I having a problem, or what?<br>
<p>
As usual, any and all input is appreciated!<br>
<p>
<pre>
--
Per Harald Myrvang
<a href="mailto:perm@cc.uit.no">perm@cc.uit.no</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Oliver.Rauch@Wolfsburg.DE: "Re: segfault with sane-umax"</a>
<li> <b>Previous message:</b> <a href="0047.html">Vance Stith: "xscanimage problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0058.html">becka@rz.uni-duesseldorf.de: "Re: "strange" things with SANE on IRIX 5.3"</a>
<li> <b>Reply:</b> <a href="0058.html">becka@rz.uni-duesseldorf.de: "Re: "strange" things with SANE on IRIX 5.3"</a>
<li> <b>Reply:</b> <a href="0075.html">Michael Sweet: "Re: "strange" things with SANE on IRIX 5.3"</a>
<!-- reply="end" -->
</ul>
