<!-- received="Sat Oct 11 12:36:42 1997 MST" -->
<!-- sent="Fri, 11 Oct 1996 21:34:49 +0200" -->
<!-- name="ESCRIVA Xavier" -->
<!-- email="escriva@lm2f.ups-tlse.fr" -->
<!-- subject="Agfa StudioStar" -->
<!-- id="325EA159.3B449813@lm2f.ups-tlse.fr" -->
<!-- inreplyto="" -->
<title>sane-devel: Agfa StudioStar</title>
<h1>Agfa StudioStar</h1>
<b>ESCRIVA Xavier</b> (<a href="mailto:escriva@lm2f.ups-tlse.fr"><i>escriva@lm2f.ups-tlse.fr</i></a>)<br>
<i>Fri, 11 Oct 1996 21:34:49 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#66">[ date ]</a><a href="index.html#66">[ thread ]</a><a href="subject.html#66">[ subject ]</a><a href="author.html#66">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">David Mosberger-Tang: "Re: Agfa StudioStar"</a>
<li> <b>Previous message:</b> <a href="0065.html">Oliver.Rauch@Wolfsburg.DE: "Re: segfault with sane-umax"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0067.html">David Mosberger-Tang: "Re: Agfa StudioStar"</a>
<li> <b>Reply:</b> <a href="0067.html">David Mosberger-Tang: "Re: Agfa StudioStar"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
 I was wondering if tha Agfa Studiostar scanner is supported in the<br>
current version of Sane or maybe one of the listed driver is compatible<br>
with the machine i use. If you have any hint about it please tell me so<br>
. Thanks !<br>
	Xavier<br>
<pre>
-- 
Xavier ESCRIVA
UFR MIG Bat 1R2                      Tel: 05 61 55 82 33
118 route de Narbonne                <a href="mailto:escriva@lm2f.ups-tlse.fr">mailto:escriva@lm2f.ups-tlse.fr</a>
31062 Toulouse cedex France
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">David Mosberger-Tang: "Re: Agfa StudioStar"</a>
<li> <b>Previous message:</b> <a href="0065.html">Oliver.Rauch@Wolfsburg.DE: "Re: segfault with sane-umax"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0067.html">David Mosberger-Tang: "Re: Agfa StudioStar"</a>
<li> <b>Reply:</b> <a href="0067.html">David Mosberger-Tang: "Re: Agfa StudioStar"</a>
<!-- reply="end" -->
</ul>
