<!-- received="Wed Oct 15 12:04:23 1997 MST" -->
<!-- sent="Wed, 15 Oct 1997 12:04:19 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: dlh?" -->
<!-- id="199710151904.MAA04327@panda.mostang.com" -->
<!-- inreplyto="19971015145129.62126@zorak.gsfc.nasa.gov" -->
<title>sane-devel: Re: dlh?</title>
<h1>Re: dlh?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 15 Oct 1997 12:04:19 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#79">[ date ]</a><a href="index.html#79">[ thread ]</a><a href="subject.html#79">[ subject ]</a><a href="author.html#79">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Mark Cornick: "Re: dlh?"</a>
<li> <b>Previous message:</b> <a href="0078.html">Mark Cornick: "dlh?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0080.html">Mark Cornick: "Re: dlh?"</a>
<li> <b>Reply:</b> <a href="0080.html">Mark Cornick: "Re: dlh?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--ZTM0TGnaiy<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 15 Oct 1997 14:51:29 -0400, Mark Cornick &lt;<a href="mailto:msc@zorak.gsfc.nasa.gov">msc@zorak.gsfc.nasa.gov</a>&gt; said:</i><br>
<p>
  Mark&gt; I'm trying to build RPMs for Linux/i386 using David's source<br>
  Mark&gt; RPM. Just after the TeX documentation is generated, it's<br>
  Mark&gt; trying to run something called "dlh" on the TeX output. What<br>
  Mark&gt; is dlh, and where can I get it?<br>
<p>
dlh == David's LaTeX-to-HTML translator.  It's available from:<br>
<p>
    <a href="ftp://ftp.cs.arizona.edu/dlh/">ftp://ftp.cs.arizona.edu/dlh/</a><br>
<p>
and should compile and install cleanly and easily on any recent Linux<br>
box (and many other Linux platforms).<br>
<p>
Caveat: just after uploading sane-0.66, I discovered an error in the<br>
specs file.  A revised version is appended below.  Could you try<br>
building an RPM with this new file and let me know how it goes?<br>
<p>
Also, I'd be glad to install binary releases of SANE on my ftp site.<br>
If you build a new binary release, just mail me the relevant file(s)<br>
in an appropriate encoding (uuencode or base-64) and I'll install it.<br>
<p>
	--david<br>
<p>
<p>
--ZTM0TGnaiy<br>
Content-Type: text/plain<br>
Content-Description: revised spec file for 0.66<br>
Content-Disposition: inline;<br>
	filename="sane-0.66.spec"<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Summary: SANE -- Easy local and networked scanner access<br>
Name: sane<br>
Version: 0.66<br>
Release: 1<br>
Copyright: GPL (programs), relaxed LGPL (libraries), and public domain (docs)<br>
Group: X11/Applications/Graphics<br>
Source: <a href="ftp://ftp.mostang.com/pub/sane/sane-0.66.tar.gz">ftp://ftp.mostang.com/pub/sane/sane-0.66.tar.gz</a><br>
# Patch: sane-0.56-lpath.patch<br>
Provides: libsane.so<br>
<p>
%description<br>
SANE (Scanner Access Now Easy) is a sane and simple interface to both<br>
local and networked scanners and other image acquisition devices like<br>
digital still and video cameras.  SANE currently includes modules for<br>
accessing Epson, HP, Microtek, Mustek, PINT and UMAX scanners, Color<br>
QuickCams, and other SANE devices via network.<br>
<p>
For the latest information on SANE, the SANE standard definition, and<br>
mailing list access, see <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a><br>
<p>
This package does not enable network scanning by default; if you wish<br>
to enable it, read the saned(1) manpage.<br>
<p>
%package devel<br>
Summary: SANE (Scanner Access Now Easy) development toolkit<br>
Group: X11/Applications/Graphics<br>
%description devel<br>
Static libraries and header files for writing SANE modules.<br>
<p>
%prep<br>
%setup<br>
#%patch -p1 -b .lpath<br>
<p>
%build<br>
./configure --prefix=/usr --sysconfdir=/etc<br>
make CFLAGS=-O2<br>
(cd doc<br>
 make docs<br>
)<br>
<p>
%install<br>
rm -rf /etc/sane.d<br>
make install<br>
mv /usr/sbin/saned /usr/sbin/in.saned<br>
<p>
# fix ldconfig brokenness...<br>
(cd /usr/lib<br>
 ln -s libsane-dll.la libsane.la<br>
 rm libsane-dll.so<br>
 ln -s libsane-dll.so.0 libsane-dll.so<br>
 rm libsane-epson.so<br>
 ln -s libsane-epson.so.0 libsane-epson.so<br>
 rm libsane-hp.so<br>
 ln -s libsane-hp.so.0 libsane-hp.so<br>
 rm libsane-microtek.so<br>
 ln -s libsane-microtek.so.0 libsane-microtek.so<br>
 rm libsane-mustek.so<br>
 ln -s libsane-mustek.so.0 libsane-mustek.so<br>
 rm libsane-net.so<br>
 ln -s libsane-net.so.0 libsane-net.so<br>
 rm libsane-pnm.so<br>
 ln -s libsane-pnm.so.0 libsane-pnm.so<br>
# rm libsane-pint.so<br>
# ln -s libsane-pint.so.0 libsane-pint.so<br>
 rm libsane-qcam.so<br>
 ln -s libsane-qcam.so.0 libsane-qcam.so<br>
)<br>
/sbin/ldconfig<br>
<p>
%post<br>
/sbin/ldconfig<br>
# if gimp is installed, install xscan as an extension with a symlink<br>
# This probably wants RPM triggers to work right.<br>
<p>
%files<br>
%config /etc/sane.d/*<br>
/usr/bin/scanimage<br>
/usr/bin/xscanimage<br>
/usr/bin/xcam<br>
/usr/sbin/in.saned<br>
/usr/lib/libsane-dll.la<br>
/usr/lib/libsane-dll.so<br>
/usr/lib/libsane-dll.so.0.0.66<br>
/usr/lib/libsane-epson.la<br>
/usr/lib/libsane-epson.so<br>
/usr/lib/libsane-epson.so.0.0.66<br>
/usr/lib/libsane-hp.la<br>
/usr/lib/libsane-hp.so<br>
/usr/lib/libsane-hp.so.0.0.66<br>
/usr/lib/libsane-microtek.la<br>
/usr/lib/libsane-microtek.so<br>
/usr/lib/libsane-microtek.so.0.0.66<br>
/usr/lib/libsane-mustek.la<br>
/usr/lib/libsane-mustek.so<br>
/usr/lib/libsane-mustek.so.0.0.66<br>
/usr/lib/libsane-net.la<br>
/usr/lib/libsane-net.so<br>
/usr/lib/libsane-net.so.0.0.66<br>
/usr/lib/libsane-pnm.la<br>
/usr/lib/libsane-pnm.so<br>
/usr/lib/libsane-pnm.so.0.0.66<br>
#/usr/lib/libsane-pint.la<br>
#/usr/lib/libsane-pint.so<br>
#/usr/lib/libsane-pint.so.0.0.66<br>
/usr/lib/libsane-qcam.la<br>
/usr/lib/libsane-qcam.so<br>
/usr/lib/libsane-qcam.so.0.0.66<br>
/usr/lib/libsane.so<br>
/usr/lib/libsane.so.0.0.66<br>
%doc doc/*.ps doc/sane doc/icons<br>
/usr/man/man1/saned.1<br>
/usr/man/man1/scanimage.1<br>
/usr/man/man1/xscanimage.1<br>
/usr/man/man5/sane-dll.5<br>
/usr/man/man5/sane-epson.5<br>
/usr/man/man5/sane-hp.5<br>
/usr/man/man5/sane-mustek.5<br>
/usr/man/man5/sane-net.5<br>
#/usr/man/man5/sane-pint.5<br>
/usr/man/man5/sane-pnm.5<br>
/usr/man/man5/sane-qcam.5<br>
/usr/man/man5/sane-scsi.5<br>
/usr/man/man5/sane-umax.5<br>
<p>
%files devel<br>
/usr/include/sane<br>
/usr/lib/libsane-dll.a<br>
/usr/lib/libsane-epson.a<br>
/usr/lib/libsane-hp.a<br>
/usr/lib/libsane-net.a<br>
/usr/lib/libsane-mustek.a<br>
/usr/lib/libsane-microtek.a<br>
/usr/lib/libsane-pnm.a<br>
#/usr/lib/libsane-pint.a<br>
/usr/lib/libsane-qcam.a<br>
/usr/lib/libsane.a<br>
<p>
--ZTM0TGnaiy--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Mark Cornick: "Re: dlh?"</a>
<li> <b>Previous message:</b> <a href="0078.html">Mark Cornick: "dlh?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0080.html">Mark Cornick: "Re: dlh?"</a>
<li> <b>Reply:</b> <a href="0080.html">Mark Cornick: "Re: dlh?"</a>
<!-- reply="end" -->
</ul>
