<!-- received="Thu Oct 16 07:37:55 1997 MST" -->
<!-- sent="Thu, 16 Oct 1997 22:43:32 +0800" -->
<!-- name="Thomason Fan" -->
<!-- email="thomason@hkstar.com" -->
<!-- subject="Problem building sane on FreeBSD 2.2.2" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Problem building sane on FreeBSD 2.2.2</title>
<h1>Problem building sane on FreeBSD 2.2.2</h1>
<b>Thomason Fan</b> (<a href="mailto:thomason@hkstar.com"><i>thomason@hkstar.com</i></a>)<br>
<i>Thu, 16 Oct 1997 22:43:32 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#84">[ date ]</a><a href="index.html#84">[ thread ]</a><a href="subject.html#84">[ subject ]</a><a href="author.html#84">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Peter Daum: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0083.html">David Mosberger-Tang: "gtk-970925 fix"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
While building sane-0.66, got the following messages:<br>
<p>
.<br>
.<br>
.<br>
.<br>
<p>
libtool: link: warning: using a buggy system linker<br>
libtool: link: relinking will be reqired before `scanimage' can be<br>
installed<br>
.<br>
.<br>
.<br>
.<br>
.<br>
libtool: link: warning: using a buggy system linker<br>
libtool: link: relinking will be reqired before `saned' can be installed<br>
.<br>
.<br>
.<br>
Any Ideas ?<br>
<p>
Thanks in advance,<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Peter Daum: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0083.html">David Mosberger-Tang: "gtk-970925 fix"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
