<!-- received="Thu Oct 16 18:58:32 1997 MST" -->
<!-- sent="Thu, 16 Oct 1997 18:58:27 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Problem building sane on FreeBSD 2.2.2" -->
<!-- id="199710170158.SAA05696@panda.mostang.com" -->
<!-- inreplyto="34462814.167EB0E7@hkstar.com" -->
<title>sane-devel: Re: Problem building sane on FreeBSD 2.2.2</title>
<h1>Re: Problem building sane on FreeBSD 2.2.2</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 16 Oct 1997 18:58:27 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#91">[ date ]</a><a href="index.html#91">[ thread ]</a><a href="subject.html#91">[ subject ]</a><a href="author.html#91">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">David Mosberger-Tang: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0090.html">David Mosberger-Tang: "Re: sane-devel@mostang.com"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0093.html">Billy the expert skier!: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<li> <b>Reply:</b> <a href="0093.html">Billy the expert skier!: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 16 Oct 1997 22:43:32 +0800, Thomason Fan &lt;<a href="mailto:thomason@hkstar.com">thomason@hkstar.com</a>&gt; said:</i><br>
<p>
  Thomason&gt; Hello,<br>
  Thomason&gt; While building sane-0.66, got the following messages:<br>
<p>
  Thomason&gt; libtool: link: warning: using a buggy system linker<br>
  Thomason&gt; libtool: link: relinking will be reqired before `scanimage' can be<br>
  Thomason&gt; installed<br>
<p>
No idea.  But it's a warning, so I'd think you're OK.  Any FreeBSD<br>
experts out there?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">David Mosberger-Tang: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0090.html">David Mosberger-Tang: "Re: sane-devel@mostang.com"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0093.html">Billy the expert skier!: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<li> <b>Reply:</b> <a href="0093.html">Billy the expert skier!: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<!-- reply="end" -->
</ul>
