<!-- received="Tue Oct 21 11:28:44 1997 MST" -->
<!-- sent="Tue, 21 Oct 1997 13:28:30 -0500 (EST)" -->
<!-- name="Tom Lee" -->
<!-- email="tjlee@kiva.net" -->
<!-- subject="Having same umax problem" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Having same umax problem</title>
<h1>Having same umax problem</h1>
<b>Tom Lee</b> (<a href="mailto:tjlee@kiva.net"><i>tjlee@kiva.net</i></a>)<br>
<i>Tue, 21 Oct 1997 13:28:30 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#117">[ date ]</a><a href="index.html#117">[ thread ]</a><a href="subject.html#117">[ subject ]</a><a href="author.html#117">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">Klaus Weglehner: "Re: Mustek600IICD / lost lines"</a>
<li> <b>Previous message:</b> <a href="0116.html">Adam Rothschild: "Re: (fwd) Plustek Driver Development: I have some source! (fwd)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
	I just wanted to report that I have the same problem using xscanimage<br>
with a umax scanner. <br>
<p>
	I ran it through xxgdb, and although I don't have debugging info<br>
everywhere, I get enough information to know that it is the same problem<br>
that has been reported by others:<br>
<p>
Program received signal SIGSEGV, Segmentation fault.<br>
0x40074a5d in gtk_real_widget_queue_draw (widget=0x80868f0) at gtkwidget.c:2813<br>
<p>
	If indeed this is a result of SANE v0.66 being compatible with the<br>
wrong version of gtk+ (I have the latest one as of this date, gtk+970925), is<br>
this going to be fixed anytime soon? <br>
<p>
	I tried applying the patches to gtk+ that I found at ftp.gimp.org, but<br>
they only resulted in more errors, so I returned to the distributed version of<br>
gtk+.  Meanwhile I'm using the "plain" umax scanner driver, umax-0.5.6, and it<br>
seems to work fine.<br>
<p>
<pre>
--
Tom Lee (<a href="mailto:tjlee@kiva.net">tjlee@kiva.net</a>)
Project Manager (Software Development)
Kiva Networking, Bloomington, Indiana
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">Klaus Weglehner: "Re: Mustek600IICD / lost lines"</a>
<li> <b>Previous message:</b> <a href="0116.html">Adam Rothschild: "Re: (fwd) Plustek Driver Development: I have some source! (fwd)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
