<!-- received="Thu Oct 23 12:22:10 1997 MST" -->
<!-- sent="Thu, 23 Oct 1997 21:21:29 +0200" -->
<!-- name="Joachim Woll" -->
<!-- email="woll@physik.uni-kassel.de" -->
<!-- subject="Mustek 1200SP: Missing Lines" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek 1200SP: Missing Lines</title>
<h1>Mustek 1200SP: Missing Lines</h1>
<b>Joachim Woll</b> (<a href="mailto:woll@physik.uni-kassel.de"><i>woll@physik.uni-kassel.de</i></a>)<br>
<i>Thu, 23 Oct 1997 21:21:29 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#120">[ date ]</a><a href="index.html#120">[ thread ]</a><a href="subject.html#120">[ subject ]</a><a href="author.html#120">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Joerg Diederich: "Dark scans with HP ScanJet 3c"</a>
<li> <b>Previous message:</b> <a href="0119.html">Phil Risby: "Relisys?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0127.html">Michael K. Johnson: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Reply:</b> <a href="0127.html">Michael K. Johnson: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Reply:</b> <a href="0159.html">Joachim Woll: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Reply:</b> <a href="0167.html">Joachim Woll: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Reply:</b> <a href="0174.html">Joachim Woll: "Re: Mustek 1200SP: Missing Lines"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Everyone,<br>
<p>
I just recently subscribed to this mailing list, so I hope this is the<br>
right address<br>
to post a message.<br>
<p>
My Problem is as follows:<br>
The Mustek 1200SP scanner was shipped with the DTC436E SCSI-Card.<br>
I was not able to get this card working on my system (Suse Linux 5.0,<br>
Kernel 2.0.30).<br>
Unfortunately the kernel-patch mentioned in sane-scsi did not work with<br>
this<br>
card. The error is just the missing recognition of the scsi-host. The<br>
generic SCSI<br>
mudule died while modprobing, and because all SCSI-Devices including the<br>
Harddisks<br>
are blocked,  the hole system died.<br>
Since my System contains an AHA2940 with two SCSI-Harddiskdrives I then<br>
connected my Mustek 1200SP  (Where can I get the Revision Number?)<br>
through a<br>
SCSI II -&gt; SCSI interfacecable to that Adaptech-Controler.<br>
The scanner was then found by the Generic SCSI-Module. Everything looked<br>
fine,<br>
but there are some missing lines in the Grey-Mode In Color-Mode there<br>
are some<br>
horizontal stripes.<br>
These problems are described in sane-mustek, but applying the fixes<br>
through mustek.conf<br>
did not change anything.<br>
After this I enlarged the SCSI-Cache as described in sane-scsi. The<br>
missing lines<br>
are still there, but  there were more before changing the scsi-cache.<br>
So I guess that Problem is due to a corrupt data-transfer because of a<br>
timing problem or so.<br>
<p>
I hope anyone can help me getting the Scanner do, what it is supposed to<br>
do?<br>
I guess another SCSI-Controller would help, but first of all I am<br>
interested in getting<br>
the scanner work without buying new hardware...<br>
Thanks,<br>
   Joachim Woll<br>
<p>
Feel free contacting me directly to <a href="mailto:woll@physik.uni-kassel.de">woll@physik.uni-kassel.de</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Joerg Diederich: "Dark scans with HP ScanJet 3c"</a>
<li> <b>Previous message:</b> <a href="0119.html">Phil Risby: "Relisys?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0127.html">Michael K. Johnson: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Reply:</b> <a href="0127.html">Michael K. Johnson: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Reply:</b> <a href="0159.html">Joachim Woll: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Reply:</b> <a href="0167.html">Joachim Woll: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Reply:</b> <a href="0174.html">Joachim Woll: "Re: Mustek 1200SP: Missing Lines"</a>
<!-- reply="end" -->
</ul>
