<!-- received="Sat Oct 25 17:08:14 1997 MST" -->
<!-- sent="Sat, 25 Oct 1997 20:08:02 -0400" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: can't get microtek E3 recognized" -->
<!-- id="199710260008.UAA27967@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="can't get microtek E3 recognized" -->
<title>sane-devel: Re: can't get microtek E3 recognized</title>
<h1>Re: can't get microtek E3 recognized</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Sat, 25 Oct 1997 20:08:02 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#135">[ date ]</a><a href="index.html#135">[ thread ]</a><a href="subject.html#135">[ subject ]</a><a href="author.html#135">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0136.html">Peter Daum: "umax &amp; gtk+-971025 (Re: forwarded message from Federico Mena)"</a>
<li> <b>Previous message:</b> <a href="0134.html">jerome marchand: "can't get microtek E3 recognized"</a>
<li> <b>Maybe in reply to:</b> <a href="0134.html">jerome marchand: "can't get microtek E3 recognized"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hmm... from that, it's hard to tell what failed.<br>
<p>
Make sure debugging is on ("setenv SANE_DEBUG_MICROTEK 128"), and send a log<br>
 of the output after that, along with the command line you used to start the<br>
 program, a little information on your system, etc.<br>
<p>
<p>
-Matt M.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0136.html">Peter Daum: "umax &amp; gtk+-971025 (Re: forwarded message from Federico Mena)"</a>
<li> <b>Previous message:</b> <a href="0134.html">jerome marchand: "can't get microtek E3 recognized"</a>
<li> <b>Maybe in reply to:</b> <a href="0134.html">jerome marchand: "can't get microtek E3 recognized"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
