<!-- received="Thu Oct 30 21:56:32 1997 PST" -->
<!-- sent="Thu, 30 Oct 1997 21:34:08 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: SANE mailinglist subscription" -->
<!-- id="199710310534.VAA14406@panda.mostang.com" -->
<!-- inreplyto="199710281621.RAA05859@rt80w.rfd" -->
<title>sane-devel: Re: SANE mailinglist subscription</title>
<h1>Re: SANE mailinglist subscription</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 30 Oct 1997 21:34:08 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#160">[ date ]</a><a href="index.html#160">[ thread ]</a><a href="subject.html#160">[ subject ]</a><a href="author.html#160">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">David Mosberger-Tang: "Re: Nikon LS 1000"</a>
<li> <b>Previous message:</b> <a href="0159.html">Joachim Woll: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>In reply to:</b> <a href="0152.html">Peter Braitsch: "SANE mailinglist subscription"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 28 Oct 1997 17:21:51 +0100, <a href="mailto:eddpb@edd.ericsson.se">eddpb@edd.ericsson.se</a> (Peter Braitsch) said:</i><br>
<p>
  Peter&gt; Hello, I was reading about the SANE-Project in the "iX<br>
  Peter&gt; Magazin" Nov97.  Could you please subscibe me to your<br>
  Peter&gt; SANE-mailinglist so that I can keep track on status of<br>
  Peter&gt; implementation?<br>
<p>
The mailing list is managed by majordomo.  To subscribe, just send a<br>
mail containing "subscribe sane-devel" to <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>.  If<br>
you're new to majordomo, you may also want to include a line<br>
containing "help" so you'll get a description of the available<br>
commands.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">David Mosberger-Tang: "Re: Nikon LS 1000"</a>
<li> <b>Previous message:</b> <a href="0159.html">Joachim Woll: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>In reply to:</b> <a href="0152.html">Peter Braitsch: "SANE mailinglist subscription"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
