<!-- received="Fri Oct 31 09:01:33 1997 PST" -->
<!-- sent="Fri, 31 Oct 1997 00:18:58 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: problems with SANE 0.66" -->
<!-- id="199710302318.AAA00231@Babylon5.wolfsburg.de" -->
<!-- inreplyto="19971030232613.07c61b39.in@mail.sz-online.de" -->
<title>sane-devel: Re: problems with SANE 0.66</title>
<h1>Re: problems with SANE 0.66</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Fri, 31 Oct 1997 00:18:58 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#170">[ date ]</a><a href="index.html#170">[ thread ]</a><a href="subject.html#170">[ subject ]</a><a href="author.html#170">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Previous message:</b> <a href="0169.html">Michiel Toneman: "Re: problems with SANE 0.66"</a>
<li> <b>In reply to:</b> <a href="0158.html">Dirk Schvnberger: "problems with SANE 0.66"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; mknod -m 660 /dev/sge c 21 6</i><br>
<p>
If the scanner is your only scsi-device, it is<br>
/dev/sga<br>
<p>
<i>&gt; crw-rw----   1 root     root      21,   6 Oct 29 21:12 /dev/sge</i><br>
If you want to use the scanner as "not-root", you should have<br>
crw-rw-rw-<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Previous message:</b> <a href="0169.html">Michiel Toneman: "Re: problems with SANE 0.66"</a>
<li> <b>In reply to:</b> <a href="0158.html">Dirk Schvnberger: "problems with SANE 0.66"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
