<!-- received="Mon Dec  6 08:38:24 1999 PST" -->
<!-- sent="Mon, 6 Dec 1999 11:38:29 EST" -->
<!-- name="PAILOTT@aol.com" -->
<!-- email="PAILOTT@aol.com" -->
<!-- subject="Re: UMAX Astra 1200S seems to hang on all commands" -->
<!-- id="" -->
<!-- inreplyto="UMAX Astra 1200S seems to hang on all commands" -->
<title>sane-devel: Re: UMAX Astra 1200S seems to hang on all commands</title>
<h1>Re: UMAX Astra 1200S seems to hang on all commands</h1>
<a href="mailto:PAILOTT@aol.com"><i>PAILOTT@aol.com</i></a><br>
<i>Mon, 6 Dec 1999 11:38:29 EST</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Oliver Rauch: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Previous message:</b> <a href="0062.html">Klaas Freitag: "Re: snapscan300-warum nicht?"</a>
<li> <b>Maybe in reply to:</b> <a href="0059.html">Nathan Kennedy: "UMAX Astra 1200S seems to hang on all commands"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0064.html">Oliver Rauch: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Can't help you but my 1220S works great so keep trying. Hopefully your 1200 wil be running just as well soon. I'm sure some kind soul out there will help you out. Congrats at almost removing windoz...<br>
<p>
<a href="mailto:Pailott@aol.com">Pailott@aol.com</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Oliver Rauch: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Previous message:</b> <a href="0062.html">Klaas Freitag: "Re: snapscan300-warum nicht?"</a>
<li> <b>Maybe in reply to:</b> <a href="0059.html">Nathan Kennedy: "UMAX Astra 1200S seems to hang on all commands"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0064.html">Oliver Rauch: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<!-- reply="end" -->
</ul>
