<!-- received="Tue Dec 14 14:32:24 1999 PST" -->
<!-- sent="Tue, 14 Dec 1999 23:32:04 -0000 (/etc/localtime" -->
<!-- name="marcel pol" -->
<!-- email="mpol@gmx.net" -->
<!-- subject="Re: Microtek Pagewizard support?" -->
<!-- id="" -->
<!-- inreplyto="19991201130352.5959.qmail@aquila.muc.de" -->
<title>sane-devel: Re: Microtek Pagewizard support?</title>
<h1>Re: Microtek Pagewizard support?</h1>
<b>marcel pol</b> (<a href="mailto:mpol@gmx.net"><i>mpol@gmx.net</i></a>)<br>
<i>Tue, 14 Dec 1999 23:32:04 -0000 (/etc/localtime</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#103">[ date ]</a><a href="index.html#103">[ thread ]</a><a href="subject.html#103">[ subject ]</a><a href="author.html#103">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Brian Flachs: "xscanimage hangs when scanner is power cycled"</a>
<li> <b>Previous message:</b> <a href="0102.html">Dick Streefland: "Re: [patch] support for Ricoh IS50"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
<p>
Marcel Pol wrote:<br>
<i>&gt;&gt; It gives a line: "model 0x53 not supported".</i><br>
<p>
Bernd Schroeder wrote:<br>
<i>&gt; I have uploaded an experimental version of the backend to</i><br>
<i>&gt;  <a href="ftp://ftp.muc.de/people/bernds/mtek2/microtek2.pwtest.c.gz">ftp://ftp.muc.de/people/bernds/mtek2/microtek2.pwtest.c.gz</a> </i><br>
<i>&gt; You will have to unzip this file and copy it over the old microtek2.c file,</i><br>
<i>&gt; and then recompile and reinstall sane. The backend will then print</i><br>
<i>&gt; the scanner attributes to stderr, if 'option dump 1' is set in the</i><br>
<i>&gt; configuration file microtek2.conf or it will possibly hang your system.</i><br>
<p>
I do not know if I have done this the right way, so tell me if not.<br>
I placed the sourses of SANE in /usr/src/packages/SOURCES, those were<br>
the sources from the SANE homepage, version 1.0.1.<br>
<p>
I gave the command "tar xvzf /usr/src/packages/SOURCES/sane-1.0.1.tar.gz".<br>
This command extracted the sources to /usr/src/packages/SOURCES/sane-1.0.1/.<br>
I gave the command "cd /usr/src/packages/SOURCES/sane-1.0.1"<br>
I gave the command "make".<br>
This command compiled.<br>
I gave the command "make install".<br>
This command installed.<br>
<p>
That succeeded and I copied the test-file over the old microtek2.c file and ran<br>
"make" and "make install" again.<br>
<p>
<i>&gt; One strange thing is the model code 0x53. This is in the range of model</i><br>
<i>&gt; codes that are supported by the microtek backend. On the other hand</i><br>
<i>&gt; the microtek2 backend should have terminated with a different error message</i><br>
<i>&gt; if the SCSI version was not SCSI-2.</i><br>
<p>
I have asked Microtek if I could use an alternative driver of a scanner that is<br>
supported and I sent them the names from the list of supported scanners of the<br>
SANE homepage.<br>
They said that would not be possible, because those scanners are all flatbed<br>
scanners, and mine is a page scanner. It needs a very different driver.<br>
<p>
I used SANE 1.00 with the microtek2 backend 0.5. This was installed as a SuSE<br>
LiNUX RPM package.<br>
I use now SANE 1.0.1 with the microtek2 backend 0.6.<br>
A lot of files were installed at a different place. I deleted the old files,<br>
for example /etc/sane.d/ and made links to the new installed files like<br>
/usr/local/etc/dane.d.<br>
<p>
'option dump 2' in the microtek2.conf file is set.<br>
<p>
With the command "scanimage --list-devices I get amongst a lot of garbage:<br>
<p>
  [microtek2] dump_area: inquiryresult<br>
<p>
   0     .1#.[...<br>
  16     Scanner  300S<br>
  32     1.30SCSI  F/WV3.4<br>
  48      CTL5380 .O....e.<br>
  64     .J...... ........<br>
  80     ........ ........<br>
 <br>
With the command "scanimage -d microtek2:/dev/sg2 I get the same.<br>
<p>
I hope this says someting to you.<br>
<p>
I would like to be able to write the output to a file. I tried it with the<br>
command "scanimage --list-devices &gt; mtek" but it didn't work. I also tried the<br>
commands "scanimage &gt; mtek" and "scanimage &gt; 1 &amp; 2 mtek.<br>
I do not know the right command for this.<br>
<p>
Marcel Pol<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Brian Flachs: "xscanimage hangs when scanner is power cycled"</a>
<li> <b>Previous message:</b> <a href="0102.html">Dick Streefland: "Re: [patch] support for Ricoh IS50"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
