<!-- received="Wed Dec 22 00:14:52 1999 PST" -->
<!-- sent="Wed, 22 Dec 1999 09:16:23 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane fax options.." -->
<!-- id="" -->
<!-- inreplyto="xsane fax options.." -->
<title>sane-devel: Re: xsane fax options..</title>
<h1>Re: xsane fax options..</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 22 Dec 1999 09:16:23 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#148">[ date ]</a><a href="index.html#148">[ thread ]</a><a href="subject.html#148">[ subject ]</a><a href="author.html#148">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Matto Marjanovic: "Re: Microtek SlimScan Cx Parallel?"</a>
<li> <b>Previous message:</b> <a href="0147.html">Oliver Rauch: "Re: Umax 2000p"</a>
<li> <b>Maybe in reply to:</b> <a href="0145.html">Bill Thompson: "xsane fax options.."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Bill Thompson wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt;</i><br>
<i>&gt; Under 'Xsane setup/Preferences/fax options/Receiver option', what are</i><br>
<i>&gt; the possible options?</i><br>
<i>&gt;</i><br>
<p>
xsane-0.48, menue help/xsane doc =&gt; fax setup:<br>
<p>
      COMMAND:<br>
<p>
            Enter command to send/spool faxfiles.<br>
                  hylafax: "sendfax"<br>
                  mgetty+sendfax: "faxspool"<br>
<p>
      RECEIVER OPTION:<br>
<p>
            Option to set receiver phone number or address.<br>
                  hylafax: "-d"<br>
                  mgetty+sendfax: leave free<br>
<p>
      POSTSCRIPTFILE OPTION:<br>
<p>
            If there is an option that must be set before the filenames of the faxfile or if it is necessary to specify an<br>
            option for files in postscript format, enter this option - otherwise let this field free.<br>
                  hylafax: leave free<br>
                  mgetty+sendfax: leave free<br>
<p>
      NORMAL MODE OPTION:<br>
<p>
            If there is an option to set normal mode (98lpi) then enter this option - otherwise let this field free.<br>
                  hylafax: "-l"<br>
                  mgetty+sendfax: "-n"<br>
<p>
      FINE MODE OPTION:<br>
<p>
            If there is an option to set fine mode (196lpi) then enter this option - otherwise let this field free.<br>
                  hylafax: "-m"<br>
                  mgetty+sendfax: leave free<br>
<p>
      VIEWER:<br>
<p>
            Enter a program to show the postscript fax files on the screen.<br>
            E.g. this can be "ghostscript" or "xv".<br>
<p>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Matto Marjanovic: "Re: Microtek SlimScan Cx Parallel?"</a>
<li> <b>Previous message:</b> <a href="0147.html">Oliver Rauch: "Re: Umax 2000p"</a>
<li> <b>Maybe in reply to:</b> <a href="0145.html">Bill Thompson: "xsane fax options.."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
