<!-- received="Wed Dec 22 07:10:47 1999 PST" -->
<!-- sent="Tue, 21 Dec 1999 23:23:20 +0000" -->
<!-- name="Ralph Corderoy" -->
<!-- email="ralph@inputplus.demon.co.uk" -->
<!-- subject="Re: Minolta releases SCSI specs!" -->
<!-- id="199912212323.XAA25760@inputplus.demon.co.uk" -->
<!-- inreplyto="David.R.Rose@disney.com" -->
<title>sane-devel: Re: Minolta releases SCSI specs!</title>
<h1>Re: Minolta releases SCSI specs!</h1>
<b>Ralph Corderoy</b> (<a href="mailto:ralph@inputplus.demon.co.uk"><i>ralph@inputplus.demon.co.uk</i></a>)<br>
<i>Tue, 21 Dec 1999 23:23:20 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#155">[ date ]</a><a href="index.html#155">[ thread ]</a><a href="subject.html#155">[ subject ]</a><a href="author.html#155">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Gady Kozma: "Umax Astra 600S annoyance"</a>
<li> <b>Previous message:</b> <a href="0154.html">=?iso-8859-1?Q?: "Re: snapscan310, aha152x(05), de-pnp'd"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi David,<br>
<p>
<i>&gt; I've been in communication with Minolta for well over a year</i><br>
<i>&gt; regarding the release of the SCSI programming specs for their</i><br>
<i>&gt; scanners.  Today it looks like they finally came through.</i><br>
<p>
Yippee!  That's made my Christmas;  I've no excuse now not to go out<br>
and buy one.<br>
<p>
Many thanks for all your hard effort David.  I'm sure the NDA problem<br>
will be solvable;  if you're understandly unsure about signing there's<br>
probably some other member of the community, perhaps me, who would.<br>
<p>
Once again, many thanks,<br>
<p>
<p>
Ralph.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Gady Kozma: "Umax Astra 600S annoyance"</a>
<li> <b>Previous message:</b> <a href="0154.html">=?iso-8859-1?Q?: "Re: snapscan310, aha152x(05), de-pnp'd"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
