<!-- received="Thu Dec 23 06:39:23 1999 PST" -->
<!-- sent="Thu, 23 Dec 1999 07:37:35 -0700" -->
<!-- name="Steve Baker" -->
<!-- email="steve@tandika.com" -->
<!-- subject="Re: compile trouble SANE v1.0.1, gimp 1.1.13" -->
<!-- id="" -->
<!-- inreplyto="compile trouble SANE v1.0.1, gimp 1.1.13" -->
<title>sane-devel: Re: compile trouble SANE v1.0.1, gimp 1.1.13</title>
<h1>Re: compile trouble SANE v1.0.1, gimp 1.1.13</h1>
<b>Steve Baker</b> (<a href="mailto:steve@tandika.com"><i>steve@tandika.com</i></a>)<br>
<i>Thu, 23 Dec 1999 07:37:35 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#163">[ date ]</a><a href="index.html#163">[ thread ]</a><a href="subject.html#163">[ subject ]</a><a href="author.html#163">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Conrad Parker: "Re: compile trouble SANE v1.0.1, gimp 1.1.13"</a>
<li> <b>Previous message:</b> <a href="0162.html">Henry Miller: "Which USB are we likely to get."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I went through the SANE code and changed all instances of GIMP_EXTENSION<br>
to something unique. Not the most elegant solution, of course, but it<br>
worked.<br>
<p>
<i>&gt; the back end compiles fine, but xscanimage halts with:</i><br>
<i>&gt; </i><br>
<i>&gt; xscanimage.c:79: conflicting types for `GIMP_EXTENSION'</i><br>
<i>&gt; /usr/local/include/libgimp/gimpenums.h:289: previous declaration of</i><br>
<i>&gt; `GIMP_EXTENSION'</i><br>
<i>&gt; </i><br>
<i>&gt; and the usual make[1]: ***  junk.</i><br>
<i>&gt; </i><br>
<i>&gt; any tips to resolve this minor inconvinience would be greatly appreciated,</i><br>
<p>
<pre>
-- 
Steve Baker &lt;<a href="mailto:steve@tandika.com">steve@tandika.com</a>&gt; | kiku wa ittoki no haji
                                | kikanu wa matsudai no haji
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Conrad Parker: "Re: compile trouble SANE v1.0.1, gimp 1.1.13"</a>
<li> <b>Previous message:</b> <a href="0162.html">Henry Miller: "Which USB are we likely to get."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
