<!-- received="Thu Dec 23 07:05:20 1999 PST" -->
<!-- sent="Thu, 23 Dec 1999 16:06:07 +0100 (MET)" -->
<!-- name="Avi Bercovich" -->
<!-- email="bercovic@swi.psy.uva.nl" -->
<!-- subject="Re: compile trouble SANE v1.0.1, gimp 1.1.13" -->
<!-- id="" -->
<!-- inreplyto="19991224015721.C2475@cse.unsw.edu.au" -->
<title>sane-devel: Re: compile trouble SANE v1.0.1, gimp 1.1.13</title>
<h1>Re: compile trouble SANE v1.0.1, gimp 1.1.13</h1>
<b>Avi Bercovich</b> (<a href="mailto:bercovic@swi.psy.uva.nl"><i>bercovic@swi.psy.uva.nl</i></a>)<br>
<i>Thu, 23 Dec 1999 16:06:07 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#165">[ date ]</a><a href="index.html#165">[ thread ]</a><a href="subject.html#165">[ subject ]</a><a href="author.html#165">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0166.html">David E. Nelson: "Re: Which USB are we likely to get."</a>
<li> <b>Previous message:</b> <a href="0164.html">Conrad Parker: "Re: compile trouble SANE v1.0.1, gimp 1.1.13"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello All,<br>
<p>
Although I'm by no means a C-programmer I came up with same solution on a<br>
'hunch' level. I simply commented GIMP_EXTENSIONS out on line 78 of<br>
xscanimage.c  It then compiled cleanly and now seems to work ok ;-)<br>
<p>
Anyhow, I think I'll go back now and apply the 'real' patch solution when<br>
I get home today.<br>
<p>
Thanks for answering my question.<br>
<p>
kind regards,<br>
<p>
avi bercovich<br>
<p>
--------------------------------------------------------------------------<br>
Avi Bercovich                                      <a href="mailto:bercovic@swi.psy.uva.nl">bercovic@swi.psy.uva.nl</a><br>
Sinjeur Semeynsstraat 9          Dept. of Social Science Informatics (SWI)<br>
1183LD Amstelveen                                  University of Amsterdam     <br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0166.html">David E. Nelson: "Re: Which USB are we likely to get."</a>
<li> <b>Previous message:</b> <a href="0164.html">Conrad Parker: "Re: compile trouble SANE v1.0.1, gimp 1.1.13"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
