<!-- received="Thu Dec 23 08:39:11 1999 PST" -->
<!-- sent="Thu, 23 Dec 1999 11:37:23 -0600 (CST)" -->
<!-- name="David E. Nelson" -->
<!-- email="dnelson@jump.net" -->
<!-- subject="Re: Which USB are we likely to get." -->
<!-- id="" -->
<!-- inreplyto="Pine.BSF.3.96.991222222718.398A-100000@daphne.bogus" -->
<title>sane-devel: Re: Which USB are we likely to get.</title>
<h1>Re: Which USB are we likely to get.</h1>
<b>David E. Nelson</b> (<a href="mailto:dnelson@jump.net"><i>dnelson@jump.net</i></a>)<br>
<i>Thu, 23 Dec 1999 11:37:23 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#166">[ date ]</a><a href="index.html#166">[ thread ]</a><a href="subject.html#166">[ subject ]</a><a href="author.html#166">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">A E Lawrence: "USB HP C5101A PhotoSmart S20 film scanner"</a>
<li> <b>Previous message:</b> <a href="0165.html">Avi Bercovich: "Re: compile trouble SANE v1.0.1, gimp 1.1.13"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 22 Dec 1999, Henry Miller wrote:<br>
<p>
<i>&gt; Looking over the mailing list, it appears that UMAX will not release their</i><br>
<i>&gt; USB specs.  HP might not be so bad, we don't have drivers yet.</i><br>
<p>
<p>
Hi Henry,<br>
<p>
Please check out <a href="http://www.jump.net/~dnelson/linux/usb">http://www.jump.net/~dnelson/linux/usb</a> and one of the<br>
later dev kernels.<br>
<p>
I wrote the USB scanner driver and I use the HP backend that comes with<br>
SANE.  It's all in the drivers/usb/README.scanner* files.<br>
<p>
Regards,<br>
	/\/elson<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">A E Lawrence: "USB HP C5101A PhotoSmart S20 film scanner"</a>
<li> <b>Previous message:</b> <a href="0165.html">Avi Bercovich: "Re: compile trouble SANE v1.0.1, gimp 1.1.13"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
