<!-- received="Tue Dec 28 14:43:25 1999 PST" -->
<!-- sent="Tue, 28 Dec 1999 23:30:33 +0100" -->
<!-- name="Ekkard Gerlach" -->
<!-- email="SPS_Gerlach@online.de" -->
<!-- subject="Re: can't compile sane 1.00 with pgcc-2.91.66" -->
<!-- id="" -->
<!-- inreplyto="can't compile sane 1.00 with pgcc-2.91.66" -->
<title>sane-devel: Re: can't compile sane 1.00 with pgcc-2.91.66</title>
<h1>Re: can't compile sane 1.00 with pgcc-2.91.66</h1>
<b>Ekkard Gerlach</b> (<a href="mailto:SPS_Gerlach@online.de"><i>SPS_Gerlach@online.de</i></a>)<br>
<i>Tue, 28 Dec 1999 23:30:33 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#189">[ date ]</a><a href="index.html#189">[ thread ]</a><a href="subject.html#189">[ subject ]</a><a href="author.html#189">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0190.html">Paulo Abreu: "Re: Mustek ScanExpress 12000P"</a>
<li> <b>Previous message:</b> <a href="0188.html">David E. Nelson: "Re: Volunteer for back end development - excellent info in this msg"</a>
<li> <b>Maybe in reply to:</b> <a href="0177.html">Paulo Abreu: "can't compile sane 1.00 with pgcc-2.91.66"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Paulo Abreu wrote:<br>
<p>
<i>&gt; abaton.c: In function 'sane_abaton_control_option':</i><br>
<i>&gt; abaton.c:1116: incompatible types in assingnment</i><br>
<i>&gt; </i><br>
<p>
Perhaps you called configure twice !?<br>
<p>
With sane 1.0.1  I got similar errors. <br>
I deleted all the sources,<br>
unpacked the sources once again and <br>
<p>
configure     (./configure --exec-prefix /usr --prefix /usr <br>
                for suse-linux)<br>
make<br>
make install<br>
<p>
worked fine.<br>
<p>
Ekkard<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0190.html">Paulo Abreu: "Re: Mustek ScanExpress 12000P"</a>
<li> <b>Previous message:</b> <a href="0188.html">David E. Nelson: "Re: Volunteer for back end development - excellent info in this msg"</a>
<li> <b>Maybe in reply to:</b> <a href="0177.html">Paulo Abreu: "can't compile sane 1.00 with pgcc-2.91.66"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
