<!-- received="Thu Dec 30 10:44:53 1999 PST" -->
<!-- sent="Thu, 30 Dec 1999 19:52:41 -0000 (/etc/localtime" -->
<!-- name="marcel pol" -->
<!-- email="mpol@gmx.net" -->
<!-- subject="RE: IBM IdeaScan" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.02.9912290229580.205-100000@supernova" -->
<title>sane-devel: RE: IBM IdeaScan</title>
<h1>RE: IBM IdeaScan</h1>
<b>marcel pol</b> (<a href="mailto:mpol@gmx.net"><i>mpol@gmx.net</i></a>)<br>
<i>Thu, 30 Dec 1999 19:52:41 -0000 (/etc/localtime</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#201">[ date ]</a><a href="index.html#201">[ thread ]</a><a href="subject.html#201">[ subject ]</a><a href="author.html#201">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0202.html">Andreas Muck: "UMAX Astra 600S and SCSI disks on the same adapter"</a>
<li> <b>Previous message:</b> <a href="0200.html">Jeff DeFouw: "Re: Problems with backend for Mustek 600III EPP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 29-Dec-99 Brad Johnson wrote:<br>
<i>&gt; </i><br>
<i>&gt;       I'm new to this list so sorry if these questions have already been</i><br>
<i>&gt; answered... but is there any support available (or in the works) for the IBM</i><br>
<i>&gt; IdeaScan? It's a flatbed, parallel scanner (I'd give more information, but</i><br>
<i>&gt; I'm not quite sure where the box went...). I was looking into Sane, and I</i><br>
<i>&gt; can't seem to find any information on non-SCSI scanners at all. Are parallel</i><br>
<i>&gt; scanners even supported? (Is there any way I can help with this? I'm not much</i><br>
<i>&gt; of a coder, but I can try)</i><br>
<i>&gt;                                                               --Brad</i><br>
<p>
<p>
I know nothing about your scanner, but I know parallel scanners are supported.<br>
At <a href="http://www.torque.net/parport/ppscsi.html">http://www.torque.net/parport/ppscsi.html</a> is a patch available. With the<br>
documentation at that webpage and the kernel-Howto you should be able to get<br>
the modules made, installed and loaded. This is for the adapter.<br>
You should check wat chipset this adapter uses and see if there is a module<br>
included that supports that chipset. <br>
<p>
Marcel Pol<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0202.html">Andreas Muck: "UMAX Astra 600S and SCSI disks on the same adapter"</a>
<li> <b>Previous message:</b> <a href="0200.html">Jeff DeFouw: "Re: Problems with backend for Mustek 600III EPP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
