<!-- received="Fri Dec 31 04:22:13 1999 PST" -->
<!-- sent="Fri, 31 Dec 1999 07:28:18 -0500 (EST)" -->
<!-- name="Warren Chartier" -->
<!-- email="icebalm@bigfoot.com" -->
<!-- subject="Re: Microtek SlimScan C3" -->
<!-- id="" -->
<!-- inreplyto="19991231104113.4095.qmail@aquila.muc.de" -->
<title>sane-devel: Re: Microtek SlimScan C3</title>
<h1>Re: Microtek SlimScan C3</h1>
<b>Warren Chartier</b> (<a href="mailto:icebalm@bigfoot.com"><i>icebalm@bigfoot.com</i></a>)<br>
<i>Fri, 31 Dec 1999 07:28:18 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#214">[ date ]</a><a href="index.html#214">[ thread ]</a><a href="subject.html#214">[ subject ]</a><a href="author.html#214">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">Manuel Panea: "Re: Problems with backend for Mustek 600III EPP"</a>
<li> <b>Previous message:</b> <a href="0213.html">Bernd Schroeder: "Re: Microtek SlimScan C3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 31 Dec 1999, Bernd Schroeder wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; sorry for the late response.</i><br>
 <br>
It's understandable with the holidays and all. :)<br>
 <br>
<i>&gt; &gt; Thanks to all the developers of SANE, onSCSI and Matto Marjanovic for</i><br>
<i>&gt; &gt; helping me to get this working. :)  The colors aren't as correct as the</i><br>
<i>&gt; &gt; windows drivers, but its so subtle you'd never notice.</i><br>
<i>&gt; </i><br>
<i>&gt; Then you are lucky. What is needed is a shading correction. I have some</i><br>
<i>&gt; information how to do this shading correction for the Phantom 336cx, but</i><br>
<i>&gt; I assume it is the same for the SlimScan C3. However, this will need some</i><br>
<i>&gt; modifications, and don't have such a model, so I won't be able to test</i><br>
<i>&gt; it. Unfortunately, the algorithm to correct the colours is somewhat different</i><br>
<i>&gt; for other Phantom/Slimscan models like the C6/Phantom 636cx.</i><br>
<p>
In my excitement I seem to have posted prematurely, the scanner does work<br>
flawlessly, color is fine for the depths I'm able to scan in, however, on<br>
closer inspection with a few more "test" scans, it seems I'm only able to<br>
select 8 bit color in xscanimage, even though my scanner does support 36<br>
bit, I was using xsane and therefore had no bit depth color option and<br>
assumed it was 36 bit. This would obviously account for the lackluster<br>
color.  Do you have any idea why this might be happening?<br>
<p>
Any modifications required I'd be happy to test out.<br>
<p>
Warren Chartier<br>
Minister of the Mobile Mechanized Infantry - <a href="http://www.juga.com">http://www.juga.com</a><br>
Fight Spam - Join CAUSE!  <a href="http://www.cause.org">http://www.cause.org</a><br>
<p>
---- BEGIN ECHELON BLOCK ----<br>
SCUD missile Ortega AK-47 Uzi $400 million in gold bullion Rule Psix Nazi<br>
militia Project Monarch counter-intelligence JFK cypherpunk Kibo Ron Brown<br>
clones bomb special-ops terrorism WACO nuclear missile MI5<br>
----- END ECHELON BLOCK -----<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">Manuel Panea: "Re: Problems with backend for Mustek 600III EPP"</a>
<li> <b>Previous message:</b> <a href="0213.html">Bernd Schroeder: "Re: Microtek SlimScan C3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
