<!-- received="Sat Nov  1 16:11:50 1997 PST" -->
<!-- sent="Sun, 2 Nov 1997 01:10:36 +0100" -->
<!-- name="Wolfgang Jung" -->
<!-- email="woju@keep.in-berlin.de" -->
<!-- subject="Re: forwarded message from Henning Busacker" -->
<!-- id="" -->
<!-- inreplyto="199711011851.KAA29712@panda.mostang.com" -->
<title>sane-devel: Re: forwarded message from Henning Busacker</title>
<h1>Re: forwarded message from Henning Busacker</h1>
<b>Wolfgang Jung</b> (<a href="mailto:woju@keep.in-berlin.de"><i>woju@keep.in-berlin.de</i></a>)<br>
<i>Sun, 2 Nov 1997 01:10:36 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#3">[ date ]</a><a href="index.html#3">[ thread ]</a><a href="subject.html#3">[ subject ]</a><a href="author.html#3">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">David Mosberger-Tang: "new ftp server up!"</a>
<li> <b>Previous message:</b> <a href="0002.html">David Mosberger-Tang: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>In reply to:</b> <a href="0001.html">David Mosberger-Tang: "forwarded message from Henning Busacker"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, Nov 01, 1997 at 10:51:22AM -0800, David Mosberger-Tang wrote: <br>
<i>&gt; Can anybody confirm or deny this?  If I don't here from anyone, this</i><br>
<i>&gt; change will be in the next release (due out any day now...).</i><br>
<i>&gt; </i><br>
<i>&gt;        --david</i><br>
<i>&gt; </i><br>
<p>
<i>&gt; From: Henning Busacker &lt;<a href="mailto:henning.busacker@Duesseldorf.netsurf.de">henning.busacker@Duesseldorf.netsurf.de</a>&gt;</i><br>
<i>&gt; To: <a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a></i><br>
<i>&gt; Subject: SANE and Mustek MFS-12000SP v1.05 success!</i><br>
<i>&gt; Date: Sat, 01 Nov 1997 18:31:59 +0000</i><br>
<i>&gt; </i><br>
<i>&gt; Hello David,</i><br>
<i>&gt; I just a  Mustek Paragon MFS-12000SP and I found this scanner needs the</i><br>
<i>&gt; MUSTEK_FLAG_LD_NONE to be set.</i><br>
<i>&gt; Here is what I add to mustek.c for the MFS-12000SP.</i><br>
<i>&gt; </i><br>
<i>&gt;       if (fw_revision = 0x105) </i><br>
<i>&gt; 	dev-&gt;flags |= MUSTEK_FLAG_LD_NONE; </i><br>
<i>&gt;  </i><br>
<i>&gt; This reports scanimage after my change:</i><br>
<i>&gt; [mustek] attach: firmware revision 1.05</i><br>
<i>&gt; [mustek] attach: scanner has automatic line-distance correction</i><br>
<i>&gt; [mustek] attach: found Mustek scanner model MFS-12000SP (flatbed</i><br>
<i>&gt; scanner), 1-pass</i><br>
<i>&gt; </i><br>
<i>&gt; I hope it helps.</i><br>
<i>&gt; By the way, Great work!!!</i><br>
<i>&gt; bye Henning</i><br>
<p>
With 1.04 I had to remove (udefine) the LINEDISTANCE patch ...<br>
<p>
<p>
<pre>
-- 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">David Mosberger-Tang: "new ftp server up!"</a>
<li> <b>Previous message:</b> <a href="0002.html">David Mosberger-Tang: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>In reply to:</b> <a href="0001.html">David Mosberger-Tang: "forwarded message from Henning Busacker"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
