<!-- received="Sat Nov  1 17:09:34 1997 PST" -->
<!-- sent="Sat, 1 Nov 1997 17:09:32 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: ./configure doesn't think I have X" -->
<!-- id="199711020109.RAA31784@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.3.96.971101165450.7183B-100000@mattyt.oz.net" -->
<title>sane-devel: Re: ./configure doesn't think I have X</title>
<h1>Re: ./configure doesn't think I have X</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sat, 1 Nov 1997 17:09:32 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#6">[ date ]</a><a href="index.html#6">[ thread ]</a><a href="subject.html#6">[ subject ]</a><a href="author.html#6">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">David Mosberger-Tang: "gtk-951025 patches"</a>
<li> <b>Previous message:</b> <a href="0005.html">Matt Thompson: "Re: ./configure doesn't think I have X"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0017.html">Matt Thompson: "Re: ./configure doesn't think I have X"</a>
<li> <b>Reply:</b> <a href="0017.html">Matt Thompson: "Re: ./configure doesn't think I have X"</a>
<li> <b>Reply:</b> <a href="0020.html">Matt Thompson: "Re: ./configure doesn't think I have X"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sat, 1 Nov 1997 17:03:04 -0800 (PST), Matt Thompson &lt;<a href="mailto:mattyt@oz.net">mattyt@oz.net</a>&gt; said:</i><br>
<p>
  Matt&gt; there is scanimage,<br>
  Matt&gt; and it starts the scanner fine, but then a whole lot of<br>
  Matt&gt; gibberish appears on the screen.<br>
<p>
  Matt&gt; ???<br>
<p>
Quote from scanimage(1):<br>
<p>
DESCRIPTION<br>
       scanimage  is  a  command-line  interface to control image<br>
       acquisition devices such as flatbed scanners  or  cameras.<br>
       The  device is controlled via command-line options.  After<br>
       command-line processing, scanimage  normally  proceeds  to<br>
       acquire  an  image.  The image data is written to standard<br>
			    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^<br>
       output in one of the PNM (portable  aNyMaP)  formats  (PBM<br>
       ^^^^^^<br>
       for  black-and-white images, PGM for grayscale images, and<br>
       PPM for color images).  scanimage accesses image  acquisi-<br>
       tion  devices  through  the SANE (Scanner Access Now Easy)<br>
       interface and can thus support any device for which  there<br>
       exists  a  SANE backend (try "apropos sane-" to get a list<br>
       of available backends).<br>
<p>
 --david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">David Mosberger-Tang: "gtk-951025 patches"</a>
<li> <b>Previous message:</b> <a href="0005.html">Matt Thompson: "Re: ./configure doesn't think I have X"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0017.html">Matt Thompson: "Re: ./configure doesn't think I have X"</a>
<li> <b>Reply:</b> <a href="0017.html">Matt Thompson: "Re: ./configure doesn't think I have X"</a>
<li> <b>Reply:</b> <a href="0020.html">Matt Thompson: "Re: ./configure doesn't think I have X"</a>
<!-- reply="end" -->
</ul>
