<!-- received="Tue Nov  4 05:31:06 1997 PST" -->
<!-- sent="Tue, 4 Nov 1997 14:29:41 +0100 (CET)" -->
<!-- name="Benedikt Heinen" -->
<!-- email="Benedikt.Heinen@infrasys.ascom.ch" -->
<!-- subject="Scanner recommendations?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Scanner recommendations?</title>
<h1>Scanner recommendations?</h1>
<b>Benedikt Heinen</b> (<a href="mailto:Benedikt.Heinen@infrasys.ascom.ch"><i>Benedikt.Heinen@infrasys.ascom.ch</i></a>)<br>
<i>Tue, 4 Nov 1997 14:29:41 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#45">[ date ]</a><a href="index.html#45">[ thread ]</a><a href="subject.html#45">[ subject ]</a><a href="author.html#45">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">Tom Lee: "Re: gtk-951025 patches"</a>
<li> <b>Previous message:</b> <a href="0044.html">becka@rz.uni-duesseldorf.de: "Re: JAVA version"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi there,<br>
<p>
  now that I know, that the Umax 600S is not supported that well at the<br>
moment, I'm willing to entertain recommendations for other scanners (color,<br>
flatbed, scsi, and 300+ dpi [preferred 600dpi]). I was already told to have a<br>
look at the 1200S, but it seems like this would be a little troublesome to<br>
obtain for my PC Dealer -- don't know why, though. So, he asked me, if there<br>
were any other good scanners...<br>
<p>
<p>
  Benedikt<br>
<p>
Windows 95: n.<br>
    32-bit extensions and a graphical shell for a 16-bit patch to an 8-bit<br>
    operating system originally coded for a 4-bit microprocessor,  written<br>
         by a 2-bit company that can't stand for 1 bit of competition.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">Tom Lee: "Re: gtk-951025 patches"</a>
<li> <b>Previous message:</b> <a href="0044.html">becka@rz.uni-duesseldorf.de: "Re: JAVA version"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
