<!-- received="Tue Nov  4 10:15:11 1997 PST" -->
<!-- sent="Tue, 04 Nov 1997 10:13:36 -0800" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="Re: Make OS2 Binaries ?" -->
<!-- id="" -->
<!-- inreplyto="Make OS2 Binaries ?" -->
<title>sane-devel: Re: Make OS2 Binaries ?</title>
<h1>Re: Make OS2 Binaries ?</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Tue, 04 Nov 1997 10:13:36 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#48">[ date ]</a><a href="index.html#48">[ thread ]</a><a href="subject.html#48">[ subject ]</a><a href="author.html#48">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Jens Ritter: "v0.67+mustek 1200: color =) --- lineart =("</a>
<li> <b>Previous message:</b> <a href="0047.html">Tom Lee: "Tangential question about stuck SCSI scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0018.html">Stefan Knodt: "Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0051.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Stefan Knodt wrote:<br>
<p>
<i>&gt; &gt;       3.  Create a fake "ln" shell script that just does a copy, and</i><br>
<i>&gt; &gt;               that strips out the '-s' option.</i><br>
<i>&gt; Hmm, do what ?</i><br>
<p>
I don't have it in front of me (using Linux at work), but the basic<br>
idea is to create a file called "ln" in one of your path directories<br>
that looks something like:<br>
<p>
#!/bin/sh<br>
<p>
if ("$1" == "-s") then<br>
	cp $2 $3<br>
else<br>
	cp $1 $3<br>
endif<br>
<i>&gt; I got the followin errors</i><br>
<i>&gt;          configure.: configure.[3360]: cmp: not found</i><br>
<p>
Same here.  Doesn't seem to matter.<br>
<p>
<i>&gt;          updating cache ./config.cache</i><br>
<i>&gt;          creating ./config.status</i><br>
<i>&gt;          ./config.status: ./config.status[121]: expr: not found</i><br>
<i>&gt;          ./config.status: ./config.status[121]: expr: not found</i><br>
<p>
Look on line 121 in config.status.  Might have to do with the lack of<br>
"ln", since I don't see this error.<br>
<p>
BTW, I spent 10 times as much time fiddling with this configuration<br>
stuff as I did actually changing C code!<br>
<p>
-- Jeff<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Jens Ritter: "v0.67+mustek 1200: color =) --- lineart =("</a>
<li> <b>Previous message:</b> <a href="0047.html">Tom Lee: "Tangential question about stuck SCSI scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0018.html">Stefan Knodt: "Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0051.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<!-- reply="end" -->
</ul>
