<!-- received="Tue Nov  4 18:13:16 1997 PST" -->
<!-- sent="Wed, 05 Nov 97 03:12:57 +0100" -->
<!-- name="Stefan Knodt" -->
<!-- email="sknodt@bluewin.ch" -->
<!-- subject="Re: Make OS2 Binaries ?" -->
<!-- id="199711050210.DAA16722@bluewin.ch" -->
<!-- inreplyto="Make OS2 Binaries ?" -->
<title>sane-devel: Re: Make OS2 Binaries ?</title>
<h1>Re: Make OS2 Binaries ?</h1>
<b>Stefan Knodt</b> (<a href="mailto:sknodt@bluewin.ch"><i>sknodt@bluewin.ch</i></a>)<br>
<i>Wed, 05 Nov 97 03:12:57 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#51">[ date ]</a><a href="index.html#51">[ thread ]</a><a href="subject.html#51">[ subject ]</a><a href="author.html#51">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">David Mosberger-Tang: "Re: v0.67+mustek 1200: color =) --- lineart =("</a>
<li> <b>Previous message:</b> <a href="0050.html">becka@rz.uni-duesseldorf.de: "Re: Scanner driver"</a>
<li> <b>Maybe in reply to:</b> <a href="0018.html">Stefan Knodt: "Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0057.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 04 Nov 1997 10:13:36 -0800, Jeff Freedman wrote:<br>
<p>
<i>&gt;Stefan Knodt wrote:</i><br>
<i>&gt;</i><br>
<i>&gt;&gt; &gt;       3.  Create a fake "ln" shell script that just does a copy, and</i><br>
<i>&gt;&gt; &gt;               that strips out the '-s' option.</i><br>
<i>&gt;&gt; Hmm, do what ?</i><br>
<i>&gt;</i><br>
<i>&gt;I don't have it in front of me (using Linux at work), but the basic</i><br>
<i>&gt;idea is to create a file called "ln" in one of your path directories</i><br>
<i>&gt;that looks something like:</i><br>
<i>&gt;</i><br>
<i>&gt;#!/bin/sh</i><br>
<i>&gt;</i><br>
<i>&gt;if ("$1" == "-s") then</i><br>
<i>&gt;	cp $2 $3</i><br>
<i>&gt;else</i><br>
<i>&gt;	cp $1 $3</i><br>
<i>&gt;endif</i><br>
<p>
OK It seems to be :<br>
<p>
#!/bin/sh<br>
if [ "$1" = "-s" ]<br>
  then  cp $2 $3<br>
  else  cp $1 $2<br>
fi<br>
<p>
<i>&gt;&gt; I got the followin errors</i><br>
<i>&gt;&gt;          configure.: configure.[3360]: cmp: not found</i><br>
<i>&gt;</i><br>
<i>&gt;Same here.  Doesn't seem to matter.</i><br>
<p>
I found cmp.exe in the "gnudiff.zip" package<br>
<i>&gt;</i><br>
<i>&gt;&gt;          updating cache ./config.cache</i><br>
<i>&gt;&gt;          creating ./config.status</i><br>
<i>&gt;&gt;          ./config.status: ./config.status[121]: expr: not found</i><br>
<i>&gt;&gt;          ./config.status: ./config.status[121]: expr: not found</i><br>
<i>&gt;</i><br>
<i>&gt;Look on line 121 in config.status.  Might have to do with the lack of</i><br>
<i>&gt;"ln", since I don't see this error.</i><br>
<i>&gt;</i><br>
No, but I got it. It needs a programm called test.exe (from "gnusutil.zip")<br>
in "/bin" directory <br>
<p>
Finally, the thing you forgot to mention, the "aspir101.zip" package (for srb.h).<br>
It seems to be an error in srb.h<br>
see the make output<br>
<p>
 gcc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -D_GNU_SOURCE -DPATH_SA<br>
 NE_CONFIG_DIR=/emx/etc/sane.d -DPATH_SANE_DATA_DIR=/emx/share -DV_MAJOR=0 -DV_MI<br>
 NOR=66 -g -O2 -Wall sanei_scsi.c<br>
 In file included from sanei_scsi.c:122:<br>
 srb.h:112: conflicting types for `SRB'<br>
 srb.h:49: previous declaration of `SRB'<br>
 sanei_scsi.c:159: warning: `cam_fd' defined but not used<br>
 make[1]: *** [sanei_scsi.o] Error 1<br>
<p>
However I made some minor changes in srb.h. but the output of scanimage<br>
is a DOS binary ! :-|<br>
<p>
--- <br>
Stefan<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">David Mosberger-Tang: "Re: v0.67+mustek 1200: color =) --- lineart =("</a>
<li> <b>Previous message:</b> <a href="0050.html">becka@rz.uni-duesseldorf.de: "Re: Scanner driver"</a>
<li> <b>Maybe in reply to:</b> <a href="0018.html">Stefan Knodt: "Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0057.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<!-- reply="end" -->
</ul>
