<!-- received="Wed Nov  5 06:58:32 1997 PST" -->
<!-- sent="Wed, 05 Nov 97 15:58:15 +0100" -->
<!-- name="Stefan Knodt" -->
<!-- email="sknodt@bluewin.ch" -->
<!-- subject="Re: Make OS2 Binaries ?" -->
<!-- id="199711051455.PAA13843@bluewin.ch" -->
<!-- inreplyto="Make OS2 Binaries ?" -->
<title>sane-devel: Re: Make OS2 Binaries ?</title>
<h1>Re: Make OS2 Binaries ?</h1>
<b>Stefan Knodt</b> (<a href="mailto:sknodt@bluewin.ch"><i>sknodt@bluewin.ch</i></a>)<br>
<i>Wed, 05 Nov 97 15:58:15 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#57">[ date ]</a><a href="index.html#57">[ thread ]</a><a href="subject.html#57">[ subject ]</a><a href="author.html#57">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<li> <b>Previous message:</b> <a href="0056.html">Per Harald Myrvang: "Re: Tangential question about stuck SCSI scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0018.html">Stefan Knodt: "Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0058.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 03 Nov 1997 10:00:43 -0800, Jeff Freedman wrote:<br>
<p>
<i>&gt;To build it yourself, you need quite a lot of stuff (also on Hobbes):</i><br>
<i>&gt;	1.  EMX GCC v. 09c or higher.</i><br>
<i>&gt;	2.  All the various GNU utilities, including make.</i><br>
<p>
Jeff, <br>
do I need the BSD libraries too ?<br>
<p>
Tks<br>
<p>
<pre>
--
Stefan
<pre>
--
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<li> <b>Previous message:</b> <a href="0056.html">Per Harald Myrvang: "Re: Tangential question about stuck SCSI scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0018.html">Stefan Knodt: "Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0058.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<!-- reply="end" -->
</ul>
