<!-- received="Fri Nov  7 23:17:57 1997 PST" -->
<!-- sent="Fri, 7 Nov 1997 23:17:55 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Help: Mustek 600 II N scanner" -->
<!-- id="199711080717.XAA00762@panda.mostang.com" -->
<!-- inreplyto="199711072204.XAA27920@leonardo.lls.se" -->
<title>sane-devel: Re: Help: Mustek 600 II N scanner</title>
<h1>Re: Help: Mustek 600 II N scanner</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 7 Nov 1997 23:17:55 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Previous message:</b> <a href="0066.html">Johan Bengtsson: "Help: Mustek 600 II N scanner"</a>
<li> <b>In reply to:</b> <a href="0066.html">Johan Bengtsson: "Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 7 Nov 1997 22:53:26 +0000, "Johan Bengtsson" &lt;<a href="mailto:johanb@lls.se">johanb@lls.se</a>&gt; said:</i><br>
<p>
  Johan&gt; Hi, I have a Mustek 600 II N scanner that I'm trying to use<br>
  Johan&gt; with Linux.  This scanner has a cable with a 26 pin connector<br>
  Johan&gt; that doesn't fit the Adaptec 1505 scsi card that I have. I'm<br>
  Johan&gt; not sure if this particular scanner has a scsi interface at<br>
  Johan&gt; all, it could be some proprietary interface (I have gathered<br>
  Johan&gt; some info from the net that seems to point in this<br>
  Johan&gt; direction). OK, two quick questions:<br>
<p>
The 600 II N is a parallel-port scanner.<br>
<p>
  Johan&gt; 1) Is it possible to use this scanner with SANE and Linux in<br>
  Johan&gt; general?<br>
<p>
Yes. YMMV, though.<br>
<p>
  Johan&gt; 2) Is it possible to use it with the Adaptec 1505 card?<br>
  Johan&gt; (maybe with an adapter or different cable?)<br>
<p>
Not with your scanner.<br>
<p>
SANE does not yet have working support for the 600 II N.  You're<br>
somewhat in luck, as sane-0.67 does have the beginnings of Andreas's<br>
parallel-port scanner support.  However, that support is NOT complete<br>
yet.  Unless you want to work on the code, I'd recommend not to try<br>
it.  Warning: a bad driver CAN DAMAGE YOUR SCANNER.  Having said that,<br>
there is some documentation in sane-mustek(5) on how to setup the<br>
parallel port support.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Previous message:</b> <a href="0066.html">Johan Bengtsson: "Help: Mustek 600 II N scanner"</a>
<li> <b>In reply to:</b> <a href="0066.html">Johan Bengtsson: "Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<!-- reply="end" -->
</ul>
