<!-- received="Sun Nov  9 13:48:33 1997 PST" -->
<!-- sent="Sun, 9 Nov 1997 13:48:32 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Help: Mustek 600 II N scanner" -->
<!-- id="199711092148.NAA10400@panda.mostang.com" -->
<!-- inreplyto="199711091837.KAA09573@panda.mostang.com" -->
<title>sane-devel: Re: Help: Mustek 600 II N scanner</title>
<h1>Re: Help: Mustek 600 II N scanner</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sun, 9 Nov 1997 13:48:32 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#81">[ date ]</a><a href="index.html#81">[ thread ]</a><a href="subject.html#81">[ subject ]</a><a href="author.html#81">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Joey Nelson: "Problem Scanning with UMAX S6E."</a>
<li> <b>Previous message:</b> <a href="0080.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>In reply to:</b> <a href="0079.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0077.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 9 Nov 1997 21:10:57 +0000, "Johan Bengtsson" &lt;<a href="mailto:johanb@lls.se">johanb@lls.se</a>&gt; said:</i><br>
<p>
  Johan&gt; As I said it *does not* connect to the computer with a<br>
  Johan&gt; parallell port connector, it connects with an *ISA card*...<br>
<p>
And that ISA card implements an admittedly funky parallel port.  QED.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Joey Nelson: "Problem Scanning with UMAX S6E."</a>
<li> <b>Previous message:</b> <a href="0080.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>In reply to:</b> <a href="0079.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0077.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<!-- reply="end" -->
</ul>
