<!-- received="Mon Nov 10 06:20:42 1997 PST" -->
<!-- sent="Mon, 10 Nov 1997 09:20:18 -0500 (EST)" -->
<!-- name="Andrew Kuchling" -->
<!-- email="amk@magnet.com" -->
<!-- subject="Re: SANE-HP Success with HP Scanjet 4P Model C1130A" -->
<!-- id="199711101420.JAA21959@lemur.magnet.com" -->
<!-- inreplyto="SANE-HP Success with HP Scanjet 4P Model C1130A" -->
<title>sane-devel: Re: SANE-HP Success with HP Scanjet 4P Model C1130A</title>
<h1>Re: SANE-HP Success with HP Scanjet 4P Model C1130A</h1>
<b>Andrew Kuchling</b> (<a href="mailto:amk@magnet.com"><i>amk@magnet.com</i></a>)<br>
<i>Mon, 10 Nov 1997 09:20:18 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#88">[ date ]</a><a href="index.html#88">[ thread ]</a><a href="subject.html#88">[ subject ]</a><a href="author.html#88">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">Simona Venuti: "REQ: Info about drivers."</a>
<li> <b>Previous message:</b> <a href="0087.html">Helmut Koeberle: "Backend for Canon CanoScan 600"</a>
<li> <b>Maybe in reply to:</b> <a href="0072.html">Howard J. Poe: "SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Howard J. Poe" &lt;<a href="mailto:falcor@cvconline.com">falcor@cvconline.com</a>&gt; wrote:<br>
<i>&gt;P.S. Has anyone given though to integrating support with one of the JPEG</i><br>
<i>&gt;programs to save disk space while scanning?  An output to JPEG would</i><br>
<i>&gt;REALLY help.  I'm more of a system administrator working in Perl and shell</i><br>
<p>
	I've written a Python interface to SANE that works in tandem<br>
with Fredrik Lundh's imaging library; scan results are returned as an<br>
Image object that can then be manipulated in various ways, and saved<br>
in various formats, such as PNG or JPEG.  If you don't want to use<br>
Python, I'm sure there's a similar image processing toolkit for Perl<br>
that would only require a SANE interface to be written.<br>
<p>
	The code is now at <a href="http://starship.skyport.net/crew/amk/maintained/">http://starship.skyport.net/crew/amk/maintained/</a> .<br>
<p>
<p>
	Andrew Kuchling<br>
	<a href="mailto:amk@magnet.com">amk@magnet.com</a><br>
	<a href="http://starship.skyport.net/crew/amk/">http://starship.skyport.net/crew/amk/</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">Simona Venuti: "REQ: Info about drivers."</a>
<li> <b>Previous message:</b> <a href="0087.html">Helmut Koeberle: "Backend for Canon CanoScan 600"</a>
<li> <b>Maybe in reply to:</b> <a href="0072.html">Howard J. Poe: "SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
