<!-- received="Wed Nov 19 12:13:16 1997 PST" -->
<!-- sent="Wed, 19 Nov 1997 21:08:53 +0100 (MET)" -->
<!-- name="Enrico Oreglia" -->
<!-- email="oreglia@ibm.net" -->
<!-- subject="PARAGON 600 II N" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: PARAGON 600 II N</title>
<h1>PARAGON 600 II N</h1>
<b>Enrico Oreglia</b> (<a href="mailto:oreglia@ibm.net"><i>oreglia@ibm.net</i></a>)<br>
<i>Wed, 19 Nov 1997 21:08:53 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#120">[ date ]</a><a href="index.html#120">[ thread ]</a><a href="subject.html#120">[ subject ]</a><a href="author.html#120">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">becka@rz.uni-duesseldorf.de: "Re: PARAGON 600 II N"</a>
<li> <b>Previous message:</b> <a href="0119.html">Oliver.Rauch@Wolfsburg.DE: "Re: Color problems with SANE and UMAX UC630"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
Please, help me, I'm pretty unexperienced with sane...<br>
<p>
I've taken sane-0.67 package and the patch (thank you Mr. Czechanowski!)<br>
<p>
Now, after reading all man pages, also the postscript guide, I've no ideas<br>
on how to make working my scanner ;-(<br>
<p>
My scanner isn't scsi standard or parallel port scanner, it's driven by an<br>
ISA card unknown, so what have I to do? I've read the sane-mustek man page<br>
and I've not found my model...<br>
<p>
I've compiled the executables scanimage and xscanimage.<br>
<p>
Please, someone can tell exactely what I've to do?<br>
<p>
Thank you.<br>
<p>
best regards,<br>
<p>
enrico<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">becka@rz.uni-duesseldorf.de: "Re: PARAGON 600 II N"</a>
<li> <b>Previous message:</b> <a href="0119.html">Oliver.Rauch@Wolfsburg.DE: "Re: Color problems with SANE and UMAX UC630"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
