<!-- received="Wed Nov 26 09:43:39 1997 PST" -->
<!-- sent="Wed, 26 Nov 1997 09:43:37 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: sane under aix" -->
<!-- id="199711261743.JAA27396@panda.mostang.com" -->
<!-- inreplyto="199711261220.EAA26205@panda.mostang.com" -->
<title>sane-devel: Re: sane under aix</title>
<h1>Re: sane under aix</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 26 Nov 1997 09:43:37 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#163">[ date ]</a><a href="index.html#163">[ thread ]</a><a href="subject.html#163">[ subject ]</a><a href="author.html#163">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Robbie: "NECH Scanner"</a>
<li> <b>Previous message:</b> <a href="0162.html">Bianchi Michele: "sane under aix"</a>
<li> <b>In reply to:</b> <a href="0162.html">Bianchi Michele: "sane under aix"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0175.html">Rogan Dawes: "Re: sane under aix"</a>
<li> <b>Reply:</b> <a href="0175.html">Rogan Dawes: "Re: sane under aix"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 26 Nov 1997 13:20:11 MET, Bianchi Michele &lt;<a href="mailto:mic@molly.sci.univr.it">mic@molly.sci.univr.it</a>&gt; said:</i><br>
<p>
  Bianchi&gt; i use an ibm rs6000 with aix 4.2, i compiled sucessfully<br>
  Bianchi&gt; sane 0.67, but i don't known how to make the device under<br>
  Bianchi&gt; /dev... i tried with smit, but....  nothing to do.  could<br>
  Bianchi&gt; you help me?<br>
<p>
Sorry, SANE does not currently have generic scsi support for AIX.<br>
Rogan Dawes &lt;<a href="mailto:rdawes@jhbelec.co.za">rdawes@jhbelec.co.za</a>&gt; is/was working on this, but I have<br>
not heard from him in a while, so I'm unsure of what the status of the<br>
AIX scsi support is.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Robbie: "NECH Scanner"</a>
<li> <b>Previous message:</b> <a href="0162.html">Bianchi Michele: "sane under aix"</a>
<li> <b>In reply to:</b> <a href="0162.html">Bianchi Michele: "sane under aix"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0175.html">Rogan Dawes: "Re: sane under aix"</a>
<li> <b>Reply:</b> <a href="0175.html">Rogan Dawes: "Re: sane under aix"</a>
<!-- reply="end" -->
</ul>
