<!-- received="Sun Nov 30 21:46:27 1997 PST" -->
<!-- sent="Mon, 1 Dec 1997 07:45:45 +0200" -->
<!-- name="Rogan Dawes" -->
<!-- email="rdawes@jhbelec.co.za" -->
<!-- subject="Re: sane under aix" -->
<!-- id="19971201074545.19073@adm2jed" -->
<!-- inreplyto="199711261743.JAA27396@panda.mostang.com" -->
<title>sane-devel: Re: sane under aix</title>
<h1>Re: sane under aix</h1>
<b>Rogan Dawes</b> (<a href="mailto:rdawes@jhbelec.co.za"><i>rdawes@jhbelec.co.za</i></a>)<br>
<i>Mon, 1 Dec 1997 07:45:45 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#175">[ date ]</a><a href="index.html#175">[ thread ]</a><a href="subject.html#175">[ subject ]</a><a href="author.html#175">[ author ]</a>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0174.html">Gernot Zander: "Re: Mustek Bugreport (Gamma didn't work)"</a>
<li> <b>In reply to:</b> <a href="0163.html">David Mosberger-Tang: "Re: sane under aix"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Quoting David Mosberger-Tang (<a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a>):<br>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Wed, 26 Nov 1997 13:20:11 MET, Bianchi Michele &lt;<a href="mailto:mic@molly.sci.univr.it">mic@molly.sci.univr.it</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Bianchi&gt; i use an ibm rs6000 with aix 4.2, i compiled sucessfully</i><br>
<i>&gt;   Bianchi&gt; sane 0.67, but i don't known how to make the device under</i><br>
<i>&gt;   Bianchi&gt; /dev... i tried with smit, but....  nothing to do.  could</i><br>
<i>&gt;   Bianchi&gt; you help me?</i><br>
<i>&gt; </i><br>
<i>&gt; Sorry, SANE does not currently have generic scsi support for AIX.</i><br>
<i>&gt; Rogan Dawes &lt;<a href="mailto:rdawes@jhbelec.co.za">rdawes@jhbelec.co.za</a>&gt; is/was working on this, but I have</i><br>
<i>&gt; not heard from him in a while, so I'm unsure of what the status of the</i><br>
<i>&gt; AIX scsi support is.</i><br>
<i>&gt; </i><br>
<i>&gt; 	--david</i><br>
<i>&gt; </i><br>
<p>
Well, I tried, but was not too successful.  I was able to track down a<br>
generic SCSI driver for AIX 4.x, but trying to implement the AIX SCSI<br>
code turned out to be a bit more tricky than I bargained for.  The first<br>
time I tried it, I managed to get the operating system to hang up<br>
completely, and do a dump to the hard drive.  I became a bit worried<br>
after that, because the machine in question, while not production as<br>
such, was still quite important.<br>
<p>
So, you can take my name of the list of maintainers/port attempters.<br>
<p>
I am also changing jobs, so will not have access to the AIX machines for<br>
much longer.<br>
<p>
But keep up the good work guys.  You are doing a fantastic job!<br>
<p>
Rogan<br>
<pre>
-- 
Rogan Dawes  <a href="mailto:rdawes@jhbelec.co.za">rdawes@jhbelec.co.za</a>   Tel: (011) 490-7379  Fax: (011) 490-7327
- The software said it requires Windows 3.1 or better, so I installed Linux -
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0174.html">Gernot Zander: "Re: Mustek Bugreport (Gamma didn't work)"</a>
<li> <b>In reply to:</b> <a href="0163.html">David Mosberger-Tang: "Re: sane under aix"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
