<!-- received="Thu Jul  1 15:23:08 1999 PDT" -->
<!-- sent="Thu, 1 Jul 1999 18:32:15 -0400" -->
<!-- name="Fred Willingham" -->
<!-- email="fcw@worldpath.net" -->
<!-- subject="Re: A page on the Coolscan LS-30/2000" -->
<!-- id="" -->
<!-- inreplyto="A page on the Coolscan LS-30/2000" -->
<title>sane-devel: Re: A page on the Coolscan LS-30/2000</title>
<h1>Re: A page on the Coolscan LS-30/2000</h1>
<b>Fred Willingham</b> (<a href="mailto:fcw@worldpath.net"><i>fcw@worldpath.net</i></a>)<br>
<i>Thu, 1 Jul 1999 18:32:15 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#2">[ date ]</a><a href="index.html#2">[ thread ]</a><a href="subject.html#2">[ subject ]</a><a href="author.html#2">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Irv Thomae: "Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>Previous message:</b> <a href="0001.html">Oliver Rauch: "New umax backend available: Astra 2400S and Mirage D-16L supported"</a>
<li> <b>Maybe in reply to:</b> <a href="0000.html">Andreas Rick: "A page on the Coolscan LS-30/2000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have an LS-30 and I'm ready to test.<br>
<p>
Thanks SO much for your work.<br>
<p>
-F<br>
<p>
----- Original Message ----- <br>
From: Andreas Rick &lt;<a href="mailto:rickand@gemse.fr">rickand@gemse.fr</a>&gt;<br>
To: &lt;<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a>&gt;<br>
Sent: Thursday, July 1, 1999 3:37 AM<br>
Subject: A page on the Coolscan LS-30/2000<br>
<p>
<p>
<i>&gt; Hi there</i><br>
<i>&gt; </i><br>
<i>&gt; After sorting out all the problems with wanadoo+linux</i><br>
<i>&gt; I have uploaded a page about the modified Backend</i><br>
<i>&gt; for the Coolscan LS-30 and LS-2000 on:</i><br>
<i>&gt; </i><br>
<i>&gt; <a href="http://perso.wanadoo.fr/rick/sane/coolscan.html">http://perso.wanadoo.fr/rick/sane/coolscan.html</a></i><br>
<i>&gt; </i><br>
<i>&gt; It also has a page on the dust removal feature.</i><br>
<i>&gt; </i><br>
<i>&gt; After a discussion with Didier - the author of</i><br>
<i>&gt; the original Coolscan Backend - we will try</i><br>
<i>&gt; to make one single version of the backend for</i><br>
<i>&gt; all Coolscans (ls20 ls1000 ls30 ls2000).</i><br>
<i>&gt; </i><br>
<i>&gt; To help me with the testing, I would appreciate</i><br>
<i>&gt; if people who have one of the scanners and are</i><br>
<i>&gt; willing to do some testing with the new backend</i><br>
<i>&gt; would tell me so.</i><br>
<i>&gt; </i><br>
<i>&gt; Happy scanning/testing</i><br>
<i>&gt; </i><br>
<i>&gt; Andreas</i><br>
<i>&gt; </i><br>
<i>&gt; ----------------------------------------------------------</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Irv Thomae: "Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>Previous message:</b> <a href="0001.html">Oliver Rauch: "New umax backend available: Astra 2400S and Mirage D-16L supported"</a>
<li> <b>Maybe in reply to:</b> <a href="0000.html">Andreas Rick: "A page on the Coolscan LS-30/2000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
