<!-- received="Fri Jul  2 22:34:54 1999 PDT" -->
<!-- sent="Fri, 2 Jul 1999 23:34:32 -0600 (MDT)" -->
<!-- name="aanderson =" -->
<!-- email="aanderson3@uswest.net" -->
<!-- subject="Re: Artec AT6 yet again" -->
<!-- id="m110IRc-000Ka1C@bois.uswest.net" -->
<!-- inreplyto="Artec AT6 yet again" -->
<title>sane-devel: Re: Artec AT6 yet again</title>
<h1>Re: Artec AT6 yet again</h1>
<b>aanderson =</b> (<a href="mailto:aanderson3@uswest.net"><i>aanderson3@uswest.net</i></a>)<br>
<i>Fri, 2 Jul 1999 23:34:32 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Kevin Dalley: "XSANE-0.27 still has problems with scan selection in preview"</a>
<li> <b>Previous message:</b> <a href="0011.html">Brian B.: "Re: Artec AT6 yet again"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0020.html">Brian B.: "Re: Artec AT6 yet again (or is the card or the scanner) ((or is it sane or the kernel))"</a>
<li> <b>Reply:</b> <a href="0020.html">Brian B.: "Re: Artec AT6 yet again (or is the card or the scanner) ((or is it sane or the kernel))"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;as per: "Brian B." &lt;<a href="mailto:ixnay@wws.net">ixnay@wws.net</a>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;Thus spake Wolfgang Goeller (<a href="mailto:wgoeller@active.ch">wgoeller@active.ch</a>):</i><br>
<i>&gt;</i><br>
<i>&gt;&gt; "Brian B." wrote:</i><br>
<i>&gt;&gt; </i><br>
<i>&gt;&gt; If you did follow the latest discussions in this group:</i><br>
<i>&gt;&gt; There seems to be a problem with your Adaptec-card and</i><br>
<i>&gt;&gt; Kernels &gt;2.2.5 - hope this helps.</i><br>
<i>&gt;&gt; See message from aanderson dated July 2nd</i><br>
<i>&gt;&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;I checked out that thread and it seemed alot like my problem except he seems to</i><br>
<i>&gt;have 1520b i have a 1520a. I doubt this makes a diference though and he had</i><br>
<i>&gt;lock ups for a few seconds I tried to let it go to see if it came back but in</i><br>
<i>&gt;the morning when I woke up it was still hung (6 hours later). I will compile</i><br>
<i>&gt;and try 2.2.4 (I forget wasnt there a security bug in that kernel?) </i><br>
<i>&gt;</i><br>
<i>&gt;Ill let ya know</i><br>
<i>&gt;</i><br>
<i>&gt;Also to anderson if you read this. Does the system hang with disk access?</i><br>
<i>&gt;</i><br>
I just tried some large file copies while scanning. Other than the thrashing<br>
from the long periods where the scanner was precluding smooth swapping, everything<br>
seemed to work fine.<br>
<p>
Of course, all the disks are IDE, and there is only the scanner on the SCSI.<br>
<p>
There seems to be no damage to the system at this time.  The copies did<br>
seem to allow xtop to recover from the scan and go back to reporting 99%<br>
idle even while the xscanimage was still resident.<br>
<p>
I used to get system crashes whenever I tried ANY interrupt while scanning, which<br>
is why I worked up to 2.2.10... so I think that is definitely worth trying.<br>
<p>
BTW, does anyone know the difference between 1520A and 1520B?<br>
<p>
				Thanx,<br>
<p>
			From Al Anderson	<br>
_______________________________________________________<br>
- Anything NOT worth doing..is NOT worth doing well! AA<br>
_______________________________________________________<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Kevin Dalley: "XSANE-0.27 still has problems with scan selection in preview"</a>
<li> <b>Previous message:</b> <a href="0011.html">Brian B.: "Re: Artec AT6 yet again"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0020.html">Brian B.: "Re: Artec AT6 yet again (or is the card or the scanner) ((or is it sane or the kernel))"</a>
<li> <b>Reply:</b> <a href="0020.html">Brian B.: "Re: Artec AT6 yet again (or is the card or the scanner) ((or is it sane or the kernel))"</a>
<!-- reply="end" -->
</ul>
