<!-- received="Thu Jul  8 10:04:18 1999 PDT" -->
<!-- sent="Thu, 08 Jul 1999 19:07:32 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="New umax backend (UMAX Mirage D-16L)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: New umax backend (UMAX Mirage D-16L)</title>
<h1>New umax backend (UMAX Mirage D-16L)</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 08 Jul 1999 19:07:32 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#48">[ date ]</a><a href="index.html#48">[ thread ]</a><a href="subject.html#48">[ subject ]</a><a href="author.html#48">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Mike Harris: "Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>Previous message:</b> <a href="0047.html">Oliver Rauch: "Re: xsane copy function"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I added full support for the UMAX Mirage D-16L<br>
(especally quality callibration does work now)!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Mike Harris: "Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>Previous message:</b> <a href="0047.html">Oliver Rauch: "Re: xsane copy function"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
