<!-- received="Tue Jul 13 10:41:18 1999 PDT" -->
<!-- sent="Tue, 13 Jul 1999 14:50:41 -0300" -->
<!-- name="Eduardo M. A. M. Mendes" -->
<!-- email="mendes@mgconecta.com.br" -->
<!-- subject="xsane-0.28 problems when compiling it!!" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane-0.28 problems when compiling it!!</title>
<h1>xsane-0.28 problems when compiling it!!</h1>
<b>Eduardo M. A. M. Mendes</b> (<a href="mailto:mendes@mgconecta.com.br"><i>mendes@mgconecta.com.br</i></a>)<br>
<i>Tue, 13 Jul 1999 14:50:41 -0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#66">[ date ]</a><a href="index.html#66">[ thread ]</a><a href="subject.html#66">[ subject ]</a><a href="author.html#66">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">Oliver Rauch: "Re: xsane-0.28 problems when compiling it!!"</a>
<li> <b>Previous message:</b> <a href="0065.html">Ryoji KAWAGISHI: "Japanese doc available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0067.html">Oliver Rauch: "Re: xsane-0.28 problems when compiling it!!"</a>
<li> <b>Reply:</b> <a href="0067.html">Oliver Rauch: "Re: xsane-0.28 problems when compiling it!!"</a>
<li> <b>Reply:</b> <a href="0068.html">mendes@mgconecta.com.br: "Re: xsane-0.28 problems when compiling it!!"</a>
<li> <b>Reply:</b> <a href="0073.html">Oliver Rauch: "Re: xsane-0.28 problems when compiling it!!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello all<br>
    I know it is silly problem but I can't solve it.<br>
    When making xsane-0.28 I've got the following message:<br>
<p>
sanei_wire.c:49: sane/sane.h: No such file or directory<br>
make[1]: *** [sanei_wire.o] Error 1<br>
make: *** [all-recursive] Error 1<br>
<p>
and something similar when compiling gtk+-1.2.3<br>
<p>
<p>
libtool: link: `../../glib-1.2.3/gmodule.la' is not a valid libtool archive<br>
make[2]: *** [testgtk] Error 1<br>
make[2]: Leaving directory `/packages/gtk+-1.2.3/gtk'<br>
make[1]: *** [all-recursive] Error 1<br>
make[1]: Leaving directory `/packages/gtk+-1.2.3'<br>
make: *** [all-recursive-am] Error 2<br>
<p>
Any help would be appreciated.<br>
<p>
Thanks<br>
<p>
Ed<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">Oliver Rauch: "Re: xsane-0.28 problems when compiling it!!"</a>
<li> <b>Previous message:</b> <a href="0065.html">Ryoji KAWAGISHI: "Japanese doc available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0067.html">Oliver Rauch: "Re: xsane-0.28 problems when compiling it!!"</a>
<li> <b>Reply:</b> <a href="0067.html">Oliver Rauch: "Re: xsane-0.28 problems when compiling it!!"</a>
<li> <b>Reply:</b> <a href="0068.html">mendes@mgconecta.com.br: "Re: xsane-0.28 problems when compiling it!!"</a>
<li> <b>Reply:</b> <a href="0073.html">Oliver Rauch: "Re: xsane-0.28 problems when compiling it!!"</a>
<!-- reply="end" -->
</ul>
