<!-- received="Wed Jul 14 15:26:52 1999 PDT" -->
<!-- sent="Wed, 14 Jul 1999 12:21:35 -0600 (MDT)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="SnapScan 0.7 sources available; working patch upcoming" -->
<!-- id="19990714182139Z13370-24954+159@scapa.cs.ualberta.ca" -->
<!-- inreplyto="" -->
<title>sane-devel: SnapScan 0.7 sources available; working patch upcoming</title>
<h1>SnapScan 0.7 sources available; working patch upcoming</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Wed, 14 Jul 1999 12:21:35 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#74">[ date ]</a><a href="index.html#74">[ thread ]</a><a href="subject.html#74">[ subject ]</a><a href="author.html#74">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">Douglas Gilbert: "Re: SnapScan 0.7 sources available; working patch upcoming"</a>
<li> <b>Previous message:</b> <a href="0073.html">Oliver Rauch: "Re: xsane-0.28 problems when compiling it!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">Douglas Gilbert: "Re: SnapScan 0.7 sources available; working patch upcoming"</a>
<li> <b>Reply:</b> <a href="0075.html">Douglas Gilbert: "Re: SnapScan 0.7 sources available; working patch upcoming"</a>
<li> <b>Reply:</b> <a href="0078.html">abel deuring: "Re: SnapScan 0.7 sources available; working patch upcoming"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
As Francois pointed out, the patch I put on my web page last Friday<br>
night was against the wrong version of the sources. Sigh.<br>
<p>
Sorry for the confusion everyone. Working 0.7 source files are<br>
now available at<br>
<p>
<a href="http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html">http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html</a><br>
<p>
These can be used as drop-in replacements for the sources in<br>
SANE-1.0.1.<br>
<p>
I'll put patches that update the SANE 1.0.1 originals up in the<br>
next day.<br>
<p>
Oh, and sorry for mangling your last name, Francois :-)<br>
<p>
Kevin<br>
<pre>
-- 
Kevin Charter              
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">Douglas Gilbert: "Re: SnapScan 0.7 sources available; working patch upcoming"</a>
<li> <b>Previous message:</b> <a href="0073.html">Oliver Rauch: "Re: xsane-0.28 problems when compiling it!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">Douglas Gilbert: "Re: SnapScan 0.7 sources available; working patch upcoming"</a>
<li> <b>Reply:</b> <a href="0075.html">Douglas Gilbert: "Re: SnapScan 0.7 sources available; working patch upcoming"</a>
<li> <b>Reply:</b> <a href="0078.html">abel deuring: "Re: SnapScan 0.7 sources available; working patch upcoming"</a>
<!-- reply="end" -->
</ul>
