<!-- received="Wed Jul 14 19:27:53 1999 PDT" -->
<!-- sent="Wed, 14 Jul 1999 22:39:58 -0400" -->
<!-- name="Douglas Gilbert" -->
<!-- email="dgilbert@interlog.com" -->
<!-- subject="Re: SnapScan 0.7 sources available; working patch upcoming" -->
<!-- id="" -->
<!-- inreplyto="SnapScan 0.7 sources available; working patch upcoming" -->
<title>sane-devel: Re: SnapScan 0.7 sources available; working patch upcoming</title>
<h1>Re: SnapScan 0.7 sources available; working patch upcoming</h1>
<b>Douglas Gilbert</b> (<a href="mailto:dgilbert@interlog.com"><i>dgilbert@interlog.com</i></a>)<br>
<i>Wed, 14 Jul 1999 22:39:58 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#75">[ date ]</a><a href="index.html#75">[ thread ]</a><a href="subject.html#75">[ subject ]</a><a href="author.html#75">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Steve Gunnell: "xscanimage preview problems"</a>
<li> <b>Previous message:</b> <a href="0074.html">Kevin Charter: "SnapScan 0.7 sources available; working patch upcoming"</a>
<li> <b>Maybe in reply to:</b> <a href="0074.html">Kevin Charter: "SnapScan 0.7 sources available; working patch upcoming"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0078.html">abel deuring: "Re: SnapScan 0.7 sources available; working patch upcoming"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Kevin Charter wrote:<br>
<i>&gt; </i><br>
<i>&gt; As Francois pointed out, the patch I put on my web page last Friday</i><br>
<i>&gt; night was against the wrong version of the sources. Sigh.</i><br>
<i>&gt; </i><br>
<i>&gt; Sorry for the confusion everyone. Working 0.7 source files are</i><br>
<i>&gt; now available at</i><br>
<i>&gt; </i><br>
<i>&gt; <a href="http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html">http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html</a></i><br>
<i>&gt; </i><br>
<i>&gt; These can be used as drop-in replacements for the sources in</i><br>
<i>&gt; SANE-1.0.1.</i><br>
<i>&gt; </i><br>
<i>&gt; I'll put patches that update the SANE 1.0.1 originals up in the</i><br>
<i>&gt; next day.</i><br>
<p>
Attacking the same problem from another angle there is<br>
a "test version" of the Linux sg driver (2.1.35) on<br>
<a href="http://www.torque.net/sg">http://www.torque.net/sg</a><br>
<p>
Francois's tests show that it cures his Snapscan problem.<br>
I encourage others to try it. It will probably reach the<br>
production kernel around 2.2.12 .<br>
<p>
Abel Deuring &lt;<a href="mailto:a.deuring@satzbau-gmbh.de">a.deuring@satzbau-gmbh.de</a>&gt; is also getting<br>
some impressive speedups with his SnapScan using larger<br>
buffers and "pseudo" command queuing.<br>
<p>
Also anyone having out of memory problems with Linux when<br>
using SCSI devices (not just sg) may like to try 2.2.10-ac10<br>
that has improvements in the page allocation algorithms by<br>
H. J. Lu. Those changes seem to help a lot and hopefully<br>
will appear in 2.2.11 .<br>
<p>
Doug Gilbert<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Steve Gunnell: "xscanimage preview problems"</a>
<li> <b>Previous message:</b> <a href="0074.html">Kevin Charter: "SnapScan 0.7 sources available; working patch upcoming"</a>
<li> <b>Maybe in reply to:</b> <a href="0074.html">Kevin Charter: "SnapScan 0.7 sources available; working patch upcoming"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0078.html">abel deuring: "Re: SnapScan 0.7 sources available; working patch upcoming"</a>
<!-- reply="end" -->
</ul>
