<!-- received="Fri Jul 16 20:02:07 1999 PDT" -->
<!-- sent="Fri, 16 Jul 1999 22:10:28 -0500 (CDT)" -->
<!-- name="Henry Miller" -->
<!-- email="hank@black-hole.com" -->
<!-- subject="Re: Leoscan 3S/ Across 3S scanners" -->
<!-- id="" -->
<!-- inreplyto="378F51E5.8CF2A269@iname.com" -->
<title>sane-devel: Re: Leoscan 3S/ Across 3S scanners</title>
<h1>Re: Leoscan 3S/ Across 3S scanners</h1>
<b>Henry Miller</b> (<a href="mailto:hank@black-hole.com"><i>hank@black-hole.com</i></a>)<br>
<i>Fri, 16 Jul 1999 22:10:28 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#96">[ date ]</a><a href="index.html#96">[ thread ]</a><a href="subject.html#96">[ subject ]</a><a href="author.html#96">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">Michael Cunningham: "Best sane supported scanner?"</a>
<li> <b>Previous message:</b> <a href="0095.html">Andreas: "CoolScan Backend Version 0.4.2 is out"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 16 Jul 1999, Lany Wilson wrote:<br>
<p>
<i>&gt; Does anyone know if a sane driver exists for the Leoscan/Across 3S scanners? I</i><br>
<i>&gt; got my venerable DTC3181e scsi card working and find-scanner locates the scanner</i><br>
<i>&gt; on /dev/scanner ok but scanimage can't find any drivers. I've every combo I can</i><br>
<i>&gt; think of.</i><br>
<p>
No backend, but I've reversed engineered the protocol enough that if you<br>
wanted to take a shot you could get something working.<br>
<p>
see <a href="http://www.black-hole.com/users/henrymiller/leo/notes.txt">http://www.black-hole.com/users/henrymiller/leo/notes.txt</a><br>
<p>
Because this is reversed engineered from a clean room standpoint, there<br>
are no NDAs to worry about!<br>
<p>
<pre>
--
      <a href="http://www.black-hole.com/users/henrymiller/">http://www.black-hole.com/users/henrymiller/</a> 
      <a href="mailto:hank@black-hole.com">hank@black-hole.com</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">Michael Cunningham: "Best sane supported scanner?"</a>
<li> <b>Previous message:</b> <a href="0095.html">Andreas: "CoolScan Backend Version 0.4.2 is out"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
