<!-- received="Tue Jul 20 09:47:49 1999 PDT" -->
<!-- sent="Tue, 20 Jul 1999 18:54:54 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Release early, release often" -->
<!-- id="" -->
<!-- inreplyto="Release early, release often" -->
<title>sane-devel: Re: Release early, release often</title>
<h1>Re: Release early, release often</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 20 Jul 1999 18:54:54 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#129">[ date ]</a><a href="index.html#129">[ thread ]</a><a href="subject.html#129">[ subject ]</a><a href="author.html#129">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">Oliver Rauch: "Re: Release early, release often"</a>
<li> <b>Previous message:</b> <a href="0128.html">Oliver Rauch: "Re: Possible xsane bug?"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Petter Reinholdtsen: "Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0130.html">Oliver Rauch: "Re: Release early, release often"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Petter Reinholdtsen wrote:<br>
<p>
<i>&gt; &gt; Is there a way to give maintainers restricted write access, say to</i><br>
<i>&gt; &gt; just the part of the package they are responsible for?</i><br>
<i>&gt;</i><br>
<i>&gt; It is smarter and easier to let social control take care of this too.</i><br>
<i>&gt; If there is disagreement on some change, it can always be reversed</i><br>
<i>&gt; using CVS.</i><br>
<i>&gt;</i><br>
<i>&gt; When a summary of all changes to the current source in addition are</i><br>
<i>&gt; mailed to all maintainers, it is easy to keep track of the changes.</i><br>
<p>
I disagree here!<br>
Normally there is one person who works on a backend.<br>
It is not a good idea if anyone has write-access to<br>
the backends.<br>
If someone else wants to change anything on a backend,<br>
he should mail his patch to the author of the backend.<br>
<p>
In most cases only the backend author is familiar enough<br>
with the backend, so he has to check a patch at first before<br>
it gets into the offical source!<br>
<p>
I think it could be good if the backend authors would<br>
update their part in CVS!<br>
But in fact there is no great advantage because a user needs<br>
a recent sane version and has to update the backend he<br>
uses, so there is not much more work than getting the CVS version!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">Oliver Rauch: "Re: Release early, release often"</a>
<li> <b>Previous message:</b> <a href="0128.html">Oliver Rauch: "Re: Possible xsane bug?"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Petter Reinholdtsen: "Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0130.html">Oliver Rauch: "Re: Release early, release often"</a>
<!-- reply="end" -->
</ul>
