<!-- received="Sun Jul 25 18:24:01 1999 PDT" -->
<!-- sent="Mon, 26 Jul 1999 02:38:54 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: Anyone with a Umax Document Feeder?" -->
<!-- id="" -->
<!-- inreplyto="379A39B4.9F92EA1@wolfsburg.de" -->
<title>sane-devel: Re: Anyone with a Umax Document Feeder?</title>
<h1>Re: Anyone with a Umax Document Feeder?</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Mon, 26 Jul 1999 02:38:54 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#170">[ date ]</a><a href="index.html#170">[ thread ]</a><a href="subject.html#170">[ subject ]</a><a href="author.html#170">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">Sven Riedel: "scanner won't budge during scanning, producing weird patterns as output"</a>
<li> <b>Previous message:</b> <a href="0169.html">Petter Reinholdtsen: "CVS web page?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 25 Jul 1999, Oliver Rauch wrote:<br>
<p>
<i>&gt; I am in contact with David to add some things to the sane api.</i><br>
<i>&gt; One of this is to define how to handle a document feeder.</i><br>
<i>&gt; The idea is very simple:</i><br>
<i>&gt; We define a well known option "mode" that defines the scanmode</i><br>
<i>&gt; such as "Flatbed", "Transparency Adapter" or "Automatic Document Feeder".</i><br>
<p>
I wonder if this is short-sighted? Can you explain what it's for?<br>
Regardless it should probably be called something other than "mode".<br>
<p>
<i>&gt; If the option "mode" is set to "Automatic Document Feeder" xsane scans</i><br>
<i>&gt; until it gets an error</i><br>
<i>&gt; (such as out of paper).</i><br>
<p>
What will this SANE option "mode" actually do? I don't mean in Xsane<br>
(which is a frontend, and therefore doesn't HAVE any SANE options) I<br>
want to know what it does in the backend.<br>
<p>
<i>&gt; Functions such as unload page or load new page can be realised by a button</i><br>
<i>&gt; that calls a function of the backend, there is nothing that must be defined</i><br>
<i>&gt; for it!</i><br>
<p>
Like this?<br>
SANE_TYPE_BUTTON "unload page"<br>
SANE_TYPE_BUTTON "next page"<br>
There are existing buttons like this in the HP backend, I just want the<br>
SANE documentation altered to make them "Well Known Options" and define<br>
the exact behaviour in a central place.<br>
<p>
It makes sense for XSane to use these buttons internally, while also<br>
presenting them in the user-interface. You can programatically "push"<br>
the button for each new page. In non-ADF-aware SANE apps, like the<br>
current XSane, the buttons still work.<br>
<p>
<i>&gt; The probelm is that the hp backend is not compatible to this.</i><br>
<i>&gt; The umax backend does work this way so I would prefer a UMAX document feeder.</i><br>
<p>
How does the UMAX backend work?<br>
<p>
<i>&gt; Thanks, if I don`t get any other docfeeder, we will see if we can make the hp</i><br>
<i>&gt; backend compatible!</i><br>
<p>
But I don't understand what's wrong with it? Can you persuade me why the<br>
UMAX way is superior (perhaps it will be obvious after you explain the<br>
differences above).<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">Sven Riedel: "scanner won't budge during scanning, producing weird patterns as output"</a>
<li> <b>Previous message:</b> <a href="0169.html">Petter Reinholdtsen: "CVS web page?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
