<!-- received="Tue Jul 27 04:22:26 1999 PDT" -->
<!-- sent="Tue, 27 Jul 1999 13:38:00 +0200" -->
<!-- name="Klaus Steinberger" -->
<!-- email="Klaus.Steinberger@Physik.Uni-Muenchen.DE" -->
<!-- subject="Problem with HP Scanjet IIc" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Problem with HP Scanjet IIc</title>
<h1>Problem with HP Scanjet IIc</h1>
<b>Klaus Steinberger</b> (<a href="mailto:Klaus.Steinberger@Physik.Uni-Muenchen.DE"><i>Klaus.Steinberger@Physik.Uni-Muenchen.DE</i></a>)<br>
<i>Tue, 27 Jul 1999 13:38:00 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#187">[ date ]</a><a href="index.html#187">[ thread ]</a><a href="subject.html#187">[ subject ]</a><a href="author.html#187">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">Andreas Rick: "Re: Document Feeders"</a>
<li> <b>Previous message:</b> <a href="0186.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: OCR package?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I have a Scanjet IIc which work very well with sane + Linux Kernel 2.0.x<br>
but now with Linux 2.2.x it hangs.<br>
<p>
The symptom is the following:<br>
<p>
After starting the "acquire preview" it moves a little, and then stops<br>
(probably for Lamp warming up), in this phase it hangs endlessly<br>
(sometimes it works but very seldom).<br>
<p>
The SCSI Controller is a Adaptec 2940<br>
<p>
Vice versa a HP Scanjet IV c connected to another box also with Linux 2.2.x<br>
works very well.<br>
<p>
Any ideas?<br>
<p>
Sincerly,<br>
Klaus<br>
<p>
<pre>
-- 
Klaus Steinberger               Beschleunigerlabor der TU und LMU Muenchen
Phone: (+49 89)289 14287        Hochschulgelaende, D-85748 Garching, Germany
FAX:   (+49 89)289 14280        EMail: <a href="mailto:Klaus.Steinberger@Physik.Uni-Muenchen.DE">Klaus.Steinberger@Physik.Uni-Muenchen.DE</a>
URL: <a href="http://www.bl.physik.tu-muenchen.de/~k2/">http://www.bl.physik.tu-muenchen.de/~k2/</a>
Stimm gegen Spam:	<a href="http://www.politik-digital.de/spam/">http://www.politik-digital.de/spam/</a>
In a world without fences and walls, who needs Windows and Gates?
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">Andreas Rick: "Re: Document Feeders"</a>
<li> <b>Previous message:</b> <a href="0186.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: OCR package?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
