<!-- received="Tue Jul 27 11:08:47 1999 PDT" -->
<!-- sent="Tue, 27 Jul 1999 20:24:10 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Document Feeders (was Re: Anyone with a Umax Document Feeder?)" -->
<!-- id="" -->
<!-- inreplyto="Document Feeders (was Re: Anyone with a Umax Document Feeder?)" -->
<title>sane-devel: Re: Document Feeders (was Re: Anyone with a Umax Document Feeder?)</title>
<h1>Re: Document Feeders (was Re: Anyone with a Umax Document Feeder?)</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 27 Jul 1999 20:24:10 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#194">[ date ]</a><a href="index.html#194">[ thread ]</a><a href="subject.html#194">[ subject ]</a><a href="author.html#194">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">Kipp C Cannon: "HP Scan Jet Plus problems --- help!"</a>
<li> <b>Previous message:</b> <a href="0193.html">Nick Lamb: "Re: Document Feeders (was Re: Anyone with a Umax Document Feeder?)"</a>
<li> <b>Maybe in reply to:</b> <a href="0182.html">Nick Lamb: "Document Feeders (was Re: Anyone with a Umax Document Feeder?)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Nick Lamb wrote:<br>
<p>
<i>&gt; On Tue, 27 Jul 1999, Oliver Rauch wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; Where is the problem when the backend calls "change page"</i><br>
<i>&gt; &gt; before starting the scan when scan source is set to "ADF" ?</i><br>
<i>&gt; &gt; This does work for all scanners with ADF!</i><br>
<i>&gt; &gt; I see no problem with this, because the idea of the ADF is to put in</i><br>
<i>&gt; &gt; a lot of papers that shall be copied, faxed or archieved, so the user</i><br>
<i>&gt; &gt; selects starts and comes back half an hour later and everything is</i><br>
<i>&gt; &gt; finished.</i><br>
<i>&gt;</i><br>
<i>&gt; If this works already, I'm not sure what you want changed in SANE ?</i><br>
<p>
Nothing for the backends that do work this way.<br>
<p>
The problem is that it is not defined as a standard until now.<br>
So we have to add the source="Automatic Document Feeder"<br>
to the sane api to give the frontend the chance to detect<br>
the ADF mode!<br>
<p>
<i>&gt; &gt; If you want a user interactive mode, the frontend does not need to</i><br>
<i>&gt; &gt; know anything about that because the user does press the buttons.</i><br>
<i>&gt; &gt; So if the user shall be able to say "next paper" that is not the idea</i><br>
<i>&gt; &gt; of ADF. I suggest to add an other scan source "Manual Document Feeder"</i><br>
<i>&gt; &gt; or something like that. But we do not need any well known options for</i><br>
<i>&gt; &gt; this because the frontend does not do anything automatically!</i><br>
<i>&gt;</i><br>
<i>&gt; Mmm. Well, the nice thing about the HP design is that I can write something</i><br>
<i>&gt; to do this, totally automatically, and without behaviour I don't know</i><br>
<i>&gt; about behind the scenes. I'd like this preserved, but it's fine if this</i><br>
<i>&gt; works just when source == MANUAL or whatever.</i><br>
<i>&gt;</i><br>
<i>&gt; while (we've got some sheets left) {</i><br>
<i>&gt;   load another sheet</i><br>
<i>&gt;   quick-preview-scan</i><br>
<i>&gt;   auto-select scan area (just call lists) and brightness/ contrast</i><br>
<i>&gt;   high-resolution-scan &gt; file</i><br>
<i>&gt; }</i><br>
<p>
This does only work in the source=MANUAL mode.<br>
A preview can not be done in ADF mode!<br>
<p>
<i>&gt; &gt; &gt; Also, Oliver: Does the Umax way give you separate scan data for each</i><br>
<i>&gt; &gt; &gt; sheet, or does the user/app have to cut it up post-scan?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; You get one image per page!</i><br>
<i>&gt; &gt; You call SANE_START, the scanner loads the page and scans the selected area.</i><br>
<i>&gt; &gt; Second SANE_START produces next image.</i><br>
<i>&gt;</i><br>
<i>&gt; Does this mean that the UMAX can really load and unload pages, but you</i><br>
<i>&gt; choose not to export this behaviour from the backend?</i><br>
<p>
No. The paper can not be only loaded.<br>
Loading and scanning happen at the same time:<br>
The backend tells the scanner to use the ADF, the<br>
scanner does not move the scanhead, instead it moves the<br>
paper over the fixed scanhead while the image is scanned.<br>
<p>
<i>&gt;</i><br>
<i>&gt; Can I do this (below) with the design you have in mind?</i><br>
<i>&gt;</i><br>
<i>&gt; 1. Put phone bill (35 sheets) into hopper, run Xsane</i><br>
<i>&gt; 2. Scan in first sheet, hand-tune brightness and scan area in Preview</i><br>
<i>&gt; 3. Do a final scan on that first sheet, check it for problems</i><br>
<i>&gt; 4. Tell Xsane "Scan all the remaining sheets with those settings"</i><br>
<i>&gt; 5. Go and have coffee</i><br>
<i>&gt;</i><br>
<p>
No, you only can scan a page only once. So there is no way<br>
to do two scans (preview and scan) in ADF mode!<br>
<p>
But you can do it this way:<br>
Put the first page to the flatbed surface, the rest into the ADF.<br>
Do a flatbed preview scan, select area and enhancement,<br>
do a flatbed scan for the first page. The rest is scanned in<br>
ADF mode... go and have a coffee.<br>
<p>
Normally I would do it a bit different.<br>
You will have different kinds of ADF scans.<br>
For each kind you define the settings once<br>
fax: paper size A4, scan mode lineart, threshold,<br>
and save them.<br>
Then you simply press start and go and have a tea.<br>
<p>
For your backend I would suggest to check the preview bit<br>
and if it was set while the last scan the page is not loaded for<br>
the next scan, then you will be able to do a preview<br>
and a scan on the same page.<br>
<p>
<p>
<i>&gt;</i><br>
<i>&gt; ALSO: Can I do this *without* XSane, in a shell script or OCR program?</i><br>
<i>&gt;</i><br>
<p>
I think you will not select a preview area or the enhancement values<br>
the way you suggested above. Instead you will say:<br>
scan all pages in the ADF with scansize DIN A5.<br>
No problem for a script.<br>
An OCR program should do it the way like xsane does it.<br>
That is a reason why it has to be specified in the sane standard!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">Kipp C Cannon: "HP Scan Jet Plus problems --- help!"</a>
<li> <b>Previous message:</b> <a href="0193.html">Nick Lamb: "Re: Document Feeders (was Re: Anyone with a Umax Document Feeder?)"</a>
<li> <b>Maybe in reply to:</b> <a href="0182.html">Nick Lamb: "Document Feeders (was Re: Anyone with a Umax Document Feeder?)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
