<!-- received="Wed Jul 28 08:50:49 1999 PDT" -->
<!-- sent="Mon, 5 Jul 1999 14:27:09 -0700" -->
<!-- name="wingel@t1.ctrl-c.liu.se" -->
<!-- email="wingel@t1.ctrl-c.liu.se" -->
<!-- subject="New HP ScanJet Plus driver" -->
<!-- id="199907052127.OAA06613@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: New HP ScanJet Plus driver</title>
<h1>New HP ScanJet Plus driver</h1>
<a href="mailto:wingel@t1.ctrl-c.liu.se"><i>wingel@t1.ctrl-c.liu.se</i></a><br>
<i>Mon, 5 Jul 1999 14:27:09 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#204">[ date ]</a><a href="index.html#204">[ thread ]</a><a href="subject.html#204">[ subject ]</a><a href="author.html#204">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0205.html">Jeff Maki: "New Scanner That Works"</a>
<li> <b>Previous message:</b> <a href="0203.html">Rob Fisher: "SANE and Solaris 7"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[First of all.  The DNS setup for mostang.com seems seriously broken.<br>
I'm mailing this message by doing a telnet by hand to the SMTP port on<br>
24.1.65.179.  It seems as if the name servers for mostang.com (which<br>
are supposed to be ns.mostang.com/24.1.65.179 and<br>
CS.ARIZONA.EDU/192.12.69.5) don't know anything about that domain.]<br>
<p>
I have updated the HP ScanJet/ScanJet Plus driver to work with the<br>
2.2 kernels.  The latest release can be found at:<br>
<p>
    <a href="ftp://rvs.ctrl-c.liu.se/pub/wingel/hpscan/hpscan-2.2.7.tar.gz">ftp://rvs.ctrl-c.liu.se/pub/wingel/hpscan/hpscan-2.2.7.tar.gz</a><br>
<p>
The version number is the Linux kernel version the driver was made<br>
for.  I'm running 2.2.7 on my system, but the driver ought to work<br>
with any kernel from the 2.2 series.<br>
<p>
Also, since I have an _original_ HP ScanJet I've a patch which makes<br>
sane-1.0.1 work better with this scanner:<br>
<p>
    <a href="ftp://rvs.ctrl-c.liu.se/pub/wingel/hpscan/sane-1.0.1-hporig.diff">ftp://rvs.ctrl-c.liu.se/pub/wingel/hpscan/sane-1.0.1-hporig.diff</a><br>
<p>
There are actually three unrelated changes in this diff.<br>
<p>
The first is a change to hp-scl.c which uses the [ESC]*s3E command to<br>
retrieve the model of the scanner and stores this in the faked inquiry<br>
string.  Not very important but it's kind of nice to see a proper<br>
model name instead of just "MODELx".<br>
<p>
The second change is in hp-handle.c, it moves the<br>
sanei_hp_scl_inquire(... SCL_DATA_WIDTH ...) call (that the original<br>
HP ScanJet doesn't support) from outside the switch statement into the<br>
HP_SCANMODE_COLOR case where data_width is used.<br>
<p>
Finally, because the original HP ScanJet only handles 4 bits of<br>
grayscale and nothing else in the SANE packages seems to understand<br>
the format SANE_FRAME_GRAY with a depth of 4, I've made a really ugly<br>
hack which which detects if the scanner wants to use grayscale and<br>
expands the 4 bit data into 8 bit data on the fly.  This code is<br>
really ugly and I'm not sure if it deserves to live, but it is kind of<br>
useful for me since I have such an old scanner.<br>
<p>
I'd suggest that the first two changes make it into the sane sources<br>
since they ought to break nothing and fix a few things.  I'd like it<br>
if the the third change makes into the sources too, but it's up to the<br>
sense of aesthetics of the maintainer.  Which brings me to the<br>
question, who should I talk to to get this into the sources?<br>
  <br>
  /Christer<br>
<p>
<pre>
--
If it's tourist season, why can't we shoot them?
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0205.html">Jeff Maki: "New Scanner That Works"</a>
<li> <b>Previous message:</b> <a href="0203.html">Rob Fisher: "SANE and Solaris 7"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
