<!-- received="Sun Sep  6 07:23:23 1998 PDT" -->
<!-- sent="Sun, 6 Sep 1998 15:22:55 +0200 (MEST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: scanimage lineart bugreport" -->
<!-- id="m0zFemN-000CF7C@hades.beck-sw.de" -->
<!-- inreplyto="35F18B9E.586468C@cape.de" -->
<title>sane-devel: Re: scanimage lineart bugreport</title>
<h1>Re: scanimage lineart bugreport</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Sun, 6 Sep 1998 15:22:55 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#46">[ date ]</a><a href="index.html#46">[ thread ]</a><a href="subject.html#46">[ subject ]</a><a href="author.html#46">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Wolfgang Goeller: "Re: scanimage lineart bugreport (fwd)"</a>
<li> <b>Previous message:</b> <a href="0045.html">becka@rz.uni-duesseldorf.de: "scanimage lineart bugreport (fwd)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Maik, hi folks !<br>
<p>
I analyzed Maik's attachments. It seems that scanimage erratically creates<br>
a P5 (greymap) header for a P4 picture.<br>
<p>
Manually correcting this (P5-&gt;P4 and erasing the 255 in the colordepth line)<br>
fixed the problem and created a correct image that resembled the grey scan he<br>
sent me.<br>
<p>
Thus I assume that scanimage somehow misidentifies the picture format.<br>
Hope this helps.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Wolfgang Goeller: "Re: scanimage lineart bugreport (fwd)"</a>
<li> <b>Previous message:</b> <a href="0045.html">becka@rz.uni-duesseldorf.de: "scanimage lineart bugreport (fwd)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
