<!-- received="Sun Sep  6 10:41:31 1998 PDT" -->
<!-- sent="Sun, 06 Sep 1998 19:39:48 +0200" -->
<!-- name="Wolfgang Goeller" -->
<!-- email="wgoeller@active.ch" -->
<!-- subject="Re: scanimage lineart bugreport (fwd)" -->
<!-- id="" -->
<!-- inreplyto="scanimage lineart bugreport (fwd)" -->
<title>sane-devel: Re: scanimage lineart bugreport (fwd)</title>
<h1>Re: scanimage lineart bugreport (fwd)</h1>
<b>Wolfgang Goeller</b> (<a href="mailto:wgoeller@active.ch"><i>wgoeller@active.ch</i></a>)<br>
<i>Sun, 06 Sep 1998 19:39:48 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#47">[ date ]</a><a href="index.html#47">[ thread ]</a><a href="subject.html#47">[ subject ]</a><a href="author.html#47">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Dave Restall - System Administrator: "Re :- PIE (SCANACE) won't release technical info"</a>
<li> <b>Previous message:</b> <a href="0046.html">becka@rz.uni-duesseldorf.de: "Re: scanimage lineart bugreport"</a>
<li> <b>Maybe in reply to:</b> <a href="0045.html">becka@rz.uni-duesseldorf.de: "scanimage lineart bugreport (fwd)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0051.html">Kevin R. Charter: "Re: scanimage lineart bugreport (fwd)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Andy<br>
<p>
There's a little error in the lineart-code.<br>
I did mail the correction to Kevin, the author.<br>
So in his next release of snapscan you will find <br>
the fixes. Kevin has just passed his examinations<br>
and is moving. That leaves him little time for<br>
computing at all.<br>
<p>
If you need it right now - without waranty:<br>
<p>
around line 2630 yu'll find the code:<br>
<p>
    case MD_BILEVELCOLOUR:<br>
    p-&gt;format = SANE_FRAME_RGB;<br>
    /* the scanner uses depth 1, but the frontend will use 8 */<br>
    p-&gt;bytes_per_line = 3 * p-&gt;pixels_per_line;<br>
    p-&gt;depth = 8;<br>
    break;<br>
<p>
now add the lines:<br>
<p>
    case MD_LINEART: <br>
          {<br>
      p-&gt;depth = 1;<br>
          p-&gt;bytes_per_line = ( 3 * p-&gt;pixels_per_line ) / 8 ;<br>
          }<br>
<p>
and continue with the original code:<br>
<p>
    switch (pss-&gt;pdev-&gt;model)<br>
      {<br>
      case SNAPSCAN310:<br>
<p>
<p>
By the way: I found another bug: When scanning overt the<br>
net with the scanner attached to another computer I'll get<br>
wrong data. Something with sane_net does not work exactly.<br>
I couldn't find the reason yet. Obviously there's a difference<br>
between expected data and received data that mangles the <br>
scan-lines. Even that should be fixed with the next release<br>
of scanimage - and by then even the VUEGO-310-Scanner should<br>
work with the snapscan-interface.<br>
<p>
Regards<br>
Wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Dave Restall - System Administrator: "Re :- PIE (SCANACE) won't release technical info"</a>
<li> <b>Previous message:</b> <a href="0046.html">becka@rz.uni-duesseldorf.de: "Re: scanimage lineart bugreport"</a>
<li> <b>Maybe in reply to:</b> <a href="0045.html">becka@rz.uni-duesseldorf.de: "scanimage lineart bugreport (fwd)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0051.html">Kevin R. Charter: "Re: scanimage lineart bugreport (fwd)"</a>
<!-- reply="end" -->
</ul>
