<!-- received="Sun Sep  6 11:36:58 1998 PDT" -->
<!-- sent="Sun, 6 Sep 1998 19:16:52 GMT" -->
<!-- name="Dave Restall - System Administrator" -->
<!-- email="dave@restall.net" -->
<!-- subject="Re :- PIE (SCANACE) won't release technical info" -->
<!-- id="199809061916.TAA00583@restallnet.demon.co.uk" -->
<!-- inreplyto="" -->
<title>sane-devel: Re :- PIE (SCANACE) won't release technical info</title>
<h1>Re :- PIE (SCANACE) won't release technical info</h1>
<b>Dave Restall - System Administrator</b> (<a href="mailto:dave@restall.net"><i>dave@restall.net</i></a>)<br>
<i>Sun, 6 Sep 1998 19:16:52 GMT</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#48">[ date ]</a><a href="index.html#48">[ thread ]</a><a href="subject.html#48">[ subject ]</a><a href="author.html#48">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Kevin R. Charter: "Re: scanimage lineart bugreport (fwd) -- SnapScan backend"</a>
<li> <b>Previous message:</b> <a href="0047.html">Wolfgang Goeller: "Re: scanimage lineart bugreport (fwd)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0056.html">Milon Firikis: "Re: Re :- PIE (SCANACE) won't release technical info"</a>
<li> <b>Reply:</b> <a href="0056.html">Milon Firikis: "Re: Re :- PIE (SCANACE) won't release technical info"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
Following my earlier posting of 24th July 1998 (mail/sane/980724.tx) :-<br>
<p>
<i>&gt; I received the following today from PIE.  It seems that after all my</i><br>
<i>&gt; questions and emails they have decided that they don't want to release</i><br>
<i>&gt; the technical documentation for their Scanace II series of scanners to</i><br>
<i>&gt; me either with or without an NDA.</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; It had been very difficult to get the managment to accept your request last</i><br>
<i>&gt; &gt; time.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Following your last mail that I transmitted to the persons concermed, the</i><br>
<i>&gt; &gt; decision to release informations to the public has be reconsidered. The</i><br>
<i>&gt; &gt; outcome is that there are more risk to to that than any gains we could get.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; So the position now is not to release the informations you request.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Sorry. I will let you know if there is a change in the policy.</i><br>
<i>&gt; </i><br>
<i>&gt; Could the KOTL please update the site to indicate that PIE will not be</i><br>
<i>&gt; supported.  I do not want other people to go out and buy PIE products</i><br>
<i>&gt; only to find that they have no SANE support.</i><br>
<i>&gt; </i><br>
<i>&gt; If PIE reconsider and do release the information, I will keep you</i><br>
<i>&gt; informed, however it looks extremely unlikely at the moment.</i><br>
<i>&gt; </i><br>
<i>&gt; It seems such a pity to have been corresponding with them for over four</i><br>
<i>&gt; months to be turned down at the final hurdle.</i><br>
<p>
I ended up entering into a more lengthy dialogue with PIE and they did<br>
eventually agree to my suggestions on the NDA and sent me one.  I have<br>
now signed the NDA and received the technical details, so can the KOTL<br>
now update the information held to indicate that a backend is under<br>
development (though don't hold your breath for a quick release due to a<br>
change in my personal circumstances).<br>
<p>
To all the other developers, now that I am in possession of the data, I<br>
would like to start somewhere and I would appreciate some guidance,<br>
especially as some of this is new ground to me.<br>
<p>
More specifically :-<br>
<p>
1) Are there any stubs available that I just fill in the relevant parts<br>
   of to make the driver work or do I have to start the whole thing from<br>
   scratch ?<br>
<p>
2) Now I have the spec, what do I do next ?  Here I'm concerned that I<br>
   may be reinventing the wheel, i.e. the scanace kit may be very close<br>
   to an already developed driver, with the NDA I can't say "Does this<br>
   look familiar ?"  I have to compare with every driver to see what is<br>
   available, this will probably be longer than starting from 0.<br>
<p>
The C isn't a problem, I understand the API but I would appreciate some<br>
discussion on the various development techniques used, e.g.  "I tried<br>
using SCSI setting XYZ and had major problems" or "I Rebooted the machine<br>
and Scanner before EVERY test" etc.  As much help as possible would be<br>
appreciated - simply because the time I can devote to this is now VERY<br>
limited so it must be as smooth as possible.<br>
<p>
Regards,<br>
<p>
<p>
Dave Restall<br>
mail/sane/980906.tx                                             sane<br>
+----------------------------------------------------------------------------+<br>
<i>| Dave Restall              Internet Intranet Resourcing Consultancy Limited |</i><br>
<i>| Tel. +44 (0) 1287 653003  Mob. +44 (0) 973 831245 Fax. +44 (0) 1287 652546 |</i><br>
<i>| email : <a href="mailto:dave@iirc.net">dave@iirc.net</a>       dave@restall.net     Web : <a href="http://www.iirc.net">http://www.iirc.net</a> |</i><br>
+----------------------------------------------------------------------------+<br>
<i>| When in doubt, parenthesize.  At the very least it will let some poor      |</i><br>
<i>| schmuck bounce on the % key in vi.                        'man perlstyle'  |</i><br>
+----------------------------------------------------------------------------+<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Kevin R. Charter: "Re: scanimage lineart bugreport (fwd) -- SnapScan backend"</a>
<li> <b>Previous message:</b> <a href="0047.html">Wolfgang Goeller: "Re: scanimage lineart bugreport (fwd)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0056.html">Milon Firikis: "Re: Re :- PIE (SCANACE) won't release technical info"</a>
<li> <b>Reply:</b> <a href="0056.html">Milon Firikis: "Re: Re :- PIE (SCANACE) won't release technical info"</a>
<!-- reply="end" -->
</ul>
