<!-- received="Sun Sep  6 13:13:32 1998 PDT" -->
<!-- sent="Sun, 06 Sep 1998 22:12:02 +0200" -->
<!-- name="Bostjan Lemut" -->
<!-- email="Bostjan.Lemut@klub-kas.si" -->
<!-- subject="Re: How to build a db25 terminator" -->
<!-- id="" -->
<!-- inreplyto="How to build a db25 terminator" -->
<title>sane-devel: Re: How to build a db25 terminator</title>
<h1>Re: How to build a db25 terminator</h1>
<b>Bostjan Lemut</b> (<a href="mailto:Bostjan.Lemut@klub-kas.si"><i>Bostjan.Lemut@klub-kas.si</i></a>)<br>
<i>Sun, 06 Sep 1998 22:12:02 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#50">[ date ]</a><a href="index.html#50">[ thread ]</a><a href="subject.html#50">[ subject ]</a><a href="author.html#50">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0051.html">Kevin R. Charter: "Re: scanimage lineart bugreport (fwd)"</a>
<li> <b>Previous message:</b> <a href="0049.html">Kevin R. Charter: "Re: scanimage lineart bugreport (fwd) -- SnapScan backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0034.html">Bostjan Lemut: "How to build a db25 terminator"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--------------6B440577207F199BA592D497<br>
Content-Type: text/plain; charset="iso-8859-2"<br>
<p>
Rogier Wolff wrote:<br>
<p>
<i>&gt; Bostjan Lemut wrote:</i><br>
<i>&gt; [Charset iso-8859-2 unsupported, filtering to ASCII...]</i><br>
<i>&gt; &gt; Hi!</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I've bought a second-hand UMAX Astra 600S scanner, but it came without</i><br>
<i>&gt; &gt; terminator (the scanner won't work without it). Since I can't buy it in</i><br>
<i>&gt; &gt; any computer shop in our country (it's very small one), I decided to</i><br>
<i>&gt; &gt; make one by myself. The problem is, i can't find a scheme on the WEB.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I would be very greatful if anyone send me the scheme how to build the</i><br>
<i>&gt; &gt; damn terminator.</i><br>
<i>&gt;</i><br>
<i>&gt;                   +5V</i><br>
<i>&gt;                    |</i><br>
<i>&gt;                    |</i><br>
<i>&gt;                   |-|</i><br>
<i>&gt;                   | |  220 Ohm</i><br>
<i>&gt;                   |_|</i><br>
<i>&gt;                    |</i><br>
<i>&gt; Signal    ---------+</i><br>
<i>&gt;                    |</i><br>
<i>&gt;                   |-|</i><br>
<i>&gt;                   | |  330 Ohm.</i><br>
<i>&gt;                   |_|</i><br>
<i>&gt;                    |</i><br>
<i>&gt;                    |</i><br>
<i>&gt;                   GND</i><br>
<i>&gt;</i><br>
<p>
I've done some more detailed measurments, and I came up with next (see<br>
attachments).<br>
Can anybody confirm all this?<br>
<p>
Bostjan<br>
<p>
--------------6B440577207F199BA592D497<br>
Content-Disposition: inline; filename="pini2.txt"<br>
Content-Type: text/plain; charset="iso-8859-2"; name="pini2.txt"<br>
<p>
____________________________________________  ____________________________________________<br>
<i>| SCSI  |         | MINI  |         |      |  | SCSI  |        | MINI  |          |	 |</i><br>
<i>| SIGNAL| DD-50P  | MICRO | DD-50SA | DB25 |  | SIGNAL| DD-50P | MICRO | DD-50SA  | DB25 |</i><br>
--------------------------------------------  --------------------------------------------<br>
<i>| -GND  |    2    |  26   |   34    |   8  |  | (open)|    1    |   1   |    1    |  14  |</i><br>
<i>| -DB(0)|    4    |  27   |    2    |  21  |  | +DB(0)|    3    |   2   |   18    |  14  |</i><br>
<i>| -DB(1)|    6    |  28   |   19    |  22  |  | +DB(1)|    5    |   3   |   35    |  14  |</i><br>
<i>| -DB(2)|    8    |  29   |   36    |  10  |  | +DB(2)|    7    |   4   |    3    |  16  |</i><br>
<i>| -DB(3)|   10    |  30   |    4    |  23  |  | +DB(3)|    9    |   5   |   20    |  16  |</i><br>
<i>| -DB(4)|   12    |  31   |   21    |  11  |  | +DB(4)|   11    |   6   |   37    |  16  |</i><br>
<i>| -DB(5)|   14    |  32   |   38    |  12  |  | +DB(5)|   13    |   7   |    5    |  18  |</i><br>
<i>| -DB(6)|   16    |  33   |    6    |  13  |  | +DB(6)|   15    |   8   |   22    |  18  |</i><br>
<i>| -DB(7)|   18    |  34   |   23    |  20  |  | +DB(7)|   17    |   9   |   39    |  18  |</i><br>
<i>| -DB(P)|   20    |  35   |   40    |  --  |  | +DB(P)|   19    |  10   |    7    |  --  |</i><br>
<i>|  GND  |   22    |  36   |    8    |  --  |  |DIFSENS|   21    |  11   |   24    |  18  |</i><br>
<i>|  GND  |   24    |  37   |   25    |  --  |  |  GND  |   23    |  12   |   41    |  --  |</i><br>
<i>|TERMPWR|   26    |  38   |   42    |  25  |  |TERMPWR|   25    |  13   |    9    |  --  |</i><br>
<i>|  GND  |   28    |  39   |   10    |  --  |  |  GND  |   27    |  14   |   26    |  --  |</i><br>
<i>| -ATN  |   30    |  40   |   27    |  --  |  | +ATN  |   29    |  15   |   43    |  --  |</i><br>
<i>|  GND  |   32    |  41   |   44    |  17  |  |  GND  |   31    |  16   |   11    |   7  |</i><br>
<i>| -BSY  |   34    |  42   |   12    |  --  |  | +BSY  |   33    |  17   |   28    |  --  |</i><br>
<i>| -ACK  |   36    |  43   |   29    |   6  |  | +ACK  |   35    |  18   |   45    |   7  |</i><br>
<i>| -RST  |   38    |  44   |   46    |   5  |  | +RST  |   37    |  19   |   13    |   7  |</i><br>
<i>| -MSG  |   40    |  45   |   14    |   4  |  | +MSG  |   39    |  20   |   30    |   9  |</i><br>
<i>| -SEL  |   42    |  46   |   31    |   2  |  | +SEL  |   41    |  21   |   47    |   9  |</i><br>
<i>| -C/D  |   44    |  47   |   48    |  19  |  | +C/D  |   43    |  22   |   15    |   9  |</i><br>
<i>| -REQ  |   46    |  48   |   16    |  15  |  | +REQ  |   45    |  23   |   32    |  24  |</i><br>
<i>| -I/O  |   48    |  49   |   33    |   1  |  | +I/O  |   47    |  24   |   49    |  24  |</i><br>
<i>|  GND  |   50    |  50   |   50    |   3  |  |  GND  |   49    |  25   |   17    |  24  |</i><br>
--------------------------------------------  --------------------------------------------<br>
<p>
--------------6B440577207F199BA592D497<br>
Content-Disposition: inline; filename="pini3.txt"<br>
Content-Type: text/plain; charset="iso-8859-2"; name="pini3.txt"<br>
<p>
   1    2    3    4    5    6    7    8    9   10   11   12   13   &lt;- pins<br>
  136  136  136  136  136  136   30  136   30  136  136  136  136  &lt;- ohms<br>
  _______________________________________________________________  <br>
          <br>
     30   136  30   136  30   136  136  136  136  136  30    |     &lt;- ohms<br>
     14   15   16   17   18   19   20   21   22   23   24   25     &lt;- pins<br>
<p>
<p>
middle line is just a common junction to a pin with | instead of resistance<br>
<p>
<p>
<p>
   1    2    3    4    5    6    7    8    9   10   11   12   13   &lt;-pins<br>
  142  142  142  142  142  142   |   142   |   142  142  142  142  &lt;-ohms<br>
  _______________________________________________________________<br>
<p>
<i>      |   142   |   142   |   142  142  142  142  142   |   30     &lt;-ohms</i><br>
     14   15   16   17   18   19   20   21   22   23   24   25     &lt;-pins<br>
<p>
<p>
<p>
<p>
<p>
<p>
   1    2    3    4    5    6    7    8    9   10   11   12   13   &lt;-pins<br>
  262  262  262  262  262  262  142  262  142  262  262  262  262  &lt;-ohms<br>
  _______________________________________________________________<br>
<p>
     142  262  142  262  142  262  262  262  262   |   142  136    &lt;-ohms<br>
     14   15   16   17   18   19   20   21   22   23   24   25     &lt;-pins<br>
--------------6B440577207F199BA592D497--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0051.html">Kevin R. Charter: "Re: scanimage lineart bugreport (fwd)"</a>
<li> <b>Previous message:</b> <a href="0049.html">Kevin R. Charter: "Re: scanimage lineart bugreport (fwd) -- SnapScan backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0034.html">Bostjan Lemut: "How to build a db25 terminator"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
