<!-- received="Thu Sep 10 12:34:32 1998 PDT" -->
<!-- sent="Thu, 10 Sep 1998 22:32:46 +0300" -->
<!-- name="Dominique Pivard" -->
<!-- email="domi@kenavo.fi" -->
<!-- subject="HP PhotoSmart &amp; SANE" -->
<!-- id="199809101934.WAA02321@lohi.clinet.fi" -->
<!-- inreplyto="" -->
<title>sane-devel: HP PhotoSmart &amp; SANE</title>
<h1>HP PhotoSmart &amp; SANE</h1>
<b>Dominique Pivard</b> (<a href="mailto:domi@kenavo.fi"><i>domi@kenavo.fi</i></a>)<br>
<i>Thu, 10 Sep 1998 22:32:46 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Marcel Oliver: "Command line option processing"</a>
<li> <b>Previous message:</b> <a href="0066.html">Ian R. Justman: "UMAX backend and compiler issues under Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I just bought an HP PhotoSmart scanner and I would like to use it for<br>
scanning negatives with SANE under OS/2 (using the PMSANE frontend)<br>
<p>
I tried SANE 0.72 and 0.74, both of which can recognize the PhotoSmart,<br>
and I'm able to scan a portion of my 4-shots negative strips.<br>
Unfortunately, I couldn't figure out how to load and preview the full<br>
strip.<br>
<p>
Yuri Dario (author of the OS/2 port) kindly helped me in activating<br>
debugging (with 'SET SANE_DEBUG_HP=128' and 'SET<br>
SANE_DEBUG_SANEI_SCSI=128'). 'scanimage --help' reports (among other<br>
things) the following:<br>
<p>
[hp] inquire: returned string is malformed (*s10317kN)<br>
[hp] using default value of 0<br>
[hp] inquire: returned string is malformed (*s10317gN)<br>
[hp] using default value of 0<br>
[hp] inquire: returned string is malformed (*s10316kN)<br>
[hp] using default value of 0<br>
[hp] inquire: returned string is malformed (*s10316gN)<br>
[hp] using default value of 0<br>
[hp] attach: found HP ScanJet model C5100A, x=0-28.448mm, y=0-228.515mm,<br>
<p>
Could an HP guru tell me what these mean?<br>
<p>
Btw, there was a thread on this list a couple of months ago about 'HP<br>
PhotoSmart programming info'. Just in case someone is interested, I found<br>
the following information:<br>
<p>
<a href="http://www.con.wesleyan.edu/~mconsidi/hppsprog.html">http://www.con.wesleyan.edu/~mconsidi/hppsprog.html</a><br>
<a href="ftp://members.aol.com/pkirchg/pub/sane/hpinq.photoscanner.txt">ftp://members.aol.com/pkirchg/pub/sane/hpinq.photoscanner.txt</a><br>
<p>
Thanks,<br>
<p>
Dominique<br>
<pre>
-- 
-----------------------------------------------------------
Dominique Pivard &lt;<a href="mailto:domi@kenavo.fi">domi@kenavo.fi</a>&gt;
Helsinki, Finland
-----------------------------------------------------------
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Marcel Oliver: "Command line option processing"</a>
<li> <b>Previous message:</b> <a href="0066.html">Ian R. Justman: "UMAX backend and compiler issues under Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
