<!-- received="Sat Sep 12 16:29:18 1998 PDT" -->
<!-- sent="Sun, 13 Sep 1998 01:27:46 +0200 (CES)" -->
<!-- name="Manfred Lemke" -->
<!-- email="ukpr@rz.uni-karlsruhe.de" -->
<!-- subject="Mustek low-level oddity" -->
<!-- id="E0zHz54-0007Df-00@rzstud2.rz.uni-karlsruhe.de" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek low-level oddity</title>
<h1>Mustek low-level oddity</h1>
<b>Manfred Lemke</b> (<a href="mailto:ukpr@rz.uni-karlsruhe.de"><i>ukpr@rz.uni-karlsruhe.de</i></a>)<br>
<i>Sun, 13 Sep 1998 01:27:46 +0200 (CES)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#76">[ date ]</a><a href="index.html#76">[ thread ]</a><a href="subject.html#76">[ subject ]</a><a href="author.html#76">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Roy-Anders Larsen: "UMAX 610P and (in)SANE"</a>
<li> <b>Previous message:</b> <a href="0075.html">Douglas Fallstrom: "Update to webpage with supported platforms..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello folks!<br>
<p>
First of all, I'd like to say that SANE is a great project and thank you<br>
very much for bringing it to life.<br>
<p>
Now about my problem/question:<br>
<p>
I have a Mustek 1200 SP flatbed scanner connected to an SCSI card here.<br>
The scanning image quality is excellent at first glance, but holds<br>
a slight offset between scanning chunks (two or three scanning lines<br>
per chunk).<br>
<p>
In addition, the optical unit slides back after each chunk, making<br>
the process of scanning very slow with color images.<br>
<p>
Is there any way to remove the picture offset or to simply stop the<br>
optical unit after each chunk instead of stop and move it back a<br>
little?<br>
<p>
Thanks in advance,<br>
<p>
	   Manfred Lemke (<a href="mailto:ukpr@rz.uni-karlsruhe.de">ukpr@rz.uni-karlsruhe.de</a>)<br>
<p>
Technical data:<br>
<p>
SCSI controller: AdvanSys PCI Ultra 16<br>
<p>
Scanner: <br>
<p>
attach: firmware revision 1.05<br>
attach: scanner has automatic line-distance correction<br>
attach: found Mustek scanner model MFS-12000SP (flatbed scanner), 1-pass<br>
<p>
linedistance-fix: off<br>
lineart-fix for: off<br>
strip-height: off<br>
<p>
Linux SCSI boot recognition:<br>
Vendor: SCANNER   Model:                   Rev: 1.05<br>
Type:   Scanner                            ANSI SCSI revision: 01 CCS<br>
Detected scsi generic sga at scsi0, channel 0, id 6, lun 0<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Roy-Anders Larsen: "UMAX 610P and (in)SANE"</a>
<li> <b>Previous message:</b> <a href="0075.html">Douglas Fallstrom: "Update to webpage with supported platforms..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
