<!-- received="Mon Sep 14 07:47:37 1998 PDT" -->
<!-- sent="Tue, 08 Sep 1998 08:27:07 -0700" -->
<!-- name="Bill Trost" -->
<!-- email="trost@cloud.rain.com" -->
<!-- subject="network scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: network scanners</title>
<h1>network scanners</h1>
<b>Bill Trost</b> (<a href="mailto:trost@cloud.rain.com"><i>trost@cloud.rain.com</i></a>)<br>
<i>Tue, 08 Sep 1998 08:27:07 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#86">[ date ]</a><a href="index.html#86">[ thread ]</a><a href="subject.html#86">[ subject ]</a><a href="author.html#86">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">John M. Mills: "Re: How to build a db25 terminator"</a>
<li> <b>Previous message:</b> <a href="0085.html">Kevin R. Charter: "SnapScan backend, version 0.5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello, all,<br>
<p>
Is there any possibility of using SANE with a network scanner (that is,<br>
a scanner that hooks directly to the ethernet)?  I have been considering<br>
this as a way to share a scanner between Windows and UNIX boxes, but I<br>
am not sure that this makes sense, given what little I can understand<br>
about network scanners.<br>
<p>
Please reply directly; I can summarize to the list if there is interest.<br>
<p>
Thanks,<br>
Bill<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">John M. Mills: "Re: How to build a db25 terminator"</a>
<li> <b>Previous message:</b> <a href="0085.html">Kevin R. Charter: "SnapScan backend, version 0.5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
