<!-- received="Mon Sep 14 09:10:30 1998 PDT" -->
<!-- sent="Thu, 10 Sep 1998 10:49:11 -0400 (EDT)" -->
<!-- name="Chris Pinkham" -->
<!-- email="cpinkham@billing.infi.net" -->
<!-- subject="SANE_VERSION_CODE macro question" -->
<!-- id="9809101449.AA21091@mulder.looney.infi.net" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE_VERSION_CODE macro question</title>
<h1>SANE_VERSION_CODE macro question</h1>
<b>Chris Pinkham</b> (<a href="mailto:cpinkham@billing.infi.net"><i>cpinkham@billing.infi.net</i></a>)<br>
<i>Thu, 10 Sep 1998 10:49:11 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#93">[ date ]</a><a href="index.html#93">[ thread ]</a><a href="subject.html#93">[ subject ]</a><a href="author.html#93">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">Simone Grabstein: "support for AcerScan?"</a>
<li> <b>Previous message:</b> <a href="0092.html">Marc Englund: "HP / Canon maintainers?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0164.html">Matto Marjanovic: "Re: SANE_VERSION_CODE macro question"</a>
<li> <b>Reply:</b> <a href="0164.html">Matto Marjanovic: "Re: SANE_VERSION_CODE macro question"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I was looking through the SANE documentation online the other day and I<br>
read the section describing the SANE_VERSION_CODE macro.  I did not<br>
notice anyone using the 'build' part in their backends and was wondering<br>
if there is a reason this is not being done or if I should start using<br>
this in the Artec backend I am working on.<br>
<p>
Pros/Cons???<br>
<p>
Chris<br>
<p>
*****************************************************************************<br>
** Chris Pinkham                                 Linux v2.0.34, Sane v0.74 **<br>
** <a href="mailto:cpinkham@sh001.infi.net">cpinkham@sh001.infi.net</a>                 <a href="http://www4.infi.net/~cpinkham/">http://www4.infi.net/~cpinkham/</a> **<br>
*****************************************************************************<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">Simone Grabstein: "support for AcerScan?"</a>
<li> <b>Previous message:</b> <a href="0092.html">Marc Englund: "HP / Canon maintainers?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0164.html">Matto Marjanovic: "Re: SANE_VERSION_CODE macro question"</a>
<li> <b>Reply:</b> <a href="0164.html">Matto Marjanovic: "Re: SANE_VERSION_CODE macro question"</a>
<!-- reply="end" -->
</ul>
