<!-- received="Mon Sep 14 09:16:55 1998 PDT" -->
<!-- sent="Fri, 11 Sep 1998 22:35:41 +0300 (EEST)" -->
<!-- name="Marc Englund" -->
<!-- email="menglund@infa.abo.fi" -->
<!-- subject="HP / Canon maintainers?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP / Canon maintainers?</title>
<h1>HP / Canon maintainers?</h1>
<b>Marc Englund</b> (<a href="mailto:menglund@infa.abo.fi"><i>menglund@infa.abo.fi</i></a>)<br>
<i>Fri, 11 Sep 1998 22:35:41 +0300 (EEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#97">[ date ]</a><a href="index.html#97">[ thread ]</a><a href="subject.html#97">[ subject ]</a><a href="author.html#97">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">Sherm: "CanoScan 600"</a>
<li> <b>Previous message:</b> <a href="0096.html">Thomas Wolff: "A3 scanners supported?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0108.html">Helmut Koeberle: "Re: HP / Canon maintainers?"</a>
<li> <b>Reply:</b> <a href="0108.html">Helmut Koeberle: "Re: HP / Canon maintainers?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
A few questions:<br>
<p>
Is anyone maintaining the Canon backend? <br>
	- is there a web site?<br>
	- does the CanoScan 300 scsi card work with linux?<br>
<p>
Is anyone maintaining the HP backend?<br>
	- is there a web site?<br>
	- does the scsi card that comes with the 5P work<br>
	  with linux?<br>
<p>
Please reply to me directly also - I do not subscribe to the<br>
mailinglist anymore... <br>
<p>
	<a href="mailto:menglund@infa.abo.fi">menglund@infa.abo.fi</a><br>
 <br>
Thank You,<br>
-===============================[     Marc Englund     ]==-<br>
-=======<a href="mailto:-menglund@abo.fi-">-menglund@abo.fi-</a>=======[ www.abo.fi/~menglund ]==-<br>
-===============================[  +358-(0)2-237 4476  ]==-<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">Sherm: "CanoScan 600"</a>
<li> <b>Previous message:</b> <a href="0096.html">Thomas Wolff: "A3 scanners supported?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0108.html">Helmut Koeberle: "Re: HP / Canon maintainers?"</a>
<li> <b>Reply:</b> <a href="0108.html">Helmut Koeberle: "Re: HP / Canon maintainers?"</a>
<!-- reply="end" -->
</ul>
