<!-- received="Mon Sep 14 21:16:03 1998 PDT" -->
<!-- sent="Tue, 15 Sep 1998 04:14:15 +0000" -->
<!-- name="James Puderer" -->
<!-- email="jpuderer@chat.carleton.ca" -->
<!-- subject="Spot Tech Scantech 3c" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Spot Tech Scantech 3c</title>
<h1>Spot Tech Scantech 3c</h1>
<b>James Puderer</b> (<a href="mailto:jpuderer@chat.carleton.ca"><i>jpuderer@chat.carleton.ca</i></a>)<br>
<i>Tue, 15 Sep 1998 04:14:15 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#105">[ date ]</a><a href="index.html#105">[ thread ]</a><a href="subject.html#105">[ subject ]</a><a href="author.html#105">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">David A. Bartold: "Announce: Linux driver for ScanJet 5p SCSI card"</a>
<li> <b>Previous message:</b> <a href="0104.html">James Puderer: "Spot Tech Scantech 3c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I'm looking for any information on the Spot Tech Scantech 3c scanner.  I<br>
am willing to<br>
write a driver for it if I can get some information about the interface<br>
it uses.  Does anyone<br>
know anything about this scanner or know how to pursue finding out ( I<br>
have already written<br>
Spot Tech and have not received a reply ).<br>
<p>
Regards,<br>
James Puderer<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">David A. Bartold: "Announce: Linux driver for ScanJet 5p SCSI card"</a>
<li> <b>Previous message:</b> <a href="0104.html">James Puderer: "Spot Tech Scantech 3c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
