<!-- received="Thu Sep 17 04:42:48 1998 PDT" -->
<!-- sent="Thu, 17 Sep 1998 13:18:08 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: SANE, Mustek and Blackwidow" -->
<!-- id="" -->
<!-- inreplyto="199809170922.KAA16704@sdlsol0.sdl.ug.eds.com" -->
<title>sane-devel: Re: SANE, Mustek and Blackwidow</title>
<h1>Re: SANE, Mustek and Blackwidow</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Thu, 17 Sep 1998 13:18:08 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#122">[ date ]</a><a href="index.html#122">[ thread ]</a><a href="subject.html#122">[ subject ]</a><a href="author.html#122">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Antonio Mitarotondo: "Mustek ScanMagic 4800 P"</a>
<li> <b>Previous message:</b> <a href="0121.html">Jon Schneider: "SANE, Mustek and Blackwidow"</a>
<li> <b>In reply to:</b> <a href="0121.html">Jon Schneider: "SANE, Mustek and Blackwidow"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Thu, Sep 17, 1998 at 10:22:38AM +0100, Jon Schneider wrote:<br>
<i>&gt; I want to make SANE work with my Blackwidow 48xx scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; I have read that Blackwidows are rebadged Musteks though this has not</i><br>
<i>&gt; yet been confirmed or denied by either manufacturer. One feature is</i><br>
<i>&gt; that it has a blank Vendor string when Inquired.</i><br>
<p>
I never heard of this Blackwidow scanner, but vendor strings consisting<br>
of eight spaces are typical for Microtek scanners. You might want to<br>
try it with the microtek2 backend and set 'option dump 2' in the<br>
microtek2.conf file. The backend then prints 96 Bytes of inquiry<br>
information to stderr (the line after [inquiryresult]).<br>
<p>
It is neccessary to know this inquiry information to tell you more. (Any<br>
other backend probably also prints the inquiry information, if you<br>
enable debugging).<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Antonio Mitarotondo: "Mustek ScanMagic 4800 P"</a>
<li> <b>Previous message:</b> <a href="0121.html">Jon Schneider: "SANE, Mustek and Blackwidow"</a>
<li> <b>In reply to:</b> <a href="0121.html">Jon Schneider: "SANE, Mustek and Blackwidow"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
