<!-- received="Sat Sep 19 21:45:56 1998 PDT" -->
<!-- sent="19 Sep 1998 21:44:19 -0700" -->
<!-- name="Kevin Dalley" -->
<!-- email="kevind@rahul.net" -->
<!-- subject="suggestion for change in frontend/Makefile.in" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: suggestion for change in frontend/Makefile.in</title>
<h1>suggestion for change in frontend/Makefile.in</h1>
<b>Kevin Dalley</b> (<a href="mailto:kevind@rahul.net"><i>kevind@rahul.net</i></a>)<br>
<i>19 Sep 1998 21:44:19 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#135">[ date ]</a><a href="index.html#135">[ thread ]</a><a href="subject.html#135">[ subject ]</a><a href="author.html#135">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0136.html">Scott J. Kramer: "Re: E6XL usable? &amp; scg driver help [was: Re: Microtek V300, anyone?]"</a>
<li> <b>Previous message:</b> <a href="0134.html">Bernd Schroeder: "Re: E6XL usable? &amp; scg driver help [was: Re: Microtek V300, anyone?]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I suggest a change in frontend/Makefile.in as described by the patch<br>
file below.  Since GTK_CFLAGS is a set of includes, it should be moved <br>
to the INCLUDES variable.  This allow the use of a make command such<br>
as:<br>
<p>
	make CFLAGS=-O<br>
<p>
When this command is used with the current Makefile.in, the "-I"<br>
options contained in GTK_CFLAGS are wiped out, and sane does not compile.<br>
<p>
--- sane-0.74.orig/frontend/Makefile.in<br>
+++ sane-0.74/frontend/Makefile.in<br>
@@ -28,10 +28,10 @@<br>
 <br>
 CC = @CC@<br>
 INCLUDES = -I. -I$(srcdir) -I$(top_builddir)/include -I$(top_srcdir)/include \<br>
-	@INCLUDES@<br>
+	@INCLUDES@ @GTK_CFLAGS@<br>
 DEFS = @DEFS@<br>
 CPPFLAGS = @CPPFLAGS@<br>
-CFLAGS = @CFLAGS@ @GTK_CFLAGS@<br>
+CFLAGS = @CFLAGS@<br>
 LDFLAGS = @LDFLAGS@<br>
 LIBS = @LIBS@<br>
 GTK_LIBS = @GTK_LIBS@<br>
<p>
<p>
<pre>
-- 
Kevin Dalley
<a href="mailto:kevind@rahul.net">kevind@rahul.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0136.html">Scott J. Kramer: "Re: E6XL usable? &amp; scg driver help [was: Re: Microtek V300, anyone?]"</a>
<li> <b>Previous message:</b> <a href="0134.html">Bernd Schroeder: "Re: E6XL usable? &amp; scg driver help [was: Re: Microtek V300, anyone?]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
