<!-- received="Mon Sep 21 23:44:11 1998 PDT" -->
<!-- sent="Tue, 22 Sep 1998 08:41:18 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: SANE RPM" -->
<!-- id="" -->
<!-- inreplyto="199809212247.SAA29509@resonator.physics.sunysb.edu" -->
<title>sane-devel: Re: SANE RPM</title>
<h1>Re: SANE RPM</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Tue, 22 Sep 1998 08:41:18 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#148">[ date ]</a><a href="index.html#148">[ thread ]</a><a href="subject.html#148">[ subject ]</a><a href="author.html#148">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Dr. Andreas Bolsch: "Re: newbie trouble"</a>
<li> <b>Previous message:</b> <a href="0147.html">mike: "Re: Rebop: Microtek V300"</a>
<li> <b>In reply to:</b> <a href="0145.html">Dan Noe: "SANE RPM"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 21 Sep 1998, Dan Noe wrote:<br>
<p>
<i>&gt; I have the RedHat utilities cd which includes SANE 0.67.  I am running RedHat 5.1.  When I try to use scanimage or xscanimage, I get a message quoting a missing libsane.so.0.  What is wrong??</i><br>
<p>
Try getting a recent set of RPM's<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Dr. Andreas Bolsch: "Re: newbie trouble"</a>
<li> <b>Previous message:</b> <a href="0147.html">mike: "Re: Rebop: Microtek V300"</a>
<li> <b>In reply to:</b> <a href="0145.html">Dan Noe: "SANE RPM"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
