<!-- received="Thu Sep 24 13:49:16 1998 PDT" -->
<!-- sent="Thu, 24 Sep 1998 13:48:25 -0700 (PDT)" -->
<!-- name="Zach Fine" -->
<!-- email="czyz@u.washington.edu" -->
<!-- subject="Re: Film scanner under sane" -->
<!-- id="199809242048.NAA29679@saul10.u.washington.edu" -->
<!-- inreplyto="Film scanner under sane" -->
<title>sane-devel: Re: Film scanner under sane</title>
<h1>Re: Film scanner under sane</h1>
<b>Zach Fine</b> (<a href="mailto:czyz@u.washington.edu"><i>czyz@u.washington.edu</i></a>)<br>
<i>Thu, 24 Sep 1998 13:48:25 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#174">[ date ]</a><a href="index.html#174">[ thread ]</a><a href="subject.html#174">[ subject ]</a><a href="author.html#174">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0175.html">Oliver Rauch: "Re: permissions"</a>
<li> <b>Previous message:</b> <a href="0173.html">Rick Knebel: "permissions"</a>
<li> <b>Maybe in reply to:</b> <a href="0166.html">Fabrice Rossi: "Film scanner under sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
A few postings to the list implied that the HP Photosmart Scanner is<br>
usable under SANE. <br>
<p>
How well does it work? It seems very inexpensive for a medium quality<br>
film scanner ($299 US after the current $100 rebate from HP). It can<br>
also scan slides and small prints.<br>
<p>
-Zach Fine<br>
<a href="mailto:czyz@u.washington.edu">czyz@u.washington.edu</a><br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; "Fabrice" == Fabrice Rossi &lt;<a href="mailto:rossi@ufrmd.dauphine.fr">rossi@ufrmd.dauphine.fr</a>&gt; writes:</i><br>
<p>
    Fabrice&gt; I plan to buy a film scanner and I don't want to<br>
    Fabrice&gt; reinstall windows in order to use it. As far as I know,<br>
    Fabrice&gt; the only film scanners currently supported are from<br>
    Fabrice&gt; nikon, canon and microtek. Does anyone have more<br>
    Fabrice&gt; information about that ? I really interested by the<br>
    Fabrice&gt; CanoScan 2700F which is not so expensive, and I'll be<br>
    Fabrice&gt; pleased to have information on how well it is supported<br>
    Fabrice&gt; by sane (before buying it!).<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0175.html">Oliver Rauch: "Re: permissions"</a>
<li> <b>Previous message:</b> <a href="0173.html">Rick Knebel: "permissions"</a>
<li> <b>Maybe in reply to:</b> <a href="0166.html">Fabrice Rossi: "Film scanner under sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
