<!-- received="Mon Sep 28 13:39:45 1998 PDT" -->
<!-- sent="Mon, 28 Sep 1998 22:42:39 +0200" -->
<!-- name="Thomas Heidel" -->
<!-- email="theidel@advis.de" -->
<!-- subject="Re: Mustek 4830 S ?" -->
<!-- id="" -->
<!-- inreplyto="Mustek 4830 S ?" -->
<title>sane-devel: Re: Mustek 4830 S ?</title>
<h1>Re: Mustek 4830 S ?</h1>
<b>Thomas Heidel</b> (<a href="mailto:theidel@advis.de"><i>theidel@advis.de</i></a>)<br>
<i>Mon, 28 Sep 1998 22:42:39 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#187">[ date ]</a><a href="index.html#187">[ thread ]</a><a href="subject.html#187">[ subject ]</a><a href="author.html#187">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">teras: "Supprt for Mustec ScanExpress 6000 P"</a>
<li> <b>Previous message:</b> <a href="0186.html">Bernd Schroeder: "Re: FW: Re: Microtek ScanMaker V300?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi folks,<br>
<p>
Inquiery gives me  "TECO  MV3575" but it's sold by MUSTEK!<br>
Did anybody get it to work so far? I am going to write to TECO<br>
( and MUSTEK?) for the specs.<br>
<p>
(FCC ID E80VM3575)<br>
<p>
Regards Thomas.<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">teras: "Supprt for Mustec ScanExpress 6000 P"</a>
<li> <b>Previous message:</b> <a href="0186.html">Bernd Schroeder: "Re: FW: Re: Microtek ScanMaker V300?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
