<title>sane-devel by date</title>
<a name="start"><h1>sane-devel by date</h1></a>
<ul>
<li> <b><a href="#end">Most recent messages</a></b>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</b>
</ul>
<p>
<b>Starting:</b> <i>Tue 01 Sep 1998 - 01:46:12 PDT</i><br>
<b>Ending:</b> <i>Wed 30 Sep 1998 - 14:38:05 PDT</i><br>
<b>Messages:</b> 192
<p>
<ul>
<li> <a href="0000.html"><b>Optics Pro 4800 and SANE ?</b></a> <a name="0"><i>Smokie@welfen-netz.com</i></a>
<li> <a href="0001.html"><b>Mustek Paragon 1200 III SP</b></a> <a name="1"><i>Mitch Chapman</i></a>
<li> <a href="0002.html"><b>Re: Mustek Paragon 1200 III SP</b></a> <a name="2"><i>Oliver Graf</i></a>
<li> <a href="0003.html"><b>Epson GT-9500/12000</b></a> <a name="3"><i>Oliver Graf</i></a>
<li> <a href="0004.html"><b>QMS drivers?</b></a> <a name="4"><i>Mark Templeton</i></a>
<li> <a href="0005.html"><b>Re: Mustek 600 II CD - y limit</b></a> <a name="5"><i>Christoph Doerbeck</i></a>
<li> <a href="0006.html"><b>Re: Epson GT-9500/12000</b></a> <a name="6"><i>Hugo van der Kooij</i></a>
<li> <a href="0007.html"><b>Re: Mustek 600 II CD - y limit</b></a> <a name="7"><i>Raymond A. Ingles</i></a>
<li> <a href="0008.html"><b>Re: Epson GT-9500/12000</b></a> <a name="8"><i>Oliver Graf</i></a>
<li> <a href="0009.html"><b>HP OfficeJet 500 (C3801A) (parallel)</b></a> <a name="9"><i>Malcolm Boffey</i></a>
<li> <a href="0010.html"><b>sane-net testcase</b></a> <a name="10"><i>Oliver Graf</i></a>
<li> <a href="0011.html"><b>Re: Mustek ScanExpress Backend</b></a> <a name="11"><i>Sylvester Burckhardt</i></a>
<li> <a href="0014.html"><b>Re: Mustek scanner</b></a> <a name="14"><i>Michael Kayz-Hyman</i></a>
<li> <a href="0015.html"><b>HP OfficeJet 500 (C3801A)</b></a> <a name="15"><i>Malcolm Boffey</i></a>
<li> <a href="0012.html"><b>Re: Mustek Paragon 1200 III SP</b></a> <a name="12"><i>Dieter Urban</i></a>
<li> <a href="0016.html"><b>Re: Optics Pro 4800 and SANE ?</b></a> <a name="16"><i>Michael Kayz-Hyman</i></a>
<li> <a href="0013.html"><b>Film scanner</b></a> <a name="13"><i>William R. Ward</i></a>
<li> <a href="0017.html"><b>Re: Primax Colorado Direct (parallel) support</b></a> <a name="17"><i>Michael Kayz-Hyman</i></a>
<li> <a href="0018.html"><b>Re: Film scanner</b></a> <a name="18"><i>Ronald Janowsky</i></a>
<li> <a href="0019.html"><b>Re: SANEI_THREAD proposal</b></a> <a name="19"><i>Yuri Dario</i></a>
<li> <a href="0020.html"><b>Re: Mustek ScanExpress Backend</b></a> <a name="20"><i>Dr. Andreas Bolsch</i></a>
<li> <a href="0021.html"><b>Re: Mustek scanner</b></a> <a name="21"><i>Mr Ada</i></a>
<li> <a href="0022.html"><b>Re: Mustek ScanExpress Backend</b></a> <a name="22"><i>Christian Reiser</i></a>
<li> <a href="0023.html"><b>Apple OneScanner/Color OneScanner status?</b></a> <a name="23"><i>Ian R. Justman</i></a>
<li> <a href="0024.html"><b>/dev/scanner Link still needed ?</b></a> <a name="24"><i>Henning Sauer</i></a>
<li> <a href="0025.html"><b>RE: Epson GT-6500 parallel</b></a> <a name="25"><i>Alessandro Russo</i></a>
<li> <a href="0026.html"><b>Any intrest in a proposed project. Linux in Graphic Arts.</b></a> <a name="26"><i>JaymeFrye</i></a>
<li> <a href="0027.html"><b>Re: Primax Colorado Direct (parallel) support - bad news ?</b></a> <a name="27"><i>Luca Montecchiani</i></a>
<li> <a href="0028.html"><b>Re: Apple OneScanner/Color OneScanner status?</b></a> <a name="28"><i>Milon Firikis</i></a>
<li> <a href="0029.html"><b>Re: Apple OneScanner/Color OneScanner status?</b></a> <a name="29"><i>Ian R. Justman</i></a>
<li> <a href="0030.html"><b>I am Having Problems Using SANE (Plz Hlp!)</b></a> <a name="30"><i>Michael Short</i></a>
<li> <a href="0031.html"><b>Re: different backends change the look and feel of xscanimage</b></a> <a name="31"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0032.html"><b>Re: Mustek 600 II CD - y limit</b></a> <a name="32"><i>Andreas Cittlau</i></a>
<li> <a href="0033.html"><b>Re: Any intrest in a proposed project. Linux in Graphic Arts.</b></a> <a name="33"><i>David Mosberger-Tang</i></a>
<li> <a href="0034.html"><b>How to build a db25 terminator</b></a> <a name="34"><i>Bostjan Lemut</i></a>
<li> <a href="0035.html"><b>ScanMaker E3 plus Problems</b></a> <a name="35"><i>Marcel Oliver</i></a>
<li> <a href="0036.html"><b>Re: ScanMaker E3 plus Problems</b></a> <a name="36"><i>Petter Adsen</i></a>
<li> <a href="0037.html"><b>Re: ScanMaker E3 plus Problems</b></a> <a name="37"><i>Marcel Oliver</i></a>
<li> <a href="0038.html"><b>Re: How to build a db25 terminator</b></a> <a name="38"><i>Rogier Wolff</i></a>
<li> <a href="0039.html"><b>ScanMaker E3 plus: Problems Solved</b></a> <a name="39"><i>Marcel Oliver</i></a>
<li> <a href="0040.html"><b>Olympus Camedia C-1400L</b></a> <a name="40"><i>Oliver Graf</i></a>
<li> <a href="0041.html"><b>Re: How to build a db25 terminator</b></a> <a name="41"><i>Jonathan Buzzard</i></a>
<li> <a href="0042.html"><b>Dexxa Flatbed Scanner 4800 support?</b></a> <a name="42"><i>Kurt Schafer</i></a>
<li> <a href="0043.html"><b>Re: How to build a db25 terminator</b></a> <a name="43"><i>Bostjan Lemut</i></a>
<li> <a href="0044.html"><b>Re: Mustek 600 II CD - y limit</b></a> <a name="44"><i>Paul Clark</i></a>
<li> <a href="0045.html"><b>scanimage lineart bugreport (fwd)</b></a> <a name="45"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0046.html"><b>Re: scanimage lineart bugreport</b></a> <a name="46"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0047.html"><b>Re: scanimage lineart bugreport (fwd)</b></a> <a name="47"><i>Wolfgang Goeller</i></a>
<li> <a href="0048.html"><b>Re :- PIE (SCANACE) won't release technical info</b></a> <a name="48"><i>Dave Restall - System Administrator</i></a>
<li> <a href="0049.html"><b>Re: scanimage lineart bugreport (fwd) -- SnapScan backend</b></a> <a name="49"><i>Kevin R. Charter</i></a>
<li> <a href="0050.html"><b>Re: How to build a db25 terminator</b></a> <a name="50"><i>Bostjan Lemut</i></a>
<li> <a href="0051.html"><b>Re: scanimage lineart bugreport (fwd)</b></a> <a name="51"><i>Kevin R. Charter</i></a>
<li> <a href="0052.html"><b>Primax Colorado Direct (parallel) support (SUMMARY INFO)</b></a> <a name="52"><i>Luca Montecchiani</i></a>
<li> <a href="0053.html"><b>ADF for microtek2 backend</b></a> <a name="53"><i>Marcel Oliver</i></a>
<li> <a href="0054.html"><b>Re: ADF for microtek2 backend</b></a> <a name="54"><i>Bernd Schroeder</i></a>
<li> <a href="0055.html"><b>Re: Apple OneScanner/Color OneScanner status?</b></a> <a name="55"><i>Milon Firikis</i></a>
<li> <a href="0056.html"><b>Re: Re :- PIE (SCANACE) won't release technical info</b></a> <a name="56"><i>Milon Firikis</i></a>
<li> <a href="0057.html"><b>Re: Apple OneScanner/Color OneScanner status?</b></a> <a name="57"><i>Ian R. Justman</i></a>
<li> <a href="0058.html"><b>CanoScan 300 SCSI scanner setup problem</b></a> <a name="58"><i>Durk Talsma</i></a>
<li> <a href="0059.html"><b>Re: CanoScan 300 SCSI scanner setup problem</b></a> <a name="59"><i>Markus Mertinat</i></a>
<li> <a href="0060.html"><b>Re: ADF for microtek2 backend</b></a> <a name="60"><i>Bernd Schroeder</i></a>
<li> <a href="0061.html"><b>Re: Apple OneScanner/Color OneScanner status?</b></a> <a name="61"><i>Milon Firikis</i></a>
<li> <a href="0062.html"><b>What works best?</b></a> <a name="62"><i>Kjetil Torgrim Homme</i></a>
<li> <a href="0063.html"><b>Re: What works best?</b></a> <a name="63"><i>Jim Ford</i></a>
<li> <a href="0064.html"><b>HP 62(0/5)0 Scanner</b></a> <a name="64"><i>Dieter Faulbaum</i></a>
<li> <a href="0065.html"><b>Mustek 4800 P</b></a> <a name="65"><i>Antonio Mitarotondo</i></a>
<li> <a href="0066.html"><b>UMAX backend and compiler issues under Linux</b></a> <a name="66"><i>Ian R. Justman</i></a>
<li> <a href="0067.html"><b>HP PhotoSmart &amp; SANE</b></a> <a name="67"><i>Dominique Pivard</i></a>
<li> <a href="0068.html"><b>Command line option processing</b></a> <a name="68"><i>Marcel Oliver</i></a>
<li> <a href="0069.html"><b>Re: Command line option processing</b></a> <a name="69"><i>Bernd Schroeder</i></a>
<li> <a href="0070.html"><b>HP PhotoSmart &amp; SANE</b></a> <a name="70"><i>Wolfgang Kaess</i></a>
<li> <a href="0071.html"><b>Re: UMAX backend and compiler issues under Linux</b></a> <a name="71"><i>Oliver Rauch</i></a>
<li> <a href="0072.html"><b>[Fwd: [Fwd: Getting UMAX scanner to work with Future Domain]]</b></a> <a name="72"><i>Zot O'Connor</i></a>
<li> <a href="0073.html"><b>Re: [Fwd: [Fwd: Getting UMAX scanner to work with Future Domain]]</b></a> <a name="73"><i>Oliver Rauch</i></a>
<li> <a href="0074.html"><b>Re: [Fwd: [Fwd: Getting UMAX scanner to work with Future Domain]]</b></a> <a name="74"><i>Zot O'Connor</i></a>
<li> <a href="0075.html"><b>Update to webpage with supported platforms...</b></a> <a name="75"><i>Douglas Fallstrom</i></a>
<li> <a href="0076.html"><b>Mustek low-level oddity</b></a> <a name="76"><i>Manfred Lemke</i></a>
<li> <a href="0077.html"><b>UMAX 610P and (in)SANE</b></a> <a name="77"><i>Roy-Anders Larsen</i></a>
<li> <a href="0078.html"><b>Having problems with canon backend</b></a> <a name="78"><i>Durk Talsma</i></a>
<li> <a href="0079.html"><b>Re: Primax Colorado Direct (parallel) support - bad news ?</b></a> <a name="79"><i>Michael Kayz-Hyman</i></a>
<li> <a href="0083.html"><b>sane on linuxPPC</b></a> <a name="83"><i>Flavio Spirgi</i></a>
<li> <a href="0081.html"><b>Question on HP 4p Scanjet Backend</b></a> <a name="81"><i>John M. Mills</i></a>
<li> <a href="0084.html"><b>Mustek 600 II N - preview cancel &amp; truncated output files</b></a> <a name="84"><i>Jon Wikne</i></a>
<li> <a href="0080.html"><b>Nikon Scantouch</b></a> <a name="80"><i>Carlos Storch</i></a>
<li> <a href="0082.html"><b>umax parallel port?</b></a> <a name="82"><i>L. Victor Marks</i></a>
<li> <a href="0085.html"><b>SnapScan backend, version 0.5</b></a> <a name="85"><i>Kevin R. Charter</i></a>
<li> <a href="0086.html"><b>network scanners</b></a> <a name="86"><i>Bill Trost</i></a>
<li> <a href="0087.html"><b>Re: How to build a db25 terminator</b></a> <a name="87"><i>John M. Mills</i></a>
<li> <a href="0088.html"><b>support for Mustek ScanMagic 9636P</b></a> <a name="88"><i>Mariano Rinc\sn</i></a>
<li> <a href="0089.html"><b>HP ScanJet 5100Cse</b></a> <a name="89"><i>Webmaster Jeff Maki</i></a>
<li> <a href="0090.html"><b>Re: Getting UMAX scanner to work with Future Domain</b></a> <a name="90"><i>Zot O'Connor</i></a>
<li> <a href="0093.html"><b>SANE_VERSION_CODE macro question</b></a> <a name="93"><i>Chris Pinkham</i></a>
<li> <a href="0092.html"><b>HP / Canon maintainers?</b></a> <a name="92"><i>Marc Englund</i></a>
<li> <a href="0094.html"><b>support for AcerScan?</b></a> <a name="94"><i>Simone Grabstein</i></a>
<li> <a href="0091.html"><b>Will SANE one day suppurt TRUST scanner?</b></a> <a name="91"><i>Ralf Rienecker</i></a>
<li> <a href="0096.html"><b>A3 scanners supported?</b></a> <a name="96"><i>Thomas Wolff</i></a>
<li> <a href="0097.html"><b>HP / Canon maintainers?</b></a> <a name="97"><i>Marc Englund</i></a>
<li> <a href="0095.html"><b>Little problem with Agfa SnapScan</b></a> <a name="95"><i>Jean-Philippe Courson</i></a>
<li> <a href="0098.html"><b>CanoScan 600</b></a> <a name="98"><i>Sherm</i></a>
<li> <a href="0099.html"><b>Re: Little problem with Agfa SnapScan</b></a> <a name="99"><i>Kevin Charter</i></a>
<li> <a href="0100.html"><b>Re: UMAX 610P and (in)SANE</b></a> <a name="100"><i>Jonathan Buzzard</i></a>
<li> <a href="0101.html"><b>Re: UMAX 610P and (in)SANE</b></a> <a name="101"><i>Oliver Rauch</i></a>
<li> <a href="0102.html"><b>Re: network scanners</b></a> <a name="102"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0103.html"><b>Internet Message Header</b></a> <a name="103"><i>Wolfgang Kaess</i></a>
<li> <a href="0104.html"><b>Spot Tech Scantech 3c</b></a> <a name="104"><i>James Puderer</i></a>
<li> <a href="0105.html"><b>Spot Tech Scantech 3c</b></a> <a name="105"><i>James Puderer</i></a>
<li> <a href="0106.html"><b>Announce: Linux driver for ScanJet 5p SCSI card</b></a> <a name="106"><i>David A. Bartold</i></a>
<li> <a href="0107.html"><b>Re: CanoScan 600</b></a> <a name="107"><i>Helmut Koeberle</i></a>
<li> <a href="0108.html"><b>Re: HP / Canon maintainers?</b></a> <a name="108"><i>Helmut Koeberle</i></a>
<li> <a href="0109.html"><b>Re: HP / Canon maintainers?</b></a> <a name="109"><i>tom minchin</i></a>
<li> <a href="0110.html"><b>Re: sane on linuxPPC (apple)</b></a> <a name="110"><i>Milon Firikis</i></a>
<li> <a href="0111.html"><b>Linux 2.0.35 and Scanner == SCSI driver seg fault</b></a> <a name="111"><i>Brian Macy</i></a>
<li> <a href="0112.html"><b>Re: support for AcerScan?</b></a> <a name="112"><i>phil@access.digex.net</i></a>
<li> <a href="0113.html"><b>0.75?</b></a> <a name="113"><i>Cory Kempf</i></a>
<li> <a href="0114.html"><b>Re: 0.75?</b></a> <a name="114"><i>David Mosberger-Tang</i></a>
<li> <a href="0115.html"><b>Re: support for AcerScan?</b></a> <a name="115"><i>Wolfgang Goeller</i></a>
<li> <a href="0116.html"><b>Re: 0.75?</b></a> <a name="116"><i>Milon Firikis</i></a>
<li> <a href="0117.html"><b>Re: Announce: Linux driver for ScanJet 5p SCSI card</b></a> <a name="117"><i>John M. Mills</i></a>
<li> <a href="0118.html"><b>Re: 0.75?</b></a> <a name="118"><i>David Mosberger-Tang</i></a>
<li> <a href="0119.html"><b>Problems getting SANE 0.74 to recognise HP5p scanner on RHL5.1 wi</b></a> <a name="119"><i>Johnston, Sam</i></a>
<li> <a href="0120.html"><b>Re: Problems getting SANE 0.74 to recognise HP5p scanner on RHL5.1</b></a> <a name="120"><i>Hugo van der Kooij</i></a>
<li> <a href="0121.html"><b>SANE, Mustek and Blackwidow</b></a> <a name="121"><i>Jon Schneider</i></a>
<li> <a href="0122.html"><b>Re: SANE, Mustek and Blackwidow</b></a> <a name="122"><i>Bernd Schroeder</i></a>
<li> <a href="0123.html"><b>Mustek ScanMagic 4800 P</b></a> <a name="123"><i>Antonio Mitarotondo</i></a>
<li> <a href="0124.html"><b>Microtek V300, anyone?</b></a> <a name="124"><i>mike</i></a>
<li> <a href="0125.html"><b>Re: Microtek V300, anyone?</b></a> <a name="125"><i>Marcel Oliver</i></a>
<li> <a href="0126.html"><b>Re: Microtek V300, anyone?</b></a> <a name="126"><i>mike</i></a>
<li> <a href="0127.html"><b>Re: Microtek V300, anyone?</b></a> <a name="127"><i>Bernd Schroeder</i></a>
<li> <a href="0128.html"><b>Primax Colorado Direct (parallel) support (The End)</b></a> <a name="128"><i>Luca Montecchiani</i></a>
<li> <a href="0129.html"><b>E6XL usable? &amp; scg driver help [was: Re: Microtek V300, anyone?]</b></a> <a name="129"><i>Scott J. Kramer</i></a>
<li> <a href="0130.html"><b>Rebop: Microtek V300</b></a> <a name="130"><i>Mike D.</i></a>
<li> <a href="0131.html"><b>Re: Rebop: Microtek V300</b></a> <a name="131"><i>Manfred Lemke</i></a>
<li> <a href="0133.html"><b>http://www.mostang.com/sane/sane-backends.html</b></a> <a name="133"><i>mans@gyptis.frmug.org</i></a>
<li> <a href="0132.html"><b>newbie trouble</b></a> <a name="132"><i>C. Le Cannellier, Pdt LUG Normandie</i></a>
<li> <a href="0134.html"><b>Re: E6XL usable? &amp; scg driver help [was: Re: Microtek V300, anyone?]</b></a> <a name="134"><i>Bernd Schroeder</i></a>
<li> <a href="0135.html"><b>suggestion for change in frontend/Makefile.in</b></a> <a name="135"><i>Kevin Dalley</i></a>
<li> <a href="0136.html"><b>Re: E6XL usable? &amp; scg driver help [was: Re: Microtek V300, anyone?]</b></a> <a name="136"><i>Scott J. Kramer</i></a>
<li> <a href="0137.html"><b>Re: newbie trouble</b></a> <a name="137"><i>Dr. Andreas Bolsch</i></a>
<li> <a href="0138.html"><b>apple scanner backend hangs when using Umax sane-0.74</b></a> <a name="138"><i>Kevin Dalley</i></a>
<li> <a href="0139.html"><b>Oops artec problems (was Re: apple scanner backend hangs when using Umax sane-0.74)</b></a> <a name="139"><i>Kevin Dalley</i></a>
<li> <a href="0140.html"><b>Re: newbie trouble</b></a> <a name="140"><i>Bernd Schroeder</i></a>
<li> <a href="0141.html"><b>Re: Oops artec problems (was Re: apple scanner backend hangs when</b></a> <a name="141"><i>Hugo van der Kooij</i></a>
<li> <a href="0142.html"><b>Re: Oops artec problems (was Re: apple scanner backend hangs when  using Umax sane-0.74)</b></a> <a name="142"><i>Kevin Dalley</i></a>
<li> <a href="0143.html"><b>Microtek ScanMaker V300?</b></a> <a name="143"><i>David B. Rees</i></a>
<li> <a href="0144.html"><b>Re: Microtek ScanMaker V300?</b></a> <a name="144"><i>Mike D.</i></a>
<li> <a href="0145.html"><b>SANE RPM</b></a> <a name="145"><i>Dan Noe</i></a>
<li> <a href="0146.html"><b>Re: Microtek ScanMaker V300?</b></a> <a name="146"><i>David B. Rees</i></a>
<li> <a href="0147.html"><b>Re: Rebop: Microtek V300</b></a> <a name="147"><i>mike</i></a>
<li> <a href="0148.html"><b>Re: SANE RPM</b></a> <a name="148"><i>Hugo van der Kooij</i></a>
<li> <a href="0149.html"><b>Re: newbie trouble</b></a> <a name="149"><i>Dr. Andreas Bolsch</i></a>
<li> <a href="0150.html"><b>Artec AT12 SCSI card</b></a> <a name="150"><i>H C Pumphrey</i></a>
<li> <a href="0151.html"><b>Re: Microtek ScanMaker V300?</b></a> <a name="151"><i>Bernd Schroeder</i></a>
<li> <a href="0152.html"><b>Microtek ScanMaker X6EL supported??</b></a> <a name="152"><i>Brian E. Bothwell</i></a>
<li> <a href="0153.html"><b>Re: Microtek ScanMaker X6EL supported??</b></a> <a name="153"><i>Brian E. Bothwell</i></a>
<li> <a href="0154.html"><b>Re: Microtek ScanMaker V300?</b></a> <a name="154"><i>David B. Rees</i></a>
<li> <a href="0155.html"><b>Re: Microtek ScanMaker V300?</b></a> <a name="155"><i>Mike D.</i></a>
<li> <a href="0156.html"><b>Re: Microtek ScanMaker V300?</b></a> <a name="156"><i>David B. Rees</i></a>
<li> <a href="0157.html"><b>Re: Microtek ScanMaker V300?</b></a> <a name="157"><i>Brian E. Bothwell</i></a>
<li> <a href="0158.html"><b>xscanimage</b></a> <a name="158"><i>Lee Mitchell</i></a>
<li> <a href="0159.html"><b>Re: newbie trouble</b></a> <a name="159"><i>Huub Reuver</i></a>
<li> <a href="0160.html"><b>can the HP Photosmart scanner scsi card work, or do I need to use a supported scsi card</b></a> <a name="160"><i>Peter Tiemeyer</i></a>
<li> <a href="0161.html"><b>Re: can the HP Photosmart scanner scsi card work, or do I need to use a supported scsi card</b></a> <a name="161"><i>Craig Ruff</i></a>
<li> <a href="0162.html"><b>Re: Microtek ScanMaker X6EL supported??</b></a> <a name="162"><i>Bernd Schroeder</i></a>
<li> <a href="0163.html"><b>permissions</b></a> <a name="163"><i>Rick Knebel</i></a>
<li> <a href="0164.html"><b>Re: SANE_VERSION_CODE macro question</b></a> <a name="164"><i>Matto Marjanovic</i></a>
<li> <a href="0165.html"><b>Re: Microtek ScanMaker X6EL supported??</b></a> <a name="165"><i>Brian E. Bothwell</i></a>
<li> <a href="0166.html"><b>Film scanner under sane</b></a> <a name="166"><i>Fabrice Rossi</i></a>
<li> <a href="0167.html"><b>Re: Film scanner under sane</b></a> <a name="167"><i>Oliver Graf</i></a>
<li> <a href="0168.html"><b>Re: Film scanner under sane</b></a> <a name="168"><i>Frank Haase</i></a>
<li> <a href="0169.html"><b>Re: CanoScan 300 SCSI scanner setup problem</b></a> <a name="169"><i>Rogier Wolff</i></a>
<li> <a href="0170.html"><b>Re: Film scanner under sane</b></a> <a name="170"><i>Fabrice Rossi</i></a>
<li> <a href="0171.html"><b>Re: Film scanner under sane</b></a> <a name="171"><i>Frank Haase</i></a>
<li> <a href="0172.html"><b>Re: xscanimage</b></a> <a name="172"><i>Lee Mitchell</i></a>
<li> <a href="0173.html"><b>permissions</b></a> <a name="173"><i>Rick Knebel</i></a>
<li> <a href="0174.html"><b>Re: Film scanner under sane</b></a> <a name="174"><i>Zach Fine</i></a>
<li> <a href="0175.html"><b>Re: permissions</b></a> <a name="175"><i>Oliver Rauch</i></a>
<li> <a href="0176.html"><b>Re: permissions</b></a> <a name="176"><i>Matto Marjanovic</i></a>
<li> <a href="0177.html"><b>Re: CanoScan 300 SCSI scanner setup problem</b></a> <a name="177"><i>Hugo van der Kooij</i></a>
<li> <a href="0178.html"><b>Re: Microtek ScanMaker V300?</b></a> <a name="178"><i>David B. Rees</i></a>
<li> <a href="0179.html"><b>Re: Microtek ScanMaker V300?</b></a> <a name="179"><i>Bernd Schroeder</i></a>
<li> <a href="0180.html"><b>Re: Microtek ScanMaker X6EL supported??</b></a> <a name="180"><i>Bernd Schroeder</i></a>
<li> <a href="0181.html"><b>Re: FW: Re: Microtek ScanMaker V300?</b></a> <a name="181"><i>David B. Rees</i></a>
<li> <a href="0182.html"><b>mustek scanmagic and sane</b></a> <a name="182"><i>Thomas Werner</i></a>
<li> <a href="0183.html"><b>AS6e under WINE: It works!</b></a> <a name="183"><i>Michael Katz-Hyman</i></a>
<li> <a href="0184.html"><b>Epson GT-2000</b></a> <a name="184"><i>Shimony</i></a>
<li> <a href="0185.html"><b>Re: FW: Re: Microtek ScanMaker V300?</b></a> <a name="185"><i>Bernd Schroeder</i></a>
<li> <a href="0186.html"><b>Re: FW: Re: Microtek ScanMaker V300?</b></a> <a name="186"><i>Bernd Schroeder</i></a>
<li> <a href="0187.html"><b>Re: Mustek 4830 S ?</b></a> <a name="187"><i>Thomas Heidel</i></a>
<li> <a href="0188.html"><b>Supprt for Mustec ScanExpress 6000 P</b></a> <a name="188"><i>teras</i></a>
<li> <a href="0189.html"><b>UMAX found but xscanimage not working right.</b></a> <a name="189"><i>A. R. M.</i></a>
<li> <a href="0190.html"><b>Re: UMAX found but xscanimage not working right.</b></a> <a name="190"><i>Douglas Fallstrom</i></a>
<li> <a href="0191.html"><b>Re: UMAX found but xscanimage not working right.</b></a> <a name="191"><i>Oliver Rauch</i></a>
</ul>
<p>
<a name="end"><b>Last message date:</b></a> <i>Wed 30 Sep 1998 - 14:38:05 PDT</i><br>
<b>Archived on:</b> <i>Wed Sep 30 1998 - 14:40:18 PDT</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
