<!-- received="Fri Dec  4 07:25:03 1998 PST" -->
<!-- sent="Fri, 4 Dec 1998 19:03:43 +0530" -->
<!-- name="Arun Tanksali" -->
<!-- email="tanksali@bgl.vsnl.net.in" -->
<!-- subject="Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE" -->
<!-- id="" -->
<!-- inreplyto="sane-devel: Re: Win32 TWAIN DLL to interface with SANE" -->
<title>sane-devel: Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE</title>
<h1>Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE</h1>
<b>Arun Tanksali</b> (<a href="mailto:tanksali@bgl.vsnl.net.in"><i>tanksali@bgl.vsnl.net.in</i></a>)<br>
<i>Fri, 4 Dec 1998 19:03:43 +0530</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#38">[ date ]</a><a href="index.html#38">[ thread ]</a><a href="subject.html#38">[ subject ]</a><a href="author.html#38">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Chris Sparks: "Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0037.html">S.Ellerbrock: "Sane upgrade"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
<p>
------=_NextPart_000_0021_01BE1FB8.CFFFE490<br>
Content-Type: text/plain;<br>
	charset="iso-8859-1"<br>
Content-Transfer-Encoding: quoted-printable<br>
<p>
Hi,<br>
    I am working on a TWAIN interface to SANE. I expect to have a trial =<br>
version ready on 15th December. I'll announce it on this list and put it =<br>
up for download.<br>
Arun<br>
<p>
    -----Original Message-----<br>
    From: Andre Couture &lt;acouture@videotron.ca&gt;<br>
    To: sane-devel@mostang.com &lt;sane-devel@mostang.com&gt;<br>
    Date: Friday, December 04, 1998 4:48 PM<br>
    Subject: sane-devel: Re: Win32 TWAIN DLL to interface with SANE<br>
   =20<br>
   =20<br>
    I'd like to know the status on this?<br>
    As anyone started anything?<br>
   =20<br>
    If not, can someone tell me where to get a "skeleton" of a TWAIN<br>
    DataSource driver?<br>
   =20<br>
    I'm not doing much these days and would like very much to start =<br>
doing<br>
    something!<br>
    Since I have a bunch of linux box and few windows 98/NT I can =<br>
certainly<br>
    get started on this.<br>
   =20<br>
    (That would help me get back into M$Fenetre development...<br>
   =20<br>
    /AC<br>
   =20<br>
    <a href="http://www.mostang.com/mail-archive/sane-devel/1998-05/0175.html">http://www.mostang.com/mail-archive/sane-devel/1998-05/0175.html</a><br>
    --<br>
   =20<br>
      =<br>
------------------------------------------------------------------------<br>
    Andre Couture<br>
    938934 Ontario Inc.<br>
    <a href="mailto:acouture@videotron.ca">mailto:acouture@videotron.ca</a><br>
   =20<br>
   =20<br>
   =20<br>
   =20<br>
   =20<br>
    <a href="mailto:search_n_find@yahoo.com">mailto:search_n_find@yahoo.com</a><br>
   =20<br>
   =20<br>
<p>
<p>
------=_NextPart_000_0021_01BE1FB8.CFFFE490<br>
Content-Type: text/html;<br>
	charset="iso-8859-1"<br>
Content-Transfer-Encoding: quoted-printable<br>
<p>
&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD W3 HTML//EN"&gt;<br>
<HTML>
<HEAD>

<META content=3Dtext/html;charset=3Diso-8859-1 =
http-equiv=3DContent-Type>
<META content=3D'"MSHTML 4.72.2106.6"' name=3DGENERATOR>
</HEAD>
<BODY bgColor=3D#ffffff>
<DIV><FONT color=3D#000000 size=3D2>Hi,</FONT></DIV>
<DIV><FONT color=3D#000000 size=3D2>&nbsp;&nbsp;&nbsp; I am working on a =
TWAIN=20
interface to SANE. I expect to have a trial version ready on 15th =
December. I'll=20
announce it on this list and put it up for download.</FONT></DIV>
<DIV><FONT color=3D#000000 size=3D2></FONT><FONT =
size=3D2>Arun</FONT></DIV>
<DIV><FONT size=3D2></FONT>&nbsp;</DIV>
<BLOCKQUOTE=20
style=3D"BORDER-LEFT: #000000 solid 2px; MARGIN-LEFT: 5px; PADDING-LEFT: =
5px">
    <DIV><FONT face=3DArial size=3D2><B>-----Original =
Message-----</B><BR><B>From:=20
    </B>Andre Couture &lt;<A=20
    =
href=3D"mailto:acouture@videotron.ca">acouture@videotron.ca</A>&gt;<BR><B=
>To:=20
    </B><A =
href=3D"mailto:sane-devel@mostang.com">sane-devel@mostang.com</A>=20
    &lt;<A=20
    =
href=3D"mailto:sane-devel@mostang.com">sane-devel@mostang.com</A>&gt;<BR>=
<B>Date:=20
    </B>Friday, December 04, 1998 4:48 PM<BR><B>Subject: </B>sane-devel: =
Re:=20
    Win32 TWAIN DLL to interface with SANE<BR><BR></DIV></FONT>I'd like =
to know=20
    the status on this?<BR>As anyone started anything?<BR><BR>If not, =
can=20
    someone tell me where to get a &quot;skeleton&quot; of a =
TWAIN<BR>DataSource=20
    driver?<BR><BR>I'm not doing much these days and would like very =
much to=20
    start doing<BR>something!<BR>Since I have a bunch of linux box and =
few=20
    windows 98/NT I can certainly<BR>get started on this.<BR><BR>(That =
would=20
    help me get back into M$Fenetre development...<BR><BR>/AC<BR><BR><A=20
    =
href=3D"http://www.mostang.com/mail-archive/sane-devel/1998-05/0175.html"=
>http://www.mostang.com/mail-archive/sane-devel/1998-05/0175.html</A><BR>=
--<BR><BR>&nbsp;=20
    =
------------------------------------------------------------------------<=
BR>Andre=20
    Couture<BR>938934 Ontario Inc.<BR><A=20
    =
href=3D"mailto:acouture@videotron.ca">mailto:acouture@videotron.ca</A><BR=
><BR><BR><BR><BR><BR><A=20
    =
href=3D"mailto:search_n_find@yahoo.com">mailto:search_n_find@yahoo.com</A=
><BR><BR><BR></BLOCKQUOTE></BODY></HTML>

------=_NextPart_000_0021_01BE1FB8.CFFFE490--


--
Source code, list archive, and docs: http://www.mostang.com/sane/
To unsubscribe: echo unsubscribe sane-devel | mail majordomo@mostang.com
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Chris Sparks: "Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0037.html">S.Ellerbrock: "Sane upgrade"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
