<!-- received="Sun Dec  6 15:17:07 1998 PST" -->
<!-- sent="Mon, 7 Dec 1998 00:17:51 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: MicroTek X6el" -->
<!-- id="" -->
<!-- inreplyto="36647B00.64E4E00E@bellatlantic.net" -->
<title>sane-devel: Re: MicroTek X6el</title>
<h1>Re: MicroTek X6el</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Mon, 7 Dec 1998 00:17:51 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Hugo van der Kooij: "Re: Solaris v2.6 support?"</a>
<li> <b>Previous message:</b> <a href="0058.html">Martin Huber: "Re: Solaris v2.6 support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Tue, Dec 01, 1998 at 06:25:53PM -0500, Matt Ryan wrote:<br>
<i>&gt; I have a MicroTek X6el scanner.  It is an 8.5" X 14" scanner with a</i><br>
<i>&gt; backlight for scanning negatives.</i><br>
<i>&gt; </i><br>
<i>&gt; I can't seem to get the regular X6 driver to work with it.</i><br>
<i>&gt; </i><br>
<i>&gt; Suggestions?</i><br>
<p>
This model should basically work with the microtek2 backend in sane-1.00,<br>
although color and grayscale scans produce garbage under some circumstances<br>
with this version.<br>
<p>
At the end of november a patch was posted to this list to make this model<br>
work with sane without the above mentioned problems.<br>
<p>
If it doesn't work with the 1.00 release of sane plus the patch, please<br>
describe more detailed, what the problem is.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Hugo van der Kooij: "Re: Solaris v2.6 support?"</a>
<li> <b>Previous message:</b> <a href="0058.html">Martin Huber: "Re: Solaris v2.6 support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
