<!-- received="Mon Dec  7 00:02:11 1998 PST" -->
<!-- sent="Mon, 7 Dec 1998 19:04:54 +1100 (EST)" -->
<!-- name="Minh Van" -->
<!-- email="mle@mail.usyd.edu.au" -->
<!-- subject="Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE" -->
<!-- id="" -->
<!-- inreplyto="Pine.BSF.3.96.981207084029.8212C-100000@studenti.ing.unipi.it" -->
<title>sane-devel: Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE</title>
<h1>Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE</h1>
<b>Minh Van</b> (<a href="mailto:mle@mail.usyd.edu.au"><i>mle@mail.usyd.edu.au</i></a>)<br>
<i>Mon, 7 Dec 1998 19:04:54 +1100 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#62">[ date ]</a><a href="index.html#62">[ thread ]</a><a href="subject.html#62">[ subject ]</a><a href="author.html#62">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Minh Van: "faqs/tutorial"</a>
<li> <b>Previous message:</b> <a href="0061.html">Mentore #cat# Siesto: "Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; +Arun wrote:</i><br>
<i>&gt; +</i><br>
<i>&gt; +&gt; I am working on a TWAIN interface to SANE. I expect to have a trial version</i><br>
<i>&gt; +&gt; ready on 15th December. I'll announce it on this list and put it up for</i><br>
<i>&gt; +&gt; download.</i><br>
<i>&gt; +</i><br>
<i>&gt; +How will it work?  I have an old sheet feed scanner that is TWAIN</i><br>
<i>&gt; +compliant,</i><br>
<i>&gt; +well as far as I know.  Will this software know to access the port</i><br>
<i>&gt; +correctly?</i><br>
<i>&gt; +</i><br>
<i>&gt; Now that's interesting... Though TWAIN isn't SANE, we can make them</i><br>
<i>&gt; compatible... Thus allowing my Epson GT 300 to work under OS/2!!!</i><br>
<p>
does all this mean that SANE 1.00 doesn't support twain flatbed scanners<br>
atm ?<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Minh Van: "faqs/tutorial"</a>
<li> <b>Previous message:</b> <a href="0061.html">Mentore #cat# Siesto: "Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
