<!-- received="Mon Dec  7 09:42:51 1998 PST" -->
<!-- sent="Mon, 07 Dec 1998 18:43:57 +0100" -->
<!-- name="Robert Schwebel" -->
<!-- email="r.schwebel@tu-bs.de" -->
<!-- subject="Re: SANE standard," -->
<!-- id="" -->
<!-- inreplyto="SANE standard," -->
<title>sane-devel: Re: SANE standard,</title>
<h1>Re: SANE standard,</h1>
<b>Robert Schwebel</b> (<a href="mailto:r.schwebel@tu-bs.de"><i>r.schwebel@tu-bs.de</i></a>)<br>
<i>Mon, 07 Dec 1998 18:43:57 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#71">[ date ]</a><a href="index.html#71">[ thread ]</a><a href="subject.html#71">[ subject ]</a><a href="author.html#71">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">justiny@newsguy.com: "Re: HP1100A ?"</a>
<li> <b>Previous message:</b> <a href="0070.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<li> <b>Maybe in reply to:</b> <a href="0042.html">Robert Schwebel: "SANE standard,"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0126.html">Milon Firikis: "Re: SANE standard,"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:becka@rz.uni-duesseldorf.de">becka@rz.uni-duesseldorf.de</a> wrote:<br>
<i>&gt; 2. For those that can do IO-port-only access, abstraction is as simple as</i><br>
<i>&gt; sanei_io_[in/out][b/w/l](IO_address[,data_out]);. </i><br>
<p>
Where are these functions definded? I can't find them anywhere in the<br>
include/sane/ directory.<br>
<p>
<i>&gt; 3. Installing SANE suid root is no good idea. I would thus prefer to go</i><br>
<i>&gt; via /dev/port on Linux, which can be given appropriate permissions.</i><br>
<p>
Hmmm, could you explain this in more detail? What do you mean by "via<br>
/dev/port"?<br>
<p>
I thought about writing a linux kernel driver for the direct hardware<br>
dependend parts of the interface which then would be accessable vi<br>
/dev/something and ioctl calls, but I don't either know if this was a<br>
good idea (one more program layer) nor if this is allowed according to<br>
platform independence. On the other hand, the hard stuff would be nicely<br>
encapsulated. Comments?<br>
<p>
<i>&gt; Well - anything that is ANSI-C should usually be o.k. . Everything else</i><br>
<i>&gt; should only be used with care and eventually protected by autoconf.</i><br>
<p>
In my case, the question is which direct io port handling routines am I<br>
allowed to use.<br>
<p>
Thanks a lot for your help!<br>
<p>
Robert<br>
<pre>
-- 
 +---------------------------------------------------------------------+
 + Robert Schwebel, Fridtjof-Nansen-Strasse 51, D - 38108 Braunschweig +
 +       Public Observatory Rothwesten (near Kassel, Germany)          +
 +        phone: +49-531-353745, e-mail: <a href="mailto:r.schwebel@tu-bs.de">r.schwebel@tu-bs.de</a>           +
 +---------------------------------------------------------------------+
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">justiny@newsguy.com: "Re: HP1100A ?"</a>
<li> <b>Previous message:</b> <a href="0070.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<li> <b>Maybe in reply to:</b> <a href="0042.html">Robert Schwebel: "SANE standard,"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0126.html">Milon Firikis: "Re: SANE standard,"</a>
<!-- reply="end" -->
</ul>
