<!-- received="Mon Dec  7 19:52:54 1998 PST" -->
<!-- sent="Mon, 7 Dec 1998 23:22:56 +0100" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="pkirchgessner@t-online.de" -->
<!-- subject="Re: HP1100A?" -->
<!-- id="98120723273300.03090@dld" -->
<!-- inreplyto="HP1100A?" -->
<title>sane-devel: Re: HP1100A?</title>
<h1>Re: HP1100A?</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:pkirchgessner@t-online.de"><i>pkirchgessner@t-online.de</i></a>)<br>
<i>Mon, 7 Dec 1998 23:22:56 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#91">[ date ]</a><a href="index.html#91">[ thread ]</a><a href="subject.html#91">[ subject ]</a><a href="author.html#91">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">John Duchek: "I am trying to install SANE and"</a>
<li> <b>Previous message:</b> <a href="0090.html">Chris Burghart: "SnapScan backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
currently there is no support for parallel HP scanners.<br>
There are some tests to support them.<br>
But up to now it looks not very good to get it working.<br>
<p>
Sincerely<br>
<p>
Peter <br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">John Duchek: "I am trying to install SANE and"</a>
<li> <b>Previous message:</b> <a href="0090.html">Chris Burghart: "SnapScan backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
