<!-- received="Tue Dec  8 21:33:30 1998 PST" -->
<!-- sent="Wed, 9 Dec 1998 00:32:02 -0500 (EST)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: Saned screwing up???" -->
<!-- id="m0zncEE-000q6ZC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Saned screwing up???" -->
<title>sane-devel: Re: Saned screwing up???</title>
<h1>Re: Saned screwing up???</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Wed, 9 Dec 1998 00:32:02 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#119">[ date ]</a><a href="index.html#119">[ thread ]</a><a href="subject.html#119">[ subject ]</a><a href="author.html#119">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">Chris Pinkham: "Re: Saned screwing up???"</a>
<li> <b>Previous message:</b> <a href="0118.html">Andre Couture: "Re: Saned screwing up???"</a>
<li> <b>Maybe in reply to:</b> <a href="0075.html">Andre Couture: "Saned screwing up???"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0120.html">Chris Pinkham: "Re: Saned screwing up???"</a>
<li> <b>Reply:</b> <a href="0120.html">Chris Pinkham: "Re: Saned screwing up???"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i> &gt;&gt; I've been trying for a while to get saned to work, but it the output is</i><br>
<i> &gt;&gt; looking very bad, (not aligned!)</i><br>
<i> &gt;&gt; </i><br>
<i> &gt;&gt; I have a AT3 scanner</i><br>
<i> &gt;</i><br>
<i> &gt;&gt;From looking at the debugging output of saned and xscanimage, I believe</i><br>
<i> &gt;this has to do with the fact that currently my implementation</i><br>
<i> &gt;of the sane_read function does not like it when it is called with a</i><br>
<i> &gt;max_len which is less than 1 line of data.  I am working on changing</i><br>
<p>
The microtek(1) backend had the same problem not too long ago.<br>
<p>
As a suggestion to other backend developers, originally given to me by<br>
 David Mosberger-Tang, it's a really good idea to test out your backends <br>
 with saned, to catch such lapses.<br>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">Chris Pinkham: "Re: Saned screwing up???"</a>
<li> <b>Previous message:</b> <a href="0118.html">Andre Couture: "Re: Saned screwing up???"</a>
<li> <b>Maybe in reply to:</b> <a href="0075.html">Andre Couture: "Saned screwing up???"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0120.html">Chris Pinkham: "Re: Saned screwing up???"</a>
<li> <b>Reply:</b> <a href="0120.html">Chris Pinkham: "Re: Saned screwing up???"</a>
<!-- reply="end" -->
</ul>
