<!-- received="Thu Dec 10 18:46:20 1998 PST" -->
<!-- sent="Thu, 10 Dec 1998 21:46:21 -0500" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: Solaris v2.6 support?" -->
<!-- id="" -->
<!-- inreplyto="Solaris v2.6 support?" -->
<title>sane-devel: Re: Solaris v2.6 support?</title>
<h1>Re: Solaris v2.6 support?</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Thu, 10 Dec 1998 21:46:21 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#148">[ date ]</a><a href="index.html#148">[ thread ]</a><a href="subject.html#148">[ subject ]</a><a href="author.html#148">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Danilo Godec: "Re: pre alpha version of my new sane-frontend out"</a>
<li> <b>Previous message:</b> <a href="0147.html">Andreas Fiesser: "Re: UMAX 1200S Astra hangs, then resumes"</a>
<li> <b>Maybe in reply to:</b> <a href="0146.html">Hugo van der Kooij: "Solaris v2.6 support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hugo van der Kooij wrote:<br>
<i>&gt; ...</i><br>
<i>&gt; (I didn't; it just dumps core)</i><br>
<i>&gt; ...</i><br>
<p>
Sounds like the data alignment problem I found in the HP backend.<br>
See the patch file I posted earlier today (Thursday) for a fix.<br>
<p>
<pre>
-- 
______________________________________________________________________
Michael Sweet, Easy Software Products                  <a href="mailto:mike@easysw.com">mike@easysw.com</a>
Printing Software for UNIX                       <a href="http://www.easysw.com">http://www.easysw.com</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Danilo Godec: "Re: pre alpha version of my new sane-frontend out"</a>
<li> <b>Previous message:</b> <a href="0147.html">Andreas Fiesser: "Re: UMAX 1200S Astra hangs, then resumes"</a>
<li> <b>Maybe in reply to:</b> <a href="0146.html">Hugo van der Kooij: "Solaris v2.6 support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
