<!-- received="Fri Dec 11 14:54:05 1998 PST" -->
<!-- sent="Fri, 11 Dec 1998 17:52:42 -0500 (EST)" -->
<!-- name="Chris Riggins" -->
<!-- email="criggins@brittania.turner.com" -->
<!-- subject="Re: Solaris 2.6 w/ HP ScanJet 4c" -->
<!-- id="199812112252.RAA03892@brittania.turner.com" -->
<!-- inreplyto="Pine.LNX.4.02A.9812112313350.22485-100000@asimov.hvdkooij.dyn.ml.org" -->
<title>sane-devel: Re: Solaris 2.6 w/ HP ScanJet 4c</title>
<h1>Re: Solaris 2.6 w/ HP ScanJet 4c</h1>
<b>Chris Riggins</b> (<a href="mailto:criggins@brittania.turner.com"><i>criggins@brittania.turner.com</i></a>)<br>
<i>Fri, 11 Dec 1998 17:52:42 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#161">[ date ]</a><a href="index.html#161">[ thread ]</a><a href="subject.html#161">[ subject ]</a><a href="author.html#161">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">Chris Burns: "UMAX...  It works!"</a>
<li> <b>Previous message:</b> <a href="0160.html">Hugo van der Kooij: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; If only the patch was patching. Somehow the patch is not understood by my</i><br>
<i>&gt; freshly compiled GNU patch v2.5 (nor by /bin/patch).</i><br>
<i>&gt; </i><br>
<i>&gt; patch keeps asking me for filenames. Somehow the patch is just not a patch</i><br>
<i>&gt; as I would normally see them with Linux. (With which I never got any</i><br>
<i>&gt; problem.)</i><br>
<i>&gt; </i><br>
<i>&gt; So suggestion about which patch (as I only have 4) I shoud use and with</i><br>
<i>&gt; what options are still welcome.</i><br>
<i>&gt; </i><br>
<i>&gt; Hugo.</i><br>
<p>
     I had the same difficulty, so I simply made the changes manually.  It<br>
took several minutes, but after spending half-an-hour trying to figure out<br>
why patch wasn't working I realized I could save myself a great deal of<br>
time!<br>
<p>
Chris<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">Chris Burns: "UMAX...  It works!"</a>
<li> <b>Previous message:</b> <a href="0160.html">Hugo van der Kooij: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
