<!-- received="Sat Dec 12 06:55:13 1998 PST" -->
<!-- sent="Sat, 12 Dec 1998 09:54:15 -0500" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: Solaris 2.6 w/ HP ScanJet 4c" -->
<!-- id="" -->
<!-- inreplyto="Solaris 2.6 w/ HP ScanJet 4c" -->
<title>sane-devel: Re: Solaris 2.6 w/ HP ScanJet 4c</title>
<h1>Re: Solaris 2.6 w/ HP ScanJet 4c</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Sat, 12 Dec 1998 09:54:15 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#167">[ date ]</a><a href="index.html#167">[ thread ]</a><a href="subject.html#167">[ subject ]</a><a href="author.html#167">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">V. Doan: "correction of photocopy scriptB"</a>
<li> <b>Next message:</b> <a href="0168.html">Paulo Matos: "Trying to find webcam drivers!"</a>
<li> <b>Previous message:</b> <a href="0166.html">Hugo van der Kooij: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<li> <b>Maybe in reply to:</b> <a href="0158.html">Chris Riggins: "Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hugo van der Kooij wrote:<br>
<i>&gt; ...</i><br>
<i>&gt; But why not use diff -uNr between an original tree and a new tree?</i><br>
<i>&gt; Which would have resulted in a common type of patchfile.</i><br>
<i>&gt; </i><br>
<i>&gt; (Like: diff -uNr sane-1.00.old sane-1.00 )</i><br>
<i>&gt; ...</i><br>
<p>
First, unified diffs are only supported by recent versions of patch;<br>
I *always* use context diffs to avoid problems.  So, your command<br>
example *should* be:<br>
<p>
    diff -cNr dir.old dir<br>
<p>
Second, I don't keep a complete copy of the original distribution on<br>
disk - we support so many FSF programs that I'm running low on disk<br>
space on our "GNU" disk (9GB, filling up fast).  Instead I have a<br>
script I run to edit files that sees if the original file is present<br>
(*.orig) and if not makes a copy before invoking the editor.  Then<br>
I have a script that generates a diff of all changed files.<br>
<p>
FWIW, if your patch programs are not recognizing this, then they are<br>
not configured properly.  I just checked the patch against the patch<br>
program I have on my systems, and it worked under IRIX 5.3, 6.2, 6.5,<br>
Solaris 2.5.1, Solaris 2.6, Digital UNIX, and HP-UX 10.20 and 11.0 (I<br>
haven't checked it on our Linux systems yet...)<br>
<p>
I'm using patch v2.1 (IRIX and Solaris), 2.5 (Digital UNIX), and 76.1<br>
(HP-UX).<br>
<p>
<pre>
-- 
______________________________________________________________________
Michael Sweet, Easy Software Products                  <a href="mailto:mike@easysw.com">mike@easysw.com</a>
Printing Software for UNIX                       <a href="http://www.easysw.com">http://www.easysw.com</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">V. Doan: "correction of photocopy scriptB"</a>
<li> <b>Next message:</b> <a href="0168.html">Paulo Matos: "Trying to find webcam drivers!"</a>
<li> <b>Previous message:</b> <a href="0166.html">Hugo van der Kooij: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<li> <b>Maybe in reply to:</b> <a href="0158.html">Chris Riggins: "Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
