<!-- received="Sat Dec 12 11:11:57 1998 PST" -->
<!-- sent="Sat, 12 Dec 1998 11:18:48 -0800" -->
<!-- name="Justin Young" -->
<!-- email="justiny@newsguy.com" -->
<!-- subject="RE: future supported devices" -->
<!-- id="" -->
<!-- inreplyto="366E332E.FF819D8@jps.net" -->
<title>sane-devel: RE: future supported devices</title>
<h1>RE: future supported devices</h1>
<b>Justin Young</b> (<a href="mailto:justiny@newsguy.com"><i>justiny@newsguy.com</i></a>)<br>
<i>Sat, 12 Dec 1998 11:18:48 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#183">[ date ]</a><a href="index.html#183">[ thread ]</a><a href="subject.html#183">[ subject ]</a><a href="author.html#183">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">aRtsCi - Nikolas Diamandis: "Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Previous message:</b> <a href="0182.html">michael brunsteiner: "6000SP: failed to open device /dev/sg0 invalid argument"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Absolutely.  All parallel port (USB, Firewire, and SCSI, too) devices will<br>
be supported in the future as long as their owners or their vendors are<br>
willing to write drivers. ;^)<br>
<p>
Seriously, some of the developers are making headway with certain parallel<br>
port scanners.  I'm sure the lessons learned from those can (and will be)<br>
applied to other ports in the future.<br>
<p>
The only thing I can ask you to do for now is to wait or to buy one of the<br>
supported SCSI scanners. (Sorry.)<br>
<p>
Take care.<br>
<p>
--Justin<br>
<p>
<p>
<i>&gt; -----Original Message-----</i><br>
<i>&gt; From: <a href="mailto:owner-sane-devel@mostang.com">owner-sane-devel@mostang.com</a></i><br>
<i>&gt; [<a href="mailto:owner-sane-devel@mostang.com">mailto:owner-sane-devel@mostang.com</a>]On Behalf Of Mark Marsh</i><br>
<i>&gt; Sent: Wednesday, December 09, 1998 12:22 AM</i><br>
<i>&gt; To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>&gt; Subject: future supported devices</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; Folks-</i><br>
<i>&gt; Any chance the Memorex SCF9612P (parallel) will be</i><br>
<i>&gt; supported in the future?  Thanks!</i><br>
<i>&gt;</i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">aRtsCi - Nikolas Diamandis: "Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Previous message:</b> <a href="0182.html">michael brunsteiner: "6000SP: failed to open device /dev/sg0 invalid argument"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
