<!-- received="Sun Dec 13 07:28:16 1998 PST" -->
<!-- sent="Sun, 13 Dec 1998 16:25:38 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Mustek ScanExpress 12000P. Is it SCSI?" -->
<!-- id="" -->
<!-- inreplyto="3673B445.12A42814@freemail.gr" -->
<title>sane-devel: Re: Mustek ScanExpress 12000P. Is it SCSI?</title>
<h1>Re: Mustek ScanExpress 12000P. Is it SCSI?</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sun, 13 Dec 1998 16:25:38 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#185">[ date ]</a><a href="index.html#185">[ thread ]</a><a href="subject.html#185">[ subject ]</a><a href="author.html#185">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Previous message:</b> <a href="0184.html">aRtsCi - Nikolas Diamandis: "Mustek ScanExpress 12000P. Is it SCSI?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 13 Dec 1998, aRtsCi - Nikolas Diamandis wrote:<br>
<p>
<i>&gt; I can't figure out which kind of interface this scanner uses!!!</i><br>
<i>&gt; 	Should I treat it as a SCSI device or as a PARALLEL port scanner?</i><br>
<i>&gt; 	Actually I know that I connect it at the parallel port without any</i><br>
<i>&gt; other inside the computer cards and in parallel to the printer.</i><br>
<p>
Then it is a parallel interface. (How hard can it be?)<br>
<p>
hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Previous message:</b> <a href="0184.html">aRtsCi - Nikolas Diamandis: "Mustek ScanExpress 12000P. Is it SCSI?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
