<!-- received="Tue Dec 22 07:49:49 1998 PST" -->
<!-- sent="Tue, 22 Dec 1998 09:51:05 -0600" -->
<!-- name="Jason Clemons" -->
<!-- email="jasonc@edge.net" -->
<!-- subject="Re: Parrallel Port Scanner" -->
<!-- id="" -->
<!-- inreplyto="Parrallel Port Scanner" -->
<title>sane-devel: Re: Parrallel Port Scanner</title>
<h1>Re: Parrallel Port Scanner</h1>
<b>Jason Clemons</b> (<a href="mailto:jasonc@edge.net"><i>jasonc@edge.net</i></a>)<br>
<i>Tue, 22 Dec 1998 09:51:05 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#250">[ date ]</a><a href="index.html#250">[ thread ]</a><a href="subject.html#250">[ subject ]</a><a href="author.html#250">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0251.html">aRtsCi - Nikos Diamandis: "DTC3181E cannot be recognized"</a>
<li> <b>Previous message:</b> <a href="0249.html">becka@rz.uni-duesseldorf.de: "Re: SANE + Logitech ScanMan?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
You had mentioned that there was a Mustek Parallel backend, do you happen to<br>
know<br>
if it's available/where it's available?<br>
<p>
I've been waiting for a bit for this to come out, having a Mustek 600 III EP+.<br>
<pre>
-- 
***********************************************************************
Jason Clemons                             Rated Nashville's Best
Edge Net Media                                   ISP By
Customer Service                              Nashville Scene
111 Westwood Place Suite 101
Brentwood, TN  37027                      "There is no knowledge
(888) 456-EDGE (3343)			    that is not power."
(615) 371-0887 ext 245
***********************************************************************
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0251.html">aRtsCi - Nikos Diamandis: "DTC3181E cannot be recognized"</a>
<li> <b>Previous message:</b> <a href="0249.html">becka@rz.uni-duesseldorf.de: "Re: SANE + Logitech ScanMan?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
