<!-- received="Tue Dec 22 16:31:53 1998 PST" -->
<!-- sent="Tue, 22 Dec 1998 18:31:00 -0600 (CST)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.rice.edu" -->
<!-- subject="Re: SANE" -->
<!-- id="199812230031.SAA25712@cs.rice.edu" -->
<!-- inreplyto="SANE" -->
<title>sane-devel: Re: SANE</title>
<h1>Re: SANE</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.rice.edu"><i>charter@cs.rice.edu</i></a>)<br>
<i>Tue, 22 Dec 1998 18:31:00 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#257">[ date ]</a><a href="index.html#257">[ thread ]</a><a href="subject.html#257">[ subject ]</a><a href="author.html#257">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">aRtsCi - Nikos Diamandis: "NCR5380 vs g_NCR5380"</a>
<li> <b>Previous message:</b> <a href="0256.html">Bernd Schroeder: "Re: scanmaker v310?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
See the patch at <a href="http://www.cs.ualberta.ca/~charter/snapscan.html">http://www.cs.ualberta.ca/~charter/snapscan.html</a>.<br>
It fixes a version mismatch problem that causes this behaviour.<br>
<p>
Kevin<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">aRtsCi - Nikos Diamandis: "NCR5380 vs g_NCR5380"</a>
<li> <b>Previous message:</b> <a href="0256.html">Bernd Schroeder: "Re: scanmaker v310?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
