<!-- received="Thu Dec 24 16:37:46 1998 PST" -->
<!-- sent="Fri, 25 Dec 1998 00:56:15 +0100" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="pkirchgessner@t-online.de" -->
<!-- subject="Re: HP OfficeJEt" -->
<!-- id="" -->
<!-- inreplyto="HP OfficeJEt" -->
<title>sane-devel: Re: HP OfficeJEt</title>
<h1>Re: HP OfficeJEt</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:pkirchgessner@t-online.de"><i>pkirchgessner@t-online.de</i></a>)<br>
<i>Fri, 25 Dec 1998 00:56:15 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#273">[ date ]</a><a href="index.html#273">[ thread ]</a><a href="subject.html#273">[ subject ]</a><a href="author.html#273">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0274.html">aRtsCi - Nikos Diamandis: "Ok. Now what? ...after following the steps..."</a>
<li> <b>Previous message:</b> <a href="0272.html">Hugo van der Kooij: "Re: SANE sees only 1 of 2 scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0254.html">Baudeuin Raphael: "HP OfficeJEt"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Baudeuin Raphael wrote:<br>
<i>&gt; </i><br>
<i>&gt; About the OfficeJet, Is there a project to write a driver for it? If yes, who</i><br>
<i>&gt; does it. If no, anyone interested in doing that with me? I don't have the</i><br>
<i>&gt; skills to do it alone..... But I really would like to do it.....</i><br>
<i>&gt; </i><br>
<i>&gt; Raph.</i><br>
<p>
Hi Raph,<br>
<p>
I can only give you some hints because I dont have a parallel port<br>
scanner.<br>
Assuming that the OfficeJet supports SCL (scanner control language),<br>
it should be possible to use the hp backend as an interface to send the<br>
commands<br>
and reading the data.<br>
The OfficeJet is not listed in the SCL documentation. But it says, that<br>
the scanners<br>
are using an EPST-device to do a parallel-to-SCSI conversion inside the<br>
scanner.<br>
You can find a very preliminary epst-driver for Linux at<br>
<a href="http://www.torque.net/linux-pp.html">http://www.torque.net/linux-pp.html</a> . Select 'Drivers for parallel port<br>
SCSI' and<br>
you will find a section about 'Shuttle technologies'. There you can<br>
download<br>
the files epst.c and epst.h (always assuming that the EPST-device<br>
mentioned<br>
in the HP documentation is from Shuttle technologies).<br>
I have also heard rumors that Linux 2.2 has some new device drivers for<br>
the<br>
parallel port.<br>
<p>
--Peter<br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0274.html">aRtsCi - Nikos Diamandis: "Ok. Now what? ...after following the steps..."</a>
<li> <b>Previous message:</b> <a href="0272.html">Hugo van der Kooij: "Re: SANE sees only 1 of 2 scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0254.html">Baudeuin Raphael: "HP OfficeJEt"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
