<!-- received="Sat Dec 26 08:38:13 1998 PST" -->
<!-- sent="Sat, 26 Dec 1998 09:37:51 -0700" -->
<!-- name="Morris R. Bannerman" -->
<!-- email="mbanner@xmission.com" -->
<!-- subject="Re: Compiling Sane" -->
<!-- id="" -->
<!-- inreplyto="Compiling Sane" -->
<title>sane-devel: Re: Compiling Sane</title>
<h1>Re: Compiling Sane</h1>
<b>Morris R. Bannerman</b> (<a href="mailto:mbanner@xmission.com"><i>mbanner@xmission.com</i></a>)<br>
<i>Sat, 26 Dec 1998 09:37:51 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#282">[ date ]</a><a href="index.html#282">[ thread ]</a><a href="subject.html#282">[ subject ]</a><a href="author.html#282">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0283.html">Hugo van der Kooij: "Re: Compiling Sane"</a>
<li> <b>Previous message:</b> <a href="0281.html">aRtsCi - Nikos Diamandis: "Re: Ok. Now what? ...after following the steps..."</a>
<li> <b>In reply to:</b> <a href="0173.html">: ""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----Original Message-----<br>
From: Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt;<br>
To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a> &lt;sane-devel@mostang.com&gt;<br>
Cc: <a href="mailto:caldera-users@rim.caldera.com">caldera-users@rim.caldera.com</a> &lt;caldera-users@rim.caldera.com&gt;<br>
Date: Saturday, December 26, 1998 1:26 AM<br>
Subject: Re: Compiling Sane<br>
<p>
<p>
<i>&gt;On Fri, 25 Dec 1998, Morris R. Bannerman wrote:</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;Wouldn't it be nice to know what error? We now have no way at all to tell</i><br>
<i>&gt;you what is going on. Because we don't have a shred of of a clue.</i><br>
<i>&gt;</i><br>
<i>&gt;Hugo.</i><br>
<i>&gt;</i><br>
Ok, Here are more details:<br>
<p>
1) Extract tarball to /root/Downloads/sane-1.00<br>
<p>
2) ./configure<br>
<p>
3) Add the umax patch from a command line from /root/downloads/umax-patch<br>
with the following command: cpsane /root/Downloads/sane-1.00 (cpsane is a<br>
small batch executable in the umax-patch directory)<br>
<p>
4) make<br>
<p>
Here are the last two lines of the compile before it stops:<br>
<p>
Make [1] : leaving directory `/root/Downloads/sane-1.00/backends`<br>
Make *** [ all recursive] Error 1<br>
<p>
As I say I have altered the Backends Makefile and Makefile.in but I always<br>
end at this point<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0283.html">Hugo van der Kooij: "Re: Compiling Sane"</a>
<li> <b>Previous message:</b> <a href="0281.html">aRtsCi - Nikos Diamandis: "Re: Ok. Now what? ...after following the steps..."</a>
<li> <b>In reply to:</b> <a href="0173.html">: ""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
