<!-- received="Mon Dec 28 21:46:07 1998 PST" -->
<!-- sent="Mon, 28 Dec 1998 10:42:08 +0000 (GMT)" -->
<!-- name="a.bolsch@ic.ac.uk" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Mustek 12000P" -->
<!-- id="26788.9812281042@nestor.ma.ic.ac.uk" -->
<!-- inreplyto="199812230958.KAA07792@cip4.e-technik.uni-erlangen.de" -->
<title>sane-devel: Re: Mustek 12000P</title>
<h1>Re: Mustek 12000P</h1>
<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a><br>
<i>Mon, 28 Dec 1998 10:42:08 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#288">[ date ]</a><a href="index.html#288">[ thread ]</a><a href="subject.html#288">[ subject ]</a><a href="author.html#288">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0289.html">Jeffrey Perry: "Web site is down???"</a>
<li> <b>Previous message:</b> <a href="0287.html">Peter Kirchgessner: "Re: SANE 1.0 and FreeBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Since you've got a parallel port scanner you're currently lost.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0289.html">Jeffrey Perry: "Web site is down???"</a>
<li> <b>Previous message:</b> <a href="0287.html">Peter Kirchgessner: "Re: SANE 1.0 and FreeBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
