<!-- received="Tue Dec 29 00:13:52 1998 PST" -->
<!-- sent="Tue, 29 Dec 1998 08:59:17 +0100" -->
<!-- name="Wolfgang Goeller" -->
<!-- email="wgoeller@active.ch" -->
<!-- subject="Re: Silly noises instead of an Image" -->
<!-- id="" -->
<!-- inreplyto="Silly noises instead of an Image" -->
<title>sane-devel: Re: Silly noises instead of an Image</title>
<h1>Re: Silly noises instead of an Image</h1>
<b>Wolfgang Goeller</b> (<a href="mailto:wgoeller@active.ch"><i>wgoeller@active.ch</i></a>)<br>
<i>Tue, 29 Dec 1998 08:59:17 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#292">[ date ]</a><a href="index.html#292">[ thread ]</a><a href="subject.html#292">[ subject ]</a><a href="author.html#292">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0293.html">Gordon Scott: "OCR?"</a>
<li> <b>Previous message:</b> <a href="0291.html">aRtsCi - Nikos Diamandis: "Silly noises instead of an Image"</a>
<li> <b>Maybe in reply to:</b> <a href="0291.html">aRtsCi - Nikos Diamandis: "Silly noises instead of an Image"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0302.html">aRtsCi - Nikos Diamandis: "Re: Silly noises instead of an Image"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Nikos Diamandis wrote:<br>
<p>
<i>&gt; scsi : 1 host.</i><br>
<i>&gt;   Vendor: SCANNER   Model:                   Rev: 1.00</i><br>
<i>&gt;   Type:   Scanner                            ANSI SCSI revision: 01 CCS</i><br>
<i>&gt; ---</i><br>
<i>&gt; ...which worried me because it seems like no scanner was found, or the scanner</i><br>
<i>&gt; that was found did not have any strings!</i><br>
<p>
NO - it shows that your Scanner was found! Only a slightly strange<br>
behaviour but that's typical for Mustek - Scanners.<br>
But before asking more: It's not very helpful for us, guessing<br>
how you did configure sane. The message "works under MS" ist not too<br>
helpful<br>
for getting your linux-configuration.<br>
<p>
Regards<br>
Wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0293.html">Gordon Scott: "OCR?"</a>
<li> <b>Previous message:</b> <a href="0291.html">aRtsCi - Nikos Diamandis: "Silly noises instead of an Image"</a>
<li> <b>Maybe in reply to:</b> <a href="0291.html">aRtsCi - Nikos Diamandis: "Silly noises instead of an Image"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0302.html">aRtsCi - Nikos Diamandis: "Re: Silly noises instead of an Image"</a>
<!-- reply="end" -->
</ul>
