<!-- received="Tue Dec 29 04:42:27 1998 PST" -->
<!-- sent="Tue, 29 Dec 1998 13:39:45 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Sane and xscanimage" -->
<!-- id="" -->
<!-- inreplyto="3686725B.1C563CF@xmission.com" -->
<title>sane-devel: Re: Sane and xscanimage</title>
<h1>Re: Sane and xscanimage</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Tue, 29 Dec 1998 13:39:45 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#301">[ date ]</a><a href="index.html#301">[ thread ]</a><a href="subject.html#301">[ subject ]</a><a href="author.html#301">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0302.html">aRtsCi - Nikos Diamandis: "Re: Silly noises instead of an Image"</a>
<li> <b>Previous message:</b> <a href="0300.html">Morris R. Bannerman: "Sane and xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 27 Dec 1998, Morris R. Bannerman wrote:<br>
<p>
<i>&gt; I have tried repeatedly and cannot compile Sane 1.00 under caldera Open</i><br>
<i>&gt; Linux 1.3 for a Umax  scanner. I downloaded sane 0.74 and compiled it</i><br>
<i>&gt; and installed it and it works, or at least if I run scanimage the</i><br>
<i>&gt; scanner cycles and all sorts of characters fly past the terminal window.</i><br>
<i>&gt; </i><br>
<i>&gt; However the configure routine will not install xscanimage. GTK 1.0.5 is</i><br>
<i>&gt; installed in  /usr/X11R6/lib, but the routine does not seem to like it..</i><br>
<i>&gt; I have attached the config.log to see if there are clues in there. The</i><br>
<i>&gt; terminal window has the following mesage:</i><br>
<i>&gt; [snip]</i><br>
<i>&gt; checking for gtk-config... /usr/X11R6/bin/gtk-config</i><br>
<i>&gt; checking for GTK - version &gt;=0.99.13... no</i><br>
<i>&gt; *** Could not run GTK test program, checking why...</i><br>
<i>&gt; ***  The test program failed to compile or link [snip]</i><br>
<p>
Make sure you only have 1 (yes: ONE) tree for GTK stuff. If you have<br>
something under /usr/local as well you are in trouble (as you may hava<br>
found out)<br>
<p>
Hugo.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0302.html">aRtsCi - Nikos Diamandis: "Re: Silly noises instead of an Image"</a>
<li> <b>Previous message:</b> <a href="0300.html">Morris R. Bannerman: "Sane and xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
