<!-- received="Wed Dec 30 11:12:52 1998 PST" -->
<!-- sent="Wed, 30 Dec 1998 20:11:03 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Silly noises instead of an Image" -->
<!-- id="" -->
<!-- inreplyto="3.0.6.32.19981230171255.007a3780@jupiter.rz.fh-heilbronn.de" -->
<title>sane-devel: Re: Silly noises instead of an Image</title>
<h1>Re: Silly noises instead of an Image</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Wed, 30 Dec 1998 20:11:03 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#318">[ date ]</a><a href="index.html#318">[ thread ]</a><a href="subject.html#318">[ subject ]</a><a href="author.html#318">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0319.html">Joel Davis: "Parallel scanners (Canon 620)"</a>
<li> <b>Previous message:</b> <a href="0317.html">Jeff Weisberg: "SANE umax/NetBSD problem"</a>
<li> <b>In reply to:</b> <a href="0316.html">Uwe Maier: "Re: Silly noises instead of an Image"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 30 Dec 1998, Uwe Maier wrote:<br>
<p>
<i>&gt; &gt;&gt; &gt; --speed and --backtrack has no meaning for the SE. Get rid of this damn</i><br>
<i>&gt; &gt;&gt; &gt; crippled SCSI-card shipped with the scanner. I've got an Adaptec 1520 and</i><br>
<i>&gt; &gt;&gt; &gt; 486-machine, a full page scan at 300dpi takes just 3 min. And kill</i><br>
<i>&gt; anything</i><br>
<i>&gt; &gt;&gt; &gt; not absolutely necessary before scanning.</i><br>
<i>&gt; &gt;&gt; </i><br>
<i>&gt; &gt;&gt; 	I think that this isn't a solution!</i><br>
<i>&gt; &gt;&gt; 	Or I could say: Change the OS and buy M$ in order to have whatever you</i><br>
<i>&gt; want to!</i><br>
<i>&gt; &gt;&gt; 	I think that some people have used both the scanner and the scsi interface</i><br>
<i>&gt; &gt;&gt;     card I'm using and they have used it right! What did they do? Is it so</i><br>
<i>&gt; &gt;&gt;     difficult to describe??????</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;You can think all you want. But the answer is a clear indication of the</i><br>
<i>&gt; &gt;opposite. The card seems to be failure if used with SANE.</i><br>
<i>&gt; </i><br>
<i>&gt; Sorry, but that's not true. The card works well - for having no interrupt</i><br>
<i>&gt; line. I'm </i><br>
<i>&gt; using it with a Mustek 1200SP revision 1.05. My PC (P-133, 64 MB,</i><br>
<i>&gt; 2940UW-SCSI too, </i><br>
<i>&gt; 2.0.29-2.0.36 Kernels) does also some samba serving and I must admit that</i><br>
<i>&gt; the whole </i><br>
<i>&gt; system slows down very much when scanning (compared to a total system</i><br>
<i>&gt; freeze on M$ </i><br>
<i>&gt; this is really a step ahead). Nevertheless it's at least good for two or</i><br>
<i>&gt; three scans </i><br>
<i>&gt; a day (b/w for faxing). And since SANE 1.0 is out it also works with color</i><br>
<i>&gt; (great work btw).</i><br>
<i>&gt; It's surely a better solution to exchange the scanner card but if you've</i><br>
<i>&gt; got enough </i><br>
<i>&gt; time to waste you can use it. It would have been nice to enable the</i><br>
<i>&gt; interrupt but the</i><br>
<i>&gt; adapter is then unusable for M$. And to be honest, who of us is lucky</i><br>
<i>&gt; enough to be </i><br>
<i>&gt; able to ignore M$?</i><br>
<p>
Well. Your systems slows significantly down while you are scanning. But<br>
what if you don't have a Pentium system? The original poster does not have<br>
a Pentium but a 486. Then the things becomes really annoying.<br>
<p>
But in general a card without interrupts is too much pain for actions like<br>
this. Getting a real SCSI card can save you lot's of valuable time.<br>
<p>
Hugo.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0319.html">Joel Davis: "Parallel scanners (Canon 620)"</a>
<li> <b>Previous message:</b> <a href="0317.html">Jeff Weisberg: "SANE umax/NetBSD problem"</a>
<li> <b>In reply to:</b> <a href="0316.html">Uwe Maier: "Re: Silly noises instead of an Image"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
