<!-- received="Thu Dec 31 19:04:08 1998 PST" -->
<!-- sent="Thu, 31 Dec 1998 21:04:02 -0600" -->
<!-- name="Andrew Leahy" -->
<!-- email="aleahy@knox.edu" -->
<!-- subject="Epson ES-600C anyone?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson ES-600C anyone?</title>
<h1>Epson ES-600C anyone?</h1>
<b>Andrew Leahy</b> (<a href="mailto:aleahy@knox.edu"><i>aleahy@knox.edu</i></a>)<br>
<i>Thu, 31 Dec 1998 21:04:02 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#333">[ date ]</a><a href="index.html#333">[ thread ]</a><a href="subject.html#333">[ subject ]</a><a href="author.html#333">[ author ]</a>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0332.html">Peter Kirchgessner: "Re: Forwards-Backwards"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I just had an Epson ES-600C scanner (with a parallel port adaptor) fall<br>
into my hands.  Does anyone know the status of this scanner?  The<br>
sane-epson documentation mentions nothing about parallel scanners.<br>
<p>
Thanks for any information.<br>
<p>
Andrew Leahy<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0332.html">Peter Kirchgessner: "Re: Forwards-Backwards"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
