<!-- received="Thu Apr  1 12:53:30 1999 PST" -->
<!-- sent="01 Apr 1999 15:52:08 -0500" -->
<!-- name="Allan Strand" -->
<!-- email="stranda@cofc.edu" -->
<!-- subject="sane 1.0, UMAX 610S and FreeBSD 3.1" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane 1.0, UMAX 610S and FreeBSD 3.1</title>
<h1>sane 1.0, UMAX 610S and FreeBSD 3.1</h1>
<b>Allan Strand</b> (<a href="mailto:stranda@cofc.edu"><i>stranda@cofc.edu</i></a>)<br>
<i>01 Apr 1999 15:52:08 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#6">[ date ]</a><a href="index.html#6">[ thread ]</a><a href="subject.html#6">[ subject ]</a><a href="author.html#6">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">David Mosberger-Tang: "code freeze"</a>
<li> <b>Previous message:</b> <a href="0005.html">Rob Fargher: "Re: PCMCIA SCSI and SANE (Umax)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0010.html">Oliver Rauch: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<li> <b>Reply:</b> <a href="0010.html">Oliver Rauch: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<li> <b>Reply:</b> <a href="0064.html">Oliver Rauch: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all,<br>
<p>
I'm having a couple of problems:<br>
<p>
1) I've just installed sane 1.00 on a freebsd 3.1 box.  The compile went<br>
fine.  I have a UMAX 610S scanner on an adaptec 2940.  The scanner<br>
probes fine during bootup (appears as device pass3).  I set the<br>
permissions on /dev/pass3 to 777.  Executing scanimage -L  as root<br>
reveals three devices, the UMAX scanner and two pnm devices.<br>
Executing the same command as a normal user only reports the two pnm<br>
devices.  Apparently I have a permission problem, but I;m not sure<br>
where.<br>
<p>
2) When running scanimage as root, I also have the following problem:<br>
the scsi subsystem reports:<br>
<p>
cam_periph_mapmem: attempt to map 130050 bytes, which is greater than DFLTPHYS(65536)<br>
<p>
no scan is produced<br>
<p>
<p>
I realize that this second problem is probably OS specific, but I was<br>
hoping  that someone might have a suggestion on how to remedy it.<br>
<p>
Anyway, any help would be appreciated.<br>
<p>
I should mention that I had an earlier version of sane (0.74, I think)<br>
running  on the same hardware last fall.  The OS at the time was<br>
FreeBSD 2.2.8.<br>
<p>
Thanks,<br>
A.<br>
<p>
<pre>
-- 
Allan E. Strand          <a href="mailto:stranda@cofc.edu">stranda@cofc.edu</a>,  <a href="http://linum.cofc.edu">http://linum.cofc.edu</a>
Department of Biology    Phone:      (843) 953-8085
College of Charleston    Fax:        (843) 953-5453
Charleston, SC 29424           
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">David Mosberger-Tang: "code freeze"</a>
<li> <b>Previous message:</b> <a href="0005.html">Rob Fargher: "Re: PCMCIA SCSI and SANE (Umax)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0010.html">Oliver Rauch: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<li> <b>Reply:</b> <a href="0010.html">Oliver Rauch: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<li> <b>Reply:</b> <a href="0064.html">Oliver Rauch: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- reply="end" -->
</ul>
