<!-- received="Fri Apr  2 13:30:04 1999 PST" -->
<!-- sent="Fri, 12 Mar 1999 16:59:06 -0500" -->
<!-- name="David F. Skoll" -->
<!-- email="dskoll@chipworks.com" -->
<!-- subject="Change of address" -->
<!-- id=" " -->
<!-- inreplyto="" -->
<title>sane-devel: Change of address</title>
<h1>Change of address</h1>
<b>David F. Skoll</b> (<a href="mailto:dskoll@chipworks.com"><i>dskoll@chipworks.com</i></a>)<br>
<i>Fri, 12 Mar 1999 16:59:06 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#18">[ date ]</a><a href="index.html#18">[ thread ]</a><a href="subject.html#18">[ subject ]</a><a href="author.html#18">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">Jamie Zawinski: "Re: xscanimage won't detect my scanner"</a>
<li> <b>Previous message:</b> <a href="0017.html">Joerg Anders: "Error in "mustek.c""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi, David.<br>
<p>
I wrote the Polaroid DMC backend.  I'm leaving Chipworks to form my own<br>
Linux/UNIX consulting company.  The safest contact address for DMC<br>
questions is <a href="mailto:dskoll@iname.com">dskoll@iname.com</a>.<br>
<p>
Thanks,<br>
<p>
David.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">Jamie Zawinski: "Re: xscanimage won't detect my scanner"</a>
<li> <b>Previous message:</b> <a href="0017.html">Joerg Anders: "Error in "mustek.c""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
