<!-- received="Tue Apr  6 15:06:06 1999 PDT" -->
<!-- sent="Wed, 07 Apr 1999 00:08:20 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="xsane-0.21 / gtk-1.2" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane-0.21 / gtk-1.2</title>
<h1>xsane-0.21 / gtk-1.2</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 07 Apr 1999 00:08:20 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#120">[ date ]</a><a href="index.html#120">[ thread ]</a><a href="subject.html#120">[ subject ]</a><a href="author.html#120">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Oliver Rauch: "Re: sane install"</a>
<li> <b>Previous message:</b> <a href="0119.html">Rick Knebel: "sane install"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
xsane-0.21 wich (should) work with gtk+-1.2 is available<br>
on my homepage!<br>
<p>
Please would someone mail if it still works with gtk+-1.0<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Oliver Rauch: "Re: sane install"</a>
<li> <b>Previous message:</b> <a href="0119.html">Rick Knebel: "sane install"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
