<!-- received="Thu Apr  8 15:21:15 1999 PDT" -->
<!-- sent="Fri, 9 Apr 1999 00:23:55 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek X6 35mm adapter" -->
<!-- id="" -->
<!-- inreplyto="de-990407163750.AD716424@celeste.ucolick.org" -->
<title>sane-devel: Re: Microtek X6 35mm adapter</title>
<h1>Re: Microtek X6 35mm adapter</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Fri, 9 Apr 1999 00:23:55 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#151">[ date ]</a><a href="index.html#151">[ thread ]</a><a href="subject.html#151">[ subject ]</a><a href="author.html#151">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Andreas Dilger: "Re: Link from SANE pages to Windows clients"</a>
<li> <b>Previous message:</b> <a href="0150.html">Petter Reinholdtsen: "Making Windows patches?"</a>
<li> <b>In reply to:</b> <a href="0141.html">De Clarke: "Re: Microtek X6 35mm adapter"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, Apr 07, 1999 at 04:37:51PM -0700, De Clarke wrote:<br>
<i>&gt; </i><br>
<i>&gt; Bernd, thanks for the (depressing) explanation about the</i><br>
<i>&gt; lightlid.</i><br>
<i>&gt; </i><br>
<i>&gt; Have you succeeded in scanning 35mm film with the lightlid</i><br>
<i>&gt; even though the internal scanner light does not go off?</i><br>
<p>
I did a quick search on dejanews regarding this 35mm-lightlid adapter,<br>
and found at least one interesting thread. The subject was<br>
"Quick Microtek X6 question" in comp.periphs.scanners.<br>
<p>
<i>&gt; Alternately is there some control that can be sent to the</i><br>
<i>&gt; scanner that turns off the main internal light?  (Hey, if</i><br>
<i>&gt; necessary I will open it up and put a physical toggle switch </i><br>
<i>&gt; in the dc power to the light -- warranties exist to be</i><br>
<i>&gt; broken).</i><br>
<p>
Basically it is possible to turn off the lamp of the flatbed, but when<br>
I tried this a while ago, the device silently turned on the lamp again,<br>
when a scan was initiated. I'll see if I can do something, but have<br>
not much hope.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Andreas Dilger: "Re: Link from SANE pages to Windows clients"</a>
<li> <b>Previous message:</b> <a href="0150.html">Petter Reinholdtsen: "Making Windows patches?"</a>
<li> <b>In reply to:</b> <a href="0141.html">De Clarke: "Re: Microtek X6 35mm adapter"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
