<!-- received="Fri Apr  9 05:01:49 1999 PDT" -->
<!-- sent="Fri, 9 Apr 1999 14:03:35 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: Linking non-libtool libraries into a new backend?" -->
<!-- id="199904091203.OAA32664@lee.Cc.Uit.No" -->
<!-- inreplyto="Linking non-libtool libraries into a new backend?" -->
<title>sane-devel: Re: Linking non-libtool libraries into a new backend?</title>
<h1>Re: Linking non-libtool libraries into a new backend?</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Fri, 9 Apr 1999 14:03:35 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#164">[ date ]</a><a href="index.html#164">[ thread ]</a><a href="subject.html#164">[ subject ]</a><a href="author.html#164">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Petter Reinholdtsen: "Win32 patch for dll and net backend"</a>
<li> <b>Previous message:</b> <a href="0163.html">Dr. Andreas Bolsch: "Re: Scanner -&gt; printer problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0142.html">Graham Stoney: "Linking non-libtool libraries into a new backend?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Graham Stoney]<br>
<i>&gt; OK, understood. I've rebuilt the libraries adding -fPIC to the</i><br>
<i>&gt; compiler command line, but libtool still refuses to link the ".a"</i><br>
<i>&gt; files in. Any other ideas?</i><br>
<p>
Unpack the .a file, and link in the object files... Ugly hack, but it<br>
should work.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Petter Reinholdtsen: "Win32 patch for dll and net backend"</a>
<li> <b>Previous message:</b> <a href="0163.html">Dr. Andreas Bolsch: "Re: Scanner -&gt; printer problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0142.html">Graham Stoney: "Linking non-libtool libraries into a new backend?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
