<!-- received="Sun Apr 11 05:27:10 1999 PDT" -->
<!-- sent="Sun, 11 Apr 1999 14:31:43 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek X6 35mm adapter" -->
<!-- id="" -->
<!-- inreplyto="de-990408152604.AE516424@celeste.ucolick.org" -->
<title>sane-devel: Re: Microtek X6 35mm adapter</title>
<h1>Re: Microtek X6 35mm adapter</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Sun, 11 Apr 1999 14:31:43 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#180">[ date ]</a><a href="index.html#180">[ thread ]</a><a href="subject.html#180">[ subject ]</a><a href="author.html#180">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">John Profic: "HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow"</a>
<li> <b>Previous message:</b> <a href="0179.html">Oliver Rauch: "Re: Need help to compile Sane."</a>
<li> <b>In reply to:</b> <a href="0153.html">De Clarke: "Re: Microtek X6 35mm adapter"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Thu, Apr 08, 1999 at 03:26:05PM -0700, De Clarke wrote:<br>
<i>&gt; </i><br>
<i>&gt; well, there's nothing like wire :-)  I will take my</i><br>
<i>&gt; scanner apart this weekend and see what can be done.</i><br>
<i>&gt; </i><br>
<i>&gt; You would think that the act of plugging in the lightlid</i><br>
<i>&gt; would turn off the main light.  Microtek gear seems well</i><br>
<i>&gt; made physically, but the firmware leaves something to</i><br>
<i>&gt; be desired...</i><br>
<p>
I think it is best that the light stays on. Try this:<br>
<p>
 <a href="ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.7.110499.tar.gz">ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.7.110499.tar.gz</a> .<br>
<p>
If you enable the lightlid35 option in the .conf file the light of the<br>
the flatbed is turned off during a scan. There is a calibration process<br>
at the beginning, where the light is switched on, but before the scan<br>
starts it is turned off again, and remains off. To enable normal scans<br>
it is necessary to disable the lightlid35 option.<br>
<p>
Note: This is a rather experimental version, and there is no need to<br>
      download it, unless you want to scan with the lamp of the flatbed<br>
       turned off :)<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">John Profic: "HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow"</a>
<li> <b>Previous message:</b> <a href="0179.html">Oliver Rauch: "Re: Need help to compile Sane."</a>
<li> <b>In reply to:</b> <a href="0153.html">De Clarke: "Re: Microtek X6 35mm adapter"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
