<!-- received="Sun Apr 11 13:41:33 1999 PDT" -->
<!-- sent="Sun, 11 Apr 1999 22:44:52 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: May sane_init fail?" -->
<!-- id="199904112044.WAA10685@lee.Cc.Uit.No" -->
<!-- inreplyto="May sane_init fail?" -->
<title>sane-devel: Re: May sane_init fail?</title>
<h1>Re: May sane_init fail?</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sun, 11 Apr 1999 22:44:52 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#194">[ date ]</a><a href="index.html#194">[ thread ]</a><a href="subject.html#194">[ subject ]</a><a href="author.html#194">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">David Mosberger-Tang: "Re: sane-pre1.01 problems with dc210"</a>
<li> <b>Previous message:</b> <a href="0193.html">Ruggero Valetti: "Scanner list update"</a>
<li> <b>Maybe in reply to:</b> <a href="0166.html">Petter Reinholdtsen: "May sane_init fail?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0197.html">David Mosberger-Tang: "Re: May sane_init fail?"</a>
<li> <b>Reply:</b> <a href="0197.html">David Mosberger-Tang: "Re: May sane_init fail?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[David Mosberger-Tang]<br>
<i>&gt; Hmmh, this may well be a typo.  I'm quite sure our intention was</i><br>
<i>&gt; that a frontend does not have to check for the return value of</i><br>
<i>&gt; sane_init() (i.e., treat it as a void).  Note that none of the</i><br>
<i>&gt; existing frontends check the return status of sane_init().  I think</i><br>
<i>&gt; we should correct this in v2 of the SANE protocol.</i><br>
<p>
The dll backend is checking for status != SANE_STATUS_GOOD before<br>
accepting the backend.  I'm not sure if any backends actually is using<br>
this, but I beleave there should be a way for the backend to say<br>
"don't use me", and that sane_init therefore should return<br>
SANE_Status.<br>
<p>
I suggest SANE_STATUS_GOOD if all is OK, and SANE_STATUS_UNSUPPORTED<br>
if the backend beleave itself to be useless.  The last case will be<br>
the case for the net backend on Windows if the WINSOCK.DLL is missing<br>
or has the wrong version.  It should be the same with SCSI drivers on<br>
machines with no SCSI card.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">David Mosberger-Tang: "Re: sane-pre1.01 problems with dc210"</a>
<li> <b>Previous message:</b> <a href="0193.html">Ruggero Valetti: "Scanner list update"</a>
<li> <b>Maybe in reply to:</b> <a href="0166.html">Petter Reinholdtsen: "May sane_init fail?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0197.html">David Mosberger-Tang: "Re: May sane_init fail?"</a>
<li> <b>Reply:</b> <a href="0197.html">David Mosberger-Tang: "Re: May sane_init fail?"</a>
<!-- reply="end" -->
</ul>
