<!-- received="Sat Apr 17 11:35:43 1999 PDT" -->
<!-- sent="Sat, 17 Apr 1999 15:23:24 +0200 (MEST)" -->
<!-- name="Carsten Block" -->
<!-- email="carsten.block@gmx.de" -->
<!-- subject="Re: HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow" -->
<!-- id="" -->
<!-- inreplyto="3710981B.D9223E3B@ddd.kursknet.ru" -->
<title>sane-devel: Re: HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow</title>
<h1>Re: HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow</h1>
<b>Carsten Block</b> (<a href="mailto:carsten.block@gmx.de"><i>carsten.block@gmx.de</i></a>)<br>
<i>Sat, 17 Apr 1999 15:23:24 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#241">[ date ]</a><a href="index.html#241">[ thread ]</a><a href="subject.html#241">[ subject ]</a><a href="author.html#241">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0242.html">Lee Bartolotti: "microtek scanmaker v6usl"</a>
<li> <b>Previous message:</b> <a href="0240.html">Hugo van der Kooij: "Re: Silly question?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 11 Apr 1999, John Profic wrote:<br>
<p>
<i>&gt; I use 53c400a add-on to g_NCR5380.o to detect my SCSI card. Also the kernel</i><br>
<i>&gt; recognize my scaner as "procesor".</i><br>
<i>&gt; But then i try to use it it work very slow for example then i run 'xscanimage</i><br>
<i>&gt; hp:/dev/scanner' he stops about 30 seconds and then only show his fronend.</i><br>
<i>&gt; Then i try to scan it too has this delay but then i look at</i><br>
<i>&gt; /proc/scsi/g_NCR5380/0 it shows that transfer is about 500(k)bps...</i><br>
<i>&gt; </i><br>
<p>
Hello,<br>
I have a HP Scanjet IIp with a NCR53C400a-Card and have the same problems<br>
with Kernel-Version 2.2.5. With Kernel-Version 2.0.36 instead it works<br>
much faster. Perhaps someone knows why?<br>
<p>
Greetings<br>
Carsten<br>
<p>
<pre>
-- 
Carsten Block
E-Mail: <a href="mailto:carsten.block@gmx.de">carsten.block@gmx.de</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0242.html">Lee Bartolotti: "microtek scanmaker v6usl"</a>
<li> <b>Previous message:</b> <a href="0240.html">Hugo van der Kooij: "Re: Silly question?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
