<!-- received="Tue Apr 20 08:33:44 1999 PDT" -->
<!-- sent="Tue, 20 Apr 1999 11:29:13 +0200 (CEST)" -->
<!-- name="Allan Jensen" -->
<!-- email="AJensen@t-online.de" -->
<!-- subject="Mustek scanner 12000CX" -->
<!-- id="" -->
<!-- inreplyto="371BAA83.3EE25FA7@gte.net" -->
<title>sane-devel: Mustek scanner 12000CX</title>
<h1>Mustek scanner 12000CX</h1>
<b>Allan Jensen</b> (<a href="mailto:AJensen@t-online.de"><i>AJensen@t-online.de</i></a>)<br>
<i>Tue, 20 Apr 1999 11:29:13 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#269">[ date ]</a><a href="index.html#269">[ thread ]</a><a href="subject.html#269">[ subject ]</a><a href="author.html#269">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0270.html">John Profic: "Re[2]: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0268.html">Roderick Klein: "Re: SCANPORT Support planned ??"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
My name is Allan and I'm new to the list.<br>
<p>
Is my scanner (Mustek MFS-12000CX) supported by sane? Which version will I<br>
need and do I have to have any specific software on my computer to build  <br>
sane.<br>
<p>
My system is LinuxPPC R4.1 (Kernel 2.1.125) running on a PowerPC 7500/100<br>
96MB, and the scanner is connected to the scsi-port.<br>
<p>
Thanks<br>
Allan<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0270.html">John Profic: "Re[2]: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0268.html">Roderick Klein: "Re: SCANPORT Support planned ??"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
