<!-- received="Tue Apr 20 11:43:33 1999 PDT" -->
<!-- sent="Tue, 20 Apr 1999 20:32:55 +0200" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: Silly question?" -->
<!-- id="" -->
<!-- inreplyto="Silly question?" -->
<title>sane-devel: Re: Silly question?</title>
<h1>Re: Silly question?</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Tue, 20 Apr 1999 20:32:55 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#273">[ date ]</a><a href="index.html#273">[ thread ]</a><a href="subject.html#273">[ subject ]</a><a href="author.html#273">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0274.html">Michael Sweet: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0272.html">Hugo van der Kooij: "Re: Re[2]: Silly question?"</a>
<li> <b>Maybe in reply to:</b> <a href="0234.html">Hugo van der Kooij: "Silly question?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0274.html">Michael Sweet: "Re: Silly question?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
with the current backend (also included in sane pre 1.01)<br>
and SANE_DEBUG_HP=3 you should get more information whats going on.<br>
You can also see which lines of the config-file are processed.<br>
The hp-backend that is in SANE 1.00 has some known bugs with<br>
the "scsi HP"-line. Should be removed from the file.<br>
<p>
Sincerely<br>
<p>
Peter<br>
<p>
David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Sat, 17 Apr 1999 19:22:16 +0200 (CEST), Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Hugo&gt; [hp] scsi_new: open failed (Invalid argument)</i><br>
<i>&gt;   Hugo&gt; [hp] scsi: Can't open scsi device</i><br>
<i>&gt; </i><br>
<i>&gt; Looks like something is wrong with the device name.  What's in your</i><br>
<i>&gt; hp.conf?</i><br>
<i>&gt; </i><br>
<i>&gt; BTW: Peter, how about printing the device name as part of this error</i><br>
<i>&gt; message?</i><br>
<i>&gt; </i><br>
<i>&gt;         --david</i><br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0274.html">Michael Sweet: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0272.html">Hugo van der Kooij: "Re: Re[2]: Silly question?"</a>
<li> <b>Maybe in reply to:</b> <a href="0234.html">Hugo van der Kooij: "Silly question?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0274.html">Michael Sweet: "Re: Silly question?"</a>
<!-- reply="end" -->
</ul>
