<!-- received="Tue Apr 20 21:23:34 1999 PDT" -->
<!-- sent="Tue, 20 Apr 1999 21:23:22 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)" -->
<!-- id="199904210423.VAA32509@panda.mostang.com" -->
<!-- inreplyto="371C6C4F.6747F4E0@ariadne-t.gr" -->
<title>sane-devel: Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)</title>
<h1>Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 20 Apr 1999 21:23:22 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#279">[ date ]</a><a href="index.html#279">[ thread ]</a><a href="subject.html#279">[ subject ]</a><a href="author.html#279">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0280.html">Didier Carlier: "Re: Nikon LS-2000 Scanner and Sane 1.00"</a>
<li> <b>Previous message:</b> <a href="0278.html">Brian Macy: "[Announce] WinSANE 0.0.1.0 Release"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 20 Apr 1999 15:00:15 +0300, Milon Firikis &lt;<a href="mailto:milonf@ariadne-t.gr">milonf@ariadne-t.gr</a>&gt; said:</i><br>
<p>
  Milon&gt; Arghh...<br>
<p>
  Milon&gt; With the simplest dll.conf<br>
<p>
  Milon&gt; # sane stream tcp nowait root /usr/local/sbin/saned saned #<br>
  Milon&gt; enable the next line if you want to allow access through the<br>
  Milon&gt; network: net #agfafocus #apple #artec #canon #coolscan #dc25<br>
  Milon&gt; #dmc #epson #hp #microtek #microtek2 #mustek #pint pnm #qcam<br>
  Milon&gt; #ricoh #s9036 #snapscan #tamarack #umax<br>
<p>
  Milon&gt; and the simplest net.conf<br>
<p>
  Milon&gt; # This is the net config file.  Each line names a host to<br>
  Milon&gt; attach to.  # If you list "localhost" then your backends can<br>
  Milon&gt; be accessed either # directly or through the net backend.<br>
  Milon&gt; Going through the net backend # may be necessary to access<br>
  Milon&gt; devices that need special privileges.  # localhost<br>
<p>
  Milon&gt; localhost<br>
<p>
  Milon&gt; ----------<br>
<p>
  Milon&gt; I keep getting SIGSEGVs in redhat 5.1<br>
<p>
<p>
  Milon&gt; I have reported it some time ago... but I am not qualified to<br>
  Milon&gt; find the solution...<br>
<p>
I can't reproduce this.  Can you give a more detailed description of<br>
what you tried to do (exact command line)?<br>
<p>
I tried with sane-pre1.0.1-5, RH5.2, using the command line "scanimage<br>
-T net:localhost:pnm:0" and various variations thereof (including<br>
actually scanning a picture).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0280.html">Didier Carlier: "Re: Nikon LS-2000 Scanner and Sane 1.00"</a>
<li> <b>Previous message:</b> <a href="0278.html">Brian Macy: "[Announce] WinSANE 0.0.1.0 Release"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
