<!-- received="Thu Apr 22 11:42:27 1999 PDT" -->
<!-- sent="Thu, 22 Apr 1999 19:43:28 +0100" -->
<!-- name="keith@softfocus.nu" -->
<!-- email="keith@softfocus.nu" -->
<!-- subject="Coolscan II problem" -->
<!-- id="VA.00000200.000b2cb6@keithwal" -->
<!-- inreplyto="" -->
<title>sane-devel: Coolscan II problem</title>
<h1>Coolscan II problem</h1>
<a href="mailto:keith@softfocus.nu"><i>keith@softfocus.nu</i></a><br>
<i>Thu, 22 Apr 1999 19:43:28 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#299">[ date ]</a><a href="index.html#299">[ thread ]</a><a href="subject.html#299">[ subject ]</a><a href="author.html#299">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0300.html">Phillip W Ross: "Re: Star Office and scanner"</a>
<li> <b>Previous message:</b> <a href="0298.html">Rob Fargher: "Star Office and scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'd appreciate some advice from any SCSI/scanner gurus out there.<br>
<p>
I'm having problems with a Coolscan II.<br>
I can get the software to launch OK. and I can get the scanner to do <br>
a preview, however the second I hit scan, my system hangs.<br>
Using scanimage I get the message 'Kernel panic aha152x panic in <br>
swapper task not syncing'<br>
<p>
I've managed to get my HP Scanjet 4p to work without any problem, so <br>
I guess I've got most things installed OK.<br>
<p>
I'm pretty new to Linux/Unix so it's quite possible I've overlooked <br>
something extremely simple.<br>
<p>
Any help would be gratefully received, I'm running out of hair.<br>
<p>
<pre>
-- 
Keith Walter
<a href="http://www.softfocus.nu">http://www.softfocus.nu</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0300.html">Phillip W Ross: "Re: Star Office and scanner"</a>
<li> <b>Previous message:</b> <a href="0298.html">Rob Fargher: "Star Office and scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
