<!-- received="Thu Apr 22 22:14:03 1999 PDT" -->
<!-- sent="Fri, 23 Apr 1999 01:35:47 -0400 (EDT)" -->
<!-- name="Tripp Lilley" -->
<!-- email="tlilley@perspex.com" -->
<!-- subject="Re: Sane config thoughts" -->
<!-- id="" -->
<!-- inreplyto="371F3D70.B8782679@wolfsburg.de" -->
<title>sane-devel: Re: Sane config thoughts</title>
<h1>Re: Sane config thoughts</h1>
<b>Tripp Lilley</b> (<a href="mailto:tlilley@perspex.com"><i>tlilley@perspex.com</i></a>)<br>
<i>Fri, 23 Apr 1999 01:35:47 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#314">[ date ]</a><a href="index.html#314">[ thread ]</a><a href="subject.html#314">[ subject ]</a><a href="author.html#314">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0315.html">Nick Lamb: "Re: Sane config thoughts"</a>
<li> <b>Previous message:</b> <a href="0313.html">David Mosberger-Tang: "Re: Star Office and scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 22 Apr 1999, Oliver Rauch wrote:<br>
<p>
<i>&gt; The "normal" user does use a binary and that has to come with all backends</i><br>
<i>&gt; - or do you like to create dozens of sane-binaries -- for each scanner or</i><br>
<i>&gt; backend one?</i><br>
<p>
John -- Oliver makes a good point, but I come to a different conclusion<br>
than he does :-) Instead of investing your time in building patches to the<br>
source side, and instead of building "dozens of sane binaries" (which, I<br>
realize, was not at all your original suggestion), consider building a<br>
thoughtful RPM -- perhaps one that prompts the user for which backend(s)<br>
they'd like to install.<br>
<p>
Or, perhaps something more like a "SANE Core" RPM, and individual "SANE<br>
backend" RPMs for the different backends. I'd, of course, include the dll,<br>
net, and pnm backends in the "Core" automatically.<br>
<p>
It would be straightforward to build such RPMs straight from a "make rpm".<br>
<p>
Yes, yes, I realize that not everyone is using SANE on Linux systems, or<br>
even non-Linux systems with RPM ports. But, let's be honest, Linux is the<br>
Windows of Unix :-) (which is to say that it's probably the most pervasive<br>
Unix, at least among end-users, which makes it worth supporting). And Red<br>
Hat is the Windows of Linux :-) Okay, end of analogy.<br>
<p>
<pre>
--
   Tripp Lilley + Innovative Workflow Engineering, Inc. + (<a href="mailto:tripp@iweinc.com">tripp@iweinc.com</a>)
------------------------------------------------------------------------------
  "It all comes from health and good nutrition, and not just from
   giving them a nice bath before the show."
<p>
 - Mary Papadopoulos, on horses showing well
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0315.html">Nick Lamb: "Re: Sane config thoughts"</a>
<li> <b>Previous message:</b> <a href="0313.html">David Mosberger-Tang: "Re: Star Office and scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
