<!-- received="Sat Apr 24 06:51:52 1999 PDT" -->
<!-- sent="Sat, 24 Apr 1999 15:53:09 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Where is ScanImage in the RPM?" -->
<!-- id="" -->
<!-- inreplyto="001401be8e4c$7c67f900$5d5dcfd0@whizpc" -->
<title>sane-devel: Re: Where is ScanImage in the RPM?</title>
<h1>Re: Where is ScanImage in the RPM?</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sat, 24 Apr 1999 15:53:09 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#337">[ date ]</a><a href="index.html#337">[ thread ]</a><a href="subject.html#337">[ subject ]</a><a href="author.html#337">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0338.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0336.html">Faisal Nasim: "Where is ScanImage in the RPM?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 24 Apr 1999, Faisal Nasim wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; I download the latest RPM 1.01 (i guess), but where is scanimage?</i><br>
<p>
Did you download the clients?<br>
<p>
The SANE RPM consists of 3 packages:<br>
 SANE		The core thing with all backends<br>
 SANE-CLIENTS	The clients like xcam, scanimage and xscanimage<br>
 SANE-DEVEL	The development stuff<br>
<p>
<i>&gt; Will it work with my HP 5p Flatbed scanner?</i><br>
<p>
It does with mine.<br>
<p>
Hugo.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0338.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0336.html">Faisal Nasim: "Where is ScanImage in the RPM?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
