<!-- received="Sat Apr 24 08:40:56 1999 PDT" -->
<!-- sent="Sat, 24 Apr 1999 16:42:17 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="Andreas.Bolsch@maths.nott.ac.uk" -->
<!-- subject="Re: HEEEELP!!!!!!!!!!!" -->
<!-- id="" -->
<!-- inreplyto="HEEEELP!!!!!!!!!!!" -->
<title>sane-devel: Re: HEEEELP!!!!!!!!!!!</title>
<h1>Re: HEEEELP!!!!!!!!!!!</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:Andreas.Bolsch@maths.nott.ac.uk"><i>Andreas.Bolsch@maths.nott.ac.uk</i></a>)<br>
<i>Sat, 24 Apr 1999 16:42:17 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#342">[ date ]</a><a href="index.html#342">[ thread ]</a><a href="subject.html#342">[ subject ]</a><a href="author.html#342">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0343.html">Bob van der Poel: "lineart vrs greyscale"</a>
<li> <b>Previous message:</b> <a href="0341.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0341.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0355.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Well, the boot messages are not very informative. As your scanner<br>
*does* something, the problem is probably not (only) the SCSI card or<br>
termination but the backend. Problems with termination lead usually<br>
either to spurious problems or to complete deadlock before the scanner<br>
does anything.<br>
<p>
So do<br>
<p>
  export SANE_DEBUG_SCSI=128<br>
  export SANE_DEBUG_...=128<br>
  ...<br>
  scanimage ... &gt;/dev/null<br>
<p>
and send us the debug output.<br>
For "..." look at the man page of the backend you are going to<br>
use. As your scanner is an artec "man sane-artec" should work.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0343.html">Bob van der Poel: "lineart vrs greyscale"</a>
<li> <b>Previous message:</b> <a href="0341.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0341.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0355.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- reply="end" -->
</ul>
