<!-- received="Sat Apr 24 16:19:57 1999 PDT" -->
<!-- sent="Sat, 24 Apr 1999 19:43:22 -0400 (EDT)" -->
<!-- name="Tripp Lilley" -->
<!-- email="tlilley@perspex.com" -->
<!-- subject="Re: lineart vrs greyscale" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.990424165453.8308A-100000@chef.ecs.soton.ac.uk" -->
<title>sane-devel: Re: lineart vrs greyscale</title>
<h1>Re: lineart vrs greyscale</h1>
<b>Tripp Lilley</b> (<a href="mailto:tlilley@perspex.com"><i>tlilley@perspex.com</i></a>)<br>
<i>Sat, 24 Apr 1999 19:43:22 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#351">[ date ]</a><a href="index.html#351">[ thread ]</a><a href="subject.html#351">[ subject ]</a><a href="author.html#351">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0352.html">Jay Smith: "Big Picture Camera"</a>
<li> <b>Previous message:</b> <a href="0350.html">Bob van der Poel: "Re: lineart vrs greyscale"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 24 Apr 1999, Nick Lamb wrote:<br>
<p>
<i>&gt; To the human eye greyscale will always look better because it reduces</i><br>
<i>&gt; aliasing. So if you're just going to look at the results (or use an</i><br>
<i>&gt; algorithm which permits greyscale) you should use greyscale.</i><br>
<i>&gt; </i><br>
<i>&gt; The other advantage of line art is that it returns much less data (of</i><br>
<i>&gt; course 8 times less normally, or better with RLE) and so can be saved</i><br>
<i>&gt; to a smaller file and transmitted more quickly over SCSI. This might be</i><br>
<i>&gt; important for scanning A4 documents at high resolution quickly.</i><br>
<p>
Though greyscale is certainly better for legibility, if you're planning on<br>
archiving the documents, you'll want to futz around with the<br>
brightness/contrast settings as mentioned, and stick with lineart. The<br>
reason, in a nutshell, is that Group 4 Compression (FAX, TIFF, etc.) is<br>
the "best compromise" compression for archival storage, and it only does<br>
BW (ie: lineart).<br>
<p>
I say it's the "best compromise" because it's not /exactly/ a "general<br>
purpose" compression algorithm. It was designed for FAX transmission, and<br>
the designers chose certain constant parameters of the algorithm based on<br>
statistical analysis of lots of images of text documents in European<br>
languages. So it doesn't do quite as well on a BW scan of a full page<br>
magazine ad as it would on a full page of magazine text.<br>
<p>
In any case, TIFF or CALS with G4 compression is by far the most pervasive<br>
encoding in archival document management systems.<br>
<p>
<p>
<pre>
--
   Tripp Lilley + Innovative Workflow Engineering, Inc. + (<a href="mailto:tripp@iweinc.com">tripp@iweinc.com</a>)
------------------------------------------------------------------------------
  "It all comes from health and good nutrition, and not just from
   giving them a nice bath before the show."
<p>
 - Mary Papadopoulos, on horses showing well
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0352.html">Jay Smith: "Big Picture Camera"</a>
<li> <b>Previous message:</b> <a href="0350.html">Bob van der Poel: "Re: lineart vrs greyscale"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
