<!-- received="Sun Apr 25 08:13:50 1999 PDT" -->
<!-- sent="Sun, 25 Apr 1999 16:15:52 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="Andreas.Bolsch@maths.nott.ac.uk" -->
<!-- subject="Re: HEEEELP!!!!!!!!!!!" -->
<!-- id="" -->
<!-- inreplyto="HEEEELP!!!!!!!!!!!" -->
<title>sane-devel: Re: HEEEELP!!!!!!!!!!!</title>
<h1>Re: HEEEELP!!!!!!!!!!!</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:Andreas.Bolsch@maths.nott.ac.uk"><i>Andreas.Bolsch@maths.nott.ac.uk</i></a>)<br>
<i>Sun, 25 Apr 1999 16:15:52 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#356">[ date ]</a><a href="index.html#356">[ thread ]</a><a href="subject.html#356">[ subject ]</a><a href="author.html#356">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0357.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0355.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0341.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0357.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"locate sane" should give you a comprehensive list of files related<br>
to sane. Just look for a line containing "man" and "artec".<br>
But I'd suppose anyway SANE_DEBUG_ARTEC is the right one.<br>
<p>
And have a look at the other manpages belonging to sane as well. So<br>
typing<br>
<p>
  export SANE_DEBUG_SCSI=128<br>
  export SANE_DEBUG_ARTEC=128<br>
  scanimage -d artec:/dev/scanner --mode gray --resolution 10 &gt;/dev/null<br>
<p>
and writing down what you get shouldn't be that difficult.<br>
Regarding /dev/scanner: Your device might be different, but<br>
it will be defined in /etc/sane.d/artec.conf or a similar place.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0357.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0355.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0341.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0357.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- reply="end" -->
</ul>
