<!-- received="Sun Apr 25 13:25:54 1999 PDT" -->
<!-- sent="Sun, 25 Apr 1999 21:27:57 +0100 (BST)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: RPM distributions" -->
<!-- id="" -->
<!-- inreplyto="3722C9B2.42BCD06@bigfoot.com" -->
<title>sane-devel: Re: RPM distributions</title>
<h1>Re: RPM distributions</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Sun, 25 Apr 1999 21:27:57 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#364">[ date ]</a><a href="index.html#364">[ thread ]</a><a href="subject.html#364">[ subject ]</a><a href="author.html#364">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0365.html">Chris Pinkham: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0363.html">Matti J Kinnunen: "HP1100A and Sane and Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 25 Apr 1999, John Bodnar wrote:<br>
<p>
<i>&gt; I know you guys don't build the RPM distributions of SANE, but perhaps</i><br>
<i>&gt; you could influence whomever is building them to:</i><br>
<i>&gt; </i><br>
<i>&gt; PACKAGE THE D*** FRONT ENDS!</i><br>
<p>
This is done. Look more closely, there are three SANE RPMs, one with<br>
the scanner drivers (everyone needs this) one with the frontends (for<br>
people who don't use a custom frontend) and one with development files<br>
like headers, static libs, links etc.<br>
<p>
But hey. Not all of us have the time to think twice before flaming people<br>
who did a good job and deserve praise. So, thanks.<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0365.html">Chris Pinkham: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0363.html">Matti J Kinnunen: "HP1100A and Sane and Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
