<!-- received="Tue Apr 27 15:44:03 1999 PDT" -->
<!-- sent="Wed, 28 Apr 1999 00:47:38 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Patch: Autogenerate lsm entry" -->
<!-- id="199904272247.AAA24703@lee.Cc.Uit.No" -->
<!-- inreplyto="" -->
<title>sane-devel: Patch: Autogenerate lsm entry</title>
<h1>Patch: Autogenerate lsm entry</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Wed, 28 Apr 1999 00:47:38 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#393">[ date ]</a><a href="index.html#393">[ thread ]</a><a href="subject.html#393">[ subject ]</a><a href="author.html#393">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0394.html">Petter Reinholdtsen: "Patch: dll cleanup and bugfix"</a>
<li> <b>Previous message:</b> <a href="0392.html">Petter Reinholdtsen: "Patch: sane_init() may fail"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here is a small change relative to SANE 1.0.1.  It is a new target for<br>
make to generate the lsm entry with updated distribution size and<br>
date.<br>
<p>
diff --new-file -ur sane-1.0.1/ChangeLog sane-1.0.1-pere/ChangeLog<br>
--- sane-1.0.1/ChangeLog	Mon Apr 19 18:21:33 1999<br>
+++ sane-1.0.1-pere/ChangeLog	Wed Apr 28 00:42:00 1999<br>
@@ -1,3 +1,8 @@<br>
+1999-04-28  Petter Reinholdtsen &lt;<a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>&gt;<br>
+<br>
+	* Makefile.in (lsm) sane.lsm: New target to generate Linux<br>
+ 	Software Map (LSM) entry from template.<br>
+	<br>
 1999-04-19  David Mosberger-Tang  &lt;<a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a>&gt;<br>
 <br>
 	* Version 1.0.1 released.<br>
diff --new-file -ur sane-1.0.1/Makefile.in sane-1.0.1-pere/Makefile.in<br>
--- sane-1.0.1/Makefile.in	Fri May  8 08:48:16 1998<br>
+++ sane-1.0.1-pere/Makefile.in	Wed Apr 28 00:38:27 1999<br>
@@ -5,6 +5,9 @@<br>
 top_srcdir = @top_srcdir@<br>
 top_builddir = .<br>
 <br>
+PACKAGE = @PACKAGE@<br>
+VERSION = @VERSION@<br>
+<br>
 prefix = @prefix@<br>
 exec_prefix = @exec_prefix@<br>
 bindir = @bindir@<br>
@@ -36,6 +39,15 @@<br>
 <br>
 all: all-recursive<br>
 <br>
+$(PACKAGE)-$(VERSION).lsm: $(PACKAGE)-$(VERSION).tar.gz $(PACKAGE).lsm<br>
+	( cat $(PACKAGE).lsm | \<br>
+	 sed -e "s|_DATE_|`date +%d%b%y`|g" \<br>
+	  -e "s|_VERSION_|$(VERSION)|g" \<br>
+	  -e "s|_T_S_|`find $(PACKAGE)-$(VERSION).tar.gz -printf \"%3k\"`|g"\<br>
+	  -e "s|_L_S_|`find $(PACKAGE).lsm -printf "%3k"`|g" &gt; \<br>
+	     $(PACKAGE)-$(VERSION).lsm \<br>
+	)<br>
+lsm: $(PACKAGE)-$(VERSION).lsm<br>
 <br>
 install: install-recursive<br>
 	$(MKDIR) $(includedir)/sane<br>
diff --new-file -ur sane-1.0.1/sane.lsm sane-1.0.1-pere/sane.lsm<br>
--- sane-1.0.1/sane.lsm	Thu Jan  1 01:00:00 1970<br>
+++ sane-1.0.1-pere/sane.lsm	Wed Apr 28 00:40:26 1999<br>
@@ -0,0 +1,27 @@<br>
+Begin3<br>
+Title:          SANE<br>
+Version:        _VERSION_<br>
+Entered-date:   _DATE_<br>
+Description:    SANE (Scanner Access Now Easy) is a universal scanner<br>
+		interface and comes complete with documentation and several<br>
+		frontends and backends.<br>
+Keywords:       camera, scanner, Abaton, Apple, Agfa, Artec, Canon, Epson,<br>
+		HP, Kodak DC25 &amp; DC210, Microtek, Mustek, Nikon CoolScan,<br>
+		Polaroid Digital Microscope Camera, PINT, Connectix QuickCam,<br>
+		Ricoh, Siemens, Tamarack, UMAX, network server &amp; client,<br>
+		Java API &amp; client<br>
+Author:         <a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a> (David Mosberger-Tang)<br>
+		(see AUTHORS for complete list)<br>
+Maintained-by:  <a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a> (David Mosberger-Tang)<br>
+Primary-site:   ftp.mostang.com /pub/sane<br>
+		_T_S_ kB sane-_VERSION_.tar.gz<br>
+		_L_S_ kB sane-_VERSION_.lsm<br>
+Alternate-site: tsx-11.mit.edu /pub/linux/packages/sane<br>
+		sunsite.unc.edu /pub/Linux/apps/graphics/capture<br>
+		gd.tuwien.ac.at /hci/sane/<br>
+Platforms:      AIX, Digital Unix, HP Apollo Domain/OS, FreeBSD, HP-UX, IRIX,<br>
+		Linux (Alpha, m68k, SPARC, x86), NetBSD, OpenStep (x86),<br>
+		SCO OpenServer 5.x (x86), OS/2, Solaris (SPARC, x86), SunOS<br>
+Copying-policy: GPL (programs), relaxed GPL (libraries), and public domain<br>
+		(SANE standard)<br>
+End<br>
<p>
<p>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a> O- | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0394.html">Petter Reinholdtsen: "Patch: dll cleanup and bugfix"</a>
<li> <b>Previous message:</b> <a href="0392.html">Petter Reinholdtsen: "Patch: sane_init() may fail"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
