<!-- received="Fri Apr 30 10:40:23 1999 PDT" -->
<!-- sent="Fri, 30 Apr 1999 19:38:55 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: May I put your SANE in a Japanese Linux distribution" -->
<!-- id="" -->
<!-- inreplyto="19990426175002W.zeta@linux.or.jp" -->
<title>sane-devel: Re: May I put your SANE in a Japanese Linux distribution</title>
<h1>Re: May I put your SANE in a Japanese Linux distribution</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Fri, 30 Apr 1999 19:38:55 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#427">[ date ]</a><a href="index.html#427">[ thread ]</a><a href="subject.html#427">[ subject ]</a><a href="author.html#427">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0428.html">Roy-Anders Larsen: "Q: which parallel scanner supported"</a>
<li> <b>Previous message:</b> <a href="0426.html">Peter Kirchgessner: "Re: HP Scanjet XXX SCSI and Linux Crash"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 26 Apr 1999, Chihiro Higuchi wrote:<br>
<p>
<i>&gt; As SANE is very useful for me, I'd like to share your SANE with Japanese</i><br>
<i>&gt; Linux users. May I put your SANE  in a Japanese Linux distribution called</i><br>
<i>&gt; Plamo Linux? This distribution was derived from Slackware and adapted for</i><br>
<i>&gt; Japanese circumstances.</i><br>
<p>
According to the license attached to SANE you are free to distribute SANE<br>
in your distribution.<br>
<p>
Should you add (Japanese) language extensions to it then it is good to<br>
send these enhancements back to the main code.<br>
<p>
I don't think there is real internatiolization support in SANE at present.<br>
It might be a good think to add.<br>
<p>
Hugo.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0428.html">Roy-Anders Larsen: "Q: which parallel scanner supported"</a>
<li> <b>Previous message:</b> <a href="0426.html">Peter Kirchgessner: "Re: HP Scanjet XXX SCSI and Linux Crash"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
