<!-- received="Thu Dec  4 08:14:27 1997 PST" -->
<!-- sent="Thu, 4 Dec 1997 17:14:43 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax S-12 troubles (Linux)" -->
<!-- id="199712041614.RAA00259@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.LNX.3.95.971203224014.25360A-100000@oz.cookeville.com" -->
<title>sane-devel: Re: Umax S-12 troubles (Linux)</title>
<h1>Re: Umax S-12 troubles (Linux)</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Thu, 4 Dec 1997 17:14:43 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#21">[ date ]</a><a href="index.html#21">[ thread ]</a><a href="subject.html#21">[ subject ]</a><a href="author.html#21">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0022.html">Michael K. Johnson: "Re: new-sane-homepage-outfit"</a>
<li> <b>Previous message:</b> <a href="0020.html">Oliver.Rauch@Wolfsburg.DE: "Re: new-sane-homepage-outfit"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Ryan,<br>
<p>
<i>&gt; Pentium 90, 80mb ram</i><br>
<i>&gt; Redhat 4.2, Linux kernel 2.0.32</i><br>
<i>&gt; BusLogic BT-948 SCSI card</i><br>
<i>&gt; sane 0.68, gtk+-971109</i><br>
<p>
May be it has to do with the driver of the BusLogic card!<br>
It doesn't look like a probelm of the umax-driver. I am using<br>
the UMAX-S12 with a NCR810 and with a NCR860 SCSI-Card<br>
without any problems.<br>
<p>
Please take a closer look at the Buslogic-driver-options and<br>
check your SCSI-bus-termination!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0022.html">Michael K. Johnson: "Re: new-sane-homepage-outfit"</a>
<li> <b>Previous message:</b> <a href="0020.html">Oliver.Rauch@Wolfsburg.DE: "Re: new-sane-homepage-outfit"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
