<!-- received="Mon Dec  8 22:00:55 1997 PST" -->
<!-- sent="Mon, 8 Dec 1997 23:51:25 -0500" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: SANE bug with large scans: Microtek E6/Linux 2.0.30" -->
<!-- id="199712090451.XAA06417@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="SANE bug with large scans: Microtek E6/Linux 2.0.30" -->
<title>sane-devel: Re: SANE bug with large scans: Microtek E6/Linux 2.0.30</title>
<h1>Re: SANE bug with large scans: Microtek E6/Linux 2.0.30</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Mon, 8 Dec 1997 23:51:25 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#46">[ date ]</a><a href="index.html#46">[ thread ]</a><a href="subject.html#46">[ subject ]</a><a href="author.html#46">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Matto Marjanovic: "Re: Highscreen PerfectScan"</a>
<li> <b>Previous message:</b> <a href="0045.html">Oliver.Rauch@Wolfsburg.DE: "Re: Using preview mode to scan in color with UMAX Astra 600/610S."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
   2) scanning in larger size images (eg 1 meg) causes the "progress" bar not to<br>
   update beyond the first increment, and sometimes give scans with colored<br>
   horizontal lines among the proper scan data.<br>
<p>
   3) scanning in big images (eg 8 meg) causes xscanimage to either (a) freeze or<br>
   (b) dump core.<br>
<p>
<p>
These are in fact, bugs in the color scan code, plain and simple.  (Well,<br>
 not so simple, but pretty plain.)<br>
Fixed in that oft-mentioned, not-yet-seen next release....<br>
<p>
-matt m.<br>
<p>
PS:  The xscanimage "progress" bar never does anything useful for me. <br>
     I always figured it was because the cheap PIO SCSI card that came <br>
      with my E6 so hogs the system that the bar never gets a chance to<br>
      update.  Does anybody know if a nice, bus-mastering card would help?<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Matto Marjanovic: "Re: Highscreen PerfectScan"</a>
<li> <b>Previous message:</b> <a href="0045.html">Oliver.Rauch@Wolfsburg.DE: "Re: Using preview mode to scan in color with UMAX Astra 600/610S."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
