<!-- received="Thu Dec 11 19:02:45 1997 PST" -->
<!-- sent="Thu, 11 Dec 1997 22:03:20 -0500" -->
<!-- name="Mark Andrachek" -->
<!-- email="hallow@webmages.com" -->
<!-- subject="Re: Highscreen PerfectScan" -->
<!-- id="" -->
<!-- inreplyto="Highscreen PerfectScan" -->
<title>sane-devel: Re: Highscreen PerfectScan</title>
<h1>Re: Highscreen PerfectScan</h1>
<b>Mark Andrachek</b> (<a href="mailto:hallow@webmages.com"><i>hallow@webmages.com</i></a>)<br>
<i>Thu, 11 Dec 1997 22:03:20 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#70">[ date ]</a><a href="index.html#70">[ thread ]</a><a href="subject.html#70">[ subject ]</a><a href="author.html#70">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">Mark Andrachek: "Re: Highscreen PerfectScan"</a>
<li> <b>Previous message:</b> <a href="0069.html">borm: "Re: Highscreen PerfectScan"</a>
<li> <b>Maybe in reply to:</b> <a href="0062.html">Early, Warren: "Highscreen PerfectScan"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0071.html">Mark Andrachek: "Re: Highscreen PerfectScan"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; If you</i><br>
<i>&gt; have a spare slot in your machine, and the card that came with</i><br>
<i>&gt; your scanner is supported, I would recommend using it. Especially</i><br>
<i>&gt; if you ever run into problems that simple termination doesn't cure.</i><br>
<i>&gt; </i><br>
<i>&gt; hope this answers the questions you had (and some others as well),</i><br>
<i>&gt; </i><br>
<i>&gt; regards, Theo</i><br>
<i>&gt; </i><br>
<p>
I've got a Microtek E6.  I've had no luck getting anything running<br>
under sane.  After a compile and install, it can't find the libs,<br>
even though they're where ldd says they are.<br>
<p>
Any, the card the E6 comes with is an adaptec 1502 (or 1502E), it <br>
only supports one scsi device.  Although not officially supported,<br>
a small change will get it working as an aha152x.<br>
<p>
edit aha152x.c, add<br>
<p>
#define address REAL_ADDRESS (for me it's D400)<br>
#define IRQ REAL_IRQ (for me, again, 10) <br>
<p>
In the scsi Makefile, add -DSKIP_BIOSTEST to the AHA152X line.<br>
<p>
recompile, boom.<br>
<p>
I recommend using it as a module, so you can turn the scanner on,<br>
insmod it, use the scanner, rmmod it, turn the scanner off.<br>
I'd like to see MS do that! :)<br>
<p>
Hallow<br>
<a href="mailto:hallow@webmages.com">hallow@webmages.com</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">Mark Andrachek: "Re: Highscreen PerfectScan"</a>
<li> <b>Previous message:</b> <a href="0069.html">borm: "Re: Highscreen PerfectScan"</a>
<li> <b>Maybe in reply to:</b> <a href="0062.html">Early, Warren: "Highscreen PerfectScan"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0071.html">Mark Andrachek: "Re: Highscreen PerfectScan"</a>
<!-- reply="end" -->
</ul>
