<!-- received="Sun Dec 14 14:17:32 1997 PST" -->
<!-- sent="Sun, 14 Dec 1997 23:16:50 +0100 (MET)" -->
<!-- name="Martin Huber" -->
<!-- email="hu@garfield.m.isar.de" -->
<!-- subject="sane running on Solaris 2.5" -->
<!-- id="199712142216.XAA00604@garfield.m.isar.de" -->
<!-- inreplyto="" -->
<title>sane-devel: sane running on Solaris 2.5</title>
<h1>sane running on Solaris 2.5</h1>
<b>Martin Huber</b> (<a href="mailto:hu@garfield.m.isar.de"><i>hu@garfield.m.isar.de</i></a>)<br>
<i>Sun, 14 Dec 1997 23:16:50 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#81">[ date ]</a><a href="index.html#81">[ thread ]</a><a href="subject.html#81">[ subject ]</a><a href="author.html#81">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Fred Hucht: "SANE support for AIX added"</a>
<li> <b>Previous message:</b> <a href="0080.html">Mathias Weigt: "jscanimage won't compile"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi All,<br>
<p>
I just got sane running on Solaris 2.5. I tested scanimage and <br>
xscanimage (including gimp support) with an HP Scanjet II on<br>
Solaris 2.5 for X86.<br>
Since I modified sanei-scsi.c only, it should work with any other<br>
SCSI-scanner supported by sane as well.<br>
I used the scg driver SCHILYscg, which is free available up to<br>
Solaris 2.5.1-X86 and Solaris 2.6-sparc.<br>
<p>
Known bugs:<br>
The SCSI-ID of the scanner has to be specified in config.h.<br>
To determine the target automatically would require to include some<br>
code from find-scanner in sanei_scsi_open(), which I have not done<br>
up to now, because it is scanner dependent.<br>
<p>
If anybody likes to test my patch with other scanners, please let me<br>
know.<br>
<p>
Martin<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Fred Hucht: "SANE support for AIX added"</a>
<li> <b>Previous message:</b> <a href="0080.html">Mathias Weigt: "jscanimage won't compile"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
