<!-- received="Mon Dec 15 09:37:54 1997 PST" -->
<!-- sent="Mon, 15 Dec 1997 09:41:31 -0800" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="Re: jscanimage won't compile" -->
<!-- id="" -->
<!-- inreplyto="jscanimage won't compile" -->
<title>sane-devel: Re: jscanimage won't compile</title>
<h1>Re: jscanimage won't compile</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Mon, 15 Dec 1997 09:41:31 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#83">[ date ]</a><a href="index.html#83">[ thread ]</a><a href="subject.html#83">[ subject ]</a><a href="author.html#83">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">David Mosberger-Tang: "Re: SANE support for AIX added"</a>
<li> <b>Previous message:</b> <a href="0082.html">Fred Hucht: "SANE support for AIX added"</a>
<li> <b>Maybe in reply to:</b> <a href="0080.html">Mathias Weigt: "jscanimage won't compile"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0097.html">Jeff Freedman: "Re: jscanimage won't compile"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Mathias Weigt (Stud. 94) wrote:<br>
<i>&gt; </i><br>
<i>&gt; Servus !</i><br>
<i>&gt; </i><br>
<i>&gt; I tried to compile jscanimage but I failed.</i><br>
<i>&gt; I got some output like this:</i><br>
<i>&gt; </i><br>
<i>&gt; javac Jscanimage.java</i><br>
<i>&gt; Jscanimage.java:55: Class com.sun.java.swing.ImageIcon not found in import.</i><br>
<i>&gt; import com.sun.java.swing.ImageIcon;</i><br>
<p>
<p>
You need the "Swing" component library from Javasoft.  I believe you can<br>
get it at www.sun.com, but it takes some digging around.  Eventually,<br>
this is supposed to become part of the official release.<br>
<p>
BTW, I've done some more coding since the last release, and will try to<br>
send in the diffs this week.<br>
<p>
-- Jeff<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">David Mosberger-Tang: "Re: SANE support for AIX added"</a>
<li> <b>Previous message:</b> <a href="0082.html">Fred Hucht: "SANE support for AIX added"</a>
<li> <b>Maybe in reply to:</b> <a href="0080.html">Mathias Weigt: "jscanimage won't compile"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0097.html">Jeff Freedman: "Re: jscanimage won't compile"</a>
<!-- reply="end" -->
</ul>
