<!-- received="Thu Dec 18 07:08:42 1997 PST" -->
<!-- sent="Thu, 18 Dec 1997 16:08:23 +0100 (CET)" -->
<!-- name="A. Leidenfrost" -->
<!-- email="leidenfrost@dkrz.de" -->
<!-- subject="Probable Bugs &amp; Suggestions" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Probable Bugs &amp; Suggestions</title>
<h1>Probable Bugs &amp; Suggestions</h1>
<b>A. Leidenfrost</b> (<a href="mailto:leidenfrost@dkrz.de"><i>leidenfrost@dkrz.de</i></a>)<br>
<i>Thu, 18 Dec 1997 16:08:23 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#103">[ date ]</a><a href="index.html#103">[ thread ]</a><a href="subject.html#103">[ subject ]</a><a href="author.html#103">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">becka@rz.uni-duesseldorf.de: "Re: Parallelle port driver ?"</a>
<li> <b>Previous message:</b> <a href="0102.html">David Mosberger-Tang: "Re: Parallelle port driver ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0106.html">Hallow: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>Reply:</b> <a href="0106.html">Hallow: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>Reply:</b> <a href="0109.html">Matto Marjanovic: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>Reply:</b> <a href="0122.html">A. Leidenfrost: "Re: Probable Bugs &amp; Suggestions"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
<p>
Hi everybody,<br>
<p>
we recently bought a scanner in my group and are delighted to be able to use<br>
such neat stuff like SANE to access it under Linux. Thanks a lot!<br>
<p>
To make it even better here are some probable bugs:<br>
<p>
o the scan resolution is not saved correctly, i.e. when setting it to 200 dpi<br>
   it is set to 198 after a new start of xscanimage<br>
<p>
o setting the value for Exposure to -13 or less results in an error (besides 0<br>
   is 0 when coming from positive values and -0 when coming from negative ones)<br>
<p>
o trying to change any parameter during a preview or a scan results in both<br>
   xscanimage and the scanner to go nuts. There is a error popup and the<br>
   following error message is repeated eternally on the terminal where<br>
   xscanimage was started:<br>
<p>
   Error: Failed to set value of option brightness: Device busy.<br>
<p>
o when using xscanimage as a gimp plugin the transfer of the image from<br>
   xscanimage to gimp sometimes doesn't seem to work. In fact, nothing seems to<br>
   happen and monitoring the process list with top reveals that xscanimage is<br>
   growing and growing and xscanimage and gimp use nearly the whole CPU. (When<br>
   xscanimage reached 23 MB I killed it, and that was for a fairly small<br>
   image of about 5 MB.)<br>
<p>
and suggestions:<br>
<p>
o what about using separate tab folders in the scan dialog for each area<br>
   surrounded by a line. This would allow for a smaller scan window plus the<br>
   user could better focus on the kind of parameters he actually wants to<br>
   manipulate. For instance you probably often only need to change resolution<br>
   and mode, so all other parametes need not to be visible.<br>
<p>
o Automatic Color Calibration: Ok, although I know nearly nothing about<br>
   scanning and image processing, here is my thoughts about color calibration<br>
   for a certain printer. Suppose you have an image with three linear gradient<br>
   bars for the three primary colors red, green and blue from full color to<br>
   black. Print this image on the desired printer. Take the printout and scan<br>
   it in 'Calibration Mode'. Calibration Mode compares the reference with the<br>
   scanned gradient bar separately for each color and computes three gamma<br>
   corretion curves one for each primary color. The set of gamma curves can<br>
   then be saved under the name of the printer.<br>
   What do you think about this? Would it work? What about an<br>
   additional greyscale bar for brightness correction? Would it be hard to<br>
   implement?<br>
   I got this thought because the colors of our scans are pretty wrong and we<br>
   really have problems correction them by hand.<br>
<p>
Finally, the environment:<br>
<p>
o Pentium 133Mhz, 64 MB Ram running Debian-1.3.1r6<br>
o Microtek ScanMaker E6<br>
o GTK 0.99.0<br>
o SANE 0.68<br>
o Microtek-0.4<br>
o Gimp 0.99.16<br>
<p>
Thanks a lot for your time.<br>
<p>
Regards,<br>
<p>
        Andree<br>
<p>
- ---<br>
Andree Leidenfrost, GEOPHYSICIST<br>
<p>
Institute of Geophysics, Hamburg University<br>
Bundesstrasse 55, 20146 Hamburg, Germany<br>
phone +49 40 4123 2984, fax +49 40 4123 5441<br>
<a href="http://www.app-geoph.dkrz.de/andree">http://www.app-geoph.dkrz.de/andree</a><br>
<p>
finger <a href="mailto:u250011@gp12.dkrz.de">u250011@gp12.dkrz.de</a> for PGP public key<br>
PGP fingerprint = 5F FC 44 FF 84 71 C4 46  72 64 9A F0 EF 99 89 7C<br>
<p>
<p>
-----BEGIN PGP SIGNATURE-----<br>
Version: 2.6.3ia<br>
Charset: noconv<br>
<p>
iQB1AwUBNJk8ZkNbWTbvj71ZAQFBTwMAkDEW/wUv4bSCxlyaBN2t/8bipnTA9HTK<br>
HGkGEzJozomCXLH8sw3I7imdVnH/Lm/WtYdR1PM1Rs226EcLanEwL0SCyAVmmzYs<br>
J2RMo9j1kIcnXjNAxMs436yMB87Aahwi<br>
=03Av<br>
-----END PGP SIGNATURE-----<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">becka@rz.uni-duesseldorf.de: "Re: Parallelle port driver ?"</a>
<li> <b>Previous message:</b> <a href="0102.html">David Mosberger-Tang: "Re: Parallelle port driver ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0106.html">Hallow: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>Reply:</b> <a href="0106.html">Hallow: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>Reply:</b> <a href="0109.html">Matto Marjanovic: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>Reply:</b> <a href="0122.html">A. Leidenfrost: "Re: Probable Bugs &amp; Suggestions"</a>
<!-- reply="end" -->
</ul>
