<!-- received="Sat Dec 27 12:15:25 1997 PST" -->
<!-- sent="Sat, 27 Dec 1997 20:15:18 +0100 (MET)" -->
<!-- name="Tore Reimers" -->
<!-- email="torere@online.no" -->
<!-- subject="Re: Mustek-0.68: 600 II N patch" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.971223201510.551A-100000@inspc44b.ins.uni-stuttgart.de" -->
<title>sane-devel: Re: Mustek-0.68: 600 II N patch</title>
<h1>Re: Mustek-0.68: 600 II N patch</h1>
<b>Tore Reimers</b> (<a href="mailto:torere@online.no"><i>torere@online.no</i></a>)<br>
<i>Sat, 27 Dec 1997 20:15:18 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#132">[ date ]</a><a href="index.html#132">[ thread ]</a><a href="subject.html#132">[ subject ]</a><a href="author.html#132">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">Jeremy Rosenberger: "Re: xscanimage won't start"</a>
<li> <b>Previous message:</b> <a href="0131.html">Mathias Koerber: "Re: xscanimage won't start"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 23 Dec 1997, Andreas Czechanowski wrote:<br>
<i>&gt; ....snip.... , so that you get some debugging</i><br>
<i>&gt; information on stderr. I would like to know what firmware revisions</i><br>
<i>&gt; are out there (this is reported during inquiry by the scanner).</i><br>
<p>
Is this what you were looking for?... :<br>
...snip...<br>
[mustek] attach: firmware revision 1.01<br>
[mustek] attach: found Mustek scanner model MFC-06000CZ (flatbed scanner),<br>
1-pass<br>
...and.so.on...<br>
<p>
Works in line-art also now, like you said.  This is starting to look good!<br>
<p>
<pre>
--
Vyrdsam helsing, Tore                 <a href="http://home.sol.no/~torere/">http://home.sol.no/~torere/</a>
<p>
"The system required Windows 95 or better, so I installed Linux".
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">Jeremy Rosenberger: "Re: xscanimage won't start"</a>
<li> <b>Previous message:</b> <a href="0131.html">Mathias Koerber: "Re: xscanimage won't start"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
