<!-- received="Wed Dec 31 08:17:18 1997 PST" -->
<!-- sent="Wed, 31 Dec 1997 17:15:28 +0100 (NFT)" -->
<!-- name="Michele Bianchi" -->
<!-- email="mic@aesthetica.it" -->
<!-- subject="Re: microtek scanner" -->
<!-- id="Pine.A41.3.96.971231170641.31570A-100000@bandit.sci.univr.it" -->
<!-- inreplyto="199712311542.KAA11063@yoo-hoo.ai.mit.edu" -->
<title>sane-devel: Re: microtek scanner</title>
<h1>Re: microtek scanner</h1>
<b>Michele Bianchi</b> (<a href="mailto:mic@aesthetica.it"><i>mic@aesthetica.it</i></a>)<br>
<i>Wed, 31 Dec 1997 17:15:28 +0100 (NFT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#141">[ date ]</a><a href="index.html#141">[ thread ]</a><a href="subject.html#141">[ subject ]</a><a href="author.html#141">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Stephan Loescher: "Missing feature: "Auto"-button"</a>
<li> <b>Previous message:</b> <a href="0140.html">Matto Marjanovic: "Re: microtek scanner"</a>
<li> <b>In reply to:</b> <a href="0140.html">Matto Marjanovic: "Re: microtek scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 31 Dec 1997, Matto Marjanovic wrote:<br>
<p>
<i>&gt; </i><br>
<i>&gt; What you have (and what you did not mention explicitly in your e-mail) is</i><br>
<i>&gt;  a Scanmaker II --- a 3-pass color scanner.  3-pass color scanning is not</i><br>
<i>&gt;  yet supported by the backend.</i><br>
<p>
yes... scanmaker 2, 3 pass...  sorry, probably i didn't read all the docs<br>
<p>
<i>&gt; </i><br>
<i>&gt; I would appreciate it, though, if you could send me a full debug log of a</i><br>
<i>&gt;  color scan --- this will give me a lot of hints for when start working on</i><br>
<i>&gt;  this again after New Year's.  To do this,</i><br>
<i>&gt; </i><br>
<i>&gt; [in csh]	setenv SANE_DEBUG_MICROTEK 128</i><br>
<i>&gt;    OR</i><br>
<i>&gt; [in sh]		export SANE_DEBUG_MICROTEK=128</i><br>
<i>&gt; </i><br>
<i>&gt;   and then run xscanimage/scanimage again and send all the output.</i><br>
<i>&gt; </i><br>
<p>
sure!  now i can use the scanner under linux i can remove from my harddisk<br>
the VIRUS (windoze!)...  i'm very happy to help you...<br>
<p>
<i>&gt; </i><br>
<i>&gt; Thanks, and Happy New Year to all,</i><br>
<i>&gt;  matt m.</i><br>
<i>&gt; </i><br>
<p>
happy new year to all!!!<br>
<p>
ciao<br>
<p>
michele<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Stephan Loescher: "Missing feature: "Auto"-button"</a>
<li> <b>Previous message:</b> <a href="0140.html">Matto Marjanovic: "Re: microtek scanner"</a>
<li> <b>In reply to:</b> <a href="0140.html">Matto Marjanovic: "Re: microtek scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
