<!-- received="Mon Nov  1 09:19:43 1999 PST" -->
<!-- sent="Mon, 1 Nov 1999 19:14:32 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek Scanning" -->
<!-- id="" -->
<!-- inreplyto="381CD69E.3284AEA4@mint.net" -->
<title>sane-devel: Re: Microtek Scanning</title>
<h1>Re: Microtek Scanning</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Mon, 1 Nov 1999 19:14:32 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#2">[ date ]</a><a href="index.html#2">[ thread ]</a><a href="subject.html#2">[ subject ]</a><a href="author.html#2">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Bernd Schroeder: "Re: Microtek Phantom 636cx again"</a>
<li> <b>Previous message:</b> <a href="0001.html">Kevin Dalley: "Re: xsane-0.41"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Sun, Oct 31, 1999 at 06:54:06PM -0500, Jason Joy wrote:<br>
<i>&gt; Hello out there,</i><br>
<i>&gt; </i><br>
<i>&gt; I don't know if this is the proper forum to bring this up, but I thought</i><br>
<i>&gt; I would try at the very least.</i><br>
<p>
[...]<br>
<p>
<i>&gt; [root@dilophosaurus sane.d]# find-scanner</i><br>
<i>&gt; find-scanner: found scanner "  scanner 330CS 1.34" at device</i><br>
<i>&gt; /dev/scanner</i><br>
<i>&gt; find-scanner: found scanner "  scanner 330CS 1.34" at device /dev/sg0</i><br>
<i>&gt; find-scanner: found scanner "  scanner 330CS 1.34" at device /dev/sga</i><br>
<p>
The backend which comes with the distributions does not yet recognize<br>
this model. You can download a newer release from<br>
<p>
 <a href="ftp://ftp.muc.de/people/bernds/mtek2">ftp://ftp.muc.de/people/bernds/mtek2</a> .<br>
<p>
However, be cautious. Some people with a Phantom 336cx (which is obviously<br>
more or less the same like the Slimscan C3) have reported, that the<br>
scanner has an offset at the beginning of a scan and then scans beyond the<br>
bottom of the scan area, and the scanhead hits the bottom of the device.<br>
<p>
So, keep your hand near the poweroff button, when you try it.<br>
<p>
<i>&gt; Mmm.  Again, interesting.</i><br>
<i>&gt; </i><br>
<i>&gt; My question is:  Does this mean that SANE, which can at least touch the</i><br>
<i>&gt; scanner, is infact incompatible with it?  Is there any development along</i><br>
<i>&gt; these lines and if I am not doing something extremely dumb and</i><br>
<i>&gt; overlooking a obvious thing .... if it happens that this device is not</i><br>
<i>&gt; yet supported, is there anyway I can contribute information or data so</i><br>
<i>&gt; that one can be developed?</i><br>
<p>
I am working on it, but do not know yet, when it will be readyi, and<br>
will probably need some help, because I don't have such a model.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Bernd Schroeder: "Re: Microtek Phantom 636cx again"</a>
<li> <b>Previous message:</b> <a href="0001.html">Kevin Dalley: "Re: xsane-0.41"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
