<!-- received="Mon Nov  1 12:41:06 1999 PST" -->
<!-- sent="Mon, 1 Nov 1999 15:46:04 -0500 (EST)" -->
<!-- name="Chris Pinkham" -->
<!-- email="cpinkham@infi.net" -->
<!-- subject="Re: sane+rh6.1 crash help!!!" -->
<!-- id="199911012046.PAA10665@mulder.atlantic.infi.net" -->
<!-- inreplyto="381D58BB.5532AB21@tin.it" -->
<title>sane-devel: Re: sane+rh6.1 crash help!!!</title>
<h1>Re: sane+rh6.1 crash help!!!</h1>
<b>Chris Pinkham</b> (<a href="mailto:cpinkham@infi.net"><i>cpinkham@infi.net</i></a>)<br>
<i>Mon, 1 Nov 1999 15:46:04 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#6">[ date ]</a><a href="index.html#6">[ thread ]</a><a href="subject.html#6">[ subject ]</a><a href="author.html#6">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">Alain Vicet: "umax 1220S freeze"</a>
<li> <b>Previous message:</b> <a href="0005.html">Oliver Rauch: "Re: xsane-0.41"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
You really should go get the latest version of the artec backend and<br>
recompile.  That might have something to do with your problem.  The latest<br>
version of the Artec backend on my webpage has some features not in the<br>
version that was included with Sane 1.0.1, such as gamma correction for<br>
the AT3 &amp; A6000C PLUS, and an initial attempt at software shading calibration.<br>
<p>
<i>&gt; Dear sirs</i><br>
<i>&gt; i have the following problems with SANE and red hat 6.1</i><br>
<i>&gt; I installed the right rpm packages for my red hat 6.1:</i><br>
<i>&gt; sane-1.0.1-4.i386.rpm</i><br>
<i>&gt; sane-devel-1.0.1-4.i386.rpm</i><br>
<i>&gt; from the red hat ftp site, so it should work.</i><br>
<i>&gt; Instead, when i type "xscanimage" or "scanimage \d artec /dev/scanner...." i always receive the follow error message:</i><br>
<i>&gt; " Segmentation fault (core dumped).</i><br>
<i>&gt; If it's not enough, the gimp menu bar doesnt show the "acquire image" option, even if i created the symlink to the /usr/lib/gimp/1.0/plug-ins directory.</i><br>
<i>&gt; What's wrong? Can you help me? I would like to stress out the fact that i didn't have this problem with other distributions (suse, mandrake).</i><br>
<i>&gt; Thanx in advance</i><br>
<i>&gt; </i><br>
<i>&gt; Luca Del Signore</i><br>
<p>
Chris<br>
<p>
************************************************************************<br>
** Chris Pinkham                       AlphaLinux v2.2.5, Cajun 3.0-8 **<br>
** <a href="mailto:cpinkham@infi.net">cpinkham@infi.net</a>                  <a href="http://www4.infi.net/~cpinkham/">http://www4.infi.net/~cpinkham/</a> **<br>
************************************************************************<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">Alain Vicet: "umax 1220S freeze"</a>
<li> <b>Previous message:</b> <a href="0005.html">Oliver Rauch: "Re: xsane-0.41"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
