<!-- received="Thu Nov  4 10:42:07 1999 PST" -->
<!-- sent="Thu, 04 Nov 1999 10:48:42 -0800" -->
<!-- name="Vincent Parrilla" -->
<!-- email="parrilla@ix.netcom.com" -->
<!-- subject="Re: sane doesnt work under red hat 6.1 (again)!" -->
<!-- id="" -->
<!-- inreplyto="sane doesnt work under red hat 6.1 (again)!" -->
<title>sane-devel: Re: sane doesnt work under red hat 6.1 (again)!</title>
<h1>Re: sane doesnt work under red hat 6.1 (again)!</h1>
<b>Vincent Parrilla</b> (<a href="mailto:parrilla@ix.netcom.com"><i>parrilla@ix.netcom.com</i></a>)<br>
<i>Thu, 04 Nov 1999 10:48:42 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#26">[ date ]</a><a href="index.html#26">[ thread ]</a><a href="subject.html#26">[ subject ]</a><a href="author.html#26">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">Chris Pinkham: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<li> <b>Previous message:</b> <a href="0025.html">Chris Pinkham: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<li> <b>Maybe in reply to:</b> <a href="0020.html">Luca Del Signore: "sane doesnt work under red hat 6.1 (again)!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">Luca Del Signore: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--------------AA908C803AEBA6320693B300<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt;</i><br>
<i>&gt; try to find out where the segfault happens:</i><br>
<i>&gt; gdb xscanimage</i><br>
<i>&gt; r &lt;enter&gt;</i><br>
<i>&gt; after the segfault:</i><br>
<i>&gt; backtrace &lt;enter&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; And send the output (should be less than 100 lines) to the mailling list.</i><br>
<p>
Greetings,   since I have the same problem as Luca, I did the above.<br>
Here are the results (any clues?):<br>
<p>
<p>
<p>
<p>
mtt2:parrilla % xscanimage<br>
xscanimage<br>
Segmentation fault<br>
<p>
mtt2:parrilla % gdb xscanimage<br>
GNU gdb 4.17.0.11 with Linux support<br>
Copyright 1998 Free Software Foundation, Inc.<br>
GDB is free software, covered by the GNU General Public License, and you are<br>
welcome to change it and/or distribute copies of it under certain conditions.<br>
Type "show copying" to see the conditions.<br>
There is absolutely no warranty for GDB.  Type "show warranty" for details.<br>
This GDB was configured as "i386-redhat-linux"...<br>
(gdb) r<br>
Starting program: /usr/local/bin/xscanimage<br>
access control disabled, clients can connect from any host<br>
xhost:  must be on local machine to enable or disable access control.<br>
<p>
Program received signal SIGSEGV, Segmentation fault.<br>
0x402e27be in chunk_free (ar_ptr=0x40372580, p=0x80ae310) at malloc.c:3030<br>
malloc.c:3030: No such file or directory.<br>
(gdb) backtrace<br>
#0  0x402e27be in chunk_free (ar_ptr=0x40372580, p=0x80ae310) at malloc.c:3030<br>
#1  0x402e2505 in __libc_free (mem=0x80ae318) at malloc.c:2932<br>
#2  0x4040c146 in sanei_hp_free (ptr=0x80ae320) at hp-hpmem.c:133<br>
#3  0x40410ab3 in sanei_hp_scsi_destroy (this=0x80ae320) at hp-scl.c:365<br>
#4  0x4040b3aa in sanei_hp_device_new (newp=0xbfff96c0, devname=0xbfff9850 "/dev/sgd")<br>
    at hp-device.c:376<br>
#5  0x404076de in hp_get_dev (devname=0xbfff9850 "/dev/sgd", devp=0x0) at hp.c:444<br>
#6  0x40407732 in hp_attach (devname=0xbfff9850 "/dev/sgd") at hp.c:462<br>
#7  0x40409982 in sanei_scsi_find_devices (findvendor=0x80a2438 "HP", findmodel=0x0,<br>
    findtype=0x0, findbus=-1, findchannel=-1, findid=-1, findlun=-1,<br>
    attach=0x40407710 &lt;hp_attach&gt;) at sanei_scsi.c:1586<br>
#8  0x40408841 in sanei_config_attach_matching_devices (name=0xbfff9af0 "scsi HP",<br>
    attach=0x40407710 &lt;hp_attach&gt;) at sanei_config2.c:136<br>
#9  0x40407a95 in hp_read_config () at hp.c:558<br>
#10 0x40407bc9 in hp_update_devlist () at hp.c:599<br>
#11 0x40407d2b in sane_hp_get_devices (device_list=0xbfffeb4c, local_only=0) at hp.c:650<br>
#12 0x40015a9c in sane_dll_get_devices (device_list=0x805ed40, local_only=0)<br>
    at dll.c:507<br>
#13 0x4001610f in sane_get_devices (dl=0x805ed40, local=0) at dll-s.c:15<br>
#14 0x804e1da in init (argc=1, argv=0xbffffc44) at xscanimage.c:1653<br>
#15 0x804e1fc in interface (argc=1, argv=0xbffffc44) at xscanimage.c:1661<br>
#16 0x804e300 in main (argc=1, argv=0xbffffc44) at xscanimage.c:1729<br>
#17 0x402a1cb3 in __libc_start_main (main=0x804e2c4 &lt;main&gt;, argc=1, argv=0xbffffc44,<br>
    init=0x804b670 &lt;_init&gt;, fini=0x805480c &lt;_fini&gt;, rtld_fini=0x4000a350 &lt;_dl_fini&gt;,<br>
    stack_end=0xbffffc3c) at ../sysdeps/generic/libc-start.c:78<br>
(gdb) quit<br>
The program is running.  Exit anyway? (y or n) y<br>
mtt2:parrilla %<br>
<p>
<p>
<p>
<i>&gt; ===================+==================================</i><br>
<i>&gt;   Vincent Parrilla | (650)625-2174 Work</i><br>
<i>&gt;                    | (415)265-2123 Cell</i><br>
<i>&gt; ===================+==================================</i><br>
<i>&gt;</i><br>
<p>
--------------AA908C803AEBA6320693B300<br>
Content-Type: text/html; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
&lt;!doctype html public "-//w3c//dtd html 4.0 transitional//en"&gt;<br>
<html>

<blockquote TYPE=CITE>Hi,
<p>try to find out where the segfault happens:
<br>gdb xscanimage
<br>r &lt;enter>
<br>after the segfault:
<br>backtrace &lt;enter>
<p>And send the output (should be less than 100 lines) to the mailling
list.</blockquote>
Greetings,&nbsp;&nbsp; since I&nbsp;have the same problem as Luca, I did
the above.
<br>Here are the results (any clues?):
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<p>mtt2:parrilla % xscanimage
<br>xscanimage
<br>Segmentation fault
<p>mtt2:parrilla % gdb xscanimage
<br>GNU gdb 4.17.0.11 with Linux support
<br>Copyright 1998 Free Software Foundation, Inc.
<br>GDB is free software, covered by the GNU General Public License, and
you are
<br>welcome to change it and/or distribute copies of it under certain conditions.
<br>Type "show copying" to see the conditions.
<br>There is absolutely no warranty for GDB.&nbsp; Type "show warranty"
for details.
<br>This GDB was configured as "i386-redhat-linux"...
<br>(gdb) r
<br>Starting program: /usr/local/bin/xscanimage
<br>access control disabled, clients can connect from any host
<br>xhost:&nbsp; must be on local machine to enable or disable access control.
<p>Program received signal SIGSEGV, Segmentation fault.
<br>0x402e27be in chunk_free (ar_ptr=0x40372580, p=0x80ae310) at malloc.c:3030
<br>malloc.c:3030: No such file or directory.
<br>(gdb) backtrace
<br>#0&nbsp; 0x402e27be in chunk_free (ar_ptr=0x40372580, p=0x80ae310)
at malloc.c:3030
<br>#1&nbsp; 0x402e2505 in __libc_free (mem=0x80ae318) at malloc.c:2932
<br>#2&nbsp; 0x4040c146 in sanei_hp_free (ptr=0x80ae320) at hp-hpmem.c:133
<br>#3&nbsp; 0x40410ab3 in sanei_hp_scsi_destroy (this=0x80ae320) at hp-scl.c:365
<br>#4&nbsp; 0x4040b3aa in sanei_hp_device_new (newp=0xbfff96c0, devname=0xbfff9850
"/dev/sgd")
<br>&nbsp;&nbsp;&nbsp; at hp-device.c:376
<br>#5&nbsp; 0x404076de in hp_get_dev (devname=0xbfff9850 "/dev/sgd", devp=0x0)
at hp.c:444
<br>#6&nbsp; 0x40407732 in hp_attach (devname=0xbfff9850 "/dev/sgd") at
hp.c:462
<br>#7&nbsp; 0x40409982 in sanei_scsi_find_devices (findvendor=0x80a2438
"HP", findmodel=0x0,
<br>&nbsp;&nbsp;&nbsp; findtype=0x0, findbus=-1, findchannel=-1, findid=-1,
findlun=-1,
<br>&nbsp;&nbsp;&nbsp; attach=0x40407710 &lt;hp_attach>) at sanei_scsi.c:1586
<br>#8&nbsp; 0x40408841 in sanei_config_attach_matching_devices (name=0xbfff9af0
"scsi HP",
<br>&nbsp;&nbsp;&nbsp; attach=0x40407710 &lt;hp_attach>) at sanei_config2.c:136
<br>#9&nbsp; 0x40407a95 in hp_read_config () at hp.c:558
<br>#10 0x40407bc9 in hp_update_devlist () at hp.c:599
<br>#11 0x40407d2b in sane_hp_get_devices (device_list=0xbfffeb4c, local_only=0)
at hp.c:650
<br>#12 0x40015a9c in sane_dll_get_devices (device_list=0x805ed40, local_only=0)
<br>&nbsp;&nbsp;&nbsp; at dll.c:507
<br>#13 0x4001610f in sane_get_devices (dl=0x805ed40, local=0) at dll-s.c:15
<br>#14 0x804e1da in init (argc=1, argv=0xbffffc44) at xscanimage.c:1653
<br>#15 0x804e1fc in interface (argc=1, argv=0xbffffc44) at xscanimage.c:1661
<br>#16 0x804e300 in main (argc=1, argv=0xbffffc44) at xscanimage.c:1729
<br>#17 0x402a1cb3 in __libc_start_main (main=0x804e2c4 &lt;main>, argc=1,
argv=0xbffffc44,
<br>&nbsp;&nbsp;&nbsp; init=0x804b670 &lt;_init>, fini=0x805480c &lt;_fini>,
rtld_fini=0x4000a350 &lt;_dl_fini>,
<br>&nbsp;&nbsp;&nbsp; stack_end=0xbffffc3c) at ../sysdeps/generic/libc-start.c:78
<br>(gdb) quit
<br>The program is running.&nbsp; Exit anyway? (y or n) y
<br>mtt2:parrilla %
<br>&nbsp;
<br>&nbsp;
<blockquote TYPE=CITE>
<pre>
</pre>
</blockquote>

<blockquote TYPE=CITE>
<pre>===================+==================================
&nbsp; Vincent Parrilla | (650)625-2174 Work
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | (415)265-2123 Cell
===================+==================================</pre>
</blockquote>
</html>
<p>
--------------AA908C803AEBA6320693B300--<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">Chris Pinkham: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<li> <b>Previous message:</b> <a href="0025.html">Chris Pinkham: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<li> <b>Maybe in reply to:</b> <a href="0020.html">Luca Del Signore: "sane doesnt work under red hat 6.1 (again)!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">Luca Del Signore: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<!-- reply="end" -->
</ul>
