<!-- received="Fri Nov  5 21:23:35 1999 PST" -->
<!-- sent="Sat, 6 Nov 1999 13:30:43 +0800" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: Autoconf/configure" -->
<!-- id="199911060530.NAA17871@minerva.cc.uit.no" -->
<!-- inreplyto="Autoconf/configure" -->
<title>sane-devel: Re: Autoconf/configure</title>
<h1>Re: Autoconf/configure</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sat, 6 Nov 1999 13:30:43 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Bernd Schroeder: "Re: Getting a Phantom scanner to work (through Adaptec AVA-1502A)"</a>
<li> <b>Previous message:</b> <a href="0039.html">Jason Kendall: "Re: diff/patch (was: Re: HP OfficeJet Pro,R series support announcement)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Scott J. Kramer]<br>
<i>&gt; I think intended usage is "LDFLAGS=-llibrary ..." and "LIBS=-Ldir</i><br>
<i>&gt; ...", with inevitable exceptions (details upon request :-). Might</i><br>
<i>&gt; also add "-s" to LDFLAGS and "-Rdir" to LIBS, for example.</i><br>
<p>
I'm quite sure it is the other way around.<br>
<p>
LIBS should contain -l and full path to libraries only.  LDFLAGS<br>
should contain -L and (-rpath|+r|-R) (and maybe some other).<br>
<p>
On some platforms (At least HPUX), it is required that the -L options<br>
are before the -l options.  I believe the standard require LDFLAGS to<br>
be placed before LIBS when running ld, to make it run on any platform.<br>
<p>
BTW: What is linker flag -s?<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen  &lt;##  |  <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Bernd Schroeder: "Re: Getting a Phantom scanner to work (through Adaptec AVA-1502A)"</a>
<li> <b>Previous message:</b> <a href="0039.html">Jason Kendall: "Re: diff/patch (was: Re: HP OfficeJet Pro,R series support announcement)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
