<!-- received="Wed Nov 10 09:04:36 1999 PST" -->
<!-- sent="Wed, 10 Nov 1999 16:24:40 +0100" -->
<!-- name="Christoph" -->
<!-- email="ssonnic@iname.com" -->
<!-- subject="Re: Another Microtek Phantom 636 Problem" -->
<!-- id="l03130303b44f3bb92e7c@[192.168.2.2]" -->
<!-- inreplyto="382754CF.415EFB57@iname.com" -->
<title>sane-devel: Re: Another Microtek Phantom 636 Problem</title>
<h1>Re: Another Microtek Phantom 636 Problem</h1>
<b>Christoph</b> (<a href="mailto:ssonnic@iname.com"><i>ssonnic@iname.com</i></a>)<br>
<i>Wed, 10 Nov 1999 16:24:40 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#75">[ date ]</a><a href="index.html#75">[ thread ]</a><a href="subject.html#75">[ subject ]</a><a href="author.html#75">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Oliver Rauch: "Re: Xsane 0.43 on IRIX6.5 CORE-dumps"</a>
<li> <b>Previous message:</b> <a href="0074.html">Oliver Rauch: "Re: Xsane 0.43 on IRIX6.5 CORE-dumps"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Bernd Schroeder: "Re: Another Microtek Phantom 636 Problem"</a>
<li> <b>Reply:</b> <a href="0099.html">Bernd Schroeder: "Re: Another Microtek Phantom 636 Problem"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I still didn't fix the problem but here is some more debug information:<br>
<p>
My system is Redhat 6.0, kernel 2.2.12, sane1.0.1 with the latest patches,<br>
I use Adaptec AVA-1505AE SCSI adapter.<br>
<p>
[root@aeon /root]# scanimage -d microtek2:/dev/scanner<br>
[sanei_init_debug]: Setting debug level of microtek2 to 30.<br>
[microtek2] sane_init: Microtek2 (v0.8) says hello...<br>
[microtek2] parse_config_file: fp=0x804dc70<br>
[microtek2] attach_one: name='option dump 1<br>
'<br>
[microtek2] add_device_list: device='option dump 1'<br>
[microtek2] attach: device='option dump 1'<br>
[microtek2] scsi_inquiry: mi=0x804dd6c, device='option dump 1'<br>
[microtek2] scsi_inquiry: 'Invalid argument'<br>
[microtek2] attach: 'Invalid argument'<br>
[microtek2] attach_one: returning<br>
[microtek2] attach_one: name='/dev/scanner<br>
'<br>
[microtek2] add_device_list: device='/dev/scanner'<br>
[microtek2] attach: device='/dev/scanner'<br>
[microtek2] scsi_inquiry: mi=0x804e55c, device='/dev/scanner'<br>
[microtek2] check_inquiry: mi=0x804e55c<br>
[microtek2] scsi_read_attributes: mi=0x804e55c, device='/dev/scanner', source=0<br>
[microtek2] dump_attributes: mi=0x804e55c<br>
<p>
<p>
Scanner attributes from device structure<br>
========================================<br>
<p>
Scanner ID...<br>
~~~~~~~~~~~~~<br>
  Vendor Name:        '        '<br>
  Model Name:         'scanner V636A4  '<br>
  Revision:           '1.20'<br>
  Model Code:         0x97 (ScanMaker 636)<br>
  Device Type Code:   0x06 (Scanner),<br>
  Scanner type:       Flatbed scanner<br>
  Supported options:  Automatic document feeder: Yes<br>
                      Transparency media adapter: Yes<br>
                      Auto paper detecting: Yes<br>
                      Advanced picture system: No<br>
                      Stripes: No<br>
                      Slides: No<br>
  Scan button:        No<br>
<p>
Imaging Capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~<br>
  Color scanner:      Yes<br>
  Number passes:      1 pass<br>
  Resolution:         X-max:   600 dpi<br>
                      Y-max:  1200 dpi<br>
  Geometry:           Geometric width:  5100 pts (8.50'')<br>
                      Geometric height: 7020 pts (11.70'')<br>
  Optical resol.  :   600<br>
  Modes:              Lineart:      Yes<br>
                      Halftone:     No<br>
                      Gray:         Yes<br>
                      Color:        Yes<br>
  Depths:             Nibble Gray:  Yes<br>
                      10-bit-color: No<br>
                      12-bit-color: Yes<br>
  d/l of HT pattern:  No<br>
  Builtin HT patt.:   0<br>
  LUT capabilities:   4096 words<br>
<p>
Miscellaneous capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
  Data format:        Chunky data, R, G &amp; B in one pixel<br>
  Color Sequence:     R - G - B<br>
  Scanning direction: Left to right<br>
  CCD gap:            8 lines<br>
  CCD pixels:         5100<br>
  Calib wh str loc:   -288<br>
  Max calib space:    80<br>
  Number of lens:     1<br>
  Max no of windows:  64<br>
  Sh trnsf func equ:  1<br>
  Buffer type:        Ring<br>
  FEPROM:             No<br>
[microtek2] scsi_read_attributes: mi=0x804e64c, device='/dev/scanner', source=2<br>
[microtek2] scsi_read_attributes: mi=0x804e5d4, device='/dev/scanner', source=1<br>
[microtek2] scsi_read_system_status: md=0x804e558, fd=-1<br>
[microtek2] attach_one: returning<br>
[microtek2] sane_open: device='/dev/scanner'<br>
[microtek2] add_device_list: device='/dev/scanner'<br>
[microtek2] add_device_list: device '/dev/scanner' already in list<br>
[microtek2] attach: device='/dev/scanner'<br>
[microtek2] scsi_inquiry: mi=0x804e55c, device='/dev/scanner'<br>
[microtek2] check_inquiry: mi=0x804e55c<br>
[microtek2] scsi_read_attributes: mi=0x804e55c, device='/dev/scanner', source=0<br>
[microtek2] scsi_read_attributes: mi=0x804e64c, device='/dev/scanner', source=2<br>
[microtek2] scsi_read_attributes: mi=0x804e5d4, device='/dev/scanner', source=1<br>
[microtek2] scsi_read_system_status: md=0x804e558, fd=-1<br>
[microtek2] init_options: handle=0x8056f00, source=0<br>
[microtek2] get_lut_size: mi=0x804e55c<br>
[microtek2] get_lut_size:  mi=0x804e55c, lut_size=4096, lut_word=2<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=0<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=1<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=2<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=3<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=4<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=5<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=6<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=7<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=8<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=9<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=10<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=11<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=12<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=13<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=14<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=15<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=16<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=17<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=18<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=19<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=20<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=21<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=22<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=23<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=24<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=25<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=26<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=27<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=28<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=29<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=30<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=31<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=32<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=33<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=34<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=35<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=36<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=37<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=38<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=39<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=40<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=41<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=42<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=43<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=44<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=45<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=46<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=47<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=48<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=49<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=50<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=51<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=52<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=53<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=54<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=12<br>
[microtek2] sane_get_option_descriptor: handle=0x8056f00, opt=13<br>
[microtek2] sane_start: handle=0x0x8056f00<br>
[microtek2] get_scan_parameters: handle=0x8056f00<br>
[microtek2] get_scan_mode_and_depth: handle=0x8056f00<br>
[microtek2] get_scan_mode_and_depth: mode=5, depth=8, bits_pp_in=8,<br>
bits_pp_out=8, previe   w=0<br>
[microtek2] get_scan_parameters: mode=5, depth=8, bpp_in=8, bpp_out=8<br>
[microtek2] get_scan_parameters: yres=72, x1=0, width=5100, y1=0, height=7020<br>
[microtek2] scsi_read_system_status: md=0x804e558, fd=4<br>
[microtek2] scsi_read_system_status: md=0x804e558, fd=4<br>
[microtek2] scsi_send_system_status: md=0x804e558, fd=4<br>
[microtek2] get_lut_size: mi=0x804e55c<br>
[microtek2] get_lut_size:  mi=0x804e55c, lut_size=4096, lut_word=2<br>
[microtek2] calculate_gamma: ms=0x8056f00, pos=0x8067de8, color=0, mode=None<br>
[microtek2] calculate_gamma: factor=1, mult =4095.000000,<br>
steps=4095.000000, mode=None<br>
[microtek2] calculate_gamma: ms=0x8056f00, pos=0x8069de8, color=1, mode=None<br>
[microtek2] calculate_gamma: factor=1, mult =4095.000000,<br>
steps=4095.000000, mode=None<br>
[microtek2] calculate_gamma: ms=0x8056f00, pos=0x806bde8, color=2, mode=None<br>
[microtek2] calculate_gamma: factor=1, mult =4095.000000,<br>
steps=4095.000000, mode=None<br>
[microtek2] set_exposure: ms=0x8056f00<br>
[microtek2] scsi_send_gamma: pos=0x8067de8, size=8192, word=1, color=3<br>
[microtek2] scsi_set_window: ms=0x8056f00, wnd=1<br>
[microtek2] scsi_read_image_info: ms=0x8056f00<br>
[microtek2] scsi_read_image_info: ppl=612, bpl=1842, lines=842, remain=1550964<br>
[microtek2] scsi_wait_for_image: ms=0x8056f00<br>
[microtek2] scsi_read_image_status: ms=0x8056f00<br>
<p>
And now the system is locked!<br>
I have no Idea where I should start searching for the error. I looked into<br>
the microtek2.c source code and, well, I didn't understand it quite. I<br>
don't understand the debug messages ether :-(<br>
<p>
Please help!!!<br>
<p>
Christoph<br>
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
--
<p>
       ICQ: 9273256
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Oliver Rauch: "Re: Xsane 0.43 on IRIX6.5 CORE-dumps"</a>
<li> <b>Previous message:</b> <a href="0074.html">Oliver Rauch: "Re: Xsane 0.43 on IRIX6.5 CORE-dumps"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Bernd Schroeder: "Re: Another Microtek Phantom 636 Problem"</a>
<li> <b>Reply:</b> <a href="0099.html">Bernd Schroeder: "Re: Another Microtek Phantom 636 Problem"</a>
<!-- reply="end" -->
</ul>
