<!-- received="Wed Nov 10 18:00:05 1999 PST" -->
<!-- sent="Thu, 11 Nov 1999 10:01:33 +0800" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: The Avision Backend" -->
<!-- id="199911110201.KAA25757@minerva.cc.uit.no" -->
<!-- inreplyto="The Avision Backend" -->
<title>sane-devel: Re: The Avision Backend</title>
<h1>Re: The Avision Backend</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Thu, 11 Nov 1999 10:01:33 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#82">[ date ]</a><a href="index.html#82">[ thread ]</a><a href="subject.html#82">[ subject ]</a><a href="author.html#82">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Douglas Gilbert: "Re: Another Microtek Phantom 636 Problem"</a>
<li> <b>Previous message:</b> <a href="0081.html">Petter Reinholdtsen: "Re: SANE 1.0.1 under DEC UNIX 4.0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Sorry for not dicovering your posting earlier.  I've been busy. :-)<br>
<p>
[Rene Rebe]<br>
<i>&gt; The backend is for tha Avision AV630CS. As I wrote to this list it</i><br>
<i>&gt; can be found @:</i><br>
<i>&gt; </i><br>
<i>&gt; <a href="http://home.t-online.de/home/rene.rebe/avision/index.html">http://home.t-online.de/home/rene.rebe/avision/index.html</a></i><br>
<p>
If you want to improve your backends chances of being in the next SANE<br>
release, you could get write access to the CVS repository,<br>
&lt;URL:<a href="http://www.student.uit.no/~pere/linux/sane/cvs-server.html">http://www.student.uit.no/~pere/linux/sane/cvs-server.html</a>&gt;, and<br>
place it there along with the others.<br>
<p>
To get write access, get approval from David Mosberger<br>
&lt;<a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a>&gt;, and email me with your username and<br>
password hash.  If he wants to limit the number of people with write<br>
access, I can update the repository with your changes - when I get<br>
time. :-)<br>
<p>
Happy hacking,<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen  &lt;##  |  <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Douglas Gilbert: "Re: Another Microtek Phantom 636 Problem"</a>
<li> <b>Previous message:</b> <a href="0081.html">Petter Reinholdtsen: "Re: SANE 1.0.1 under DEC UNIX 4.0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
