<!-- received="Tue Nov 16 12:00:39 1999 PST" -->
<!-- sent="Tue, 16 Nov 1999 15:05:43 -0500 (EST)" -->
<!-- name="Lee Brown" -->
<!-- email="lee@phys.ufl.edu" -->
<!-- subject="Re: Error compiling xsane 0.44" -->
<!-- id="" -->
<!-- inreplyto="38309CF6.230DF377@wolfsburg.de" -->
<title>sane-devel: Re: Error compiling xsane 0.44</title>
<h1>Re: Error compiling xsane 0.44</h1>
<b>Lee Brown</b> (<a href="mailto:lee@phys.ufl.edu"><i>lee@phys.ufl.edu</i></a>)<br>
<i>Tue, 16 Nov 1999 15:05:43 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#153">[ date ]</a><a href="index.html#153">[ thread ]</a><a href="subject.html#153">[ subject ]</a><a href="author.html#153">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Oliver Rauch: "Re: Vista S6E problems"</a>
<li> <b>Previous message:</b> <a href="0152.html">Petter Reinholdtsen: "Re: sane and video4linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 16 Nov 1999, Oliver Rauch wrote:<br>
<p>
<i>&gt; Richard Kuhlbars wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Hi all!</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I'm getting the following error when I am compiling xsane on my SUSE 6.0</i><br>
<i>&gt; &gt; Linux machine:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; gcc  -o xsane xsane-back-gtk.o xsane-front-gtk.o xsane-gamma.o</i><br>
<i>&gt; &gt; xsane-preview.o xsane-preferences.o xsane-setup.o xsane-save.o xsane-scan.o</i><br>
<i>&gt; &gt; xsane-icons.o xsane.o ../sanei/libsanei.a \</i><br>
<i>&gt; &gt;         ../lib/liblib.a -lgimp  ../intl/libintl.a -lpng -lsane  -ldl -ltiff</i><br>
<i>&gt; &gt; -ljpeg -lm</i><br>
<i>&gt; &gt; /usr/i486-linux/bin/ld: cannot open -lpng: No such file or directory</i><br>
<i>&gt; &gt; collect2: ld returned 1 exit status</i><br>
<i>&gt; &gt; make[1]: *** [xsane] Error 1</i><br>
<i>&gt; &gt; make[1]: Leaving directory `/opt/xsane-0.44/frontend'</i><br>
<i>&gt; &gt; make: *** [all-recursive] Error 1</i><br>
<i>&gt; </i><br>
<i>&gt; Hi Richard,</i><br>
<i>&gt; </i><br>
<i>&gt; try with</i><br>
<i>&gt; ./configure --disable-png</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Kinda stumped me.  Everything is fine and uptodate (glib, gtk+, sane).</i><br>
<i>&gt; &gt; scanimage works as well.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; BTW, i couldn't find xscanimage on the sane 1.01 dist.  Is xsane the</i><br>
<i>&gt; &gt; official replacement?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; xscanimage is included in sane-1.01.</i><br>
<i>&gt; </i><br>
<i>&gt; There will be no "offical" sane frontend in the future and</i><br>
<i>&gt; no graphical frontend will be included into sane any more.</i><br>
<i>&gt; Then we will have a sane backend package and different</i><br>
<i>&gt; frontend packages.</i><br>
<i>&gt; </i><br>
<i>&gt; I think that xsane gets the standard frontend  for scanners in that case.</i><br>
<i>&gt; </i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<p>
I think the above is a great idea.  Let gui developers do gui stuff and<br>
SANE developers develope SANE stuff.<br>
<p>
<p>
<p>
<p>
<p>
<p>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<i>&gt; sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a></i><br>
<i>&gt; xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a></i><br>
<i>&gt; E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
Lee Brown<br>
(352)392-2921<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Oliver Rauch: "Re: Vista S6E problems"</a>
<li> <b>Previous message:</b> <a href="0152.html">Petter Reinholdtsen: "Re: sane and video4linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
