<!-- received="Tue Nov 16 14:16:38 1999 PST" -->
<!-- sent="Tue, 16 Nov 1999 23:20:29 +0100" -->
<!-- name="Daniel Deckers" -->
<!-- email="fh5y076@public.uni-hamburg.de" -->
<!-- subject="Anyone working on driver for HP S20 film scanner?" -->
<!-- id="199911162221.XAA47086@public.uni-hamburg.de" -->
<!-- inreplyto="" -->
<title>sane-devel: Anyone working on driver for HP S20 film scanner?</title>
<h1>Anyone working on driver for HP S20 film scanner?</h1>
<b>Daniel Deckers</b> (<a href="mailto:fh5y076@public.uni-hamburg.de"><i>fh5y076@public.uni-hamburg.de</i></a>)<br>
<i>Tue, 16 Nov 1999 23:20:29 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#156">[ date ]</a><a href="index.html#156">[ thread ]</a><a href="subject.html#156">[ subject ]</a><a href="author.html#156">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Daniel Deckers: "Epson Perfection 1200 anyone?"</a>
<li> <b>Previous message:</b> <a href="0155.html">Andreas Kraska: "Re: Takes really long - Mustek slow ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Is anyone working on a driver for the HP S20 film scanner? Appearantly this<br>
scanner does not use HP's scanner control language SCL (thanks for the info<br>
D. Nelson). Has anyone yet tried to get details on the control protocol for<br>
this scanner from HP?<br>
<p>
Thanks,<br>
Dan<br>
<p>
<pre>
-- 
<a href="mailto:Daniel_Deckers@public.uni-hamburg.de">Daniel_Deckers@public.uni-hamburg.de</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Daniel Deckers: "Epson Perfection 1200 anyone?"</a>
<li> <b>Previous message:</b> <a href="0155.html">Andreas Kraska: "Re: Takes really long - Mustek slow ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
