<!-- received="Thu Nov 18 08:58:04 1999 PST" -->
<!-- sent="Thu, 18 Nov 1999 09:04:24 -0800 (PST)" -->
<!-- name="Rob Komar" -->
<!-- email="robk@physics.ubc.ca" -->
<!-- subject="Re: HP 6350C support?" -->
<!-- id="" -->
<!-- inreplyto="Pine.GSO.4.02A.9910091301130.17439-100000@physics.ubc.ca" -->
<title>sane-devel: Re: HP 6350C support?</title>
<h1>Re: HP 6350C support?</h1>
<b>Rob Komar</b> (<a href="mailto:robk@physics.ubc.ca"><i>robk@physics.ubc.ca</i></a>)<br>
<i>Thu, 18 Nov 1999 09:04:24 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#167">[ date ]</a><a href="index.html#167">[ thread ]</a><a href="subject.html#167">[ subject ]</a><a href="author.html#167">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Bob van der Poel: "Re: GIMP/SANE PERMISSIONS"</a>
<li> <b>Previous message:</b> <a href="0166.html">Wolfgang Goeller: "Re: xsane-0.44 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all,<br>
I'm not sure what's going on, but I originally sent this message over a<br>
month ago (and got some fast help to fix my problem).  I didn't send it<br>
again, though.  Anybody have any idea why the message would appear on<br>
this mailing list again?  Anyway, I don't have the problem anymore, so<br>
you can ignore the contents of the message.<br>
<p>
Cheers,<br>
Rob Komar<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Bob van der Poel: "Re: GIMP/SANE PERMISSIONS"</a>
<li> <b>Previous message:</b> <a href="0166.html">Wolfgang Goeller: "Re: xsane-0.44 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
