<!-- received="Thu Nov 18 16:00:15 1999 PST" -->
<!-- sent="Thu, 18 Nov 1999 16:58:42 -0700 (MST)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s" -->
<!-- id="19991118235852Z433650-22840+65@scapa.cs.ualberta.ca" -->
<!-- inreplyto="Pine.BSF.3.96.991118134717.68833B-100000@condor.resnet.mtu.edu" -->
<title>sane-devel: Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s</title>
<h1>Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Thu, 18 Nov 1999 16:58:42 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#175">[ date ]</a><a href="index.html#175">[ thread ]</a><a href="subject.html#175">[ subject ]</a><a href="author.html#175">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0176.html">David Brodbeck: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<li> <b>Previous message:</b> <a href="0174.html">Kevin Charter: "Re: Opinion about SCSI scanner with FreeBSD"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0176.html">David Brodbeck: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<li> <b>Reply:</b> <a href="0176.html">David Brodbeck: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; On Mon, 4 Oct 1999, Kevin Charter wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; You can find a patched version at</i><br>
<i>&gt; &gt; <a href="http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html">http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html</a></i><br>
<i>&gt; </i><br>
<i>&gt; --&gt; If you're talking about the September 9 version, I already tried it. </i><br>
<i>&gt; It makes no difference.  I'm beginning to wonder if this is a kernel</i><br>
<i>&gt; driver bug in the fdomain driver...I've noticed Linux kernel developers</i><br>
<i>&gt; tend to break old adapters' code when putting in new ones, then neglect to</i><br>
<i>&gt; fix it because "noone would use anything that old..."</i><br>
<i>&gt; </i><br>
<i>&gt; Did the faq on making the AHA-1505 that comes with the scanner work with</i><br>
<i>&gt; Linux ever get put together?  That's the only other SCSI card I've got.</i><br>
<p>
<p>
My understanding is that the 1505 is supposed to work with the<br>
Adaptec 152x driver. Have you tried using it?<br>
<p>
<p>
Kevin<br>
<pre>
-- 
Kevin Charter              
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0176.html">David Brodbeck: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<li> <b>Previous message:</b> <a href="0174.html">Kevin Charter: "Re: Opinion about SCSI scanner with FreeBSD"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0176.html">David Brodbeck: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<li> <b>Reply:</b> <a href="0176.html">David Brodbeck: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<!-- reply="end" -->
</ul>
