<!-- received="Sun Nov 21 15:04:33 1999 PST" -->
<!-- sent="Sun, 21 Nov 1999 23:47:10 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Compile on Suse 5.3" -->
<!-- id="" -->
<!-- inreplyto="Compile on Suse 5.3" -->
<title>sane-devel: Re: Compile on Suse 5.3</title>
<h1>Re: Compile on Suse 5.3</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 21 Nov 1999 23:47:10 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#204">[ date ]</a><a href="index.html#204">[ thread ]</a><a href="subject.html#204">[ subject ]</a><a href="author.html#204">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0205.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Previous message:</b> <a href="0203.html">Oliver Rauch: "Re: Please test sane cvs - soname of backend libs"</a>
<li> <b>Maybe in reply to:</b> <a href="0195.html">Dr Ruben Safir: "Compile on Suse 5.3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dr Ruben Safir wrote:<br>
<p>
<i>&gt; The sane version is 1.00</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; jinclude.h:20: jconfig.h: No such file or directory</i><br>
<i>&gt; In file included from djpeg.c:6:</i><br>
<i>&gt; cdjpeg.h:15: jpeglib.h: No such file or directory</i><br>
<i>&gt; cdjpeg.h:16: jerror.h: No such file or directory</i><br>
<p>
Hi,<br>
<p>
I think this problem does not occur in sane-1.0.1<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0205.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Previous message:</b> <a href="0203.html">Oliver Rauch: "Re: Please test sane cvs - soname of backend libs"</a>
<li> <b>Maybe in reply to:</b> <a href="0195.html">Dr Ruben Safir: "Compile on Suse 5.3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
