<!-- received="Sun Nov 21 16:16:56 1999 PST" -->
<!-- sent="Sun, 21 Nov 1999 18:10:51 -0600" -->
<!-- name="Laura DeWitt" -->
<!-- email="cats-rule@home.net" -->
<!-- subject="Re: Problem with SANE and SCSI scanner" -->
<!-- id="" -->
<!-- inreplyto="Problem with SANE and SCSI scanner" -->
<title>sane-devel: Re: Problem with SANE and SCSI scanner</title>
<h1>Re: Problem with SANE and SCSI scanner</h1>
<b>Laura DeWitt</b> (<a href="mailto:cats-rule@home.net"><i>cats-rule@home.net</i></a>)<br>
<i>Sun, 21 Nov 1999 18:10:51 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#206">[ date ]</a><a href="index.html#206">[ thread ]</a><a href="subject.html#206">[ subject ]</a><a href="author.html#206">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">Larry Snyder: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Previous message:</b> <a href="0205.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0197.html">Laura DeWitt: "Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0238.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;</i><br>
<i>&gt; &gt; &gt; [ldewitt]# scanimage --device sga -- help</i><br>
<i>&gt; &gt;                                                ^^^</i><br>
<i>&gt; &gt; Try using /dev/sga here.</i><br>
<i>&gt;</i><br>
<i>&gt;     canon:/dev/sga</i><br>
<i>&gt; would be better!</i><br>
<i>&gt;</i><br>
<p>
SANE still cannot find my scanner. The find-scanner command can. Is there<br>
some kind of configuration file that I need to modify?<br>
<p>
<p>
[ldewitt]#  scanimage --device canon:/dev/sga --help<br>
Usage: scanimage [OPTION]...<br>
<p>
Start image acquisition on a scanner device and write PNM image data to<br>
standard output.<br>
<p>
-d, --device-name=DEVICE   use a given scanner device<br>
-h, --help                 display this help message and exit<br>
-L, --list-devices         show available scanner devices<br>
-T, --test                 test backend thoroughly<br>
-v, --verbose              give even more status messages<br>
-V, --version              print version information<br>
scanimage: open of device canon:/dev/sga failed: Invalid argument<br>
Type ``scanimage --help -d DEVICE'' to get list of all options for DEVICE.<br>
<p>
List of available devices:<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">Larry Snyder: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Previous message:</b> <a href="0205.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0197.html">Laura DeWitt: "Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0238.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<!-- reply="end" -->
</ul>
