<!-- received="Mon Nov 22 08:48:41 1999 PST" -->
<!-- sent="Mon, 22 Nov 1999 17:50:46 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: GIMP/SANE PERMISSIONS" -->
<!-- id="" -->
<!-- inreplyto="GIMP/SANE PERMISSIONS" -->
<title>sane-devel: Re: GIMP/SANE PERMISSIONS</title>
<h1>Re: GIMP/SANE PERMISSIONS</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 22 Nov 1999 17:50:46 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#216">[ date ]</a><a href="index.html#216">[ thread ]</a><a href="subject.html#216">[ subject ]</a><a href="author.html#216">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Oliver Rauch: "Re: GIMP/SANE PERMISSIONS"</a>
<li> <b>Previous message:</b> <a href="0215.html">Randolph Bentson: "Re:- Re: Backend development problems."</a>
<li> <b>Maybe in reply to:</b> <a href="0131.html">David McCormick: "GIMP/SANE PERMISSIONS"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0217.html">Oliver Rauch: "Re: GIMP/SANE PERMISSIONS"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Douglas Gilbert wrote:<br>
<p>
<i>&gt; . In the</i><br>
<i>&gt; case of a scanner it lets all SCSI commands through. Is this</i><br>
<i>&gt; a good idea or should some SCSI commands to a scanner be</i><br>
<i>&gt; restricted if a user does not have write permissions?</i><br>
<i>&gt;</i><br>
<p>
Hi Dough,<br>
<p>
you can damage the scanner if you send bad command sequences.<br>
I would prefer if a user has no possibility to send any commands<br>
to the scanner at all.<br>
<p>
In fact I think the generic scsi devices are dangerous if user has<br>
write permission.<br>
<p>
What about this:<br>
create a group for each scsi devie type:<br>
sg_1, sg_2, ... sg_6 (scanner) ...<br>
and a program that wants to talk to a device that has the type 6<br>
must be of the group sg_6.<br>
Only the superuser and a member of this group can change the<br>
group of a program.<br>
But I don`t know if it is possible to find out the group of a program<br>
and if it is possible for a user to fake the group.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Oliver Rauch: "Re: GIMP/SANE PERMISSIONS"</a>
<li> <b>Previous message:</b> <a href="0215.html">Randolph Bentson: "Re:- Re: Backend development problems."</a>
<li> <b>Maybe in reply to:</b> <a href="0131.html">David McCormick: "GIMP/SANE PERMISSIONS"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0217.html">Oliver Rauch: "Re: GIMP/SANE PERMISSIONS"</a>
<!-- reply="end" -->
</ul>
