<!-- received="Thu Nov 25 14:33:00 1999 PST" -->
<!-- sent="Thu, 25 Nov 1999 15:36:00 -0700 (MST)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: Agfa Snapscan 600 - problems" -->
<!-- id="19991125223613Z433223-16915+212@scapa.cs.ualberta.ca" -->
<!-- inreplyto="Pine.LNX.4.10.9911252153510.309-100000@eins.kaiser.de" -->
<title>sane-devel: Re: Agfa Snapscan 600 - problems</title>
<h1>Re: Agfa Snapscan 600 - problems</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Thu, 25 Nov 1999 15:36:00 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#251">[ date ]</a><a href="index.html#251">[ thread ]</a><a href="subject.html#251">[ subject ]</a><a href="author.html#251">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0252.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<li> <b>Previous message:</b> <a href="0250.html">marcel pol: "Microtek Pagewizard support?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0252.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<li> <b>Reply:</b> <a href="0252.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Erwin,<br>
<p>
<i>&gt; Hi Kevin,</i><br>
<i>&gt; thank you very much for your answer. </i><br>
<i>&gt; I promise to read all available man pages - but at the moment I very very</i><br>
<i>&gt; simply want to create a tif file image of a sheet of paper and send it by</i><br>
<i>&gt; fax to someone else. </i><br>
<i>&gt; So, does your statement mean that this works with sane 1.01 and scanimage</i><br>
<i>&gt; or it doesn't? </i><br>
<p>
The backend that comes with SANE 1.0.1 won't work if you are using<br>
a 2.2 series linux kernel. But if you get the source and replace<br>
the snapscan sources with the version 0.7 backend available at<br>
<p>
<a href="http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html">http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html</a><br>
<p>
Then that should work. If you've already installed binary RPMs for<br>
SANE 1.0.1, you'll need to deinstall them and get the sane source<br>
from <a href="http://www.mostang.com/sane">http://www.mostang.com/sane</a>.<br>
<p>
But if you really need to get this fax sent now, I'd boot windowsif<br>
you have it and use the AGFA scanning software.<br>
<p>
<p>
Let me know if you have further problems,<br>
<p>
Kevin<br>
<pre>
-- 
Kevin Charter              
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0252.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<li> <b>Previous message:</b> <a href="0250.html">marcel pol: "Microtek Pagewizard support?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0252.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<li> <b>Reply:</b> <a href="0252.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<!-- reply="end" -->
</ul>
