<!-- received="Mon Nov 29 05:55:28 1999 PST" -->
<!-- sent="Mon, 29 Nov 1999 09:01:50 -0500" -->
<!-- name="Douglas Gilbert" -->
<!-- email="dgilbert@interlog.com" -->
<!-- subject="Re: Problem with SANE and SCSI scanner" -->
<!-- id="" -->
<!-- inreplyto="Problem with SANE and SCSI scanner" -->
<title>sane-devel: Re: Problem with SANE and SCSI scanner</title>
<h1>Re: Problem with SANE and SCSI scanner</h1>
<b>Douglas Gilbert</b> (<a href="mailto:dgilbert@interlog.com"><i>dgilbert@interlog.com</i></a>)<br>
<i>Mon, 29 Nov 1999 09:01:50 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#288">[ date ]</a><a href="index.html#288">[ thread ]</a><a href="subject.html#288">[ subject ]</a><a href="author.html#288">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0289.html">Petter Reinholdtsen: "Re: [ANN] WinSane 0.2.0.0..."</a>
<li> <b>Previous message:</b> <a href="0287.html">Manuel Panea: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0197.html">Laura DeWitt: "Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0294.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Manuel Panea wrote:<br>
<i>&gt; </i><br>
<i>&gt; -----BEGIN PGP SIGNED MESSAGE-----</i><br>
<i>&gt; </i><br>
<i>&gt; Hi, Laura and everyone who has followed this thread.</i><br>
<i>&gt; </i><br>
<i>&gt; I have put together all things which Laura has tried. I find the results</i><br>
<i>&gt; puzzling:</i><br>
<i>&gt; </i><br>
<i>&gt; 1) Is Linux seeing the scanner? Yes:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; sh-2.03$ cat /proc/scsi/scsi</i><br>
<i>&gt; &gt; Attached devices:</i><br>
<i>&gt; &gt; Host: scsi0 Channel: 00 Id: 02 Lun: 00</i><br>
<i>&gt; &gt;   Vendor: CANON    Model: IX-06015C        Rev: 2.02</i><br>
<i>&gt; &gt;   Type:   Scanner                          ANSI SCSI revision: 02</i><br>
<i>&gt; </i><br>
<i>&gt; 2) Does "find-scanner" find the scanner? Yes:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; [root@c554912-a ldewitt]# find-scanner</i><br>
<i>&gt; &gt; find-scanner: found scanner "CANON IX-06015C 2.02" at device /dev/sg0</i><br>
<i>&gt; &gt; find-scanner: found scanner "CANON IX-06015C 2.02" at device /dev/sga</i><br>
<i>&gt; </i><br>
<i>&gt; 3) Does "scanimage" find the scanner? No!:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; [root@c554912-a ldewitt]# scanimage --list-devices</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; sh-2.03$ scanimage -d /dev/sga</i><br>
<i>&gt; &gt; scanimage: open of device /dev/sga failed: Invalid argument</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; sh-2.03$ scanimage -d /dev/sg0</i><br>
<i>&gt; &gt; scanimage: open of device /dev/sg0 failed: Invalid argument</i><br>
<i>&gt; </i><br>
<i>&gt; 4) Why not? Let's see some debugging information:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; sh-2.03$ export SANE_DEBUG_CANON=128</i><br>
<i>&gt; &gt; sh-2.03$ scanimage --list-devices</i><br>
<i>&gt; &gt; [sanei_init_debug]: Setting debug level of canon to 128.</i><br>
<i>&gt; &gt; [canon] &gt;&gt; sane_init</i><br>
<i>&gt; &gt; [canon] sane_init: sane 1.0.1</i><br>
<i>&gt; &gt; [canon] &gt;&gt; attach_one</i><br>
<i>&gt; &gt; [canon] &gt;&gt; attach</i><br>
<i>&gt; &gt; [canon] attach: opening /dev/scanner</i><br>
<i>&gt; &gt; [canon] attach: open failed: Access to resource has been denied</i><br>
<i>&gt; &gt; [canon] &lt;&lt; attach_one</i><br>
<i>&gt; &gt; [canon] &lt;&lt; sane_init</i><br>
<i>&gt; &gt; [canon] &gt;&gt; sane_get_devices</i><br>
<i>&gt; &gt; [canon] &lt;&lt; sane_get_devices</i><br>
<i>&gt; &gt; [canon] &gt;&gt; sane_exit</i><br>
<i>&gt; &gt; [canon] &lt;&lt; sane_exit</i><br>
<i>&gt; </i><br>
<i>&gt; 5) Aha! Maybe she tried "find-scanner" as root and "scanimage" as a</i><br>
<i>&gt; normal user, so she has no access to the device? Wrong! See the</i><br>
<i>&gt; devices:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; [root@c554912-a ldewitt]# ls -l /dev/sg0 /dev/sga</i><br>
<i>&gt; &gt; lrwxrwxrwx    1 root     root            3 Nov 10 03:57 /dev/sg0 -&gt; sga</i><br>
<i>&gt; &gt; crwxrwxrwx    1 root     cdwriter  21,   0 May  5  1998 /dev/sga</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; [root@c554912-a ldewitt]# ls -l /dev/scanner</i><br>
<i>&gt; &gt; lrwxrwxrwx    1 root     root            8 Nov 24 19:54 /dev/scanner -&gt; /dev/sga</i><br>
<i>&gt; </i><br>
<i>&gt; I checked the "find-scanner" sources and the SANE sources to see in what</i><br>
<i>&gt; way they could be doing things differently. But they do the same thing,</i><br>
<i>&gt; namely:</i><br>
<i>&gt; </i><br>
<i>&gt;   sanei_scsi_open(devname, &amp;fd, NULL, NULL);</i><br>
<i>&gt; </i><br>
<i>&gt; Apparently, on Laura's system, this works for "find-scanner" but not</i><br>
<i>&gt; for "scanimage". This, of course, is impossible, but Laura's system</i><br>
<i>&gt; doesn't seem to care.</i><br>
<i>&gt; </i><br>
<i>&gt; Does anyone know how this could be happenning?</i><br>
<i>&gt; </i><br>
<i>&gt; Just to be sure, I would ask Laura to try the following things, in this order,</i><br>
<i>&gt; and tell us what the output is:</i><br>
<i>&gt; </i><br>
<i>&gt; 1) Switch on the scanner, then the computer, then log in as "root".</i><br>
<i>&gt; </i><br>
<i>&gt; 2) Do 'cat /proc/scsi/scsi'</i><br>
<i>&gt; </i><br>
<i>&gt; 3) Do 'find-scanner'</i><br>
<i>&gt; </i><br>
<i>&gt; 4) Do 'export SANE_DEBUG_CANON=128' and 'export SANE_DEBUG_SANEI=128', then</i><br>
<i>&gt;    'scanimage --list-devices'</i><br>
<i>&gt; </i><br>
<i>&gt; 5) Do 'scanimage -d canon:/dev/sga'</i><br>
<i>&gt; </i><br>
<i>&gt; 6) Do 'ls -l /dev/sga /dev/scanner'</i><br>
<p>
Perhaps "strace" may help to find exactly which file<br>
name/handle gives the EACCES and EINVAL errors. So<br>
to this list I would like to add:<br>
<p>
5a) Do 'strace scanimage -d canon:/dev/sga'<br>
<p>
Then perhaps the strace output around the lines:<br>
   [canon] attach: opening /dev/scanner<br>
   [canon] attach: open failed: Access to resource has been denied<br>
<p>
would be interesting.<br>
<p>
Doug Gilbert<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0289.html">Petter Reinholdtsen: "Re: [ANN] WinSane 0.2.0.0..."</a>
<li> <b>Previous message:</b> <a href="0287.html">Manuel Panea: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0197.html">Laura DeWitt: "Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0294.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<!-- reply="end" -->
</ul>
