<!-- received="Mon Nov 29 08:13:15 1999 PST" -->
<!-- sent="Tue, 30 Nov 1999 00:19:23 +0800" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: SANE support on Solaris 2.6" -->
<!-- id="199911291619.AAA19719@minerva.cc.uit.no" -->
<!-- inreplyto="SANE support on Solaris 2.6" -->
<title>sane-devel: Re: SANE support on Solaris 2.6</title>
<h1>Re: SANE support on Solaris 2.6</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Tue, 30 Nov 1999 00:19:23 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#290">[ date ]</a><a href="index.html#290">[ thread ]</a><a href="subject.html#290">[ subject ]</a><a href="author.html#290">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0291.html">Brian Macy: "Re: [ANN] WinSane 0.2.0.0..."</a>
<li> <b>Previous message:</b> <a href="0289.html">Petter Reinholdtsen: "Re: [ANN] WinSane 0.2.0.0..."</a>
<li> <b>Maybe in reply to:</b> <a href="0267.html">LABAN VERHULST: "SANE support on Solaris 2.6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Laban Verhulst]<br>
<i>&gt; however I got a error during compilation about syntax errors in the</i><br>
<i>&gt; Makefile.  I don't know how to edit the Makefile myselve.</i><br>
<p>
Are you using GNU make?  I think you should.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen  &lt;##  |  <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0291.html">Brian Macy: "Re: [ANN] WinSane 0.2.0.0..."</a>
<li> <b>Previous message:</b> <a href="0289.html">Petter Reinholdtsen: "Re: [ANN] WinSane 0.2.0.0..."</a>
<li> <b>Maybe in reply to:</b> <a href="0267.html">LABAN VERHULST: "SANE support on Solaris 2.6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
