<!-- received="Mon Nov 29 14:58:49 1999 PST" -->
<!-- sent="Tue, 30 Nov 1999 00:06:01 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax Parallel" -->
<!-- id="" -->
<!-- inreplyto="Umax Parallel" -->
<title>sane-devel: Re: Umax Parallel</title>
<h1>Re: Umax Parallel</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 30 Nov 1999 00:06:01 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#296">[ date ]</a><a href="index.html#296">[ thread ]</a><a href="subject.html#296">[ subject ]</a><a href="author.html#296">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0297.html">Klaus Espenlaub: "Re: Umax Parallel"</a>
<li> <b>Previous message:</b> <a href="0295.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0292.html">Lauren Matheson: "Umax Parallel"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0297.html">Klaus Espenlaub: "Re: Umax Parallel"</a>
<li> <b>Next in thread:</b> <a href="0291.html">Brian Macy: "Re: [ANN] WinSane 0.2.0.0..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Lauren Matheson wrote:<br>
<p>
<i>&gt; Has anyone had success getting information from Umax on their parallel</i><br>
<i>&gt; scanner format?  I've mailed them, but no response...</i><br>
<p>
UMAX does not give out the parallel port protocoll.<br>
If you want to try again contact umax taiwan, they are<br>
the developers of the umax scanners/firmware.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0297.html">Klaus Espenlaub: "Re: Umax Parallel"</a>
<li> <b>Previous message:</b> <a href="0295.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0292.html">Lauren Matheson: "Umax Parallel"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0297.html">Klaus Espenlaub: "Re: Umax Parallel"</a>
<li> <b>Next in thread:</b> <a href="0291.html">Brian Macy: "Re: [ANN] WinSane 0.2.0.0..."</a>
<!-- reply="end" -->
</ul>
