<!-- received="Tue Nov 30 17:07:30 1999 PST" -->
<!-- sent="Tue, 30 Nov 1999 20:13:55 -0500 (EST)" -->
<!-- name="Larry Snyder" -->
<!-- email="larrys@lexis-nexis.com" -->
<!-- subject="Re: Umax Astra 1220S, Serving as a Scanner Server???" -->
<!-- id="199912010113.UAA19379@ra.lexis-nexis.com" -->
<!-- inreplyto="38446EEF.4DC512CA@illumecandles.com" -->
<title>sane-devel: Re: Umax Astra 1220S, Serving as a Scanner Server???</title>
<h1>Re: Umax Astra 1220S, Serving as a Scanner Server???</h1>
<b>Larry Snyder</b> (<a href="mailto:larrys@lexis-nexis.com"><i>larrys@lexis-nexis.com</i></a>)<br>
<i>Tue, 30 Nov 1999 20:13:55 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#307">[ date ]</a><a href="index.html#307">[ thread ]</a><a href="subject.html#307">[ subject ]</a><a href="author.html#307">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0308.html">Eric Galluzzo: "Microtek2 X6EL problems"</a>
<li> <b>Previous message:</b> <a href="0306.html">Yuri Litvin: "Umax Astra 1220S, Serving as a Scanner Server???"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Yuri --<br>
I have a 1220S working great on linux on an Alpha.  I'm not so sure<br>
about the included scsi card.  I believe there was some discussion<br>
about it a while back, and it was _very_ questionable whether the<br>
kernel supported that card.  I've run the scanner off the embedded<br>
53C810 in an AS200 and a Symbios 8751 in an SX with great success.<br>
If you have any problems, I'd attribute them to the card.<br>
-ls-<br>
<p>
<p>
Yuri Litvin &lt;<a href="mailto:ylitvin@illumecandles.com">ylitvin@illumecandles.com</a>&gt; wrote:<br>
<i>&gt; Hey guys  :-)</i><br>
<i>&gt; </i><br>
<i>&gt; I'm planning to buy &amp; install scanner Umax Astra 1220S (with the SCSI card that</i><br>
<i>&gt; comes with it) on LINUX puter (RH6.0 2.2.13 kernel) so it will serve as a Scanner</i><br>
<i>&gt; Server for Win9x/WinNT puters on our network</i><br>
<i>&gt; </i><br>
<i>&gt; Has anyone had any experience with this scanner (it is listed as stable on SANE</i><br>
<i>&gt; web-page) and/or setting up LINUX as a Scanner Server for a Windows puters? I've</i><br>
<i>&gt; tried Winsane plugin and it works (appears in the Imaging program) on Win9x, but i</i><br>
<i>&gt; can't get it to work on WinNT puters. Do u have any idea why? Have u ever tried</i><br>
<i>&gt; that CGI script that is mentioned in the SANE FAQ?</i><br>
<i>&gt; </i><br>
<i>&gt; Was there any problems setting up Umax Astra 1220S on a LINUX server using the</i><br>
<i>&gt; SCSI card that comes by default with this scanner?</i><br>
<i>&gt; </i><br>
<i>&gt; Dou have any other suggestions for a scanner? I'm planning to spend about $100-200</i><br>
<i>&gt; on it (Umax Astra 1220S is $124 on www.shopper.com)</i><br>
<i>&gt; </i><br>
<i>&gt; Any ideas, suggestions, tips are highly appreciated.</i><br>
<i>&gt; </i><br>
<i>&gt; Thanx in advance :-)</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0308.html">Eric Galluzzo: "Microtek2 X6EL problems"</a>
<li> <b>Previous message:</b> <a href="0306.html">Yuri Litvin: "Umax Astra 1220S, Serving as a Scanner Server???"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
