<!-- received="Tue Nov 30 19:00:04 1999 PST" -->
<!-- sent="Tue, 30 Nov 1999 22:06:29 -0500 (EST)" -->
<!-- name="Larry Snyder" -->
<!-- email="larrys@lexis-nexis.com" -->
<!-- subject="Re: Microtek2 X6EL problems" -->
<!-- id="199912010306.WAA20510@ra.lexis-nexis.com" -->
<!-- inreplyto="38447927.4493EAA9@one.net" -->
<title>sane-devel: Re: Microtek2 X6EL problems</title>
<h1>Re: Microtek2 X6EL problems</h1>
<b>Larry Snyder</b> (<a href="mailto:larrys@lexis-nexis.com"><i>larrys@lexis-nexis.com</i></a>)<br>
<i>Tue, 30 Nov 1999 22:06:29 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#312">[ date ]</a><a href="index.html#312">[ thread ]</a><a href="subject.html#312">[ subject ]</a><a href="author.html#312">[ author ]</a>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0311.html">Brian Macy: "SANE Net backend suggestion..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Eric Galluzzo &lt;<a href="mailto:eng@one.net">eng@one.net</a>&gt; wrote:<br>
<i>&gt; Hello! :)</i><br>
<i>&gt; </i><br>
<i>&gt; My system hangs when trying to scan an image using xscanimage --</i><br>
<i>&gt; usually.  I've got an Adaptec AVA-2902E PCI SCSI card (I'm using the</i><br>
<i>&gt; aic7xxx kernel module -- is this correct?) and a Microtek Scanmaker X6EL</i><br>
<i>&gt; with RedHat 5.1 and kernel 2.2.13, using microtek2 backend 0.8.</i><br>
<i>&gt; </i><br>
<i>&gt; The symptoms are:</i><br>
<i>&gt; </i><br>
<i>&gt;    * Very occasionally, when I try to insert the aic7xxx kernel module,</i><br>
<i>&gt;      the system hangs.  In addition, it always locks up for a couple of</i><br>
<i>&gt;      seconds while inserting the module but comes back out again fine.</i><br>
<i>&gt;      (I assume this is normal.)</i><br>
<i>&gt;    * The scanner is detected by the SCSI module just fine:</i><br>
<i>&gt; </i><br>
<i>&gt;      [After typing "/sbin/modprobe aic7xxx":]</i><br>
<i>&gt;      tail /var/log/messages</i><br>
<i>&gt;      Nov 30 20:08:27 eng kernel: (scsi0) &lt;Adaptec AIC-7850 SCSI host adapter&gt; found at PCI 10/0</i><br>
<i>&gt;      Nov 30 20:08:27 eng kernel: (scsi0) Narrow Channel, SCSI ID=7, 3/255 SCBs</i><br>
<i>&gt;      Nov 30 20:08:27 eng kernel: (scsi0) Downloading sequencer code... 406 instructions downloaded</i><br>
<i>&gt;      Nov 30 20:08:27 eng kernel: scsi0 : Adaptec AHA274x/284x/294x (EISA/VLB/PCI-Fast SCSI) 5.1.20/3.2.4</i><br>
<i>&gt;      Nov 30 20:08:27 eng kernel:        &lt;Adaptec AIC-7850 SCSI host adapter&gt;</i><br>
<i>&gt;      Nov 30 20:08:27 eng kernel: scsi : 1 host.</i><br>
<i>&gt;      Nov 30 20:08:27 eng kernel:   Vendor:           Model: scanner 636EL     Rev: 1.50</i><br>
<i>&gt;      Nov 30 20:08:27 eng kernel:   Type:   Scanner                            ANSI SCSI revision: 02</i><br>
<i>&gt;      Nov 30 20:08:27 eng kernel: Detected scsi generic sga at scsi0, channel 0, id 6, lun 0</i><br>
<i>&gt;      eric@eng:/home/eric&gt; cat /proc/scsi/scsi</i><br>
<i>&gt;      Attached devices:</i><br>
<i>&gt;      Host: scsi0 Channel: 00 Id: 06 Lun: 00</i><br>
<i>&gt;        Vendor:          Model: scanner 636EL    Rev: 1.50</i><br>
<i>&gt;        Type:   Scanner                          ANSI SCSI revision: 02</i><br>
<i>&gt; </i><br>
<i>&gt;    * However, when I enter xscanimage and actually try to scan an image,</i><br>
<i>&gt;      the system (usually) hangs.  Only two times have I gotten the</i><br>
<i>&gt;      scanner to actually scan something.  One of those times, it scanned</i><br>
<i>&gt;      several images before hanging; the other time, it just scanned one.</i><br>
<i>&gt; </i><br>
<i>&gt; I tried to produce debug output via "xscanimage | tee saneoutput.txt"</i><br>
<p>
Try script &lt;filename&gt; or maybe xscanimage &gt; &lt;filename&gt; 2&gt;&amp;1<br>
<p>
<i>&gt; with SANE_DEBUG_MICROTEK2 set to 30 and SANE_DEBUG_SANEI_SCSI set to 1,</i><br>
<i>&gt; but I guess it never flushed, because I ended up with a zero-length file</i><br>
<i>&gt; (but piles of stuff spewed onto the screen).</i><br>
<i>&gt; </i><br>
<i>&gt; Anyway, any help you could give is very much welcome.  My wife is</i><br>
<i>&gt; threatening to take back the scanner if it doesn't start working</i><br>
<i>&gt; reliably in the next couple of days. ;)</i><br>
<i>&gt; </i><br>
<i>&gt;      - Eric</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; ---=---=-=-==-===-=====//=======//=========-===-==-=-=--=---- &lt;&gt;&lt; -</i><br>
<i>&gt; "God is real, unless  // Name: // Eric Galluzzo // <a href="mailto:eng@one.net">eng@one.net</a></i><br>
<i>&gt;  declared integer."  // WWW:  // <a href="http://w3.one.net/~eng/">http://w3.one.net/~eng/</a></i><br>
<i>&gt;     -- Unknown      // Work: // SDRC // Software Engineer</i><br>
<i>&gt; ---=-=-==-===-=====//=======//======//=-===-==-=-=--=-------- &lt;&gt;&lt; -</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0311.html">Brian Macy: "SANE Net backend suggestion..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
