<!-- received="Mon Mar  1 14:03:44 1999 PST" -->
<!-- sent="Mon, 1 Mar 1999 20:05:56 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: SCSI not detected" -->
<!-- id="m10HY0q-000CFmC@hades.beck-sw.de" -->
<!-- inreplyto="36DAC420.1E9AAAF6@visi.net" -->
<title>sane-devel: Re: SCSI not detected</title>
<h1>Re: SCSI not detected</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Mon, 1 Mar 1999 20:05:56 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Neil Zampella: "Re: Snapscan 310"</a>
<li> <b>Previous message:</b> <a href="0011.html">Svend Daugaard Pedersen: "Re: Porting SANE backends"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I just read something on the specifications that doesn't sound good. </i><br>
<i>&gt; The driver that came with it is called "SmartScan" it says it was </i><br>
<i>&gt; built specifically for this scanner and SCSI card.  It has a second </i><br>
<i>&gt; driver called "Art-Scan" and says that one has to be used if you </i><br>
<i>&gt; install the scanner on an existing Adaptec SCSI card.  Does</i><br>
<i>&gt; that mean mine wouldn't be Adaptec compatible? </i><br>
<p>
Very probably, as what use would be two drivers, then.<br>
<p>
<i>&gt; If this small company made their own card, I might never find a driver </i><br>
<i>&gt; for it.  </i><br>
<p>
No. I doubt that. They have probably at least bought the chip.<br>
<p>
Take out the card, have a look at the biggest (usually only) chip on it,<br>
and send us all you read. We can then probably find out what type of<br>
card it is. Wild guess: NCR 53c80 or 53c400.<br>
<p>
If it is a PCI card (I doubt it), "cat /proc/pci" would probably reveal<br>
the required information as well.<br>
<p>
<i>&gt; Although maybe this is good, if the "Art-scan" works on my</i><br>
<i>&gt; SCSI card as well as Adaptecs, may they are compatible?</i><br>
<p>
Very improbable. See my comment above. Both cards are compatible in the<br>
Sense, that they are SCSI adapters. The scanner should work with ANY<br>
SCSI adapter. It's just that you need a driver for it.<br>
<p>
CU, ANdy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Neil Zampella: "Re: Snapscan 310"</a>
<li> <b>Previous message:</b> <a href="0011.html">Svend Daugaard Pedersen: "Re: Porting SANE backends"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
