<!-- received="Thu Mar  4 21:12:47 1999 PST" -->
<!-- sent="Thu, 4 Mar 1999 20:41:21 +0100" -->
<!-- name="Henning Meier-Geinitz" -->
<!-- email="henningmg@gmx.de" -->
<!-- subject="Re: off.c (for Mustek 600 II N)" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.990302165541.595A-100000@inspc44.ins.uni-stuttgart.de" -->
<title>sane-devel: Re: off.c (for Mustek 600 II N)</title>
<h1>Re: off.c (for Mustek 600 II N)</h1>
<b>Henning Meier-Geinitz</b> (<a href="mailto:henningmg@gmx.de"><i>henningmg@gmx.de</i></a>)<br>
<i>Thu, 4 Mar 1999 20:41:21 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#58">[ date ]</a><a href="index.html#58">[ thread ]</a><a href="subject.html#58">[ subject ]</a><a href="author.html#58">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">David Mosberger-Tang: "another pre-test"</a>
<li> <b>Previous message:</b> <a href="0057.html">J. Milgram: "Have HP 4P, need more res"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; This is a utility for the tortured 600 II N user who wants to</i><br>
<i>&gt; switch the scanner off after a program crash or if it gets not</i><br>
<i>&gt; correctly switched off upon program exit.</i><br>
<p>
That's very nice. It works quite good for me on Linux 2.2 (libc5).<br>
<p>
Bye, Henning<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">David Mosberger-Tang: "another pre-test"</a>
<li> <b>Previous message:</b> <a href="0057.html">J. Milgram: "Have HP 4P, need more res"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
