<!-- received="Mon Mar  8 14:31:19 1999 PST" -->
<!-- sent="Mon, 08 Mar 1999 20:41:22 +0000" -->
<!-- name="Jonathan A. Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: new plustek driver and UMAX Astra 1210P" -->
<!-- id="m10K6q3-00017xC@hex" -->
<!-- inreplyto="36E40001.CB7D651E@wolfsburg.de" -->
<title>sane-devel: Re: new plustek driver and UMAX Astra 1210P</title>
<h1>Re: new plustek driver and UMAX Astra 1210P</h1>
<b>Jonathan A. Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Mon, 08 Mar 1999 20:41:22 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#85">[ date ]</a><a href="index.html#85">[ thread ]</a><a href="subject.html#85">[ subject ]</a><a href="author.html#85">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Paul Jakma: "Re: OCR [was: Bar codes]"</a>
<li> <b>Previous message:</b> <a href="0084.html">De Clarke: "Re: OCR [was: Bar codes]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a> said:<br>
<i>&gt; Could someone test the Umax Astra 1210P with the plustek-driver,I</i><br>
<i>&gt; heard the Astra 1210P would be plustek-compatible!</i><br>
<i>&gt;</i><br>
<i>&gt; Bye Oliver </i><br>
<p>
I could try it on a Astra 600P, but I could only test it on a Toshiba<br>
laptop (I have six of them to hand) but none of them have an EPP<br>
parallel port! Looking at the source code for the plustek driver it<br>
appears to do similar things to the trace of my Astra 600P.<br>
<p>
I was told by someone at UMAX that they where licensing their ASIC design<br>
for parallel port scanners to other manufactures, so the plustek could<br>
well be UMAX compatible.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Paul Jakma: "Re: OCR [was: Bar codes]"</a>
<li> <b>Previous message:</b> <a href="0084.html">De Clarke: "Re: OCR [was: Bar codes]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
