<!-- received="Mon Mar  8 16:55:33 1999 PST" -->
<!-- sent="Tue, 09 Mar 1999 13:23:14 +1300" -->
<!-- name="Matthew Diesch" -->
<!-- email="matthew@manufact.co.nz" -->
<!-- subject="Re: Bar codes" -->
<!-- id="2.2.32.19990309002314.00fdbbe4@mdsakl" -->
<!-- inreplyto="Bar codes" -->
<title>sane-devel: Re: Bar codes</title>
<h1>Re: Bar codes</h1>
<b>Matthew Diesch</b> (<a href="mailto:matthew@manufact.co.nz"><i>matthew@manufact.co.nz</i></a>)<br>
<i>Tue, 09 Mar 1999 13:23:14 +1300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#88">[ date ]</a><a href="index.html#88">[ thread ]</a><a href="subject.html#88">[ subject ]</a><a href="author.html#88">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">Tripp Lilley: "Re: OCR [was: Bar codes]"</a>
<li> <b>Previous message:</b> <a href="0087.html">Tim Waugh: "Re: OCR [was: Bar codes]"</a>
<li> <b>Maybe in reply to:</b> <a href="0082.html">Matthew Diesch: "Bar codes"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
At 05:33 PM 3/8/99 -0500, you wrote:<br>
... snip snip ...<br>
<i>&gt;reference PNM backend, and the Fujitsu backend once my docs come in).</i><br>
... snip snip ...<br>
I might be able to help you with that, I have the source for a program which<br>
drives Fujitsu 3097 and SP10 scanners directly using ASPI. Obviously this is<br>
Window$ code (16 bit, it's that old) but might be handy. Drop me a line if<br>
you're interested.<br>
<p>
Matthew.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">Tripp Lilley: "Re: OCR [was: Bar codes]"</a>
<li> <b>Previous message:</b> <a href="0087.html">Tim Waugh: "Re: OCR [was: Bar codes]"</a>
<li> <b>Maybe in reply to:</b> <a href="0082.html">Matthew Diesch: "Bar codes"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
