<!-- received="Wed Mar 10 05:38:26 1999 PST" -->
<!-- sent="Wed, 10 Mar 1999 15:37:07 +0200" -->
<!-- name="Milon Firikis" -->
<!-- email="milonf@ariadne-t.gr" -->
<!-- subject="Re: another pre-test" -->
<!-- id="" -->
<!-- inreplyto="another pre-test" -->
<title>sane-devel: Re: another pre-test</title>
<h1>Re: another pre-test</h1>
<b>Milon Firikis</b> (<a href="mailto:milonf@ariadne-t.gr"><i>milonf@ariadne-t.gr</i></a>)<br>
<i>Wed, 10 Mar 1999 15:37:07 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#108">[ date ]</a><a href="index.html#108">[ thread ]</a><a href="subject.html#108">[ subject ]</a><a href="author.html#108">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0109.html">Petter Reinholdtsen: "AGFA SnapScan 1236 support in the works"</a>
<li> <b>Previous message:</b> <a href="0107.html">Rogier Wolff: "Re: Tamarack Parallel Port Scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0059.html">David Mosberger-Tang: "another pre-test"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Milon Firikis wrote:<br>
<i>&gt; </i><br>
<i>&gt; David Mosberger-Tang wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; OK, I just uploaded another pre-test:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;   <a href="ftp://ftp.mostang.com/pub/sane/alpha/sane-pre1.01-3.tar.gz">ftp://ftp.mostang.com/pub/sane/alpha/sane-pre1.01-3.tar.gz</a></i><br>
<i>&gt; </i><br>
<i>&gt; I would like to test it over the weekend with the apple backend but so</i><br>
<i>&gt; far I was unable to download the thing. The connection is not really</i><br>
<i>&gt; down but it is too slow... Is it just me?</i><br>
<p>
I finally downloaded the thing. I 'll test it soon. I had to schedule<br>
night ftp session however...<br>
<p>
	MF<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0109.html">Petter Reinholdtsen: "AGFA SnapScan 1236 support in the works"</a>
<li> <b>Previous message:</b> <a href="0107.html">Rogier Wolff: "Re: Tamarack Parallel Port Scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0059.html">David Mosberger-Tang: "another pre-test"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
