<!-- received="Wed Mar 10 18:16:03 1999 PST" -->
<!-- sent="Wed, 10 Mar 1999 18:18:40 -0800 (PST)" -->
<!-- name="Alex Belits" -->
<!-- email="abelits@phobos.illtel.denver.co.us" -->
<!-- subject="Re: twain -&gt; sane proxy for windows" -->
<!-- id="" -->
<!-- inreplyto="199903110108.RAA03670@mom.hooked.net" -->
<title>sane-devel: Re: twain -&gt; sane proxy for windows</title>
<h1>Re: twain -&gt; sane proxy for windows</h1>
<b>Alex Belits</b> (<a href="mailto:abelits@phobos.illtel.denver.co.us"><i>abelits@phobos.illtel.denver.co.us</i></a>)<br>
<i>Wed, 10 Mar 1999 18:18:40 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#112">[ date ]</a><a href="index.html#112">[ thread ]</a><a href="subject.html#112">[ subject ]</a><a href="author.html#112">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">Petter Reinholdtsen: "Re: twain -&gt; sane proxy for windows"</a>
<li> <b>Previous message:</b> <a href="0111.html">David M. Whetstone: "twain -&gt; sane proxy for windows"</a>
<li> <b>In reply to:</b> <a href="0111.html">David M. Whetstone: "twain -&gt; sane proxy for windows"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0113.html">Petter Reinholdtsen: "Re: twain -&gt; sane proxy for windows"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 10 Mar 1999, David M. Whetstone wrote:<br>
<p>
<i>&gt; I would like to be able to share my scanner through my linux server </i><br>
<i>&gt; with all my client machines (which happen to be running windows).</i><br>
<i>&gt; </i><br>
<i>&gt; I've searched the mailing list archive for this and found a couple of </i><br>
<i>&gt; references.  Is anyone working on this?  If not, I would be interested </i><br>
<i>&gt; in investigating this a little further.  Does anyone know where I can </i><br>
<i>&gt; get specs for TWAIN?  Anyone interested in collaborating? </i><br>
<p>
  It was mentioned multiple times, but it looks like people are<br>
extremely disinterested in writing this. It will be nice if anyone stepped<br>
out and said "I will write TWAIN frontend for Windows" (mind you, it won't<br>
be me, I don't even have Windows).<br>
<p>
<pre>
-- 
Alex
<p>
----------------------------------------------------------------------
 Excellent.. now give users the option to cut your hair you hippie!
                                                  -- Anonymous Coward
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">Petter Reinholdtsen: "Re: twain -&gt; sane proxy for windows"</a>
<li> <b>Previous message:</b> <a href="0111.html">David M. Whetstone: "twain -&gt; sane proxy for windows"</a>
<li> <b>In reply to:</b> <a href="0111.html">David M. Whetstone: "twain -&gt; sane proxy for windows"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0113.html">Petter Reinholdtsen: "Re: twain -&gt; sane proxy for windows"</a>
<!-- reply="end" -->
</ul>
