<!-- received="Thu Mar 11 12:31:55 1999 PST" -->
<!-- sent="Thu, 11 Mar 1999 21:28:44 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="xsane-0.15 available" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane-0.15 available</title>
<h1>xsane-0.15 available</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 11 Mar 1999 21:28:44 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#116">[ date ]</a><a href="index.html#116">[ thread ]</a><a href="subject.html#116">[ subject ]</a><a href="author.html#116">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">Andreas Dilger: "Re: twain -&gt; sane proxy for windows"</a>
<li> <b>Previous message:</b> <a href="0115.html">Brian Macy: "Re: twain -&gt; sane proxy for windows"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi<br>
<p>
xsane-0.15 is available:<br>
<p>
        <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a><br>
<p>
I hope lineart preview now works without problems!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">Andreas Dilger: "Re: twain -&gt; sane proxy for windows"</a>
<li> <b>Previous message:</b> <a href="0115.html">Brian Macy: "Re: twain -&gt; sane proxy for windows"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
