<!-- received="Mon Mar 15 07:24:40 1999 PST" -->
<!-- sent="Mon, 15 Mar 1999 14:45:49 +0000 (GMT)" -->
<!-- name="Tim Waugh" -->
<!-- email="tim@cyberelk.demon.co.uk" -->
<!-- subject="Re: [Fwd: HP ScanJet 5p + Linux 2.2.3 w/ sym53c416 driver]" -->
<!-- id="" -->
<!-- inreplyto="36ED1661.7CC0D22D@netsol.com.br" -->
<title>sane-devel: Re: [Fwd: HP ScanJet 5p + Linux 2.2.3 w/ sym53c416 driver]</title>
<h1>Re: [Fwd: HP ScanJet 5p + Linux 2.2.3 w/ sym53c416 driver]</h1>
<b>Tim Waugh</b> (<a href="mailto:tim@cyberelk.demon.co.uk"><i>tim@cyberelk.demon.co.uk</i></a>)<br>
<i>Mon, 15 Mar 1999 14:45:49 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#142">[ date ]</a><a href="index.html#142">[ thread ]</a><a href="subject.html#142">[ subject ]</a><a href="author.html#142">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Paulo Afonso Graner Fessel: "Re: [Fwd: HP ScanJet 5p + Linux 2.2.3 w/ sym53c416 driver]"</a>
<li> <b>Previous message:</b> <a href="0141.html">Milon Firikis: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; from 0 to 1 I've got the kernel recognising the scanner. It reports</i><br>
<i>&gt; the scanner as HP C5110A, with type of device marked as "processor".</i><br>
<i>&gt; (?)</i><br>
<p>
I get this too on exactly the same model.  It works for me, although ISTR<br>
I had to fiddle around with configuration first.  I'll send you my config<br>
in private mail -- see if you have more luck with that.<br>
<p>
Tim.<br>
*/<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Paulo Afonso Graner Fessel: "Re: [Fwd: HP ScanJet 5p + Linux 2.2.3 w/ sym53c416 driver]"</a>
<li> <b>Previous message:</b> <a href="0141.html">Milon Firikis: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
