<!-- received="Mon Mar 15 13:07:10 1999 PST" -->
<!-- sent="Mon, 15 Mar 1999 22:07:26 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="xsane-0.16 with experimental 16 bpp support available" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane-0.16 with experimental 16 bpp support available</title>
<h1>xsane-0.16 with experimental 16 bpp support available</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 15 Mar 1999 22:07:26 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#152">[ date ]</a><a href="index.html#152">[ thread ]</a><a href="subject.html#152">[ subject ]</a><a href="author.html#152">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">john allen pitney: "Re: HP Photosmart R032"</a>
<li> <b>Previous message:</b> <a href="0151.html">Oliver Rauch: "Re: 16 bit per sample support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi ,<br>
<p>
xsane-0.16 is available on my homepage:<br>
    <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a><br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">john allen pitney: "Re: HP Photosmart R032"</a>
<li> <b>Previous message:</b> <a href="0151.html">Oliver Rauch: "Re: 16 bit per sample support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
