<!-- received="Mon Mar 15 13:55:18 1999 PST" -->
<!-- sent="Mon, 15 Mar 1999 15:54:08 -0600" -->
<!-- name="john allen pitney" -->
<!-- email="pitney@students.uiuc.edu" -->
<!-- subject="Re: HP Photosmart R032" -->
<!-- id="" -->
<!-- inreplyto="36ED69F5.C9B1CCEB@kirchgessner.net" -->
<title>sane-devel: Re: HP Photosmart R032</title>
<h1>Re: HP Photosmart R032</h1>
<b>john allen pitney</b> (<a href="mailto:pitney@students.uiuc.edu"><i>pitney@students.uiuc.edu</i></a>)<br>
<i>Mon, 15 Mar 1999 15:54:08 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#153">[ date ]</a><a href="index.html#153">[ thread ]</a><a href="subject.html#153">[ subject ]</a><a href="author.html#153">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Nick Lamb: "Re: HP ScanJet IIc ADF report"</a>
<li> <b>Previous message:</b> <a href="0152.html">Oliver Rauch: "xsane-0.16 with experimental 16 bpp support available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; I am wondering what HP has done now to the Photosmart. The behaviour</i><br>
<i>&gt; should be</i><br>
<i>&gt; that it scans during moving slides into and out of the scanner. For the</i><br>
<i>&gt; preview</i><br>
<i>&gt; it should scan while moving into. Then you should be able to select the</i><br>
<i>&gt; area</i><br>
<i>&gt; which you want to scan, then for the real scan it is moving outside.</i><br>
<i>&gt; Anything else</i><br>
<i>&gt; makes no sense.</i><br>
<i>&gt; Please try the following: Switch the scanner off and on, start</i><br>
<i>&gt; xscanimage</i><br>
<i>&gt; and immediately change the exposure time to "off". Then try to aquire a</i><br>
<i>&gt; preview</i><br>
<i>&gt; and to do a scan. Does it also scan only when moving outside ?</i><br>
<i>&gt; If so, you should try how the scanner works on Windows. For the same</i><br>
<i>&gt; behaviour</i><br>
<i>&gt; return the scanner to your dealer.</i><br>
<p>
I should have mentioned it in my first email--in the HP Windows software,<br>
the PhotoSmart (PS) does as expected: it generates a preview as the media goes <br>
in, and does the final scan as the media comes back out.  I'm not sure<br>
why xscanimage is not doing this.  I'll investigate further tonight.<br>
<p>
The PS also behaves itself when driven (in Windows) by PScan32 and by <br>
VueSmart (VueScan now?), two third-party programs for driving the PS.  <br>
VueSmart is a shareware program that acquires the 10-bit data from the PS <br>
and preforms orange mask removal (for negatives) and gamma correction <br>
on that, before downsampling to 8-bit output.  It does a terrific job, <br>
and even has canned calibration curves for well over 100 different <br>
types of film (Kodak Gold 100, Fuji Reala, etc.).  <br>
<p>
(I've been using the scanner in Windows--with HP software--for several <br>
months now with success.  I just want to run it in Linux using SANE now, <br>
and have the opportunity due to the new SCSI card.)  <br>
<p>
<i>&gt; &gt; - The vertical (y) postion of the slide seems to slip by about 1mm each</i><br>
<i>&gt; &gt;   time the slide is fed in and out.  In other words, if I draw a crop box in</i><br>
<i>&gt; &gt;   the preview window, I get a same-size box in the output, but it is of</i><br>
<i>&gt; &gt;   a rectangle shifted downward in y 1mm or so.  Subsequent feeds shift it</i><br>
<i>&gt; &gt;   more each time, as if the backend or the scanner are loosing track of</i><br>
<i>&gt; &gt;   where the slide is physically.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; </i><br>
<i>&gt; As from above I suppose that the slide is removed from the scanner</i><br>
<i>&gt; between preview and scan. So there is no possibility to get a correct</i><br>
<i>&gt; placed box.</i><br>
<p>
The slide isn't completely ejected from the scanner between scans--if I <br>
hit the "unload media" button in xscanimage, the slide comes all the way <br>
out and is "released" by the PS's rollers.  <br>
<p>
<i>&gt; Firmware version R032 seems to have no support for tone maps (at least</i><br>
<i>&gt; greyscale tonemap which are used with firmware version R029 for gamma</i><br>
<i>&gt; correction).</i><br>
<i>&gt; I can show you some places in the hp-backend where you can try to add</i><br>
<i>&gt; those code for testing. I can not test 30bit support on my own</i><br>
<i>&gt; Photosmart,</i><br>
<i>&gt; because R029 does only support 24 bit.</i><br>
<p>
I would be very interested in trying this.  Over the weekend, I played <br>
with some code for doing PNM with a MAXVAL == 1023.  There is an <br>
assert depth == 8 somewhere in scanimage, so it's not quite ready for <br>
10-bit PNM output.  Is that correct?<br>
<p>
<i>&gt; &gt; Are there</i><br>
<i>&gt; &gt; any docs from HP specific to the Photosmart?</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; </i><br>
<i>&gt; No. And if they have documentation, it must be specific to the firmware.</i><br>
<p>
True.  I wonder how the authors of PScan32 and of VueSmart came up with the<br>
proper SCL codes for driving the PS.  Maybe I could learn something by <br>
running those programs in debug mode and checking the log of SCL commands.  <br>
<p>
John<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Nick Lamb: "Re: HP ScanJet IIc ADF report"</a>
<li> <b>Previous message:</b> <a href="0152.html">Oliver Rauch: "xsane-0.16 with experimental 16 bpp support available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
