<!-- received="Tue Mar 16 12:53:40 1999 PST" -->
<!-- sent="Tue, 16 Mar 1999 20:52:24 +0000 (GMT)" -->
<!-- name="Paul Jakma" -->
<!-- email="paul@clubi.ie" -->
<!-- subject="Re: Scanner survey: Which scanner do you have?" -->
<!-- id="" -->
<!-- inreplyto="199903161932.UAA15065@lee.Cc.Uit.No" -->
<title>sane-devel: Re: Scanner survey: Which scanner do you have?</title>
<h1>Re: Scanner survey: Which scanner do you have?</h1>
<b>Paul Jakma</b> (<a href="mailto:paul@clubi.ie"><i>paul@clubi.ie</i></a>)<br>
<i>Tue, 16 Mar 1999 20:52:24 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#174">[ date ]</a><a href="index.html#174">[ thread ]</a><a href="subject.html#174">[ subject ]</a><a href="author.html#174">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0175.html">Paul Jakma: "Re: Scanner survey: Which scanner do you have?"</a>
<li> <b>Previous message:</b> <a href="0173.html">georgewu@mediaone.net: "Re: Scanner survey: Which scanner do you have?"</a>
<li> <b>In reply to:</b> <a href="0170.html">Petter Reinholdtsen: "Scanner survey: Which scanner do you have?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0183.html">Nick Lamb: "Re: Scanner survey: Which scanner do you have?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 16 Mar 1999, Petter Reinholdtsen wrote:<br>
<p>
  The questions:<br>
  <br>
    What scanner(s) do you have access to?<br>
<p>
Epson GT-7000<br>
  <br>
    Does it work with SANE?<br>
  <br>
Yes<br>
    If so, which backend and frontend are you using?<br>
 <br>
epson, xscanimage (as gimp plugin) <br>
  My answers:<br>
  <br>
    HP ScanJet IIc	YES	hp<br>
    AGFA SnapScan 1236	PARTLY	snapscan (patched)<br>
  <br>
regards,<br>
<p>
<p>
<pre>
--
Paul Jakma
<a href="mailto:paul@clubi.ie">paul@clubi.ie</a>	<a href="http://hibernia.clubi.ie">http://hibernia.clubi.ie</a>
PGP5 key: <a href="http://www.clubi.ie/jakma/publickey.txt">http://www.clubi.ie/jakma/publickey.txt</a>
-------------------------------------------
Fortune:
Digital circuits are made from analog parts.
		-- Don Vonada
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0175.html">Paul Jakma: "Re: Scanner survey: Which scanner do you have?"</a>
<li> <b>Previous message:</b> <a href="0173.html">georgewu@mediaone.net: "Re: Scanner survey: Which scanner do you have?"</a>
<li> <b>In reply to:</b> <a href="0170.html">Petter Reinholdtsen: "Scanner survey: Which scanner do you have?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0183.html">Nick Lamb: "Re: Scanner survey: Which scanner do you have?"</a>
<!-- reply="end" -->
</ul>
