<!-- received="Sun Mar 21 17:05:46 1999 PST" -->
<!-- sent="Sun, 21 Mar 1999 20:09:21 -0600" -->
<!-- name="Jon Harju" -->
<!-- email="jonh@jflinc.com" -->
<!-- subject="Re: TWAIN not so broken after all?" -->
<!-- id="3.0.5.32.19990321200921.00a2ed80@calcutta.flora.ottawa.on.ca" -->
<!-- inreplyto="Pine.LNX.3.96.990321005415.18668A-100000@chef.ecs.soton.ac" -->
<title>sane-devel: Re: TWAIN not so broken after all?</title>
<h1>Re: TWAIN not so broken after all?</h1>
<b>Jon Harju</b> (<a href="mailto:jonh@jflinc.com"><i>jonh@jflinc.com</i></a>)<br>
<i>Sun, 21 Mar 1999 20:09:21 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#213">[ date ]</a><a href="index.html#213">[ thread ]</a><a href="subject.html#213">[ subject ]</a><a href="author.html#213">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Mentore #cat# Siesto: "Some weird behaviour of GT-300 under OS/2"</a>
<li> <b>Previous message:</b> <a href="0212.html">Bob van der Poel: "Re: Scanner survey results"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
At 01:05 AM 3/21/99 +0000, you wrote:<br>
<i>&gt;In browsing through some of the TWAIN 1.6 documentation on the web, I noticed</i><br>
<i>&gt;that there is a "ShowUI" feature which may optionally be supported by a</i><br>
<i>&gt;TWAIN Source (ugly Windows scanner program to you or me). If supported, this</i><br>
<i>&gt;feature allows a TWAIN application program to turn off the Windows UI and</i><br>
<i>&gt;directly manipulate most/all of the TWAIN Source features.</i><br>
<i>&gt;</i><br>
<i>&gt;It seems to me that IF a significant number of consumer scanners out there</i><br>
<i>&gt;do have this feature enabled then one could potentially develop a Win32</i><br>
<i>&gt;SANE backend which simply turned off the ugly TWAIN Source UI and provided</i><br>
<i>&gt;as many features as it advertises (which may unfortunately not be all the</i><br>
<i>&gt;features of the scanner) to the SANE system.</i><br>
<i>&gt;</i><br>
<i>&gt;The advantage to the end-user is that they get network transparent access</i><br>
<i>&gt;to the scanner, and no longer need use the ugly TWAIN UI.</i><br>
<i>&gt;</i><br>
<i>&gt;Can anyone with TWAIN know-how (I know there are one or two people on this</i><br>
<i>&gt;list who have some) comment on the availability of ShowUI in consumer land?</i><br>
<p>
I think I might be able to help you with that question...<br>
<p>
You are right about the availability of this feature, and you could<br>
technically write a sane backend that would transparently handle it.  The<br>
ShowUI feature is available on most of the scanners (the exceptions are<br>
most hand scanners and others that have little or no option for<br>
programmatic control between the PC and the scanner).<br>
<p>
I think the real problem is finding enough TWAIN Drivers that promote the<br>
Scanner Capabilities properly.  These are the key to programmatic control<br>
with TWAIN, and without them ShowUI is useless.  You will find that many<br>
consumer level scanner Data Sources are poorly implemented since their<br>
primary marketing focus is "does it work with Photoshop?", a product that<br>
does not take advantage of any programmatic control.<br>
<p>
However, if you go up on the scale and start getting into the production<br>
level scanners, you will find that they have very robust implementations.<br>
Most apps using them are custom and suppress the GUI.<br>
<p>
As to the technical implementation of a SANE backend, well there are a few<br>
things that tie it to Windows, like the event handling is entirely through<br>
the Windows Message pump... no command line operation possible.<br>
<p>
I can see the advantage to network-ability, but really... wouldn't it just<br>
be better to try and bring SANE to Windows?  The real effort, not matter<br>
what would be trying to get the Windows Application developers to buy into<br>
SANE, the drivers are already available with source so there is limited<br>
benifit to wrapping TWAIN with SANE.<br>
<p>
Regards,<br>
Jon Harju<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Mentore #cat# Siesto: "Some weird behaviour of GT-300 under OS/2"</a>
<li> <b>Previous message:</b> <a href="0212.html">Bob van der Poel: "Re: Scanner survey results"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
