<!-- received="Mon Mar 22 07:57:25 1999 PST" -->
<!-- sent="Mon, 22 Mar 1999 16:57:00 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="xsane-0.18 available" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane-0.18 available</title>
<h1>xsane-0.18 available</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 22 Mar 1999 16:57:00 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#215">[ date ]</a><a href="index.html#215">[ thread ]</a><a href="subject.html#215">[ subject ]</a><a href="author.html#215">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Andreas Czechanowski: "Re: Scanner survey results"</a>
<li> <b>Previous message:</b> <a href="0214.html">Mentore #cat# Siesto: "Some weird behaviour of GT-300 under OS/2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0222.html">wolfgang Rapp: "Re: xsane-0.18 available"</a>
<li> <b>Reply:</b> <a href="0222.html">wolfgang Rapp: "Re: xsane-0.18 available"</a>
<li> <b>Reply:</b> <a href="0224.html">Oliver Rauch: "Re: xsane-0.18 available"</a>
<li> <b>Reply:</b> <a href="0230.html">Oliver Rauch: "Re: xsane-0.18 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
xsane 0.18 is available on <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a><br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Andreas Czechanowski: "Re: Scanner survey results"</a>
<li> <b>Previous message:</b> <a href="0214.html">Mentore #cat# Siesto: "Some weird behaviour of GT-300 under OS/2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0222.html">wolfgang Rapp: "Re: xsane-0.18 available"</a>
<li> <b>Reply:</b> <a href="0222.html">wolfgang Rapp: "Re: xsane-0.18 available"</a>
<li> <b>Reply:</b> <a href="0224.html">Oliver Rauch: "Re: xsane-0.18 available"</a>
<li> <b>Reply:</b> <a href="0230.html">Oliver Rauch: "Re: xsane-0.18 available"</a>
<!-- reply="end" -->
</ul>
