<!-- received="Fri Mar 26 14:50:05 1999 PST" -->
<!-- sent="Sat, 27 Mar 1999 08:41:48 +1100 (EST)" -->
<!-- name="Jamie Honan" -->
<!-- email="jhonan@mpx.com.au" -->
<!-- subject="Some info about Dexxa / Artec AS6E" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Some info about Dexxa / Artec AS6E</title>
<h1>Some info about Dexxa / Artec AS6E</h1>
<b>Jamie Honan</b> (<a href="mailto:jhonan@mpx.com.au"><i>jhonan@mpx.com.au</i></a>)<br>
<i>Sat, 27 Mar 1999 08:41:48 +1100 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#241">[ date ]</a><a href="index.html#241">[ thread ]</a><a href="subject.html#241">[ subject ]</a><a href="author.html#241">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0242.html">Chris Pinkham: "Re: Some info about Dexxa / Artec AS6E"</a>
<li> <b>Previous message:</b> <a href="0240.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
(Re-sent. Original seems to have been lost)<br>
<p>
This is a  parallel port scanner. I ran the twain driver<br>
under wine and figured out a fair bit of the protocol. There's also<br>
some manufacturer info.<br>
<p>
I believe there is now enough info to make a driver for this thing.<br>
My info is at <a href="http://usrwww.mpx.com.au/~jhonan/dexxa.txt">http://usrwww.mpx.com.au/~jhonan/dexxa.txt</a> (for<br>
the time being).<br>
<p>
Is anyone else doing any active development on this?<br>
I emailed Michael Katz-Hyman but haven't had any reply.<br>
<p>
(Looks like Luigi Rizzo is still active).<br>
<p>
Jamie<br>
<a href="mailto:jhonan@mpx.com.au">jhonan@mpx.com.au</a><br>
 <br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0242.html">Chris Pinkham: "Re: Some info about Dexxa / Artec AS6E"</a>
<li> <b>Previous message:</b> <a href="0240.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
