<!-- received="Sun Feb  8 20:09:00 1998 PST" -->
<!-- sent="Mon, 09 Feb 1998 04:08:52 +0000" -->
<!-- name="Rex Vaughn" -->
<!-- email="rvaughn@nova.org" -->
<!-- subject="Re: HP C5100A Photscanner support" -->
<!-- id="" -->
<!-- inreplyto="HP C5100A Photscanner support" -->
<title>sane-devel: Re: HP C5100A Photscanner support</title>
<h1>Re: HP C5100A Photscanner support</h1>
<b>Rex Vaughn</b> (<a href="mailto:rvaughn@nova.org"><i>rvaughn@nova.org</i></a>)<br>
<i>Mon, 09 Feb 1998 04:08:52 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#39">[ date ]</a><a href="index.html#39">[ thread ]</a><a href="subject.html#39">[ subject ]</a><a href="author.html#39">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0040.html">Dr. Michael Grimm: "REMOVE"</a>
<li> <b>Previous message:</b> <a href="0038.html">Preston Brown: "Re: Astra 6X0S colormode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Pkirchg wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; I just got the information that the HP C5100 Photosmart Photoscanner</i><br>
<i>&gt; does really support HP-SCL. So I did some tests on Linux kernel 2.0.21</i><br>
<i>&gt; with the new sane 0.69 and it seems to work. With these tests I got</i><br>
<i>&gt; the following:</i><br>
<i>&gt; </i><br>
<i>&gt; Scanning negatives: supported from 100 to 2400 dpi</i><br>
<i>&gt;  Problems:</i><br>
<i>&gt;   - When scanning strips with 5 negatives of size 24x36mm,</i><br>
<i>&gt;     the 5th image shows wrong colours (scanner firmware ?)</i><br>
<p>
I have noticed a problem while previewing a negative, however when the<br>
actual <br>
scan is done the last image seems fine.  I started to dig in to the code<br>
to <br>
find out what was going on, and  while scanning all but the last <br>
"stripe" (block of 8192) of the negative, everything seems fine. <br>
However,<br>
when the last block is scanned in preview mode, the buffer returned from<br>
sane_read() in input_available() (frontend/preview.c) does not change<br>
from the<br>
second to last block.  Nor does sane_read return SANE_STATUS_EOF.  After <br>
six or so calls (each returning the same block slightly offset from the <br>
previous "stripe") sane_read finally returns SANE_STATUS_EOF (with still<br>
the same block in buf).  (BTW I am assuming each block is slitly offset<br>
from <br>
each other because a block of 8192 bytes is not evenly divisible by the<br>
width <br>
of the negative)<br>
<p>
Any ideas on where to attack the problem next?  <br>
<p>
I am using sane-0.70, gimp-0.99.18, gtk+-0.99.3 an aha152x scsi card,<br>
which <br>
came with an Iomega Bernoulli 150.  (IE the scsi card does not have an<br>
id<br>
code that matches the scsi driver in the kernel, but it does work when<br>
given  <br>
parameters on bootup.)  and the linux kernel is 2.0.31.  <br>
<p>
<p>
<p>
<pre>
-- 
<a href="mailto:rvaughn@nova.org">rvaughn@nova.org</a> (RBV)
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0040.html">Dr. Michael Grimm: "REMOVE"</a>
<li> <b>Previous message:</b> <a href="0038.html">Preston Brown: "Re: Astra 6X0S colormode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
