<!-- received="Thu Feb 12 08:03:33 1998 PST" -->
<!-- sent="Thu, 12 Feb 1998 11:03:01 -0500 (EST)" -->
<!-- name="tim drummer" -->
<!-- email="tim@nrb119c.physics.fsu.edu" -->
<!-- subject="sane and gimp" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane and gimp</title>
<h1>sane and gimp</h1>
<b>tim drummer</b> (<a href="mailto:tim@nrb119c.physics.fsu.edu"><i>tim@nrb119c.physics.fsu.edu</i></a>)<br>
<i>Thu, 12 Feb 1998 11:03:01 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0066.html">Ian Tester: "Re: Mustek 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Ondrej Popp: "Re: sane and gimp"</a>
<li> <b>Reply:</b> <a href="0086.html">Ondrej Popp: "Re: sane and gimp"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
i am having trouble getting the gimp to use the SANE xscaninmage<br>
software as a plug-in. however, before i explain the problem, please let<br>
me relate the success i have had!<br>
<p>
last night i purchased a umax astra 1200S scanner. i connected it to my<br>
zip zoom card via the zip zoom drive itself and then terminated at the<br>
scanner. this is a particualrly nice arrangement since the scanner is a 25<br>
pin connector and so is the zip zoom. <br>
<p>
one item of difficulty is that the scanner is preset to ID 5 as is the zip<br>
drive and it was easier to change the ID on the zip drive. however, when<br>
booted with this configuration, the scanner shows up as /dev/sga using<br>
find-scanner and upon trying to start a scan the whole system crashes ( i<br>
should mention that my primary hard drive is on separate AHA 2940UW<br>
controller) forcing a hard reset. upon swapping the SCSI ID's, the scanner<br>
is now sgc and it works fantastically! i had the setup working using<br>
xscanimage in under an hour.<br>
<p>
now to the problem: i compiled sane 0.70 without any problems, made the<br>
symlink in my ~/.gimp/plug-ins directory to xscanimage as per the man<br>
page, however upon starting the gimp (0.99.18) i get the following output:<br>
<p>
<p>
tim@nrb119c: /home/tim&gt;gimp<br>
query plug-in: "/home/tim/.gimp/plug-ins/xscanimage"<br>
/home/tim/.gimp/plug-ins/xscanimage: illegal option -- g<br>
Usage: xscanimage [OPTION]... [DEVICE]<br>
<p>
Start up graphical user interface to access SANE (Scanner Access Now<br>
Easy) devices.<br>
<p>
-h, --help                 display this help message and exit<br>
-V, --version              print version information<br>
wire_read: unexpected EOF<br>
writing "/home/tim/.gimp/pluginrc"<br>
Starting extensions: <br>
 <br>
<p>
<p>
i found a previous article in the SANE discussion archive from someone<br>
having a similar problem and the recommendation was to make sure that the<br>
gimp header file is being seen when SANE is compiled. i ran <br>
make distclean<br>
<p>
and<br>
<p>
./configure.<br>
<p>
i find:  checking for libgimp/gimp.h... yes<br>
<p>
then <br>
<p>
make<br>
<p>
and make install<br>
<p>
everything appears to compile ok, yet the problem persits. sure would be<br>
nice to scan directly into the gimp.<br>
<p>
any suggestions??<br>
<p>
thanks!<br>
<p>
tim<br>
<p>
===================================================================<br>
Any man can deal with adversity. A real test of character is to put<br>
someone in a position of power.<br>
                                -- Abraham Lincoln<br>
An optimist believes we live in the best of all possible worlds. A<br>
pessimist fears he is right.<br>
<p>
<a href="http://nrb119c.physics.fsu.edu/~tim">http://nrb119c.physics.fsu.edu/~tim</a><br>
<p>
Tim Drummer<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0066.html">Ian Tester: "Re: Mustek 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Ondrej Popp: "Re: sane and gimp"</a>
<li> <b>Reply:</b> <a href="0086.html">Ondrej Popp: "Re: sane and gimp"</a>
<!-- reply="end" -->
</ul>
