<!-- received="Fri Feb 13 21:16:06 1998 PST" -->
<!-- sent="Fri, 13 Feb 1998 21:16:05 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Mustek ScanExpress 12000SP" -->
<!-- id="199802140516.VAA22643@panda.mostang.com" -->
<!-- inreplyto="98021307570800.00232@fbgeo5" -->
<title>sane-devel: Re: Mustek ScanExpress 12000SP</title>
<h1>Re: Mustek ScanExpress 12000SP</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 13 Feb 1998 21:16:05 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">David Mosberger-Tang: "please test this patch"</a>
<li> <b>Previous message:</b> <a href="0088.html">David Mosberger-Tang: "Re: Mustek 1200SP Fix (I hope :)"</a>
<li> <b>In reply to:</b> <a href="0078.html">cschirme@fbgeo1.tuwien.ac.at: "Mustek ScanExpress 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 13 Feb 1998 07:57:08 +0100, <a href="mailto:cschirme@fbgeo1.tuwien.ac.at">cschirme@fbgeo1.tuwien.ac.at</a> said:</i><br>
<p>
  Chris&gt; Hi !  I ' ve recently bought bought a Mustek ScanEpxress<br>
  Chris&gt; 12000SP, because I thought it would be compatble to the<br>
  Chris&gt; 1200SP. (1200x600, 30bit, SCSI) Bad mistake.  The kernel and<br>
  Chris&gt; ./find-scanner report it as "SCANNER Rev.1.01", but the<br>
  Chris&gt; backend does not recognize it.  So tried to 'strcpy' a couple<br>
  Chris&gt; of scanners (MFS-12000SP, CX, ...).  With<br>
  Chris&gt; SANE_DEBUG_MUSTEK=128, I can see that the connection to the<br>
  Chris&gt; scanner is established, but it quits scanning<br>
  Chris&gt; immediately. (Not even one line, Out of memory, 0 bytes<br>
  Chris&gt; read).  SCSI-Buffers is increased from 32k to 128k.<br>
<p>
The out of memory most likely occurs due to get_image_status ()<br>
getting bad values for the # of bytes per line etc.<br>
<p>
  Chris&gt; Kernel &amp;<br>
  Chris&gt; Sane recompiled.  It seems that the scanner tries to read<br>
  Chris&gt; several lines to the SCSI buffer and quits, when this buffer<br>
  Chris&gt; is full.  Is there a chance make the scanner work?<br>
<p>
Your best bet right now would be to try to guess or reverse-engineer<br>
the changes in the ScanExpress.  My recent inquiries to Mustek Taiwan<br>
regarding more docs have not been successful.  But if more people keep<br>
asking for docs, someone might just get lucky.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">David Mosberger-Tang: "please test this patch"</a>
<li> <b>Previous message:</b> <a href="0088.html">David Mosberger-Tang: "Re: Mustek 1200SP Fix (I hope :)"</a>
<li> <b>In reply to:</b> <a href="0078.html">cschirme@fbgeo1.tuwien.ac.at: "Mustek ScanExpress 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
