<!-- received="Thu Feb 19 12:05:15 1998 PST" -->
<!-- sent="Thu, 19 Feb 1998 21:39:56 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way" -->
<!-- id="m0y5clA-0000XeC@charon.beck-sw.de" -->
<!-- inreplyto="34EB7FC6.2029CD04@usa.net" -->
<title>sane-devel: Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way</title>
<h1>Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Thu, 19 Feb 1998 21:39:56 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#111">[ date ]</a><a href="index.html#111">[ thread ]</a><a href="subject.html#111">[ subject ]</a><a href="author.html#111">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Oliver.Rauch@Wolfsburg.DE: "Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way ?"</a>
<li> <b>Previous message:</b> <a href="0110.html">G. Douglas Davidson: "IRIX 6.3 Problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0115.html">Rogier Wolff: "Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way"</a>
<li> <b>Reply:</b> <a href="0115.html">Rogier Wolff: "Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; After this change, all images (except the 4 resolutions above) need to</i><br>
<i>&gt; be ccd-corrected, but with a float ccd value, -1 &lt; ccd &lt; 1</i><br>
<i>&gt; </i><br>
<i>&gt; The only way I find to ccd-correct those images is to add part of the</i><br>
<i>&gt; current line value for a given channel with part of the above line value</i><br>
<i>&gt; for the same channel and to use this value.</i><br>
<i>&gt; </i><br>
<i>&gt; For example, with a float ccd of .12, I take 88% (100-12) of the current</i><br>
<i>&gt; line + 12% of the above line for blue channel and 76% (100-12*2) of the</i><br>
<i>&gt; current line + 24% (12*2) of the above line for the green channel. If</i><br>
<i>&gt; float ccd is &lt;0, I swap the % values. [This is for Astra 610S, for 600S,</i><br>
<i>&gt; replace green with red].</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;From my point of view, this may lead to reduce image quality, but I</i><br>
<i>&gt; can't find another way to do this.</i><br>
<p>
There exists an inverse transformation, so no information lost.<br>
Actually I might consider doing this for the MFS12000 alternate correction<br>
scheme, which now only handles full-line distances.<br>
<p>
It is maybe a bit less apparent in there, because its lines are only 1/72"<br>
apart (instead of 1/37.5" what your code suggests), but basically what you <br>
are doing is the right thing and it should give the best image-quality you<br>
can reach.<br>
<p>
I suppose you know the reason why this happens - just for those who don't:<br>
<p>
P\       /R C<br>
A  \   /    |<br>
P--- x ---G C<br>
E  / ^ \    |<br>
R/   |   \B D<br>
    lens<br>
<p>
I.e. The scanner has three CCD lines each with the appropriate filter.<br>
They are offset a little against each other (well - you can't put 2 CCDs<br>
in one place :-) what causes this effect.<br>
<p>
Probably any single pass scanner works this way and later corrects the<br>
wrong colors.<br>
<p>
CU,ANdy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Oliver.Rauch@Wolfsburg.DE: "Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way ?"</a>
<li> <b>Previous message:</b> <a href="0110.html">G. Douglas Davidson: "IRIX 6.3 Problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0115.html">Rogier Wolff: "Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way"</a>
<li> <b>Reply:</b> <a href="0115.html">Rogier Wolff: "Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way"</a>
<!-- reply="end" -->
</ul>
