<!-- received="Mon Feb 23 06:30:40 1998 PST" -->
<!-- sent="Mon, 23 Feb 1998 15:31:47 +0100" -->
<!-- name="Matthias Trute" -->
<!-- email="mtrute@r-w.de" -->
<!-- subject="Re: Epson GT-5500" -->
<!-- id="" -->
<!-- inreplyto="Epson GT-5500" -->
<title>sane-devel: Re: Epson GT-5500</title>
<h1>Re: Epson GT-5500</h1>
<b>Matthias Trute</b> (<a href="mailto:mtrute@r-w.de"><i>mtrute@r-w.de</i></a>)<br>
<i>Mon, 23 Feb 1998 15:31:47 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#132">[ date ]</a><a href="index.html#132">[ thread ]</a><a href="subject.html#132">[ subject ]</a><a href="author.html#132">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">Andreas Czechanowski: "Re: Parallel Support"</a>
<li> <b>Previous message:</b> <a href="0131.html">Eric Ludlam: "Re[1]: someone working on hp-backend ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0095.html">Umberto Zanatta: "Epson GT-5500"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Kaz Sasayama wrote:<br>
<i>&gt; </i><br>
<i>&gt; Really?  It is an unexpected response!</i><br>
<p>
Ok, I'll try and report about it. Thanks alot<br>
<p>
Matthias<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">Andreas Czechanowski: "Re: Parallel Support"</a>
<li> <b>Previous message:</b> <a href="0131.html">Eric Ludlam: "Re[1]: someone working on hp-backend ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0095.html">Umberto Zanatta: "Epson GT-5500"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
