<!-- received="Mon Feb 23 06:49:57 1998 PST" -->
<!-- sent="Mon, 23 Feb 1998 15:49:39 +0100 (MET)" -->
<!-- name="Andreas Czechanowski" -->
<!-- email="m075@ins.uni-stuttgart.de" -->
<!-- subject="Re: Parallel Support" -->
<!-- id="Pine.HPP.3.96.980223153657.10470A-100000@inshp01.ins.uni-stuttgart.de" -->
<!-- inreplyto="Pine.LNX.3.96.980222103042.12128A-100000@wonderland.loop.com" -->
<title>sane-devel: Re: Parallel Support</title>
<h1>Re: Parallel Support</h1>
<b>Andreas Czechanowski</b> (<a href="mailto:m075@ins.uni-stuttgart.de"><i>m075@ins.uni-stuttgart.de</i></a>)<br>
<i>Mon, 23 Feb 1998 15:49:39 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#133">[ date ]</a><a href="index.html#133">[ thread ]</a><a href="subject.html#133">[ subject ]</a><a href="author.html#133">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Feico Dillema: "How to send in patches/code ...."</a>
<li> <b>Previous message:</b> <a href="0132.html">Matthias Trute: "Re: Epson GT-5500"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Gareth !<br>
<p>
On Sun, 22 Feb 1998, Gareth J. Greenaway wrote:<br>
<p>
<i>&gt; I</i><br>
<i>&gt; read thru the Mustek man page and there was limited material about using</i><br>
<i>&gt; parallel port scanners</i><br>
<p>
This refers to the Mustek Paragon 600 II N, which uses a special<br>
proprietary interface card that is not much more compatible with<br>
a normal parallel-port (aka Centronics-printer or EPP port) than a<br>
SCSI-adapter is.<br>
<p>
In worst case, you have to wait until Wine is able to emulate<br>
Windows naintifaif (95) and to monitor all port I/O so that we know<br>
how to get in contact with the mysterious hardware.<br>
<p>
Andreas.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Feico Dillema: "How to send in patches/code ...."</a>
<li> <b>Previous message:</b> <a href="0132.html">Matthias Trute: "Re: Epson GT-5500"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
