<!-- received="Mon Feb 23 12:02:31 1998 PST" -->
<!-- sent="Mon, 23 Feb 1998 21:02:19 +0100 (MET)" -->
<!-- name="Martin Huber" -->
<!-- email="hu@garfield.m.isar.de" -->
<!-- subject="pre-071.patch" -->
<!-- id="199802232002.VAA11161@garfield.m.isar.de" -->
<!-- inreplyto="" -->
<title>sane-devel: pre-071.patch</title>
<h1>pre-071.patch</h1>
<b>Martin Huber</b> (<a href="mailto:hu@garfield.m.isar.de"><i>hu@garfield.m.isar.de</i></a>)<br>
<i>Mon, 23 Feb 1998 21:02:19 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#135">[ date ]</a><a href="index.html#135">[ thread ]</a><a href="subject.html#135">[ subject ]</a><a href="author.html#135">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0136.html">Martin Huber: "Re: someone working on hp-backend ?"</a>
<li> <b>Previous message:</b> <a href="0134.html">Feico Dillema: "How to send in patches/code ...."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--Flock_of_Ostrich_337_000<br>
Content-Type: TEXT/plain; charset=us-ascii<br>
Content-MD5: xd1zkcHSik07wrdROGaeuw==<br>
<p>
Could you please put these diffs in the revision 0.71:<br>
<p>
  - snapscan.c<br>
    a different include file <br>
  - sanei_ab306.c<br>
    Solaris X86 can't compile linux' parallel port stuff<br>
  - sanei_scsi.c<br>
    the lun should be or'ed to cdb[1]<br>
  - find-scanner.c<br>
    It was forgotten to change scg0:a to scg0a when this change<br>
    has been made to sanei_scsi<br>
    <br>
My hp scanner never returns busy, so I can't test your patch<br>
<p>
  --martin<br>
<p>
--Flock_of_Ostrich_337_000<br>
Content-Type: TEXT/plain; name="pre-071.patch"; charset=us-ascii; x-unix-mode=0640<br>
Content-Description: pre-071.patch<br>
Content-MD5: o1GKqVg/s0s0XR7FLEwOZw==<br>
<p>
*** ./backend/snapscan.c.orig	Thu Jan 29 06:02:19 1998<br>
--- ./backend/snapscan.c	Thu Feb 12 20:18:34 1998<br>
***************<br>
*** 55,61 ****<br>
--- 55,65 ----<br>
  #include &lt;sys/types.h&gt;<br>
  #include &lt;sys/stat.h&gt;<br>
  #include &lt;values.h&gt;<br>
+ #ifdef __sun<br>
+ #include &lt;limits.h&gt;<br>
+ #else<br>
  #include &lt;posix1_lim.h&gt;<br>
+ #endif<br>
  #include &lt;fcntl.h&gt;<br>
  #include &lt;unistd.h&gt;<br>
  #include &lt;stdlib.h&gt;<br>
*** ./sanei/sanei_ab306.c.orig	Wed Dec 24 09:10:43 1997<br>
--- ./sanei/sanei_ab306.c	Thu Feb  5 06:52:36 1998<br>
***************<br>
*** 51,57 ****<br>
  # include &lt;sys/io.h&gt;	/* use where available (glibc 2.x, for example) */<br>
  #elif HAVE_ASM_IO_H<br>
  # include &lt;asm/io.h&gt;	/* ugly, but backwards compatible */<br>
! #elif defined(__i386__)  &amp;&amp; defined (__GNUC__)<br>
  <br>
  static __inline__ void<br>
  outb (u_char value, u_long port)<br>
--- 51,57 ----<br>
  # include &lt;sys/io.h&gt;	/* use where available (glibc 2.x, for example) */<br>
  #elif HAVE_ASM_IO_H<br>
  # include &lt;asm/io.h&gt;	/* ugly, but backwards compatible */<br>
! #elif defined(__i386__)  &amp;&amp; defined (__GNUC__) &amp;&amp; ! defined (__sun)<br>
  <br>
  static __inline__ void<br>
  outb (u_char value, u_long port)<br>
*** ./sanei/sanei_scsi.c.orig	Thu Feb 19 23:10:42 1998<br>
--- ./sanei/sanei_scsi.c	Thu Feb 19 23:20:06 1998<br>
***************<br>
*** 1378,1384 ****<br>
    /* use 2 second timeout when probing, 60 seconds otherwise: */<br>
    scmd.timeout = probing ? 2 : DEF_TIMEOUT;<br>
    memcpy (&amp;scmd.cdb.g0_cdb.cmd, src, cdb_size);<br>
!   scmd.cdb.cmd_cdb[1] = fd_info[fd].lun &lt;&lt; 5;<br>
    if (ioctl (fd, SCGIO_CMD, &amp;scmd) &lt; 0)<br>
      return SANE_STATUS_IO_ERROR;<br>
    if (dst_size)<br>
--- 1378,1384 ----<br>
    /* use 2 second timeout when probing, 60 seconds otherwise: */<br>
    scmd.timeout = probing ? 2 : DEF_TIMEOUT;<br>
    memcpy (&amp;scmd.cdb.g0_cdb.cmd, src, cdb_size);<br>
!   scmd.cdb.cmd_cdb[1] |= fd_info[fd].lun &lt;&lt; 5;<br>
    if (ioctl (fd, SCGIO_CMD, &amp;scmd) &lt; 0)<br>
      return SANE_STATUS_IO_ERROR;<br>
    if (dst_size)<br>
*** ./tools/find-scanner.c.orig	Thu Feb 19 23:29:22 1998<br>
--- ./tools/find-scanner.c	Thu Feb  5 06:54:18 1998<br>
***************<br>
*** 340,353 ****<br>
  	  "/dev/gsc8",  "/dev/gsc9",  "/dev/gsc10", "/dev/gsc11", <br>
  	  "/dev/gsc12", "/dev/gsc13", "/dev/gsc14", "/dev/gsc15", <br>
  #elif defined(__sun)<br>
! 	  "/dev/scg0:0", "/dev/scg0:1", "/dev/scg0:2", "/dev/scg0:3",<br>
! 	  "/dev/scg0:4", "/dev/scg0:5", "/dev/scg0:6", "/dev/scg0:7",<br>
! 	  "/dev/scg1:0", "/dev/scg1:1", "/dev/scg1:2", "/dev/scg1:3",<br>
! 	  "/dev/scg1:4", "/dev/scg1:5", "/dev/scg1:6", "/dev/scg1:7",<br>
! 	  "/dev/scg2:0", "/dev/scg2:1", "/dev/scg2:2", "/dev/scg2:3",<br>
! 	  "/dev/scg2:4", "/dev/scg2:5", "/dev/scg2:6", "/dev/scg2:7",<br>
  	  "/dev/sg/0", "/dev/sg/1", "/dev/sg/2", "/dev/sg/3",<br>
! 	  "/dev/sg/4", "/dev/sg/5", "/dev/sg/6", "/dev/sg/7",<br>
  #endif<br>
  	  0<br>
  	};<br>
--- 340,353 ----<br>
  	  "/dev/gsc8",  "/dev/gsc9",  "/dev/gsc10", "/dev/gsc11", <br>
  	  "/dev/gsc12", "/dev/gsc13", "/dev/gsc14", "/dev/gsc15", <br>
  #elif defined(__sun)<br>
! 	  "/dev/scg0a", "/dev/scg0b", "/dev/scg0c", "/dev/scg0d",<br>
! 	  "/dev/scg0e", "/dev/scg0f", "/dev/scg0g", <br>
! 	  "/dev/scg1a", "/dev/scg1b", "/dev/scg1c", "/dev/scg1d",<br>
! 	  "/dev/scg1e", "/dev/scg1f", "/dev/scg1g",<br>
! 	  "/dev/scg2a", "/dev/scg2b", "/dev/scg2c", "/dev/scg2d",<br>
! 	  "/dev/scg2e", "/dev/scg2f", "/dev/scg2g",<br>
  	  "/dev/sg/0", "/dev/sg/1", "/dev/sg/2", "/dev/sg/3",<br>
! 	  "/dev/sg/4", "/dev/sg/5", "/dev/sg/6",<br>
  #endif<br>
  	  0<br>
  	};<br>
<p>
--Flock_of_Ostrich_337_000--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0136.html">Martin Huber: "Re: someone working on hp-backend ?"</a>
<li> <b>Previous message:</b> <a href="0134.html">Feico Dillema: "How to send in patches/code ...."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
