<!-- received="Tue Feb 24 09:34:27 1998 PST" -->
<!-- sent="Tue, 24 Feb 1998 09:34:27 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="lj article now available" -->
<!-- id="199802241734.JAA15671@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: lj article now available</title>
<h1>lj article now available</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 24 Feb 1998 09:34:27 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#159">[ date ]</a><a href="index.html#159">[ thread ]</a><a href="subject.html#159">[ subject ]</a><a href="author.html#159">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">Tom Evans: "Re: What version of gtk to use?"</a>
<li> <b>Previous message:</b> <a href="0158.html">David Mosberger-Tang: "Re: microtek E6 problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The tutorial article on SANE that appeared in Linux Journal March '98<br>
is now available on the home page (under "Tutorial").  The url is:<br>
<p>
	<a href="http://www.mostang.com/sane/lj98/">http://www.mostang.com/sane/lj98/</a><br>
<p>
I converted it to latex late last night and consequently needs some<br>
more double-checking, but what's there right now should be a lot<br>
better than nothing (suggestions for improvements welcome).<br>
<p>
Cheers,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">Tom Evans: "Re: What version of gtk to use?"</a>
<li> <b>Previous message:</b> <a href="0158.html">David Mosberger-Tang: "Re: microtek E6 problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
