<!-- received="Wed Feb 25 18:16:51 1998 PST" -->
<!-- sent="26 Feb 1998 11:15:49 +0900" -->
<!-- name="Kaz Sasayama" -->
<!-- email="Kaz.Sasayama@hypercore.co.jp" -->
<!-- subject="Re: Epson GT8000 (was Re: Epson GT-5500)" -->
<!-- id="" -->
<!-- inreplyto="Wed, 25 Feb 1998 20:10:39 +0100" -->
<title>sane-devel: Re: Epson GT8000 (was Re: Epson GT-5500)</title>
<h1>Re: Epson GT8000 (was Re: Epson GT-5500)</h1>
<b>Kaz Sasayama</b> (<a href="mailto:Kaz.Sasayama@hypercore.co.jp"><i>Kaz.Sasayama@hypercore.co.jp</i></a>)<br>
<i>26 Feb 1998 11:15:49 +0900</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#176">[ date ]</a><a href="index.html#176">[ thread ]</a><a href="subject.html#176">[ subject ]</a><a href="author.html#176">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">David Mosberger-Tang: "RE: ScanExpress"</a>
<li> <b>Previous message:</b> <a href="0175.html">Oliver.Rauch@Wolfsburg.DE: "Re: Request for Information"</a>
<li> <b>In reply to:</b> <a href="0174.html">Matthias Trute: "Epson GT8000 (was Re: Epson GT-5500)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0187.html">Matthias Trute: "Re: Epson GT8000 (was Re: Epson GT-5500)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Can you make a copy of debug output (setenv SANE_DEBUG_EPSON<br>
to 3 or more)?<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 25 Feb 1998 20:10:39 +0100, Matthias Trute &lt;<a href="mailto:mtrute@r-w.de">mtrute@r-w.de</a>&gt; said:</i><br>
<p>
    MT&gt; I applied the patch and the scanner <br>
    MT&gt; ist identified when starting xscanimage<br>
    MT&gt; but neither preview nor scan work. It resets<br>
    MT&gt; somehow (moves it's tray) and gives the<br>
    MT&gt; error message: "Failed to start scanner: Invalid argument"<br>
<p>
<pre>
-- 
Kaz Sasayama &lt;<a href="mailto:Kaz.Sasayama@hypercore.co.jp">Kaz.Sasayama@hypercore.co.jp</a>&gt;
Hypercore Software Design, Ltd. &lt;URL:<a href="http://www.hypercore.co.jp/">http://www.hypercore.co.jp/</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">David Mosberger-Tang: "RE: ScanExpress"</a>
<li> <b>Previous message:</b> <a href="0175.html">Oliver.Rauch@Wolfsburg.DE: "Re: Request for Information"</a>
<li> <b>In reply to:</b> <a href="0174.html">Matthias Trute: "Epson GT8000 (was Re: Epson GT-5500)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0187.html">Matthias Trute: "Re: Epson GT8000 (was Re: Epson GT-5500)"</a>
<!-- reply="end" -->
</ul>
