<!-- received="Sat May  1 11:46:31 1999 PDT" -->
<!-- sent="Sat, 1 May 1999 11:40:02 -0700" -->
<!-- name="robc" -->
<!-- email="robc@robinsonheli.com" -->
<!-- subject="AGFA Arcus II" -->
<!-- id="99050111405400.10847@host2.rhc" -->
<!-- inreplyto="" -->
<title>sane-devel: AGFA Arcus II</title>
<h1>AGFA Arcus II</h1>
<b>robc</b> (<a href="mailto:robc@robinsonheli.com"><i>robc@robinsonheli.com</i></a>)<br>
<i>Sat, 1 May 1999 11:40:02 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#3">[ date ]</a><a href="index.html#3">[ thread ]</a><a href="subject.html#3">[ subject ]</a><a href="author.html#3">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Oliver Rauch: "Re: xsane default sizes"</a>
<li> <b>Previous message:</b> <a href="0002.html">Dr. Andreas Bolsch: "Re: library mismatches"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0013.html">Petter Reinholdtsen: "Re: AGFA Arcus II"</a>
<li> <b>Reply:</b> <a href="0013.html">Petter Reinholdtsen: "Re: AGFA Arcus II"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 I've got an Agfa ARCUS II working with SANE version<br>
1.01 under Red Hat5.2<br>
<p>
 I noticed it's not on the supported list.<br>
<p>
 Thanks<br>
<p>
<pre>
--
<p>
<p>
Rob Cakebread
Robinson Helicopter Company
2901 Airport Drive
Torrance, CA 90505
(310) 539-0508 ext 135
(310) 539-5198 fax
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Oliver Rauch: "Re: xsane default sizes"</a>
<li> <b>Previous message:</b> <a href="0002.html">Dr. Andreas Bolsch: "Re: library mismatches"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0013.html">Petter Reinholdtsen: "Re: AGFA Arcus II"</a>
<li> <b>Reply:</b> <a href="0013.html">Petter Reinholdtsen: "Re: AGFA Arcus II"</a>
<!-- reply="end" -->
</ul>
