<!-- received="Sun May  2 03:47:14 1999 PDT" -->
<!-- sent="Sun, 2 May 1999 12:47:17 +0200 (CEST)" -->
<!-- name="ekaiser" -->
<!-- email="ekaiser@snafu.de" -->
<!-- subject="probs with AGFA Snapscan 600" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: probs with AGFA Snapscan 600</title>
<h1>probs with AGFA Snapscan 600</h1>
<b>ekaiser</b> (<a href="mailto:ekaiser@snafu.de"><i>ekaiser@snafu.de</i></a>)<br>
<i>Sun, 2 May 1999 12:47:17 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#6">[ date ]</a><a href="index.html#6">[ thread ]</a><a href="subject.html#6">[ subject ]</a><a href="author.html#6">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">Hugo van der Kooij: "Re: probs with AGFA Snapscan 600"</a>
<li> <b>Previous message:</b> <a href="0005.html">Oliver Rauch: "Re: May sane_init fail?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0055.html">gmp@superlink.net: "Re: probs with AGFA Snapscan 600"</a>
<li> <b>Reply:</b> <a href="0055.html">gmp@superlink.net: "Re: probs with AGFA Snapscan 600"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hallo!<br>
I've installed linux some weeks agon and now tried to use my scanner.<br>
I'm using sane 0.73 and when I enter "xerox" it says:<br>
scanimage: open of device snapscan:/dev/scanner failed: Invalid argument<br>
pgmtopbm: EOF / read error reading magic number<br>
pbmtolj: EOF / read error reading magic number<br>
lpr: stdin: empty input file<br>
--------------------------------------------<br>
xerox reads as follows:<br>
#!/bin/sh<br>
#<br>
# This is a xerox script for Laserjet Printer.<br>
# To get use of Postscript change the Printercommand and enable the<br>
# command at the end of this File.<br>
#<br>
DEV=snapscan:/dev/scanner<br>
RES=300<br>
#PAPERTYPE=letter<br>
PAPERTYPE=a4<br>
#PRINTERTYPE=ps<br>
PRINTERTYPE=lj<br>
#<br>
# Non-printable area (left, right, top, and bottom margins):<br>
#<br>
LMARGIN=0.0<br>
RMARGIN=0.0<br>
TMARGIN=0.25<br>
BMARGIN=0.0<br>
#<br>
# Scanner-specific options:<br>
#<br>
DEVOPTS="--mode Gray"<br>
#DEVOPTS="$DEVOPTS --custom-gamma=yes --gamma-table [0]0-[64]128-[255]255"<br>
#DEVOPTS="$DEVOPTS --backtrack=yes"	 # needed for Mustek 12000SP<br>
#<br>
# Printer Command/Resolution<br>
PRES=$RES # change this if other Res. is desired<br>
#<br>
# Papersize in inch<br>
if [ "$PAPERTYPE" = "letter" ]; then<br>
  WIDTH=8; HEIGHT=10<br>
else<br>
  # assume a4 paper<br>
  WIDTH=8.27; HEIGHT=11.69<br>
fi<br>
<p>
SCANWIDTH=`bc &lt;&lt;_EOF_ <br>
scale=3<br>
$WIDTH-$LMARGIN-$RMARGIN<br>
_EOF_`<br>
SCANHEIGHT=`bc &lt;&lt;_EOF_ <br>
scale=3<br>
$HEIGHT-$TMARGIN-$BMARGIN<br>
_EOF_`<br>
#<br>
SCALE=`bc &lt;&lt; _EOF_<br>
scale=3<br>
75/$RES<br>
_EOF_`<br>
<p>
if [ "$PRINTERTYPE" = "ps" ]; then<br>
  POST="pnmtops -rle -scale $SCALE -dpi $PRES | lpr"<br>
else<br>
  POST="pgmtopbm | pbmtolj -resolution $PRES | lpr -Praw"<br>
fi<br>
<p>
scanimage -d $DEV \<br>
	-x $SCANWIDTH\" -y $SCANHEIGHT\" -l $LMARGIN\" -t $TMARGIN\" \<br>
        --resolution $RES $DEVOPTS | eval $POST<br>
----------------------------------------------------------<br>
Does anybody have an idea what's going wrong?<br>
TIA Erwin.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">Hugo van der Kooij: "Re: probs with AGFA Snapscan 600"</a>
<li> <b>Previous message:</b> <a href="0005.html">Oliver Rauch: "Re: May sane_init fail?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0055.html">gmp@superlink.net: "Re: probs with AGFA Snapscan 600"</a>
<li> <b>Reply:</b> <a href="0055.html">gmp@superlink.net: "Re: probs with AGFA Snapscan 600"</a>
<!-- reply="end" -->
</ul>
