<!-- received="Sun May  2 04:49:49 1999 PDT" -->
<!-- sent="Sun, 2 May 1999 13:52:20 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Update of microtek2 backend" -->
<!-- id="" -->
<!-- inreplyto="no.id" -->
<title>sane-devel: Re: Update of microtek2 backend</title>
<h1>Re: Update of microtek2 backend</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Sun, 2 May 1999 13:52:20 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#9">[ date ]</a><a href="index.html#9">[ thread ]</a><a href="subject.html#9">[ subject ]</a><a href="author.html#9">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">ekaiser: "Re: probs with AGFA Snapscan 600"</a>
<li> <b>Previous message:</b> <a href="0008.html">Bernd Schroeder: "Update of microtek2 backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi, <br>
<p>
On Sun, May 02, 1999 at 01:43:20PM +0200, Bernd Schroeder wrote:<br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; I have uploaded a new version of the microtek2 backend to</i><br>
<i>&gt; </i><br>
<i>&gt;  ftp.//ftp.muc.de/people/bernds/mtek2/microtek2-0.7.tar.gz .</i><br>
<p>
Sorry, a typo in the URL. It should read:<br>
<p>
 <a href="ftp://ftp.muc.de/people/bernds/mtek2/microtek2-0.7.tar.gz">ftp://ftp.muc.de/people/bernds/mtek2/microtek2-0.7.tar.gz</a><br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">ekaiser: "Re: probs with AGFA Snapscan 600"</a>
<li> <b>Previous message:</b> <a href="0008.html">Bernd Schroeder: "Update of microtek2 backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
