<!-- received="Tue May  4 05:14:08 1999 PDT" -->
<!-- sent="Tue, 4 May 1999 14:12:55 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Question" -->
<!-- id="" -->
<!-- inreplyto="372EE36B384.F15EBENDER@relay1.spu.edu.ar" -->
<title>sane-devel: Re: Question</title>
<h1>Re: Question</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Tue, 4 May 1999 14:12:55 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#35">[ date ]</a><a href="index.html#35">[ thread ]</a><a href="subject.html#35">[ subject ]</a><a href="author.html#35">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">Pablo Bendersky: "Re: Question"</a>
<li> <b>Previous message:</b> <a href="0034.html">Pablo Bendersky: "Question"</a>
<li> <b>In reply to:</b> <a href="0034.html">Pablo Bendersky: "Question"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 4 May 1999, Pablo Bendersky wrote:<br>
<p>
<i>&gt; I've compiled and installed SANE 1.0 to use it with my scanner.</i><br>
<i>&gt; I'm running linux mandrake 5.3 ( It's almost the same as Red Hat 5.2, I</i><br>
<i>&gt; think ) and the scanner I want to use is a Genius Colorpage Vivid Pro.</i><br>
<i>&gt; It's a parallel port scanner, with about 300*300 optical resolution.</i><br>
<i>&gt; I installed SANE, but I don't know how to configure it. Also, I don't</i><br>
<i>&gt; have a /dev/scanner</i><br>
<i>&gt; My scanner is attached to /dev/lp0, the same port as the printer is.</i><br>
<p>
Too bad. Parallel scanners are (almost) not supported.<br>
<p>
Hugo.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">Pablo Bendersky: "Re: Question"</a>
<li> <b>Previous message:</b> <a href="0034.html">Pablo Bendersky: "Question"</a>
<li> <b>In reply to:</b> <a href="0034.html">Pablo Bendersky: "Question"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
