<!-- received="Wed May  5 09:56:32 1999 PDT" -->
<!-- sent="Tue, 4 May 1999 18:25:03 +0100 (BST)" -->
<!-- name="Gordon Scott" -->
<!-- email="gordon@apis.demon.co.uk" -->
<!-- subject="Re: probs with AGFA Snapscan 600" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.05.9905021243390.275-100000@eins.kaiser.de" -->
<title>sane-devel: Re: probs with AGFA Snapscan 600</title>
<h1>Re: probs with AGFA Snapscan 600</h1>
<b>Gordon Scott</b> (<a href="mailto:gordon@apis.demon.co.uk"><i>gordon@apis.demon.co.uk</i></a>)<br>
<i>Tue, 4 May 1999 18:25:03 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#46">[ date ]</a><a href="index.html#46">[ thread ]</a><a href="subject.html#46">[ subject ]</a><a href="author.html#46">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Mitchell Urquhart Open Systems Engineer: "Please remind me how to unsubscribe"</a>
<li> <b>Previous message:</b> <a href="0045.html">Yuri Dario: "Re: Acer Prisa 620S now working with SANE-1.01"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 2 May 1999, ekaiser wrote:<br>
<p>
<i>&gt; I've installed linux some weeks agon and now tried to use my scanner.</i><br>
<i>&gt; I'm using sane 0.73 and when I enter "xerox" it says:</i><br>
<i>&gt; scanimage: open of device snapscan:/dev/scanner failed: Invalid argument</i><br>
<p>
I'm no expert at this, but I think that's where the failure occured....<br>
<p>
<i>&gt; pgmtopbm: EOF / read error reading magic number</i><br>
<i>&gt; pbmtolj: EOF / read error reading magic number</i><br>
<i>&gt; lpr: stdin: empty input file</i><br>
<p>
I think all those are just because there's no (valid?) data.<br>
<p>
&lt;snip&gt;<br>
<p>
<i>&gt; scanimage -d $DEV \</i><br>
<i>&gt; 	-x $SCANWIDTH\" -y $SCANHEIGHT\" -l $LMARGIN\" -t $TMARGIN\" \</i><br>
<i>&gt;         --resolution $RES $DEVOPTS | eval $POST</i><br>
<p>
So I'd try running the above, inserting the options gradually until you<br>
find out which one breaks it, and/or try running the xerox script with<br>
debugging on to verify that the arguments sensible. You could dump the<br>
output to file whilst doing this and see what the file command makes of<br>
it. <br>
<p>
I'm curious that the same error is apparently absent from the 1.01<br>
version as the rest of the failure looks very similar.<br>
<p>
Regards,<br>
	Gordon.<br>
<pre>
--
Gordon Scott   <a href="mailto:gordon@apis.demon.co.uk">gordon@apis.demon.co.uk</a>      gordon@multitone.co.uk (work)
&lt;A HREF="<a href="http://www.apis.demon.co.uk">http://www.apis.demon.co.uk</a>"&gt;Gordon's Apis Home Page&lt;/A&gt;
Beekeeper; Kendo 3rd Dan, retd :-(; Sometime sailor.  Hampshire, England.
	    Linux -- Because I like to *get* there today.
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Mitchell Urquhart Open Systems Engineer: "Please remind me how to unsubscribe"</a>
<li> <b>Previous message:</b> <a href="0045.html">Yuri Dario: "Re: Acer Prisa 620S now working with SANE-1.01"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
