<!-- received="Fri May  7 10:38:28 1999 PDT" -->
<!-- sent="Fri, 7 May 1999 19:37:17 +0000" -->
<!-- name="Michele Bini" -->
<!-- email="mibin@tin.it" -->
<!-- subject="parport scanners and the 90c26 adapter" -->
<!-- id="" -->
<!-- inreplyto="199812161534.KAA28977@knot.torque.net" -->
<title>sane-devel: parport scanners and the 90c26 adapter</title>
<h1>parport scanners and the 90c26 adapter</h1>
<b>Michele Bini</b> (<a href="mailto:mibin@tin.it"><i>mibin@tin.it</i></a>)<br>
<i>Fri, 7 May 1999 19:37:17 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#62">[ date ]</a><a href="index.html#62">[ thread ]</a><a href="subject.html#62">[ subject ]</a><a href="author.html#62">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">grant@torque.net: "Re: parport scanners and the 90c26 adapter"</a>
<li> <b>Previous message:</b> <a href="0061.html">Dr. Andreas Bolsch: "Re: Why is my Mustek Scanner not found?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, Dec 16, 1998 at 10:34:08AM -0500, <a href="mailto:grant@torque.net">grant@torque.net</a> wrote:<br>
<i>&gt; &gt; Some guys from SANE development, just pointed to your group...</i><br>
<i>&gt; &gt; I'm looking for driver to use ParPort scanner (Microtek V600 in my case)</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Is somebody is working on this ?</i><br>
<i>&gt; </i><br>
<i>&gt; The short answer is yes, it is being worked on.</i><br>
<p>
Who is working on it?<br>
<p>
I'd like to work on the code produced so far,<br>
even if it is still at an experimental stage.<br>
<p>
I received a Phantom 336CX scanner as a present<br>
from a friend, and it seems to have a 90c26<br>
parallel-scsi adapter in it.<br>
<p>
Using the paride on26 module i'm currently able to<br>
turn off and on the led on it, and the driver seems<br>
to be able to talk to the chip at first, but after<br>
a few seconds it timeouts giving<br>
	<br>
	on26: Device reset failed (ff,ff)<br>
<p>
Thank you for your attention.<br>
<p>
-Michele<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">grant@torque.net: "Re: parport scanners and the 90c26 adapter"</a>
<li> <b>Previous message:</b> <a href="0061.html">Dr. Andreas Bolsch: "Re: Why is my Mustek Scanner not found?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
