<!-- received="Tue May 11 06:35:20 1999 PDT" -->
<!-- sent="Tue, 11 May 1999 06:34:49 -0700" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="Re: [Announce] WinSANE 0.1.0.0 Release" -->
<!-- id="" -->
<!-- inreplyto="[Announce] WinSANE 0.1.0.0 Release" -->
<title>sane-devel: Re: [Announce] WinSANE 0.1.0.0 Release</title>
<h1>Re: [Announce] WinSANE 0.1.0.0 Release</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Tue, 11 May 1999 06:34:49 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#91">[ date ]</a><a href="index.html#91">[ thread ]</a><a href="subject.html#91">[ subject ]</a><a href="author.html#91">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Nick Lamb: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0090.html">John Profic: "Re: saned troubles"</a>
<li> <b>Maybe in reply to:</b> <a href="0070.html">Brian Macy: "[Announce] WinSANE 0.1.0.0 Release"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0104.html">Matthias Fleischer: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; A month ago there was some talk on this list about a standard 16 bit</i><br>
<i>&gt; format. But that thread abrubtly ended and as far as I know nothing</i><br>
<i>&gt; concrete transpired out of it. That would mean that the SANE standard</i><br>
<i>&gt; still does not define any standard &gt;8 bit format, and the deep bit data</i><br>
<i>&gt; is packed as it comes out of the scanner (i.e. vendor specific).</i><br>
<p>
:) I guess I'll hold of &gt;8bit support until there is some agreement on it. I<br>
can tell you right now that if my frontend has to specifically support<br>
different scanners for &gt;8bit that it ain't going to happen. I doubt this is<br>
the desire of the SANE project either.<br>
<p>
Which is MSB xxxxxx98 76543210 is the way that the HP backend data then it<br>
is perfectly acceptable, lame but acceptable. It just doesn't scale the<br>
value and the image will need to be brightened... if it is bit packed then<br>
that is a problem.<br>
<p>
Brian Macy<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Nick Lamb: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0090.html">John Profic: "Re: saned troubles"</a>
<li> <b>Maybe in reply to:</b> <a href="0070.html">Brian Macy: "[Announce] WinSANE 0.1.0.0 Release"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0104.html">Matthias Fleischer: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- reply="end" -->
</ul>
