<!-- received="Tue May 11 07:28:29 1999 PDT" -->
<!-- sent="Tue, 11 May 1999 15:28:04 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: [Announce] WinSANE 0.1.0.0 Release" -->
<!-- id="" -->
<!-- inreplyto="006a01be9bb3$0b23cf20$499672cf@sunshinecomputing.com" -->
<title>sane-devel: Re: [Announce] WinSANE 0.1.0.0 Release</title>
<h1>Re: [Announce] WinSANE 0.1.0.0 Release</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Tue, 11 May 1999 15:28:04 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#93">[ date ]</a><a href="index.html#93">[ thread ]</a><a href="subject.html#93">[ subject ]</a><a href="author.html#93">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">Emanuele Campra: "Fujitsu Scanpartner 300C support"</a>
<li> <b>Previous message:</b> <a href="0092.html">Nick Lamb: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 11 May 1999, Brian Macy wrote:<br>
<p>
<i>&gt; :) I guess I'll hold of &gt;8bit support until there is some agreement on it. I</i><br>
<i>&gt; can tell you right now that if my frontend has to specifically support</i><br>
<i>&gt; different scanners for &gt;8bit that it ain't going to happen. I doubt this is</i><br>
<i>&gt; the desire of the SANE project either.</i><br>
<p>
There already is agreement on the SANE standard, the source of disagreement<br>
is Ewald's (as yet unreleased) frontend, and perhaps the HP backend, which<br>
are apparently non-compliant. There are no end of non-compliant and down<br>
right broken components in the sample implementation, so  when the<br>
behaviour you see in a SANE component disagrees with the standard, it's<br>
usually because the observed behaviour is wrong.<br>
<p>
I think I got the most vital examples fixed for 1.0.1, so you should get<br>
that if you're having problems. I am working on a testbed backend, complete<br>
with 12-bit and 16-bit support but it won't be finished for a while yet.<br>
<p>
<i>&gt; Which is MSB xxxxxx98 76543210 is the way that the HP backend data then it</i><br>
<i>&gt; is perfectly acceptable, lame but acceptable. It just doesn't scale the</i><br>
<i>&gt; value and the image will need to be brightened... if it is bit packed then</i><br>
<i>&gt; that is a problem.</i><br>
<p>
I'm still hoping this is a dreadful mistake in the HP backend, and the<br>
actual hardware format doesn't resemble this at all. It's an incredibly<br>
stupid alignment, not least because it's not convenient for any apps,<br>
except perhaps Ewald's (as yet unreleased) frontend. If they've done this<br>
in hardware, SANE compliance is the least of their worries.<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">Emanuele Campra: "Fujitsu Scanpartner 300C support"</a>
<li> <b>Previous message:</b> <a href="0092.html">Nick Lamb: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
