<!-- received="Tue May 11 09:46:54 1999 PDT" -->
<!-- sent="Tue, 11 May 1999 18:23:33 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: re Mustek scanner" -->
<!-- id="" -->
<!-- inreplyto="re Mustek scanner" -->
<title>sane-devel: Re: re Mustek scanner</title>
<h1>Re: re Mustek scanner</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 11 May 1999 18:23:33 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#98">[ date ]</a><a href="index.html#98">[ thread ]</a><a href="subject.html#98">[ subject ]</a><a href="author.html#98">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Nick Lamb: "Re: re Mustek scanner"</a>
<li> <b>Previous message:</b> <a href="0097.html">Ewald R. de Wit: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Maybe in reply to:</b> <a href="0083.html">Norman Elliott: "re Mustek scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Norman Elliott wrote:<br>
<p>
<i>&gt; My Advansys 2930U SCSI card can see my</i><br>
<i>&gt; Mustek SE6000SP scanner but scanimage -T</i><br>
<i>&gt; reports no SANE devices found.</i><br>
<i>&gt; find-scanner finds nothing.</i><br>
<i>&gt; This is true when I am logged in as root</i><br>
<i>&gt; so it doesn't seem to be a permissions</i><br>
<i>&gt; problem.</i><br>
<i>&gt; I have a link /dev/scanner pointing to /dev/sgg</i><br>
<i>&gt; which I believe is SCSI ID 6. This is the SCSI</i><br>
<i>&gt; ID my scanner is set to.</i><br>
<i>&gt; I also have an Adaptec 1542 SCSI card which has</i><br>
<i>&gt; my SCSI h/d and cdrom hanging off it. I have tried</i><br>
<i>&gt; the scanner on this card with the same result.</i><br>
<i>&gt;</i><br>
<i>&gt; Any ideas guys?</i><br>
<i>&gt; thanks</i><br>
<i>&gt; norm</i><br>
<p>
Did you enable generic scsi support in the kernel?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Nick Lamb: "Re: re Mustek scanner"</a>
<li> <b>Previous message:</b> <a href="0097.html">Ewald R. de Wit: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Maybe in reply to:</b> <a href="0083.html">Norman Elliott: "re Mustek scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
