<!-- received="Wed May 12 02:46:36 1999 PDT" -->
<!-- sent="Wed, 12 May 1999 11:47:28 +0200" -->
<!-- name="Ewald R. de Wit" -->
<!-- email="ewald@pobox.com" -->
<!-- subject="Re: [Announce] WinSANE 0.1.0.0 Release" -->
<!-- id="" -->
<!-- inreplyto="4BF07EF459E@ito311.ito.uni-stuttgart.de" -->
<title>sane-devel: Re: [Announce] WinSANE 0.1.0.0 Release</title>
<h1>Re: [Announce] WinSANE 0.1.0.0 Release</h1>
<b>Ewald R. de Wit</b> (<a href="mailto:ewald@pobox.com"><i>ewald@pobox.com</i></a>)<br>
<i>Wed, 12 May 1999 11:47:28 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#105">[ date ]</a><a href="index.html#105">[ thread ]</a><a href="subject.html#105">[ subject ]</a><a href="author.html#105">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Milon Firikis: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0104.html">Matthias Fleischer: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Matthias Fleischer (<a href="mailto:FLEISCHER@ito311.ito.uni-stuttgart.de">FLEISCHER@ito311.ito.uni-stuttgart.de</a>) wrote:<br>
<p>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; ----------</i><br>
<i>&gt; &gt; Valid bit depths are 1, 8, or 16 bits per sample.  If a device's</i><br>
<i>&gt; &gt; natural bit depth is something else, it is up to the driver to scale</i><br>
<i>&gt; &gt; the sample values appropriately (e.g., a 4 bit sample could be scaled</i><br>
<i>&gt; &gt; by a factor of four to represent a sample value of depth 8).</i><br>
<i>&gt; &gt; ----------</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; Maybe I'm just nitpicking or simply don't get it -</i><br>
<i>&gt; but shouldn't this actually read:</i><br>
<i>&gt; </i><br>
<i>&gt; ...a 4 bit sample could be scaled by a factor of _seventeen_...</i><br>
<i>&gt; </i><br>
<i>&gt; or maybe</i><br>
<i>&gt; </i><br>
<i>&gt; e.g., a 4 bit sample could be shifted left by 4 bit to represent a </i><br>
<i>&gt; sample value of depth 8 or even better multiplied by a factor of</i><br>
<i>&gt; 0x11 (17) so that white pixels still map to white pixels (15*17=255)</i><br>
<p>
Yes, that is correct. Going from 8 &lt; n &lt; 16 bits to 16 bits is a bit<br>
trickier; you then use<br>
<p>
scaled = unscaled &lt;&lt; (newlen - oldlen) +<br>
         unscaled &gt;&gt; (oldlen - (newlen - oldlen))<br>
<p>
with newlen=16 and oldlen the original bit depth.<br>
Andreas Beck was so friendly to explain this in more detail in a<br>
message to this listed dated 6 Apr 1999.<br>
<p>
I implemented it like this in the HP backend (although it uses<br>
little CPU I'm open to suggestions on optimizing):<br>
<p>
static void<br>
hp_scale_to_16bit(int count, register unsigned char *data, int depth)<br>
{<br>
    register uint tmp;<br>
    int shift1 = 16 - depth;<br>
    int shift2 = 2*depth - 16;<br>
    if (count &lt;= 0) return;<br>
<p>
    while (count--) {<br>
        tmp = 256*data[0] + data[1];<br>
        tmp = (tmp &lt;&lt; shift1) + (tmp &gt;&gt; shift2);<br>
        data[0] = (tmp &gt;&gt; 8) &amp; 255U;<br>
        data[1] = tmp &amp; 255U;<br>
        data += 2;<br>
    }<br>
}<br>
<p>
<pre>
-- 
  --  Ewald
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Milon Firikis: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0104.html">Matthias Fleischer: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
