<!-- received="Wed May 12 17:48:16 1999 PDT" -->
<!-- sent="Thu, 13 May 1999 10:48:21 +1000 (EST)" -->
<!-- name="Graham Stoney" -->
<!-- email="greyham@research.canon.com.au" -->
<!-- subject="Re: [Announce] WinSANE 0.1.0.0 Release" -->
<!-- id="199905130048.KAA13753@sid.research.canon.com.au" -->
<!-- inreplyto="3739C3DA.FB25A15B@ariadne-t.gr" -->
<title>sane-devel: Re: [Announce] WinSANE 0.1.0.0 Release</title>
<h1>Re: [Announce] WinSANE 0.1.0.0 Release</h1>
<b>Graham Stoney</b> (<a href="mailto:greyham@research.canon.com.au"><i>greyham@research.canon.com.au</i></a>)<br>
<i>Thu, 13 May 1999 10:48:21 +1000 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#116">[ date ]</a><a href="index.html#116">[ thread ]</a><a href="subject.html#116">[ subject ]</a><a href="author.html#116">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">Nick Lamb: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0115.html">Andreas Dilger: "Re: 16-bit samples"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Milon Firikis writes:<br>
<i>&gt; &gt; IMO it does make a difference weather white is really white</i><br>
<i>&gt; &gt; (255) or light grey (240) once you print it out on paper.</i><br>
<i>&gt; </i><br>
<i>&gt; For gray images:</i><br>
<i>&gt; white --&gt; 0</i><br>
<i>&gt; black --&gt; 255 (240)</i><br>
<p>
If you're talking about the K channel in CMYK, that's true; but grayscale<br>
images usually have the same polarity as RGB: 0 = black, maximal value = white.<br>
<p>
The point about multiplying by 17 instead of 16 when going from 12 bit to<br>
16 bit is that it preserves the maximal value for white if the frontend uses<br>
all 16 up-sampled bits.<br>
<p>
Regards,<br>
Graham<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">Nick Lamb: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0115.html">Andreas Dilger: "Re: 16-bit samples"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
