<!-- received="Mon May 17 12:08:16 1999 PDT" -->
<!-- sent="Mon, 17 May 1999 21:06:56 +0200" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: HP PhotoSmart strip lengths" -->
<!-- id="" -->
<!-- inreplyto="HP PhotoSmart strip lengths" -->
<title>sane-devel: Re: HP PhotoSmart strip lengths</title>
<h1>Re: HP PhotoSmart strip lengths</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Mon, 17 May 1999 21:06:56 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#157">[ date ]</a><a href="index.html#157">[ thread ]</a><a href="subject.html#157">[ subject ]</a><a href="author.html#157">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Fred Willingham: "Re: Coolscan LS-30 + best scanner"</a>
<li> <b>Previous message:</b> <a href="0156.html">David A. Cooley: "Acer PRISA 310P (Parallel)"</a>
<li> <b>Maybe in reply to:</b> <a href="0152.html">john allen pitney: "HP PhotoSmart strip lengths"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
john allen pitney wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi all!</i><br>
<i>&gt; </i><br>
<i>&gt; I'm playing with writing a little SANE frontend for my HP PhotoSmart.  It's</i><br>
<i>&gt; not going to be as general as xscanimage or XSane; I only want to duplicate</i><br>
<i>&gt; the HP frontend (with improvements possibly) using GTK and SANE.</i><br>
<i>&gt; </i><br>
<i>&gt; I wonder if anyone doing HP backend development has any leads on getting</i><br>
<i>&gt; the actual length of a film strip scan from the scanner?  The method I've</i><br>
<i>&gt; found for acquiring a preview scan of a strip of unknown length, is to</i><br>
<i>&gt; scan the whole thing using the maximum length, buffer everything including</i><br>
<i>&gt; the spurious bytes at the end, then quit sane and do sane_init again.  Now,</i><br>
<i>&gt; the HP backend reports a maximum scan length which corresponds to the</i><br>
<i>&gt; actual length of the film strip.  Unfortunately, this method has a couple</i><br>
<i>&gt; of problems: I have to buffer a lot of junk then throw it away later, and</i><br>
<i>&gt; the sane quit/restart cycle is a little slow.</i><br>
<i>&gt; </i><br>
<i>&gt; Is there any way to get the "end of film strip" signal from the scanner</i><br>
<i>&gt; during the sane_read() loop?</i><br>
<i>&gt; </i><br>
<p>
Hi John Allen,<br>
<p>
there is no such signal. After the film strip has moved into the scanner<br>
you can inquire the extent of the strip. Before the strip has moved into<br>
the scanner it reports the maximum supported extent. You can proof this<br>
by using xscanimage:<br>
<p>
Start it and you will see the maximum extent.<br>
Start a preview to move the strip into the scanner.<br>
Then change the scanmode to lineart. On that change sane will re-read<br>
the values from the scanner and display the extent of the film strip.<br>
<p>
<i>&gt; Also, I'm noticing that the image gets stretched in the Y direction for</i><br>
<i>&gt; any exposure setting which does not have a 100% Red exposure, that is,</i><br>
<i>&gt; only "Off" and "Negative" seem to have the proper dimensions.  I might</i><br>
<i>&gt; be remembering the effect I saw incorrectly, but I noticed something</i><br>
<i>&gt; along these lines.</i><br>
<i>&gt; </i><br>
<i>&gt; I'm using a Photosmart R032, by the way.</i><br>
<i>&gt; </i><br>
<p>
My Photosmart R029 does not show the stretching. It shows such<br>
stretching when scanning slides at resolutions which are not multiple of<br>
300 dpi.<br>
<p>
-- Peter<br>
<p>
<i>&gt; Thanks!</i><br>
<i>&gt; </i><br>
<i>&gt; John Pitney</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Fred Willingham: "Re: Coolscan LS-30 + best scanner"</a>
<li> <b>Previous message:</b> <a href="0156.html">David A. Cooley: "Acer PRISA 310P (Parallel)"</a>
<li> <b>Maybe in reply to:</b> <a href="0152.html">john allen pitney: "HP PhotoSmart strip lengths"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
