<!-- received="Thu May 20 18:22:38 1999 PDT" -->
<!-- sent="Fri, 21 May 1999 01:30:40 +0000" -->
<!-- name="Chris Bitmead" -->
<!-- email="chris.bitmead@bigfoot.com" -->
<!-- subject="Gamma and xsane" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Gamma and xsane</title>
<h1>Gamma and xsane</h1>
<b>Chris Bitmead</b> (<a href="mailto:chris.bitmead@bigfoot.com"><i>chris.bitmead@bigfoot.com</i></a>)<br>
<i>Fri, 21 May 1999 01:30:40 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#214">[ date ]</a><a href="index.html#214">[ thread ]</a><a href="subject.html#214">[ subject ]</a><a href="author.html#214">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">genkai wa doko da: "Umax scanner woes (halp!)"</a>
<li> <b>Previous message:</b> <a href="0213.html">Adam Williams: "Re: Not all devices?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0225.html">Oliver Rauch: "Re: Gamma and xsane"</a>
<li> <b>Reply:</b> <a href="0225.html">Oliver Rauch: "Re: Gamma and xsane"</a>
<li> <b>Reply:</b> <a href="0226.html">Chris Bitmead: "Re: Gamma and xsane"</a>
<li> <b>Reply:</b> <a href="0233.html">Oliver Rauch: "Re: Gamma and xsane"</a>
<li> <b>Reply:</b> <a href="0243.html">Oliver Rauch: "Re: Gamma and xsane"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've read a few things about what Gamma is and I think I understand it,<br>
but I'm still not clear on what the Gamma Slider does in xsane.<br>
<p>
Does the Gamma Slider:<br>
<p>
a) Have no effect on the resulting scan file, it merely assists viewing<br>
on your monitor.<br>
<p>
b) Modify the resulting scan file to look pleasant on your monitor (and<br>
thus render it potentially unpleasant on a different monitor).<br>
<p>
How does all this relate to web publishing? Let's say I found a utility<br>
to adjust the gamma of my monitor (apparently there is a windows utility<br>
at <a href="http://www.entechtaiwan.com">http://www.entechtaiwan.com</a>). Let's say I adjusted it to an ideal of<br>
1.0. That's wonderful for me, but then if I publish it on the web, it<br>
will look awful for everyone else.<br>
<p>
How does it relate to archiving images? Should I leave the gamma alone<br>
for an archived image and only adjust it for a web image?<br>
<p>
Also, I seem to be finding (as a newbie user of xsane who's only done a<br>
few scans) that the pics only look ok with the gamma turned right up.<br>
What does this mean?<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">genkai wa doko da: "Umax scanner woes (halp!)"</a>
<li> <b>Previous message:</b> <a href="0213.html">Adam Williams: "Re: Not all devices?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0225.html">Oliver Rauch: "Re: Gamma and xsane"</a>
<li> <b>Reply:</b> <a href="0225.html">Oliver Rauch: "Re: Gamma and xsane"</a>
<li> <b>Reply:</b> <a href="0226.html">Chris Bitmead: "Re: Gamma and xsane"</a>
<li> <b>Reply:</b> <a href="0233.html">Oliver Rauch: "Re: Gamma and xsane"</a>
<li> <b>Reply:</b> <a href="0243.html">Oliver Rauch: "Re: Gamma and xsane"</a>
<!-- reply="end" -->
</ul>
