<!-- received="Fri May 21 11:57:10 1999 PDT" -->
<!-- sent="Fri, 21 May 1999 14:03:04 +0000 (/etc/localtime)" -->
<!-- name="genkai wa doko da" -->
<!-- email="gauze@110.net" -->
<!-- subject="Re: Umax scanner woes (halp!)" -->
<!-- id="" -->
<!-- inreplyto="374554E9.75CE9758@wolfsburg.de" -->
<title>sane-devel: Re: Umax scanner woes (halp!)</title>
<h1>Re: Umax scanner woes (halp!)</h1>
<b>genkai wa doko da</b> (<a href="mailto:gauze@110.net"><i>gauze@110.net</i></a>)<br>
<i>Fri, 21 May 1999 14:03:04 +0000 (/etc/localtime)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#230">[ date ]</a><a href="index.html#230">[ thread ]</a><a href="subject.html#230">[ subject ]</a><a href="author.html#230">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0231.html">Andreas Beck: "Re: only negative output with scanimage (Canon Canoscan 300)"</a>
<li> <b>Previous message:</b> <a href="0229.html">Peter Kirchgessner: "Re: Any sane-ready scanner with ADF ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 21 May 1999, Oliver Rauch wrote:<br>
<i>&gt; &gt; scsi card: Always 2000 scsi card(I unhooked everything from the scsi chain except the scanner to get contamination free results btw!)</i><br>
<i>&gt; &gt; Detected scsi generic sga at scsi0, channel 0, id 3, lun 0</i><br>
<i>&gt; &gt; find-scanner: found scanner "  " at device /dev/sga</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; [umax] Found  scanner version  on device /dev/sga</i><br>
<i>&gt; &gt; [umax] attach_scanner: scanner-identification failed</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; this looks very much like you have problems with your scsi card or bus.</i><br>
<i>&gt; </i><br>
<i>&gt; How is your scanner terminated,</i><br>
<p>
I have a 25 pin terminater which I had to mail order from UMAX it connects<br>
to the 2nd external p.port type scsi connector on the back of the scanner<br>
<p>
<i>&gt; how long is the cable between scanner and computer,</i><br>
<p>
5'-6' (2 meters or so)<br>
<p>
<i>&gt; how long is the scsi-cable in the computer,</i><br>
<p>
there is no cable in the computer currently ,I disconnected the drive that<br>
was on it to eliminate other devices being the source of my problems.<br>
<p>
<p>
<i>&gt; how is the internal scsi bus terminated?</i><br>
<p>
hm internal? I shouldn't have to have anything terminated if there is<br>
nothing connected to it should I? I mean where would you even terminate<br>
it? (maybe I don't understand scsi enough hm)<br>
<p>
thanks gauze<br>
<p>
<pre>
--
Rhode Island Free Unix Group
<a href="http://www.rifug.org">http://www.rifug.org</a>
<p>
&gt; 
&gt; Bye
&gt; Oliver
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0231.html">Andreas Beck: "Re: only negative output with scanimage (Canon Canoscan 300)"</a>
<li> <b>Previous message:</b> <a href="0229.html">Peter Kirchgessner: "Re: Any sane-ready scanner with ADF ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
