<!-- received="Fri Aug  7 15:23:46 1998 PDT" -->
<!-- sent="Fri, 07 Aug 1998 18:12:20 -0500" -->
<!-- name="Matt Kuznicki" -->
<!-- email="kuznick@bgnet.bgsu.edu" -->
<!-- subject="Slackware Linux compilation problems" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Slackware Linux compilation problems</title>
<h1>Slackware Linux compilation problems</h1>
<b>Matt Kuznicki</b> (<a href="mailto:kuznick@bgnet.bgsu.edu"><i>kuznick@bgnet.bgsu.edu</i></a>)<br>
<i>Fri, 07 Aug 1998 18:12:20 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#20">[ date ]</a><a href="index.html#20">[ thread ]</a><a href="subject.html#20">[ subject ]</a><a href="author.html#20">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Chip Atkinson: "Re: Slackware Linux compilation problems"</a>
<li> <b>Previous message:</b> <a href="0019.html">Goran Thyni: "extended pnm backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greetings,<br>
<p>
	I apologize right away if this is the wrong address to send this to; <br>
if it is, please refer me to the correct one.<br>
<p>
	In the PROBLEMS file of SANE-0.74 the first entry is a problem<br>
compiling under slackware, the compiler dying with a "virtual memory<br>
exhausted."  It does actually eat up all the memory compiling the umax<br>
backend.<br>
	I was able to produce this error with a nearly stock Slackware 3.4<br>
installation.  Upon upgrading to GCC 2.80 and version 2.8.1.1 of<br>
libstdc++ (the std. libraries), SANE compiles without a hitch.  I had<br>
also updated my binutils to 2.9.1.0.6, but am not sure if that has<br>
anything to do with this.  Please also note that version 2.8.0 of the<br>
stdc++ libraries seems to take muck pleasure in making X servers<br>
segfault on my Slackware setup.  I don't know if this is a reported bug<br>
or not.<br>
<p>
	I hope this helps.<br>
<p>
							Matt Kuznicki<br>
<p>
<pre>
-- 
Matt Kuznicki -- <a href="mailto:kuznick@bgnet.bgsu.edu">kuznick@bgnet.bgsu.edu</a>
<p>
"All life is future to past."
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Chip Atkinson: "Re: Slackware Linux compilation problems"</a>
<li> <b>Previous message:</b> <a href="0019.html">Goran Thyni: "extended pnm backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
