<!-- received="Sat Aug  8 12:40:59 1998 PDT" -->
<!-- sent="Sat, 8 Aug 1998 15:39:28 -0400 (EDT)" -->
<!-- name="Ray Curtis" -->
<!-- email="ray@ray.clark.net" -->
<!-- subject="Sane-0.74-2 &amp; HP4c" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Sane-0.74-2 &amp; HP4c</title>
<h1>Sane-0.74-2 &amp; HP4c</h1>
<b>Ray Curtis</b> (<a href="mailto:ray@ray.clark.net"><i>ray@ray.clark.net</i></a>)<br>
<i>Sat, 8 Aug 1998 15:39:28 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#25">[ date ]</a><a href="index.html#25">[ thread ]</a><a href="subject.html#25">[ subject ]</a><a href="author.html#25">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">Hugo van der Kooij: "Re: Sane-0.74-2 &amp; HP4c"</a>
<li> <b>Previous message:</b> <a href="0024.html">Haavard Mork: "SANE BACKEND REPORT: HP ScanJet 5100C"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have just installed this version and now am trying to get it to<br>
recoginze the scanner. The scanner is recoginzed by the scsi and I<br>
have a link in /dev/sgd --&gt; scanner but when I try Gimp it only<br>
brings up two choices pnm:0 &amp; pnm:1 neither of which is my scanner.<br>
<p>
I installed this as a rpm and from what I read it is supposed to <br>
detect the scanner, but I must be missing something here.<br>
<p>
I have read the sane-scsi &amp; sane-hp manpages with no luck. <br>
<p>
Thanks for any info,<br>
<p>
<p>
<pre>
-- 
<a href="mailto:ray@ray.clark.net">mailto:ray@ray.clark.net</a>                        <a href="http://www.clark.net/pub/ray">http://www.clark.net/pub/ray</a>
============================================================================
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">Hugo van der Kooij: "Re: Sane-0.74-2 &amp; HP4c"</a>
<li> <b>Previous message:</b> <a href="0024.html">Haavard Mork: "SANE BACKEND REPORT: HP ScanJet 5100C"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
