<!-- received="Sun Aug  9 13:24:23 1998 PDT" -->
<!-- sent="Sun, 9 Aug 1998 16:27:54 -0400" -->
<!-- name="Dan Birchall" -->
<!-- email="djb@nospam.scream.org" -->
<!-- subject="Want to give wife scanner for anniversary - suggestions?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Want to give wife scanner for anniversary - suggestions?</title>
<h1>Want to give wife scanner for anniversary - suggestions?</h1>
<b>Dan Birchall</b> (<a href="mailto:djb@nospam.scream.org"><i>djb@nospam.scream.org</i></a>)<br>
<i>Sun, 9 Aug 1998 16:27:54 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Werner Arnhold: "UMAX Astra 1220S, 0.74 seems to be dead"</a>
<li> <b>Previous message:</b> <a href="0035.html">Hugo van der Kooij: "Re: Sane-0.74-2 &amp; HP4c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'd like to set a color flatbed scanner up on my wife's Linux <br>
box as a surprise anniversary gift, but I'm not entirely sure <br>
where to begin.  Her system as it now stands is:<br>
<p>
* '486DX4-120<br>
* 32Mb RAM<br>
* 200Mb and 1.2Gb IDE drives<br>
* 2S/1P<br>
* HP DeskJet 500 on LPT1 (fed via GhostScript)<br>
* Red Hat Linux 5.0 (with a few updates)<br>
<p>
She's already got GTK+ and GIMP of course.<br>
<p>
I've read the list archives and picked up a bit of info, but<br>
not enough to really make an informed decision and have it <br>
work!  As I understand it, my options are something like this:<br>
<p>
1. Install a SCSI adaptor, pick up a SCSI scanner that SANE<br>
   likes, and hope for the best.  My concern here is that the<br>
   PC has never had any SCSI adaptors, and Linux was told <br>
   this when I installed it, so I'm not sure it'd even notice.<br>
   If I did this, would I have to reinstall the kernel,<br>
   reinstall Linux, download GCC and rebuild the kernel, add<br>
   a module for SCSI, or what? :)<br>
   <br>
2. Try to find out what parallel scanners (if any) SANE can<br>
   handle - this information seems to be *very* scant! - and<br>
   get one of those, then hope that the PPort can handle it<br>
   (I have no idea whether it's bidirectional or whatever.)<br>
<p>
I'm fairly familiar with Linux (been using it for a few years) <br>
and SCSI in the context of UNIX (IRIX), but setting up<br>
scanners is something I haven't messed with much. :)<br>
<p>
Any suggestions on how to accomplish this relatively painlessly?<br>
She's visiting her this week (leading up to our anniversary)<br>
so if anyone can point me in the right direction pretty fast,<br>
I should be able to have it up and running when she gets back.<br>
<p>
Thanks in advance,<br>
<p>
-Dan<br>
<p>
<pre>
-- 
Dan 'Shag' Birchall, Moorestown, New Jersey.  Spam delenda est.
Made possible by Cannondale, NEC, Red Hat and viewers like you.
<a href="http://www.scream.org/maisha/">http://www.scream.org/maisha/</a> - The Unofficial Maisha Fan Page.
H.R.3888 - Congress's way of saying: Shut up and eat your spam!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Werner Arnhold: "UMAX Astra 1220S, 0.74 seems to be dead"</a>
<li> <b>Previous message:</b> <a href="0035.html">Hugo van der Kooij: "Re: Sane-0.74-2 &amp; HP4c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
