<!-- received="Sun Aug  9 16:33:48 1998 PDT" -->
<!-- sent="Sun, 09 Aug 1998 19:31:20 -0500" -->
<!-- name="Glenn McCorkle" -->
<!-- email="glennmcc@cisnet.com" -->
<!-- subject="completed package..." -->
<!-- id="199808092333.TAA15453@smtp.cisnet.com" -->
<!-- inreplyto="" -->
<title>sane-devel: completed package...</title>
<h1>completed package...</h1>
<b>Glenn McCorkle</b> (<a href="mailto:glennmcc@cisnet.com"><i>glennmcc@cisnet.com</i></a>)<br>
<i>Sun, 09 Aug 1998 19:31:20 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#38">[ date ]</a><a href="index.html#38">[ thread ]</a><a href="subject.html#38">[ subject ]</a><a href="author.html#38">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Glenn McCorkle: "Re: completed package..."</a>
<li> <b>Previous message:</b> <a href="0037.html">Werner Arnhold: "UMAX Astra 1220S, 0.74 seems to be dead"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0039.html">Glenn McCorkle: "Re: completed package..."</a>
<li> <b>Reply:</b> <a href="0039.html">Glenn McCorkle: "Re: completed package..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Can someone help-out a complete Linux-novice?<br>
I would like to run my Mustec Paragon 600 flatbed scanner in Linux.<br>
I am in need of a completed package of scanning software for it.<br>
So far all I've been able to find is src code.<br>
Since I know nothing about Linux programing, I can't figure-out<br>
how to compile the code into a finished program.<br>
<p>
 Can someone point the way to a completed, ready to run scanner program?<br>
<p>
<p>
<pre>
--
Glenn McCorkle <a href="mailto:glennmcc@cisnet.com">mailto:glennmcc@cisnet.com</a>
North Jackson, Ohio, USA
            Arachne, The Web Browser for DOS
   Open the 'DOOR' to the WWW. Keep the 'windows' closed.
                  <a href="http://www.naf.cz/arachne/">http://www.naf.cz/arachne/</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Glenn McCorkle: "Re: completed package..."</a>
<li> <b>Previous message:</b> <a href="0037.html">Werner Arnhold: "UMAX Astra 1220S, 0.74 seems to be dead"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0039.html">Glenn McCorkle: "Re: completed package..."</a>
<li> <b>Reply:</b> <a href="0039.html">Glenn McCorkle: "Re: completed package..."</a>
<!-- reply="end" -->
</ul>
