<!-- received="Wed Aug 12 08:17:04 1998 PDT" -->
<!-- sent="12 Aug 1998 17:16:12 +0200" -->
<!-- name="Steinar Midtskogen" -->
<!-- email="steinarm@ifi.uio.no" -->
<!-- subject="Nikon Coolscan III (LS-30)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Nikon Coolscan III (LS-30)</title>
<h1>Nikon Coolscan III (LS-30)</h1>
<b>Steinar Midtskogen</b> (<a href="mailto:steinarm@ifi.uio.no"><i>steinarm@ifi.uio.no</i></a>)<br>
<i>12 Aug 1998 17:16:12 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#54">[ date ]</a><a href="index.html#54">[ thread ]</a><a href="subject.html#54">[ subject ]</a><a href="author.html#54">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">Daniel Stephens: "Re: SANE and CCD cameras?"</a>
<li> <b>Previous message:</b> <a href="0053.html">Brook Milligan: "SANE and CCD cameras?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello.<br>
<p>
I've been trying to find a Nikon Coolscan II (LS-20), in vain.  This<br>
model is discontinued and the Coolscan III (LS-30) will arrive in<br>
Norway within a few weeks (so they say).  I made a few phonecalls<br>
trying to find out whether the LS-30 will work at all with a LS-20<br>
driver, and it seems that the LS-30 (and the 2000 model) are quite<br>
different from the prior.<br>
<p>
Ok, perhaps I can make a backend for SANE, then.  I'm new to SANE,<br>
though.  Once upon a time I used to code a lot of C to operate strange<br>
hardware, so I could perhaps do it.  But my time is limited, I can't<br>
spend hundred hours on such a task.  Besides, I must feel sure that<br>
I'll get the info needed to make it work; I don't want to risk to<br>
spend loads of money on something which I may not be able to use.  I<br>
run Linux on a PC, and have no Windows/Macs available.  Can I expect<br>
Nikon to cooperate?  Any advice?<br>
<p>
What I really want is just a film scanner (not a flatbed) that can do<br>
dias and negative strips and produce a decent result.  Should I rather<br>
forget Nikon and find something else?  What would you recommend?<br>
<p>
Thanks.<br>
<p>
<pre>
-- 
Steinar
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">Daniel Stephens: "Re: SANE and CCD cameras?"</a>
<li> <b>Previous message:</b> <a href="0053.html">Brook Milligan: "SANE and CCD cameras?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
