<!-- received="Sat Aug 15 11:24:34 1998 PDT" -->
<!-- sent="Sat, 15 Aug 1998 14:23:00 -0400 (EDT)" -->
<!-- name="Michael Stutz" -->
<!-- email="stutz@dsl.org" -->
<!-- subject="Umax Astra 1220S - on/off button?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Umax Astra 1220S - on/off button?</title>
<h1>Umax Astra 1220S - on/off button?</h1>
<b>Michael Stutz</b> (<a href="mailto:stutz@dsl.org"><i>stutz@dsl.org</i></a>)<br>
<i>Sat, 15 Aug 1998 14:23:00 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#77">[ date ]</a><a href="index.html#77">[ thread ]</a><a href="subject.html#77">[ subject ]</a><a href="author.html#77">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Matto Marjanovic: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Previous message:</b> <a href="0076.html">Thomas Boutell: "sanecgi 0.4 released"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0079.html">Jim Ford: "Re: Umax Astra 1220S - on/off button?"</a>
<li> <b>Reply:</b> <a href="0079.html">Jim Ford: "Re: Umax Astra 1220S - on/off button?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I just bought a UMAX Astra 1220S, and it installed flawlessly on my Debian<br>
GNU/Linux system using the .74 drivers. (Scans much faster than my old<br>
Mustek junker, too.) But I have a question about the scanner itself that's<br>
left me mystified: how do you turn it off?<br>
<p>
I can't find an on/off button on the thing, and the diagram in the owner's<br>
manual does not show one. But in the scanning instructions in the manual,<br>
step one is, "Turn the scanner on."<br>
<p>
So is there a way to turn this thing on and off, or do you actually leave it<br>
on all the time, even when not in use?<br>
<p>
I'm tempted to unplug the thing, but this seems rather kludgey...<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Matto Marjanovic: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Previous message:</b> <a href="0076.html">Thomas Boutell: "sanecgi 0.4 released"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0079.html">Jim Ford: "Re: Umax Astra 1220S - on/off button?"</a>
<li> <b>Reply:</b> <a href="0079.html">Jim Ford: "Re: Umax Astra 1220S - on/off button?"</a>
<!-- reply="end" -->
</ul>
