<!-- received="Fri Aug 21 21:24:10 1998 PDT" -->
<!-- sent="Fri, 21 Aug 1998 12:03:08 -0400 (EDT)" -->
<!-- name="Michael Kayz-Hyman" -->
<!-- email="root@klingon.com" -->
<!-- subject="Artec/INFO/Others Protocol Info." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Artec/INFO/Others Protocol Info.</title>
<h1>Artec/INFO/Others Protocol Info.</h1>
<b>Michael Kayz-Hyman</b> (<a href="mailto:root@klingon.com"><i>root@klingon.com</i></a>)<br>
<i>Fri, 21 Aug 1998 12:03:08 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Remko Faes: "Sane 0.74"</a>
<li> <b>Previous message:</b> <a href="0093.html">Raymond A. Ingles: "ftp.mostang.com down?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Everyone,<br>
<p>
I have just recieved the protocol info. (EPP scanner) from Artec,<br>
otherwise known as Ultima Electronics.  This is the protocol for the AS6E<br>
EPP CIS scanner, which is also the Info Products ImageReader LE (except<br>
with a different cover).  Apparantly Artec does alot of OEM.  If the FCC -<br>
ID of your scanner ends in AS6E then this is the file for you.  If your<br>
scanner has the following pattern in its FCC-ID:<br>
<p>
		ITEUEC* <br>
<p>
then it has been made by artec and they should have the specs.<br>
<p>
I have a funny feeling that many EPP/SPP scanners are actually made by<br>
artec (Mustek maybe).  If you want the protocol information please email<br>
me at <a href="mailto:mkatshym@erols.com">mkatshym@erols.com</a> or post it here.  I'm trying to write a backend<br>
but I don't have that much experience with scanners.  If anybody wants to<br>
help please post it in the group.<br>
<p>
				<br>
				Michael Katz-Hyman<br>
				ImageReader LE (Artec AS6E)<br>
				<a href="mailto:mkatshym@erols.com">mkatshym@erols.com</a><br>
				Linux 2.0.34<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Remko Faes: "Sane 0.74"</a>
<li> <b>Previous message:</b> <a href="0093.html">Raymond A. Ingles: "ftp.mostang.com down?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
