<!-- received="Tue Aug 25 14:00:50 1998 PDT" -->
<!-- sent="Tue, 25 Aug 1998 22:56:24 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Mustek SP12000SP" -->
<!-- id="" -->
<!-- inreplyto="13795.7976.344850.631040@bitch.debian.net" -->
<title>sane-devel: Re: Mustek SP12000SP</title>
<h1>Re: Mustek SP12000SP</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Tue, 25 Aug 1998 22:56:24 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#121">[ date ]</a><a href="index.html#121">[ thread ]</a><a href="subject.html#121">[ subject ]</a><a href="author.html#121">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0122.html">Daniel Stodden: "Re: Mustek SP12000SP"</a>
<li> <b>Previous message:</b> <a href="0120.html">Daniel Stodden: "Mustek SP12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Daniel Stodden: "Re: Mustek SP12000SP"</a>
<li> <b>Reply:</b> <a href="0122.html">Daniel Stodden: "Re: Mustek SP12000SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 25 Aug 1998, Daniel Stodden wrote:<br>
<p>
<i>&gt; I bought on of these mustek scsi-scanners today, model "scanexpress</i><br>
<i>&gt; 12000SP". This one seemed to appear on the list of supported</i><br>
<i>&gt; scanners (hey, thats why i bought it), but calling scanimage with</i><br>
<i>&gt; debugging at max just leaves me with the following:</i><br>
<p>
&lt;SNIP&gt;<br>
<p>
<i>&gt; sane is version 0.72</i><br>
<p>
How about trying version 0.74 (which is the current version).<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0122.html">Daniel Stodden: "Re: Mustek SP12000SP"</a>
<li> <b>Previous message:</b> <a href="0120.html">Daniel Stodden: "Mustek SP12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Daniel Stodden: "Re: Mustek SP12000SP"</a>
<li> <b>Reply:</b> <a href="0122.html">Daniel Stodden: "Re: Mustek SP12000SP"</a>
<!-- reply="end" -->
</ul>
