<!-- received="Tue Aug 25 17:59:29 1998 PDT" -->
<!-- sent="Wed, 26 Aug 1998 02:56:35 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Mustek SP12000SP" -->
<!-- id="" -->
<!-- inreplyto="87hfz0r5zt.fsf@bitch.debian.net" -->
<title>sane-devel: Re: Mustek SP12000SP</title>
<h1>Re: Mustek SP12000SP</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Wed, 26 Aug 1998 02:56:35 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#123">[ date ]</a><a href="index.html#123">[ thread ]</a><a href="subject.html#123">[ subject ]</a><a href="author.html#123">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Christian Bucher: "Re: Mustek 600 II N updates + file ownerships"</a>
<li> <b>Previous message:</b> <a href="0122.html">Daniel Stodden: "Re: Mustek SP12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0125.html">Daniel Stodden: "Re: Mustek SP12000SP"</a>
<li> <b>Reply:</b> <a href="0125.html">Daniel Stodden: "Re: Mustek SP12000SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 26 Aug 1998, Daniel Stodden wrote:<br>
<p>
<i>&gt; Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; writes:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; On Tue, 25 Aug 1998, Daniel Stodden wrote:</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt; I bought on of these mustek scsi-scanners today, model "scanexpress</i><br>
<i>&gt; &gt; &gt; 12000SP". This one seemed to appear on the list of supported</i><br>
<i>&gt; &gt; &gt; scanners (hey, thats why i bought it), but calling scanimage with</i><br>
<i>&gt; &gt; &gt; debugging at max just leaves me with the following:</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &lt;SNIP&gt;</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt; sane is version 0.72</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; How about trying version 0.74 (which is the current version).</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Hugo.</i><br>
<i>&gt; </i><br>
<i>&gt; Nice try.</i><br>
<i>&gt; Just finished compiling, but it didn't help at all.</i><br>
<i>&gt; Output is still the same.</i><br>
<i>&gt; </i><br>
<i>&gt; btw, i just had a look at the bundled windows-software.</i><br>
<i>&gt; oh boy, seems like i _need_ to get this going ;)</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
Well.<br>
<p>
If I am not mistaken you will find in the archive a few messages about how<br>
to add your variant into the table of supported scanners.<br>
<p>
If it turns out that it works that way please infor the author of the<br>
backend about how you fixed it so he can make it permanent.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Christian Bucher: "Re: Mustek 600 II N updates + file ownerships"</a>
<li> <b>Previous message:</b> <a href="0122.html">Daniel Stodden: "Re: Mustek SP12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0125.html">Daniel Stodden: "Re: Mustek SP12000SP"</a>
<li> <b>Reply:</b> <a href="0125.html">Daniel Stodden: "Re: Mustek SP12000SP"</a>
<!-- reply="end" -->
</ul>
