<!-- received="Sat Aug 29 05:02:42 1998 PDT" -->
<!-- sent="29 Aug 1998 14:03:25 +0200" -->
<!-- name="Oliver Graf" -->
<!-- email="ograf@fga.de" -->
<!-- subject="Epson GT-6500 parallel port" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson GT-6500 parallel port</title>
<h1>Epson GT-6500 parallel port</h1>
<b>Oliver Graf</b> (<a href="mailto:ograf@fga.de"><i>ograf@fga.de</i></a>)<br>
<i>29 Aug 1998 14:03:25 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#128">[ date ]</a><a href="index.html#128">[ thread ]</a><a href="subject.html#128">[ subject ]</a><a href="author.html#128">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">Oliver Graf: "Re: Epson GT-6500 parallel port"</a>
<li> <b>Previous message:</b> <a href="0127.html">Luca Montecchiani: "Primax Colorado Direct (parallel) support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0129.html">Oliver Graf: "Re: Epson GT-6500 parallel port"</a>
<li> <b>Reply:</b> <a href="0129.html">Oliver Graf: "Re: Epson GT-6500 parallel port"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi there!<br>
<p>
Is there any chance to get a Epson GT-6500 with a parallel interface working<br>
under linux (with or without SANE)?<br>
<p>
I remember that I've once had a small programm (a year a more ago) called<br>
pnmepson, which work fairly well, but I can't find it anymore.<br>
<p>
Perhaps someone has a hint for me?<br>
<p>
Regards,<br>
  Oliver.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">Oliver Graf: "Re: Epson GT-6500 parallel port"</a>
<li> <b>Previous message:</b> <a href="0127.html">Luca Montecchiani: "Primax Colorado Direct (parallel) support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0129.html">Oliver Graf: "Re: Epson GT-6500 parallel port"</a>
<li> <b>Reply:</b> <a href="0129.html">Oliver Graf: "Re: Epson GT-6500 parallel port"</a>
<!-- reply="end" -->
</ul>
