<!-- received="Sat Aug 29 13:28:59 1998 PDT" -->
<!-- sent="Sat, 29 Aug 1998 22:24:20 -0400" -->
<!-- name="Roderick Klein" -->
<!-- email="rwklein@wxs.nl" -->
<!-- subject="Re: Windows port" -->
<!-- id="" -->
<!-- inreplyto="Windows port" -->
<title>sane-devel: Re: Windows port</title>
<h1>Re: Windows port</h1>
<b>Roderick Klein</b> (<a href="mailto:rwklein@wxs.nl"><i>rwklein@wxs.nl</i></a>)<br>
<i>Sat, 29 Aug 1998 22:24:20 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#131">[ date ]</a><a href="index.html#131">[ thread ]</a><a href="subject.html#131">[ subject ]</a><a href="author.html#131">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0132.html">Glenn McCorkle: "Re: Windows port"</a>
<li> <b>Previous message:</b> <a href="0130.html">Arun Tanksali: "Windows port"</a>
<li> <b>Maybe in reply to:</b> <a href="0130.html">Arun Tanksali: "Windows port"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0132.html">Glenn McCorkle: "Re: Windows port"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Arun Tanksali wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt;     I was wondering if somebody was working on a Win32 port of SANE. If</i><br>
<i>&gt; nobody is doing it, I can perhaps take it up. Or is it a SANE policy not to</i><br>
Well I don't know what the policy is of the people who realy made SANE.<br>
But I gues that don't realy like Windows. The last think I expect is<br>
that the Sane team will develop a version for win32!. But I just<br>
somebody how has nothing to do with SANE and just uses it under OS/2. AS<br>
FAR AS I know SANE is freeware and so is the code. So you should be able<br>
to use it under Windows. You need the collection of EMX.dll. Don't ask<br>
me what they do but there very important. There is a Win32 version of<br>
the EMX files. But I THINK (just my opion) that it won't the people very<br>
happy who have made SANE to see it end under Windows. But as I said that<br>
is just what i'm thinking.<br>
<p>
Greetings Roderick Klein<br>
<p>
Sane user under OS/2.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0132.html">Glenn McCorkle: "Re: Windows port"</a>
<li> <b>Previous message:</b> <a href="0130.html">Arun Tanksali: "Windows port"</a>
<li> <b>Maybe in reply to:</b> <a href="0130.html">Arun Tanksali: "Windows port"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0132.html">Glenn McCorkle: "Re: Windows port"</a>
<!-- reply="end" -->
</ul>
