<!-- received="Sat Aug 29 15:10:34 1998 PDT" -->
<!-- sent="Sat, 29 Aug 1998 17:09:22 -0500 (CDT)" -->
<!-- name="Daniel Stephens" -->
<!-- email="daniel@cheeseplant.org" -->
<!-- subject="Re: Windows port" -->
<!-- id="199808292209.RAA02131@sponge.home.cheeseplant.org" -->
<!-- inreplyto="199808292114.RAA07334@smtp.cisnet.com" -->
<title>sane-devel: Re: Windows port</title>
<h1>Re: Windows port</h1>
<b>Daniel Stephens</b> (<a href="mailto:daniel@cheeseplant.org"><i>daniel@cheeseplant.org</i></a>)<br>
<i>Sat, 29 Aug 1998 17:09:22 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#133">[ date ]</a><a href="index.html#133">[ thread ]</a><a href="subject.html#133">[ subject ]</a><a href="author.html#133">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Alex Belits: "Re: Windows port"</a>
<li> <b>Previous message:</b> <a href="0132.html">Glenn McCorkle: "Re: Windows port"</a>
<li> <b>In reply to:</b> <a href="0132.html">Glenn McCorkle: "Re: Windows port"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0134.html">Alex Belits: "Re: Windows port"</a>
<li> <b>Reply:</b> <a href="0134.html">Alex Belits: "Re: Windows port"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;  My question is: Why would anyone _need_ SANE for windows?</i><br>
<i>&gt; AFAIK, all scanners come with windows software. And _all_ of the new</i><br>
<i>&gt; ones come with 32bit versions for use with W95/WinNT/W98.</i><br>
<i>&gt;  It seems to me that any of us who want SANE, want it for the specific</i><br>
<i>&gt; reason to get rid of windows once and for all.</i><br>
<i>&gt;  Let's face it, scanning software is the last thing on the face of this</i><br>
<i>&gt; planet that we need windows for.</i><br>
<i>&gt;  Myself, I've alredy deleted windows from both of my systems.</i><br>
<i>&gt; Win3.1 from the 486 and W95 from the P150. My scanner will just be</i><br>
<i>&gt; sitting here collecting dust untill I have either DOS or Linux software</i><br>
<i>&gt; to use it with.</i><br>
<p>
Actually, SANE on windows could be an incredibly GOOD thing, assuming that<br>
vendors pay some attention.. Just think about it, a framework into which<br>
drivers can be written and used on practically ANY O/S.. And since it's non<br>
proprietary, there's a hope they'd find it non-threatending... <br>
<p>
Also, some people HAVE to use windows for various reasons (corporate standards<br>
for example), why should they lose out from being SANEd??<br>
<p>
Daniel.<br>
<p>
<pre>
-- 
/--- Daniel Stephens -----------------------|No. 73 |.,,,,,,,.,....,,........ |
|  {Perl, Linux, C++, gcc, GNU} Advocate    |Collect|........,......,........,|
|          <a href="mailto:daniel@cheeseplant.org">daniel@cheeseplant.org</a>           |all 150|...  .,,,,.............. |
|&lt;A HREF='<a href="http://www.mcs.net/~daniels'">http://www.mcs.net/~daniels'</a>&gt;&lt;/A&gt; |[00,12]|     .,,,,.........   .../
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Alex Belits: "Re: Windows port"</a>
<li> <b>Previous message:</b> <a href="0132.html">Glenn McCorkle: "Re: Windows port"</a>
<li> <b>In reply to:</b> <a href="0132.html">Glenn McCorkle: "Re: Windows port"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0134.html">Alex Belits: "Re: Windows port"</a>
<li> <b>Reply:</b> <a href="0134.html">Alex Belits: "Re: Windows port"</a>
<!-- reply="end" -->
</ul>
