<!-- received="Sun Aug 30 12:47:52 1998 PDT" -->
<!-- sent="Thu, 27 Aug 1998 13:26:18 +0100" -->
<!-- name="Jesper Skov" -->
<!-- email="jskov@cygnus.co.uk" -->
<!-- subject="Konica M-Q100 serial protocol" -->
<!-- id="199808271226.NAA17777@lassi.cygnus.co.uk" -->
<!-- inreplyto="" -->
<title>sane-devel: Konica M-Q100 serial protocol</title>
<h1>Konica M-Q100 serial protocol</h1>
<b>Jesper Skov</b> (<a href="mailto:jskov@cygnus.co.uk"><i>jskov@cygnus.co.uk</i></a>)<br>
<i>Thu, 27 Aug 1998 13:26:18 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#141">[ date ]</a><a href="index.html#141">[ thread ]</a><a href="subject.html#141">[ subject ]</a><a href="author.html#141">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Glenn Powers: "Re: HTML documentation"</a>
<li> <b>Previous message:</b> <a href="0140.html">Michael Kayz-Hyman: "Re: Primax Colorado Direct (parallel) support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi<br>
<p>
I just finished the initial work on a Perl script replacing the<br>
functionality of the proprietary software available for Konica's<br>
Q-M100. <br>
<p>
I first asked Konica for a protocol spec but they had no interest in<br>
Linux support and wouldn't disclose the protocol. So, I ended up using<br>
a serial snooper to reverse-engineer the protocol and now have a<br>
lovely script I can use under Linux.<br>
<p>
I don't have an interest in making a SANE driver for the camera myself<br>
(at least not at this time), so I'm just posting this for your<br>
information.  I'll probably make the script available in the near<br>
future (and will announce it on rec.photo.digital), so if anyone has<br>
such a camera and wants to make a SANE driver, he/she should be able<br>
to examine my script to get a first stab at supporting the protocol.<br>
<p>
Thanks,<br>
Jesper<br>
<p>
PS: I'm not currently subscribed to the list, so if you have any<br>
followups, please CC me directly.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Glenn Powers: "Re: HTML documentation"</a>
<li> <b>Previous message:</b> <a href="0140.html">Michael Kayz-Hyman: "Re: Primax Colorado Direct (parallel) support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
