<!-- received="Sun Aug 30 12:47:54 1998 PDT" -->
<!-- sent="Sat, 29 Aug 1998 03:54:10 +0000" -->
<!-- name="Luca Montecchiani" -->
<!-- email="m.luca@usa.net" -->
<!-- subject="Primax Colorado Direct (parallel) support" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Primax Colorado Direct (parallel) support</title>
<h1>Primax Colorado Direct (parallel) support</h1>
<b>Luca Montecchiani</b> (<a href="mailto:m.luca@usa.net"><i>m.luca@usa.net</i></a>)<br>
<i>Sat, 29 Aug 1998 03:54:10 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#145">[ date ]</a><a href="index.html#145">[ thread ]</a><a href="subject.html#145">[ subject ]</a><a href="author.html#145">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">Webmaster Jeff Maki: "Scan Jet 5100Cse"</a>
<li> <b>Previous message:</b> <a href="0144.html">Simone Fabris: "Re: Epson GT-6500 parallel port"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0155.html">Jani Frilander: "Re: Primax Colorado Direct (parallel) support"</a>
<li> <b>Reply:</b> <a href="0155.html">Jani Frilander: "Re: Primax Colorado Direct (parallel) support"</a>
<li> <b>Reply:</b> <a href="0156.html">Luca Montecchiani: "Re: Primax Colorado Direct (parallel) support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
there is a chance to see this cheap scanner work under Linux/sane ?<br>
What we can do ?<br>
<p>
o There is no support from the Primax...<br>
  (send more and more e-mail ?)<br>
<p>
o Have anyone successfully setup the scanner under Wine<br>
  to capture the parallel protocol used ??<br>
  (and after ? Is there any guru that will do the hack job ?)<br>
<p>
o Is better to transform it in a UVA sun-lamp ?<br>
  ( well, in this case project will be released<br>
    under the GNU/GPL License of course ;)<br>
<p>
Enjoy, Luca Montecchiani<br>
<p>
__________________________________________________________<br>
<p>
E-mail: <a href="mailto:m.luca@usa.net">m.luca@usa.net</a><br>
W.W.W.: <a href="http://www.geocities.com/SiliconValley/Vista/2964/">http://www.geocities.com/SiliconValley/Vista/2964/</a><br>
I.R.C.: defrag (#linux-it)<br>
__________________________________________________________<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">Webmaster Jeff Maki: "Scan Jet 5100Cse"</a>
<li> <b>Previous message:</b> <a href="0144.html">Simone Fabris: "Re: Epson GT-6500 parallel port"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0155.html">Jani Frilander: "Re: Primax Colorado Direct (parallel) support"</a>
<li> <b>Reply:</b> <a href="0155.html">Jani Frilander: "Re: Primax Colorado Direct (parallel) support"</a>
<li> <b>Reply:</b> <a href="0156.html">Luca Montecchiani: "Re: Primax Colorado Direct (parallel) support"</a>
<!-- reply="end" -->
</ul>
