<!-- received="Fri Apr  3 01:08:39 1998 PST" -->
<!-- sent="Fri, 03 Apr 1998 11:07:51 +0200" -->
<!-- name="Arjen Schoneveld" -->
<!-- email="arjen@wins.uva.nl" -->
<!-- subject="ScanExpress 12000 SP" -->
<!-- id="199804030907.LAA00841@hpcn.wins.uva.nl" -->
<!-- inreplyto="" -->
<title>sane-devel: ScanExpress 12000 SP</title>
<h1>ScanExpress 12000 SP</h1>
<b>Arjen Schoneveld</b> (<a href="mailto:arjen@wins.uva.nl"><i>arjen@wins.uva.nl</i></a>)<br>
<i>Fri, 03 Apr 1998 11:07:51 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#27">[ date ]</a><a href="index.html#27">[ thread ]</a><a href="subject.html#27">[ subject ]</a><a href="author.html#27">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">David Mosberger-Tang: "Re: ScanExpress 12000 SP"</a>
<li> <b>Previous message:</b> <a href="0026.html">David Mosberger-Tang: "Re: sane_read returning *len == 0"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">David Mosberger-Tang: "Re: ScanExpress 12000 SP"</a>
<li> <b>Reply:</b> <a href="0028.html">David Mosberger-Tang: "Re: ScanExpress 12000 SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Has anybody managed to get the Mustek ScanExpress 12000 SP<br>
to work under SANE?<br>
I understand that it does not work properly. Is this<br>
caused by the supplied DTC SCSI interface or something <br>
with the scanner itself.<br>
<p>
I've attached the scanner to my internal Adaptec SCSI<br>
interface which works fine under Windoze.<br>
<p>
I was wondering if I can use this scanner through the<br>
Adaptec interface using SANE under Linux.<br>
<p>
Arjen Schoneveld<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">David Mosberger-Tang: "Re: ScanExpress 12000 SP"</a>
<li> <b>Previous message:</b> <a href="0026.html">David Mosberger-Tang: "Re: sane_read returning *len == 0"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">David Mosberger-Tang: "Re: ScanExpress 12000 SP"</a>
<li> <b>Reply:</b> <a href="0028.html">David Mosberger-Tang: "Re: ScanExpress 12000 SP"</a>
<!-- reply="end" -->
</ul>
