<!-- received="Fri Apr  3 13:10:18 1998 PST" -->
<!-- sent="Fri, 03 Apr 98 14:47:57 +0100" -->
<!-- name="Yuri Dario" -->
<!-- email="mc6530@mclink.it" -->
<!-- subject="Re: Canon 300 support? (in OS/2)" -->
<!-- id="199804032111.XAA07994@bigfoot.sctrade.it" -->
<!-- inreplyto="Canon 300 support? (in OS/2)" -->
<title>sane-devel: Re: Canon 300 support? (in OS/2)</title>
<h1>Re: Canon 300 support? (in OS/2)</h1>
<b>Yuri Dario</b> (<a href="mailto:mc6530@mclink.it"><i>mc6530@mclink.it</i></a>)<br>
<i>Fri, 03 Apr 98 14:47:57 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#43">[ date ]</a><a href="index.html#43">[ thread ]</a><a href="subject.html#43">[ subject ]</a><a href="author.html#43">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">Stefan Gombar: "Re: Canon 300 support? (in OS/2)"</a>
<li> <b>Previous message:</b> <a href="0042.html">John Brush: "Can't figure it, maybe some one can tell me."</a>
<li> <b>Maybe in reply to:</b> <a href="0031.html">Stefan Gombar: "Canon 300 support? (in OS/2)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">Stefan Gombar: "Re: Canon 300 support? (in OS/2)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 3 Apr 1998 12:31:55 +0200 (METDST), Stefan Gombar wrote:<br>
<p>
<i>&gt;Is there SANE support for Canon scanners in OS/2 available?</i><br>
<p>
the OS/2 port of SANE works with all the supported scanner (at least for Epson and HP).<br>
<p>
Bye,<br>
<p>
	Yuri Dario<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">Stefan Gombar: "Re: Canon 300 support? (in OS/2)"</a>
<li> <b>Previous message:</b> <a href="0042.html">John Brush: "Can't figure it, maybe some one can tell me."</a>
<li> <b>Maybe in reply to:</b> <a href="0031.html">Stefan Gombar: "Canon 300 support? (in OS/2)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">Stefan Gombar: "Re: Canon 300 support? (in OS/2)"</a>
<!-- reply="end" -->
</ul>
