<!-- received="Mon Apr  6 11:48:42 1998 PDT" -->
<!-- sent="Mon, 06 Apr 98 20:49:12 " -->
<!-- name="Robert-Peter Westphal" -->
<!-- email="RP@Westphal.KR.Eunet.de" -->
<!-- subject="Sane 0.71 and CanonScan" -->
<!-- id="199804061846.UAA28766@binky.de.uu.net" -->
<!-- inreplyto="" -->
<title>sane-devel: Sane 0.71 and CanonScan</title>
<h1>Sane 0.71 and CanonScan</h1>
<b>Robert-Peter Westphal</b> (<a href="mailto:RP@Westphal.KR.Eunet.de"><i>RP@Westphal.KR.Eunet.de</i></a>)<br>
<i>Mon, 06 Apr 98 20:49:12 </i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#72">[ date ]</a><a href="index.html#72">[ thread ]</a><a href="subject.html#72">[ subject ]</a><a href="author.html#72">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Jeff Freedman: "Re: Sane 0.71 and CanonScan"</a>
<li> <b>Previous message:</b> <a href="0071.html">becka@rz.uni-duesseldorf.de: "Re: sane 0.72pre meets FreeBSD [my system of package control]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0073.html">Jeff Freedman: "Re: Sane 0.71 and CanonScan"</a>
<li> <b>Reply:</b> <a href="0073.html">Jeff Freedman: "Re: Sane 0.71 and CanonScan"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I want to use your Sane-package together with my CanonScan 300 in OS/2,<br>
but I have a few problems. I installed the aspirout.sys driver and the<br>
emx runtimes correctly, find-scanner finds my scanner.<br>
But the main problem is that the package I got (sane-071.zip) seems not<br>
to contain the \dev-dir and no drivers. There are a few *.conf (but not<br>
for canon), but these files contain a link to a dev\scanner dir which<br>
not exists. <br>
<p>
Is there another package (*.zip) which contains the drivers I need ?<br>
<p>
Please, contact me as soon as possible and help me !<br>
<p>
<p>
many thanks for future help<br>
<p>
yours <br>
Robert-Peter<br>
-------------------------------------------------------<br>
OS/2's best friend - flying at WARP Speed<br>
          <a href="mailto:RP@Westphal.KR.Eunet.de">RP@Westphal.KR.Eunet.de</a><br>
International luckyTeamOS/2 Member (#228)<br>
    Certified Novell Administrator (CNA)<br>
--------------------------------------------------------<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Jeff Freedman: "Re: Sane 0.71 and CanonScan"</a>
<li> <b>Previous message:</b> <a href="0071.html">becka@rz.uni-duesseldorf.de: "Re: sane 0.72pre meets FreeBSD [my system of package control]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0073.html">Jeff Freedman: "Re: Sane 0.71 and CanonScan"</a>
<li> <b>Reply:</b> <a href="0073.html">Jeff Freedman: "Re: Sane 0.71 and CanonScan"</a>
<!-- reply="end" -->
</ul>
