<!-- received="Wed Apr  8 09:02:49 1998 PDT" -->
<!-- sent="Wed, 8 Apr 1998 18:02:12 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: sane 0.72 available" -->
<!-- id="199804081602.SAA04386@cave.BitWizard.nl" -->
<!-- inreplyto="199804080543.WAA23929@panda.mostang.com" -->
<title>sane-devel: Re: sane 0.72 available</title>
<h1>Re: sane 0.72 available</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Wed, 8 Apr 1998 18:02:12 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#78">[ date ]</a><a href="index.html#78">[ thread ]</a><a href="subject.html#78">[ subject ]</a><a href="author.html#78">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">Stefan Gombar: "What are pels and how can I convert them to mm?"</a>
<li> <b>Previous message:</b> <a href="0077.html">David Mosberger-Tang: "sane 0.72 available"</a>
<li> <b>In reply to:</b> <a href="0077.html">David Mosberger-Tang: "sane 0.72 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
&lt;&lt;&lt; No Message Collected &gt;&gt;&gt;<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">Stefan Gombar: "What are pels and how can I convert them to mm?"</a>
<li> <b>Previous message:</b> <a href="0077.html">David Mosberger-Tang: "sane 0.72 available"</a>
<li> <b>In reply to:</b> <a href="0077.html">David Mosberger-Tang: "sane 0.72 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
