<!-- received="Thu Apr  9 02:56:17 1998 PDT" -->
<!-- sent="Thu, 9 Apr 1998 11:54:26 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Question regarding PNM-Format (OS/2)" -->
<!-- id="m0yNE2M-0000bGC@charon.beck-sw.de" -->
<!-- inreplyto="9804081649.AA43576@stud1.tuwien.ac.at" -->
<title>sane-devel: Re: Question regarding PNM-Format (OS/2)</title>
<h1>Re: Question regarding PNM-Format (OS/2)</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Thu, 9 Apr 1998 11:54:26 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Michael Polo: "getting sane 0.72 going on solaris 2.6..."</a>
<li> <b>Previous message:</b> <a href="0088.html">Stefan Gombar: ""Dirty hack" for PNM-Problem (Re: Question regarding PNM-Format (OS/2))"</a>
<li> <b>In reply to:</b> <a href="0080.html">Stefan Gombar: "Question regarding PNM-Format (OS/2)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0091.html">Jeff Freedman: "Re: Question regarding PNM-Format (OS/2)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; When saving images in the PNM-Format with scanimage, there is a little</i><br>
<i>&gt; string at the beginning of the image file (# SANE data follows).</i><br>
<i>&gt; </i><br>
<i>&gt; As this string isn't really neccessary, can it be omitted? </i><br>
<p>
It can. You can patch the sources of scanimage easily, if really necessary.<br>
<p>
<i>&gt; It's because some graphic programs (like Impos/2) doesn't like this string </i><br>
<i>&gt; in the image file. Without those 20 Bytes the images load without problems.</i><br>
<p>
These programs are broken and should be fixed. Almost any program I know <br>
that write PNM put such a string in there. <br>
<p>
However we could state that in the README and show how to patch the <br>
scanimage.c file accordingly :<br>
<p>
  static void<br>
  write_pnm_header (SANE_Frame format, int width, int height, int depth)<br>
  {<br>
    switch (format)<br>
      {<br>
      case SANE_FRAME_RED:<br>
      case SANE_FRAME_GREEN:<br>
      case SANE_FRAME_BLUE:<br>
      case SANE_FRAME_RGB:<br>
-       printf ("P6\n# SANE data follows\n%d %d\n255\n", width, height);<br>
+       printf ("P6\n%d %d\n255\n", width, height);<br>
        break;<br>
  <br>
      default:<br>
        if (depth == 1)<br>
-         printf ("P4\n# SANE data follows\n%d %d\n", width, height);<br>
+         printf ("P4\n%d %d\n", width, height);<br>
        else<br>
-         printf ("P5\n# SANE data follows\n%d %d\n255\n", width, height);<br>
+         printf ("P5\n%d %d\n255\n", width, height);<br>
        break;<br>
      }<br>
  #ifdef __EMX__  /* OS2 - write in binary mode. */<br>
    _fsetmode(stdout, "b");<br>
  #endif<br>
  }<br>
<p>
CU,ANdy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Michael Polo: "getting sane 0.72 going on solaris 2.6..."</a>
<li> <b>Previous message:</b> <a href="0088.html">Stefan Gombar: ""Dirty hack" for PNM-Problem (Re: Question regarding PNM-Format (OS/2))"</a>
<li> <b>In reply to:</b> <a href="0080.html">Stefan Gombar: "Question regarding PNM-Format (OS/2)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0091.html">Jeff Freedman: "Re: Question regarding PNM-Format (OS/2)"</a>
<!-- reply="end" -->
</ul>
