<!-- received="Thu Apr  9 09:43:32 1998 PDT" -->
<!-- sent="Thu, 09 Apr 1998 09:44:31 -0700" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="Re: Question regarding PNM-Format (OS/2)" -->
<!-- id="" -->
<!-- inreplyto="Question regarding PNM-Format (OS/2)" -->
<title>sane-devel: Re: Question regarding PNM-Format (OS/2)</title>
<h1>Re: Question regarding PNM-Format (OS/2)</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Thu, 09 Apr 1998 09:44:31 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#91">[ date ]</a><a href="index.html#91">[ thread ]</a><a href="subject.html#91">[ subject ]</a><a href="author.html#91">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">MIMI TAM: "Solaris x86 support"</a>
<li> <b>Previous message:</b> <a href="0090.html">Michael Polo: "getting sane 0.72 going on solaris 2.6..."</a>
<li> <b>Maybe in reply to:</b> <a href="0080.html">Stefan Gombar: "Question regarding PNM-Format (OS/2)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Rogier Wolff wrote:<br>
<i>&gt; </i><br>
<i>&gt;</i><br>
<i>&gt; &gt; As this string isn't really neccessary, can it be omitted? It's because</i><br>
<i>&gt; &gt; some graphic programs (like Impos/2) doesn't like this string in the</i><br>
<i>&gt; &gt; image file. Without those 20 Bytes the images load without problems.</i><br>
<p>
PMVIEW has no problem with these, so I'd second the suggestion that you<br>
complain to the Impos/2 authors.<br>
<p>
-- Jeff<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">MIMI TAM: "Solaris x86 support"</a>
<li> <b>Previous message:</b> <a href="0090.html">Michael Polo: "getting sane 0.72 going on solaris 2.6..."</a>
<li> <b>Maybe in reply to:</b> <a href="0080.html">Stefan Gombar: "Question regarding PNM-Format (OS/2)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
