<!-- received="Tue Apr 14 08:22:21 1998 PDT" -->
<!-- sent="Tue, 14 Apr 1998 17:23:44 +0100" -->
<!-- name="Ondrej Popp" -->
<!-- email="ondrej@geocities.com" -->
<!-- subject="Re: find scanner via /proc/scsi/scsi" -->
<!-- id="" -->
<!-- inreplyto="find scanner via /proc/scsi/scsi" -->
<title>sane-devel: Re: find scanner via /proc/scsi/scsi</title>
<h1>Re: find scanner via /proc/scsi/scsi</h1>
<b>Ondrej Popp</b> (<a href="mailto:ondrej@geocities.com"><i>ondrej@geocities.com</i></a>)<br>
<i>Tue, 14 Apr 1998 17:23:44 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#136">[ date ]</a><a href="index.html#136">[ thread ]</a><a href="subject.html#136">[ subject ]</a><a href="author.html#136">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Ignasi Garcia: "Re: Is this a configure bug???? I think so"</a>
<li> <b>Previous message:</b> <a href="0135.html">Hugo van der Kooij: "Re: Sane and gtk+-1.0.0"</a>
<li> <b>Maybe in reply to:</b> <a href="0082.html">Oliver.Rauch@Wolfsburg.DE: "find scanner via /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hello Ondrej,</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; I guess the devicename is: /dev/sgd</i><br>
<i>&gt; Is this right?</i><br>
<i>&gt; </i><br>
yes it is,<br>
[12] popp@FastFelix $ ls -lt scanner<br>
lrwxrwxrwx   1 root     root            3 Jan 25 19:22 scanner -&gt; sgd<br>
<p>
regards,<br>
Ondrej<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Ignasi Garcia: "Re: Is this a configure bug???? I think so"</a>
<li> <b>Previous message:</b> <a href="0135.html">Hugo van der Kooij: "Re: Sane and gtk+-1.0.0"</a>
<li> <b>Maybe in reply to:</b> <a href="0082.html">Oliver.Rauch@Wolfsburg.DE: "find scanner via /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
