<!-- received="Wed Apr 15 03:11:19 1998 PDT" -->
<!-- sent="Wed, 15 Apr 1998 12:10:55 +0200" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: DTC436e SCSI &amp; ScanExpress" -->
<!-- id="353487AF.73981AEF@ic.ac.uk" -->
<!-- inreplyto="DTC436e SCSI &amp; ScanExpress" -->
<title>sane-devel: Re: DTC436e SCSI &amp; ScanExpress</title>
<h1>Re: DTC436e SCSI &amp; ScanExpress</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Wed, 15 Apr 1998 12:10:55 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#145">[ date ]</a><a href="index.html#145">[ thread ]</a><a href="subject.html#145">[ subject ]</a><a href="author.html#145">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">Jan Krueger: "Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets"</a>
<li> <b>Previous message:</b> <a href="0144.html">Stig HackVan: "DTC436e SCSI (comes with mustek paragon 800 II sp)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0147.html">Rogier Wolff: "Re: DTC436e SCSI &amp; ScanExpress"</a>
<li> <b>Reply:</b> <a href="0147.html">Rogier Wolff: "Re: DTC436e SCSI &amp; ScanExpress"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This card seems to work with the g_NCR5380 driver (but only with<br>
the mustek patch supplied in the same directory as SANE itself.<br>
You have to supply some additional parameters, for using as a module<br>
'modprobe g_NCR5380 ncr_addr=0x280 ncr_irq=255 dtc_3181e=1' works<br>
for me. <br>
<p>
At first I thought there is some trouble with the driver since my<br>
scanner (ScanExpress 12000SP) doesn't work with the mustek<br>
backend. But yours should work.<br>
<p>
But now I've made some progress, it seems that the scanner's <br>
SCSI implementation is *very* crippled, even after totally weird<br>
commands the scanner never sends any error code at all.<br>
Only INQUIRY worked first, but according to David's hint I am<br>
trying SCSI-II commands, and --- what a surprise --- something<br>
happens. After SET_WINDOW and SCAN the slide moves slightly<br>
forward, and back to the home position after closing the device.<br>
<p>
And READ produces some noise like moving the slide back and forth<br>
a few scanlines, perhaps continuous backtracking because the<br>
scanner can't get rid of the data. Unfortunately, the SCSI-II<br>
standard isn't very precise concerning how to specify the <br>
amount of data to be transferred. I don't know what the 'blocksize'<br>
actually is.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">Jan Krueger: "Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets"</a>
<li> <b>Previous message:</b> <a href="0144.html">Stig HackVan: "DTC436e SCSI (comes with mustek paragon 800 II sp)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0147.html">Rogier Wolff: "Re: DTC436e SCSI &amp; ScanExpress"</a>
<li> <b>Reply:</b> <a href="0147.html">Rogier Wolff: "Re: DTC436e SCSI &amp; ScanExpress"</a>
<!-- reply="end" -->
</ul>
