<!-- received="Wed Apr 15 08:12:49 1998 PDT" -->
<!-- sent="Wed, 15 Apr 1998 17:18:11 +0200" -->
<!-- name="Jan Krueger" -->
<!-- email="yesno@bln.de" -->
<!-- subject="ScanExpress 12000 SP Command-set ..." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: ScanExpress 12000 SP Command-set ...</title>
<h1>ScanExpress 12000 SP Command-set ...</h1>
<b>Jan Krueger</b> (<a href="mailto:yesno@bln.de"><i>yesno@bln.de</i></a>)<br>
<i>Wed, 15 Apr 1998 17:18:11 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#148">[ date ]</a><a href="index.html#148">[ thread ]</a><a href="subject.html#148">[ subject ]</a><a href="author.html#148">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Matthew Smith: "Mustek CG800 Hand Held Scanner"</a>
<li> <b>Previous message:</b> <a href="0147.html">Rogier Wolff: "Re: DTC436e SCSI &amp; ScanExpress"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
... is available.<br>
<p>
Check out <a href="http://www.informatik.hu-berlin.de/~jkrueger/600scsi.txt">http://www.informatik.hu-berlin.de/~jkrueger/600scsi.txt</a><br>
Hope this helps.<br>
<p>
Regards<br>
Jan<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Matthew Smith: "Mustek CG800 Hand Held Scanner"</a>
<li> <b>Previous message:</b> <a href="0147.html">Rogier Wolff: "Re: DTC436e SCSI &amp; ScanExpress"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
