<!-- received="Wed Apr 15 15:58:09 1998 PDT" -->
<!-- sent="Thu, 16 Apr 1998 00:54:22 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: sane-0.72-1.i386.rpm not yet available" -->
<!-- id="" -->
<!-- inreplyto="35350CD9.A33@SanDiegoCA.NCR.COM" -->
<title>sane-devel: Re: sane-0.72-1.i386.rpm not yet available</title>
<h1>Re: sane-0.72-1.i386.rpm not yet available</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Thu, 16 Apr 1998 00:54:22 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#154">[ date ]</a><a href="index.html#154">[ thread ]</a><a href="subject.html#154">[ subject ]</a><a href="author.html#154">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">Jan Krueger: "Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets"</a>
<li> <b>Previous message:</b> <a href="0153.html">Adam Williams: "INFO FB213 SUPPORTED?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 15 Apr 1998, Matthew Costello wrote:<br>
<p>
<i>&gt; Sane 0.72 was announce a week ago (April 7) and the RPMs are not yet</i><br>
<i>&gt; available.  Since I have a UMAX 1200S (about to be installed) I want to</i><br>
<i>&gt; know whether I should wait for 0.72 (for the umax driver changes), or</i><br>
<i>&gt; just go ahead and install 0.71. Which do you recommend?</i><br>
<p>
RPM's are available under <a href="ftp://ftp.redhat.com/pub/contrib/hurricane/i386">ftp://ftp.redhat.com/pub/contrib/hurricane/i386</a><br>
<p>
(also under ../SRPMS and ../alpha)<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">Jan Krueger: "Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets"</a>
<li> <b>Previous message:</b> <a href="0153.html">Adam Williams: "INFO FB213 SUPPORTED?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
