<!-- received="Fri Apr 17 17:46:11 1998 PDT" -->
<!-- sent="Sat, 18 Apr 1998 08:45:27 +0800 (SGT)" -->
<!-- name="Mathias Koerber" -->
<!-- email="mathias@koerber.org" -->
<!-- subject="Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)" -->
<!-- id="" -->
<!-- inreplyto="35376A46.69262EDF@ic.ac.uk" -->
<title>sane-devel: Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)</title>
<h1>Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)</h1>
<b>Mathias Koerber</b> (<a href="mailto:mathias@koerber.org"><i>mathias@koerber.org</i></a>)<br>
<i>Sat, 18 Apr 1998 08:45:27 +0800 (SGT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#184">[ date ]</a><a href="index.html#184">[ thread ]</a><a href="subject.html#184">[ subject ]</a><a href="author.html#184">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Jonathan Buzzard: "Re: Sample/proposal for the overview pages"</a>
<li> <b>Previous message:</b> <a href="0183.html">Mathias Koerber: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>In reply to:</b> <a href="0172.html">Dr. Andreas Bolsch: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 17 Apr 1998, Dr. Andreas Bolsch wrote:<br>
<p>
<i>| Date: Fri, 17 Apr 1998 16:42:14 +0200</i><br>
<i>| From: "Dr. Andreas Bolsch" &lt;<a href="mailto:a.bolsch@ic.ac.uk">a.bolsch@ic.ac.uk</a>&gt;</i><br>
<i>| Reply-To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>| To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>| Subject: Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)</i><br>
<i>| </i><br>
<i>| Of course, it a good idea to quote the company's policy.</i><br>
<i>| But be careful not to ask for boycott as this might lead</i><br>
<i>| to prosecution. Some companies are very narrow-minded.</i><br>
<i>| Just state the facts explicitly.</i><br>
<p>
Ok, so we put up statements by individuals who recommend or<br>
not certain manufacturers.<br>
Below that: The usual disclaimer that these opinions are not<br>
necessarily the opinions of the team/owner of the SANE site/other<br>
SANE developers and users...<br>
<p>
Companies like to use testimonials on their page to speak FOR their<br>
products, lets us use testimonials to speak FOR sane and give individuals'<br>
recommendations re: what scanner to use..<br>
<p>
<i>| </i><br>
<i>| --</i><br>
<i>| Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>| To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>| </i><br>
<p>
Mathias Koerber   | Tel: +65 / 471 9820    |   <a href="mailto:mathias@staff.singnet.com.sg">mathias@staff.singnet.com.sg</a><br>
SingNet NOC       | Fax: +65 / 475 3273    |            <a href="mailto:mathias@koerber.org">mathias@koerber.org</a><br>
Q'town Tel. Exch. | PGP: Keyid: 768/25E082BD, finger <a href="mailto:mathias@singnet.com.sg">mathias@singnet.com.sg</a><br>
2 Stirling Rd     |      1A 8B FC D4 93 F1 9A FC BD 98 A3 1A 0E 73 01 65<br>
S'pore 148943     | Disclaimer: I speak only for myself<br>
* Eifersucht ist eine Leidenschaft, die mit Eifer sucht, was Leiden schafft *<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Jonathan Buzzard: "Re: Sample/proposal for the overview pages"</a>
<li> <b>Previous message:</b> <a href="0183.html">Mathias Koerber: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>In reply to:</b> <a href="0172.html">Dr. Andreas Bolsch: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
