<!-- received="Sat Apr 18 10:04:59 1998 PDT" -->
<!-- sent="18 Apr 1998 10:02:08 -0700" -->
<!-- name="Kevin Dalley" -->
<!-- email="kevind@rahul.net" -->
<!-- subject="Custom gamma table causes undesired distortions in Astra 1200S" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Custom gamma table causes undesired distortions in Astra 1200S</title>
<h1>Custom gamma table causes undesired distortions in Astra 1200S</h1>
<b>Kevin Dalley</b> (<a href="mailto:kevind@rahul.net"><i>kevind@rahul.net</i></a>)<br>
<i>18 Apr 1998 10:02:08 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#188">[ date ]</a><a href="index.html#188">[ thread ]</a><a href="subject.html#188">[ subject ]</a><a href="author.html#188">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">Sean Reifschneider: "Re: /proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0187.html">Oliver.Rauch@Wolfsburg.DE: "Re: Sane compilation ate my ram!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--Multipart_Sat_Apr_18_10:02:07_1998-1<br>
Content-Type: text/plain; charset=US-ASCII<br>
<p>
This bug report is forwarded from the Debian bug tracking system.  <br>
<p>
<p>
--Multipart_Sat_Apr_18_10:02:07_1998-1<br>
Content-Type: message/rfc822<br>
<p>
Resent-From: <a href="mailto:jgoerzen@complete.org">jgoerzen@complete.org</a><br>
Subject: Bug#21329: sane: Custom gamma table causes undesired distortions<br>
Reply-To: &lt;<a href="mailto:jgoerzen@complete.org">jgoerzen@complete.org</a>&gt;, 21329@bugs.debian.org<br>
Resent-To: <a href="mailto:debian-bugs-dist@lists.debian.org">debian-bugs-dist@lists.debian.org</a><br>
Resent-Cc: Kevin Dalley &lt;<a href="mailto:kevind@rahul.net">kevind@rahul.net</a>&gt;<br>
Resent-Date: Sat, 18 Apr 1998 04:44:38 GMT<br>
Resent-Message-Id: &lt;handler.21329.B.8928740616665@bugs.debian.org&gt;<br>
Resent-Sender: <a href="mailto:iwj@debian.org">iwj@debian.org</a><br>
Date: Fri, 17 Apr 1998 00:24:40 -0500<br>
Message-Id: &lt;199804170524.AAA14655@garfield.complete.org&gt;<br>
From: &lt;<a href="mailto:jgoerzen@complete.org">jgoerzen@complete.org</a>&gt;<br>
To: <a href="mailto:submit@bugs.debian.org">submit@bugs.debian.org</a><br>
<p>
Package: sane<br>
Version: 0.71-2<br>
<p>
Using umax mode with an Astra 1200S scanner, scanning at color 600 DPI with<br>
custom gamma table.<br>
<p>
I have simply set the image intensity to about 1.5 and the red intensity to<br>
about 1.2.  Whenever some very bright part of the picture is scanned, it is<br>
not read in as white but rather as some other color such as a light blue,<br>
yellow, green, or red.  The white scanner background is almost a solid<br>
black.  This phenomenon persists both in the prevue and the final scan.<br>
<p>
-- System Information<br>
Debian Release: 2.0 (frozen)<br>
Kernel Version: Linux garfield 2.0.33 #1 Wed Jan 14 22:54:52 CST 1998 i586 unknown<br>
<p>
Versions of the packages sane depends on:<br>
libc6	Version: 2.0.7pre1-4<br>
libgimp1	Version: 0.99.26-1<br>
libgtk1	Version: 1:0.99.10-1<br>
xlib6g	Version: 3.3.2-3<br>
xpm4g	Version: 3.4j-0.6<br>
<p>
<p>
--Multipart_Sat_Apr_18_10:02:07_1998-1--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">Sean Reifschneider: "Re: /proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0187.html">Oliver.Rauch@Wolfsburg.DE: "Re: Sane compilation ate my ram!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
