<!-- received="Sun Apr 19 03:51:57 1998 PDT" -->
<!-- sent="Sun, 19 Apr 1998 12:51:11 +0200" -->
<!-- name="Christian Bucher" -->
<!-- email="cbucher@vernetzt.at" -->
<!-- subject="Re: Dexxa Flatbedscanner support ...." -->
<!-- id="" -->
<!-- inreplyto="Dexxa Flatbedscanner support ...." -->
<title>sane-devel: Re: Dexxa Flatbedscanner support ....</title>
<h1>Re: Dexxa Flatbedscanner support ....</h1>
<b>Christian Bucher</b> (<a href="mailto:cbucher@vernetzt.at"><i>cbucher@vernetzt.at</i></a>)<br>
<i>Sun, 19 Apr 1998 12:51:11 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#198">[ date ]</a><a href="index.html#198">[ thread ]</a><a href="subject.html#198">[ subject ]</a><a href="author.html#198">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Rob Fargher: "Problems compiling SANE"</a>
<li> <b>Previous message:</b> <a href="0197.html">Christian Bucher: "Re: Dexxa Flatbedscanner support ...."</a>
<li> <b>Maybe in reply to:</b> <a href="0180.html">Gernot Ziegler: "Dexxa Flatbedscanner support ...."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Christian Bucher wrote:<br>
<i>&gt; </i><br>
<i>&gt; Gernot Ziegler wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Hi everyone !</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; Ich nehme mal an Du gehörst dem österreichischen Teil der Austria &lt;=&gt;</i><br>
<i>&gt; Sweden</i><br>
<i>&gt; connection an.</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; I bought myself (a cheap ;) ) Dexxa 4800 Flatbedscanner which is running</i><br>
<i>&gt; &gt; over the parallel port, and I'd like to develop drivers for that beast ;)</i><br>
<i>&gt; &gt; ...</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; How do I have to start such a project ? Are there any experiences with</i><br>
Sorry about the message above in german. It was thought as a private<br>
message but<br>
I pressed the wrong button. Maybe someone is able to remove it. Thanks<br>
<p>
<p>
<p>
christian<br>
<p>
<p>
<pre>
-- 
+-------------------------------------------------------------------
| Christian Bucher
| phone: +43 1 5488640 mobil: +43 676 4208334
| <a href="mailto:cbucher@vernetzt.at">mailto:cbucher@vernetzt.at</a>
+-------------------------------------------------------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Rob Fargher: "Problems compiling SANE"</a>
<li> <b>Previous message:</b> <a href="0197.html">Christian Bucher: "Re: Dexxa Flatbedscanner support ...."</a>
<li> <b>Maybe in reply to:</b> <a href="0180.html">Gernot Ziegler: "Dexxa Flatbedscanner support ...."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
