<!-- received="Sun Apr 19 09:50:30 1998 PDT" -->
<!-- sent="Sun, 19 Apr 1998 09:50:28 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Linux Sense buffer (was: sane 0.71 and microtek E3)" -->
<!-- id="199804191650.JAA14838@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.3.96.980331092901.26931A-100000@hvdkooij" -->
<title>sane-devel: Re: Linux Sense buffer (was: sane 0.71 and microtek E3)</title>
<h1>Re: Linux Sense buffer (was: sane 0.71 and microtek E3)</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sun, 19 Apr 1998 09:50:28 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#200">[ date ]</a><a href="index.html#200">[ thread ]</a><a href="subject.html#200">[ subject ]</a><a href="author.html#200">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0201.html">Hugo van der Kooij: "Re: Problems compiling SANE"</a>
<li> <b>Previous message:</b> <a href="0199.html">Rob Fargher: "Problems compiling SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>  &gt;&gt; There is.  I sent the appended patch to Linus a short while ago.</i><br>
<i>  &gt;&gt; Of course, you shouldn't rely on this patch being present until</i><br>
<i>  &gt;&gt; it has been folded into the regular sources.</i><br>
<p>
  Sean&gt; How about the following patch?  It creates "/proc/scsi/sg",<br>
  Sean&gt; which at the moment only reports the SG_BIG_BUFF size.  To<br>
  Sean&gt; detect if the patch is in the currently-running kernel you<br>
  Sean&gt; just check the existance of "/proc/scsi/sg" -- if it's not<br>
  Sean&gt; there you can default to 32K.<br>
<p>
Note that my patch implementing /proc/sys/kernel/sg-big-buff is in the<br>
Linux kernel starting with version linux-2.1.92.  The necessary<br>
support in SANE is present as of version 0.72.  So we should be all<br>
set once Linux v2.2 has been released.<br>
<p>
However, the one missing piece right now is that<br>
/proc/sys/kernel/sg-big-buff is read-only, meaning that you can't<br>
increase the value at runtime.  The only major obstacle in<br>
implementing this is that the Linux kernel presently has difficulty in<br>
allocating contiguous physical memory that's larger than a page after<br>
the boot process has completed (it's easy at boot time, but after<br>
that, it's harder).  I'm told that Matt Welsh has a fix for this<br>
problem, but I don't know whether those patches are scheduled for<br>
inclusion for Linux v2.2.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0201.html">Hugo van der Kooij: "Re: Problems compiling SANE"</a>
<li> <b>Previous message:</b> <a href="0199.html">Rob Fargher: "Problems compiling SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
