<!-- received="Mon Apr 20 21:07:15 1998 PDT" -->
<!-- sent="Mon, 20 Apr 1998 21:07:12 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Just wanted to extend my congratulations" -->
<!-- id="199804210407.VAA02716@panda.mostang.com" -->
<!-- inreplyto="199804200253.WAA27497@panix3.panix.com" -->
<title>sane-devel: Re: Just wanted to extend my congratulations</title>
<h1>Re: Just wanted to extend my congratulations</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 20 Apr 1998 21:07:12 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#222">[ date ]</a><a href="index.html#222">[ thread ]</a><a href="subject.html#222">[ subject ]</a><a href="author.html#222">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0223.html">David Mosberger-Tang: "Re: /proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0221.html">Justin: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>In reply to:</b> <a href="0211.html">Kenneth Crudup: "Just wanted to extend my congratulations"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 19 Apr 1998 22:53:41 -0400 (EDT), Kenneth Crudup &lt;<a href="mailto:kenny@panix.com">kenny@panix.com</a>&gt; said:</i><br>
<p>
  Kenneth&gt; Friday night, I went out and downloaded the sources for:<br>
<p>
  Kenneth&gt; - libgr 2.0.13 - GTK 1.0 - Sane 0.72 - Gimp .99.26 and it's<br>
  Kenneth&gt; latest data extras and the unreleased stuff<br>
<p>
  Kenneth&gt; ... and after compilation of each, my Microtek E6 on the<br>
  Kenneth&gt; 2nd channel of my Adaptec 3940U, PII-291 with 128MB, and<br>
  Kenneth&gt; sg.o with the BIGBUFF to 128K in my 2.0.33 kernel works<br>
  Kenneth&gt; *beautifully*. No hangups, no glitches, no coredumps, no<br>
  Kenneth&gt; nuthin' but scans, scans and scans.<br>
<p>
Glad to hear that!<br>
<p>
  Kenneth&gt; Thanks to all the associated teams for removing the last<br>
  Kenneth&gt; reason I ever had to boot into W*nd*ws!<br>
<p>
  Kenneth&gt; I feel the need to "give back". If you wish assistance,<br>
  Kenneth&gt; someone send me a note.<br>
<p>
There is many ways to give back.  An obvious way is to write more code<br>
or improve the existing one, but it's by no means the only way.  Other<br>
possibilities are in working on improving the documentation or simply<br>
by assisting others in getting started.  A scanner FAQ is something<br>
that strikes me as the most needed piece of info.<br>
<p>
Cheers,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0223.html">David Mosberger-Tang: "Re: /proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0221.html">Justin: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>In reply to:</b> <a href="0211.html">Kenneth Crudup: "Just wanted to extend my congratulations"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
