<!-- received="Tue Apr 21 07:32:17 1998 PDT" -->
<!-- sent="Tue, 21 Apr 1998 07:32:16 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: sane 0.72 compilation under Solaris x86" -->
<!-- id="199804211432.HAA04079@panda.mostang.com" -->
<!-- inreplyto="199804211354.PAA01366@ti2pc2.fernuni-hagen.de" -->
<title>sane-devel: Re: sane 0.72 compilation under Solaris x86</title>
<h1>Re: sane 0.72 compilation under Solaris x86</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 21 Apr 1998 07:32:16 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#227">[ date ]</a><a href="index.html#227">[ thread ]</a><a href="subject.html#227">[ subject ]</a><a href="author.html#227">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">Andreas Graevinghoff: "Re: sane 0.72 compilation under Solaris x86"</a>
<li> <b>Previous message:</b> <a href="0226.html">Andreas Graevinghoff: "sane 0.72 compilation under Solaris x86"</a>
<li> <b>In reply to:</b> <a href="0226.html">Andreas Graevinghoff: "sane 0.72 compilation under Solaris x86"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0228.html">Andreas Graevinghoff: "Re: sane 0.72 compilation under Solaris x86"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 21 Apr 1998 15:54:49 +0200, Andreas Graevinghoff &lt;<a href="mailto:Andreas.Graevinghoff@FernUni-Hagen.de">Andreas.Graevinghoff@FernUni-Hagen.de</a>&gt; said:</i><br>
<p>
  Andreas&gt; I have a problem compiling and installing sane-0.72 under<br>
  Andreas&gt; solaris x86 2.6<br>
<p>
  Andreas&gt; I use gtk 1.0.0 &amp; gimp 0.99.27 &amp; gcc 2.7.2.2 &amp; sane-0.72<br>
  Andreas&gt; (including the patch from Michael Polo to sanei_pio.c)<br>
<p>
  Andreas&gt; I used the following commans to build sane:<br>
<p>
  Andreas&gt; setenv CPPFLAGS -I/opt/include -L/opt/lib setenv MAKE<br>
  Andreas&gt; /opt/bin/make ./configure --prefix=/opt /opt/bin/make<br>
  Andreas&gt; /opt/bin/make install<br>
<p>
  Andreas&gt; The last steps breaks with the following messages:<br>
<p>
  Andreas&gt; make[1]: Entering directory<br>
  Andreas&gt; `/home/install/sane-0.72/frontend' ../mkinstalldirs<br>
  Andreas&gt; /opt/bin /opt/sbin /opt/share .././install-sh -c scanimage<br>
  Andreas&gt; /opt/bin/scanimage .././install-sh -c xscanimage<br>
  Andreas&gt; /opt/bin/xscanimage ../libtool: syntax error at line 105:<br>
  Andreas&gt; `fi' unexpected make[1]: *** [install] Error 2 make[1]:<br>
  Andreas&gt; Leaving directory `/home/install/sane-0.72/frontend' make:<br>
  Andreas&gt; *** [install-recursive] Error 1 Exit 2<br>
<p>
You need GNU make, as stated in the README in the top-level directory.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">Andreas Graevinghoff: "Re: sane 0.72 compilation under Solaris x86"</a>
<li> <b>Previous message:</b> <a href="0226.html">Andreas Graevinghoff: "sane 0.72 compilation under Solaris x86"</a>
<li> <b>In reply to:</b> <a href="0226.html">Andreas Graevinghoff: "sane 0.72 compilation under Solaris x86"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0228.html">Andreas Graevinghoff: "Re: sane 0.72 compilation under Solaris x86"</a>
<!-- reply="end" -->
</ul>
