<!-- received="Tue Apr 21 16:43:43 1998 PDT" -->
<!-- sent="Tue, 21 Apr 1998 16:21:26 -0700" -->
<!-- name="Michael Polo" -->
<!-- email="mikep@Polo.NET" -->
<!-- subject="Re: sane 0.72 compilation under Solaris x86" -->
<!-- id="199804212321.QAA01970@enigma.Polo.NET" -->
<!-- inreplyto="sane 0.72 compilation under Solaris x86" -->
<title>sane-devel: Re: sane 0.72 compilation under Solaris x86</title>
<h1>Re: sane 0.72 compilation under Solaris x86</h1>
<b>Michael Polo</b> (<a href="mailto:mikep@Polo.NET"><i>mikep@Polo.NET</i></a>)<br>
<i>Tue, 21 Apr 1998 16:21:26 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#237">[ date ]</a><a href="index.html#237">[ thread ]</a><a href="subject.html#237">[ subject ]</a><a href="author.html#237">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0238.html">mmaruska@tin.it: "xscanimage suggestions"</a>
<li> <b>Previous message:</b> <a href="0236.html">Justin: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Maybe in reply to:</b> <a href="0226.html">Andreas Graevinghoff: "sane 0.72 compilation under Solaris x86"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Andreas,<br>
<p>
Sorry, you only patched sanei_pio.c.  You forgot the second part<br>
of the patch.  <br>
<p>
if you cd to the sane directory and just copy and paste the lines<br>
below, you'll get a fixed version of ltconfig.  You have to rerun the<br>
config scripts so that a new version of libtool will be generated,<br>
like this:<br>
<p>
SANE_BUILD_ECHO=/usr/ucb/echo<br>
export SANE_BUILD_ECHO<br>
./configure; gmake ; gmake install<br>
<p>
The problem is with /bin/printf.  libtool requires a version of<br>
echo that doesn't do wierd substitution.  for solaris, this turns<br>
out to be;<br>
<p>
printf "%s\n" &lt;string&gt;<br>
<p>
changing this to<br>
<p>
/usr/ucb/echo &lt;string&gt; <br>
<p>
works too.<br>
<p>
I haven't been able to track down why it craps out.  Sun should <br>
probably get a bug report out of it, but it might really be a problem<br>
with libtool trying to pass something wierd to printf. <br>
<p>
Anyway, apply this patch, it should fix things.<br>
<p>
Does anyone have an idea on how to elegantly fix things in ltconfig<br>
for solaris 2.6, then get the changes back into libtool?<br>
<p>
Mike<br>
<p>
<p>
#!/bin/sh<br>
/bin/patch -bc -p 0 &lt;&lt;'EOF'<br>
*** ltconfig-orig     Thu Apr  2 23:25:40 1998<br>
--- ltconfig  Fri Apr 10 12:00:31 1998<br>
***************<br>
*** 29,35 ****<br>
  # if CDPATH is set.<br>
  if test "${CDPATH+set}" = set; then CDPATH=; export CDPATH; fi<br>
  <br>
! echo=echo<br>
  if test "X`($echo '\t') 2&gt;/dev/null`" = 'X\t'; then :<br>
  else<br>
    # The Solaris and AIX default echo program unquotes backslashes.<br>
--- 29,35 ----<br>
  # if CDPATH is set.<br>
  if test "${CDPATH+set}" = set; then CDPATH=; export CDPATH; fi<br>
  <br>
! echo=${SANE_BUILD_ECHO:-echo}<br>
  if test "X`($echo '\t') 2&gt;/dev/null`" = 'X\t'; then :<br>
  else<br>
    # The Solaris and AIX default echo program unquotes backslashes.<br>
EOF<br>
<p>
<p>
<i>&gt; Hi!</i><br>
<i>&gt; </i><br>
<i>&gt; I have a problem compiling and installing sane-0.72 under solaris x86 2.6</i><br>
<i>&gt; </i><br>
<i>&gt; I use gtk 1.0.0 &amp; gimp 0.99.27 &amp; gcc 2.7.2.2 &amp; sane-0.72 (including</i><br>
<i>&gt; the patch from Michael Polo to sanei_pio.c)</i><br>
<i>&gt; </i><br>
<i>&gt; I used the following commans to build sane:</i><br>
<i>&gt; </i><br>
<i>&gt; setenv CPPFLAGS -I/opt/include -L/opt/lib</i><br>
<i>&gt; setenv MAKE /opt/bin/make</i><br>
<i>&gt; ./configure --prefix=/opt</i><br>
<i>&gt; /opt/bin/make </i><br>
<i>&gt; /opt/bin/make install</i><br>
<i>&gt; </i><br>
<i>&gt; The last steps breaks with the following messages:</i><br>
<i>&gt; </i><br>
<i>&gt; make[1]: Entering directory `/home/install/sane-0.72/frontend'</i><br>
<i>&gt; ../mkinstalldirs /opt/bin /opt/sbin /opt/share</i><br>
<i>&gt; .././install-sh -c scanimage /opt/bin/scanimage</i><br>
<i>&gt; .././install-sh -c xscanimage /opt/bin/xscanimage</i><br>
<i>&gt; ../libtool: syntax error at line 105: `fi' unexpected</i><br>
<i>&gt; make[1]: *** [install] Error 2</i><br>
<i>&gt; make[1]: Leaving directory `/home/install/sane-0.72/frontend'</i><br>
<i>&gt; make: *** [install-recursive] Error 1</i><br>
<i>&gt; Exit 2</i><br>
<i>&gt; </i><br>
<i>&gt; On further inspection, make scanimage &amp; xscanimage die with an</i><br>
<i>&gt; Segmentation Fault:</i><br>
<i>&gt; </i><br>
<i>&gt; gcc -L/usr/openwin/lib -o .libs/scanimage scanimage.o -R/opt/lib </i><br>
<i>&gt; ../backend/.libs/libsane.so -L/usr/openwin/lib ../lib/liblib.a -ldl -lsocket </i><br>
<i>&gt; -lnsl -lintl -lm</i><br>
<i>&gt; creating scanimage</i><br>
<i>&gt; Segmentation Fault</i><br>
<i>&gt; </i><br>
<i>&gt; gcc -L/usr/openwin/lib -o .libs/xscanimage xscanimage.o progress.o preview.o </i><br>
<i>&gt; preferences.o gtkglue.o ../sanei/libsanei.a -R/opt/lib </i><br>
<i>&gt; ../backend/.libs/libsane.so -L/usr/openwin/lib ../lib/liblib.a -lgimp -lgtk </i><br>
<i>&gt; -lgdk -lXi -lglib -lXext -lX11 -ldl -lsocket -lnsl -lintl -lm</i><br>
<i>&gt; creating xscanimage</i><br>
<i>&gt; Segmentation Fault</i><br>
<i>&gt; </i><br>
<i>&gt; Is this normal ?</i><br>
<i>&gt; </i><br>
<i>&gt; Executing scanimage yields the following result:</i><br>
<i>&gt; </i><br>
<i>&gt; /opt/bin/scanimage: X/../backend/.libs:/usr/openwin/lib:/opt/X11R6/lib/X11:/opt</i><br>
<i>&gt; /lib: not found</i><br>
<i>&gt; /opt/bin/scanimage: -e: not found</i><br>
<i>&gt; /opt/bin/scanimage: /opt/bin/scanimage: cannot exec  : not found</i><br>
<i>&gt; Exit 1</i><br>
<i>&gt; </i><br>
<i>&gt; Any Suggestions would be greatly appreciated.</i><br>
<i>&gt; </i><br>
<i>&gt; Andreas Graevinghoff</i><br>
<i>&gt; FernUniversitaet Hagen</i><br>
<i>&gt; </i><br>
<i>&gt; I forgot to mention that the scg driver is installed on this machine</i><br>
<i>&gt; (configure regocnizes the corresponding .h file) and findscanner is</i><br>
<i>&gt; able to find my scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0238.html">mmaruska@tin.it: "xscanimage suggestions"</a>
<li> <b>Previous message:</b> <a href="0236.html">Justin: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Maybe in reply to:</b> <a href="0226.html">Andreas Graevinghoff: "sane 0.72 compilation under Solaris x86"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
