<!-- received="Fri Apr 24 12:21:52 1998 PDT" -->
<!-- sent="Fri, 24 Apr 1998 21:18:32 +0200" -->
<!-- name="Joerg Eggeling" -->
<!-- email="JEggeling@cuxonline.de" -->
<!-- subject="Re: Compile error in sane" -->
<!-- id="" -->
<!-- inreplyto="Compile error in sane" -->
<title>sane-devel: Re: Compile error in sane</title>
<h1>Re: Compile error in sane</h1>
<b>Joerg Eggeling</b> (<a href="mailto:JEggeling@cuxonline.de"><i>JEggeling@cuxonline.de</i></a>)<br>
<i>Fri, 24 Apr 1998 21:18:32 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#261">[ date ]</a><a href="index.html#261">[ thread ]</a><a href="subject.html#261">[ subject ]</a><a href="author.html#261">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0262.html">Joerg Eggeling: "Re: gtk_tooltips"</a>
<li> <b>Previous message:</b> <a href="0260.html">David Mosberger-Tang: "Re: Can't get SANE to compile on SGI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Hello Rob,<br>
 i subcribe to  the mailing just now :-) but of course i have no access<br>
 to the mailing list right now.<br>
<p>
 I think the error you described is just a spelling error in the source<br>
 code.<br>
<p>
 In the file gtkglue.c i changed the Line #80<br>
<p>
 from<br>
<p>
 gtk_tooltips_set_tip (tooltips, widget, desc, 0) (wrong I think)<br>
<p>
 to<br>
<p>
 gtk_tooltips_set_tips (tooltips, widget, desc)  (should be correct)<br>
<p>
 In Releases pre 0.99.4 you won 't get this error because of the<br>
 #ifdef ... #else ... #endif statement. 2 Lines above is the (nearly)<br>
 correct code<br>
 for Releases &gt; 0.99.4<br>
<p>
 With this correction the compilation works fine for me.<br>
 (ok, my Scanner doesn't work right now, but it is a very new modell, not<br>
 supported right now, Mustek 1200 SP PRO, but .... :-) )<br>
<p>
 mfg<br>
 Ulrich Hopp<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0262.html">Joerg Eggeling: "Re: gtk_tooltips"</a>
<li> <b>Previous message:</b> <a href="0260.html">David Mosberger-Tang: "Re: Can't get SANE to compile on SGI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
