<!-- received="Sun Apr 26 12:06:28 1998 PDT" -->
<!-- sent="Sun, 26 Apr 1998 15:05:52 +0700" -->
<!-- name="Rob Fargher" -->
<!-- email="fargher@POBoxes.com" -->
<!-- subject="Re: UMAX 1200S" -->
<!-- id="199804261915.PAA22317@emerald.accessv.com" -->
<!-- inreplyto="UMAX 1200S" -->
<title>sane-devel: Re: UMAX 1200S</title>
<h1>Re: UMAX 1200S</h1>
<b>Rob Fargher</b> (<a href="mailto:fargher@POBoxes.com"><i>fargher@POBoxes.com</i></a>)<br>
<i>Sun, 26 Apr 1998 15:05:52 +0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#284">[ date ]</a><a href="index.html#284">[ thread ]</a><a href="subject.html#284">[ subject ]</a><a href="author.html#284">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0285.html">Hugo van der Kooij: "Re: Two *other* problems with xscanimage"</a>
<li> <b>Previous message:</b> <a href="0283.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Maybe in reply to:</b> <a href="0246.html">Philip Balister: "UMAX 1200S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 26 Apr 1998 19:34:30 +0200 (MET DST), <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<p>
<p>
<i>&gt;May be they didn't change a lot, then we only have to include</i><br>
<i>&gt;the scanner-name into the supported-list. But sometimes there</i><br>
<i>&gt;happend ugly things in new versions, it took about one year until</i><br>
<i>&gt;the Astra 600S worked with sane!</i><br>
<p>
Oliver,<br>
<p>
  I'm pleased to report that my Astra 610S seems to work<br>
fine with sane.<br>
<p>
Cheers,<br>
Rob<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0285.html">Hugo van der Kooij: "Re: Two *other* problems with xscanimage"</a>
<li> <b>Previous message:</b> <a href="0283.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Maybe in reply to:</b> <a href="0246.html">Philip Balister: "UMAX 1200S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
