<!-- received="Sun Apr 26 16:54:26 1998 PDT" -->
<!-- sent="Mon, 27 Apr 1998 01:46:51 +0200 (MEST)" -->
<!-- name="hopp@darkstar.fact.rhein-ruhr.de" -->
<!-- email="hopp@darkstar.fact.rhein-ruhr.de" -->
<!-- subject="Re[2]: gtk_tooltips" -->
<!-- id="m0yTb8F-000FgNC@darkstar" -->
<!-- inreplyto="199804251626.SAA00215@Babylon5.wolfsburg.de" -->
<title>sane-devel: Re[2]: gtk_tooltips</title>
<h1>Re[2]: gtk_tooltips</h1>
<a href="mailto:hopp@darkstar.fact.rhein-ruhr.de"><i>hopp@darkstar.fact.rhein-ruhr.de</i></a><br>
<i>Mon, 27 Apr 1998 01:46:51 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#286">[ date ]</a><a href="index.html#286">[ thread ]</a><a href="subject.html#286">[ subject ]</a><a href="author.html#286">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0287.html">Hugo van der Kooij: "Re: Re[2]: gtk_tooltips"</a>
<li> <b>Previous message:</b> <a href="0285.html">Hugo van der Kooij: "Re: Two *other* problems with xscanimage"</a>
<li> <b>In reply to:</b> <a href="0265.html">Oliver.Rauch@Wolfsburg.DE: "Re: gtk_tooltips"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0287.html">Hugo van der Kooij: "Re: Re[2]: gtk_tooltips"</a>
<li> <b>Reply:</b> <a href="0287.html">Hugo van der Kooij: "Re: Re[2]: gtk_tooltips"</a>
<li> <b>Reply:</b> <a href="0300.html">Ruediger Berlich: "Re: Re[2]: gtk_tooltips"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Oliver,<br>
<p>
i think  i have found the reason for the problems with gtktooltips :<br>
<p>
The SuSE-Linux Distribution 5.2 installs the gtk-libs Version 0.99.3 as Version 1.0.0 in /usr/lib and the header files in /usr/include/.. for version 0.99.3. When I run configure on sane-0.72, configure thinks i have version 1.0.0 installed. During compilation the compiler switches to the wrong branch in the ifdef-statement in gtkglue.c near line #80.<br>
<p>
When i removed all SuSE Packages (gimp, gtk) and installed the original source packages the compilation works fine without any modifications.<br>
Of course no scan with Mustek 1200 SP PRO, but this is another story ... :)<br>
<p>
mfg<br>
Uli<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0287.html">Hugo van der Kooij: "Re: Re[2]: gtk_tooltips"</a>
<li> <b>Previous message:</b> <a href="0285.html">Hugo van der Kooij: "Re: Two *other* problems with xscanimage"</a>
<li> <b>In reply to:</b> <a href="0265.html">Oliver.Rauch@Wolfsburg.DE: "Re: gtk_tooltips"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0287.html">Hugo van der Kooij: "Re: Re[2]: gtk_tooltips"</a>
<li> <b>Reply:</b> <a href="0287.html">Hugo van der Kooij: "Re: Re[2]: gtk_tooltips"</a>
<li> <b>Reply:</b> <a href="0300.html">Ruediger Berlich: "Re: Re[2]: gtk_tooltips"</a>
<!-- reply="end" -->
</ul>
