<!-- received="Mon Apr 27 13:21:52 1998 PDT" -->
<!-- sent="Mon, 27 Apr 1998 22:22:08 +0200" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: MUSTEK Scan Express 6000 P" -->
<!-- id="3544E8F0.9F720FB3@ic.ac.uk" -->
<!-- inreplyto="MUSTEK Scan Express 6000 P" -->
<title>sane-devel: Re: MUSTEK Scan Express 6000 P</title>
<h1>Re: MUSTEK Scan Express 6000 P</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Mon, 27 Apr 1998 22:22:08 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#298">[ date ]</a><a href="index.html#298">[ thread ]</a><a href="subject.html#298">[ subject ]</a><a href="author.html#298">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0299.html">Jan Krueger: "Re: MUSTEK Scan Express 6000 P"</a>
<li> <b>Previous message:</b> <a href="0297.html">G. Bali: "MUSTEK Scan Express 6000 P"</a>
<li> <b>Maybe in reply to:</b> <a href="0297.html">G. Bali: "MUSTEK Scan Express 6000 P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0299.html">Jan Krueger: "Re: MUSTEK Scan Express 6000 P"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
If the ScanExpress 6000 P is similar to the ScanExpress 12000SP<br>
(just with parallel port instead of SCSI): <br>
  Jan Krueger got recently the command set from Mustek.<br>
  I'm currently working on the backend, gray already works fine.<br>
  So, be patient until it is finished. Maybe it will work<br>
  with the 6000 P too.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0299.html">Jan Krueger: "Re: MUSTEK Scan Express 6000 P"</a>
<li> <b>Previous message:</b> <a href="0297.html">G. Bali: "MUSTEK Scan Express 6000 P"</a>
<li> <b>Maybe in reply to:</b> <a href="0297.html">G. Bali: "MUSTEK Scan Express 6000 P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0299.html">Jan Krueger: "Re: MUSTEK Scan Express 6000 P"</a>
<!-- reply="end" -->
</ul>
