<!-- received="Wed Apr 29 07:42:43 1998 PDT" -->
<!-- sent="Wed, 29 Apr 1998 10:41:12 +0700" -->
<!-- name="ipt" -->
<!-- email="ipt@tm.net.my" -->
<!-- subject="do you really have anything ?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: do you really have anything ?</title>
<h1>do you really have anything ?</h1>
<b>ipt</b> (<a href="mailto:ipt@tm.net.my"><i>ipt@tm.net.my</i></a>)<br>
<i>Wed, 29 Apr 1998 10:41:12 +0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#309">[ date ]</a><a href="index.html#309">[ thread ]</a><a href="subject.html#309">[ subject ]</a><a href="author.html#309">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0310.html">Slana: "Re: problems with xscanimage"</a>
<li> <b>Previous message:</b> <a href="0308.html">Matto Marjanovic: "Re: Two *other* problems with xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I dont see any drivers below musteks page. Do you have it or just a bull<br>
shit in the mailing list of fbsd mailing list ?<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0310.html">Slana: "Re: problems with xscanimage"</a>
<li> <b>Previous message:</b> <a href="0308.html">Matto Marjanovic: "Re: Two *other* problems with xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
