<!-- received="Wed Apr 29 19:49:05 1998 PDT" -->
<!-- sent="Wed, 29 Apr 1998 19:49:04 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: xscanimage patch: progress updation" -->
<!-- id="199804300249.TAA23120@panda.mostang.com" -->
<!-- inreplyto="m0yUhXG-000J3NC@yoo-hoo.ai.mit.edu" -->
<title>sane-devel: Re: xscanimage patch: progress updation</title>
<h1>Re: xscanimage patch: progress updation</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 29 Apr 1998 19:49:04 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#313">[ date ]</a><a href="index.html#313">[ thread ]</a><a href="subject.html#313">[ subject ]</a><a href="author.html#313">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0314.html">Russell Edwards: "HP ScanJet 5100C"</a>
<li> <b>Previous message:</b> <a href="0312.html">Matto Marjanovic: "xscanimage patch: progress updation"</a>
<li> <b>In reply to:</b> <a href="0312.html">Matto Marjanovic: "xscanimage patch: progress updation"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0315.html">Hugo van der Kooij: "Re: xscanimage patch: progress updation"</a>
<li> <b>Reply:</b> <a href="0315.html">Hugo van der Kooij: "Re: xscanimage patch: progress updation"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 29 Apr 1998 20:49:14 -0400 (EDT), Matto Marjanovic &lt;<a href="mailto:maddog@mir.com">maddog@mir.com</a>&gt; said:</i><br>
<p>
  Matto&gt; Here is a microscopic patch for xscanimage... it simply<br>
  Matto&gt; changes "gdk_events_pending" to "gtk_events_pending".<br>
<p>
Thanks for this suggestion.  I changed all occurrences of<br>
gdk_events_pending to gtk_events_pending (there are a total of four<br>
lines that had to be changed).<br>
<p>
  Matto&gt; I've always been annoyed by how my progress bar never updates<br>
  Matto&gt; at a useful pace, if it appears at all.  This solves the<br>
  Matto&gt; problem beautifully --- and, I think "gdk_" was a typo to<br>
  Matto&gt; boot, since a) the GTK+ Tutorial says "gtk_", and b) the<br>
  Matto&gt; progress update function should generate GTK events, not GDK<br>
  Matto&gt; events, I would think.<br>
<p>
No, the gdk was not a typo---gtk_events_pending simply did not exist<br>
until Jan 17th this year.  It appears that until today simply nobody<br>
has noticed its appearance... ;-)<br>
<p>
Thanks,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0314.html">Russell Edwards: "HP ScanJet 5100C"</a>
<li> <b>Previous message:</b> <a href="0312.html">Matto Marjanovic: "xscanimage patch: progress updation"</a>
<li> <b>In reply to:</b> <a href="0312.html">Matto Marjanovic: "xscanimage patch: progress updation"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0315.html">Hugo van der Kooij: "Re: xscanimage patch: progress updation"</a>
<li> <b>Reply:</b> <a href="0315.html">Hugo van der Kooij: "Re: xscanimage patch: progress updation"</a>
<!-- reply="end" -->
</ul>
