<!-- received="Mon Dec  9 23:19:39 1996 MST" -->
<!-- sent="Mon, 9 Dec 1996 23:25:19 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="mailing list" -->
<!-- id="199612100625.XAA27236@koala.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: mailing list</title>
<h1>mailing list</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Mon, 9 Dec 1996 23:25:19 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#0">[ date ]</a><a href="index.html#0">[ thread ]</a><a href="subject.html#0">[ subject ]</a><a href="author.html#0">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">David Mosberger-Tang: "welcome to the sane-devel mailing list"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The sane-devel mailing list is now up.  It's being archived at:<br>
<p>
	<a href="http://www.azstarnet.com/~axplinux/sane/archive/">http://www.azstarnet.com/~axplinux/sane/archive/</a><br>
<p>
Enjoy,<br>
	--david<br>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">David Mosberger-Tang: "welcome to the sane-devel mailing list"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
