<!-- received="Sun Dec 15 10:32:07 1996 MST" -->
<!-- sent="Sun, 15 Dec 1996 03:39:04 +0100 (MET)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: sane-0.3: it's almost for real now!" -->
<!-- id="m0vZ6Tp-000BYHC@charon.beck-sw.de" -->
<!-- inreplyto="199612140421.VAA19413@panda.mosberger" -->
<title>sane-devel: Re: sane-0.3: it's almost for real now!</title>
<h1>Re: sane-0.3: it's almost for real now!</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Sun, 15 Dec 1996 03:39:04 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#10">[ date ]</a><a href="index.html#10">[ thread ]</a><a href="subject.html#10">[ subject ]</a><a href="author.html#10">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Tristan Tarrant: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Previous message:</b> <a href="0009.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mail lossage?"</a>
<li> <b>In reply to:</b> <a href="0004.html">Erik Troan: "Re: sane-0.3: it's almost for real now!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; toolkit is available.  At present, it gets compiled as a (somewhat</i><br>
<i>&gt; useless) standalone program---i.e., it does not get compiled as a GIMP</i><br>
<i>&gt; plug in.  I wasn't sure what the right thing to do is here.</i><br>
Well ... best thing would be to ask the user ...<br>
<p>
<i>&gt; The main new feature is auto configuration.  You should be able to get</i><br>
<i>&gt; something working simply by doing:</i><br>
<i>&gt; 	./configure</i><br>
<i>&gt; 	make</i><br>
<i>&gt; 	make install</i><br>
<i>&gt; How is that for a change? ;-)</i><br>
Great !<br>
<p>
<i>&gt; Andy, I was hoping to integrate the two linedistance correction codes</i><br>
<i>&gt; tonight, but am too burnt out to think straight, so I figured it's</i><br>
<i>&gt; safer to leave that for the next release.  Definitively something we</i><br>
<i>&gt; should do before making the first "public" release though.</i><br>
Yep ... the correction itself seems to be generic for the MFS/MSF<br>
type scanners, though the do-not-send-LD-or-the-scanner-goes-mad <br>
problem seems to be not that widespread.<br>
<p>
Thus we should probably use #define DONT_SEND_LD for the latter<br>
while autodetecting the MFS and its correction.<br>
 <br>
CU,ANdy<br>
<p>
<pre>
-- 
==============================================================================
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
===  World-Wide-Web URL :  <a href="http://sunserver1.rz.uni-duesseldorf.de/~becka">http://sunserver1.rz.uni-duesseldorf.de/~becka</a>  ===
==============================================================================
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Tristan Tarrant: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Previous message:</b> <a href="0009.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mail lossage?"</a>
<li> <b>In reply to:</b> <a href="0004.html">Erik Troan: "Re: sane-0.3: it's almost for real now!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
