<!-- received="Fri Jan 17 20:08:16 1997 MST" -->
<!-- sent="Fri, 17 Jan 1997 16:01:49 +0100 (MET)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: sane-0.32 available" -->
<!-- id="m0vlFni-000BXuC@charon.beck-sw.de" -->
<!-- inreplyto="199701151830.NAA28089@tristan.redhat.com" -->
<title>sane-devel: Re: sane-0.32 available</title>
<h1>Re: sane-0.32 available</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Fri, 17 Jan 1997 16:01:49 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">becka@sunserver1.rz.uni-duesseldorf.de: "Netsane ... getting better ..."</a>
<li> <b>Previous message:</b> <a href="0035.html">Jeremy Rosenberger: "Re: Microtek SANE backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt;This is correct ... when I got too much time, I will look for the NCR</i><br>
<i>&gt; &gt;docs on the chip and take a piece of wire and a soldering iron to add</i><br>
<i>&gt; &gt;an interrupt to my card. If I succeed, I will tell you all.</i><br>
<i>&gt; I did it on a 53c400a-based card, but the 53c400a driver hangs anyway.</i><br>
<i>&gt; It worked, but only as well as without interrupts -- meaning that it</i><br>
<i>&gt; hung the computer most times I tried to get a scan.  </i><br>
Well mine works fine, except for the "CPU-hogging". Whenever a scan is running<br>
everything else nearly freezes.<br>
<p>
<i>&gt; I don't have the docs handy as I type this, but if you want, I can look </i><br>
<i>&gt; them up when I get home.  </i><br>
Would really be nice ... would probably save me some web-surfing ...<br>
<p>
<i>&gt; Now I just use a 53c810.  :-)</i><br>
Which is what I use for my harddisks ;-)<br>
<p>
CU,ANdy<br>
<p>
<pre>
-- 
==============================================================================
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
===  World-Wide-Web URL :  <a href="http://sunserver1.rz.uni-duesseldorf.de/~becka">http://sunserver1.rz.uni-duesseldorf.de/~becka</a>  ===
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">becka@sunserver1.rz.uni-duesseldorf.de: "Netsane ... getting better ..."</a>
<li> <b>Previous message:</b> <a href="0035.html">Jeremy Rosenberger: "Re: Microtek SANE backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
