<!-- received="Thu Jan 23 20:07:27 1997 MST" -->
<!-- sent="Fri, 24 Jan 1997 01:40:20 +0100 (MET)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Netsane working. Just making the diffs ..." -->
<!-- id="m0vnZgq-000BYVC@charon.beck-sw.de" -->
<!-- inreplyto="" -->
<title>sane-devel: Netsane working. Just making the diffs ...</title>
<h1>Netsane working. Just making the diffs ...</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Fri, 24 Jan 1997 01:40:20 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#41">[ date ]</a><a href="index.html#41">[ thread ]</a><a href="subject.html#41">[ subject ]</a><a href="author.html#41">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">becka@sunserver1.rz.uni-duesseldorf.de: "Get-Option ..."</a>
<li> <b>Previous message:</b> <a href="0040.html">becka@sunserver1.rz.uni-duesseldorf.de: "netsane running ..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all !<br>
<p>
Finally I got it working ... netsane transfers pictures ...<br>
<p>
It is still not perfect, but useable. I still have a strange effect in the<br>
commandline-tool scan (it shows options correctly, but tells me<br>
it doesn't recognize the --filename option, when I try to set it).<br>
<p>
However when not setting any options it works fine.<br>
<p>
Although it is VERY alpha, I will release the diffs for you to check them.<br>
<p>
They are against 0.32 - I dunno, if they work well with 0.40 (please <br>
check !).<br>
<p>
Any comments are welcome.<br>
<p>
When this stabilizes a bit and the TODO list is empty, we could add another <br>
tiny bit to the package.<br>
<p>
CU,Andy<br>
<p>
begin 644 diff.gz<br>
M'XL("-T#Z#(``V1I9F8`[#SK?]HXMI_#7Z%ATA3S"N31-E"RIH2DF2:0"V0Z<br>
M\TNS7F.;X%MC&lt;VW3)-O-_NU[CB3;\HND:7?FPYU.BVV=AZ3SEBR/;LYFI+8B<br>
MM9IK:"O7,[\8&lt;&amp;\;M[69:1G$4VVCUJCO[FR?JY\-;*J;=M1:!T014JC5:MDT<br>
M&amp;V/5)T&gt;&amp;1II[I+'7VMMK[1R0YL'!JT*E4LEG2,<a href="mailto:E^46W2?$.:NZV">E^46W2?$.:NZV</a>]@];^&amp;R1[<br>
M79!E4FL&gt;5%^3"OV5Y0(ID*/^\7BC0VI'RLG@4AD/+T&gt;]/CQ=="?OE7%WT%=Z<br>
MP\'QZ8ER=#KJ?"INEKQ[3W/LF7FCFZZTC:.HZY^*!3*\F%`^-Z0V)+6/JF61<br>
MVM+05=LW-;)9PFZD0FU\^0X8(&gt;)4U3X;MDYFKF/[&gt;*,[6J&amp;R'DYLP\&lt;&gt;&lt;=S0<br>
M00M_(B5`J_Y4U7#NVPO#5W6KKB7$F00GE)0$;QR[)M/4+FF\:NWOM1JYFDK1<br>
M3N8KJJZ=7?@+NFHU&amp;Y&amp;Z=E]3?&gt;'E#5&lt;85&lt;K85_V55Z"\%="'[SJ6XBQ]T[%)<br>
MB6*\5VT=ICRGERJC.K5]PI"JA=K&amp;!L$_%-#5**5*+U7RQ3%U4OZB6JN`\J/C<br>
M0@LQ[9DC%2IK2&amp;G;KTBI3.Z7!O'AIQI2/,*8?"T`DN&gt;[*\TG*"#%TU3;-EQ2<br>
M]DB'SZ6-.*[AKUR8JN78-Q(IE;W:X=2H'3K+J^&amp;%TIN&lt;*6".I\/!-&lt;``%`B!<br>
MSST8[#/,9&gt;7YQN=\&lt;^'@/'/AX(1C-W=:NV\&gt;-9&gt;`-F$NKUI[HG?O-7:H?^/U<br>
MSS`8@:[\PXPES909RCF5B3+.L1%AWF!3&gt;&amp;E_N\:7]B)7W126HVL*B\4%4'2S<br>
MM;O[F*(984++^V`DD99W=E^ADO'R)P6%M5J-`Y/JC;$A(B;5;RP2A,V+&gt;VP&amp;<br>
M]3:^084L3:U&lt;(R'IL#VANK`]YI\@_49KMY&amp;GMCA1E';W=UK-74%ES&lt;8&gt;U1F[<br>
MHM)43;F!L=N*YVJ02SN;["H`3@?C2??LK%/&lt;Y'&gt;09@LUWU67Y*6[(+692_YA<br>
M:'.'%(/T'V;+L"`(\FC4`'DT&gt;C!MS5KI!I]&amp;?5XD_R*&gt;H9.BM]VZ^CNY+F]O<br>
MWQ3_01#L&amp;YY?;A/CSO1)\R5I$K#(_4+E&gt;X?#4_I_:WRD/SPN$`UT&lt;WA(-GDM<br>
M`\*&lt;7([)V[&lt;4R!6T=\`4M!?41D^@K/'FX].S_KCS:?.K^%Q[MEJ*#X7*C^.\<br>
M5L+0U?J)?J+0F&gt;.B77*=D'H]1*0#:@-/8LX(ZH`4[S8Y:I'\U"%W]7J;^'/#<br>
M?H;GIBMG$93GOU@$3U8&amp;]4;R&amp;BLR\.(][HUK7#BC&gt;(9J;#_RXH.]ZAZIT%\T<br>
M$$*Z/04*V]-!OS3H]X^4\\OQI/]!.8,&amp;J)=!A(,&gt;<a href="mailto:5#C#T8?N:'@Y.*J2">5#C#T8?N:'@Y.*J2</a>)D2V<br>
MF8F&amp;`Y3#R\G%Y:1T]5PKN:Y"=OT!?%(&amp;@HR?K*NP,RS54JDR`4UH+`&amp;E2L.X<br>
M2R!=[F`IG%]&amp;)TDQT]*$"2&amp;[V6J\;C4$O&gt;V^&gt;4VK:'IAFB/$&lt;&lt;T;R"CEDE"'<br>
M2H0FIF4;&lt;RKA50,@9694W?AB:JRJM%&lt;+GDV[/:P[E7%_HOS:/;OLTYRZL&lt;'8<br>
M5LD636]M3)$;&amp;T!8.Z1)D23AT#FX4XD/`+R()7CJE,K)&lt;'@DL4E\91="9DO7<br>
MM'U*HANN6R7%%UX+0J7OF_8-&lt;68\Q8,.7WADIH(.=5)ZX4F?[&amp;*5RNCU3@-E<br>
MQ"Z!C$+VVV7RT2`WCD]4$LQ[9L*JS%GY9.[&lt;DH5JW_,^/`(1&gt;*Y"]^7M@/YI<br>
MDFS$A7B2$"(RV@)1*X#/:3T@"L09%A*3WR^@;!A,JCG8?$R/"G@#IK^1)]J5<br>
MK4[!$7P'Y.$;[L*TC4#&amp;FK.R_4BP;_:I8.D%!8LCO079.;=\6%&gt;-Z[IO^L"M<br>
M0XI8S0)8]^?%=@ZN;G@:HGY$+-0M726AGE774.L!W5I1FX^+&amp;J7-^P;SA(X3<br>
MLD8?BBPX"Q6&amp;\4!%B'\,<a href="mailto:RS.XS%UML20E2FRKBZ`0'73/00">RS.XS%UML20E2FRKBZ`0'73/00</a>.][D!Y-U)^ET@'<br>
MRCW4`JB!RO&amp;`5KWLDBW'9E*.&lt;<a href="mailto:\.\F?O9@FQ">\.\F?O9@FQ</a>&amp;@GQ/T?XP23:?+LEF6I+L6JFP<br>
M&lt;2C4V-HL/&gt;U02V,7MB[80($S?E?P:]R1"MFYEBB+M;-*T;#I\-%F3YAL+1W!<br>
M(47&lt;T"4?I208*T$IT`#]"J*@0[E&amp;!(AJ:\&lt;+,ML"BLC3'YZ&gt;SH*"DVYLS1-)<br>
M)PY,)+,X,<a href="mailto:%22'T@YS4;.;EL@2EN/:#I0">+'T@YS4;.;EL@2EN/:#I0</a>&gt;L\(6U7_,-]0*\L+6?&lt;0?1!V..#:47<br>
ME&gt;Z0&amp;&lt;81&amp;+=K+GVHW,HTF:&amp;Z;T+1*7H$?\KB$*7)^XHMK+]GK0E_GK+2S$$3<br>
M0&lt;E5)DDN,P-$89&amp;Y9D(HIJ7J0FP"N)&lt;Y(9'I181:)I3.D[YAH9HJT./FD00G<br>
M["X)#NT'ED!8"C7@+]C/ZT:&amp;Y:5HQ?)WO[77Y!48L[U&amp;M0&amp;65SV@P:7R,SDQ<br>
M;,-5?:@DU)7O+%3?U%3+NL?Z&lt;T'$S&gt;_I/8F*;*1&lt;J/^+"PJH'R!OPMT7$!VJ<br>
M%M+U%*6(RPUO#C%8)Y8Y]5J%RJ_*&gt;?&gt;7X0BW`.C#Z8`^[!8JA&lt;KX??_L#!ZV<br>
MIZ:][&lt;VQ:&gt;E"YW?8MO+&lt;;&lt;N!@14JQIVA*2%D\RN[A;46T,'*F[8).`_(KU#Q<br>
M\J`&gt;!&lt;/XL#43@\,*%5WUU0`C),?Y`7NVGYZ$&amp;CZ0,1%@C6(DX9JS@+YQ7IG@<br>
M+ZI+AY8WK$(%72!)A6V%"I1R20`T(04-4VDBVERH.)8&gt;0Z&amp;B#Z'A2P-*',WZ<br>
M@;]#0*WQ;8Z`%M5I0EBC[Q*T$*Q&lt;C(8GH^XY9&lt;3;'B+H47?2C8%(;4%&gt;[&gt;T5<br>
M*J/NX.ST'&lt;!&lt;U:8R@%5V#QYO-&amp;#&gt;N[@X/NN&gt;C.&amp;Y=EK'?_5@\*1VQ,VOLUGB<br>
M=Q)K1#-DC7@GD4\0E-:\/(G&gt;G'PJ0OSJ13W2"?_6;(Y&gt;1;WBJY1"Y&gt;PHP"*U<br>
M,P&amp;-S@#F0^DM:,-?"&amp;AP61!")S&lt;\OX#5.0JCU.O!B,,7,7`]'?3.+H_Z]#Z8<br>
M.]Z/W[-12&lt;A\\"$DWBSQ@0`?AVS*V`'^]Z[;^]`?'.$HT%4QO.#./426NN&lt;@<br>
MPL]D,C&gt;@])M9ZHV'=17$`A&lt;BHD^]O']V7)NJN*5S9MJKN^VO76LY5ZMW;UX]<br>
M$#`2WUAX=0)KCY&gt;6A:SFZA=:&lt;ZNZ3KS5&lt;NFXL"+QB#^'FLTC$+8)-AEZG&lt;6%<br>
M2,"SB],&gt;SB28V_A])%&lt;4-(\VM8]6M5:[G3N645-=;4YC-K:]\^X74\&lt;R-49Z<br>
M,1Q/0G)*8SM),DL'L[4T'$E]?'E\?/I;?]PB7"IU%6X@KFUPU:!(J?1#*6_^<br>
MG3^'?&gt;%F^N(+193KD276(_L#!`O6&gt;-XL%X-KKJ[5@]Z9D0#@+0+PM1JT!EJ5<br>
M&lt;'.`[NKP5$']E#LE,<a href="mailto:I!1B5.Z*210X7">I!1B5.Z*210X7</a>[0Q@8Z`]3]N"7(*;"RWMS\.C4&gt;&amp;`&amp;+<br>
M4%(=MX@8-AIFS,LE3I`WG8!'P""8_Y.(MAD:H]4=&amp;^+41K"-59L1C,+;E@Z:<br>
MJJ/GLFTLW@^@_41F-ZZQC-@E"&lt;CA-M2GV_8*`MA.=!_CPP44\3@\3'7+,&amp;=F<br>
M.$&gt;=!9+D[&amp;=F9`"B,^H6\!)FS6'4%#=JB\\8E&lt;7@1`U#C*&lt;2"5Y7XJP&gt;0^6O<br>
MJM*H-"7%0H3:(L&amp;M$YB88CIU')CJ$I=:&gt;R[&amp;9HF%],"JN:VV`J,%BE2''(_:<br>
M&lt;BNTZBS&gt;&amp;/[0+6(0\&amp;B\QW`(H9?.23&gt;6AJVC,RR@YF%/Z1Q2KM-(H%F&amp;:B,N<br>
MW3&amp;'5H&gt;4_PT7-1QI&amp;76%/_4RY6YZ/B,B]!*2AM6BJ$WP[(OWP\'O]-5XX'6$<br>
MCXG2DY#A\PO4]+9L!L8C92K=I'U^I9K&lt;JX5BM=':WTL7JZ]XL?K'E9PRNY.3<br>
M!:&lt;L/,I"T2FS.UDL-64O;(P5F'+T)(MEI&lt;QOY41!*4=/&lt;D8]*&lt;=;Y'1)*&lt;&lt;:<br>
M9*&amp;HE-F=+):2,K^5A2I29G=RHH"4HR?YQ]:.,K^5LRI&amp;.=$DIPI'67R6A:I1<br>
M9G=R6#?*O9[\9Q2.&lt;M"E+)20&lt;B]HB@H;F=_*8:$HXU7^0XI#&amp;??`S[L?^O)?<br>
M9&gt;)?9&gt;)?9&gt;)?9&gt;)?9&gt;+_CS)Q,CP:YI1O",HI#!'TG(J0THU7-BL%#P@0[35;<br>
M&gt;_NI4I"^M*^,#,^Q8`:]X&lt;6$+%UG:AD+?//CNZKM+4SVOI3M'D-VZ$("6:PL<br>
MWZS-'7!V35VJ4],R?=/P2,DS+(/N1=&lt;@%T'J@OA$WX7^[6\2D/;MN6IK1KCS<br>
MR0CO2&gt;G?VW5N9JY6A9K3L*S:%]4UZ?O$\_X$TO_D/01SB?&gt;OKORYXYK_5+&amp;K<br>
M^K&gt;K([#IY+OY%#Q',2'\.=J)B!-OZ`]:^VD5[;[9H4K:!IO&amp;M\=8%P2&gt;\9:S<br>
MK,\/Q5;(_MNXY&gt;]EM'N.]AGZC@.`C0G_P.,2@)4-)J\GV?@N&amp;$2BT3+!4)(=<br>
M`D]]FJ+6(1K$VS0&lt;;1H/W#/9&amp;$P6&amp;G7P80@GM#X$\Q!*1))5,Y)B)'@POR)P<br>
M6-G`@QSUWUV&gt;,+'.A.&gt;`OVY,5S&gt;E.XG&lt;01N^L$V#$`#U_(Q&amp;*:B&amp;2!D05'`1<br>
M=)!.D2X7\+;89B4`OO`Q;-,O,60$`8^O$)_X.5_35J!,&lt;PFR@6L[@B"N@&gt;]K<br>
MYLLJ@@609[A?*,A;BJV@;^2AX/K4M!&amp;"`_#PAG6O6J#CJ^8UMJP4/#U,T!CH<br>
M"$H2'3)]9?I3:;[$G6&amp;#3FMZCZ^I2W3LDD1P\!M\N'6/C;XC\*%X]!THLDHB<br>
M0B78Y#PV2AAH)'[`(#A?$+X\+8+@;PP7SQI\MIU;FPJD15YX&gt;+:`1+UL\-/0<br>
MM29]?.##J\\5'#8&gt;B@74=M1*182"`!`52`(&amp;S5Q;TI:@%8YA&amp;?:-/\&gt;C'.8_<br>
M#0='+:I12O!"8P?&lt;[K%R"G8K`BT38J;'SG1"*Y7W%M?R0Z@&amp;CZL!%&lt;[54.2!<br>
M`&amp;10]+5E,51)IC0C*0)N$)8BD2)?4S-`HFSD,5'B,,".ZO!/F:D+T[I'82YK<br>
MA]'&lt;$&amp;VJ.&lt;O[4M1&gt;C&lt;074+-FAL($2+L+P'2!`A(%N$&lt;?VEP`)7IFAH:Q4KSC<br>
M*AD/&gt;Q^4\634[Y[CJW.)O(5?)HDES-QQ2^'4&amp;8&gt;&lt;*&lt;+O=IDMF4`\MX[[&amp;7.6<br>
MS5);FY@Z.)HYN\=JE+`LR*"P#KHUP1(P3F^P\,!%7[QZX5TS(Z5C1K5);8G/<br>
MB9.7O"HI)1R7BZP:VI9IKYT79\4GQO2O68YGE+SLN?(#`&lt;'W`Q@9J`1HPM?F<br>
MG[6%7L*0H5;Q=XJ1BIY947_J3"62,*UBSUDLV(Z2MU!];4Y&gt;W.%1(OBMX^S5<br>
MZA0J[HB_I]XKD.T=-D[*&amp;CJ!+MLX,&amp;HRT]5L9KA7S&lt;;.WC6-1H1\91"4/,KQ<br>
MJKGSYKK-9H(CXR$J#%#T0`T77_",'E(.'CHO/S5&gt;&lt;@8&gt;GQ#KMEI\;\)J93(W<br>
M/0)_7WA$8XNQ&gt;K$:LN*4,.I.[_Q(&gt;=\_&amp;_(F&amp;TR7Z_^%SJ/4%N!5&amp;7&lt;I0L-3<br>
M-H]@,7OB&amp;D%PT!FUHP@CJ9*1L7!\@R`FFP/51,";DCZ(.D&gt;=W#B./KTWLM42<br>
M3?5_+D\G65,-9B`%QI0Z3F!"_N.'"-CY`[[YJ&amp;B.;J1Z%,FGEAJU(&gt;T7;8?;<br>
M!;4*/-M&amp;K8)6`&gt;?=WYAIH/X5GT"DH8]X1I&gt;49\MVX`!X1&gt;-)C`-!9;&amp;-\'-Q<br>
MO_9'8SRQTQL&gt;]4FP5JX2OE*F!W=(P!MBR2^PM,.5NX95\2V4P*IM.V'&lt;X(4=<br>
MQ&gt;2U`SM&amp;%Y81=$5BJ#K6Y7`+&amp;8H&gt;8K1Y+4UHH8M&lt;Z,="&amp;@3?0`Y5@0LSI1DF<br>
MD!G6(*2443Y!?G"+$A&lt;IBF2VE)C7W&lt;ZQE](,DP^).N"A*6J1JM"'Q*7W-9""<br>
M*6!&lt;-:XQ[;_\^:5$HC\P&gt;_/&amp;=EQ&lt;F=FX3%@L(-!Z?%[4\!P(O/;*"-4&amp;^L1T<br>
MX+MX$PV@G=DIXM1(DW7]R7XI!5@A1JT&amp;.``G0D00&gt;B79?Z)Q&amp;XLEK&amp;=P]-&amp;H<br>
M&gt;8R=T2A,I=GF/A&lt;(N`1)9J8KMVZ'W;AZAU&gt;(X82DMQ#P&amp;2,&gt;J,73F:=#I3\:<br>
M#4=M'$HOS%3\5&amp;L]-*\PW+(A4)_AKLS&lt;:&lt;#].=&gt;;D\$*_X;Q:@M\L[H%_L@P<br>
M,P-6V`\//4_T.71RPB;!Y\_B@!BV(*S03QURDHDXT?YOWS;1."1_8LB73TP,<br>
MHV$&lt;%,ZDC&gt;DR2NG1%CIXL&amp;)^^+:4_E`K-1]L-K7,')FA62B*QND)QY3'^\E0<br>
M&lt;G9&amp;RI&lt;"=D:E(*J+4N;F`SQ&gt;Q@XN&gt;K0&lt;"J1T1-M(N5SFAZQIE2X*HWJ7FR*X<br>
MB$1&amp;P,2[VME_=1V38;H_P*/KHA3JT\1]&lt;M3_]1L=2?"AQ^2+W$/YWG4:%)T&amp;<br>
MYU*3AVIT*Z$#+TSX4IB5HCSA7=U=UVDAM(#JQM%*+)[R&amp;DBJ-*5$*4(/+D]=<br>
M0_V&lt;KF"BKH***MX/+%)UQWUJ3]_`&gt;`&amp;1PB+_!&lt;9TP?9DQH'EW%UWD$'ECK??<br>
M52I!W(\A#2[/SA+VP)=&gt;V%@6K+[#J=K943#E4RS#IX,-8TE3MW`J63S06&gt;9'<br>
M.I]4B*6,?WC1'V3%FBB,1"/(R2EE+9Y4&gt;/4NC%&amp;J\B$^XBLXF%0LRDH=/#VG<br>
MS[6FA)":&lt;.]LF!E&lt;A5D$RP\^]BUQ\,])--@EGU8RL60==JY\_V'GG/R3TZ63<br>
M3E)LJ88QLTH_2&gt;#W.`Y^FXJKG!R[=558WZ9#-^U^A#"&amp;D1..AQ&lt;9Z1X5)&amp;;`<br>
M;!U5M\+3W@E=/4U3V'=H@!B6&amp;YU.//BP`@^"=B(",&amp;LM88!@BV8"8F5Q&amp;G^2<br>
MXP%.5*Y2&amp;[#H78?^9N#1KSPH'OO&gt;@_[RB).8(?*"^)&lt;Y&gt;X"MH$K-@Z$\\V":<br>
MNB2Y,+1E5P4U*4'75..WIJ_-2QD(?$\`EU;<a href="mailto:!.@9*D">!.@9*D</a>.[I8*(,AH-^*\AX8L;*<br>
MQ(;KZ&gt;!$.3L=3UIAGF2)-2&gt;9AM;DB8MJ+,./3W\3%BZ/=OUQ.#IB'8&gt;K#K#@<br>
<a href="mailto:M1CO5.PJ">M1CO5.PJ</a>).P-@5"K74K3:B&lt;FF?NNX.DL&lt;#+_]Y,&amp;,NH.32&amp;SIBC\80GUAVM4`<br>
MC6:2H%V]RVS_OY5J^WGCI2B=K&lt;B/XV-]R$V2/*R#[;2YX']"R3\$!W)_S-&lt;9<br>
MS_OL(N_+#?'3_F_9[4"*G9PTQ*)&lt;7IPC8IFY/M95M_C4MB+?Y^['`"F72W[D<br>
MR8V'$X5&gt;&amp;B&gt;BGT"]&amp;P[/(<a href="mailto:IN/P\`6\T!X*.0H!">IN/P\`6\T!X*.0H!</a>"9F7*Q2@4MMT=)3+)BWYW5P<br>
M,AI&gt;7N1TX&amp;5V\)!AK`&amp;)8*UI=XI7_U7ZQ&gt;N.*/LU=4"075ANH?;$_I&lt;@G&lt;!2<br>
M!.5E1LND%G)UL%8#\0B5(9UUPE\K^GCD37%^-"P(U5[.PO.Q[YHJZ[]K&gt;E:1<br>
M?-$=G?^@FI%D_8W7SY$9XY\M-O#:X&lt;QQ%ZH?-%&gt;C=M/U?&amp;7FLB5")NGTWC=@<br>
MY`:^-K.-B'1IWL'J,`+DD+,MLG3/NK'TYS&amp;:QSP`!;FFP*&gt;JR]`[U(^N_Z1R<br>
M_TGJ'$^ZHZ&gt;I,[:&amp;6:?3F`8?WW+ICM9((35]%_&gt;2\_/&gt;.]`N&amp;#@&gt;H4VM$&gt;G_<br>
M?4:]XR_MQ/\3$&gt;'O\9XEP5&amp;_&gt;_3D&amp;CU+B-6M:%1Y3B+ZA(B9+U@&lt;%@^P`KNR<br>
M5JR6N0!02,G^UD2A4)BQ6_[9I;`&lt;Q9,RUO/6H]UWHYSESE.-D1I-WJ&gt;@^+&amp;Q<br>
MZ2BXW[(F7D8&amp;\\YQ+&amp;+#^G!J.=IGT[YYGH&amp;&lt;#L^'WVD@L4%\M\_A@-;XW+HO<br>
M:=DY*666[8.QS^`%]YJQ76W&gt;58.]2'W^X2&lt;\9OC($25`&gt;&gt;P(%*!\URDHI(^?<br>
M56L&gt;M/9WT@&gt;A^%&lt;+P;M8?/?.CX81W859N^*[,/I-K:%J&lt;_8JZ3_E77MW&amp;\&gt;M<br>
M_UO^%&amp;/VQ"8MDI;D1Q*I;"ZMR(E:6U+UJ.N3Y/JLR*6T-&lt;EEN*0E7M??_&gt;('<br>
M8&amp;<a href="mailto:9G7R2EI%22WGGC*.1.W.$P-@``R`@;Z">9G7R2EI+WGGC*.1.W.$P-@``R`@;Z</a>&lt;F$`.Z^$%/9OAW2RF&lt;E?!+&amp;Q/_Z=]<br>
M&amp;?8^MI(;4HGO#E/KB`5N\?:@8LK90A5PS1:Z#V0K6I#8^1&lt;O=W&gt;*(2'/M[89<br>
MNN&lt;$4ST,-"US,HUG&lt;8]H=Q?HO-UNT)-P$/1"/.CX'[P_DFZQ-!'GH0G[@/0E<br>
M#(^,Q(3JFI:NV^N%26*.XAMS$"2+!LK1&lt;K)[*9PMV`?]W37\*ZBU[_`7C6P:<br>
ML@]\$M)2!T,3C8*K2#*.)-%L'F@VDQLNN(CGYB:&gt;#Q&amp;Y\E'\WKG/!YL$"=0,<br>
M6TD\G])4@MXT3@2;K*N'3+=AWE,CXQ"QW#)&gt;M&amp;)L^D72RPF!K@-^?!GJ3\$K<br>
MF7E`NV3O.H)K=!V^WI/K18)P&lt;(<a href="mailto:.@FSYISA$4WQEPBW;CA$;?X'">.@FSYISA$4WQEPBW;CA$;?X'</a>&amp;+VPF/&amp;(DL<br>
M##P&lt;:4`[,J`;4J#1^F0:?XJ(`4_FE\.HEQGB).K-.,&gt;;S%!.;6&amp;\OL%2,*#G<br>
M"4V!"M-OGGHHGIG]K#MG/)"%HX*J,7-AL=X2X4BPNS9JNTUDM(0MP"8?ASJ%<br>
MCY0$9DG@_-`&lt;CD4FI&lt;5\L-FJ^OCX-IV/$T0R!.9\_\0Z+^%D'&amp;.J3^C/8=B_<br>
MHJE]1_@+IZ+OZ*-CQ"A_#(&lt;DK)HWT&gt;4TF"XX',H)^&gt;8&lt;+K"#&lt;%HV^,J/%;@,<br>
MO)H3AC%!&lt;AC/&amp;**ILM$&amp;A!:,U#/M!Y$4T5C6:!#;);L)%H*4+7/&amp;WD$`,]&gt;[<br>
MG,8?P[&amp;93T!S3$31U"!,BG!C3N`&lt;A1S*U&lt;8.91DGO/6-XVO#!13'&lt;0CTH?FW<br>
MT&lt;D!&gt;.,@"HE\J'P"KT("&lt;*Q'\H`0O(,)O%@K%?I$,&gt;/JQY/@UWEHV!)"&amp;A53<br>
MH.QRW:/O$3"1GW$M2#Y$20UU2=NT%2/9.[ET,"08).;9CKF,9KQ&amp;1:CQ=BXD<br>
MW()VTHJG?5K"^CP!#*]G\7C8:"L,.&gt;@EWP0CT7Y+_%M-_&gt;&gt;MEF0Q0J!7@T'8<br>
M3?2$7\L(<a href="mailto:!2#!0S\V\.?`B@-@26B'WV1!9F87">!2#!0S\V\.?`B@-@26B'WV1!9F87</a>&amp;N8N(MNI,D&gt;EOE_G$8$/&lt;";`<br>
M!J8&amp;DV_-3&amp;(PTJDN7@A$ZK,I/&gt;@!-TD,P_($23(?N&gt;:&amp;H,=MKG+(K_M10FQD<br>
M&amp;EQ)$2"C:X+6E+HG1D#$;[IG^X&gt;'T@J+7O%H0FT1&gt;VUCVC4XAK;8-%&lt;K\8D3<br>
M8!($=+*PBXY`3E2D!RE(64F3.=R(\+EW'&gt;.\A?I+X&amp;$O`$W8CC%&amp;H:EAOUGB<br>
M3+VX3Z^:U&amp;P\O[J6/2&amp;Y9N9.2[K`K('230,/7*/S(!XKH+`#,\E\,(AZ$0&amp;9<br>
MD2`&lt;ST&lt;H99UY/PG2H31W*?@`=`2V&gt;6@B,Z0Q$$:VS&lt;DPA.V".@@Q0E*F^9U0<br>
M?C1+"4O&gt;VH.8]C7OD^Q'B%DRS=,3HNL)_(<a href="mailto:%@7!P.;1P7#P%S176(E;RY4IW`">%@7!P.;1P7#P%S176(E;RY4IW`</a><br>
M6R8&gt;CVZ55"@839"8$#_A1!-H&amp;B[Z%M%J3&gt;/YC#5P'C+O#;J%N"V":0^ZC9N\<br>
M^0&gt;&lt;F)B&lt;1?[F3'.#MA&lt;88@5S&lt;?9D5O=!EI:]!Y5]--OM-H1K6TDD\(HZ3W*5<br>
M9((&lt;"9=,XG&amp;?_:#8:FDIER40B9P4=TQ(#`O;.0VW;-%2W@;9DC;DF&gt;4(8VQ(<br>
M0T:%[O1J#FA"C%#LJV'!HF#8@@VK7S,L?F"[[PV#:323)&lt;%&gt;\XSVFOWCHZ,#<br>
MMI2:LX/SBQ-31X_!+)XN&amp;NML,6BI.P#Q2SXY$R8SDH"B!")'X-%CDV?$+N$D<br>
MJD2(:"$V07S47$U#&gt;/M?/=@&lt;`3&amp;OB+R%43`2"),0BE0Y2RPU1+^VIFQ%9[O&amp;<br>
M^A^:GP3^5'A&amp;V/D+^^F&lt;+0C5;G=-&gt;O)KBS=K9_$H3)O3&lt;=3&lt;T@Y!I);$I^&amp;$<br>
MH,S+&amp;(@/HY8G$)`6-3#UL'W59H@/XZLKGMED/B'&gt;DC2:YG+N")(91?(QFDS@<br>
M$64[4Q!1B3&amp;1`)%43=&amp;`D`F#:IL?"2J?!.(,2$$'&amp;M,4;!OY:A"-(H3,X2BR<br>
MT7*NM6""(_A@O)A%-./^G-$S&lt;")V`GK#8B4QLSP$.?ES1RP.+2]-']PVA'L_<br>
M;6HH@2G4SYG/JGP%5A\FT=68EQ"Q54/6B22:R0E5*4-2(9+%1D(+I-?E*2&amp;"<br>
M#^"V8HA])N!N-QSDX$A/$QQ"4F2$GRYF,2E)5_$LDKY$1@8D+D/;-A!U3)T3<br>
M0%0(&gt;TZ$T;TX__'@Z/QPO\O$4;&lt;(M9HJ.-!Y8+)K`&amp;B$K!OTA1(4KKK,0?)1<br>
M$)TP!JSVP&gt;;EPB&lt;<a href="mailto:8'\$OS@Y.9">8'\$OS@Y.9</a>&lt;J&gt;]$3%V43*E")K"HF:8PL85=$8:GI,Y\'F<br>
M_JX\&amp;RUL82&amp;4$CI!N6;M[&gt;+#A9:LY1`6^*Q3D4RT)%&lt;F26MR/64'4Q_PV"+F<br>
M,Q611&amp;KS!,M$9HME@!Q&gt;([9%2-FKF8MQ=&amp;MVLQRJ4B#/R&gt;:,F=0.3B"%GV;$<br>
MV\D0YWU(S`,VREO8U.I,A$63&amp;799FXT`#J\S*\_+[-O&gt;^IQTS\X^G![\U?"7<br>
MBZ/#OQ&gt;X3]]"U99M9LKN^PV=O'F?MN3F4&amp;S26RM7,6T62^&lt;JUQSZY)!T!#]U<br>
MA@_O)"22L\,KMBTL:2T)!JFPE30?;*:Z+986KZF:R'^ZCY':F$Q`D"C08P=\<br>
M*ZQ-@MY'XFB)H[H=7FZ`NW:G=2XL,,)6&amp;=%DZ8P2D]*&lt;T@-Q&gt;UJ]L)\(&lt;A+7<br>
MG(96B755='E9VA79AUD?ZW&gt;"M8JN'B5&lt;\R;-?=&lt;;U)2'-S-_E`G-C&lt;/;O3UF<br>
MCG`;K2I&amp;@NLH_"1".?,WEG]H&lt;*)#:$E:"$OC7`C3,O4_;(NFE)E*@]BT[`&gt;\<br>
MG3`MB(1M4Z7R7AM`W(-)?N&amp;`Z,8M:AUL'&amp;&amp;+S0:\76`S&gt;+!93QK0Q^,P&amp;3\V<br>
MB-Z1*5OR:O!:OR(AWTF2'#_-2@#/17O[P+WU-W&gt;:F,L?=AI,F+0=E15Z(86&gt;<br>
M,&lt;34!D!3N8G=<a href="mailto:F!.@*C@0:UCHT">F!.@*C@0:UCHT</a>=%X_(GU#3:VD&amp;(Q=I+J;B5-[Y^^/R'1ZY79<br>
M_]X&lt;O"XE1?E73N9&lt;G60.&amp;O-V37[OZ.]G&gt;9D#$&amp;2&lt;R&amp;!.Q!N'[)!U^Y1G3Z)[<br>
M;S[$](6SYI`MR[6(R+JO3O???!O]X]5TY\W[LI5)&amp;Q30U[SR-.C][VN-SO[W<br>
MO?UG\\.C7_\&lt;?_U7D42UL%?RX#65/'A]^&amp;IP/OKS/WZXGKTU[6IF)R#.-&amp;PR<br>
ME:N@7L$#%&gt;:G+*$G(&gt;!NO^^D[##I78&lt;@'ROH]&gt;&lt;](;UI1+M:/'#:/+,T$&gt;94<br>
M"B/=@:,G@#HS&lt;,$0`:C0U*E$VQPAX(49(G/6G&gt;&lt;P&amp;XARQTHTL5&gt;)#R&gt;JGI/T<br>
M#.*&amp;S9?8*VP=K`@1IS2';1*/`\="D\E"V`TQT/^F1G&lt;U50[&amp;.HK'D2RZADVS<br>
M:)=P4`IBG@E;)`4'RU2&lt;7-=B"R_,C_$D',PA5\X\V("T67N-8'YC``7FTWP(<br>
MHM/@:6P5W*BETX:/N9#9FF"?1'YB?X+]1)1&lt;Y32SFZ@'6&gt;S0&amp;C$@^WT4%HXB<br>
MQ)JN2.J&lt;78]`!C&lt;AJ;9CX;,+8OU$Y&lt;+Q'FR"`;&amp;MS5.J2)J8F1=FB+0"4^Y?<br>
MVNQ:WJ!R9**B"4M5+])RK]QV]:QMWL;35.)-3,4^Q&gt;Z0(OHX]1?RLC.V:?A&gt;<br>
MY.\[I#KUU&gt;1%?&lt;M@@,I6;"4^WB6Q-9E?T18J%H_O&amp;G9HSXF39;=V!%[@.HW5<br>
M.VE1=D7=I*C`7&lt;6&lt;LY[W#-Y+A$M#0&amp;]9*9#%2[9@TM!I4*PJ!AZ6SL?)G+&amp;;<br>
M4(T0E&lt;E*)IOJCI8@89QR]J]VCE-"_D2OWBA9#!V+1:E4TF$QF_4YT)O'C5YW<br>
M#]\XMF1^ZJHFZE;ZES+V\\2)=:CNN%#S:#XZ'EBS&lt;])\A*]P@H/]@`&amp;NIA;V<br>
M.?&amp;&amp;7V*4&lt;D@07-&amp;.RI(,^*U,T6E&gt;]11&gt;+J4K[^Y9[@^S'V%,/!5S.BS[&gt;!L0<br>
M88PF;&amp;#5'/18/UIL*G6FZZPT\*)M]D$4R+B1*EEWT)5473J*A;CBEJR+QQCG<br>
M$_1+=$R\3X/59/?3E$&amp;D3^E.Y^F=&gt;&gt;$,N_CIR3GOX#\%JQ&lt;S74E;;&gt;4B&gt;IB(<br>
M&amp;R;LPD$W4[FOT"\!:FK@#BJ&amp;0L:!FGU;$Z.1L"P$F!!GV+482H-"!X02'VSY<br>
M:AU#IL`[(&lt;I^E+*$TF8PGS+B0,J?CRUI,&amp;W;8QCNQ0V99\JV&gt;`=M(&amp;EXBRWE<br>
M*E0QRJKS23B;3UHLL(JT&amp;AAD8).*+;92#:*&gt;F`^3R!XJM5_"+*66+\:W4BRR<br>
M,#_#B4N.*S$Z2P/"F`)A.UFK"*/="`Q&lt;DW?,%BW:X_@HWNK5NN'FV%%/J0M&lt;<br>
M?8*CC[Y.\/"$IA7'`[8..TL/_7-V$]G-8';M48&gt;PM+:7$X"=9ZHBZ]2DB-B*<br>
M^U:_1L0`]3(*)E9*AUD'XQP.E180Z;;A(<a href="mailto:EYI.?">EYI.?</a>]N_T:HVH--A/)LY".@'FPB<br>
M:F'#!7$0&amp;KXY/MM(PQ2HWO')&gt;5JOX-*/9&amp;:V0-;9]&lt;$F'*;2JNEQ%&amp;'T&gt;?=T<br>
M(_6.&gt;K")(^0-YR]$:/SJU#;*[BDTO^.WQQMYKQ`:WMGK[],^G+&lt;#NC@]LUUH<br>
MM)LUD'XM&gt;I]W&gt;F5AOYRQV=K;;&gt;,!NG2OS2W&amp;N7&gt;4H$&lt;Q(H!8?!81?UB%T8=J<br>
M$E2'#-3WM$\V\46B;<a href="mailto:16W@G:.A5C^@3$B">16W@G:.A5C^@3$B</a>)0^LGNEFEWG=E!7IR6\_4-*"8J=M<br>
M/!PK`T4&gt;#TM`P:*;,XJ/LT1&gt;,7HTFQE]]H6,[EG;Y#&amp;@4CPJQ9?]&gt;$RSQL4K<br>
M%EGA7".68CFDEQ0UU5P:S5HPYJ"=9,K4;$P+CNDYU4+&amp;7HWI/&amp;\70A@KY3[4<br>
MJ2#Y'T(1"-Q.J^?L216FH)TBIB3I/]HK_;*^*Z;%(.IBNZU1XO0M\]-P]J:F<br>
M_,2)),91/#JQ'E1*!0FNK,&amp;)LG)[WI"&lt;"3CH2RI\UA=Z\RGK6_8@P@+T1=MX<br>
MK*\,A'GV&gt;,QF=JDE4"NNO5M75,84Q0";AY_XR+ERCM1*W,J\/^S07[:-SZ5+<br>
MU[_`R_&lt;Y\FS%\--QH?[J\930("JFS/;K]I*0L#5,O8S*JW8A(#6MO&lt;99^&amp;\*<br>
MT_.H$\VNFF%3[IC*$Z_^RSA#L]^G:]&gt;C`D9\CI'BB*BF1&amp;P@I(E[;Y*\T32Y<br>
M8"-[_&amp;@?MIR?!!MP?$MW705*UG`5R1M&amp;[`&gt;T$ZB'#7NUPVD&gt;I]&amp;IHRJ/Q1Z+<br>
M:QZZ-.6#[9SD6*3.$C\5M3GP6)SB!A47[JB.NKZQ*)H3"Y:O=+4X04O\],Q?<br>
MYC+&lt;]&gt;(&lt;&amp;!/766!OH?0^,0U*D64X1`X:?M#IE(:@-)!G@VVB]OR:-VB&lt;\Y-H<br>
MQA"'RHK(AR;NX&gt;%X!KQ(Y(5$*#0Y&amp;($&gt;UV@](9U"_8/[J%2^.#\_/L*$"SMV<br>
M=K+$0G`*)UXRYSR!0#3,&lt;3HL-M0$E_$GQT^^]8C4E]26+U:UA.&lt;V&amp;7!DSQ-I<br>
M";M!8W=B-Y7A"*XU`H:WN'(VV?1C#G+!!4MB"OATNJE1`RH';CGY@H78&lt;A@5<br>
M9-TS#@BPMUTM@PBJWA4B5-&gt;DE:&lt;]-U@KM8J`73K4O!3N+R)&lt;$;'%5A"='3*:<br>
M6$EPH^!VB-VT9"W3R7-+M(#J]&gt;7YP+LI6&gt;G3Z@@56%I4)KJ7\,^;SN6^,;[&amp;<br>
M&lt;,DRH/[ZRP#-WSQ\B%-S41)QYI(LQKWK:3R.27SDX_6VZ&gt;[_Y3&amp;KI#-U(&amp;4C<br>
M,V3^,!O*PA])G]QNN+D[V=;7AI;1:H4"=:9K?'B\@DQ]W8":6KG(XWC,'O`E<br>
M".JOKYN0+]UZ&gt;MQR!E2I_K$\8`9RP"G/ZPV`&amp;T*F.&amp;KH86(XXG.0?MOY8++S<br>
MA#A6C6/LH.,D=-XUM*N]$?&lt;/W+^8^BCDS!5$0+V9'C0["T-+0O\OX=873R9L<br>
<a href="mailto:M.\$1@Y5/L">M.\$1@Y5/L</a>&lt;M\$H_8P":#)&lt;@EUW-)C=I'UCR?(-EM#X[2;7?6`1=.6*9T7Q;[<br>
MC/I_Y-WT1-]2!R8^JK!&gt;7FSQ?VJ/1=3([`QBZJBD70U3&lt;/B*7&lt;SCYB&amp;+=V4"<br>
M:9T-*F+9&amp;ZHC;)TU7S\6A94_JS+*$2'O7^):Y+E084!(#&gt;9F;U5'78,$^:U\<br>
MX&gt;@RO`X^17#ZD\-&lt;S_@C(G)=+"Y&lt;GW-FXR@D=VS,)O-Q@[0/:T3R3HCA$H.)<br>
M%Q=+E[/)&amp;@NLL?#M)KV&amp;$_RK]3-B1G3OJ(#\I7F%]RMB`:Y_2QC`M7\I!%5&amp;<br>
M)N"7A0B`E]]JEMF?S8/-?S[YI_%#`6S^5;YJ#6^E2+W7X/O[3'?&lt;AP&gt;[&gt;17V<br>
M/AJ$403_E&lt;S'`OUMA%:02-WJSW&amp;H-NS'TP%"+#9_EJ14U*.T]CW;UA+OA=D_<br>
M?ONVBPSY[@F86'(M3K:_SD,&lt;K+&amp;Y'*?0G,A'C75/GO+Y@G7N=)YJ6[=;6UO;<br>
M^'\C^Y:/(-S;G&gt;Q+X'+Z\IF.)7?DX]OD-4^OUP1.9M@@+NWLH*VR$CB2=25R<br>
MPW#'XFF)9V4E,FT\1R",&lt;&lt;ERK6&lt;+O]_2463?L[W;O=^Q:U$\&gt;2C.TIG]I?ZS<br>
MXBR=&gt;3PMX7KPK=#IDG&gt;SH1+&gt;$F=;=HG%I.7GQ;Y=AJZTQ$Y)"=A]TA)VM34Q<br>
M%$=H@:V6=@\SBU1]4=$]C`IIB;+NH:6G)6SWDF&amp;E`/[B"([MXKVL&amp;,%^ID39<br>
M"""CIR7L"`Y';-OOP&gt;EQ4=XY9%NI^'5%YY`NTA)EG4.J2TO8SM_2]EBQXB3T<br>
M2/EO*OJ$,)*6V,DP'4FV*OLZU$JJFQ19$Y^B&lt;$9M]TZ#^^"@;)/W-6WROKWL<br>
M:QNM:/.:P&lt;_YB=5ZC'HU9RN(06U9A?ON14C%7Y7UW"^R?$?B(K]A4Y+Z-OWY<br>
M]M&gt;(3-OZ=G&gt;[&amp;)FVO?V-Q/WYB&lt;&amp;#:3[]&gt;%E6\4%O/!NND]`\E_[&lt;&gt;U5SFVC-<br>
M9W42$AH4LM\&amp;K`?X.-%!EMWTP;3/R=KTT6K$0+3GIT`24].D)5LIZG("_N:3<br>
MZ^$DDN2&amp;DDE\..G9A`\EZ&gt;I&gt;/BG-K$2O)W&amp;B6&gt;0D[I;Z9*VXCDZ;,J(T9:2D<br>
MI'FBCR6=1";=A[[:W,SF_'C\U&gt;-=SE*A[SN=QT\&gt;VWQT'._Z62;6H?ZI9^D]<br>
M0L(8V^"&gt;S::YL&lt;$YZ*3XM@Y]HZ+_#3N`WF/-*L'!M0!7IBM-4;WGE9&amp;YRGT'<br>
MK8;WXK,%JX!O&lt;_.7#L-?L[P9&gt;<a href="mailto:S.UW%3B">S.UW%3B</a>)\+8T'P7C_OYT10FOOY@GM3K4K[^<br>
M*#.N7QJ-#H&lt;^U1E9""1^@T87?[.C:F.49N=9/?[D]X2FO*I7`;6Q&gt;EA?3$FV<br>
M%Z1YW54T$3A(TVD.(D*\FVDT"UT2UN8CH2X%"?_AY5CR/KEZFC(ZWX'W&lt;:16<br>
M-E+Z;S&lt;W!9L+F%X(SZE=:))V!N[#6BX!C&lt;N'DB;=I/YL0/J:F\O]F(X48;\6<br>
MY7'W9T+9Y\-P_!N9DSS3ICHND:[E-EL.WK"OU2VK7H$'VMQX%E\/]:5[!R8G<br>
M[_^DM5W"L'QV[E?\@O134LP15V(&gt;FOI7_89F$Z,6&amp;A6C2[$M4RC'S;_\!S)F<br>
MA3Z!X4\"G98N`IJA)&lt;@Q,WR4RW3R[&amp;&gt;/$?K_B*=7S@.0KYP&amp;\7A%RF6;@EEC<br>
M'[CKW'_7_&lt;";?$=QO&amp;S&amp;NFU4K5\C-\UUI[1D+W$&lt;Z=_$PWG(S,+O*_/W5TG\<br>
M_57R?O\W2?O]W%5'6[LOOMG=^;J8X6/[N1JAQ'#;,A4)(SB\V&gt;S'DX4X4M?W<br>
M2PQ17(:MCPR=2%R@K7L@V[4T)*8MNY4Z[%!YCE6)![.;8!KNN7B;:0B/\6ET<br>
M.1&gt;[(.F,3^$.$O=Q%0@]P'U"4VX)/&lt;#4F]CN?CBZ&lt;"D.3B1CPQMDP,6Y?R(Y<br>
M'#B&amp;4PV:KVD$,B0=A7E-6-`/Y/J1,&amp;(_0NMJM&amp;,[T1:;.$BN!S,-*33&amp;9G#E<br>
MP#L8U5W=_,S3"=<a href="mailto:HT!.8ZGJ@KO0V`O">HT!.8ZGJ@KO0V`O</a>&amp;17N&lt;%\*$YW[P[/?SR^..=VND?OS;ON<br>
MZ6GWZ/S]'OO+POJ,DQ5N"^[8\+JF&amp;4V#\8S-U&amp;\/3O=_I/+=5X=O#L_?FUB&amp;<br>
M_/KP_.C@[,R\/CXU77/2/3T_W+]XTSTU)Q&gt;G)\=G!VT:=!BN@"VW-.`U8N&gt;]<br>
M&amp;3RK[9R13$/MXNR83S05$D5)'.UDL7KEN)6`+TSB&gt;"#@[!Z"@=21;,@WJKT_<br>
M//J!!GL(CQ@2L%ADM-Z"RY:Y:0['O7;3O/SZA7D;$/)W/]'*[@&gt;CRVG$+O9O<br>
MNV9K9_O9MTUS&lt;=:UD_+PW;J^PZ"&gt;\%^RS(-IS.E93/TF1&amp;PH4NLR/N%,3/9\<br>
M/C#G"WB&amp;P0*&amp;=:PS36PLSCMZ;9[:Q@/78D/](@-85`0Z22;:-0WN&lt;L_4+56R<br>
MMV36HX&lt;@86Y%HZV8@BW!`D7"&lt;"BT2N#4!"9:;!I?38,1B5*',\[@DJ1NKR;4<br>
M@&amp;V)IJ=EOPJF?1?=%;?&lt;Y:CC?M'C+W\!6_DM9647I)59*$JM$:G9HO3FL^PC<br>
MHNR22]=&lt;X=1D&lt;73PYN#M63UH;+!,T*C;.SN"AGGJ+O`(?MJB+9.M&amp;/G;T&gt;3"<br>
M%-[!]F1H?%L:/TB[X&gt;+EMZ795_YM:9R$`7=8'-".?W1\CART1\V-["46&lt;.)=<br>
MA+-,K#M?L,3;*\SZ'TX/]O_&amp;U7Z(Y=@T$RAN/&lt;ZLQWA:F&gt;V#1\?L5(F&lt;O8R3<br>
M."ZR?5X"Z&gt;$L2@A#,.J;?&amp;6NNJ%56X=CC&lt;OG&gt;CA`RXS568!=9ZV^-2MK'?BS<br>
M%&gt;NPTP!ZZ8KGABO.BE"Q/`XLLE!LL8SA!6&amp;G-;Y(YF=&gt;"\1AI^OQ`7]*O[FS<br>
M#@*/AK_WGW)$-#&gt;WP?79@;^LDG-5!SNQ$,[,0!O@Z&amp;&gt;T8*.?TPD[+NV7/_Y+<br>
M27?L&gt;`CFS[F.$&amp;3[T5;ZPH3-?J-A1Z&gt;YE\-'YUF*$H*8&gt;WJ]']$W"8'&gt;C52&lt;<br>
MM0_:&amp;5+$92\?T=P5))YFT_@FT8?,,YL@+G&amp;/15Q.&gt;M=3?82'^?3CTKP(N&lt;$P<br>
MF([JS[:V&amp;GL`Q[NP9%^38'3S+F#Y10)9:'^)QK3EL\.HO4-(]#7;OF_C`^8B<br>
MU(`9)-OE2&gt;):9,]EG$!L#]YV,UE&lt;H=P*$&amp;7DK&amp;(*?[#J,?.59NW'&lt;!C;Z_UL<br>
MC8:KXJV18P-I@U:JS@T'M+%;WAM&gt;M3EU8VD?CK2J^B@B80$8]AQPUS61&amp;\,!<br>
M?(QW+:N23`5ZC@VWA;3YD,,&lt;F88&gt;:KK)W*!*.CYY\][7T?2S;&amp;VR)6T2:$&lt;^<br>
MC6(9U&gt;F5KJ#W%,MLE,*?RUO&gt;(FP*K.**GF#X;7.(6Y:PMZ:+E&amp;NW1$74#P]*<br>
MV04-JG0`IV'+W_+AI)&amp;485]UVQAG"83](C@?W67FRZOEL2+7PE[Z&amp;@G-H]L1<br>
M.T\/N;"DF'EH.3B74NKK^,?$&gt;<a href="mailto:\0V.N">\0V.N</a>[$UVNR_`H@Y52/J)8P$)OX`RB=Z&lt;S"<br>
M&gt;$/F^,5]*T4\.YQ_.\:[P_#_GQ@O(9R_#\8KRJTW)@XBA?O&amp;[%\REG\#]?VG<br>
MD):30'=9K"E)0&amp;R*G_R&amp;YNY\*Y9D8:3C`J;<a href="mailto:JCT1J*2.3T@5U-8DB">JCT1J*2.3T@5U-8DB</a>"!PM\]4M<br>
M+R:WV[2--4H[ST.R`$QMQ1O32E#!]^.W@$HTA25EX1A7OQMX4"5#4,O@X$-@<br>
MK1G#EZ4X8VU((%@U=Q4\.]G@JWJVTGIS=+5W[&gt;VCMO4U5S_)+'U:&gt;0T(P"7'<br>
M0N!S[DXY_TJY/2VS'F9DB&lt;<a href="mailto:.%22XZH_\J^I*V6%U7#RV@'!M%-BJ8">.+XZH_\J^I*V6%U7#RV@'!M%-BJ8</a>)3D4Z*)-)(<br>
MIZ:'8]F;]/3=9^.^%BZ[R%9I_&lt;G&gt;W+5N&gt;;GS[2XU^#*WNU2PEV6X\MYK-OCK<br>
MBR^KX5B][%^6(!KT^ARB&gt;5F]R]"K3/18BF&lt;P#M2EO.0TORN"H8%[8U::/S['<br>
M@KU[*AKIN.P6M@1D&lt;'6[(\AD".4]EL//!=K5[P,QKKF,/Z_'H9=!`2Y[ZT#!<br>
MV0XD&amp;BKWHN36M]BK7'7QZ!-&lt;9YAA?U[)=\@A\^1FVG&gt;W#LJG4%`N8'LR'5\5<br>
M2L$*8DT:^EQ&gt;E*^N;O/%!&gt;:KB6C:E0L=]U-F7(A$Y)::*UK`D2.UPC&lt;RIM=D<br>
MYCZ?EZVW++(["L]47,+V:5QN9XS[EKVN29?5(8^.4"L:\F$GG7+O$A");QP4<br>
MN;+R(ZZ$R$G^QN&amp;3_(UC*/D;`BG7:Z?D[K?2PNXRN&amp;*5RH5;?4%&lt;[K.1.\HM<br>
M?-:_1*ZD;:6\3G8.;3D]^)`CN4)MW&lt;JUD49^&gt;]3GJ;_7[S:]XD5U9:,3GI&amp;?<br>
MF[N1;MF@L-TYII.[UDL?KYB6P(;::;6R@%F[A?L`)GMI7DFCQ![S`,G&gt;=5=2<br>
MIT0-PN5[XRL2D:*Q_1;&lt;ZK?&lt;_7IWG=GZPM$ZN_O]]C4_RI=C9BOD`"_*MGJW<br>
M*%YDITWE;[-S0O#2*^V&lt;&lt;)F[4"U]7G6QVH:W&amp;91&gt;<a href="mailto:L%22:D@%22UH;2.SH62/`JP4">L+:D@+UH;2.SH62/`JP4</a><br>
MZ0P(U&lt;VYF]&gt;6E+$WL%5VF2SK,L6*5.BN4J[6$'NS$&gt;?^5I[!%2L8\QUX=Q7S<br>
MJ+T[2'F9:_OR!@F.\Z[`MRR^K$26Y9BR&amp;DURO*]RQ59BR&amp;KT*.X_95UE$.'N<br>
M+`61*6NS%.^JODDP'56PD;NJ$SFU/PW.%;S$17:C&gt;^C]5.V.^%=UY5\.'&gt;TI<br>
M+X]G@X?75F]?_&lt;.+NY&lt;GN&gt;C[LA;R$?GR5(+QY3N'Y*^YK#C&gt;_I?K@8EOS8+[<br>
M\'W40:YYMX4J6Y4UX8)HJ3O#98D&amp;Y9E*53DCC4&lt;+*L'^4&lt;OH`74G^W8=X+*7<br>
M,O&gt;G#%E::BXQ'B^#.)J[!V&gt;N,%7H(.R8TFFML1J(3-O=&lt;(&lt;&amp;+F(]$G&gt;1JSCN<br>
MR_F!&gt;AG\JVT:')1]/Z,&amp;5W5076/NB+++S?V``_1QR&amp;T]0&lt;QW]YCZ6NBZ$NF\<br>
MW`F*&gt;_="MAQ@UD*W.]#W%PW$T%L&gt;%Q^NPV&amp;&lt;&lt;QC1&amp;Q$S,1,N8$+\,/@=;K*#<br>
MRO[3]LXWO^@T0&lt;Y7R&amp;@HK^KVBX.N_MUH-,P3^T?G\&lt;];C[6!1&amp;&gt;FL06U=^&amp;0<br>
MW?""&amp;&lt;P3YBB&lt;856_-W_;:F\;]3"U5VZU:TW7OL4AO;X1SAGZJ-RP/^J[J]-]<br>
M.''0"&gt;E)[,4&gt;3*]ZZD-.7S_]]`M@AM*\@)T!&amp;T=K3_OAIZ=0L.)A6&amp;O6;C:=<br>
MD,G(RW&lt;V!`L#QY)A7&amp;//0238%$\8S__%+DX:6(+Z&lt;"1#1B'D[0S%JW)A]!X:<br>
M3A8H9]AZO)?8UCS/'/PIZFEZN/0P]2QI.#&lt;B.^R!V"YYDA:N^*G&gt;X3C2^G!V<br>
ML;]_&lt;';&amp;1XLNO0D&amp;&amp;D2S5C\(1[B51&amp;Y$OX\/^0SYCY&gt;XD,O[:@]R&gt;7]/!_)&lt;<br>
M9=QB^&amp;SW^;&gt;[S\IB1;?5?YP`E/?4]-TB/1_*1?*4`WM+GB=Q[V,X6QXKNL*7<br>
ML]03%)G*R[PV^T4_TJ++:(_S?14=0=7=4\.(A4PT\@!4N&gt;?8#N")"EFV@\WP<br>
MEK&amp;K["I6IZ%?#N&gt;7E^FC+'&lt;O%;L3X6:IJ;C$3IW$_7RIJB.Z+&amp;/&lt;V7K^3&lt;H8<br>
M:;3^636/52C&amp;&lt;IQ#.8H&amp;T76^X@SF'3F1QG7`7GGBH&gt;C&amp;T:!KV3N@,R4G?;:?<br>
M'\(932#M2;LH-"&lt;L:ZOF;_&gt;V#4YIF(X5!;S!L@^OK91IL[`3;F7;/0MGA_%;<br>
M7-U;-;P!S.6TL6[!R^&amp;/W]('7S1FZ[-)UC"T&gt;ULOBY@D&amp;74Z1NSJOI#A`$;M<br>
M(.K-C6F",;&amp;$%M,43;8T&gt;X0ZK\#48)XMQ6;L3"E^DB^&amp;H6&lt;;PY/4,N&amp;:0SJ^<br>
M72NM6)-WOK6Y=79PI?`D7PK;&lt;;84GN1+]8*)R9:B)X5"-(I&lt;H7(+NAH@2HM(<br>
MB?4,Y"513VL:P-WLF2F":G9S)ZUKM%UF?;8-P[K,4:N*2@6`I/9G^+E['0/E<br>
M;SO;&gt;[=_["RKLG?K(A&gt;S/4/E6-;;;::WBG/F-6:?-S';EMB,#"QHB?I3@@QB<br>
M:F:KL7\4!Q&amp;ULFAPNV[1@MVY/*2MP$S+S"=)EF'1?C+R&amp;"%L%_2[.1C@Y^5D<br>
MB%^3Z%:^#*,Q?O7#2&lt;K7,B=/:%_M'_914YYY9I!"A7P^0CQ;DI10*LG%&gt;=E&gt;<br>
MG%4DR[-S]@C'JSDE816?[L&gt;?I4_73JIZJP"?#3YNVCW1.%=NV],I,O.F0$:`<br>
M8PH_K65]F3DRDX:16&gt;.!Q,)KO]M2A_3K?CQ7O/@B8N^V'7ZY$FL'M.]I8G[Y<br>
MW$&amp;^*X[G7N'L'K:SY&gt;U@'GB1Z.&lt;KVE83M]MD?9VPC66Z]_R[;",'SG]K;:6%<br>
MH0\HXNW#SDZ#6*]M[H(C5G:Y.XAJ3L\SU`-W3_NY$).MDDK\-JJ**_+5?!JX<br>
M1./ST+.&amp;.$J;8PW7?&lt;8:Z9?,["DT#W9;N98G1W;T!3]WHJ04&lt;]?2`Q#_"S,U<br>
&amp;4+P2T```<br>
`<br>
end<br>
<p>
<pre>
-- 
==============================================================================
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
===  World-Wide-Web URL :  <a href="http://sunserver1.rz.uni-duesseldorf.de/~becka">http://sunserver1.rz.uni-duesseldorf.de/~becka</a>  ===
==============================================================================
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">becka@sunserver1.rz.uni-duesseldorf.de: "Get-Option ..."</a>
<li> <b>Previous message:</b> <a href="0040.html">becka@sunserver1.rz.uni-duesseldorf.de: "netsane running ..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
