<!-- received="Fri Jan 24 14:24:10 1997 MST" -->
<!-- sent="Fri, 24 Jan 1997 14:28:55 -0700 (MST)" -->
<!-- name="David  Mosberger" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Get-Option ..." -->
<!-- id="199701242128.OAA21421@web.azstarnet.com" -->
<!-- inreplyto="Get-Option ..." -->
<title>sane-devel: Re: Get-Option ...</title>
<h1>Re: Get-Option ...</h1>
<b>David  Mosberger</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Fri, 24 Jan 1997 14:28:55 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#44">[ date ]</a><a href="index.html#44">[ thread ]</a><a href="subject.html#44">[ subject ]</a><a href="author.html#44">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">Stefan Luettringhaus-Kappel: "Mustek Problems"</a>
<li> <b>Previous message:</b> <a href="0043.html">becka@sunserver1.rz.uni-duesseldorf.de: "List problem ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0042.html">becka@sunserver1.rz.uni-duesseldorf.de: "Get-Option ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0046.html">David Mosberger-Tang: "Re: Get-Option ..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Ah, right, that is indeed an assumption that was implicit so far.  I'll<br>
fix that.<br>
<p>
	--david<br>
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">Stefan Luettringhaus-Kappel: "Mustek Problems"</a>
<li> <b>Previous message:</b> <a href="0043.html">becka@sunserver1.rz.uni-duesseldorf.de: "List problem ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0042.html">becka@sunserver1.rz.uni-duesseldorf.de: "Get-Option ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0046.html">David Mosberger-Tang: "Re: Get-Option ..."</a>
<!-- reply="end" -->
</ul>
