<!-- received="Tue Jan 28 15:17:05 1997 MST" -->
<!-- sent="Tue, 28 Jan 1997 15:20:11 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: repeat post: xcam frontend for SANE" -->
<!-- id="199701282220.PAA09353@panda.mosberger" -->
<!-- inreplyto="repeat post: xcam frontend for SANE" -->
<title>sane-devel: Re: repeat post: xcam frontend for SANE</title>
<h1>Re: repeat post: xcam frontend for SANE</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Tue, 28 Jan 1997 15:20:11 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#54">[ date ]</a><a href="index.html#54">[ thread ]</a><a href="subject.html#54">[ subject ]</a><a href="author.html#54">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">David  Mosberger: "Re: Dumb Makefile.in question"</a>
<li> <b>Previous message:</b> <a href="0053.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: repeat post: xcam frontend for SANE"</a>
<li> <b>Maybe in reply to:</b> <a href="0050.html">David Mosberger-Tang: "repeat post: xcam frontend for SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 28 Jan 1997 16:39:30 +0100 (MET), <a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a> said:</i><br>
<p>
  Andy&gt; Actually "first frame" should be interpreted as "finish<br>
  Andy&gt; processing the last frame and prepare for a new one".<br>
<p>
That's precisely my point.  With the old interface, you'd have to do a<br>
cancel() then a get_params() to find out that you're done.  Not<br>
exactly straightforward (and certainly a bit wasteful).<br>
<p>
	--david<br>
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">David  Mosberger: "Re: Dumb Makefile.in question"</a>
<li> <b>Previous message:</b> <a href="0053.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: repeat post: xcam frontend for SANE"</a>
<li> <b>Maybe in reply to:</b> <a href="0050.html">David Mosberger-Tang: "repeat post: xcam frontend for SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
