<!-- received="Sat Oct  3 13:32:16 1998 PDT" -->
<!-- sent="Wed, 23 Sep 1998 21:44:19 +0200" -->
<!-- name="Chris Niekel" -->
<!-- email="chris@mimar.demon.nl" -->
<!-- subject="HP photosmart and negatives to positives" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP photosmart and negatives to positives</title>
<h1>HP photosmart and negatives to positives</h1>
<b>Chris Niekel</b> (<a href="mailto:chris@mimar.demon.nl"><i>chris@mimar.demon.nl</i></a>)<br>
<i>Wed, 23 Sep 1998 21:44:19 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">doron tamir: "need help mustek 600 II N"</a>
<li> <b>Previous message:</b> <a href="0033.html">Labo Chimie Physique 0326053233: "help for sane use"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0046.html">Zach Fine: "Re: HP photosmart and negatives to positives"</a>
<li> <b>Reply:</b> <a href="0046.html">Zach Fine: "Re: HP photosmart and negatives to positives"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
Does anyone know a tool to convert a negative into a positive? I've tried <br>
a few things with the gimp, but I can't come close to the positives the<br>
windoze-program delivers. I read on usenet that the author of VuePrint<br>
(which includes a photosmart-scan program) got (bought?) an algorithm from <br>
someone at Fuji. However, he was unwilling to forward the algorithm.<br>
<p>
Does anyone know a similar algorithm? Does anyone know a person that might<br>
know a good algorithm? If someone is already implementing this I look<br>
forward to giving it a test. <br>
<p>
Oh, is there a utility to split a scan of 4 negatives into 4 separate<br>
files? <br>
<p>
<p>
Greetings,<br>
    Chris Niekel<br>
<p>
<pre>
-- 
Geek code version 3.1:
GCS d- s++:+ a- C++$ ULSI++ P+(---) L+++&gt;++++ E--- W++ N++ o K? w--- O M- 
V?&gt;-- PS+ PE-() Y PGP+ t+&gt;+++ 5? X- !R tv+ b DI(+) D+ G&gt;++ e+++ h--- r+++ y+++
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">doron tamir: "need help mustek 600 II N"</a>
<li> <b>Previous message:</b> <a href="0033.html">Labo Chimie Physique 0326053233: "help for sane use"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0046.html">Zach Fine: "Re: HP photosmart and negatives to positives"</a>
<li> <b>Reply:</b> <a href="0046.html">Zach Fine: "Re: HP photosmart and negatives to positives"</a>
<!-- reply="end" -->
</ul>
