<!-- received="Sat Oct  3 13:55:21 1998 PDT" -->
<!-- sent="Sat, 03 Oct 1998 17:12:15 GMT" -->
<!-- name="Gunnar Weikamp" -->
<!-- email="gunnar.weikamp@gmx.de" -->
<!-- subject="Re: Mustek Scanexpress 12000SP?" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.981003153901.518A-100000@dh3mb.in.de.ampr.org" -->
<title>sane-devel: Re: Mustek Scanexpress 12000SP?</title>
<h1>Re: Mustek Scanexpress 12000SP?</h1>
<b>Gunnar Weikamp</b> (<a href="mailto:gunnar.weikamp@gmx.de"><i>gunnar.weikamp@gmx.de</i></a>)<br>
<i>Sat, 03 Oct 1998 17:12:15 GMT</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#43">[ date ]</a><a href="index.html#43">[ thread ]</a><a href="subject.html#43">[ subject ]</a><a href="author.html#43">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">David B. Rees: "Re: Microtek ScanMaker V300?"</a>
<li> <b>Next message:</b> <a href="0044.html">Roger Smith: "sane-hp HP 6200/6250"</a>
<li> <b>Previous message:</b> <a href="0042.html">David Bartlett: "Nikon or Minolta slide scanner?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt; Ursprüngliche Nachricht &lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;</i><br>
<p>
Am 03.10.98, 16:46:22, schrieb Johann Hanne &lt;<a href="mailto:jonny@baycom.de">jonny@baycom.de</a>&gt; zum <br>
Thema Mustek Scanexpress 12000SP?:<br>
<p>
<i>&gt; yesterday i've bought a "MUSTEK SCANEXPRESS 12000SP" and I was quite</i><br>
<i>&gt; dissapointed, when sane 0.74 did not recognize it. However, according </i><br>
to<br>
<p>
unoffical patch (as far as I know) at:<br>
<p>
<a href="http://www.math.TU-Berlin.de/funktion/bolsch/sane/">http://www.math.TU-Berlin.de/funktion/bolsch/sane/</a><br>
<p>
It works (at least) for me and the creator of this patch, Andreas <br>
Bolsch.<br>
<p>
Regards,<br>
<p>
Gunnar.<br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">David B. Rees: "Re: Microtek ScanMaker V300?"</a>
<li> <b>Next message:</b> <a href="0044.html">Roger Smith: "sane-hp HP 6200/6250"</a>
<li> <b>Previous message:</b> <a href="0042.html">David Bartlett: "Nikon or Minolta slide scanner?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
