<!-- received="Sat Oct  3 13:55:24 1998 PDT" -->
<!-- sent="Fri, 02 Oct 1998 13:19:37 -0400" -->
<!-- name="Roger Smith" -->
<!-- email="rsm@research.att.com" -->
<!-- subject="sane-hp HP 6200/6250" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane-hp HP 6200/6250</title>
<h1>sane-hp HP 6200/6250</h1>
<b>Roger Smith</b> (<a href="mailto:rsm@research.att.com"><i>rsm@research.att.com</i></a>)<br>
<i>Fri, 02 Oct 1998 13:19:37 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#44">[ date ]</a><a href="index.html#44">[ thread ]</a><a href="subject.html#44">[ subject ]</a><a href="author.html#44">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">bruno schwander: "sane 0.74 and os/2 ?"</a>
<li> <b>Previous message:</b> <a href="0043.html">Gunnar Weikamp: "Re: Mustek Scanexpress 12000SP?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi All,<br>
<p>
I have installed sane-0.74 to Linux Redhat 5.2. I also have connected an<br>
HP 6200/6250 ScanJet to the configuration. The<br>
system sees the scanner (dmesg lists it) but I cannot open the<br>
device! Should the sane 0.74 work with this scanner (it's not listed<br>
in the man). If not will there be anything done towards software<br>
supporting it?<br>
<p>
<p>
Roger Smith<br>
<p>
AT&amp;T Labs Research<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">bruno schwander: "sane 0.74 and os/2 ?"</a>
<li> <b>Previous message:</b> <a href="0043.html">Gunnar Weikamp: "Re: Mustek Scanexpress 12000SP?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
