<!-- received="Sun Oct  4 03:55:43 1998 PDT" -->
<!-- sent="04 Oct 1998 12:50:44 +0200" -->
<!-- name="Oliver Graf" -->
<!-- email="ograf@fga.de" -->
<!-- subject="Re: Mustek ScanExpress 12000SP" -->
<!-- id="" -->
<!-- inreplyto="Thu, 24 Sep 1998 22:46:24 +0200"" -->
<title>sane-devel: Re: Mustek ScanExpress 12000SP</title>
<h1>Re: Mustek ScanExpress 12000SP</h1>
<b>Oliver Graf</b> (<a href="mailto:ograf@fga.de"><i>ograf@fga.de</i></a>)<br>
<i>04 Oct 1998 12:50:44 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#49">[ date ]</a><a href="index.html#49">[ thread ]</a><a href="subject.html#49">[ subject ]</a><a href="author.html#49">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Oliver Graf: "EPSON backend and xscanimage"</a>
<li> <b>Previous message:</b> <a href="0048.html">Oliver Graf: "Re: Nikon or Minolta slide scanner?"</a>
<li> <b>In reply to:</b> <a href="0018.html">C. Le Cannellier, Pdt LUG Normandie: "Mustek ScanExpress 12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0064.html">Huub Reuver: "Re: Mustek ScanExpress 12000SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:lecannelli_c@decus.fr">lecannelli_c@decus.fr</a> (C. Le Cannellier, Pdt LUG Normandie) writes:<br>
<p>
<i>&gt; 	I (finally) managed to get sane 0.74 working for a Mustek ScanExpress </i><br>
<i>&gt; 12000SP using the patches found onto the Berlin site.</i><br>
<i>&gt; 	But when scanner starts scanning, even if everything apears to be ok,</i><br>
<i>&gt; no preview picture can be displayed and the file picture, big as hell, only show </i><br>
<i>&gt; a black or white page thru Gimp or XV ...</i><br>
<i>&gt; 	I'm desperate ... any hints ?</i><br>
<p>
Sorry, but for me it worked fine. Only the preview had false colors using<br>
net-dll (BGR instead of RGB).<br>
<p>
Regards,<br>
  Oliver.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Oliver Graf: "EPSON backend and xscanimage"</a>
<li> <b>Previous message:</b> <a href="0048.html">Oliver Graf: "Re: Nikon or Minolta slide scanner?"</a>
<li> <b>In reply to:</b> <a href="0018.html">C. Le Cannellier, Pdt LUG Normandie: "Mustek ScanExpress 12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0064.html">Huub Reuver: "Re: Mustek ScanExpress 12000SP"</a>
<!-- reply="end" -->
</ul>
