<!-- received="Sun Oct  4 10:53:19 1998 PDT" -->
<!-- sent="Sun, 04 Oct 1998 19:48:54 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: permissions" -->
<!-- id="" -->
<!-- inreplyto="permissions" -->
<title>sane-devel: Re: permissions</title>
<h1>Re: permissions</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 04 Oct 1998 19:48:54 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#61">[ date ]</a><a href="index.html#61">[ thread ]</a><a href="subject.html#61">[ subject ]</a><a href="author.html#61">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Brian E. Bothwell: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>Previous message:</b> <a href="0060.html">Oliver Rauch: "Re: Need a device"</a>
<li> <b>Maybe in reply to:</b> <a href="0031.html">Rick Knebel: "permissions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Rick Knebel wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt;</i><br>
<i>&gt; I just got a new umax 1220s scanner and have a buslogic 958 card.</i><br>
<i>&gt;</i><br>
<i>&gt; I am runnning redhat 5.1.</i><br>
<i>&gt;</i><br>
<i>&gt; I installed sane and everything works fine as root, but as a user when I invoke xscanimage i do not get the umax choice just pn0 and pn1.</i><br>
<i>&gt;</i><br>
<i>&gt; I followed the directions with creating a scanner group and adding the users and changing the permissions, but still no luck.</i><br>
<i>&gt;</i><br>
<i>&gt; Any suggestions would be appreciated.</i><br>
<i>&gt;</i><br>
<i>&gt; Thanks Alot</i><br>
<i>&gt;</i><br>
<i>&gt; Rick</i><br>
<p>
Hi Rick,<br>
<p>
you have to set the permissions for /dev/sg?.<br>
Changing the permissions of /dev/scanner does not work!<br>
<p>
After you changed /etc/groups, you have to log out and log in again to get the new group-membership!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Brian E. Bothwell: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>Previous message:</b> <a href="0060.html">Oliver Rauch: "Re: Need a device"</a>
<li> <b>Maybe in reply to:</b> <a href="0031.html">Rick Knebel: "permissions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
