<!-- received="Sun Oct  4 13:00:05 1998 PDT" -->
<!-- sent="04 Oct 1998 22:02:31 +0200" -->
<!-- name="Oliver Graf" -->
<!-- email="ograf@fga.de" -->
<!-- subject="Re: EPSON backend and xscanimage" -->
<!-- id="" -->
<!-- inreplyto="Sun, 4 Oct 1998 10:07:01 -0700"" -->
<title>sane-devel: Re: EPSON backend and xscanimage</title>
<h1>Re: EPSON backend and xscanimage</h1>
<b>Oliver Graf</b> (<a href="mailto:ograf@fga.de"><i>ograf@fga.de</i></a>)<br>
<i>04 Oct 1998 22:02:31 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Huub Reuver: "Re: Mustek ScanExpress 12000SP"</a>
<li> <b>Previous message:</b> <a href="0062.html">Brian E. Bothwell: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>In reply to:</b> <a href="0059.html">David Mosberger-Tang: "Re: EPSON backend and xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang &lt;<a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a>&gt; writes:<br>
<p>
<i>&gt;   Oliver&gt; I would like to see 'modification' functions to change a</i><br>
<i>&gt;   Oliver&gt; existing selection (currently I can only make a new one --</i><br>
<i>&gt;   Oliver&gt; but it would be great if you could change the</i><br>
<i>&gt;   Oliver&gt; corners/borders or move the current selection).</i><br>
<i>&gt; </i><br>
<i>&gt; Yup, this would be a nice feature.  You may want to consider starting</i><br>
<i>&gt; with Chris Small's GNOMEified version of xscanimage.  He sent pointers</i><br>
<i>&gt; to it a while ago (if you can't find it in the mail archive, let me</i><br>
<i>&gt; know and I'll dig it out).</i><br>
<p>
If you have them, send them to me. But the correct implementation of the epson <br>
backend is my first priority at the moment (sane-epson can't handle my<br>
GT-9500 (with all possible options), so I'm motivated).<br>
<p>
But after (or if it is easy: while) doing this I will look to change the<br>
interface.<br>
<p>
By the way: for a GNOME version I will need GNOME... so I finally can't get<br>
around some nifty CDE/KDE/GNOME thingy...<br>
<p>
Regards,<br>
  Oliver.<br>
<p>
<pre>
--
Oliver Graf, <a href="http://fga.de/~ograf/">http://fga.de/~ograf/</a>
-----BEGIN GEEK CODE BLOCK-----
Version: 3.12
GCM d- s: a- C++++$ UL++++$ P-(++) L+++ E+++ W++ N+ !o K? w-- O- M-- V? PS+
PE Y+ PGP&gt;+&gt;++ t+@ 5++ X++ R+ tv+ b++ Dl? D++ G- e* h!&gt;- r? z+
------END GEEK CODE BLOCK------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Huub Reuver: "Re: Mustek ScanExpress 12000SP"</a>
<li> <b>Previous message:</b> <a href="0062.html">Brian E. Bothwell: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>In reply to:</b> <a href="0059.html">David Mosberger-Tang: "Re: EPSON backend and xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
