<!-- received="Sun Oct  4 18:12:43 1998 PDT" -->
<!-- sent="Sun, 4 Oct 1998 15:53:36 +0200" -->
<!-- name="Huub Reuver" -->
<!-- email="h_reuver@dds.nl" -->
<!-- subject="Re: Mustek ScanExpress 12000SP" -->
<!-- id="" -->
<!-- inreplyto="98092422462457@decus.fr" -->
<title>sane-devel: Re: Mustek ScanExpress 12000SP</title>
<h1>Re: Mustek ScanExpress 12000SP</h1>
<b>Huub Reuver</b> (<a href="mailto:h_reuver@dds.nl"><i>h_reuver@dds.nl</i></a>)<br>
<i>Sun, 4 Oct 1998 15:53:36 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#64">[ date ]</a><a href="index.html#64">[ thread ]</a><a href="subject.html#64">[ subject ]</a><a href="author.html#64">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Ray Clouse: "Re: Nikon or Minolta slide scanner?"</a>
<li> <b>Previous message:</b> <a href="0063.html">Oliver Graf: "Re: EPSON backend and xscanimage"</a>
<li> <b>In reply to:</b> <a href="0018.html">C. Le Cannellier, Pdt LUG Normandie: "Mustek ScanExpress 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, Sep 24, 1998 at 10:46:24PM +0200, C. Le Cannellier, Pdt LUG Normandie wrote:<br>
<i>&gt; 	I (finally) managed to get sane 0.74 working for a Mustek ScanExpress </i><br>
<i>&gt; 12000SP using the patches found onto the Berlin site.</i><br>
<i>&gt; 	But when scanner starts scanning, even if everything apears to be ok,</i><br>
<i>&gt; no preview picture can be displayed and the file picture, big as hell, only show </i><br>
<i>&gt; a black or white page thru Gimp or XV ...</i><br>
<i>&gt; 	I'm desperate ... any hints ?</i><br>
<p>
Did you use the controller (and cable) that came with the scanner?<br>
Do you get any error-messages when using the mustek-debug-options?<br>
<p>
I never used the scanner with the included card under Linux. In the<br>
readme-files it is stated that the controller is hard to use because<br>
it doesn't use interrupts.<br>
<p>
Grtx,<br>
Huub<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Ray Clouse: "Re: Nikon or Minolta slide scanner?"</a>
<li> <b>Previous message:</b> <a href="0063.html">Oliver Graf: "Re: EPSON backend and xscanimage"</a>
<li> <b>In reply to:</b> <a href="0018.html">C. Le Cannellier, Pdt LUG Normandie: "Mustek ScanExpress 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
