<!-- received="Tue Oct  6 20:08:54 1998 PDT" -->
<!-- sent="07 Oct 1998 04:03:28 +0200" -->
<!-- name="Daniel Stodden" -->
<!-- email="stodden@informatik.tu-muenchen.de" -->
<!-- subject="Re: Just a question..." -->
<!-- id="" -->
<!-- inreplyto="Tue, 6 Oct 1998 11:40:05 -0400"" -->
<title>sane-devel: Re: Just a question...</title>
<h1>Re: Just a question...</h1>
<b>Daniel Stodden</b> (<a href="mailto:stodden@informatik.tu-muenchen.de"><i>stodden@informatik.tu-muenchen.de</i></a>)<br>
<i>07 Oct 1998 04:03:28 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#83">[ date ]</a><a href="index.html#83">[ thread ]</a><a href="subject.html#83">[ subject ]</a><a href="author.html#83">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Daniel Stodden: "Re: Mustek ScanExpress 6000 SP"</a>
<li> <b>Previous message:</b> <a href="0082.html">Chris Pinkham: "Re: Scanners - SCSI card for ARTEC AT12"</a>
<li> <b>In reply to:</b> <a href="0073.html">A. R. M.: "RE: Just a question..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"A. R. M." &lt;<a href="mailto:amojahed@julian.uwo.ca">amojahed@julian.uwo.ca</a>&gt; writes:<br>
<p>
<i>&gt; Nope!</i><br>
<i>&gt; Scanner is the type. (type of scsi device)</i><br>
<i>&gt; </i><br>
<i>&gt; : For Linux you can specify the device by the vendor,</i><br>
<i>&gt; : model, controller no., SCSI-ID, e.g. I've placed</i><br>
<i>&gt; : scsi SCANNER * * * * 6 </i><br>
<i>&gt; : in my mustek.conf, where 6 refers to ID 6.</i><br>
<i>&gt; : (SCANNER is the vendor string --- funny!)</i><br>
<i>&gt; </i><br>
<p>
re-nope.<br>
for mustek's scanexpress, SCANNER is indeed the vendorstring.<br>
<p>
stop rotf, thats _not_ funny :)<br>
<p>
regards,<br>
daniel<br>
<p>
<pre>
-- 
______________________________________________________________________
 <a href="mailto:stodden@in.tum.de">mailto:stodden@in.tum.de</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Daniel Stodden: "Re: Mustek ScanExpress 6000 SP"</a>
<li> <b>Previous message:</b> <a href="0082.html">Chris Pinkham: "Re: Scanners - SCSI card for ARTEC AT12"</a>
<li> <b>In reply to:</b> <a href="0073.html">A. R. M.: "RE: Just a question..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
