<!-- received="Wed Oct  7 14:57:03 1998 PDT" -->
<!-- sent="Wed, 7 Oct 1998 23:48:55 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek ScanMaker630 broken?" -->
<!-- id="" -->
<!-- inreplyto="199810062150.XAA01276@mathes.mathes.uni-essen.de" -->
<title>sane-devel: Re: Microtek ScanMaker630 broken?</title>
<h1>Re: Microtek ScanMaker630 broken?</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Wed, 7 Oct 1998 23:48:55 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#101">[ date ]</a><a href="index.html#101">[ thread ]</a><a href="subject.html#101">[ subject ]</a><a href="author.html#101">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">Bernd Schroeder: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>Previous message:</b> <a href="0100.html">Jani Frilander: "Re: color problem with Mustek 6000SP"</a>
<li> <b>In reply to:</b> <a href="0078.html">Matthias Hessler: "Microtek ScanMaker630 broken?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Tue, Oct 06, 1998 at 11:50:21PM +0200, Matthias Hessler wrote:<br>
<p>
[...]<br>
<p>
<i>&gt; However, 24bit Color doesn't quite work properly. All my scans end up</i><br>
<i>&gt;   with basically only two colors: a neon green instead of black, and</i><br>
<i>&gt;   pink instead of white. Except for those colors, the picture pretty</i><br>
<i>&gt;   much looks like the 8bit Gray one.</i><br>
<i>&gt; I wonder whether this is a problem of SANE/the Microtek2 backend, or</i><br>
<i>&gt;   more likely a defect of my scanner?</i><br>
<p>
I have the same problem with my own ScanMaker 630, and I suspect an<br>
oddity in the firmware, where the Windows software somehow works around.<br>
<p>
Normally the colors are correct, but with a color scan after a B/W scan<br>
I get the same wrong colors. Up to now the only way I found to get the<br>
colors right again, when they are wrong, is to start a grayscale scan.<br>
After that all subsequent color scans are ok again. I am working on this.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">Bernd Schroeder: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>Previous message:</b> <a href="0100.html">Jani Frilander: "Re: color problem with Mustek 6000SP"</a>
<li> <b>In reply to:</b> <a href="0078.html">Matthias Hessler: "Microtek ScanMaker630 broken?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
