<!-- received="Thu Oct  8 07:33:55 1998 PDT" -->
<!-- sent="Thu, 8 Oct 1998 10:45:11 -0400 (EDT)" -->
<!-- name="Terry Mackintosh" -->
<!-- email="terry@terrym.com" -->
<!-- subject="saned - Problem found" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.95.981008095529.15266A-100000@terry1.acun.com" -->
<title>sane-devel: saned - Problem found</title>
<h1>saned - Problem found</h1>
<b>Terry Mackintosh</b> (<a href="mailto:terry@terrym.com"><i>terry@terrym.com</i></a>)<br>
<i>Thu, 8 Oct 1998 10:45:11 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#109">[ date ]</a><a href="index.html#109">[ thread ]</a><a href="subject.html#109">[ subject ]</a><a href="author.html#109">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">becka@rz.uni-duesseldorf.de: "Re: saned - Problem found"</a>
<li> <b>Previous message:</b> <a href="0108.html">Terry Mackintosh: "saned"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Matto Marjanovic: "Re: saned - Problem found"</a>
<li> <b>Reply:</b> <a href="0122.html">Matto Marjanovic: "Re: saned - Problem found"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all<br>
<p>
It is a permission problem.<br>
Where I had user.group of nobody.nobody, I just did 'root.root' and it all<br>
started working just fine!<br>
<p>
Yes I know that using root is a bad idea, but it is great for trouble<br>
shooting.<br>
<p>
Now I looked at permission in /usr/local/sbin /usr/local/bin<br>
/usr/local/lib/ /usr/local/lib/sane /usr/local/etc/sane.d<br>
and all permessions look ok to me.<br>
<p>
Did I miss some place?  Is there some file that needs unusual permissions?<br>
What is the best way to trouble shoot a permission problem?<br>
<p>
Thanks<br>
Terry<br>
<p>
On Thu, 8 Oct 1998, Terry Mackintosh wrote:<br>
<p>
<i>&gt; Hi</i><br>
<i>&gt; </i><br>
<i>&gt; Using sane 0.73, it seemed to be the latest on sunsite at the time I got</i><br>
<i>&gt; it.</i><br>
<i>&gt; </i><br>
<i>&gt; On Thu, 8 Oct 1998, Hugo van der Kooij wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; On Wed, 7 Oct 1998, Terry Mackintosh wrote:</i><br>
<i>&gt; &gt; &gt; After putting the entries in /etc/inetd.conf</i><br>
<i>&gt; #sane stream tcp nowait  nobody /usr/local/sbin/saned sane</i><br>
<i>&gt; sane stream tcp nowait nobody.nobody /usr/local/sbin/saned sane</i><br>
<i>&gt; </i><br>
<i>&gt; Ok, I took the 'd' off the very end, and tried both lines. This is what</i><br>
<i>&gt; you meant earlyer when you said it should just be 'sane'?</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; &gt; and /etc/services,</i><br>
<i>&gt; &gt; &gt; sane 6566/tcp # SANE network scanner daemon</i><br>
<i>&gt; </i><br>
<i>&gt; same</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; As soon as a session comes to port 6566 then saned will be started</i><br>
<i>&gt; &gt; automagiaclly. Just like ftpd and telnetd</i><br>
<i>&gt; </i><br>
<i>&gt; OK, so now saned is set up on 'home' box, and when I do:</i><br>
<i>&gt; scanimage -L</i><br>
<i>&gt; on 'laptop' ... on laptop I get nothing, just a new prompt, on home, in</i><br>
<i>&gt; the messages log I get:</i><br>
<i>&gt; </i><br>
<i>&gt; Oct  8 09:39:08 home saned[331]: access by root@laptop accepted</i><br>
<i>&gt; Oct  8 09:39:08 home saned[331]: exiting</i><br>
<i>&gt; </i><br>
<i>&gt; So, saned is running, the laptop does talk to it on home, but it does not</i><br>
<i>&gt; see any scanner devices, why?</i><br>
<i>&gt; </i><br>
<i>&gt; Recall that if I comment out the lines in inetd.conf and services, and run</i><br>
<i>&gt; saned from the command line with '-d', then the laptop does see the</i><br>
<i>&gt; scanner, and can even use it.</i><br>
<i>&gt; </i><br>
<i>&gt; Also note that every thing works great (not via net) on the home box.</i><br>
<i>&gt; </i><br>
<i>&gt; Thanks, and thanks very much for sane.</i><br>
<i>&gt; Terry Mackintosh &lt;<a href="mailto:terry@terrym.com">terry@terrym.com</a>&gt;          <a href="http://www.terrym.com">http://www.terrym.com</a></i><br>
<i>&gt; sysadmin/owner  Please! No MIME encoded or HTML mail, unless needed.</i><br>
<i>&gt; </i><br>
<i>&gt; Proudly powered by R H Linux 4.2, Apache 1.3, PHP 3, PostgreSQL 6.3</i><br>
<i>&gt; -------------------------------------------------------------------</i><br>
<i>&gt; Success Is A Choice ... book by Rick Patino, get it, read it!</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
Terry Mackintosh &lt;<a href="mailto:terry@terrym.com">terry@terrym.com</a>&gt;          <a href="http://www.terrym.com">http://www.terrym.com</a><br>
sysadmin/owner  Please! No MIME encoded or HTML mail, unless needed.<br>
<p>
Proudly powered by R H Linux 4.2, Apache 1.3, PHP 3, PostgreSQL 6.3<br>
-------------------------------------------------------------------<br>
Success Is A Choice ... book by Rick Patino, get it, read it!<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">becka@rz.uni-duesseldorf.de: "Re: saned - Problem found"</a>
<li> <b>Previous message:</b> <a href="0108.html">Terry Mackintosh: "saned"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Matto Marjanovic: "Re: saned - Problem found"</a>
<li> <b>Reply:</b> <a href="0122.html">Matto Marjanovic: "Re: saned - Problem found"</a>
<!-- reply="end" -->
</ul>
