<!-- received="Thu Oct  8 09:22:16 1998 PDT" -->
<!-- sent="Thu, 08 Oct 1998 15:28:48 +0200" -->
<!-- name="Tobias Ernst" -->
<!-- email="tobi@bland.fido.de" -->
<!-- subject="Re: OS/2 ant sane 0.74" -->
<!-- id="" -->
<!-- inreplyto="MSGID_2=3A2476=2F418_361c8d68@fidonet.org" -->
<title>sane-devel: Re: OS/2 ant sane 0.74</title>
<h1>Re: OS/2 ant sane 0.74</h1>
<b>Tobias Ernst</b> (<a href="mailto:tobi@bland.fido.de"><i>tobi@bland.fido.de</i></a>)<br>
<i>Thu, 08 Oct 1998 15:28:48 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#114">[ date ]</a><a href="index.html#114">[ thread ]</a><a href="subject.html#114">[ subject ]</a><a href="author.html#114">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">Dr. Andreas Bolsch: "Re: Strage behavior (MFS-1200SP &amp; sane 0.73)"</a>
<li> <b>Previous message:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: saned - Problem found"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Yuri!<br>
<p>
 YD&gt; ok, I'm here; I'm currently working on 0.74 and I can say that it is <br>
 YD&gt; quite ready; support for parallel port scanners is under<br>
 YD&gt; testing (only Epson backend), the qcam file is included but I don't <br>
 YD&gt; know if it works, libsane.dll is built. I need only a couple of days for <br>
 YD&gt; creating the distribution file, add some readme, include patches and <br>
 YD&gt; something else.<br>
<p>
Thanks for the signal! Having looked at the source for myself, I have to bow<br>
before your abilities and heavily appreciate your work. I am looking forward to<br>
see it (BTW, will you release it with source code and a short README on what to<br>
do in order to make it compile?).<br>
<p>
If you should want someone to test the microtek2 backend (which is new in 0.74<br>
and the reason I am looking for 0.74 on OS/2) on OS/2 with a Microtek Scanmaker<br>
630 connected to an Adaptec 1460, feel free to send a prerelease version via<br>
e-mail. :-)<br>
<p>
Regards,<br>
Tobias<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">Dr. Andreas Bolsch: "Re: Strage behavior (MFS-1200SP &amp; sane 0.73)"</a>
<li> <b>Previous message:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: saned - Problem found"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
