<!-- received="Thu Oct  8 11:04:24 1998 PDT" -->
<!-- sent="Thu, 8 Oct 1998 20:01:20 +0200" -->
<!-- name="Thomas Kluge" -->
<!-- email="thomas@darkstar.rhein-neckar.de" -->
<!-- subject="Re: Mustek ScanExpress 6000 SP" -->
<!-- id="" -->
<!-- inreplyto="87yaqtf7y4.fsf@stodden.modem.informatik.tu-muenchen.de" -->
<title>sane-devel: Re: Mustek ScanExpress 6000 SP</title>
<h1>Re: Mustek ScanExpress 6000 SP</h1>
<b>Thomas Kluge</b> (<a href="mailto:thomas@darkstar.rhein-neckar.de"><i>thomas@darkstar.rhein-neckar.de</i></a>)<br>
<i>Thu, 8 Oct 1998 20:01:20 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#120">[ date ]</a><a href="index.html#120">[ thread ]</a><a href="subject.html#120">[ subject ]</a><a href="author.html#120">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Terry Mackintosh: "Re: saned - Problem found"</a>
<li> <b>Previous message:</b> <a href="0119.html">Terry Mackintosh: "Re: Strage behavior (MFS-1200SP &amp; sane 0.73)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Wed, Oct 07, 1998, Daniel Stodden wrote:<br>
<i>&gt; Thomas Kluge &lt;<a href="mailto:thomas@darkstar.rhein-neckar.de">thomas@darkstar.rhein-neckar.de</a>&gt; writes:</i><br>
<i>&gt; &gt; I've got serious problems getting my ScanExpress 6000SP to work. That's </i><br>
<i>&gt; </i><br>
<i>&gt; www.math.tu-berlin.de/funktion/bolsch/sane</i><br>
<i>&gt; </i><br>
<i>&gt; sane neuuebersetzen, danach sollte es klappen.</i><br>
<p>
Ok, with the patch and a link sga =&gt; sg0 it works except from the already<br>
mentioned color-bug. Thank you!<br>
<p>
Thomas<br>
<p>
<pre>
-- 
EMAIL: <a href="mailto:thomas@darkstar.rhein-neckar.de">thomas@darkstar.rhein-neckar.de</a> WWW: www.rhein-neckar.de/~darkstar/
IRC: ctom   SITE: Tommi Online   PGP: send email with subject "get pgpkey"
-------------------------------Linux 2.0.35-------------------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Terry Mackintosh: "Re: saned - Problem found"</a>
<li> <b>Previous message:</b> <a href="0119.html">Terry Mackintosh: "Re: Strage behavior (MFS-1200SP &amp; sane 0.73)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
