<!-- received="Thu Oct  8 11:48:07 1998 PDT" -->
<!-- sent="Thu, 8 Oct 1998 14:47:10 -0400 (EDT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: saned - Problem found" -->
<!-- id="m0zRL5i-000q0oC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="saned - Problem found" -->
<title>sane-devel: Re: saned - Problem found</title>
<h1>Re: saned - Problem found</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Thu, 8 Oct 1998 14:47:10 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#122">[ date ]</a><a href="index.html#122">[ thread ]</a><a href="subject.html#122">[ subject ]</a><a href="author.html#122">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Anthony Mallet: "Re: Strage behavior (MFS-1200SP &amp; sane 0.73)"</a>
<li> <b>Previous message:</b> <a href="0121.html">Terry Mackintosh: "Re: saned - Problem found"</a>
<li> <b>Maybe in reply to:</b> <a href="0109.html">Terry Mackintosh: "saned - Problem found"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i> &gt;Date: Thu, 8 Oct 1998 14:23:05 -0400 (EDT)</i><br>
<i> &gt;From: Terry Mackintosh &lt;<a href="mailto:terry@terrym.com">terry@terrym.com</a>&gt;</i><br>
...<br>
<i> &gt;OK, I'm listening, what is a better solution?</i><br>
...<br>
<i> &gt;I have a group called 'sys':</i><br>
<i> &gt;[root@home /etc]# grep sys group</i><br>
<i> &gt;sys::3:root,bin,adm</i><br>
<i> &gt;</i><br>
<i> &gt;Should I run the scanner as nobody.sys?  Then I could remove the</i><br>
<i> &gt;permissions for the world from /dev/sga, as the group is sys.</i><br>
<p>
Groups are there so that you can partition users into different classes<br>
 of authority and privilege.  For example:<br>
<p>
 o Create a new group called "scanner", and put yourself in it (along<br>
   with any scanning buddies).<br>
<p>
 o Create a new system user (i.e. passwd entry without any home<br>
   directories, etc.) called "scanner", and put it in the scanner<br>
   group as well.<br>
<p>
 o Change the owner.group of your /dev/sga to "scanner.scanner",<br>
   and the permissions to owner and group rw only.<br>
<p>
 o Run saned as scanner.scanner..<br>
<p>
If you need more info on creating groups, etc., read your RedHat docs.<br>
 If it's not in there, then they are not doing their jobs.<br>
<p>
<p>
-matt m.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Anthony Mallet: "Re: Strage behavior (MFS-1200SP &amp; sane 0.73)"</a>
<li> <b>Previous message:</b> <a href="0121.html">Terry Mackintosh: "Re: saned - Problem found"</a>
<li> <b>Maybe in reply to:</b> <a href="0109.html">Terry Mackintosh: "saned - Problem found"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
