<!-- received="Thu Oct 15 09:18:19 1998 PDT" -->
<!-- sent="Thu, 15 Oct 1998 18:18:22 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax 1220s scans 'dark'." -->
<!-- id="" -->
<!-- inreplyto="Umax 1220s scans 'dark'." -->
<title>sane-devel: Re: Umax 1220s scans 'dark'.</title>
<h1>Re: Umax 1220s scans 'dark'.</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 15 Oct 1998 18:18:22 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#166">[ date ]</a><a href="index.html#166">[ thread ]</a><a href="subject.html#166">[ subject ]</a><a href="author.html#166">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Ray Curtis: "Re: how to make net scanner appear in xscanimage?"</a>
<li> <b>Previous message:</b> <a href="0165.html">leila belhadjali: "Umax 1220s scans 'dark'."</a>
<li> <b>Maybe in reply to:</b> <a href="0165.html">leila belhadjali: "Umax 1220s scans 'dark'."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0179.html">Oliver Rauch: "Re: Umax 1220s scans 'dark'."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
leila belhadjali wrote:<br>
<p>
<i>&gt; I am new at this, so bear with me, ok?</i><br>
<i>&gt;</i><br>
<i>&gt; I have a UMAX1220S running with Rebhat 5.0, wiht some patches.</i><br>
<i>&gt; For frontend I use Gimp version 0.99.28, xscanimage is 0.74</i><br>
<i>&gt;</i><br>
<i>&gt; The scanner works fine, but the results are much darker than the</i><br>
<i>&gt; originals and I can't find anywhere to 'lighten' them up before</i><br>
<i>&gt; scanning. I do use the Gimp to correct afterwards, but it's a pain</i><br>
<i>&gt; because I have lots fo scanning to do.</i><br>
<i>&gt;</i><br>
<i>&gt; Any ideas? Is there a specific gamma correction I should be using?</i><br>
<i>&gt; I am not real fluent with Gamma stuff! :(</i><br>
<i>&gt;</i><br>
<i>&gt; I have *not* hooked the scanner up to any MS box (don't have one:)</i><br>
<i>&gt; so I don't know if it's a hardware issue.</i><br>
<i>&gt;</i><br>
<i>&gt; Thoughts/comments/suggestions welcome!</i><br>
<i>&gt;</i><br>
<p>
Hi Leila,<br>
<p>
enable the "Use custom gamma table" button,<br>
there you can enter a gamma value and modify the gamma table!<br>
<p>
Gamma-values greater than 1 make the image brighter (try 1.5 - 2.5)<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Ray Curtis: "Re: how to make net scanner appear in xscanimage?"</a>
<li> <b>Previous message:</b> <a href="0165.html">leila belhadjali: "Umax 1220s scans 'dark'."</a>
<li> <b>Maybe in reply to:</b> <a href="0165.html">leila belhadjali: "Umax 1220s scans 'dark'."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0179.html">Oliver Rauch: "Re: Umax 1220s scans 'dark'."</a>
<!-- reply="end" -->
</ul>
