<!-- received="Thu Oct 15 13:18:18 1998 PDT" -->
<!-- sent="15 Oct 1998 16:17:06 -0400" -->
<!-- name="Cory Kempf" -->
<!-- email="ckempf@enigami.com" -->
<!-- subject="Re: Umax 1220s scans 'dark'." -->
<!-- id="" -->
<!-- inreplyto="Thu, 15 Oct 1998 12:20:06 -0700 (PDT)"" -->
<title>sane-devel: Re: Umax 1220s scans 'dark'.</title>
<h1>Re: Umax 1220s scans 'dark'.</h1>
<b>Cory Kempf</b> (<a href="mailto:ckempf@enigami.com"><i>ckempf@enigami.com</i></a>)<br>
<i>15 Oct 1998 16:17:06 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#169">[ date ]</a><a href="index.html#169">[ thread ]</a><a href="subject.html#169">[ subject ]</a><a href="author.html#169">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">Oliver Graf: "Re: Epson GT-300"</a>
<li> <b>Previous message:</b> <a href="0168.html">leila belhadjali: "Re: Umax 1220s scans 'dark'."</a>
<li> <b>In reply to:</b> <a href="0168.html">leila belhadjali: "Re: Umax 1220s scans 'dark'."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0291.html">Kevin Dalley: "Re: Umax 1220s scans 'dark'."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
leila belhadjali &lt;<a href="mailto:leilab@aa.net">leilab@aa.net</a>&gt; writes:<br>
<p>
<i>&gt;Anytime I make a change to gamma I get an error:</i><br>
<i>&gt;"Failed to set value of option red-gamma table: Invalid Argument"</i><br>
<i>&gt;even when I have not touched the red gamma.</i><br>
<p>
FWIW, anytime I attempt to touch the gamma, xscanimage crashes with a<br>
floating point exception.  Unfortunately, I haven't had time to<br>
attempt to debug it.<br>
<p>
It occurs to me that these problems might be related...<br>
<p>
I am running on a FreeBSD 3.0-Current system, if that helps.<br>
<p>
+C<br>
<pre>
-- 
Thinking of purchasing RAM from the Chip Merchant?  
Please read this first: &lt;<a href="http://www.enigami.com/~ckempf/chipmerchant.html">http://www.enigami.com/~ckempf/chipmerchant.html</a>&gt;
<p>
Cory Kempf                Macintosh / Unix Consulting &amp; Software Development
<a href="mailto:ckempf@enigami.com">ckempf@enigami.com</a>        &lt;<a href="http://www.enigami.com/~ckempf/">http://www.enigami.com/~ckempf/</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">Oliver Graf: "Re: Epson GT-300"</a>
<li> <b>Previous message:</b> <a href="0168.html">leila belhadjali: "Re: Umax 1220s scans 'dark'."</a>
<li> <b>In reply to:</b> <a href="0168.html">leila belhadjali: "Re: Umax 1220s scans 'dark'."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0291.html">Kevin Dalley: "Re: Umax 1220s scans 'dark'."</a>
<!-- reply="end" -->
</ul>
