<!-- received="Fri Oct 16 02:41:35 1998 PDT" -->
<!-- sent="Fri, 16 Oct 1998 10:43:16 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: scanner Mustek 1200CP driver for linux" -->
<!-- id="" -->
<!-- inreplyto="scanner Mustek 1200CP driver for linux" -->
<title>sane-devel: Re: scanner Mustek 1200CP driver for linux</title>
<h1>Re: scanner Mustek 1200CP driver for linux</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Fri, 16 Oct 1998 10:43:16 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#177">[ date ]</a><a href="index.html#177">[ thread ]</a><a href="subject.html#177">[ subject ]</a><a href="author.html#177">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0178.html">Danilo Godec: "Twain &lt;&gt; SANE ?"</a>
<li> <b>Previous message:</b> <a href="0176.html">Andreas Czechanowski: "Re: Parallelport scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Robert Geise: "scanner Mustek 1200CP driver for linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
1200CP??? Never heard about it. What's the model<br>
name precisely?<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0178.html">Danilo Godec: "Twain &lt;&gt; SANE ?"</a>
<li> <b>Previous message:</b> <a href="0176.html">Andreas Czechanowski: "Re: Parallelport scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Robert Geise: "scanner Mustek 1200CP driver for linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
