<!-- received="Sat Oct 17 03:04:59 1998 PDT" -->
<!-- sent="Sat, 17 Oct 1998 11:58:16 +0200 (MET DST)" -->
<!-- name="Peter Daum" -->
<!-- email="gator@cs.tu-berlin.de" -->
<!-- subject="Re: xscanimage works, scanimage not (Umax Astra 1220S)" -->
<!-- id="m0zUT7o-0005KaC@gator.isdn.cs.tu-berlin.de" -->
<!-- inreplyto="19981013144557.A2907@darkstar.rhein-neckar.de" -->
<title>sane-devel: Re: xscanimage works, scanimage not (Umax Astra 1220S)</title>
<h1>Re: xscanimage works, scanimage not (Umax Astra 1220S)</h1>
<b>Peter Daum</b> (<a href="mailto:gator@cs.tu-berlin.de"><i>gator@cs.tu-berlin.de</i></a>)<br>
<i>Sat, 17 Oct 1998 11:58:16 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#185">[ date ]</a><a href="index.html#185">[ thread ]</a><a href="subject.html#185">[ subject ]</a><a href="author.html#185">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Peter Daum: "Re: xscanimage works, scanimage not (Umax Astra 1220S)"</a>
<li> <b>Previous message:</b> <a href="0184.html">Oliver Rauch: "XPhotocopy question"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
In article &lt;<a href="mailto:19981013144557.A2907@darkstar.rhein-neckar.de">19981013144557.A2907@darkstar.rhein-neckar.de</a>&gt; you wrote:<br>
<i>&gt; Hi,</i><br>
<p>
<i>&gt; i've got another strange problem with:</i><br>
<p>
<i>&gt; sane-0.74</i><br>
<i>&gt; Dawicontrol 2975U</i><br>
<i>&gt; Umax Astra 1220-S</i><br>
<p>
<i>&gt; Using xscanimage, everything works fine. I've scanned about 60 times one</i><br>
<i>&gt; after the other without any problem. So far so good, i've tried scanimage (i</i><br>
<i>&gt; need it for some scripts), and it's crazy, the first scan is ok, the second</i><br>
<i>&gt; or the third leads to syslog-entries as following while the scanner keeps</i><br>
<i>&gt; silent. When i try to unload the ncr53c875-Module, my machine freezes and</i><br>
<i>&gt; all that's left to do is pressing the reset-button.</i><br>
<p>
<i>&gt; Oct 13 00:11:27 darkstar kernel: ncr53c875-0-&lt;5,0&gt;: M_REJECT received (5:8).</i><br>
<i>&gt; Oct 13 00:12:25 darkstar kernel: ncr53c875-0-&lt;5,0&gt;: M_REJECT received (5:8).</i><br>
<i>&gt; Oct 13 00:13:19 darkstar kernel: ncr53c875-0-&lt;5,0&gt;: M_REJECT received (5:8).</i><br>
<i>&gt; Oct 13 00:14:19 darkstar kernel: ncr53c875-0-&lt;5,0&gt;: internal error: cmd=05 != 7c=(vdsp[0] &gt;&gt; 24)</i><br>
<p>
Hi,<br>
<p>
are you maybe using a current (3.0x, included with current 2.1.12x<br>
kernels) version of the ncr53c8xx driver? I am experiencing<br>
similar problems with a ncr810 scsi controller and a single Umax Astra<br>
1200S connected to it.<br>
<p>
If it's the same problem that I have, it is not a matter of<br>
xscanimage vs. scanimage - the first time a program opens the<br>
scanner, everything works fine, any subsequent attempt to use the<br>
scanner fails. If you quit xscanimage and try to start it again,<br>
you're out of luck...<br>
<p>
In my case, it seems to be caused by the ncr driver - when I boot<br>
an ancient kernel with an older driver version, the scanner works<br>
fine. I already contacted Gerard Roudier about this issue.<br>
<p>
Please let me know if your difficulties are related to this<br>
issue.<br>
<p>
Regards,<br>
            Peter<br>
<pre>
-- 
     | Peter Daum (<a href="mailto:gator@cs.tu-berlin.de">gator@cs.tu-berlin.de</a>)        __o   (+49 30)
     | <a href="http://www.cs.tu-berlin.de/~gator">http://www.cs.tu-berlin.de/~gator</a>       _'\&lt;_  691 46 35
     | pgp messages welcome!                 _(_)/(_) ___________
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Peter Daum: "Re: xscanimage works, scanimage not (Umax Astra 1220S)"</a>
<li> <b>Previous message:</b> <a href="0184.html">Oliver Rauch: "XPhotocopy question"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
