<!-- received="Sun Oct 18 13:26:56 1998 PDT" -->
<!-- sent="Sun, 18 Oct 1998 23:25:51 +0300" -->
<!-- name="Jani Frilander" -->
<!-- email="jani.frilander@mail.wwnet.fi" -->
<!-- subject="Re: New version of Mustek backend - 6000SP, 12000SP" -->
<!-- id="" -->
<!-- inreplyto="New version of Mustek backend - 6000SP, 12000SP" -->
<title>sane-devel: Re: New version of Mustek backend - 6000SP, 12000SP</title>
<h1>Re: New version of Mustek backend - 6000SP, 12000SP</h1>
<b>Jani Frilander</b> (<a href="mailto:jani.frilander@mail.wwnet.fi"><i>jani.frilander@mail.wwnet.fi</i></a>)<br>
<i>Sun, 18 Oct 1998 23:25:51 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#195">[ date ]</a><a href="index.html#195">[ thread ]</a><a href="subject.html#195">[ subject ]</a><a href="author.html#195">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Peter Rasmussen: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Previous message:</b> <a href="0194.html">Oliver Rauch: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Maybe in reply to:</b> <a href="0193.html">Dr. Andreas Bolsch: "New version of Mustek backend - 6000SP, 12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0203.html">Dr. Andreas Bolsch: "Re: New version of Mustek backend - 6000SP, 12000SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dr. Andreas Bolsch wrote:<br>
<i>&gt; </i><br>
<i>&gt; Color mode for ScanExpress 6000SP should work now,</i><br>
<i>&gt; and the annoying wrong colors near the top in</i><br>
<i>&gt; higher resolutions have disappeared.</i><br>
<p>
The colors are now okay with my 6000SP. I hate to complain,<br>
but the image seems to shift sideways occasionally.<br>
<p>
<pre>
-- 
The sticker on the side of the box said "Supported Platforms:
Windows 95, Windows NT 4.0, or better", so clearly Linux was 
a supported platform.
-+-+-+-+-+- email: <a href="mailto:Jani.Frilander@mail.wwnet.fi">Jani.Frilander@mail.wwnet.fi</a> -+-+-+-+-+-+-
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Peter Rasmussen: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Previous message:</b> <a href="0194.html">Oliver Rauch: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Maybe in reply to:</b> <a href="0193.html">Dr. Andreas Bolsch: "New version of Mustek backend - 6000SP, 12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0203.html">Dr. Andreas Bolsch: "Re: New version of Mustek backend - 6000SP, 12000SP"</a>
<!-- reply="end" -->
</ul>
