<!-- received="Mon Oct 19 13:10:11 1998 PDT" -->
<!-- sent="Mon, 19 Oct 1998 20:48:00 +0100" -->
<!-- name="Jonathan Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: parallel port scanner support" -->
<!-- id="m0zVLHd-0002YbC@hex" -->
<!-- inreplyto="parallel port scanner support" -->
<title>sane-devel: Re: parallel port scanner support</title>
<h1>Re: parallel port scanner support</h1>
<b>Jonathan Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Mon, 19 Oct 1998 20:48:00 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#210">[ date ]</a><a href="index.html#210">[ thread ]</a><a href="subject.html#210">[ subject ]</a><a href="author.html#210">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0211.html">leila belhadjali: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Previous message:</b> <a href="0209.html">Johann Hanne: "Problems with new Mustek backend..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0260.html">Jonathan Buzzard: "Re: parallel port scanner support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:Marco.Foglia@switzerland.org">Marco.Foglia@switzerland.org</a> said:<br>
<i>&gt; Is it possible to monitor the parallel port with a second computer to </i><br>
<i>&gt; obtain information about the protocoll? </i><br>
<p>
If you can get it working under Wine using the port access stuff (allowing<br>
programs direct access to ports in a similar manner to DOSemu) then you<br>
can do it using just the one computer.<br>
<p>
Your best chance of getting it to work under Wine comes if you can get<br>
hold of 16bit Microsoft Windows 3.1x drivers for your scanner.<br>
<p>
After that you need a specially patched version of Wine, which should be<br>
avaliable soon as I have decided to halt my work on Toshiba stuff until<br>
I get it done (otherwise you would probably be waiting till after<br>
Christmas). I have updated my patches to Wine-980927 and written some<br>
documetation so the should be avaliable soon.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0211.html">leila belhadjali: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Previous message:</b> <a href="0209.html">Johann Hanne: "Problems with new Mustek backend..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0260.html">Jonathan Buzzard: "Re: parallel port scanner support"</a>
<!-- reply="end" -->
</ul>
