<!-- received="Fri Oct 23 06:10:32 1998 PDT" -->
<!-- sent="Fri, 23 Oct 1998 15:09:47 +0200 (CEST)" -->
<!-- name="Dirk Engelmann" -->
<!-- email="Dirk.Engelmann@IWR.Uni-Heidelberg.De" -->
<!-- subject="mustek color scan problem" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: mustek color scan problem</title>
<h1>mustek color scan problem</h1>
<b>Dirk Engelmann</b> (<a href="mailto:Dirk.Engelmann@IWR.Uni-Heidelberg.De"><i>Dirk.Engelmann@IWR.Uni-Heidelberg.De</i></a>)<br>
<i>Fri, 23 Oct 1998 15:09:47 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#254">[ date ]</a><a href="index.html#254">[ thread ]</a><a href="subject.html#254">[ subject ]</a><a href="author.html#254">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0255.html">Dirk Engelmann: "Re: mustek color scan problem"</a>
<li> <b>Previous message:</b> <a href="0253.html">Tobias Ernst: "Problems with SANE 0.74 for OS/2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
I'm new to the list - and I hope this question is<br>
not off topic and wrong placed.<br>
<p>
I've got a problem with a mustek MFS-12000SP scanner.<br>
The man page of sane-mustek tells:<br>
<p>
MFS-1200SP  MFS-12000SP v1.02 [color fails?] 1-pass<br>
<p>
Is there a way to get the scanner working in color mode<br>
with this firmware (v1.02), or is it neccessary to upgrade ?<br>
And if so, how can I get the upgrade (EPROM ?) ?<br>
<p>
Thanks for any help!<br>
<p>
<p>
Cheers,           <br>
Dirk Engelmann<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0255.html">Dirk Engelmann: "Re: mustek color scan problem"</a>
<li> <b>Previous message:</b> <a href="0253.html">Tobias Ernst: "Problems with SANE 0.74 for OS/2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
