<!-- received="Wed Oct 28 01:42:29 1998 PST" -->
<!-- sent="28 Oct 1998 01:41:16 -0800" -->
<!-- name="Kevin Dalley" -->
<!-- email="kevind@rahul.net" -->
<!-- subject="sane: Coolscan driver produces unsharp images" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane: Coolscan driver produces unsharp images</title>
<h1>sane: Coolscan driver produces unsharp images</h1>
<b>Kevin Dalley</b> (<a href="mailto:kevind@rahul.net"><i>kevind@rahul.net</i></a>)<br>
<i>28 Oct 1998 01:41:16 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#290">[ date ]</a><a href="index.html#290">[ thread ]</a><a href="subject.html#290">[ subject ]</a><a href="author.html#290">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0291.html">Kevin Dalley: "Re: Umax 1220s scans 'dark'."</a>
<li> <b>Previous message:</b> <a href="0289.html">Kevin Dalley: "sane: Coolscan driver produces error at the image border"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here is another description of a problem with the Coolscan backend<br>
from a Debian Linux user.<br>
<p>
<pre>
--
Kevin Dalley
<a href="mailto:kevind@rahul.net">kevind@rahul.net</a>
<p>
<p>
Package: sane
Version: 0.74
<p>
<p>
I tried sane versions 0.72 (from Hamm) and sane 0.74.
Compared with the W95 software shipped with the Nikon Coolscan
LS-20 the scans are significantly unsharp.
<p>
This may be caused by a broken autofocus routine.  A hint for
this is the terribly noise which the scanner produces before
doing the scan.
<p>
Kind regards
<p>
            Andreas.
<p>
-- System Information
Debian Release: slink
Kernel Version: Linux tower 2.0.33 #165 Mon Apr 27 09:40:53 /etc/localtime 1998 i586 unknown
<p>
Versions of the packages sane depends on:
ii  libc6           2.0.7u-3       The GNU C library version 2 (run-time files)
ii  libgimp1        1.0.2-1        Libraries necessary to run the GIMP
ii  libgtk1         1.0.6-2        The GIMP Toolkit set of widgets for X
hi  xlib6g          3.3.2.3a-1     shared libraries required by X clients
<p>
--- Begin /etc/sane.d/apple.conf (modified conffile)
/dev/scanner
<p>
--- End /etc/sane.d/apple.conf
<p>
--- Begin /etc/sane.d/coolscan.conf (modified conffile)
/dev/scanner
<p>
--- End /etc/sane.d/coolscan.conf
<p>
--- Begin /etc/sane.d/dll.conf (modified conffile)
coolscan
pnm
<p>
--- End /etc/sane.d/dll.conf
<p>
<p>
--  
To UNSUBSCRIBE, email to <a href="mailto:debian-bugs-dist-request@lists.debian.org">debian-bugs-dist-request@lists.debian.org</a>
with a subject of "unsubscribe". Trouble? Contact <a href="mailto:listmaster@lists.debian.org">listmaster@lists.debian.org</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0291.html">Kevin Dalley: "Re: Umax 1220s scans 'dark'."</a>
<li> <b>Previous message:</b> <a href="0289.html">Kevin Dalley: "sane: Coolscan driver produces error at the image border"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
