<!-- received="Sat Oct 31 13:33:19 1998 PST" -->
<!-- sent="Sat, 31 Oct 1998 22:32:09 +0100" -->
<!-- name="Johan Bengtsson" -->
<!-- email="johanb@lls.se" -->
<!-- subject="Re: Sane 0.75 beta + Mustek 600 II N" -->
<!-- id="199810312133.NAA08565@panda.mostang.com" -->
<!-- inreplyto="Sane 0.75 beta + Mustek 600 II N" -->
<title>sane-devel: Re: Sane 0.75 beta + Mustek 600 II N</title>
<h1>Re: Sane 0.75 beta + Mustek 600 II N</h1>
<b>Johan Bengtsson</b> (<a href="mailto:johanb@lls.se"><i>johanb@lls.se</i></a>)<br>
<i>Sat, 31 Oct 1998 22:32:09 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#311">[ date ]</a><a href="index.html#311">[ thread ]</a><a href="subject.html#311">[ subject ]</a><a href="author.html#311">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0312.html">Mike Mitten: "problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Previous message:</b> <a href="0310.html">Dr. Andreas Bolsch: "Re: Sane 0.75 beta + Mustek 600 II N"</a>
<li> <b>Maybe in reply to:</b> <a href="0309.html">Johan Bengtsson: "Sane 0.75 beta + Mustek 600 II N"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 31 Oct 98, at 18:53, Dr. Andreas Bolsch wrote:<br>
<p>
<i>&gt; Which old problem? </i><br>
<p>
Vertical lines all over the scanned picture--colors scans has AFAIK never <br>
worked well with this particular scanner.<br>
<p>
<p>
Did it already appear with 0.74?<br>
<i>&gt; There is no (well, hopefully) no change regarding</i><br>
<i>&gt; Mustek scannners except for ScanExpress 6000SP and</i><br>
<i>&gt; 12000SP.</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<p>
TENT OF MIRACLES -the unofficial homepage of the legendary band SPIRIT!<br>
-----&gt;&gt;&gt;   <a href="http://www.lls.se/~johanb/spirit/">http://www.lls.se/~johanb/spirit/</a>   &lt;&lt;&lt;-----<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0312.html">Mike Mitten: "problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Previous message:</b> <a href="0310.html">Dr. Andreas Bolsch: "Re: Sane 0.75 beta + Mustek 600 II N"</a>
<li> <b>Maybe in reply to:</b> <a href="0309.html">Johan Bengtsson: "Sane 0.75 beta + Mustek 600 II N"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
