<!-- received="Mon Jun  1 05:03:25 1998 PDT" -->
<!-- sent="Mon, 01 Jun 1998 14:03:54 +0200" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Yet more Non Disclosure Agreements." -->
<!-- id="357298AA.92A7B1C9@ic.ac.uk" -->
<!-- inreplyto="Yet more Non Disclosure Agreements." -->
<title>sane-devel: Re: Yet more Non Disclosure Agreements.</title>
<h1>Re: Yet more Non Disclosure Agreements.</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Mon, 01 Jun 1998 14:03:54 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#2">[ date ]</a><a href="index.html#2">[ thread ]</a><a href="subject.html#2">[ subject ]</a><a href="author.html#2">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Dr. Andreas Bolsch: "Re: [PATCH] Fix re: Mustek Scan Express 12000SP Problems"</a>
<li> <b>Previous message:</b> <a href="0001.html">Tom Kennedy: "sane 0.73 working linuxppc"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Regarding Mustek:<br>
Jan Krueger (and me, too, some days later) got some documentation<br>
from Mustek without any NDA. However, the docs are not very<br>
comprehensive, at some points slightly misleading, and differ in<br>
some respects from the actual implementation of the scanners.<br>
<p>
To conclude they seem to be cooperative to a certain<br>
extent if you insist strong enough.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Dr. Andreas Bolsch: "Re: [PATCH] Fix re: Mustek Scan Express 12000SP Problems"</a>
<li> <b>Previous message:</b> <a href="0001.html">Tom Kennedy: "sane 0.73 working linuxppc"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
