<!-- received="Mon Jun  1 05:18:44 1998 PDT" -->
<!-- sent="Mon, 01 Jun 1998 14:19:13 +0200" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Old Mustek MFS-6000CX and chunky scanning" -->
<!-- id="35729C41.418B5DC@ic.ac.uk" -->
<!-- inreplyto="Old Mustek MFS-6000CX and chunky scanning" -->
<title>sane-devel: Re: Old Mustek MFS-6000CX and chunky scanning</title>
<h1>Re: Old Mustek MFS-6000CX and chunky scanning</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Mon, 01 Jun 1998 14:19:13 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#4">[ date ]</a><a href="index.html#4">[ thread ]</a><a href="subject.html#4">[ subject ]</a><a href="author.html#4">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 6000P"</a>
<li> <b>Previous message:</b> <a href="0003.html">Dr. Andreas Bolsch: "Re: [PATCH] Fix re: Mustek Scan Express 12000SP Problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
No, this 4096 Bytes are not related to the actual request size.<br>
The scanned data is preprocessed within the backend (colors 'sorted')<br>
and piped to the frontend in 4096 Bytes blocks.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 6000P"</a>
<li> <b>Previous message:</b> <a href="0003.html">Dr. Andreas Bolsch: "Re: [PATCH] Fix re: Mustek Scan Express 12000SP Problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
