<!-- received="Sun Jun  7 19:32:33 1998 PDT" -->
<!-- sent="Thu, 04 Jun 1998 23:11:59 +0200" -->
<!-- name="Ingo Witzky" -->
<!-- email="ingo.witzky@kassel.netsurf.de" -->
<!-- subject="Problems with Scanning !!!" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Problems with Scanning !!!</title>
<h1>Problems with Scanning !!!</h1>
<b>Ingo Witzky</b> (<a href="mailto:ingo.witzky@kassel.netsurf.de"><i>ingo.witzky@kassel.netsurf.de</i></a>)<br>
<i>Thu, 04 Jun 1998 23:11:59 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">David Mosberger-Tang: "Re: Problems with CANCEL"</a>
<li> <b>Previous message:</b> <a href="0066.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with CANCEL"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello.<br>
<p>
I have a problem.<br>
I have the "Mustek 600 II CD " One-Pass-SCSI-scanner.<br>
His scsi-name is "SCANNER" his firmware is "2.03" !!!<br>
(SCSI-ID: "SCANNER  2.03") He is on device "/dev/sg0" !!!<br>
I use the Debian 1.3.1 Distribution of Linux !!!<br>
Sane was compiled without any failuremessages.<br>
My "xscanimage" runs rigt but don't scan like under Windows 95 the real<br>
Twain-program !!!<br>
<p>
Problem:<br>
My Preview scans the preview in 11 parts.<br>
Even in monochrome Mode ! Is there a possibility to<br>
make this Preview in one Part like under Windows ??<br>
He only scans Parts of less than one inch at the real scan, but i have<br>
put into the mustek.conf to scan a strip-hight of 5 inches !!!!<br>
He scans only 0.5 inch and then he goes back a little bit and scans the<br>
next 0.5 inch !!!<br>
Under Windows he scans the whole Page with only 5 parts !!!!<br>
<p>
I use the AM53C974 Driver with my Tekram DC390 !!!!<br>
My other SCSI-Devices are working right !!!!<br>
<p>
What can I do to solve this problem and what must I do to configure<br>
xscanimage so that he only<br>
uses the Mustek Scanner and don't show me the Device pnm:0 and pnm:1<br>
????<br>
<p>
With greetings Ingo Witzky !!<br>
<p>
P.S.: Excuse me for bad English !!!! I'm German !!!<br>
<p>
<pre>
--
<p>
 Ingo Witzky
<p>
 ingo.witzky@kassel.netsurf.de
<p>
 *** Linux, where do you want to go tomorrow ?? ***
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">David Mosberger-Tang: "Re: Problems with CANCEL"</a>
<li> <b>Previous message:</b> <a href="0066.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with CANCEL"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
