<!-- received="Mon Jun  8 10:40:45 1998 PDT" -->
<!-- sent="Mon, 08 Jun 1998 19:38:11 +0200" -->
<!-- name="Dominik Strasser" -->
<!-- email="bm424953@muenchen.org" -->
<!-- subject="Re: xscanimgae in 0.73" -->
<!-- id="" -->
<!-- inreplyto="xscanimgae in 0.73" -->
<title>sane-devel: Re: xscanimgae in 0.73</title>
<h1>Re: xscanimgae in 0.73</h1>
<b>Dominik Strasser</b> (<a href="mailto:bm424953@muenchen.org"><i>bm424953@muenchen.org</i></a>)<br>
<i>Mon, 08 Jun 1998 19:38:11 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#75">[ date ]</a><a href="index.html#75">[ thread ]</a><a href="subject.html#75">[ subject ]</a><a href="author.html#75">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Michael Polo: "Re: Casio QV-300 [some digital camera links]"</a>
<li> <b>Previous message:</b> <a href="0074.html">erikyyy@studbox.uni-stuttgart.de: "Casio QV-300"</a>
<li> <b>Maybe in reply to:</b> <a href="0054.html">Dominik Strasser: "xscanimgae in 0.73"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0095.html">Dominik Strasser: "Re: xscanimgae in 0.73"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hugo van der Kooij wrote:<br>
<i>&gt; </i><br>
<i>&gt; On Sun, 7 Jun 1998, Dominik Strasser wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; When using xscanimage in SANE 0.73 I get an X IO error when it tries to</i><br>
<i>&gt; &gt; update the progress bar. My system is a Linux 2.1.103 box with Xfree86</i><br>
<i>&gt; &gt; 3.3.2 and a Mustek Paragon 1200SP Scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; What version of GTK?</i><br>
Gtk 1.0.3<br>
<p>
Dominik<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Michael Polo: "Re: Casio QV-300 [some digital camera links]"</a>
<li> <b>Previous message:</b> <a href="0074.html">erikyyy@studbox.uni-stuttgart.de: "Casio QV-300"</a>
<li> <b>Maybe in reply to:</b> <a href="0054.html">Dominik Strasser: "xscanimgae in 0.73"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0095.html">Dominik Strasser: "Re: xscanimgae in 0.73"</a>
<!-- reply="end" -->
</ul>
