<!-- received="Tue Jun  9 20:34:01 1998 PDT" -->
<!-- sent="Tue, 9 Jun 1998 20:33:56 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Eeck.. network protocol" -->
<!-- id="199806100333.UAA02394@panda.mostang.com" -->
<!-- inreplyto="01b601bd93e3$5e4ff6c0$499672cf@ester.sunshinecomputing.com" -->
<title>sane-devel: Re: Eeck.. network protocol</title>
<h1>Re: Eeck.. network protocol</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 9 Jun 1998 20:33:56 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#83">[ date ]</a><a href="index.html#83">[ thread ]</a><a href="subject.html#83">[ subject ]</a><a href="author.html#83">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Brian Macy: "Re: Eeck.. network protocol"</a>
<li> <b>Previous message:</b> <a href="0082.html">Brian Macy: "Re: Eeck.. network protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 9 Jun 1998 13:15:37 -0700, "Brian Macy" &lt;<a href="mailto:bmacy@sunshinecomputing.com">bmacy@sunshinecomputing.com</a>&gt; said:</i><br>
<p>
  Brian&gt; The stability of the protocol is complete irrelevant. The<br>
  Brian&gt; race conditions are timing issues.<br>
<p>
Can you be more specific?  If you could give the (or one) exact<br>
sequence of events that would cause trouble, it'll be much easier to<br>
make this discussion useful.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Brian Macy: "Re: Eeck.. network protocol"</a>
<li> <b>Previous message:</b> <a href="0082.html">Brian Macy: "Re: Eeck.. network protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
