<!-- received="Thu Jun 11 04:00:52 1998 PDT" -->
<!-- sent="Thu, 11 Jun 1998 06:58:51 +0000" -->
<!-- name="Adam Williams" -->
<!-- email="awilliam@whitemice.org" -->
<!-- subject="Digital-Camera-HOWTO (Call For Info)" -->
<!-- id="9806110658.ZM20991@estate1.whitemice.org" -->
<!-- inreplyto="" -->
<title>sane-devel: Digital-Camera-HOWTO (Call For Info)</title>
<h1>Digital-Camera-HOWTO (Call For Info)</h1>
<b>Adam Williams</b> (<a href="mailto:awilliam@whitemice.org"><i>awilliam@whitemice.org</i></a>)<br>
<i>Thu, 11 Jun 1998 06:58:51 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#86">[ date ]</a><a href="index.html#86">[ thread ]</a><a href="subject.html#86">[ subject ]</a><a href="author.html#86">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Mr Ada: "Re: os/2 and Parallel scanners"</a>
<li> <b>Previous message:</b> <a href="0085.html">jnealy@icubed.net: "os/2 and Parallel scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am going to buy a Digital Camera and decided I am going to write a<br>
Digital-Camera-HOWTO,  so my information gathering won;t be entirely selfish.<br>
 So if you have/use a Digital Camera with Linux please send me a note so I can<br>
compile what works/doesn't,  what apps you use to communicate with the darn<br>
thing, etc....<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Mr Ada: "Re: os/2 and Parallel scanners"</a>
<li> <b>Previous message:</b> <a href="0085.html">jnealy@icubed.net: "os/2 and Parallel scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
