<!-- received="Thu Jun 11 14:22:56 1998 PDT" -->
<!-- sent="Thu, 11 Jun 1998 17:16:24 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: os/2 and Parallel scanners" -->
<!-- id="m0yk95V-0000YxC@charon.beck-sw.de" -->
<!-- inreplyto="357FEF4E.C187DB8B@catalina-inter.net" -->
<title>sane-devel: Re: os/2 and Parallel scanners</title>
<h1>Re: os/2 and Parallel scanners</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Thu, 11 Jun 1998 17:16:24 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#93">[ date ]</a><a href="index.html#93">[ thread ]</a><a href="subject.html#93">[ subject ]</a><a href="author.html#93">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">Wolfgang Jung: "Re: Casio Digital Cameras (all types)"</a>
<li> <b>Previous message:</b> <a href="0092.html">Michael Polo: "simple change..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; For my device, the manufactorer doesn't want to give anything out.  Well at</i><br>
<i>&gt; leastto me.  Others they have given information out.  It is these other</i><br>
<i>&gt; recipients I am complaining about since they either never respond or rarely </i><br>
<i>&gt; respond.</i><br>
<p>
So you got to reverse engineer the protocol ...<br>
<p>
<i>&gt; &gt; What you need to do is get the programming specs from your manufacturer and</i><br>
<i>&gt; &gt; start coding (or find someone who is willing to do it).</i><br>
<i>&gt; </i><br>
<i>&gt; I don't have a problem with coding it myself.  I just need the info.</i><br>
<p>
You will have to run the scanner with the software that came with it and<br>
apply a parallel port sniffer.<br>
<p>
If you are lucky, the driver might run under WINE which support port sniffing.<br>
<p>
Otherwise you will have to find an appropriate program for the OS it runs with<br>
or apply a hardware sniffer.<br>
<p>
<i>&gt; Another problem would be that it wouldn't be written in C to benefit the</i><br>
<i>&gt; SANE crowd.</i><br>
<p>
As long as you write it under an open license, converting to C should be the<br>
smallest problem ...<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">Wolfgang Jung: "Re: Casio Digital Cameras (all types)"</a>
<li> <b>Previous message:</b> <a href="0092.html">Michael Polo: "simple change..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
