<!-- received="Sun Jun 14 14:48:23 1998 PDT" -->
<!-- sent="Mon, 15 Jun 1998 00:49:41 +0200" -->
<!-- name="Nicolas Lucas de Peslouan" -->
<!-- email="nicolas@intercab.fr" -->
<!-- subject="Re: need testers for UMAX-patch" -->
<!-- id="" -->
<!-- inreplyto="need testers for UMAX-patch" -->
<title>sane-devel: Re: need testers for UMAX-patch</title>
<h1>Re: need testers for UMAX-patch</h1>
<b>Nicolas Lucas de Peslouan</b> (<a href="mailto:nicolas@intercab.fr"><i>nicolas@intercab.fr</i></a>)<br>
<i>Mon, 15 Jun 1998 00:49:41 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#104">[ date ]</a><a href="index.html#104">[ thread ]</a><a href="subject.html#104">[ subject ]</a><a href="author.html#104">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Bernd Schroeder: "Re: Problems with Microtek ScanMaker 630"</a>
<li> <b>Previous message:</b> <a href="0103.html">Hugo van der Kooij: "Re: os/2 and Parallel scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Oliver.Rauch@Wolfsburg.DE: "need testers for UMAX-patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Oliver, Hi others,<br>
<p>
I'm back after 3 or 4 months of full-time work, and hope I will again<br>
have some time to go and play with my Astra 610S scanner :-)<br>
<p>
I've installed sane 0.73 and the current patch 0.73f, and things seems<br>
to work for me.<br>
<p>
Appart from some margin trouble (but I know I need to drop the scanner<br>
throught the window to fix this :-), anythings I tested work fine.<br>
<p>
No, that's not true. I also checked the gamma correction, and if I<br>
provide scanimage with a --gamma-table, I get very strange results.<br>
Apparently, the gamma correction get applied only to some of the<br>
channels. (If I set a gamma of 0, 0, 0, 0, 0, ...,0, 1,2,3,4,5, ...10, I<br>
get a mostly dark image, but with some plain color areas). I will try<br>
and have some more tests with this in order to explain it better.<br>
<p>
I will also send you (Oliver) an SANE_DEBUG_UMAX=128 output, 'coz I saw<br>
some strange things.<br>
<p>
	Nicolas.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Bernd Schroeder: "Re: Problems with Microtek ScanMaker 630"</a>
<li> <b>Previous message:</b> <a href="0103.html">Hugo van der Kooij: "Re: os/2 and Parallel scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Oliver.Rauch@Wolfsburg.DE: "need testers for UMAX-patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
