<!-- received="Fri Jun 19 08:21:13 1998 PDT" -->
<!-- sent="Fri, 19 Jun 1998 10:05:00 +0200" -->
<!-- name="mirekp" -->
<!-- email="mirekp@tytan.umcs.lublin.pl" -->
<!-- subject="Mustek ScanMagic 9636 P" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek ScanMagic 9636 P</title>
<h1>Mustek ScanMagic 9636 P</h1>
<b>mirekp</b> (<a href="mailto:mirekp@tytan.umcs.lublin.pl"><i>mirekp@tytan.umcs.lublin.pl</i></a>)<br>
<i>Fri, 19 Jun 1998 10:05:00 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#161">[ date ]</a><a href="index.html#161">[ thread ]</a><a href="subject.html#161">[ subject ]</a><a href="author.html#161">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">Simon Burr: "Update to supported platforms list"</a>
<li> <b>Previous message:</b> <a href="0160.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0166.html">Dr. Andreas Bolsch: "Re: Mustek ScanMagic 9636 P"</a>
<li> <b>Reply:</b> <a href="0166.html">Dr. Andreas Bolsch: "Re: Mustek ScanMagic 9636 P"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi<br>
I'm "Mustek ScanMagic 9636 P " flatbet scaner owner and Linux user so<br>
I'd like to use this scaner<br>
under Linux but I can't because it is not work.<br>
find-scaner -v  /dev/lp0 can't  find it<br>
This is  parallel scaner not SCSI. What should I do to work properly ?<br>
<p>
<p>
MirekP<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">Simon Burr: "Update to supported platforms list"</a>
<li> <b>Previous message:</b> <a href="0160.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0166.html">Dr. Andreas Bolsch: "Re: Mustek ScanMagic 9636 P"</a>
<li> <b>Reply:</b> <a href="0166.html">Dr. Andreas Bolsch: "Re: Mustek ScanMagic 9636 P"</a>
<!-- reply="end" -->
</ul>
