<!-- received="Tue Jun 23 10:53:08 1998 PDT" -->
<!-- sent="Tue, 23 Jun 1998 19:48:58 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Backend overview page" -->
<!-- id="" -->
<!-- inreplyto="m0yoVQS-000J3mC@yoo-hoo.ai.mit.edu" -->
<title>sane-devel: Re: Backend overview page</title>
<h1>Re: Backend overview page</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Tue, 23 Jun 1998 19:48:58 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#192">[ date ]</a><a href="index.html#192">[ thread ]</a><a href="subject.html#192">[ subject ]</a><a href="author.html#192">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Matto Marjanovic: "Re: Backend overview page"</a>
<li> <b>Previous message:</b> <a href="0191.html">Matto Marjanovic: "Re: Backend overview page"</a>
<li> <b>In reply to:</b> <a href="0191.html">Matto Marjanovic: "Re: Backend overview page"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0193.html">Matto Marjanovic: "Re: Backend overview page"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 23 Jun 1998, Matto Marjanovic wrote:<br>
<p>
<i>&gt;    Date: Tue, 23 Jun 1998 17:42:17 +0200 (CEST)</i><br>
<i>&gt;    From: Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt;</i><br>
<i>&gt; </i><br>
<i>&gt;    Can the authors of the various backends give a brief note on all scanners</i><br>
<i>&gt;    they know that work with their backends? I will then make a page out of it</i><br>
<i>&gt;    and add some remarks picked from messages from this list to get a full</i><br>
<i>&gt;    overvieuw page for the supported scanners.</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; Before you do that....</i><br>
<i>&gt; </i><br>
<i>&gt; Last week, I finished hacking up some scripts that would automatically </i><br>
<i>&gt;  generate such HTML from a standard "*.spec" file that each author</i><br>
<i>&gt;  would supply with his backend.</i><br>
<p>
Spec files? As in RPM spec files?<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Matto Marjanovic: "Re: Backend overview page"</a>
<li> <b>Previous message:</b> <a href="0191.html">Matto Marjanovic: "Re: Backend overview page"</a>
<li> <b>In reply to:</b> <a href="0191.html">Matto Marjanovic: "Re: Backend overview page"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0193.html">Matto Marjanovic: "Re: Backend overview page"</a>
<!-- reply="end" -->
</ul>
