<!-- received="Tue Jun 23 17:35:59 1998 PDT" -->
<!-- sent="Tue, 23 Jun 1998 17:37:43 -0700" -->
<!-- name="Dale M. Flaven" -->
<!-- email="dflaven@netport.com" -->
<!-- subject="Backend PINT Compile Errors" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Backend PINT Compile Errors</title>
<h1>Backend PINT Compile Errors</h1>
<b>Dale M. Flaven</b> (<a href="mailto:dflaven@netport.com"><i>dflaven@netport.com</i></a>)<br>
<i>Tue, 23 Jun 1998 17:37:43 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#198">[ date ]</a><a href="index.html#198">[ thread ]</a><a href="subject.html#198">[ subject ]</a><a href="author.html#198">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Antal Novak: "General backend information"</a>
<li> <b>Previous message:</b> <a href="0197.html">Gunnar Weikamp: "Mustek 12000SP: error during read: out of memory"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have a Logitech Scanman Color Hand-Held scanner and I have retrieved<br>
the LOGISCAN driver. I have included PINT support when I compiled it.<br>
I have tested it and it works. Now I am trying to get SANE compiled<br>
to use SANE with the scanner. The following is what occurs when I<br>
do a 'make':<br>
<p>
making all in backend<br>
make[1]: Entering directory `/exta/sane-0.73/backend'<br>
gcc -c -g -O2 -Wall -DHAVE_CONFIG_H -I. -I. -I../include<br>
 -I../include -D_GNU_SOURCE -DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d<br>
 -DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=0 -DV_MINOR=73<br>
 -DBACKEND_NAME=pint -DLIBDIR=/usr/local/lib/sane -fPIC -DPIC pint.c<br>
pint.c:<br>
In function `attach': <br>
pint.c:125: `SCIOCGET' undeclared (first use this function)<br>
pint.c:125: (Each undeclared identifier is reported only once<br>
pint.c:125: for each function it appears in.)<br>
pint.c:159: structure has no member named `scan_width'<br>
pint.c:160: structure has no member named `scan_width'<br>
pint.c:162: `SCIOCSET' undeclared (first use this function)<br>
pint.c:165: structure has no member named `scan_width'<br>
pint.c:167: structure has no member named `scan_width'<br>
pint.c:175: structure has no member named `scan_height'<br>
pint.c:176: structure has no member named `scan_height'<br>
pint.c:179: structure has no member named `scan_height'<br>
pint.c:181: structure has no member named `scan_height'<br>
pint.c:247: `EPSON_ES300C' undeclared (first use this function)<br>
pint.c:251: warning: unreachable code at beginning of switch statement<br>
pint.c:263: `MUSTEK_06000CX' undeclared (first use this function)<br>
pint.c:264: `MUSTEK_12000CX' undeclared (first use this function)<br>
pint.c:294: warning: unreachable code at beginning of switch statement<br>
pint.c: In function `init_options':<br>
pint.c:464: structure has no member named `scan_width'<br>
pint.c:466: structure has no member named `scan_height'<br>
pint.c:377: warning: `x1' might be used uninitialized in this function<br>
pint.c:377: warning: `y1' might be used uninitialized in this function<br>
pint.c: In function `do_cancel':<br>
pint.c:547: `SCIOCRESTART' undeclared (first use this function)<br>
pint.c: In function `sane_pint_get_parameters':<br>
pint.c:830: `SCIOCGET' undeclared (first use this function)<br>
pint.c:855: structure has no member named `scan_width'<br>
pint.c:856: structure has no member named `scan_height'<br>
pint.c:901: `SCIOCSET' undeclared (first use this function)<br>
pint.c:913: structure has no member named `scan_pixels_per_line'<br>
pint.c:915: structure has no member named `scan_bits_per_pixel'<br>
pint.c:915: structure has no member named `scan_pixels_per_line'<br>
pint.c:916: structure has no member named `scan_lines'<br>
pint.c:918: structure has no member named `scan_bits_per_pixel'<br>
pint.c:918: structure has no member named `scan_bits_per_pixel'<br>
make[1]: *** [pint.lo] Error 1<br>
make[1]: Leaving directory `/exta/sane-0.73/backend'<br>
make: *** [all-recursive] Error 1<br>
<p>
Could anyone tell me what is wrong here? One thing appears to me is that<br>
the scanio.h the following struct is defined:<br>
<p>
struct scan_io {<br>
  ulong   scan_window_width;    /* width in 1/1200ths of an inch */<br>
  ulong   scan_window_length;   /* length in 1/1200ths of an inch */<br>
  ushort  scan_x_resolution;    /* horizontal resolution in<br>
dots-per-inch */<br>
  ushort  scan_y_resolution;    /* vertical resolution in dots-per-inch<br>
*/<br>
  ulong   scan_x_origin;        /* horizontal coordinate of upper left<br>
corner */<br>
  ulong   scan_y_origin;        /* vertical coordinate of upper left<br>
corner */<br>
  unsigned char   scan_image_mode;      /* type of image data sent by<br>
scanner */<br>
  unsigned char   scan_brightness;      /* brightness control for those<br>
to can do it */<br>
  unsigned char   scan_contrast;        /* contrast control for those to<br>
can do it */<br>
  unsigned char   scan_scanner_type;    /* type of scanner (read only<br>
variable) */<br>
  unsigned char   scan_use_adf;         /* whether to use Automatic<br>
Document Feeder */<br>
};<br>
<p>
One of the above errors points to the following code: scanio.scan_width<br>
which does not seem to be defined in scanio.h or anywhere else.<br>
<p>
How do I resolve this!!?<br>
<p>
<pre>
-- 
Dale M. Flaven
<p>
"I am an open receptacle, very slightly filled, anxiously wanting
further
filling of knowledge and information and I will NEVER be full."
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Antal Novak: "General backend information"</a>
<li> <b>Previous message:</b> <a href="0197.html">Gunnar Weikamp: "Mustek 12000SP: error during read: out of memory"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
