<!-- received="Sun Jan  3 23:56:32 1999 PST" -->
<!-- sent="Thu, 31 Dec 1998 12:38:48 -0200" -->
<!-- name="Felipe" -->
<!-- email="fafep@internetcom.com.br" -->
<!-- subject="Is Genius ColorPage Vivid Pro II suported?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Is Genius ColorPage Vivid Pro II suported?</title>
<h1>Is Genius ColorPage Vivid Pro II suported?</h1>
<b>Felipe</b> (<a href="mailto:fafep@internetcom.com.br"><i>fafep@internetcom.com.br</i></a>)<br>
<i>Thu, 31 Dec 1998 12:38:48 -0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#41">[ date ]</a><a href="index.html#41">[ thread ]</a><a href="subject.html#41">[ subject ]</a><a href="author.html#41">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">mu6sys: "25pin SCSI"</a>
<li> <b>Previous message:</b> <a href="0040.html">Ellamenno Pee: "Adara Imagestar I"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I would like to know if my Genius Vivid Pro is supported by your<br>
software.<br>
It has parallel interface.<br>
Thanks for your attention.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">mu6sys: "25pin SCSI"</a>
<li> <b>Previous message:</b> <a href="0040.html">Ellamenno Pee: "Adara Imagestar I"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
