<!-- received="Mon Jan  4 10:11:39 1999 PST" -->
<!-- sent="Mon, 04 Jan 1999 19:09:23 +0100" -->
<!-- name="Martin Spott" -->
<!-- email="Martin.Spott@uni-duisburg.de" -->
<!-- subject="AGFA StudioScan IIsi" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: AGFA StudioScan IIsi</title>
<h1>AGFA StudioScan IIsi</h1>
<b>Martin Spott</b> (<a href="mailto:Martin.Spott@uni-duisburg.de"><i>Martin.Spott@uni-duisburg.de</i></a>)<br>
<i>Mon, 04 Jan 1999 19:09:23 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#50">[ date ]</a><a href="index.html#50">[ thread ]</a><a href="subject.html#50">[ subject ]</a><a href="author.html#50">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0051.html">Nick Lamb: "Re: TWAIN - SANE interface : announce"</a>
<li> <b>Previous message:</b> <a href="0049.html">Andre Couture: "Re: TWAIN - SANE interface : announce"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The microtek backend _is_ quit functional with the StudioScan IIsi -<br>
at least with Matt's "Patch 1 for Version 0.10".<br>
I'm using it myself with sane-1.0 on Solaris2.5.1/Sparc.<br>
You might change this in the list of supported scanners<br>
<p>
Martin.<br>
<pre>
-- 
 Unix _IS_ user friendly - it's just selective about who its friends are
!
--------------------------------------------------------------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0051.html">Nick Lamb: "Re: TWAIN - SANE interface : announce"</a>
<li> <b>Previous message:</b> <a href="0049.html">Andre Couture: "Re: TWAIN - SANE interface : announce"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
