<!-- received="Tue Jan  5 21:03:06 1999 PST" -->
<!-- sent="Tue, 05 Jan 1999 12:27:35 -0500" -->
<!-- name="Clifton Wood" -->
<!-- email="cbwood@vt.edu" -->
<!-- subject="SANE Support of Parallel Port Scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE Support of Parallel Port Scanners</title>
<h1>SANE Support of Parallel Port Scanners</h1>
<b>Clifton Wood</b> (<a href="mailto:cbwood@vt.edu"><i>cbwood@vt.edu</i></a>)<br>
<i>Tue, 05 Jan 1999 12:27:35 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#85">[ date ]</a><a href="index.html#85">[ thread ]</a><a href="subject.html#85">[ subject ]</a><a href="author.html#85">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Jamie Zawinski: "xscanimage won't launch"</a>
<li> <b>Previous message:</b> <a href="0084.html">lduperval@sprint.ca: "My compilation problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've only seen information regarding Plustek parallel support working in<br>
SANE, is this true or are there others?<br>
<p>
I've recently run an "Ask Slashdot" article on parallel port scanners.<br>
The submittor was curious as to WHICH parallel port scanners are<br>
supported under Linux (and hence SANE). I've looked at your supported<br>
devices chart, and while very helpful, I noticed that the type of<br>
interface each device used was not listed. Now this is a forgivable<br>
oversight, but I think this information should<br>
be included now due to the popularity of cheap (parallel port) scanners.<br>
<p>
Just a helpful suggestion, and I hope it staves off more e-mails like<br>
this one. If you wish, I'd be happy to compile the data and redo the<br>
chart if someone can give me the information (or locations where I can<br>
find the information) necessary to compile it.<br>
<p>
Happy New Year!<br>
<p>
- Cliff<br>
<pre>
-- 
============================================================
Clifton B. Wood
Programmer/Analyst for the Entomology Dept. of Va. Tech.
------------------ Thought of the Decade -------------------
windows98 = n. 64 patches to 32 bit extensions and a graphical
shell for a 16 bit patch to an 8 bit operating system originally
coded for a 4 bit microprocessor, written by a 2 bit company
that can't stand 1 bit of competition.
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Jamie Zawinski: "xscanimage won't launch"</a>
<li> <b>Previous message:</b> <a href="0084.html">lduperval@sprint.ca: "My compilation problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
