<!-- received="Wed Jan  6 12:12:38 1999 PST" -->
<!-- sent="Wed, 6 Jan 1999 20:11:16 +0000 (   )" -->
<!-- name="cummings@stingray.net" -->
<!-- email="cummings@stingray.net" -->
<!-- subject="re: scsi lockup under RedHat 5.2" -->
<!-- id="199901062011.OAA00976@stingray.net" -->
<!-- inreplyto="scsi lockup under RedHat 5.2" -->
<title>sane-devel: re: scsi lockup under RedHat 5.2</title>
<h1>re: scsi lockup under RedHat 5.2</h1>
<a href="mailto:cummings@stingray.net"><i>cummings@stingray.net</i></a><br>
<i>Wed, 6 Jan 1999 20:11:16 +0000 (   )</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#98">[ date ]</a><a href="index.html#98">[ thread ]</a><a href="subject.html#98">[ subject ]</a><a href="author.html#98">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Morris R. Bannerman: "RPMS package for Sane 1.00"</a>
<li> <b>Previous message:</b> <a href="0097.html">Ted Llewellyn: "supported scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0096.html">cummings@stingray.net: "scsi lockup under RedHat 5.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
&lt;cummings@net&gt; wrote:<br>
<i>&gt; I have a problem with my Mustek TwainScan II SP causing a lockup of my</i><br>
<i>&gt; entire scsi system.  I'm using an advansys 930 card and glibc 2.0.108</i><br>
<i>&gt; under RedHat 5.2.</i><br>
<p>
To expand on this, I'm using a 2.1.131 kernel that I had from the<br>
slackware install, and my scanner per the bios id is a MFC 06000CZ with<br>
a rev 1.02 bios.<br>
<p>
Following this paragraph is the exact error message I received.  I'm<br>
also using XFree86 3.3.3, though I did origionally use 3.3.2 with the<br>
same results, hence the upgrade.  I managed to get this error message by<br>
asking for a preview instead of a scan.<br>
<p>
Xlib: unexpected async reply (sequence 0xa85)!<br>
<p>
** ERROR **: an x io error occurred<br>
Aborted (core dumped)<br>
<p>
<p>
<pre>
--
Legal Warning: Do NOT send unsolicited commercial email to me - consider this
an official notice.
<p>
cummings@TRY-IT&amp;PAYmcmsys.com - <a href="http://www.mcmsys.com/~cummings">http://www.mcmsys.com/~cummings</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Morris R. Bannerman: "RPMS package for Sane 1.00"</a>
<li> <b>Previous message:</b> <a href="0097.html">Ted Llewellyn: "supported scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0096.html">cummings@stingray.net: "scsi lockup under RedHat 5.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
