<!-- received="Wed Jan  6 16:47:49 1999 PST" -->
<!-- sent="Thu, 7 Jan 1999 00:04:29 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: TWAIN - SANE interface : announce" -->
<!-- id="m0zy205-000CJBC@hades.beck-sw.de" -->
<!-- inreplyto="Pine.LNX.3.96.990104152925.27263A-100000@pixie.localdomain" -->
<title>sane-devel: Re: TWAIN - SANE interface : announce</title>
<h1>Re: TWAIN - SANE interface : announce</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Thu, 7 Jan 1999 00:04:29 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#101">[ date ]</a><a href="index.html#101">[ thread ]</a><a href="subject.html#101">[ subject ]</a><a href="author.html#101">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">Raymond A. Ingles: "Re: Memorex / Laptop parallel ports"</a>
<li> <b>Previous message:</b> <a href="0100.html">Hugo van der Kooij: "Re: RPMS package for Sane 1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; A simple but functional interface (WinSANE) is available for download. </i><br>
<p>
GREAT ! GREAT ! GREAT ! I am really glad someone finally did that.<br>
<p>
I haven't yet tested the "real" TWAIN functionality (only very minimal<br>
Win installation ...), but scanimage is quite nice already.<br>
<p>
<i>&gt; 	Once this works, add your Windows PC address to /etc/hosts and add</i><br>
<i>&gt; the Windows hostname to saned.conf.</i><br>
<p>
Hmm - I had a working DNS config here, so I skipped those. Dunno if it would<br>
have helped, but:<br>
<p>
I have tcpdumped the communications, and found, that if you give an IP to<br>
-d like -d 192.168.171.1:pnm:1, the Win host tries to look it up via DNS<br>
first, which in my case (no permanent connection) causes DNS timeouts,<br>
as my DNS server is asked for the _address_ of host _named_ 192.168.171.1.,<br>
(and then those of the domainname search path) which causes it to ask<br>
its master servers, which are not available and time out.<br>
<p>
This doesn't happen, if I just use -dhades:pnm:1 of course, as the server<br>
can resolve the name hades.<br>
<p>
Maybe one could check, if we already got an address ? Or at least document<br>
that ...<br>
<p>
I'll test it with some Twain app ASAP.<br>
<p>
CU, Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">Raymond A. Ingles: "Re: Memorex / Laptop parallel ports"</a>
<li> <b>Previous message:</b> <a href="0100.html">Hugo van der Kooij: "Re: RPMS package for Sane 1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
