<!-- received="Thu Jan  7 01:12:29 1999 PST" -->
<!-- sent="Wed, 6 Jan 1999 10:40:56 -0500 (EST)" -->
<!-- name="Raymond A. Ingles" -->
<!-- email="inglesra@frc.com" -->
<!-- subject="Re: Memorex / Laptop parallel ports" -->
<!-- id="" -->
<!-- inreplyto="199901042019.MAA20764@gyw.com" -->
<title>sane-devel: Re: Memorex / Laptop parallel ports</title>
<h1>Re: Memorex / Laptop parallel ports</h1>
<b>Raymond A. Ingles</b> (<a href="mailto:inglesra@frc.com"><i>inglesra@frc.com</i></a>)<br>
<i>Wed, 6 Jan 1999 10:40:56 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#102">[ date ]</a><a href="index.html#102">[ thread ]</a><a href="subject.html#102">[ subject ]</a><a href="author.html#102">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Andreas Czechanowski: "Re: A word about the supported scanner list."</a>
<li> <b>Previous message:</b> <a href="0101.html">becka@rz.uni-duesseldorf.de: "Re: TWAIN - SANE interface : announce"</a>
<li> <b>In reply to:</b> <a href="0089.html">tjk@tksoft.com: "Memorex / Laptop parallel ports"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 4 Jan 1999, <a href="mailto:tjk@tksoft.com">tjk@tksoft.com</a> wrote:<br>
<p>
<i>&gt; Dear list members,</i><br>
<i>&gt; I am begging for your indulgence with a few questions.</i><br>
<i>&gt; </i><br>
<i>&gt; Question A: Does anyone have a Memorex scanner?</i><br>
<p>
<i>&gt; I am not confident with the cabling either, as</i><br>
<i>&gt; I am using a Toshiba laptop which only has</i><br>
<i>&gt; one parallel port for a printer, with a female</i><br>
<i>&gt; connector. I have the two connected to each other with</i><br>
<i>&gt; an RS-232C serial cable.</i><br>
<p>
 I doubt this would work... if you can find a "LAPLINK" cable (an old<br>
DOS networking system) it may work, that was used to join parallel ports<br>
together.<br>
<p>
 Sincerely,<br>
<p>
 Ray Ingles       (248) 377-7735       <a href="mailto:ray.ingles@fanucrobotics.com">ray.ingles@fanucrobotics.com</a><br>
<p>
 "An apple every eight hours keeps three doctors away." - B. Kliban<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Andreas Czechanowski: "Re: A word about the supported scanner list."</a>
<li> <b>Previous message:</b> <a href="0101.html">becka@rz.uni-duesseldorf.de: "Re: TWAIN - SANE interface : announce"</a>
<li> <b>In reply to:</b> <a href="0089.html">tjk@tksoft.com: "Memorex / Laptop parallel ports"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
