<!-- received="Thu Jan  7 01:57:50 1999 PST" -->
<!-- sent="Thu, 7 Jan 1999 10:56:34 +0100 (MET)" -->
<!-- name="Andreas Czechanowski" -->
<!-- email="m075@ins.uni-stuttgart.de" -->
<!-- subject="Re: A word about the supported scanner list." -->
<!-- id="" -->
<!-- inreplyto="3691D3E0.CD76BA4F@intercab.fr" -->
<title>sane-devel: Re: A word about the supported scanner list.</title>
<h1>Re: A word about the supported scanner list.</h1>
<b>Andreas Czechanowski</b> (<a href="mailto:m075@ins.uni-stuttgart.de"><i>m075@ins.uni-stuttgart.de</i></a>)<br>
<i>Thu, 7 Jan 1999 10:56:34 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#103">[ date ]</a><a href="index.html#103">[ thread ]</a><a href="subject.html#103">[ subject ]</a><a href="author.html#103">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Eric Norman: "Info Peripherals (Avision Inc.) Scanner Support"</a>
<li> <b>Previous message:</b> <a href="0102.html">Raymond A. Ingles: "Re: Memorex / Laptop parallel ports"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Nicolas,<br>
<p>
On Tue, 5 Jan 1999, Nicolas de Peslouan wrote:<br>
<p>
<i>&gt; I think that adding a "Type" column in the supported scanner list</i><br>
<i>&gt; (<a href="http://www.mostang.com/sane/sane-backends.html">http://www.mostang.com/sane/sane-backends.html</a>) would help new Sane</i><br>
<i>&gt; users understand if their new scanners (you know, the one they get from</i><br>
<i>&gt; Santa Klaus), have a chance to work with Sane. Possible values for Type</i><br>
<i>&gt; should be "Parallel", "SCSI", "USB", "IO card", ...</i><br>
<p>
Good idea. I propose to also include a "rating of supportedness",<br>
which should mean how cooperative the manufacturer is/was in order to<br>
provide documentation for the scanner (e.g. "0" means no docs at all or<br>
answers like "I do not understand your question - what's a scanner ?",<br>
"9" means excellent written documentation or even helping when asking<br>
back for specific concerns (am I dreaming ?))<br>
<p>
The information herefore should be gathered from the backend developers<br>
for the specific scanners. (for my own experience, I can vote a "1"<br>
for this single model Mustek backend (600 II N) I did)<br>
<p>
Regards,<br>
<p>
Andreas.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Eric Norman: "Info Peripherals (Avision Inc.) Scanner Support"</a>
<li> <b>Previous message:</b> <a href="0102.html">Raymond A. Ingles: "Re: Memorex / Laptop parallel ports"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
