<!-- received="Thu Jan 21 02:32:26 1999 PST" -->
<!-- sent="Thu, 21 Jan 1999 10:39:47 +0100" -->
<!-- name="Lars Schylberg" -->
<!-- email="lars.schylberg@enator.se" -->
<!-- subject="Driver for Polaroid Sprintscan 35" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Driver for Polaroid Sprintscan 35</title>
<h1>Driver for Polaroid Sprintscan 35</h1>
<b>Lars Schylberg</b> (<a href="mailto:lars.schylberg@enator.se"><i>lars.schylberg@enator.se</i></a>)<br>
<i>Thu, 21 Jan 1999 10:39:47 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#183">[ date ]</a><a href="index.html#183">[ thread ]</a><a href="subject.html#183">[ subject ]</a><a href="author.html#183">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">Petter Reinholdtsen: "Anonymous CVS up and running"</a>
<li> <b>Previous message:</b> <a href="0182.html">Manuel Panea: "Small bug in frontend/preview.c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I wonder if there is a driver for the Polaroid Sprintscan 35 scanner.<br>
I'm planning to get Linux and Gimp and I already own a Sprintscan 35<br>
scanner.<br>
<p>
I couldn't find it under the section about supported scanners.<br>
<p>
Thanks in advance<br>
<p>
Lars Schylberg<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">Petter Reinholdtsen: "Anonymous CVS up and running"</a>
<li> <b>Previous message:</b> <a href="0182.html">Manuel Panea: "Small bug in frontend/preview.c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
