<!-- received="Mon Jan 25 11:44:20 1999 PST" -->
<!-- sent="Mon, 25 Jan 1999 20:33:30 +0100" -->
<!-- name="Joachim Kunze" -->
<!-- email="joachim.kunze@metronet.de" -->
<!-- subject="Linux 2.0 with Mustek ScanExpress 12000 SP" -->
<!-- id="99012520512200.00359@snoopy" -->
<!-- inreplyto="" -->
<title>sane-devel: Linux 2.0 with Mustek ScanExpress 12000 SP</title>
<h1>Linux 2.0 with Mustek ScanExpress 12000 SP</h1>
<b>Joachim Kunze</b> (<a href="mailto:joachim.kunze@metronet.de"><i>joachim.kunze@metronet.de</i></a>)<br>
<i>Mon, 25 Jan 1999 20:33:30 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#217">[ date ]</a><a href="index.html#217">[ thread ]</a><a href="subject.html#217">[ subject ]</a><a href="author.html#217">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Steve Hammond: "Re: VuegoScan Brisa 610P"</a>
<li> <b>Previous message:</b> <a href="0216.html">Gerald Turner: "Re: SG_BIG_BUFF woes on Linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0219.html">Clemens Sill: "Re: Linux 2.0 with Mustek ScanExpress 12000 SP"</a>
<li> <b>Reply:</b> <a href="0219.html">Clemens Sill: "Re: Linux 2.0 with Mustek ScanExpress 12000 SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I really have severe problems with my scanner being recognized by SANE.<br>
My first hostadapter is a adaptec 2940 uw.<br>
I connected my se12000sp to my second scsi-hostadapter adaptec 1505 (ISA).<br>
After recompiling my kernel with scsi generic support I get the following<br>
output:<br>
aha152x: processing commandline: ok<br>
aha152x: BIOS test: passed, detected 1 controller(s)<br>
aha152x0: vital data: PORTBASE=0x140, IRQ=9, SCSI ID=5, reconnect=enabled, parit<br>
y=enabled, synchronous=disabled, delay=100, extended translation=disabled<br>
aha152x: trying software interrupt, ok.<br>
(scsi1) &lt;Adaptec AHA-294X Ultra SCSI host adapter&gt; found at PCI 8/0<br>
(scsi1) Wide Channel, SCSI ID=7, 16/255 SCBs<br>
(scsi1) Downloading sequencer code... 419 instructions downloaded<br>
scsi0 : Adaptec 152x SCSI driver; $Revision: 1.18 $<br>
scsi1 : Adaptec AHA274x/284x/294x (EISA/VLB/PCI-Fast SCSI) 5.1.4/3.2.4<br>
       &lt;Adaptec AHA-294X Ultra SCSI host adapter&gt;<br>
scsi : 2 hosts.<br>
  Vendor: SCANNER   Model:                   Rev: 2.02<br>
  Type:   Scanner                            ANSI SCSI revision: 01 CCS<br>
Detected scsi generic sga at scsi0, channel 0, id 3, lun 0<br>
  Vendor: IBM       Model: DPES-31080        Rev: S31Q<br>
  Type:   Direct-Access                      ANSI SCSI revision: 02<br>
Detected scsi disk sda at scsi1, channel 0, id 0, lun 0<br>
(scsi1:0:0:0) Synchronous at 5.0 Mbyte/sec, offset 15.<br>
....skipping...      Model: DCAS-32160W       Rev: S65A<br>
  Type:   Direct-Access                      ANSI SCSI revision: 02<br>
Detected scsi disk sdb at scsi1, channel 0, id 1, lun 0<br>
(scsi1:0:1:0) Synchronous at 40.0 Mbyte/sec, offset 8.<br>
  Vendor: PIONEER   Model: CD-ROM DR-U06S    Rev: 1.05<br>
  Type:   CD-ROM                             ANSI SCSI revision: 02<br>
(scsi1:0:4:0) Synchronous at 5.0 Mbyte/sec, offset 15.<br>
  Vendor: ARCHIVE   Model: Python 28388-XXX  Rev: 4.98<br>
  Type:   Sequential-Access                  ANSI SCSI revision: 02<br>
(scsi1:0:6:0) Synchronous at 5.0 Mbyte/sec, offset 15.<br>
scsi : detected 2 SCSI disks total.<br>
SCSI device sda: hdwr sector= 512 bytes. Sectors= 2118144 [1034 MB] [1.0 GB]<br>
SCSI device sdb: hdwr sector= 512 bytes. Sectors= 4226725 [2063 MB] [2.1 GB]<br>
<p>
I created a symbolic link from /dev/sg0 to /dev/scanner and adjusted the proper<br>
rights. But the scanner was still not recognized neither by xscanimage nor<br>
scanimage.<br>
I also tried muscan with the same problem.<br>
I use SuSE 5.3 with sane 0.73.<br>
In our LUG no one has experience with scanners and after posting in the<br>
newsgroups I didn't receive a answer which solves my problem . So I try this<br>
way.<br>
What went wrong? <br>
-no second hostadapter?<br>
-wrong scsi-id?<br>
-wrong scanner?<br>
<p>
I would be very lucky if anybody could help me.<br>
<p>
Ciao,<br>
<p>
Joachim<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Steve Hammond: "Re: VuegoScan Brisa 610P"</a>
<li> <b>Previous message:</b> <a href="0216.html">Gerald Turner: "Re: SG_BIG_BUFF woes on Linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0219.html">Clemens Sill: "Re: Linux 2.0 with Mustek ScanExpress 12000 SP"</a>
<li> <b>Reply:</b> <a href="0219.html">Clemens Sill: "Re: Linux 2.0 with Mustek ScanExpress 12000 SP"</a>
<!-- reply="end" -->
</ul>
