<!-- received="Wed Jan 27 02:26:47 1999 PST" -->
<!-- sent="Wed, 27 Jan 1999 11:26:51 +0100" -->
<!-- name="Davide Achilli" -->
<!-- email="davide@objsystem.it" -->
<!-- subject="Re: AVA-1505AE and Microtec X6: freeze everything while scanning" -->
<!-- id="" -->
<!-- inreplyto="AVA-1505AE and Microtec X6: freeze everything while scanning" -->
<title>sane-devel: Re: AVA-1505AE and Microtec X6: freeze everything while scanning</title>
<h1>Re: AVA-1505AE and Microtec X6: freeze everything while scanning</h1>
<b>Davide Achilli</b> (<a href="mailto:davide@objsystem.it"><i>davide@objsystem.it</i></a>)<br>
<i>Wed, 27 Jan 1999 11:26:51 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#236">[ date ]</a><a href="index.html#236">[ thread ]</a><a href="subject.html#236">[ subject ]</a><a href="author.html#236">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0237.html">William McVey: "FreeBSD 3.0 CAM braindamage and an (unrelated?) permission problem"</a>
<li> <b>Previous message:</b> <a href="0235.html">Sebastian Erdmann: "Re: AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<li> <b>Maybe in reply to:</b> <a href="0230.html">Davide Achilli: "AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0262.html">Davide Achilli: "Re: AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Bruno.<br>
<p>
<a href="mailto:grasland@club-internet.fr">grasland@club-internet.fr</a> wrote:<br>
<p>
<i>&gt; &gt; I also tried on a different Linux PC with a Tekram DC-390 SCSI-II</i><br>
<i>&gt; &gt; controller, which works under Linux with a Yamaha CD-Writer, but as soon</i><br>
<i>&gt; &gt; as scanning begins, SCSI bus locks up and it is necessary to reset the</i><br>
<i>&gt; &gt; machine.</i><br>
<p>
<i>&gt; I have an UMax 1220s scanner and a Tekram DC-390 ,the  scanner is alone</i><br>
<i>&gt; on the scsi bus .</i><br>
<i>&gt; linux kernel 2.0.36  sane 1.00</i><br>
<i>&gt; i first used the tekram driver (dc390) ,and i had (intermitently) the</i><br>
<i>&gt; same problem that you describe (scsi bus locking up ,need to reset</i><br>
<i>&gt; machine).</i><br>
<i>&gt; </i><br>
<i>&gt; i then switched to the AM53C974 driver , and since then everything works</i><br>
<i>&gt; fine .</i><br>
<p>
I tried AM53C974 but it didn't make any difference.<br>
This PC is a plain Pentium-133, with an Asus PC97-V mainboard (with<br>
integrated VGA card), 32MB RAM, a PCI NE-2000 Ethernet card set to<br>
"Jumperless, Interrupt:10, Address:0x300" and a Tekram DC-390 PCI SCSI<br>
card set to "address: 0xb800; irq: 11".<br>
Nothing else is installed.  Usually this PC is used for CD-ROM burning<br>
under Linux and it works.  Kernel is 2.0.29.<br>
<p>
I now tried to remove the internal SCSI CD-R (so scanner is alone), but<br>
still no success.<br>
<p>
When I start the SCSI AM53C974 module, the scanner is immediately<br>
detected:<br>
<p>
cat /proc/scsi/scsi<br>
<p>
Attached devices: <br>
Host: scsi0 Channel: 00 Id: 04 Lun: 00<br>
  Vendor:          Model: Scanner 636A4    Rev: 1.00<br>
  Type:   Scanner                          ANSI SCSI revision: 02<br>
<p>
Then I try to scan with xscanimage.  <br>
The scanner usually does some steps in order to acquire an image: first<br>
the scanner head moves quickcly for about 2 seconds around its rest<br>
position (something like an initialization), then it sits silent for 1<br>
second and finally the real scan begins.  <br>
With this PC with DC-390, it does only the initialization part, then<br>
SCSI bus is locked.<br>
Computer and all its peripherials work correctly.<br>
<p>
After quite a while (some minutes), periodically the following message<br>
appears on console and syslog:<br>
<p>
Jan 27 11:04:24 test kernel: scsi : aborting command due to timeout :<br>
pid 45, scsi0, channel 0, id 4, lun 0 0x28 00 00 00 00 00 00 02 7e 00 <br>
Jan 27 11:04:24 test kernel:<br>
--------------------------------------------------------------------------<br>
Jan 27 11:04:24 test kernel: scsi0 : AM53C974_abort called -- trouble<br>
starts!!<br>
Jan 27 11:04:24 test kernel: AM53C974 register dump:<br>
Jan 27 11:04:24 test kernel: IO base: 0xb800; CTCREG: 0x0000; CMDREG:<br>
0x42; STATREG: 0x11; ISREG: 0xd4<br>
Jan 27 11:04:24 test kernel: CFIREG: 0x80; CNTLREG1-4: 0x57; 0x40; 0x18;<br>
0x44<br>
Jan 27 11:04:24 test kernel: DMACMD: 0x00; DMASTC: 0x0010; DMASPA:<br>
0xff7000<br>
Jan 27 11:04:24 test kernel: DMAWBC: 0x0000; DMAWAC: 0xff7010;<br>
DMASTATUS: 0x00<br>
Jan 27 11:04:24 test kernel:<br>
---------------------------------------------------------<br>
Jan 27 11:04:24 test kernel: scsi0: aborting connected command<br>
Jan 27 11:04:26 test kernel: SCSI host 0 abort (pid 45) timed out -<br>
resetting<br>
Jan 27 11:04:26 test kernel: SCSI bus is being reset for host 0 channel<br>
0.<br>
Jan 27 11:04:26 test kernel: AM53C974_reset called<br>
Jan 27 11:04:26 test kernel: AM53C974 register dump:<br>
Jan 27 11:04:26 test kernel: IO base: 0xb800; CTCREG: 0x0000; CMDREG:<br>
0x42; STATREG: 0x11; ISREG: 0xd4<br>
Jan 27 11:04:26 test kernel: CFIREG: 0x80; CNTLREG1-4: 0x57; 0x40; 0x18;<br>
0x44<br>
Jan 27 11:04:26 test kernel: DMACMD: 0x00; DMASTC: 0x0010; DMASPA:<br>
0xff7000<br>
Jan 27 11:04:26 test kernel: DMAWBC: 0x0000; DMAWAC: 0xff7010;<br>
DMASTATUS: 0x00<br>
Jan 27 11:04:26 test kernel:<br>
---------------------------------------------------------<br>
<p>
Any idea?<br>
<p>
Bye.<br>
<p>
<pre>
-- 
----------------------------------------------------------------
  Davide Achilli - <a href="mailto:davide@objsystem.it">davide@objsystem.it</a>
  OBJ System Telematica - MILANO - ITALY
  <a href="http://www.objsystem.it/">http://www.objsystem.it/</a>
----------------------------------------------------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0237.html">William McVey: "FreeBSD 3.0 CAM braindamage and an (unrelated?) permission problem"</a>
<li> <b>Previous message:</b> <a href="0235.html">Sebastian Erdmann: "Re: AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<li> <b>Maybe in reply to:</b> <a href="0230.html">Davide Achilli: "AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0262.html">Davide Achilli: "Re: AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<!-- reply="end" -->
</ul>
