<!-- received="Sat Jan 30 11:13:57 1999 PST" -->
<!-- sent="Fri, 29 Jan 1999 17:15:38 +0100" -->
<!-- name="Ingo Assenmacher" -->
<!-- email="Ingo.Assenmacher@post.rwth-aachen.de" -->
<!-- subject="sane contribution" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane contribution</title>
<h1>sane contribution</h1>
<b>Ingo Assenmacher</b> (<a href="mailto:Ingo.Assenmacher@post.rwth-aachen.de"><i>Ingo.Assenmacher@post.rwth-aachen.de</i></a>)<br>
<i>Fri, 29 Jan 1999 17:15:38 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#258">[ date ]</a><a href="index.html#258">[ thread ]</a><a href="subject.html#258">[ subject ]</a><a href="author.html#258">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0259.html">Kevin R. Charter: "Re: scanner support"</a>
<li> <b>Previous message:</b> <a href="0257.html">Kyle: "A question about Relysis..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi.<br>
<p>
I am currently using a Mustek 600 II CD SCSI Scanner which is not in<br>
your list of working scanners for scanimage. <br>
I just wanted to report that it works and I can scan images using sane.<br>
Although the scanner sometimes does something odd: it makes sound like a<br>
wave or something and just scans in little pieces one after another<br>
until the whole scan-area is finshed.<br>
Any clue to this?<br>
<p>
Regards, Ingo.<br>
<p>
<pre>
-- 
------------------------------------------
Ingo Assenmacher   *         +(49)24144803
 "I'm an aries -- we don't think, we do."
                        -- JOOLZ, 14.01.99
------------------------------------------
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0259.html">Kevin R. Charter: "Re: scanner support"</a>
<li> <b>Previous message:</b> <a href="0257.html">Kyle: "A question about Relysis..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
