<!-- received="Sat Jan 30 17:16:05 1999 PST" -->
<!-- sent="Sat, 30 Jan 1999 22:20:48 -0300" -->
<!-- name="BARTO, Agustin Andres" -->
<!-- email="abarto@gtwing.efn.uncor.edu" -->
<!-- subject="Re: Genius works with sane ?" -->
<!-- id="" -->
<!-- inreplyto="Genius works with sane ?" -->
<title>sane-devel: Re: Genius works with sane ?</title>
<h1>Re: Genius works with sane ?</h1>
<b>BARTO, Agustin Andres</b> (<a href="mailto:abarto@gtwing.efn.uncor.edu"><i>abarto@gtwing.efn.uncor.edu</i></a>)<br>
<i>Sat, 30 Jan 1999 22:20:48 -0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#264">[ date ]</a><a href="index.html#264">[ thread ]</a><a href="subject.html#264">[ subject ]</a><a href="author.html#264">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0265.html">becka@rz.uni-duesseldorf.de: "Re: Reviving logiscan"</a>
<li> <b>Previous message:</b> <a href="0263.html">John Kozan: "Re: A question about Relysis..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have the same scanner on a Slackware 3.6. I've been following the <br>
messages about parallel port scanners (KYE's included) and no <br>
one seems to be working in building a driver (sorry if I'm wrong <br>
about that). By the way, I wrote some email to kye's support. The <br>
answer: an unpolite silence.<br>
<p>
PS: If you think your english is bad, you should hear me speaking.<br>
<p>
<i>&gt; From:           	Luiz Guilherme &lt;<a href="mailto:lgs@sercontel.com.br">lgs@sercontel.com.br</a>&gt;</i><br>
<p>
<i>&gt; Hi, I have a Genius ColorPage-EP (connected @ LPT1) and I want to know if it works with sane under Linux (x86). I hope that you understand me, because my English i really bad. Tanks.</i><br>
<i>&gt; <a href="mailto:lgs@linuxbr.com.br">lgs@linuxbr.com.br</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0265.html">becka@rz.uni-duesseldorf.de: "Re: Reviving logiscan"</a>
<li> <b>Previous message:</b> <a href="0263.html">John Kozan: "Re: A question about Relysis..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
