<!-- received="Sun Jan 31 02:23:32 1999 PST" -->
<!-- sent="Sun, 31 Jan 1999 11:23:34 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="XSANE-0.07 available" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: XSANE-0.07 available</title>
<h1>XSANE-0.07 available</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 31 Jan 1999 11:23:34 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#268">[ date ]</a><a href="index.html#268">[ thread ]</a><a href="subject.html#268">[ subject ]</a><a href="author.html#268">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0269.html">Peter Kirchgessner: "Re: any combination printer/scanner supported by SANE?"</a>
<li> <b>Previous message:</b> <a href="0267.html">Frank Becker: "Re: Reviving logiscan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I uploaded XSane-0.07 to my homepage:<br>
<a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a><br>
<p>
Bug reports welcome!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0269.html">Peter Kirchgessner: "Re: any combination printer/scanner supported by SANE?"</a>
<li> <b>Previous message:</b> <a href="0267.html">Frank Becker: "Re: Reviving logiscan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
