<!-- received="Sun Jan 31 11:08:11 1999 PST" -->
<!-- sent="Sun, 31 Jan 1999 11:07:20 -0800" -->
<!-- name="Steven R. Robertson" -->
<!-- email="srobert@anv.net" -->
<!-- subject="Adaptec 1505A and UMAX 1200s" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Adaptec 1505A and UMAX 1200s</title>
<h1>Adaptec 1505A and UMAX 1200s</h1>
<b>Steven R. Robertson</b> (<a href="mailto:srobert@anv.net"><i>srobert@anv.net</i></a>)<br>
<i>Sun, 31 Jan 1999 11:07:20 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#270">[ date ]</a><a href="index.html#270">[ thread ]</a><a href="subject.html#270">[ subject ]</a><a href="author.html#270">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0271.html">Oliver Rauch: "Re: Adaptec 1505A and UMAX 1200s"</a>
<li> <b>Previous message:</b> <a href="0269.html">Peter Kirchgessner: "Re: any combination printer/scanner supported by SANE?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0271.html">Oliver Rauch: "Re: Adaptec 1505A and UMAX 1200s"</a>
<li> <b>Reply:</b> <a href="0271.html">Oliver Rauch: "Re: Adaptec 1505A and UMAX 1200s"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I just bought a UMAX 1200s and an Adaptec 1505A controller. My kernel,<br>
recompiled with SCSI support, seems to recognize the card and scanner.<br>
But during bootup I get the Vendor name of the scanner as a series of<br>
nonstandard ascii characters including superscripts and accented<br>
characters.<br>
 When I run find-scanner from tools it shows first nothing and then<br>
after I run scanimage -L (which reports pnm:0 and pnm:1 only) I run<br>
find-scanner again and it gives me  another series of incomprehensible<br>
characters as the scanner name. <br>
 Do I have a broken or misconfigured SCSI controller, scanner or both?<br>
Is there anything I can do to get scanimage to recognize the scanner<br>
name?<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0271.html">Oliver Rauch: "Re: Adaptec 1505A and UMAX 1200s"</a>
<li> <b>Previous message:</b> <a href="0269.html">Peter Kirchgessner: "Re: any combination printer/scanner supported by SANE?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0271.html">Oliver Rauch: "Re: Adaptec 1505A and UMAX 1200s"</a>
<li> <b>Reply:</b> <a href="0271.html">Oliver Rauch: "Re: Adaptec 1505A and UMAX 1200s"</a>
<!-- reply="end" -->
</ul>
