<!-- received="Thu Jun  3 14:17:44 1999 PDT" -->
<!-- sent="Thu, 03 Jun 1999 23:18:49 +0200" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: Problem with xscanimage" -->
<!-- id="" -->
<!-- inreplyto="Problem with xscanimage" -->
<title>sane-devel: Re: Problem with xscanimage</title>
<h1>Re: Problem with xscanimage</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Thu, 03 Jun 1999 23:18:49 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#23">[ date ]</a><a href="index.html#23">[ thread ]</a><a href="subject.html#23">[ subject ]</a><a href="author.html#23">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Kevin Charter: "Re: Problem with snapscan, aha1505, linux kernel 2.2.9"</a>
<li> <b>Previous message:</b> <a href="0022.html">Wolfgang Goeller: "Problem with xscanimage"</a>
<li> <b>Maybe in reply to:</b> <a href="0022.html">Wolfgang Goeller: "Problem with xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Wolfgang,<br>
<p>
if you have a source installation of SANE 1.0.1 you can try the<br>
following patch to hp-option.c.<br>
If it does not work, I would like to know where the backend fails. Do<br>
the commands<br>
<p>
export SANE_DEBUG_HP=13<br>
xscanimage hp &gt; hp.lis 2&gt;&amp;1<br>
<p>
start a very small scan, wait for the stand-by mode and (try to) start<br>
another very small scan.<br>
Then send back the file hp.lis.<br>
<p>
--Peter<br>
<p>
Here is the patch:<br>
<p>
--- hp-option.c.orig    Sat Apr  3 06:03:14 1999<br>
+++ hp-option.c Thu Jun  3 23:07:02 1999<br>
@@ -3064,6 +3064,7 @@<br>
<p>
   DBG(3, "Start downloading parameters to scanner\n");<br>
<p>
+  RETURN_IF_FAIL(sanei_hp_scl_reset (scsi));<br>
   RETURN_IF_FAIL(sanei_hp_scl_clearErrors (scsi));<br>
<p>
   sanei_hp_device_simulate_clear ( sanei_hp_scsi_devicename (scsi) );<br>
<p>
<p>
<p>
<p>
Wolfgang Goeller wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hello</i><br>
<i>&gt; </i><br>
<i>&gt; When my HP 6200 goes in stand-by mode while I'm</i><br>
<i>&gt; using xscanimage xscanimage hangs.</i><br>
<i>&gt; My Scanner is connected to an AHA1542 and</i><br>
<i>&gt; accessd from another computer with sane.net.</i><br>
<i>&gt; The wake-up works well, when I start</i><br>
<i>&gt; xscanimage. But it seems to cause troubles,</i><br>
<i>&gt; when it has to re-wake the Scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; Any suggestions? (Except: restart xscanimge,</i><br>
<i>&gt; that's what I've to do anyhow)</i><br>
<i>&gt; </i><br>
<i>&gt; Regards</i><br>
<i>&gt; Wolfgang</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Kevin Charter: "Re: Problem with snapscan, aha1505, linux kernel 2.2.9"</a>
<li> <b>Previous message:</b> <a href="0022.html">Wolfgang Goeller: "Problem with xscanimage"</a>
<li> <b>Maybe in reply to:</b> <a href="0022.html">Wolfgang Goeller: "Problem with xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
