<!-- received="Sun Jun  6 23:55:29 1999 PDT" -->
<!-- sent="Mon, 07 Jun 1999 08:55:46 +0200" -->
<!-- name="Harald Finster" -->
<!-- email="finster@ave.ac.agit.de" -->
<!-- subject="Re: microtek x6 and TMA not working" -->
<!-- id="" -->
<!-- inreplyto="microtek x6 and TMA not working" -->
<title>sane-devel: Re: microtek x6 and TMA not working</title>
<h1>Re: microtek x6 and TMA not working</h1>
<b>Harald Finster</b> (<a href="mailto:finster@ave.ac.agit.de"><i>finster@ave.ac.agit.de</i></a>)<br>
<i>Mon, 07 Jun 1999 08:55:46 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#33">[ date ]</a><a href="index.html#33">[ thread ]</a><a href="subject.html#33">[ subject ]</a><a href="author.html#33">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Andreas Rick: "Re: First version of modified Coolscan backend for the LS-30"</a>
<li> <b>Previous message:</b> <a href="0032.html">Nick Lamb: "Re: First version of modified Coolscan backend for the LS-30"</a>
<li> <b>Maybe in reply to:</b> <a href="0000.html">Harald Finster: "microtek x6 and TMA not working"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">Bernd Schroeder: "Re: Re: microtek x6 and TMA not working"</a>
<li> <b>Maybe reply:</b> <a href="0028.html">Bernd Schroeder: "Re: Re: microtek x6 and TMA not working"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Bernd Schroeder wrote:<br>
<p>
<i>&gt; </i><br>
<i>&gt; Unfortunately I can't figure out myself how to solve this problem,</i><br>
<i>&gt; because I don't have a TMA, and there is a choice among several</i><br>
<i>&gt; alternatives.</i><br>
<i>&gt; </i><br>
<i>&gt; For people who are willing to help testing, here is one way to go:</i><br>
<i>&gt; </i><br>
<p>
Hello,<br>
<p>
many thanks for the information. Of course, I am willing to help <br>
testing, but unfortunately I will not be able to do it before July.<br>
I will report about results as soon as possible.<br>
<p>
Thanks again<br>
<p>
Harald<br>
<p>
<p>
<pre>
-- 
Windows is not the answer. Windows is the question. The answer is LINUX!
Harald Finster
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Andreas Rick: "Re: First version of modified Coolscan backend for the LS-30"</a>
<li> <b>Previous message:</b> <a href="0032.html">Nick Lamb: "Re: First version of modified Coolscan backend for the LS-30"</a>
<li> <b>Maybe in reply to:</b> <a href="0000.html">Harald Finster: "microtek x6 and TMA not working"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">Bernd Schroeder: "Re: Re: microtek x6 and TMA not working"</a>
<li> <b>Maybe reply:</b> <a href="0028.html">Bernd Schroeder: "Re: Re: microtek x6 and TMA not working"</a>
<!-- reply="end" -->
</ul>
