<!-- received="Mon Jun  7 07:11:55 1999 PDT" -->
<!-- sent="Mon, 07 Jun 1999 16:07:24 +0200" -->
<!-- name="Andreas Rick" -->
<!-- email="rickand@gemse.fr" -->
<!-- subject="Re: First version of modified Coolscan backend for the LS-30" -->
<!-- id="375BD21C.61357FF3@gemse.fr" -->
<!-- inreplyto="First version of modified Coolscan backend for the LS-30" -->
<title>sane-devel: Re: First version of modified Coolscan backend for the LS-30</title>
<h1>Re: First version of modified Coolscan backend for the LS-30</h1>
<b>Andreas Rick</b> (<a href="mailto:rickand@gemse.fr"><i>rickand@gemse.fr</i></a>)<br>
<i>Mon, 07 Jun 1999 16:07:24 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Egg Ham: "UMAX 1220S not recognized"</a>
<li> <b>Previous message:</b> <a href="0033.html">Harald Finster: "Re: microtek x6 and TMA not working"</a>
<li> <b>Maybe in reply to:</b> <a href="0030.html">Andreas Rick: "First version of modified Coolscan backend for the LS-30"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Nick <br>
<p>
Thanks for your detailed problem description.<br>
Unfortunately I don't have a quick answer for that<br>
problem, as I face the same problem myself:<br>
<p>
Nick Lamb wrote:<br>
<i>&gt; </i><br>
<i>&gt; 1. I downloaded an integrated the drivers with my SANE setup. I built</i><br>
<i>&gt; the Coolscan stuff static and FTPed it to the scanner machine, which</i><br>
<i>&gt; is a very minimal Linux install.</i><br>
<i>&gt; </i><br>
<i>&gt; 2. I checked find-scanner (looked good so far)</i><br>
<i>&gt; </i><br>
<i>&gt; 3. I ran scanimage -L and saw the Coolscan listed (yeah!)</i><br>
<i>&gt; </i><br>
<i>&gt; 4. I tried scanimage &gt; example, but it locked up the SCSI on my test</i><br>
<i>&gt; machine, and I had to switch off the Coolscan. The main drives on</i><br>
<i>&gt; that machine are SCSI, so this was very scary. I shutdown &amp; restarted</i><br>
<p>
If I use the AM53C974 driver I have to reboot cold - I mean it locks<br>
up my system completely without any chance to recover.<br>
I only have IDE drives so I am less afraid to lose data on the disk<br>
but it is extremely anoying anyway.<br>
<p>
<i>&gt; </i><br>
<i>&gt; /* I have a DPT card, using Linux 2.2.6 EATA card drivers. It wouldn't</i><br>
<i>&gt;    let go until I physically switched off the Coolscan :( */</i><br>
<i>&gt; </i><br>
<i>&gt; 5. I commented the AutoFocus code out of your driver</i><br>
<i>&gt; </i><br>
<i>&gt; 6. I re-built, re-transferred and re-installed</i><br>
<i>&gt; </i><br>
<i>&gt; 7. I ran scanimage &gt; example, and this time I got some data!</i><br>
<i>&gt; </i><br>
<i>&gt; I'll write a second mail when I've tinkered with some more values and</i><br>
<i>&gt; taken a look at the code a second time. However, I'm already impressed</i><br>
<i>&gt; that I actually got DATA out of this first alpha driver.</i><br>
<p>
Similar to your experience: <br>
if I comment out the Autofocus code and use the AM53C974 driver<br>
everything works fine. (except that the images are completly unsharp).<br>
I have tried a little bit to figure out where the problem is,<br>
but it seem to be inside the scsi-driver - not in SANE.<br>
It is somewhat amazing, as the autofocus command doesn't distinguish<br>
at all from all the other commands I send.<br>
<p>
When using the tmscsi-driver everything works fine including autofocus<br>
for the Coolscan-backend, but the UMAX backend doesn't finish its scanning<br>
correctly (a problem already reported in the UMAX-FAQ).<br>
Right now I have to switch SCSI-drivers if I want to switch from<br>
my UMAX-Flatbed to the Coolscan-Filmscanner.<br>
<p>
I was about to say that the AM53C974-driver might have some bug, <br>
but when I use WINE and the TWAIN interface I can do everything until<br>
I try to do use the autofocus. (prescan is OK, preview (which includes autofocus)<br>
will crash). This behaviour is the same for the AM53C974 driver<br>
and the tmscsi-driver.<br>
It may be that the scanners answer to the command is somewhat unusual.<br>
<p>
There is nothing much I can do at the SANE level as I am pretty<br>
sure about the command to send (the same that TWAIN sends, the same that<br>
vuescan sends)- the choices are:  <br>
don't do the autofocus-&gt; image unsharp<br>
do the autofocus -&gt; system hangs.<br>
None of the options is acceptable.<br>
I think I will have to do some differential debugging (between the<br>
AM53C974 driver and the tmscsi-driver) and as I'm not too experienced<br>
in kernel-driver debugging this might take a while.<br>
<p>
Any suggestions by SCSI-experienced people are very welcome.<br>
<p>
Andreas<br>
<p>
-------------------------------------------------------------<br>
Andreas RICK                       e-mail:   <a href="mailto:rickand@gemse.fr">rickand@gemse.fr</a><br>
-------------------------------------------------------------<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Egg Ham: "UMAX 1220S not recognized"</a>
<li> <b>Previous message:</b> <a href="0033.html">Harald Finster: "Re: microtek x6 and TMA not working"</a>
<li> <b>Maybe in reply to:</b> <a href="0030.html">Andreas Rick: "First version of modified Coolscan backend for the LS-30"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
