<!-- received="Tue Jun  8 13:11:40 1999 PDT" -->
<!-- sent="Tue, 8 Jun 1999 21:12:02 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: "scsi HP" in hp.conf" -->
<!-- id="" -->
<!-- inreplyto="199906081915.PAA06871@cgpp.com" -->
<title>sane-devel: Re: "scsi HP" in hp.conf</title>
<h1>Re: "scsi HP" in hp.conf</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Tue, 8 Jun 1999 21:12:02 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#42">[ date ]</a><a href="index.html#42">[ thread ]</a><a href="subject.html#42">[ subject ]</a><a href="author.html#42">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">Oliver Rauch: "UMAX and UTA?"</a>
<li> <b>Previous message:</b> <a href="0041.html">J. Milgram: ""scsi HP" in hp.conf"</a>
<li> <b>In reply to:</b> <a href="0041.html">J. Milgram: ""scsi HP" in hp.conf"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">Wolfgang Goeller: "Re: "scsi HP" in hp.conf"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 8 Jun 1999, J. Milgram wrote:<br>
<p>
<i>&gt; I find I have to remove the "scsi HP" line from hp.conf. Others have</i><br>
<i>&gt; reported this too. But it sure would be nice to be able to specify the</i><br>
<i>&gt; device with "scsi HP". The reason is I often insert and remove another</i><br>
<i>&gt; scsi device (a CD-burner with an exceedingly noisy fan) so the</i><br>
<i>&gt; /dev/sg?  always changes. Is there some reason why "scsi HP" doesn't</i><br>
<i>&gt; work as advertised in the man page (sane-scsi)? Maybe there's</i><br>
<i>&gt; something else I need to know to make this work?</i><br>
<p>
AFAIK This was fixed in SANE 1.0.1, wasn't it? Anyone?<br>
<p>
If you are running SANE 1.0.0 then you need to upgrade anyway, because<br>
SANE 1.0.0 has too many known bugs not to be scared of it.<br>
<p>
Since you only have one removed device, you can avoid shuffling by<br>
re-ordering the SCSI IDs on the two devices. IIRC Just making the<br>
scanner say, ID 3 and the CD-burner ID 5 will be enough to make the<br>
scanner stay on /dev/sga all the time.<br>
<p>
Finally, there is a LIST in that configuration file, so just LIST all<br>
the devices which might be a scanner. It will surely reject any that<br>
don't appear to be HP PROCESSOR class devices.<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">Oliver Rauch: "UMAX and UTA?"</a>
<li> <b>Previous message:</b> <a href="0041.html">J. Milgram: ""scsi HP" in hp.conf"</a>
<li> <b>In reply to:</b> <a href="0041.html">J. Milgram: ""scsi HP" in hp.conf"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">Wolfgang Goeller: "Re: "scsi HP" in hp.conf"</a>
<!-- reply="end" -->
</ul>
