<!-- received="Tue Jun  8 16:34:41 1999 PDT" -->
<!-- sent="Tue, 08 Jun 1999 20:37:58 -0300" -->
<!-- name="Eduardo M. A. M. Mendes" -->
<!-- email="mendes@mgconecta.com.br" -->
<!-- subject="UMAX T-30 and Adaptec 2906" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: UMAX T-30 and Adaptec 2906</title>
<h1>UMAX T-30 and Adaptec 2906</h1>
<b>Eduardo M. A. M. Mendes</b> (<a href="mailto:mendes@mgconecta.com.br"><i>mendes@mgconecta.com.br</i></a>)<br>
<i>Tue, 08 Jun 1999 20:37:58 -0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#45">[ date ]</a><a href="index.html#45">[ thread ]</a><a href="subject.html#45">[ subject ]</a><a href="author.html#45">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">Lorenzo M. Catucci: "Re: UMAX and UTA?"</a>
<li> <b>Previous message:</b> <a href="0044.html">Wolfgang Goeller: "Re: "scsi HP" in hp.conf"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0049.html">Oliver Rauch: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Reply:</b> <a href="0049.html">Oliver Rauch: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Reply:</b> <a href="0051.html">mendes@mgconecta.com.br: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Reply:</b> <a href="0052.html">Wim Taymans: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Reply:</b> <a href="0053.html">Oliver Rauch: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Reply:</b> <a href="0054.html">Eduardo M. A. M. Mendes: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Reply:</b> <a href="0056.html">r_valetti@iol.it: "Re: UMAX T-30 and Adaptec 2906"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi everybody<br>
    Although my umax t-630 did come with its own isa-scsi card I<br>
couldn't get it<br>
working on linux.  I have recently bought a scsi card Adaptec 2906 and<br>
wonder whether someone could tell me how to get the scanner and sane<br>
working with this new setup.<br>
    Thanks a lot.<br>
<p>
Ed<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">Lorenzo M. Catucci: "Re: UMAX and UTA?"</a>
<li> <b>Previous message:</b> <a href="0044.html">Wolfgang Goeller: "Re: "scsi HP" in hp.conf"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0049.html">Oliver Rauch: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Reply:</b> <a href="0049.html">Oliver Rauch: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Reply:</b> <a href="0051.html">mendes@mgconecta.com.br: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Reply:</b> <a href="0052.html">Wim Taymans: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Reply:</b> <a href="0053.html">Oliver Rauch: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Reply:</b> <a href="0054.html">Eduardo M. A. M. Mendes: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Reply:</b> <a href="0056.html">r_valetti@iol.it: "Re: UMAX T-30 and Adaptec 2906"</a>
<!-- reply="end" -->
</ul>
