<!-- received="Thu Jun 10 01:15:10 1999 PDT" -->
<!-- sent="Thu, 10 Jun 99 08:16:34 +0000" -->
<!-- name="r_valetti@iol.it" -->
<!-- email="r_valetti@iol.it" -->
<!-- subject="Re: UMAX T-30 and Adaptec 2906" -->
<!-- id="" -->
<!-- inreplyto="UMAX T-30 and Adaptec 2906" -->
<title>sane-devel: Re: UMAX T-30 and Adaptec 2906</title>
<h1>Re: UMAX T-30 and Adaptec 2906</h1>
<a href="mailto:r_valetti@iol.it"><i>r_valetti@iol.it</i></a><br>
<i>Thu, 10 Jun 99 08:16:34 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#56">[ date ]</a><a href="index.html#56">[ thread ]</a><a href="subject.html#56">[ subject ]</a><a href="author.html#56">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0057.html">Milon Firikis: "Re: With a little help from my frineds... :-)"</a>
<li> <b>Previous message:</b> <a href="0055.html">James H. Cloos Jr.: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Maybe in reply to:</b> <a href="0045.html">Eduardo M. A. M. Mendes: "UMAX T-30 and Adaptec 2906"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Hi everybody</i><br>
<i>&gt;     Although my umax t-630 did come with its own isa-scsi card I</i><br>
<i>&gt; couldn't get it</i><br>
<i>&gt; working on linux.  I have recently bought a scsi card Adaptec 2906 and</i><br>
<i>&gt; wonder whether someone could tell me how to get the scanner and sane</i><br>
<i>&gt; working with this new setup.</i><br>
<i>&gt;     Thanks a lot.</i><br>
<i>&gt; </i><br>
<i>&gt; Ed</i><br>
<i>&gt; </i><br>
Don't know if this may help, but RedHat documentation lists as supported the Adaptec<br>
AHA-29xx series. The module is the aic7xxx.o.<br>
I'm currently using an Adaptec AHA-2902 PCI card (shipped with my Epson GT-7000<br>
scanner) and had no problems at all in having it recognized by my system (at present a<br>
Mandrake 5.2 without any kernel patches). It correctly works with Sane 1.0.0 (I<br>
installed the rpm packages, didn't compile anything at all) with both my Epson flatbed<br>
and my Canon film scanner.<br>
I have no informations about the differences between the 2902 and the 2906 Adaptec<br>
cards.<br>
Ruggero Valetti<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0057.html">Milon Firikis: "Re: With a little help from my frineds... :-)"</a>
<li> <b>Previous message:</b> <a href="0055.html">James H. Cloos Jr.: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Maybe in reply to:</b> <a href="0045.html">Eduardo M. A. M. Mendes: "UMAX T-30 and Adaptec 2906"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
