<!-- received="Mon Jun 14 18:31:18 1999 PDT" -->
<!-- sent="Mon, 14 Jun 1999 21:43:17 -0400" -->
<!-- name="Fred Willingham" -->
<!-- email="fcw@worldpath.net" -->
<!-- subject="Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000" -->
<!-- id="" -->
<!-- inreplyto="First sucessSecond version of Coolscan backend for the LS-30 and LS-2000" -->
<title>sane-devel: Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000</title>
<h1>Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000</h1>
<b>Fred Willingham</b> (<a href="mailto:fcw@worldpath.net"><i>fcw@worldpath.net</i></a>)<br>
<i>Mon, 14 Jun 1999 21:43:17 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#74">[ date ]</a><a href="index.html#74">[ thread ]</a><a href="subject.html#74">[ subject ]</a><a href="author.html#74">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">Douglas Gilbert: "Re: Artec AT6"</a>
<li> <b>Previous message:</b> <a href="0073.html">Jeff DeFouw: "Re: 600 ||| EP Plus"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0077.html">David Fox: "Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000"</a>
<li> <b>Reply:</b> <a href="0077.html">David Fox: "Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
It works for me! I used xscanimage.<br>
<p>
I had to turn on the advanced options and turn on auto-focus. (I think I had<br>
to turn advanced options "off" to tunr them on.)<br>
<p>
Is there any other means of focusing?<br>
<p>
-F<br>
<p>
----- Original Message -----<br>
From: Andreas Rick &lt;<a href="mailto:rickand@gemse.fr">rickand@gemse.fr</a>&gt;<br>
To: &lt;<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a>&gt;<br>
Sent: Thursday, June 10, 1999 10:29 AM<br>
Subject: Re: First sucessSecond version of Coolscan backend for the LS-30<br>
and LS-2000<br>
<p>
<p>
<i>&gt; Again I have to repost my message. Seems like I have to send</i><br>
<i>&gt; every message twice to get one into sane-devel :-&lt;</i><br>
<i>&gt; -------------------------------------------------------</i><br>
<i>&gt;</i><br>
<i>&gt; Thanks a lot to those who send me feed-back on the first</i><br>
<i>&gt; modified version of the Coolscan-backend.</i><br>
<i>&gt;</i><br>
<i>&gt; Yesterday I wraped up my latest state of developement again</i><br>
<i>&gt; and here it comes (version 0.4.1 - still alpha).</i><br>
<i>&gt;</i><br>
.<br>
.<br>
.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">Douglas Gilbert: "Re: Artec AT6"</a>
<li> <b>Previous message:</b> <a href="0073.html">Jeff DeFouw: "Re: 600 ||| EP Plus"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0077.html">David Fox: "Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000"</a>
<li> <b>Reply:</b> <a href="0077.html">David Fox: "Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000"</a>
<!-- reply="end" -->
</ul>
