<!-- received="Tue Jun 15 15:11:10 1999 PDT" -->
<!-- sent="Wed, 16 Jun 1999 00:16:08 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax Astra 2400S" -->
<!-- id="" -->
<!-- inreplyto="Umax Astra 2400S" -->
<title>sane-devel: Re: Umax Astra 2400S</title>
<h1>Re: Umax Astra 2400S</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 16 Jun 1999 00:16:08 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#82">[ date ]</a><a href="index.html#82">[ thread ]</a><a href="subject.html#82">[ subject ]</a><a href="author.html#82">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Brian B.: "Artec AT6 yet again"</a>
<li> <b>Previous message:</b> <a href="0081.html">Jonathan A. Buzzard: "Re: Umax Astra 2400S"</a>
<li> <b>Maybe in reply to:</b> <a href="0080.html">Oliver Rauch: "Umax Astra 2400S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Jonathan A. Buzzard" wrote:<br>
<p>
<i>&gt; <a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a> said:</i><br>
<i>&gt; &gt; Hi everyone who is interested in a UMAX Astra 2400S:</i><br>
<i>&gt; &gt; The scanner does not work with the recent umax-backend.</i><br>
<i>&gt; &gt; UMAX sent me a scanner to test it and to make it supported, I hope to</i><br>
<i>&gt; &gt; get it work within the next weeks!</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I will keep you informed!</i><br>
<i>&gt;</i><br>
<i>&gt; Presumably their is still no luck on getting info on the parallel port</i><br>
<i>&gt; and USB scanners.</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
I am working on it (getting the docs), but it is not easy!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Brian B.: "Artec AT6 yet again"</a>
<li> <b>Previous message:</b> <a href="0081.html">Jonathan A. Buzzard: "Re: Umax Astra 2400S"</a>
<li> <b>Maybe in reply to:</b> <a href="0080.html">Oliver Rauch: "Umax Astra 2400S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
