<!-- received="Sat Jun 19 01:35:13 1999 PDT" -->
<!-- sent="Sat, 19 Jun 1999 07:40:51 GMT" -->
<!-- name="Chris Mortensen" -->
<!-- email="csm2002@hotmail.com" -->
<!-- subject="A small compatibility update" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: A small compatibility update</title>
<h1>A small compatibility update</h1>
<b>Chris Mortensen</b> (<a href="mailto:csm2002@hotmail.com"><i>csm2002@hotmail.com</i></a>)<br>
<i>Sat, 19 Jun 1999 07:40:51 GMT</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#104">[ date ]</a><a href="index.html#104">[ thread ]</a><a href="subject.html#104">[ subject ]</a><a href="author.html#104">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Previous message:</b> <a href="0103.html">Rooster: "Fujitsu Scanner support?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0107.html">Bernd Schroeder: "Re: A small compatibility update"</a>
<li> <b>Reply:</b> <a href="0107.html">Bernd Schroeder: "Re: A small compatibility update"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
ATTENTION SANE:<br>
<p>
Recently, I was able to get my Starlight III scsi scanner to work with <br>
Redhat Linux 6.0, by utilizing SANE.  Please update your web site  with this <br>
information, as there may be others inquisitive concerning whether this <br>
scanner has any Linux compatibility.  If at all possible, please note that <br>
the reason the Starlight III is compatible with SANE and thus Linux, is <br>
because it mirrors closely the protocols used by the Microtek 2 series <br>
scanners, which are already officially supported (Xscan actually recognizes <br>
my scanner as a Microtek 2).  Being a new convert to the Linux/open source <br>
community, it is pleasing to know that a great deal of my windows supported <br>
hardware will work with Linux because of projects like SANE.  Thank you for <br>
your time and contributions.<br>
<p>
Best regards,<br>
<p>
Chris Mortensen<br>
<a href="mailto:csm2002@hotmail.com">csm2002@hotmail.com</a><br>
<p>
<p>
_______________________________________________________________<br>
Get Free Email and Do More On The Web. Visit <a href="http://www.msn.com">http://www.msn.com</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Previous message:</b> <a href="0103.html">Rooster: "Fujitsu Scanner support?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0107.html">Bernd Schroeder: "Re: A small compatibility update"</a>
<li> <b>Reply:</b> <a href="0107.html">Bernd Schroeder: "Re: A small compatibility update"</a>
<!-- reply="end" -->
</ul>
