<!-- received="Sun Jun 20 13:22:49 1999 PDT" -->
<!-- sent="Sun, 20 Jun 1999 21:51:43 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="UMAX Astra 2400S" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: UMAX Astra 2400S</title>
<h1>UMAX Astra 2400S</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 20 Jun 1999 21:51:43 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#120">[ date ]</a><a href="index.html#120">[ thread ]</a><a href="subject.html#120">[ subject ]</a><a href="author.html#120">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Oliver Rauch: "Re: Fujitsu Scanner support?"</a>
<li> <b>Previous message:</b> <a href="0119.html">Rooster: "Re: Fujitsu Scanner support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi everyone who is interested in the UMAX Astra 2400S<br>
<p>
I am working on support for the Astra 2400S by the umax backend.<br>
It looks like the scanner wants special timings when talking to it.<br>
I have hacked the umax backend, now I can scan with the Astra 2400S.<br>
I think in one or two weeks the driver is good enough to be published,<br>
in the moment it is an ugly hack.<br>
<p>
The Astra 2400S looks like a really nice scanner!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Oliver Rauch: "Re: Fujitsu Scanner support?"</a>
<li> <b>Previous message:</b> <a href="0119.html">Rooster: "Re: Fujitsu Scanner support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
