<!-- received="Sun Jun 20 23:04:44 1999 PDT" -->
<!-- sent="Mon, 21 Jun 1999 04:23:36 +0000" -->
<!-- name="Michele Bini" -->
<!-- email="mibin@tin.it" -->
<!-- subject="Re: [PARPORT] BETA test, new ppSCSI drivers" -->
<!-- id="" -->
<!-- inreplyto="28854.929887126@www4.gmx.net" -->
<title>sane-devel: Re: [PARPORT] BETA test, new ppSCSI drivers</title>
<h1>Re: [PARPORT] BETA test, new ppSCSI drivers</h1>
<b>Michele Bini</b> (<a href="mailto:mibin@tin.it"><i>mibin@tin.it</i></a>)<br>
<i>Mon, 21 Jun 1999 04:23:36 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#126">[ date ]</a><a href="index.html#126">[ thread ]</a><a href="subject.html#126">[ subject ]</a><a href="author.html#126">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">Herwin Jan Steehouwer: "SprintScan 35 LE"</a>
<li> <b>Previous message:</b> <a href="0125.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>In reply to:</b> <a href="0116.html">Bernd Schroeder: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0100.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0105.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, Jun 20, 1999 at 03:58:46PM +0200, Bernd Schroeder wrote:<br>
<i>&gt; &gt; On Fri, Jun 18, 1999 at 05:46:48PM +0300, Juha Sahakangas wrote:</i><br>
<i>&gt; &gt; &gt; On Fri, 18 Jun 1999, Bernd Schroeder wrote:</i><br>
<i>&gt; &gt; &gt; </i><br>
<i>&gt; &gt; &gt; &gt; As a first step to solve the problem, please send me the output of</i><br>
<i>&gt; &gt; &gt; &gt; the scanner attributes. They are printed to stderr if you set</i><br>
<i>&gt; &gt; &gt; &gt; 'option dump 1' in the microtek2.conf file.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; I'll note the differences:</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt; </i><br>
<i>&gt; &gt; &gt; Here is for Phantom 330 CX :</i><br>
<i>&gt; &gt; &gt; </i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Mine is labeled Phantom 336 CX (but is detected as 330)</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt; --</i><br>
<i>&gt; &gt; &gt; </i><br>
<i>&gt; &gt; &gt; </i><br>
<i>&gt; &gt; &gt; Scanner attributes from device structure</i><br>
<i>&gt; &gt; &gt; ========================================</i><br>
<i>&gt; &gt; &gt; </i><br>
<i>&gt; &gt; &gt; Scanner ID...</i><br>
<i>&gt; &gt; &gt; ~~~~~~~~~~~~~</i><br>
<i>&gt; &gt; &gt;   Vendor Name:        '        '</i><br>
<i>&gt; &gt; &gt;   Model Name:         ' scanner 330CS  '</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; same</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt;   Revision:           '1.28'</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt;   Revision:           '1.34'</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt;   Model Code:         0x94 (Phantom 336 CX or ScanMaker 330 CX)</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; I should correct my patch: I think it should be</i><br>
<i>&gt; &gt; 	'Phantom 336 CX or 330 CX'</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt;   Device Type Code:   0x06 (Scanner),</i><br>
<i>&gt; &gt; &gt;   Scanner type:       Flatbed scanner</i><br>
<i>&gt; &gt; &gt;   Supported options:  Automatic document feeder: No</i><br>
<i>&gt; &gt; &gt;                       Transparency media adapter: No</i><br>
<i>&gt; &gt; &gt;                       Auto paper detecting: Yes</i><br>
<i>&gt; &gt; &gt;                       Advanced picture system: No</i><br>
<i>&gt; &gt; &gt;                       Stripes: No</i><br>
<i>&gt; &gt; &gt;                       Slides: No</i><br>
<i>&gt; &gt; &gt;   Scan button:        Yes</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; same (even if I have no button on the scanner)</i><br>
<i>&gt; </i><br>
<i>&gt; I have checked the SCSI commands and replies that you sent in</i><br>
<i>&gt; a different mail. The replies are printed as they are returned</i><br>
<i>&gt; from the scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; Your model definitely insists that it has a scan button. </i><br>
<i>&gt; Unfortunately it is sometimes a problem, that the device does</i><br>
<i>&gt; not behave as indicated by the result of the "read scanner</i><br>
<i>&gt; attributes" command (see also the "TMA does not work with X6"</i><br>
<i>&gt; thread, and there are other examples, too).</i><br>
<i>&gt; </i><br>
<i>&gt; I have also checked the settings for the scan area from the</i><br>
<i>&gt; "set window" command. They are correct, the top y position is set</i><br>
<i>&gt; to 0, and the length of the scan area is set to 3495, which is the </i><br>
<i>&gt; geometric height as printed to stderr in the scanner attributes.</i><br>
<i>&gt; </i><br>
<i>&gt; At the moment I don't understand, why there should be an offset or why </i><br>
<i>&gt; it tries to scan beyond the scan area, but I will try to figure it</i><br>
<i>&gt; out. Also, from the backend's point of view there is no difference</i><br>
<i>&gt; between a preview and a normal scan, except, that for previews</i><br>
<i>&gt; a fastscan mode is enabled.</i><br>
<p>
if it is relevant the offset in color previews (72 dpi) is<br>
9.5 cm, in gray previews 3.2, in full scannings (72 dpi)<br>
it is 1.1 cm.<br>
<p>
-Michele<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">Herwin Jan Steehouwer: "SprintScan 35 LE"</a>
<li> <b>Previous message:</b> <a href="0125.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>In reply to:</b> <a href="0116.html">Bernd Schroeder: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0100.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0105.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- reply="end" -->
</ul>
