<!-- received="Wed Jun 23 13:10:12 1999 PDT" -->
<!-- sent="Wed, 23 Jun 1999 21:13:48 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: Fix for grayscale scans with gamma &lt; 1.0" -->
<!-- id="" -->
<!-- inreplyto="37713B68.B5715EE8@wolfsburg.de" -->
<title>sane-devel: Re: Fix for grayscale scans with gamma &lt; 1.0</title>
<h1>Re: Fix for grayscale scans with gamma &lt; 1.0</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Wed, 23 Jun 1999 21:13:48 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#164">[ date ]</a><a href="index.html#164">[ thread ]</a><a href="subject.html#164">[ subject ]</a><a href="author.html#164">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Robert Fargher: "Re: Fix for grayscale scans with gamma &lt; 1.0"</a>
<li> <b>Previous message:</b> <a href="0163.html">Oliver Rauch: "Re: Fix for grayscale scans with gamma &lt; 1.0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 23 Jun 1999, Oliver Rauch wrote:<br>
<p>
<i>&gt; You can change the scanner brightness and contrast and do a new preview</i><br>
<i>&gt; scan and see the changes in the histogram.</i><br>
<i>&gt; I think about adding support for a preview scan with more than 8/24 bits/pixel&gt; but I am not sure if that really is necessary.</i><br>
<p>
One thing which would be nice, and wasn't there when I last looked...<br>
In HP's Windows software, preview is always done in Full Color (which is<br>
still low-enough bit rate at preview resolution). Then it is resampled<br>
to match the settings chosen by the user...<br>
<p>
This means that when I realise I picked "Grey" instead of "Color", I can<br>
just change the setting, and the preview updates immediately. In XSane<br>
I must wait for another preview scan...<br>
<p>
<i>&gt; May be next month I find the time to work again on xsane!</i><br>
<p>
Excellent -- all the work you do on XSane is much appreciated here.<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Robert Fargher: "Re: Fix for grayscale scans with gamma &lt; 1.0"</a>
<li> <b>Previous message:</b> <a href="0163.html">Oliver Rauch: "Re: Fix for grayscale scans with gamma &lt; 1.0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
