<!-- received="Sat Jun 26 10:57:33 1999 PDT" -->
<!-- sent="Sat, 19 Jun 1999 11:53:23 +0100" -->
<!-- name="Romain Dolbeau" -->
<!-- email="dolbeaur@club-internet.fr" -->
<!-- subject="Microtek 600GS &amp; Solaris 7 : trouble" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek 600GS &amp; Solaris 7 : trouble</title>
<h1>Microtek 600GS &amp; Solaris 7 : trouble</h1>
<b>Romain Dolbeau</b> (<a href="mailto:dolbeaur@club-internet.fr"><i>dolbeaur@club-internet.fr</i></a>)<br>
<i>Sat, 19 Jun 1999 11:53:23 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#191">[ date ]</a><a href="index.html#191">[ thread ]</a><a href="subject.html#191">[ subject ]</a><a href="author.html#191">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0192.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0190.html">Remmert: "New Camera"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
(first, I apologize for the length of the post and my<br>
 poor english)<br>
<p>
I'm trying to use a Microtek 600GS on a SPARCstation 1+<br>
 running Solaris 7. The installed 'Generic SCSI' is the<br>
 SCG driver by Klaus Schilling (aka SOLARIS_INTERFACE).<br>
<p>
At first, the scanner was not recognized, it reports<br>
 "MII SC25 ScanMaker 600GS V4.6", and the microtek backend<br>
 only check for "SC {21,23,31}". Only find-scanner would<br>
 see it (trivial patch at the end of message, now it is<br>
 seen as a "600ZS").<br>
<p>
Now, it is seen, but doesn't work.<br>
<p>
First, there's a mis-feature inside the Solaris-SCG backend :<br>
 there's a seg-fault roaming line 2658 of<br>
 "sane-1.0.1/sanei/sanei_scsi.c" when DEBUG_LEVEL &gt;= 3; the<br>
 DEBUG line try to printf() "*dst_size", which is sometimes<br>
 explicitly NULL.<br>
<p>
Second, line 2688 of this file is :<br>
2688:      if (*(u_char *) &amp; scmd.sense &amp;&amp; handler)<br>
When I try to "preview", "*(u_char *) &amp; scmd.sense" is 0,<br>
 so the backend throw to an I/O error.<br>
I've tried removing the check (maybe it's stupid ?), the result<br>
 is that the scanner start doing _something_ : the light move<br>
 from one side to the other, go back, then the software hang.<br>
After a delay, I got SCSI error on the console :<br>
<p>
####<br>
WARNING: /sbus@1,f8000000/esp@0,800000 (esp0):<br>
        Connected command timeout for Target 0.0<br>
WARNING: /sbus@1,f8000000/esp@0,800000 (esp0):<br>
        Reverting to slow SCSI cable mode<br>
handle_incomplete: 1 retry cnt: 0<br>
scgintr: DONE_ERROR pkt_reason: 6 state: 7 resid: 0 packet resid: 28770<br>
WARNING: /sbus@1,f8000000/esp@0,800000/sd@1,0 (sd1):<br>
        SCSI transport failed: reason 'reset': retrying command<br>
<p>
WARNING: /sbus@1,f8000000/esp@0,800000 (esp0):<br>
        Connected command timeout for Target 0.0<br>
handle_incomplete: 1 retry cnt: 0<br>
WARNING: /sbus@1,f8000000/esp@0,800000/sd@2,0 (sd2):<br>
        SCSI transport failed: reason 'reset': retrying command<br>
####<br>
<p>
Also,<br>
"[sanei_scsi] sanei_scsi_cmd 8: timeout"<br>
"[sanei_scsi] sanei_scsi_cmd 1b: timeout"<br>
are send to stderr by xscanimage. Plus, an alert box with<br>
 "Error during read : Error during device I/O" shows up.<br>
<p>
I still can quit xscanimage, but the scanner won't talk to<br>
 anybody until everything is power cycled, it seems.<br>
<p>
If I "scan" instead of "preview", the result is almost the<br>
 same, that is, the back-and-forth move is replaced by<br>
 a window and the scanner seems to scan, but fails at the<br>
 end with the same SCSI error.<br>
Note : when the light reached the end of the scanner, the<br>
 progress bar is only at around 5-10% of the total.<br>
<p>
<p>
Here is the scanner inquiry:<br>
<p>
####<br>
========== Scanner Inquiry Report ==========<br>
===== Scanner ID...<br>
Device Type Code: 0x06<br>
Model Code: 0x16<br>
Vendor Name: 'MII SC25'   Model Name: 'ScanMaker 600GS '<br>
Vendor Specific String: 'SCSI F/WV2.5 CTL5380'<br>
Firmware Rev: 'V4.6'<br>
SCSI F/W version: 2.5     Scanner F/W version: 4.6<br>
Response data format: 0x01<br>
===== Imaging Capabilities...<br>
Modes:  Lineart Halftone Gray <br>
Resolution Step Sizes: 1% 5%    Expanded Resolution Support? yes<br>
Supported Bits Per Sample: 8 <br>
Max. document size code: 0x00<br>
Max. document size:  2549 x 4199 pixels<br>
Frame units:  pixels  1/8"'s <br>
# of built-in halftones: 12   Downloadable patterns? Yes<br>
Data Compression: <br>
Contrast Settings: 14   Exposure Settings: 14<br>
Adjustable Shadow/Highlight? yes   Adjustable Midtone? no <br>
Digital brightness/offset? no<br>
Gamma Table Size: 256 entries of 1 bytes (max. value: 255)<br>
===== Source Options...<br>
Feed type:  flatbed    ADF support? yes<br>
Document Feeder Support? yes   Feeder Backtracking? no <br>
Feeder Installed? no           Feeder Ready? no <br>
Transparency Adapter Installed? no <br>
Fast Color Prescan? no<br>
Selectable Transfer Format? no<br>
Color Transfer Sequence: plane-by-plane (3-pass)<br>
Three pass scan support? yes<br>
ModeSelect-1 and ModeSense-1 Support? no<br>
Can Disable Linearization Table? no<br>
Can Disable Start-of-Scan Recalibration? no<br>
Internal expanded expansion? no<br>
####<br>
<p>
and what scsiinfo -p has to say (the last one is the scanner):<br>
<p>
####<br>
esp0: sd1,0 tgt 1 lun 0:<br>
        Asynchronous Noisy CanReconnect<br>
        Non-removable Disk:     QUANTUM  P105SS 910-10-94 A.1          <br>
[]<br>
esp0: sd2,0 tgt 2 lun 0:<br>
        Asynchronous Noisy CanReconnect<br>
        Non-removable Disk:     QUANTUM  P105SS 910-10-94 A.1          <br>
[]<br>
esp0: scg0,0 tgt 0 lun 0:<br>
        Asynchronous Noisy CanReconnect<br>
        &lt;&lt;&lt; SCSI probe failed: device driver doesn't support probing &gt;&gt;&gt;<br>
####<br>
<p>
Any idea on how to make that thing work ?<br>
<p>
TIA<br>
<p>
<p>
<p>
<p>
##### PATCH 1 [600 GS recognition]<br>
*** sane-1.0.1/backend/microtek.c       Sun Feb 28 20:23:53 1999<br>
--- sane-1.0.1-new/backend/microtek.c   Sat Jun 19 10:44:38 1999<br>
***************<br>
*** 1762,1767 ****<br>
--- 1762,1768 ----<br>
        !(strncmp("MII SC21", &amp;(result[8]), 8)) ||  /* for the 600ZS */<br>
        !(strncmp("MII SC23", &amp;(result[8]), 8)) ||  /* for the -other-<br>
600ZS */<br>
        !(strncmp("AGFA    ", &amp;(result[8]), 8)) ||  /* for Arcus II */<br>
+       !(strncmp("MII SC25", &amp;(result[8]), 8)) ||  /* for ScanMaker<br>
600GS */<br>
        !(strncmp("        ", &amp;(result[8]), 8)) ) {<br>
      switch (result[62]) {<br>
      case 0x16 :<br>
##### END OF PATCH 1<br>
<p>
<pre>
-- 
romain
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0192.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0190.html">Remmert: "New Camera"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
