<!-- received="Sat Jun 26 15:39:36 1999 PDT" -->
<!-- sent="Sun, 27 Jun 1999 00:38:10 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="Umax 1200S on LinuxPPC R5" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 27 Jun 1999 00:38:10 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#199">[ date ]</a><a href="index.html#199">[ thread ]</a><a href="subject.html#199">[ subject ]</a><a href="author.html#199">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0198.html">Oliver Rauch: "Re: New Camera"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0200.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Douglas Gilbert wrote:<br>
<p>
<i>&gt; As I posted recently, if a problem with the sg driver is</i><br>
<i>&gt; suspected then the user should download the utility and</i><br>
<i>&gt; test program tarball from:</i><br>
<i>&gt; <a href="http://www.torque.net/sg">http://www.torque.net/sg</a></i><br>
<i>&gt;</i><br>
<i>&gt; and run "sg_scan -i". This goes through ever SCSI</i><br>
<i>&gt; device mapped to /dev/sg* and sends an INQUIRY command</i><br>
<i>&gt; to it and outputs the result. That program should work</i><br>
<i>&gt; on any linux kernel from from 2.0 to 2.3.8 .</i><br>
<i>&gt;</i><br>
<i>&gt; BTW The mapping of SCSI devices to /dev/sg* file names</i><br>
<i>&gt; is in the same order as those devices appear in</i><br>
<i>&gt; 'cat /proc/scsi/scsi'.</i><br>
<i>&gt;</i><br>
<p>
Hi Dough,<br>
<p>
thanks for that info (did not read it befor).<br>
I will take a look at it!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0198.html">Oliver Rauch: "Re: New Camera"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0200.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
