<!-- received="Sat Jun 26 16:31:56 1999 PDT" -->
<!-- sent="Sun, 27 Jun 1999 01:29:35 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="Umax 1200S on LinuxPPC R5" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 27 Jun 1999 01:29:35 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#200">[ date ]</a><a href="index.html#200">[ thread ]</a><a href="subject.html#200">[ subject ]</a><a href="author.html#200">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0201.html">Nick Lamb: "Re: New Camera"</a>
<li> <b>Previous message:</b> <a href="0199.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0206.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Simon,<br>
<p>
please edit sane/backend/umax.c<br>
<p>
search for sense_handler<br>
and set a remark in the return-line:<br>
<p>
if ( get_RS_error_code(result) != 0x70 )<br>
  {<br>
    DBG(DBG_proc, "invalid sense key =&gt; handled as DEVICE BUSY!\n");<br>
//    return<br>
SANE_STATUS_DEVICE_BUSY;                                                     /* sense<br>
key invalid */<br>
  }<br>
<p>
<p>
search for identify_scanner<br>
some lines down set a remark in the if-line:<br>
<p>
//  if (get_inquiry_periph_devtype(dev-&gt;buffer) != IN_periph_devtype_scanner) {<br>
return 1; }      /* no scanner */<br>
<p>
The do<br>
<p>
    make clean<br>
<p>
    make<br>
<p>
as root:<br>
<p>
    make install<br>
<p>
and then as normal user:<br>
<p>
export SANE_DEBUG_UMAX=10<br>
<p>
and call (x)scanimage<br>
<p>
Bye<br>
<p>
Oliver<br>
<p>
<pre>
--
<p>
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0201.html">Nick Lamb: "Re: New Camera"</a>
<li> <b>Previous message:</b> <a href="0199.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0206.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
