<!-- received="Sat Jun 26 23:00:21 1999 PDT" -->
<!-- sent="Sun, 27 Jun 1999 07:59:05 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="Hugo.van.der.Kooij@caiw.nl" -->
<!-- subject="Re: New Camera" -->
<!-- id="" -->
<!-- inreplyto="37755581.41482F2E@wolfsburg.de" -->
<title>sane-devel: Re: New Camera</title>
<h1>Re: New Camera</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:Hugo.van.der.Kooij@caiw.nl"><i>Hugo.van.der.Kooij@caiw.nl</i></a>)<br>
<i>Sun, 27 Jun 1999 07:59:05 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#202">[ date ]</a><a href="index.html#202">[ thread ]</a><a href="subject.html#202">[ subject ]</a><a href="author.html#202">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">Oliver Rauch: "Re: New Camera"</a>
<li> <b>Previous message:</b> <a href="0201.html">Nick Lamb: "Re: New Camera"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 27 Jun 1999, Oliver Rauch wrote:<br>
<p>
<i>&gt; Hugo van der Kooij wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; And how do you think support for this device will happen? Just because you</i><br>
<i>&gt; &gt; like it to be there?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; I think it is good that the manufacturors do ask us to support their</i><br>
<i>&gt; hardware. Ok, his mail was a bit strange, but would it be possible</i><br>
<i>&gt; to be a bit more friendly?</i><br>
<i>&gt; </i><br>
<i>&gt; Each time a manufacturer connects to the sane mailling list, someone is</i><br>
<i>&gt; making a "less friendly" mail. One day the manufactorers will not ask</i><br>
<i>&gt; and will not give any docs if this goes on this way.</i><br>
<p>
Pardon me. But this was NOT a manufacturer. But someone from a Linux User<br>
Group. One who should know how live is with Linux support.<br>
<p>
Hugo.<br>
<p>
<pre>
-- 
Hugo van der Kooij; Oranje Nassaustraat 16; 3155 VJ  Maasland
<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>		 <a href="http://www.caiw.nl/~hvdkooij/">http://www.caiw.nl/~hvdkooij/</a>
--------------------------------------------------------------
Use of any of my email addresses for unsollicited (commercial)
    email is a clear intrusion of my privacy and illegal!
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">Oliver Rauch: "Re: New Camera"</a>
<li> <b>Previous message:</b> <a href="0201.html">Nick Lamb: "Re: New Camera"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
