<!-- received="Wed Nov  4 09:31:23 1998 PST" -->
<!-- sent="Wed, 4 Nov 1998 17:01:44 +0000" -->
<!-- name="James Carter" -->
<!-- email="james@cs.york.ac.uk" -->
<!-- subject="hporig driver" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: hporig driver</title>
<h1>hporig driver</h1>
<b>James Carter</b> (<a href="mailto:james@cs.york.ac.uk"><i>james@cs.york.ac.uk</i></a>)<br>
<i>Wed, 4 Nov 1998 17:01:44 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#39">[ date ]</a><a href="index.html#39">[ thread ]</a><a href="subject.html#39">[ subject ]</a><a href="author.html#39">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0040.html">Martin Huber: "Re: pre-release available for testing"</a>
<li> <b>Previous message:</b> <a href="0038.html">Jon Schneider: "Re: problem getting linux to recognize SCSI host adapter"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
is this driver likely to be integrated into the source tree?<br>
(see <a href="http://www.mostang.com/mail-archive/sane-devel/1998-06/0009.html">http://www.mostang.com/mail-archive/sane-devel/1998-06/0009.html</a>)<br>
<p>
i've like to get 0.74 running with a scanjet plus.<br>
<p>
christer provided a patch for 0.73 which i've attempted to patch<br>
against 0.74 (by hand - at least in part). it doesn't seem to work<br>
though: i get errors from ld.so - it can't find various things in<br>
libsanei.a (a static library!).<br>
<p>
thanks.<br>
<p>
<pre>
-- 
 J.F.Carter                    &lt;URL:<a href="http://www.cs.york.ac.uk/~james/">http://www.cs.york.ac.uk/~james/</a>&gt; 
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0040.html">Martin Huber: "Re: pre-release available for testing"</a>
<li> <b>Previous message:</b> <a href="0038.html">Jon Schneider: "Re: problem getting linux to recognize SCSI host adapter"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
