<!-- received="Wed Nov  4 15:30:28 1998 PST" -->
<!-- sent="Wed, 04 Nov 1998 21:34:26 +0000" -->
<!-- name="Jonathan Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: Parallel Port UMAX support?" -->
<!-- id="m0zbAZP-0002n2C@hex" -->
<!-- inreplyto="Parallel Port UMAX support?" -->
<title>sane-devel: Re: Parallel Port UMAX support?</title>
<h1>Re: Parallel Port UMAX support?</h1>
<b>Jonathan Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Wed, 04 Nov 1998 21:34:26 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#43">[ date ]</a><a href="index.html#43">[ thread ]</a><a href="subject.html#43">[ subject ]</a><a href="author.html#43">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">John Brush: "Microtek E3 and OS/2"</a>
<li> <b>Previous message:</b> <a href="0042.html">Andre Couture: "Re: Question."</a>
<li> <b>Maybe in reply to:</b> <a href="0036.html">Matthew Kirkwood: "Parallel Port UMAX support?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">John Brush: "Microtek E3 and OS/2"</a>
<li> <b>Reply:</b> <a href="0044.html">John Brush: "Microtek E3 and OS/2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:weejock@ferret.lmh.ox.ac.uk">weejock@ferret.lmh.ox.ac.uk</a> said:<br>
<i>&gt; Nothing on the web site suggests that these are supported, so I was </i><br>
<i>&gt; just wondering if anyone was working on it or if documentation is </i><br>
<i>&gt; available for them.  I'm prepared hack with getting it working if it </i><br>
<i>&gt; doesn't involve a reverse engineering job... </i><br>
<p>
UMAX refuse to give out the parallel port specs for their scanners,<br>
so badger them.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">John Brush: "Microtek E3 and OS/2"</a>
<li> <b>Previous message:</b> <a href="0042.html">Andre Couture: "Re: Question."</a>
<li> <b>Maybe in reply to:</b> <a href="0036.html">Matthew Kirkwood: "Parallel Port UMAX support?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">John Brush: "Microtek E3 and OS/2"</a>
<li> <b>Reply:</b> <a href="0044.html">John Brush: "Microtek E3 and OS/2"</a>
<!-- reply="end" -->
</ul>
