<!-- received="Fri Nov  6 04:57:01 1998 PST" -->
<!-- sent="Fri, 6 Nov 1998 13:55:54 +0100 (MET)" -->
<!-- name="Hendryk Pfeiffer" -->
<!-- email="pfeiffer@physik.rwth-aachen.de" -->
<!-- subject="automatic document feeder" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: automatic document feeder</title>
<h1>automatic document feeder</h1>
<b>Hendryk Pfeiffer</b> (<a href="mailto:pfeiffer@physik.rwth-aachen.de"><i>pfeiffer@physik.rwth-aachen.de</i></a>)<br>
<i>Fri, 6 Nov 1998 13:55:54 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#55">[ date ]</a><a href="index.html#55">[ thread ]</a><a href="subject.html#55">[ subject ]</a><a href="author.html#55">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">Neil Zampella: "Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<li> <b>Previous message:</b> <a href="0054.html">Martin Huber: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0064.html">P. Kirchgessner: "Re: automatic document feeder"</a>
<li> <b>Reply:</b> <a href="0064.html">P. Kirchgessner: "Re: automatic document feeder"</a>
<li> <b>Reply:</b> <a href="0116.html">P. Kirchgessner: "Re: automatic document feeder"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
can anyone recommend a SCSI scanner with automatic document feeder which<br>
is known to work with Linux+SANE? <br>
<p>
What about HP 6250C? <br>
<p>
I have an ASUS SC200 (with NCR 810) SCSI controller. My harddisks are<br>
all SCSI. Are there other technical details to pay attention to?<br>
<p>
<p>
Thanks in advance<br>
<p>
<p>
Hendryk Pfeiffer<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">Neil Zampella: "Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<li> <b>Previous message:</b> <a href="0054.html">Martin Huber: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0064.html">P. Kirchgessner: "Re: automatic document feeder"</a>
<li> <b>Reply:</b> <a href="0064.html">P. Kirchgessner: "Re: automatic document feeder"</a>
<li> <b>Reply:</b> <a href="0116.html">P. Kirchgessner: "Re: automatic document feeder"</a>
<!-- reply="end" -->
</ul>
