<!-- received="Tue Nov 10 11:41:38 1998 PST" -->
<!-- sent="Tue, 10 Nov 1998 15:03:13 +0100" -->
<!-- name="Yuri Dario" -->
<!-- email="mc6530@mclink.it" -->
<!-- subject="Re: sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$" -->
<!-- id="199811101912.UAA09119@mail1.mclink.it" -->
<!-- inreplyto="sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$" -->
<title>sane-devel: Re: sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$</title>
<h1>Re: sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$</h1>
<b>Yuri Dario</b> (<a href="mailto:mc6530@mclink.it"><i>mc6530@mclink.it</i></a>)<br>
<i>Tue, 10 Nov 1998 15:03:13 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#92">[ date ]</a><a href="index.html#92">[ thread ]</a><a href="subject.html#92">[ subject ]</a><a href="author.html#92">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">Victor Jose Cedres Garcia: "Problems with sane 0.74 for OS/2"</a>
<li> <b>Previous message:</b> <a href="0091.html">Yuri Dario: "Re: Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<li> <b>Maybe in reply to:</b> <a href="0069.html">Kris Kadela: "sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 09 Nov 1998 14:02:48 -0700, Kris Kadela wrote:<br>
<p>
<i>&gt;I get a trap e every time the scanner is just </i><br>
<i>&gt;about ready to start scanning.</i><br>
<i>&gt;</i><br>
<i>&gt;Mustek MFS-6000CX</i><br>
<i>&gt;NCR 8xx SCSI</i><br>
<p>
on both versions? it should be fixed on 0.74, with the new multithread backend.<br>
<p>
<p>
Bye,<br>
<p>
	Yuri Dario<br>
<p>
/*<br>
 * member of TeamOS/2 - Italy<br>
 */<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">Victor Jose Cedres Garcia: "Problems with sane 0.74 for OS/2"</a>
<li> <b>Previous message:</b> <a href="0091.html">Yuri Dario: "Re: Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<li> <b>Maybe in reply to:</b> <a href="0069.html">Kris Kadela: "sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
