<!-- received="Tue Nov 10 13:04:00 1998 PST" -->
<!-- sent="Tue, 10 Nov 1998 20:46:11 +0000" -->
<!-- name="Jonathan Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: Mustek 1200 III EP?" -->
<!-- id="m0zdKfz-0005ehC@hex" -->
<!-- inreplyto="36485443.4750D01E@ic.ac.uk" -->
<title>sane-devel: Re: Mustek 1200 III EP?</title>
<h1>Re: Mustek 1200 III EP?</h1>
<b>Jonathan Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Tue, 10 Nov 1998 20:46:11 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Martin Huber: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<li> <b>Previous message:</b> <a href="0093.html">Victor Jose Cedres Garcia: "Problems with sane 0.74 for OS/2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:a.bolsch@ic.ac.uk">a.bolsch@ic.ac.uk</a> said:<br>
<i>&gt; Other option is to hook a port sniffer or a logic analyzer on the port</i><br>
<i>&gt; while using the windows driver supplied. </i><br>
<p>
Not a very practical option though. Much better to grab the latest copy of<br>
Wine (981025 or later) and use it's new port tracing facility that was<br>
developed for just this purpose.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Martin Huber: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<li> <b>Previous message:</b> <a href="0093.html">Victor Jose Cedres Garcia: "Problems with sane 0.74 for OS/2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
