<!-- received="Tue Nov 10 17:44:03 1998 PST" -->
<!-- sent="Tue, 10 Nov 1998 20:31:33 -0500 (EST)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: Microtek E3 and OS/2" -->
<!-- id="m0zdP89-000q11C@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Microtek E3 and OS/2" -->
<title>sane-devel: Re: Microtek E3 and OS/2</title>
<h1>Re: Microtek E3 and OS/2</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Tue, 10 Nov 1998 20:31:33 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#100">[ date ]</a><a href="index.html#100">[ thread ]</a><a href="subject.html#100">[ subject ]</a><a href="author.html#100">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">John Brush: "Re: Microtek E3 and OS/2"</a>
<li> <b>Previous message:</b> <a href="0099.html">Matto Marjanovic: "Re: Blackwidow 4800SP is really..."</a>
<li> <b>Maybe in reply to:</b> <a href="0044.html">John Brush: "Microtek E3 and OS/2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0101.html">John Brush: "Re: Microtek E3 and OS/2"</a>
<li> <b>Reply:</b> <a href="0101.html">John Brush: "Re: Microtek E3 and OS/2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i> &gt;From: <a href="mailto:jbrush@aros.net">jbrush@aros.net</a> (John Brush)</i><br>
<i> &gt;Date: Wed, 04 Nov 98 17:25:56 -0700</i><br>
<p>
<i> &gt;Still trying to understand why the web page says that SANE for OS/2</i><br>
<i> &gt;provides high res for the Microtek E3, but all I can get out of it is</i><br>
<i> &gt;the same old 100 DPI max.</i><br>
<p>
What web page?  Which version of the microtek backend?<br>
<p>
As of microtek v0.8, some problems with buffer allocation were fixed,<br>
 and then totally revamped in v0.9, so that high-res scans should work a-ok.<br>
<p>
Sorry, but I'm really not familiar with the OS/2 distributution.<br>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">John Brush: "Re: Microtek E3 and OS/2"</a>
<li> <b>Previous message:</b> <a href="0099.html">Matto Marjanovic: "Re: Blackwidow 4800SP is really..."</a>
<li> <b>Maybe in reply to:</b> <a href="0044.html">John Brush: "Microtek E3 and OS/2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0101.html">John Brush: "Re: Microtek E3 and OS/2"</a>
<li> <b>Reply:</b> <a href="0101.html">John Brush: "Re: Microtek E3 and OS/2"</a>
<!-- reply="end" -->
</ul>
