<!-- received="Wed Nov 18 21:15:36 1998 PST" -->
<!-- sent="Wed, 18 Nov 1998 21:15:35 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: [ANNOUNCE] New backend for Abaton scanners" -->
<!-- id="199811190515.VAA04889@panda.mostang.com" -->
<!-- inreplyto="19981118222226.A14796@overlord.@" -->
<title>sane-devel: Re: [ANNOUNCE] New backend for Abaton scanners</title>
<h1>Re: [ANNOUNCE] New backend for Abaton scanners</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 18 Nov 1998 21:15:35 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#156">[ date ]</a><a href="index.html#156">[ thread ]</a><a href="subject.html#156">[ subject ]</a><a href="author.html#156">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">David Rose: "News from Minolta"</a>
<li> <b>Previous message:</b> <a href="0155.html">LE ROUX GILDAS: "pb scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 18 Nov 1998 22:22:26 -0500, David Huggins-Daines &lt;<a href="mailto:bn711@freenet.carleton.ca">bn711@freenet.carleton.ca</a>&gt; said:</i><br>
<p>
  David.H&gt; P.S. How do I go about getting it included in the SANE<br>
  David.H&gt; distribution?<br>
<p>
It's quite simple: just convince me that your backend follows the<br>
guidelines spelled out in backend/GUIDE (please don't cheat on testing<br>
with "saned").  Also, please make sure that your backend doesn't have<br>
any ill effects if no Abaton scanner is connected to the computer<br>
(it's customary to install _all_ available backends and let the<br>
backends determine what devices are actually installed).<br>
<p>
Nice work, btw!  I'm definitely interested in including your backend<br>
for the 1.0 release.<br>
<p>
Cheers,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">David Rose: "News from Minolta"</a>
<li> <b>Previous message:</b> <a href="0155.html">LE ROUX GILDAS: "pb scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
