<!-- received="Thu Nov 19 10:44:35 1998 PST" -->
<!-- sent="Thu, 19 Nov 1998 13:40:11 -0500" -->
<!-- name="Richard Reuters" -->
<!-- email="100706.261@compuserve.com" -->
<!-- subject="Scn2_90.zip &amp; 9a.zip" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Scn2_90.zip &amp; 9a.zip</title>
<h1>Scn2_90.zip &amp; 9a.zip</h1>
<b>Richard Reuters</b> (<a href="mailto:100706.261@compuserve.com"><i>100706.261@compuserve.com</i></a>)<br>
<i>Thu, 19 Nov 1998 13:40:11 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#168">[ date ]</a><a href="index.html#168">[ thread ]</a><a href="subject.html#168">[ subject ]</a><a href="author.html#168">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Michael K. Johnson: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Previous message:</b> <a href="0167.html">Jeff Freedman: "Re: forwarded message from Richard Stallman"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Oliver Rauch: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Maybe reply:</b> <a href="0086.html">Oliver Rauch: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Maybe reply:</b> <a href="0087.html">Kris Kadela: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Maybe reply:</b> <a href="0108.html">Yuri Dario: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi, <br>
<p>
<p>
<i> &gt;  Don't know if I asking this in the right place so please forgive  </i><br>
<i> &gt; me. The pm version of sane for OS2 is Trapping out when I try to open the  </i><br>
<i> &gt; Scan It/2 ..    </i><br>
<p>
<p>
I'm the author of Scan It/2. This is a known problem on some machines. I<br>
have  a newer and enhanced release ready to upload, but my internet dialer<br>
traps if  I try to upload files larger then some 100 KB to any ftp site :(.<br>
I'm looking  for another way, so stay tuned. <br>
<p>
<p>
Richard Reuters, Germany  <br>
  <br>
  [visit me at <a href="http://ourworld.compuserve.com/homepages/Reuters/">http://ourworld.compuserve.com/homepages/Reuters/</a>] <br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Michael K. Johnson: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Previous message:</b> <a href="0167.html">Jeff Freedman: "Re: forwarded message from Richard Stallman"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Oliver Rauch: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Maybe reply:</b> <a href="0086.html">Oliver Rauch: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Maybe reply:</b> <a href="0087.html">Kris Kadela: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Maybe reply:</b> <a href="0108.html">Yuri Dario: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<!-- reply="end" -->
</ul>
