<!-- received="Sat Nov 21 16:16:28 1998 PST" -->
<!-- sent="Sat, 21 Nov 1998 16:16:27 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Output filters for xscanimage:a simple attempt" -->
<!-- id="199811220016.QAA24095@panda.mostang.com" -->
<!-- inreplyto="199811190809.JAA15369@itpgyro1.fzk.de" -->
<title>sane-devel: Re: Output filters for xscanimage:a simple attempt</title>
<h1>Re: Output filters for xscanimage:a simple attempt</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sat, 21 Nov 1998 16:16:27 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#187">[ date ]</a><a href="index.html#187">[ thread ]</a><a href="subject.html#187">[ subject ]</a><a href="author.html#187">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Previous message:</b> <a href="0186.html">David Mosberger-Tang: "forwarded message from Joerg Lenneis"</a>
<li> <b>In reply to:</b> <a href="0159.html">Stefan Illy: "Re: Output filters for xscanimage:a simple attempt"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 19 Nov 1998 09:09:48 +0100 (MET), Stefan Illy &lt;<a href="mailto:stefan.illy@itp.fzk.de">stefan.illy@itp.fzk.de</a>&gt; said:</i><br>
<p>
  Stefan&gt; What is the reason for using fseek (and also ftell) in<br>
  Stefan&gt; xscanimage.c?  Is there a possibility for avoiding this in<br>
  Stefan&gt; future releases of sane?<br>
<p>
The reason is that three-pass color scanners deliver image data in<br>
band-interleaved format (e.g., all red pixels, followed by all blue<br>
pixels, etc.) whereas most image formats want pixel-interleaved format<br>
(red, green, blue value, followed by next pixel).  We use fseek() in<br>
xscanimage to avoid having to buffer the entire image in memory (which<br>
may be huge).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Previous message:</b> <a href="0186.html">David Mosberger-Tang: "forwarded message from Joerg Lenneis"</a>
<li> <b>In reply to:</b> <a href="0159.html">Stefan Illy: "Re: Output filters for xscanimage:a simple attempt"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
