<!-- received="Mon Nov 23 09:00:12 1998 PST" -->
<!-- sent="Mon, 23 Nov 1998 09:00:12 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Too many options for xscanimage" -->
<!-- id="199811231700.JAA01887@panda.mostang.com" -->
<!-- inreplyto="Pine.HPP.4.05.9811231021260.25233-100000@netadm.ipp-garching.mpg.de" -->
<title>sane-devel: Re: Too many options for xscanimage</title>
<h1>Re: Too many options for xscanimage</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 23 Nov 1998 09:00:12 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#221">[ date ]</a><a href="index.html#221">[ thread ]</a><a href="subject.html#221">[ subject ]</a><a href="author.html#221">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0222.html">Oliver Rauch: "Re: Too many options for xscanimage"</a>
<li> <b>Previous message:</b> <a href="0220.html">David Mosberger-Tang: "Re: SANE v1.00 is out! --- Mustek problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 23 Nov 1998 10:26:26 +0100 (MET), Manuel Panea &lt;<a href="mailto:mpd@rzg.mpg.de">mpd@rzg.mpg.de</a>&gt; said:</i><br>
<p>
  Manuel&gt; The number of settable options has got so long that the<br>
  Manuel&gt; xscanimage window is too high to fit on my screen<br>
  Manuel&gt; (1024x768). Is there any solution for this? I saw that other<br>
  Manuel&gt; backends like Mustek or Umax also have lots of options. How<br>
  Manuel&gt; do they look like, then?<br>
<p>
Umh, that sounds bad.  Are all those options really needed?  I suspect<br>
a user interface as complex as this would be confusing to first time<br>
users anyhow, no?  Anyhow, you could use "advanced" options to hide<br>
some of the less frequently used options.  A more general solution<br>
would be to go back to using a GTK notebook so you can select<br>
different pages of options.  However, back when we had that, I did not<br>
like it very much because its awkward if you can't see all relevant<br>
options on a single page.<br>
<p>
Again, to me the more interesting question is why does that scanner<br>
have that many options and should they really all be exposed to the<br>
user?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0222.html">Oliver Rauch: "Re: Too many options for xscanimage"</a>
<li> <b>Previous message:</b> <a href="0220.html">David Mosberger-Tang: "Re: SANE v1.00 is out! --- Mustek problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
