<!-- received="Mon Nov 23 09:23:16 1998 PST" -->
<!-- sent="Mon, 23 Nov 1998 18:22:23 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Too many options for xscanimage" -->
<!-- id="" -->
<!-- inreplyto="Too many options for xscanimage" -->
<title>sane-devel: Re: Too many options for xscanimage</title>
<h1>Re: Too many options for xscanimage</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 23 Nov 1998 18:22:23 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#223">[ date ]</a><a href="index.html#223">[ thread ]</a><a href="subject.html#223">[ subject ]</a><a href="author.html#223">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0224.html">David Mosberger-Tang: "Re: Too many options for xscanimage"</a>
<li> <b>Previous message:</b> <a href="0222.html">Oliver Rauch: "Re: Too many options for xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<p>
<i>&gt;  A more general solution</i><br>
<i>&gt; would be to go back to using a GTK notebook so you can select</i><br>
<i>&gt; different pages of options.</i><br>
<p>
That will be included into my new frontend!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0224.html">David Mosberger-Tang: "Re: Too many options for xscanimage"</a>
<li> <b>Previous message:</b> <a href="0222.html">Oliver Rauch: "Re: Too many options for xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
