<!-- received="Thu Nov 26 08:39:44 1998 PST" -->
<!-- sent="Thu, 26 Nov 1998 18:36:29 +0200 (EET)" -->
<!-- name="Viljo Hakala" -->
<!-- email="vipe@terafox.fi" -->
<!-- subject="Re: Kodak dc210" -->
<!-- id="" -->
<!-- inreplyto="365D6AC4.874015A4@insync.net" -->
<title>sane-devel: Re: Kodak dc210</title>
<h1>Re: Kodak dc210</h1>
<b>Viljo Hakala</b> (<a href="mailto:vipe@terafox.fi"><i>vipe@terafox.fi</i></a>)<br>
<i>Thu, 26 Nov 1998 18:36:29 +0200 (EET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#250">[ date ]</a><a href="index.html#250">[ thread ]</a><a href="subject.html#250">[ subject ]</a><a href="author.html#250">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0251.html">Andre Couture: "BizCard Scanner drivers for Win3.1? (actually Wine!)"</a>
<li> <b>Previous message:</b> <a href="0249.html">Miles Lott: "Kodak dc210"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 26 Nov 1998, Miles Lott wrote:<br>
<p>
<i>&gt; I can load pictures from the camera just fine using latest SANE 1.0.</i><br>
<i>&gt; However, I can only do this as root.  A regular user has access only to</i><br>
<i>&gt; list the devices and get thumbnails using gimp plugin.  </i><br>
What if this is just a permission problem with the serial device?<br>
Include yourself to the device's group, and give write and read access for<br>
the group (chmod g+rw /dev/ttySX, where X is your serial port). <br>
<p>
If it still doesn't work, the problem is elsewhere (could be perms<br>
somewhere else), or also  in the kernel itself (hardly to be the case<br>
here).. <br>
 <br>
<p>
rgds,<br>
	vh<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0251.html">Andre Couture: "BizCard Scanner drivers for Win3.1? (actually Wine!)"</a>
<li> <b>Previous message:</b> <a href="0249.html">Miles Lott: "Kodak dc210"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
