<!-- received="Thu Nov 26 11:51:48 1998 PST" -->
<!-- sent="Wed, 25 Nov 1998 13:59:39 -0900 (AKST)" -->
<!-- name="Debi-Lee Wilkinson" -->
<!-- email="debi@gi.alaska.edu" -->
<!-- subject="parallel port scanner" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: parallel port scanner</title>
<h1>parallel port scanner</h1>
<b>Debi-Lee Wilkinson</b> (<a href="mailto:debi@gi.alaska.edu"><i>debi@gi.alaska.edu</i></a>)<br>
<i>Wed, 25 Nov 1998 13:59:39 -0900 (AKST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#254">[ date ]</a><a href="index.html#254">[ thread ]</a><a href="subject.html#254">[ subject ]</a><a href="author.html#254">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0255.html">Andrew M. Kuchling: "Remote Microscope software 1.0a1 released"</a>
<li> <b>Previous message:</b> <a href="0253.html">Alberto Porta: "Epson GT-5500 Success!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0261.html">Milon Firikis: "Re: parallel port scanner"</a>
<li> <b>Reply:</b> <a href="0261.html">Milon Firikis: "Re: parallel port scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I appologize if I have not sent this message to the right address, please <br>
forward it on if that is the case. <br>
I am working with an HP scanner coupled to my printer through the parallel<br>
port.  I believe I have sucessfully installed sane and added lines to the<br>
/etc/services and /etc/inetd.conf.<br>
<p>
[root@wiz tools]# ./find-scanner -v <br>
find-scanner: searching for scanners:<br>
find-scanner: checking /dev/scanner...<br>
find-scanner: checking /dev/sg0...<br>
find-scanner: found disk "IBM DDRS-34560W S97B" at device /dev/sg0<br>
find-scanner: checking /dev/sg1...<br>
find-scanner: found disk "IBM DDRS-39130W S71D" at device /dev/sg1<br>
find-scanner: checking /dev/sg2...<br>
find-scanner: found CD-drive "TEAC CD-ROM CD-532S 1.0A" at device /dev/sg2<br>
find-scanner: checking /dev/sg3...<br>
find-scanner: found CD-drive "YAMAHA CRW4260 1.0h" at device /dev/sg3<br>
find-scanner: checking /dev/sg4...<br>
find-scanner: found tape "SONY SDT-7000 0300" at device /dev/sg4<br>
find-scanner: checking /dev/sg5...<br>
find-scanner: found disk "IOMEGA ZIP 100 J.03" at device /dev/sg5<br>
find-scanner: checking /dev/sg6...<br>
find-scanner: checking /dev/sg7...<br>
find-scanner: checking /dev/sg8...<br>
find-scanner: checking /dev/sg9...<br>
find-scanner: checking /dev/sga...<br>
find-scanner: found disk "IBM DDRS-34560W S97B" at device /dev/sga<br>
find-scanner: checking /dev/sgb...<br>
find-scanner: found disk "IBM DDRS-39130W S71D" at device /dev/sgb<br>
find-scanner: checking /dev/sgc...<br>
find-scanner: found CD-drive "TEAC CD-ROM CD-532S 1.0A" at device /dev/sgc<br>
find-scanner: checking /dev/sgd...<br>
find-scanner: found CD-drive "YAMAHA CRW4260 1.0h" at device /dev/sgd<br>
find-scanner: checking /dev/sge...<br>
find-scanner: found tape "SONY SDT-7000 0300" at device /dev/sge<br>
find-scanner: checking /dev/sgf...<br>
find-scanner: found disk "IOMEGA ZIP 100 J.03" at device /dev/sgf<br>
find-scanner: checking /dev/sgg...<br>
find-scanner: checking /dev/sgh...<br>
find-scanner: checking /dev/sgi...<br>
	.<br>
	.<br>
	.<br>
<p>
Type ``scanimage --help -d DEVICE'' to get list of all options for DEVICE.<br>
<p>
List of available devices:<br>
    pnm:0 pnm:1<br>
<p>
and I can not reconcile exactly what/where pnm:0 and pnm:1 are.<br>
<p>
My scanner is on lp1.  Or maybe I am using the wrong package for this type<br>
of connection.<br>
<p>
Any help you can offer will be appreciated.<br>
<p>
_____________________________________________________<br>
Debi-Lee Wilkinson<br>
Geophysical Institute<br>
University of Alaska Fairbanks<br>
907-474-6105<br>
<a href="mailto:debi@wiz.gi.alaska.edu">debi@wiz.gi.alaska.edu</a><br>
<a href="http://www.magnet.gi.alaska.edu">http://www.magnet.gi.alaska.edu</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0255.html">Andrew M. Kuchling: "Remote Microscope software 1.0a1 released"</a>
<li> <b>Previous message:</b> <a href="0253.html">Alberto Porta: "Epson GT-5500 Success!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0261.html">Milon Firikis: "Re: parallel port scanner"</a>
<li> <b>Reply:</b> <a href="0261.html">Milon Firikis: "Re: parallel port scanner"</a>
<!-- reply="end" -->
</ul>
