<!-- received="Thu Nov 26 12:56:49 1998 PST" -->
<!-- sent="Tue, 24 Nov 1998 08:56:00 -0500" -->
<!-- name="Andre Couture" -->
<!-- email="acouture@videotron.ca" -->
<!-- subject="Re: Fw: ViewStation AT3/A6000C Plus Reference Document" -->
<!-- id="" -->
<!-- inreplyto="Fw: ViewStation AT3/A6000C Plus Reference Document" -->
<title>sane-devel: Re: Fw: ViewStation AT3/A6000C Plus Reference Document</title>
<h1>Re: Fw: ViewStation AT3/A6000C Plus Reference Document</h1>
<b>Andre Couture</b> (<a href="mailto:acouture@videotron.ca"><i>acouture@videotron.ca</i></a>)<br>
<i>Tue, 24 Nov 1998 08:56:00 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#260">[ date ]</a><a href="index.html#260">[ thread ]</a><a href="subject.html#260">[ subject ]</a><a href="author.html#260">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0261.html">Milon Firikis: "Re: parallel port scanner"</a>
<li> <b>Previous message:</b> <a href="0259.html">David Mosberger-Tang: "Re: Fw: ViewStation AT3/A6000C Plus Reference Document"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Sorry didn't realise how big it was.<br>
<p>
no prob.<br>
<p>
/ac<br>
<p>
<p>
David Mosberger-Tang wrote:<br>
<p>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Tue, 24 Nov 1998 14:16:17 -0500, "Andre Couture" &lt;<a href="mailto:acouture@videotron.ca">acouture@videotron.ca</a>&gt; said:</i><br>
<i>&gt;</i><br>
<i>&gt;   Andre&gt; For those interested I got this document from Artec/Ultima</i><br>
<i>&gt;   Andre&gt; directly.  It contains all specs required for writing drivers</i><br>
<i>&gt;   Andre&gt; for those scanners.</i><br>
<i>&gt;</i><br>
<i>&gt; Please avoid sending large documents on this mailing list.  There are</i><br>
<i>&gt; people who pay by the byte of network traffic.  It's much better to</i><br>
<i>&gt; make such documents available via the web or ftp.</i><br>
<i>&gt;</i><br>
<i>&gt;         --david</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
<p>
  ------------------------------------------------------------------------
Andre Couture
938934 Ontario Inc.
<a href="mailto:acouture@videotron.ca">mailto:acouture@videotron.ca</a>
<p>
<a href="mailto:search_n_find@yahoo.com">mailto:search_n_find@yahoo.com</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0261.html">Milon Firikis: "Re: parallel port scanner"</a>
<li> <b>Previous message:</b> <a href="0259.html">David Mosberger-Tang: "Re: Fw: ViewStation AT3/A6000C Plus Reference Document"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
