<!-- received="Sun Nov 29 09:40:00 1998 PST" -->
<!-- sent="Sun, 29 Nov 1998 14:16:36 +0100 (CET)" -->
<!-- name="Sandro Gasparetto" -->
<!-- email="gasparetto@gbsw.net" -->
<!-- subject="Umax 610S" -->
<!-- id="199811291416.3636070.6@gbsw.net" -->
<!-- inreplyto="36613A11.2DBCE7C8@helvetet.net" -->
<title>sane-devel: Umax 610S</title>
<h1>Umax 610S</h1>
<b>Sandro Gasparetto</b> (<a href="mailto:gasparetto@gbsw.net"><i>gasparetto@gbsw.net</i></a>)<br>
<i>Sun, 29 Nov 1998 14:16:36 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#273">[ date ]</a><a href="index.html#273">[ thread ]</a><a href="subject.html#273">[ subject ]</a><a href="author.html#273">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0274.html">Oliver Rauch: "Re: Umax 610S"</a>
<li> <b>Previous message:</b> <a href="0272.html">Dr. Andreas Bolsch: "Re: Mustek 12000 SP not working"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0274.html">Oliver Rauch: "Re: Umax 610S"</a>
<li> <b>Reply:</b> <a href="0274.html">Oliver Rauch: "Re: Umax 610S"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Is anybody using the Umax 610 Scsi scanner ??<br>
<p>
Here I have an annoying problem .... it works, but every image has a nasty <br>
strip of about 1 inch, appended in front .  <br>
Each image needs a cut&amp;paste to get rid of that strip....<br>
<p>
Am I the only one ?  Is there a know cure to this problem ?<br>
<p>
<p>
memento : Delenda Carthago !    ICQ# 5794439<br>
 ( <a href="mailto:gasparetto@gbsw.net">gasparetto@gbsw.net</a> )  <a href="http://gbsw.net">http://gbsw.net</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0274.html">Oliver Rauch: "Re: Umax 610S"</a>
<li> <b>Previous message:</b> <a href="0272.html">Dr. Andreas Bolsch: "Re: Mustek 12000 SP not working"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0274.html">Oliver Rauch: "Re: Umax 610S"</a>
<li> <b>Reply:</b> <a href="0274.html">Oliver Rauch: "Re: Umax 610S"</a>
<!-- reply="end" -->
</ul>
