<!-- received="Sun Nov 29 13:00:21 1998 PST" -->
<!-- sent="Sun, 29 Nov 1998 21:57:10 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="SANE 1.00 breaks on Solaris v2.6" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE 1.00 breaks on Solaris v2.6</title>
<h1>SANE 1.00 breaks on Solaris v2.6</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sun, 29 Nov 1998 21:57:10 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#280">[ date ]</a><a href="index.html#280">[ thread ]</a><a href="subject.html#280">[ subject ]</a><a href="author.html#280">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0281.html">Viljo Hakala: "Kodak DC220/DC260 protocol interface specifications"</a>
<li> <b>Previous message:</b> <a href="0279.html">Thorsten Frueauf: "problem with sane 1.00 and NetBSD"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0283.html">wolfgang Rapp: "Re: SANE 1.00 breaks on Solaris v2.6"</a>
<li> <b>Reply:</b> <a href="0283.html">wolfgang Rapp: "Re: SANE 1.00 breaks on Solaris v2.6"</a>
<li> <b>Reply:</b> <a href="0289.html">Christopher J. Tearpak: "Re: SANE 1.00 breaks on Solaris v2.6"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
After a few glitches I finaly got stuck with the following error:<br>
<p>
gcc -c -g -O2 -Wall -DHAVE_CONFIG_H -I. -I. -I../include -I../include -D_GNU_SOURCE -DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d -DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=1 -DV_MINOR=0 -DBACKEND_NAME=djpeg -DLIBDIR=/usr/local/lib/sane djpeg.c &gt;/dev/null 2&gt;&amp;1<br>
gcc -c -g -O2 -Wall -DHAVE_CONFIG_H -I. -I. -I../include -I../include -D_GNU_SOURCE -DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d -DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=1 -DV_MINOR=0 -DBACKEND_NAME=dc210 -DLIBDIR=/usr/local/lib/sane -fPIC -DPIC dc210.c<br>
dc210.c: In function `init_dc210':<br>
dc210.c:329: warning: implicit declaration of function `cfmakeraw'<br>
dc210.c:344: `TCSBRKP' undeclared (first use this function)<br>
dc210.c:344: (Each undeclared identifier is reported only once<br>
dc210.c:344: for each function it appears in.)<br>
make[1]: *** [dc210.lo] Error 1<br>
make[1]: Leaving directory `/install/sane-1.00/backend'<br>
make: *** [all-recursive] Error 1<br>
<p>
Is this code broken or could there be another problem?<br>
<p>
I used gcc 2.7.2.3 to compile the lot.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0281.html">Viljo Hakala: "Kodak DC220/DC260 protocol interface specifications"</a>
<li> <b>Previous message:</b> <a href="0279.html">Thorsten Frueauf: "problem with sane 1.00 and NetBSD"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0283.html">wolfgang Rapp: "Re: SANE 1.00 breaks on Solaris v2.6"</a>
<li> <b>Reply:</b> <a href="0283.html">wolfgang Rapp: "Re: SANE 1.00 breaks on Solaris v2.6"</a>
<li> <b>Reply:</b> <a href="0289.html">Christopher J. Tearpak: "Re: SANE 1.00 breaks on Solaris v2.6"</a>
<!-- reply="end" -->
</ul>
