<!-- received="Mon Nov 30 05:09:48 1998 PST" -->
<!-- sent="Mon, 30 Nov 1998 15:06:36 +0200 (EET)" -->
<!-- name="Viljo Hakala" -->
<!-- email="vipe@terafox.fi" -->
<!-- subject="Re: Kodak DC220/DC260 protocol interface specifications" -->
<!-- id="" -->
<!-- inreplyto="3661CBD7.677A@von.ulm.de" -->
<title>sane-devel: Re: Kodak DC220/DC260 protocol interface specifications</title>
<h1>Re: Kodak DC220/DC260 protocol interface specifications</h1>
<b>Viljo Hakala</b> (<a href="mailto:vipe@terafox.fi"><i>vipe@terafox.fi</i></a>)<br>
<i>Mon, 30 Nov 1998 15:06:36 +0200 (EET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#293">[ date ]</a><a href="index.html#293">[ thread ]</a><a href="subject.html#293">[ subject ]</a><a href="author.html#293">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0294.html">Georg Huettenegger: "question concerning mustek paragon 600 II CD"</a>
<li> <b>Previous message:</b> <a href="0292.html">Christian Frank: "Relisys Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 29 Nov 1998, wolfgang Rapp wrote:<br>
<p>
<i>&gt; On the gtk Home Page I found a new project for digital cameras with a</i><br>
<i>&gt; link to the  Home Page. You may find there what you look for.</i><br>
<p>
Actually Kodak's dcc210 and lower are supported somehow, no support for<br>
<i>&gt;=dcc220.</i><br>
DC220 and dc260 are similar to their protocol interface... all I need is a<br>
spec release from KODAK.. but they haven't supplied one, yet. <br>
Hope they will.<br>
<p>
t. vh<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0294.html">Georg Huettenegger: "question concerning mustek paragon 600 II CD"</a>
<li> <b>Previous message:</b> <a href="0292.html">Christian Frank: "Relisys Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
