<!-- received="Wed Jul  2 02:29:06 1997 MST" -->
<!-- sent="Wed, 02 Jul 1997 02:20:46 -0700" -->
<!-- name="Amancio Hasty Jr." -->
<!-- email="hasty@star-gate.com" -->
<!-- subject="re: fix for sane 0.6, need testers" -->
<!-- id="199707012219.PAA11334@panda.mosberger" -->
<!-- inreplyto="fix for sane 0.6, need testers" -->
<title>sane-devel: re: fix for sane 0.6, need testers</title>
<h1>re: fix for sane 0.6, need testers</h1>
<b>Amancio Hasty Jr.</b> (<a href="mailto:hasty@star-gate.com"><i>hasty@star-gate.com</i></a>)<br>
<i>Wed, 02 Jul 1997 02:20:46 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#10">[ date ]</a><a href="index.html#10">[ thread ]</a><a href="subject.html#10">[ subject ]</a><a href="author.html#10">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Allan Nielsen: "compile-error with 0.6"</a>
<li> <b>Previous message:</b> <a href="0009.html">David Mosberger-Tang: "Re: sane-0.6 compile errors"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I will be happy to test your patches for FreeBSD.<br>
<p>
Currently, I am running FreeBSD 3.0, sane-0.6 with<br>
a umax S12,  gimp-99.10.<br>
<p>
My scsi mods to the umax scanner code  allows me to run sane with<br>
scsi disconnect and I supposed target queuing will also work.<br>
Will be happy to post my mods later on this week after I get a<br>
chance to clean up my code.<br>
<p>
On a separate issue , has anyone thought about interfacing sane to <br>
hylafax or a fax software package?<br>
<p>
	Cheers,<br>
	Amancio<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Allan Nielsen: "compile-error with 0.6"</a>
<li> <b>Previous message:</b> <a href="0009.html">David Mosberger-Tang: "Re: sane-0.6 compile errors"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
