<!-- received="Fri Jul 11 20:45:15 1997 MST" -->
<!-- sent="Fri, 11 Jul 1997 20:11:28 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Difficulties finding my scanner." -->
<!-- id="199707120311.UAA11464@panda.mosberger" -->
<!-- inreplyto="199707120122.SAA07789@panda.mosberger" -->
<title>sane-devel: Re: Difficulties finding my scanner.</title>
<h1>Re: Difficulties finding my scanner.</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Fri, 11 Jul 1997 20:11:28 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#35">[ date ]</a><a href="index.html#35">[ thread ]</a><a href="subject.html#35">[ subject ]</a><a href="author.html#35">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<li> <b>Previous message:</b> <a href="0034.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<li> <b>In reply to:</b> <a href="0034.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0036.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 11 Jul 1997 20:09:00 -0700, Jesse Hughes &lt;<a href="mailto:jesse%22@cmu.edu">jesse+@cmu.edu</a>&gt; said:</i><br>
<p>
  Jesse&gt;   I also think that I'm not gonna have much luck with the<br>
  Jesse&gt; ImageReader scanner.  But, I wanted to give it a try, since<br>
  Jesse&gt; it may use a driver that's compatible with other drivers (the<br>
  Jesse&gt; manufacturer mentioned Plustek -- is this promising?).<br>
<p>
OK, it's certainly worth a shot.  I don't know about Plustek either,<br>
though.<br>
<p>
  Jesse&gt;   But, even supposing that the driver is not supported,<br>
  Jesse&gt; shouldn't saned find the scanner?  Or are my intuitions<br>
  Jesse&gt; wrong?<br>
<p>
No, saned finds only what the other programs find.  But it won't<br>
_tell_ you what it finds, so it's not the best choice for debugging<br>
things.<br>
<p>
  Jesse&gt;   Here's what I get from scanimage:<br>
  Jesse&gt; root:/home/jesse$ scanimage<br>
  Jesse&gt; scanimage: sane_start: Invalid argument<br>
<p>
Here is what's going on: if you do "scanimage -L" you'll see the list<br>
of available devices.  You'll probably see pnm:0 and pnm:1 only.  By<br>
default, scanimage opens the first available device.  In your case,<br>
pnm:0.  By default, pnm:0 attempts to read /tmp/input.ppm and since<br>
you probably don't have such a file, the scan fails with "Invalid<br>
argument".<br>
<p>
  Jesse&gt;   Or else: root:/home/jesse$ scanimage -d /dev/sga<br>
  Jesse&gt; scanimage: open of device /dev/sga failed<br>
<p>
/dev/sga is not a valid device name in the default configuration.  See<br>
sane-dll(5) for some details, but briefly, you'd use:<br>
<p>
	    mustek:/dev/sga<br>
or<br>
	    umax:/dev/sga<br>
or<br>
	    hp:/dev/sga<br>
<p>
depending on the driver you want to use.<br>
<p>
	  --david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<li> <b>Previous message:</b> <a href="0034.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<li> <b>In reply to:</b> <a href="0034.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0036.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<!-- reply="end" -->
</ul>
