<!-- received="Mon Jul 14 09:28:46 1997 MST" -->
<!-- sent="Mon, 14 Jul 1997 08:13:14 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Cheap linux photo scanner" -->
<!-- id="199707141513.IAA29705@panda.mosberger" -->
<!-- inreplyto="33CA3DBE.51506A60@ccpl.carr.lib.md.us" -->
<title>sane-devel: Re: Cheap linux photo scanner</title>
<h1>Re: Cheap linux photo scanner</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Mon, 14 Jul 1997 08:13:14 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#58">[ date ]</a><a href="index.html#58">[ thread ]</a><a href="subject.html#58">[ subject ]</a><a href="author.html#58">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">David Mosberger-Tang: "Re: Hangs with B&amp;W QuickCam"</a>
<li> <b>Previous message:</b> <a href="0057.html">Andrew Kuchling: "Re: Hangs with B&amp;W QuickCam"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0060.html">Rildo Pragana: "Re: Cheap linux photo scanner"</a>
<li> <b>Reply:</b> <a href="0060.html">Rildo Pragana: "Re: Cheap linux photo scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 14 Jul 1997 08:00:23 -0700, John Culleton &lt;<a href="mailto:john@ccpl.carr.lib.md.us">john@ccpl.carr.lib.md.us</a>&gt; said:</i><br>
<p>
  John&gt; My wife will buy me a (cheap) color scanner. Some choices<br>
  John&gt; include: HP Scanjet 5s, Microtek Scanmaker E3, Mictotek Color<br>
  John&gt; PageWiz, Artec ViewStation AT6, Inland ScanTAK 2c Scanner<br>
  John&gt; (w/proprietary interface card). All are under $200 and some<br>
  John&gt; give 4800 dpi max resolution, hopefully enough for photos.<br>
<p>
  John&gt; I know the HP is supported but it is low res (300 dpi, 600 dpi<br>
  John&gt; max).<br>
<p>
I haven't received any reports regarding the HP 5s.  The 5p is known<br>
to work fine and I hope the same is true for the 5s, but I don't know<br>
for sure.<br>
<p>
  John&gt; Are any of the others supported? Does TWAIN compliant<br>
  John&gt; and an SCSI interface mean the scanner is supported by SANE?<br>
<p>
No, not as far as I can tell.  TWAIN is meaningless as far as Linux is<br>
concerned.  If you want something that is known to work, stick to<br>
what's listed in the relevant man pages (sane-mustek(5), sane-umax(5),<br>
sane-hp(5)).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">David Mosberger-Tang: "Re: Hangs with B&amp;W QuickCam"</a>
<li> <b>Previous message:</b> <a href="0057.html">Andrew Kuchling: "Re: Hangs with B&amp;W QuickCam"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0060.html">Rildo Pragana: "Re: Cheap linux photo scanner"</a>
<li> <b>Reply:</b> <a href="0060.html">Rildo Pragana: "Re: Cheap linux photo scanner"</a>
<!-- reply="end" -->
</ul>
