<!-- received="Thu Jul 17 07:53:08 1997 MST" -->
<!-- sent="Thu, 17 Jul 1997 07:35:08 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Mustek 3-pass scanner test code" -->
<!-- id="199707171435.HAA12406@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek 3-pass scanner test code</title>
<h1>Mustek 3-pass scanner test code</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Thu, 17 Jul 1997 07:35:08 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#77">[ date ]</a><a href="index.html#77">[ thread ]</a><a href="subject.html#77">[ subject ]</a><a href="author.html#77">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek: timeout after scan and cmd line parser bug"</a>
<li> <b>Previous message:</b> <a href="0076.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Jeremy Hansen: "Re: Mustek 3-pass scanner test code"</a>
<li> <b>Maybe reply:</b> <a href="0086.html">Jeremy Hansen: "Re: Mustek 3-pass scanner test code"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I recently tried a full lineart scan at 600dpi and noticed that the<br>
scanner would take a brief break every couple of seconds.  I thought<br>
that maybe this is the same kind of break that have been reported for<br>
3-pass scanners.  Having something to work with, I implemented a<br>
simple scsi queue that allows concurrent scanning and data<br>
acquisition.  For me, it removes the brief breaks completely, though<br>
the difference in scan time isn't great (elapsed time goes down from<br>
40 to 37 seconds).<br>
<p>
Could somebody with Linux and a Mustek 3-pass scanner try the code<br>
below and tell me how/if it works?  Rather than a patch, I included<br>
new versions of mustek.c and sanei_scsi.c.  They should plug right<br>
into sane-0.61.<br>
<p>
Enjoy,<br>
<p>
	--david<br>
<p>
begin 644 3-pass.tar.gz<br>
M'XL(`&amp;HMSC,``^P\:W&lt;:1[+Y"K^BHQS'8",\(`DIENT]&amp;)#,C8040+&amp;]CL^&lt;<br>
M8::!N9H'F1F$V,3_?:NJN^?%H(?7N_?DGE42A*:[Z]7UZNJ:A(;'7TP,\YI[<br>
MU@MW&amp;4;\NFY^]VU_&amp;IK6VM]GWS'&amp;]K1#^GW8.J#?C#6UPX.6QEAKK[77;,+S<br>
M?&lt;8:^XW&amp;WG=,^\9T%/X`RT;`V'&gt;6&lt;6-;[O9Y]XW_17]&gt;/&amp;,AJ`#;92/3\#P&gt;<br>
ML+9I\C!D`W_%&gt;D:XKI=ADSK^8AW8LWG$*ITJ:_ST4XMU41[LW`\G/)CQ8'=L<br>
M&gt;#.&lt;.I[;(9O:#F?P&gt;V$$$?.G+)IS-FH/&gt;O#`O#9FO%Z.IRX"?Q88+LZ&gt;!IRS<br>
MT)]&amp;*R/@QVSM+QG0Q`)NV6$4V)-E!$`C9H"F^@$"&lt;'W+GJ[QV=*S@'1$$_'`<br>
M#17.T\$5.^7`E&gt;&amp;PR^7$L4UV9IO&lt;"SDS0H2PP(?AG%MLLJ85)TC#2-+`3GP`<br>
M;$2V[QTS;L-XP&amp;YX$,+?K"EQ(!0)L\;\@%6,""D/F+_`=54@=\T&lt;(TJ6%C.?<br>
M\&amp;@QVR-:YOX"^)D#0.!P93L.FW"V#/ETZ=08S$0P[_OC=Q=78]8&gt;?&amp;3OV\-A<br>
M&gt;S#^&gt;`R3H[F_C!B_X0*4[2X&lt;&amp;R`#5X'A16L@'E&gt;?]X:==["D_;9_UA]_1/I/<br>
M^N-!;S1B)Q=#UF:7[&gt;&amp;XW[DZ:P_9Y=7P\F+4JS,VXEQ)%X%L$?`4@+D^"-'B<br>
MD6$[H6#[(VQJ"+0Y%IL;-QPVU^3V#5!F,!.4[/Z-0R"&amp;XWLS8A(F)V(\9O:4<br>
M&gt;7Y48ZO`!EV)_,TMQ&gt;7)KM98WS/K-7;P$QMS$!%GEXYADC4L$&lt;+&gt;GE9C;_TP<br>
M@JDDKS;3FHU&amp;8[&lt;!CJS&amp;KD9MP54[!/K#!3=MH)??FGPAH"-Z8PE[$9!*D@G,<br>
M@%VV`"VU0U*DJ=!EP[)L7`0`8(MC#7;L26`$-CPP?0_DZ"GU`+8#[G`#)"TA<br>
M*[WB"06H6*A`-90,VI-C&gt;]=`*A$B0*^%''U2;K1;L@L0'0C56H(LP`+Y+3&gt;7<br>
MD3%Q&gt;$U@MGP@""2-5F-'(7&gt;F8*E`MC*(@(=+)[)ADY*E"!/TU_3!#!)[V]SH<br>
ME$'525\"%(B0!YA""B`0`J+P?-#J-:($^S'1?'R/!&amp;J:L,_D?I!K)"9V0XIU<br>
MT[&lt;`C`&gt;4V5'*+!/Y*49K8(PKL*8`).G=&amp;(X-^L/)M(7@`M@(WPO9:KXF\=$F<br>
MQ(22.W3)?SY6`D147VQ&gt;N)RXX`G,.;A:(`NH)F:DFKN@'*0@02A%;7NFL[1(<br>
M84@@""#DOR\Y2$7J3HT`&amp;S,T$:!'8(B4K&amp;),('C!EA\F3UV0.F!).Z[$)%,J<br>
M"%29488189[DO6V3#)'T7;C-%9D$L59#QP?`:,"&lt;^R`3A+*:&lt;Q(Z*BG:491'<br>
M"0/&amp;8N&amp;L\0NMS:"JIRBQ?%+C%&lt;0`:2@6"`9]1Q8B3`+D*141$0Y=A@OB#)5-<br>
MR4R*.#BG;(I-P?E/0#:AB*\A*/6S%^7R#W)WV"N,OR_`NJ?VK#Y_DQ[A0&gt;#Y<br>
M^"QY-#6]R,D^&lt;FP009A]%MHS\"2Y9Y%E^QN/P!3RSP+8_]RS=?@B6B]X'@L\<br>
<a href="mailto:M7AE@.IFG2P\TPLJQ0DSB1PZ">M7AE@.IFG2P\TPLJQ0DSB1PZ</a>"&gt;FQO&gt;0Y1-(\T7J*'9IA;)S-8@7O*M#P/MBL(<br>
<a href="mailto:M@#VRIS#'XE.P">M@#VRIS#'XE.P</a>&amp;/:VW?FY-^CJ@_9YKR1@%&amp;.4^ZL00-8QA1@Y?J&gt;?MS^4?V`2<br>
MG'I2:FC-_0UD8O1J-.[]K'&lt;N!B?]4S8:#_N#T_[)QPH-HBK)(;W;'U;93IR:<br>
M@YKL)*#.S_7+WE#O#SKO2LV#^GZY#-DL:"H:'?.6KF[Q&amp;]#;\%@]%SJI=^DQ<br>
M&gt;S:U@S#"2?D)*AF4,\#B+8&lt;?Q^"!C#`BC=='I"YZAYZ`G7$=$JKHTV?V&amp;FSE<br>
M#[07MG,&amp;M$(FN%-C.^\,9PK1E./WT\!8[]3$E([O@,FD)HH'Z&gt;GT1,[7X//+<br>
<a href="mailto:M_?1`2.96`4$C!">M_?1`2.96`4$C!</a>[QY2'CH:X#?!G[@&amp;@Y^.S%`"$'\#2&lt;^"BNX'+-(#B?"%2#@<br>
M]C+R78+2]&lt;TE^A!V`K0*K&amp;/(T4+(G;EGKEG;,A9$S3TD]`$$9$&amp;VMXFX52O!<br>
M#Z3Z/Z";Y&lt;IG@1NB$UB-[=78/F1!-9C)CK9B&amp;*+?9\LC/:`O"7P@2V%P;&lt;]V<br>
MEVX,^^`@'C%NTR.P1@[\OH2,U/X'.6&lt;QNIW!A1&amp;!+#S=`D/V,'W:9/;H3F8A<br>
MG\OQ&gt;W@_RQ!E(!I'&lt;'#98'T7#K?LU2LQ^Z3_H=?51YWV&amp;6C$N_[)N%8@$O:`<br>
M%7E1L&lt;;V%=M%"`,8AZ(Y1/?=A0&amp;'NHIQ6XT#T4N*0]MX-F[U"1WY/#@-;K*]<br>
MUWHDU_&lt;OR#.]]S4\W\$.)M`!V/,F,T?[CV3F_@5Y9@Z_&lt;@.%&amp;YR`_Z5D56Q:<br>
M[/Y5$.GV]--A^V.II!6.#7M=,(G&amp;EG6]WJ!4:A8.OCV[ZI5*&gt;T3)J#/J`PVN<br>
M"[2(E)!R1)GE**42)W'8!&lt;\J(A6!Z./&gt;:*Q?#?IC(*S=_5C2;K4-NFEB&amp;\;U<br>
M-L3E]_U!]^+]"&amp;?N%\Y$0"C3P0!DVVV/VSCUJ'#J:6^L]\_;IR#]&lt;7M\14"G<br>
MQ&gt;B[)X0=<a href="mailto:LX/Q$#Y@:J.8TDX'T/8!X*#3PUD;LJ99_">LX/Q$#Y@:J.8TDX'T/8!X*#3PUD;LJ99_</a>&lt;$O5_TA;M-M8T/@-.,&lt;<br>
MI3[JG?4Z8YIU4#@+\`S'\'EQ29,FA9/.+BY^OKK4X6Q_AB0='"1I`]"AG\&amp;N<br>
M:[&lt;M+6LQ2QTRAR,=LF[O]Z4=K,FSHI44L%%CN''93PE9_%G&gt;,,@8/`95'1)%<br>
M,$9N6,5H&lt;FI2A"[YO`,7G-X7A0@2,7XU;#S\&amp;)[)"^&amp;GE6(+[(-[,&lt;QXI./(<br>
M,BS$D=?F+7A:*3Q*"X#Q8:_1JBQJ-U4,F;^5X33T1ZDDOJ/3PBP2#KM+&lt;):L<br>
M&lt;E,]%B/I&amp;&lt;\JYJ+Z_#F,BWD_`IKI]+A@O"(FO'G#CJK)M-_*7^`XAV&gt;IBE:-<br>
M12!3*F2ZC.&lt;+H22L@O1,K2H)(36'"?D&lt;EP7%]C$&gt;TS#R56Q`K!TSF[W"J`O?<br>
MGC^WJT282ERZ;T\KD`WL)&amp;A&gt;LA`3=C@"YQ3P-V^G&gt;BR7"8P`/3F(Z*9KL&lt;K4<br>
MJN65N\9"^Q\&lt;&lt;I%*;J!:0UDRE4$Q+0$/!VESSBH"3;5&lt;^J-&lt;@ETSED[TL@PK<br>
MP!WW9QX6U^"(B,4E(4-D`@E'WJ5#%J4`&lt;-M8:@.&lt;];)`.,(GY-*MP,;")`Q'<br>
MR\!CO?Z%A(;&gt;74&amp;Q0[E.S*("@2^+E`!HX8=4O!)GVY(0:R,G5N2&gt;(?&gt;"$C8U<br>
M``N([$E8!='6)`*2*&amp;A\($6L9`"R$8Q/#&lt;?!G,9?SN:$S&lt;0:F%`',@&amp;]V_NU<br>
MWX'@=37Z2-):A@[G"U9!%=!`R!AP@8]@S8PIUF7AN1M*PB=`VS4HT";4TXN+<br>
M+H&amp;3@E)*5_I"FX:?A5Q#IFHQ+,8*9$\LACFL"^=:Y)K9M.D29AI??_!K^^RX<br>
M_*70*D(L#LEC62`,@W00U6^IFW,#CFZB""&gt;L12F4&gt;/9)^YRV`F(5W&lt;-+J7Y*<br>
M"*G!HZ8:A&amp;.U`M/X3)9\!*9;*N#@?]KGY[TNB1M"*19R_M=P41IQ5E2$:*\`<br>
M45,@TIK%B`87&gt;O&gt;B,XHQH;3!WBQYL@KO1KB_G;/&amp;%LXZ%[_"L?OBLC&lt;@G/X"<br>
MR^SI0YLA#FVBUE&gt;,/K;GQ!&amp;A[F1V]B6;^6@SUQZ6Q6A(U"R?:,U;4I]D0Y7O<br>
M*%*E"[TW'%X,CV--+9B$^KU-W4!C#50?$9N$&gt;EG\QC-&lt;7LO7%'!@(;2.)DH*<br>
M96;P&amp;6E(@\&amp;2@:,C)/"F8BY[SO;WE3='C1;%#UTZHQJ;KL"Z;FP\_^&amp;T'`%4<br>
MSM@6(-`58TX`OY(P`2L`&gt;5(,8&gt;H#GL+G[AN/WT;"8E!'P#F9[H*6[;ZAFI80<br>
MA)1(E;V&amp;J%.5VP&amp;&gt;&amp;]&lt;(H8#W(/$(N,&gt;%NB7V02S^4BXG(4ILPDO2-G3`3X0#<br>
M45B)NX*P1,I9B7?K1Q1H1LEHI&gt;"+5G__&gt;H.&gt;S9C9R!&amp;4]^9WN/'M:BH\WE;&amp;<br>
M55R6^:&gt;*Q[B7R+(,LM+M;1-''*5EAIM$9_F@JHP*9(5##Q`/^_-/006,23V_<br>
M6V(2U:.%EN;#P5H\&lt;)*7:*+K4HRQ%-*IE%RW%&gt;!#]"&amp;'L"S",UH1V#8WK\FX<br>
M/+["9R[=ITZQQ!:]%`XQ:]68(@+G'EE6[`?V(''=$?DNB*&lt;E34L1^'T61%;F<br>
M0$M"A&gt;]86&gt;3X\Q`"CK;A)P"%OJO12OSL!HK&lt;@Q]_3,5D`@ZY&gt;I5D&gt;2^#&gt;:42<br>
MM5ZZLO*&gt;1LSQ_6OFV-&gt;&lt;&amp;;E#.MM!1[23('[]Y`&gt;()]5'!)2&lt;I8*LX9R2[+/R<br>
MSLP(V=<a href="mailto:M.%TO1$XQF">M.%TO1$XQF</a>)/J4]Z8B#/XH6O8@TN^RI]K3*M9+CMB?R&lt;A^&gt;F0_/7*@<br>
M1H[+FU+9I.F)55?A4V)/4X0'E$R$D8&lt;5L2DB)KB0@OHFJ(OT'.C3JXE6XE_E<br>
M+9*#5.6\=TZP7.Z&amp;/$+/7,/L/P],8$L%&amp;``(GBP*K.4B]N&gt;$-)EV`Q[21S7;<br>
M$3N^DQTF?950/`*3:'"--1HY:'CC0TAW&lt;G=8.PEUMZ*:5G=MC\Y:ZOEZRW,U<br>
MGPI&gt;A2LV1ZR%G8&amp;FRFB0T5&lt;+)BD`^6DR=`L#3S.^&lt;WXRVFTTX6S0^;!#&lt;DA%<br>
M&lt;&amp;5M66Z-VPR"H_H!&gt;Y:^C8F-)RN,W++&amp;?EV[:UV*\?S*IJ9EY\(6S4+VYVM5<br>
M'3@Y:Y_J5Z.&gt;WNN?OAN/$I?$'7#S=\M":_V59-'ZMXEB="+48G3YS41!OI*Z<br>
M,FQLZ0@";D9_2T+2HT7T`'`/U"(`1#?;-EYF3VPZ01ELMN0A7EEC6TG`%WX`<br>
MIZG)FK4]"UL&gt;V*FQ=,$E0#RQ(3&lt;SC4@V+,&amp;_V%\@2\0@1U*IT:7H$-CPR;!^<br>
MK]YH)GTE`&lt;&lt;$2718.+;'=U6A33$IB@W]IRXL)1I%SX*@/PJ6HO\(2P4;R$+L<br>
M(*.VFQ)+;3$]39%:SXFQ4*O.NN#1![U'J91V]*^IU)UFLE5W]NI'=]KE=BTY<br>
M^J^2_!\H2&gt;M?4))F$ZM&lt;=`\%\ET&amp;Z9++G5JRU[IGX&lt;.\\'^UY#^A)2&lt;=X4HZ<br>
M?_]J+:E_K9YH]RY]B#]Y*)&gt;MOR"7K0R7`&amp;'@QP5)&lt;&lt;TK[N8Y-N%-EJ3&gt;:^Q'<br>
MX[&gt;@GZ"0W&gt;6\7I&gt;:\X"&lt;[5LG*O_!_!6$,U2'K49=TU3O:XJMQ/3`)B?+V6Q-<br>
M-N9Q;N'-!%GKR@^NC0![&gt;T%ZY\9ZPD5S9DC3L)4P\GTE:YCO&gt;US&lt;:]!U"6PN<br>
M+'O/&amp;=9:Z9')`^RG%%XH2!'89**NP='LYX;,OH`JH/*66^(21+"&amp;&gt;Y8^2[ZB<br>
MHC*6L&gt;]T!,#YXQ+VOVQ*\9@3R?_7-+QUIS2VY`9?ZP__8L&gt;S#&amp;/T@@B6/AY3<br>
MFY+5=X7WQP);$^++5XZ6E`BHKOYLZF`X,S^`_,-51&gt;C[L&amp;!H+T:CBG+H2(RX<br>
M*W!;IB+PE3.750&gt;'&gt;%M5H1ZQ5E5@V2[I47]P&gt;M;3+]LC$O6&amp;D$&amp;34QUC&lt;5^/<br>
M[%"B-O[&amp;$^6B59\34.([2R3P1?/E5L57E9D"C7G!FO!?0].V:155?HK@)?J2<br>
M$DEK+Q%)\UZ1M+LGQ]O7[SUDO6@1N`/*_1LS;A\7W7I,,:+E*[BBDO&lt;DI*N#<br>
M&amp;GS!?U(5S5S-KY:KZJEIVU4VI255]C&gt;VTR!UV&amp;$OV&lt;Z&gt;^'H_#!`+K:WAI2PM<br>
M?&lt;"B&lt;;O*Q*)Q6ZP1^O[\&gt;::?F247&lt;<a href="mailto:YFK.ZPOJS_4%225MBG@NQ!YD">YFK.ZPOJS_4+5MBG@NQ!YD</a>[N`==AHIK<br>
MPS)HJB[ZXW6Z[ZEL;0&amp;F/\)/G^7U&gt;W+K6&amp;,$1-Q9:=M[5A0$^W-!UXJZ\HH"<br>
M!R_WDKE5O']0)D1!!&amp;&gt;^B7%"XI%"+VY!E?E(,:CQ;7?!Q#+U&amp;8N.GDJ^93RL<br>
M)?VZOGP1ZL:W(76F!=CTDDQX9GM3/]71&lt;X(9%%N!PB[L&gt;.&lt;$%(QT%Y?8C#.Z<br>
M.+L:]R\&amp;&gt;'WR?27&lt;?3-?W:_%&amp;[=#&gt;`XE3\&gt;RG@[?-C+N]'$2!HK8,P-J,*:]<br>
M2V:$&lt;&amp;8-J4O2PV01CJ`00L!SS@UGFGIQ4/QL(J#D%FC0OH((Q\#W,=.TB+P6<br>
MV'N*&gt;&gt;P"1G`NYBH)##C&gt;V,X:WZ&lt;2+]Z$HKLGWFQZ#R?$%U[6A*4!^T-4PJP4<br>
M*2LX&amp;Y._DMU!R$%,7DCOYW%\O=0(UNDT.;7UJ'X`NR8"3HTD!OES*+LF``4H<br>
M[K,*K7CO!Z!55=%[%E_*"0"HWD(Q,H%&amp;S5)@Z39'+(`0%"-!K5N!W:AIH@6+<br>
MU";F#WD#S5^\E*U#*KI58M@8T$3?DB`(0#Z7TP!9%3YD!),SGKU./2"7!0^_<br>
M?\U65=$&lt;]8?JD2KB'_T9VDPIX4#85JE$1H;A1IC=X.0"/GH?VIVQG/XEW&lt;6D<br>
MKG7I:GC#VD&amp;H8([`1VS:9-2,&lt;)'/`!G]HI(%F!WPW^LYS988(BH$Q2/4V"(/<br>
MQ4B,RCBLU"10FE_2K=(67W!L1X:O&lt;&lt;,;WEI5,'=S"`P9]PT809+55(7N)&gt;_*<br>
ME+F'V/44-9MN;&lt;-+Q:I*&lt;A&gt;.',&amp;(VS&amp;E@B"?3UFW];F^BEW;`YT7;0X)B'89<br>
M;RF+F\D+4[H4S=NLZIM9#3Y[]7K#&lt;)1Q9&amp;Q#(_63;-'*K&gt;:!H&amp;GB*]:0UB#7<br>
M-&gt;(6/,EY;*F9E/41QGH_0&gt;+=,H'EPX&lt;/=-&lt;&gt;BLMV&gt;02TJ%*Q"GQOMKN[BYIN<br>
M^29X4,Y=T9(I[91J&amp;;+.DT(M&gt;-U%DN#4M0&gt;?3V)YQ:(0)[^T++3;UOZQ&gt;N%,<br>
M@?OS-14=-&amp;I5BVNK*)#\6P&gt;;3D"H\Y=R@:TD+\44I@"6O\177Z5WD'\10F%'<br>
M:"R@0S5"@;??,WE1_!6&amp;\4=*_X2;&gt;L6P="=50;G'71DG2BQ&amp;=WNDI=1'21]H<br>
MJRI(I*=T]FTT#T$=<a href="mailto:M/I!?/I4XD5HJ?!#@*?3.PZR640Q">M/I!?/I4XD5HJ?!#@*?3.PZR640Q</a>)B$&gt;3.&amp;:*2P*8N,H<br>
M&gt;]0A()3:9=R#--&gt;4P6B9&lt;6ST/-Z^PYDN4]A/W0BXH8/7UE&gt;@._XJW.H9XY9U<br>
MT[4^-1J'GVOLF;F(,UQ0`MM574(A(%]D7BEA%?&amp;V+21.WBR:5U63$#5)`"NN<br>
ME&gt;F2@+]%QP4BP]:9.U\&lt;(;0FIOS8_O6&lt;M9)N)&lt;?!I&amp;&lt;:8(/%G!N6;%.Y7PN3<br>
MBD6N^B)4G&gt;.[4R%:B&gt;ZZ@/@(]C=5/8E]YHMG*GL2&amp;6FJP$/&gt;@E[F=GSS&gt;A&lt;$<br>
M9HMD&lt;`&amp;NW-FE5FJ;\E6KG@"YHK)%X\71#E5$PV1(95NP*Z(E']G#\V'"&amp;;U_<br>
M\JY]=C+&amp;&gt;@6&lt;PT!;&amp;G`*0Z6)%5*].&amp;`N9*9_-8`X5$G%NO&amp;9_@&amp;B'/JNK!RR<br>
M]O,@0!^_":"WPV]$$0"ZGZ)"HY&gt;*09N74HP$3:QNF=A;W:HX`I1HJ4&lt;+FHN7<br>
M96'[4849RVTW.#OLFGKTIB?XE+50JH5:AKXA5&gt;Z1TF,Y\;$MJI&amp;51.%&amp;W`?J<br>
MXS&lt;"E5*/;P#J?JI003!)M-ULDJAV0&gt;_VSWN#D4H696IENUE7D^SLOB:OJ8S@<br>
MFHD3GDG_SPQP#H%Z:[;``R`!V$Y7!&lt;U`]UP2OCE&gt;(9QQLC#_5@VN?T8K19&amp;B<br>
MI"`7\739'H][0^3(P+)&amp;4J)%'[Z//ASD"DD/^G;XU4I%J7P#+X#''EZ*"LFB<br>
MFGJ+ICB&lt;T=OI(7&gt;X&amp;16F+")_=_Q`QZ"8I"GBK6J9I]`;Y2)HID(&gt;@O[4^$F%<br>
MO+(LH_)\56&amp;Z]*[7F9..@"Y+0PZ/GF+VZ"[$_^M(VE9"0%:RI\-V?P#IT-][<br>
M*2U)37[##H7"9``&lt;"E6AOS0,($&gt;W1S6Z*C^\/2Q`&gt;`C231[$$1P#Y@POV&gt;GZ<br>
M#,6B^CM11Q(YR7)6\B9^,D2EK&gt;3/S61.==H7KZZE93&amp;Z[/6ZG^NANA`IR7&lt;M<br>
MTAE3BJ@WH/,TEB%T7QV?\M/C)"K'5SD/`&amp;254A&amp;4,XEX:H1PZMJG(HKCKV2&amp;<br>
MH9(;EU0KE=W@`Y'&gt;D&amp;)MY#&gt;IUT13&amp;56&lt;2DFK%4?MS/E:;M'7)MA$#5DJQ`8K<br>
M3H,QL:*0`IGK8:&amp;OI#J`HD1L]AV1,H-FDNZV_G3X69A`#EKFIAU%0&gt;1,UI'B<br>
MF!:W!,BC/8R#B:6C!SQ(VG&lt;?F/0)R?RSO2_M;B))%IVO]J\HZ`-(1M[9&amp;K7I<br>
M8\O"Z(T7KA=H7E^.;EE5LFN0)8U*POC-&lt;'_[BR7WREHDH&amp;?N/&gt;T#ME252V1F<br>
M1&amp;1D9"RR73ID;;QHZLDM9.F&gt;RIL;:KU?()R&gt;<a href="mailto:8U9:L.D@4!BX">8U9:L.D@4!BX</a>"QMO!-MK&amp;QI]<br>
M?IZ[N=;)\?GI[MDY-_;&lt;;&amp;R3D-'D!_+%)BV-C?R#$,@7UH/&lt;$I'%I+,Q6O[$<br>
M47`'JZ279G.+UJ;)H1O2ZQ".&amp;A@^+KRA:BCCHK&amp;0N`8QZFV;]:Y!(D,N4:DF<br>
M(1A_?"H:09DJA"D2!%1&lt;_YG9\TT289R2PHY+MS/F`\^`C`0%E&amp;QH5R'0&gt;U=?<br>
M#E;&gt;U;1W,;;P^]:S9Q])D6&lt;&lt;UD2X+Y@)XC`&lt;R$K&gt;6#"&amp;&gt;Z3(ULGAR:F'CU?D<br>
M-4NR&amp;PVPI'Y6[&lt;CWT"#I]=1MQU&gt;3G]*H+(9*3YBC\I`S+-5TE]?%?F:IQ&amp;(5<br>
MPC\#?0U[,/&gt;1&lt;(;EJ&gt;&gt;8;Z/AX"ZXG"48`XU;"E3(LI#N=L,)CTM,&lt;SHB`[/;<br>
M6!((G$79V`4%N%7VV([,IE*I/\&lt;;H)U@Z^DS#^]IP0!/CKH'NT='NXKKR(41<br>
M:\\\&lt;4M(!4H_1/VRL&amp;1WK(5!;H`X&lt;@VAL'V[H;'+Y"I`750XO.?6&gt;F'6VE"U<br>
M&lt;L1,Q$(A8$J-#B,!4P#!]3O]_DB2Y5(%'%T2AQJ4MM#S"?`&gt;0\I,[\1@.&gt;0&amp;<br>
M1M_`@&amp;=#.&amp;C1&lt;ZE`S`%BX^/O\)Q!X)%N;@"6)CA&lt;(C"E;,*Q/]Y![:G&lt;NL23<br>
M35,]D\,I!(9#C1(6@=%-I^0_5*ZWH;*P'S5-6J*'%BW1D[ITL)M,L[2D`ROH<br>
M0G([W_RQ#$1U1GOJUH;-/LRW=!"63*3.%_V6&amp;`$K3X(Y7B2LWV`\0[1E%?*$<br>
MU9)_*$&lt;7A^&gt;=O&lt;XYGJBE#0"&gt;JK5WUWQ7EPJD^,<a href="mailto:L8D-.Z%S$@R\%22FR$K">L8D-.Z%S$@R\+FR$K</a>"LQF(<br>
M#DAOLUF^+0D4L-&gt;_%.]&amp;XV*T*^MS-#:['(W+&gt;HQ&amp;72J;TYW`HG$R!N$_8S(E<br>
MG!]%`&gt;UO*2KL!*N;&amp;C&lt;\]@+MD]&lt;%&lt;/70B&amp;=0?*5D&gt;2I+M9!T-\&lt;((H&gt;'[7U:<br>
M+`!**6"DH=7NX1GM6A*EI29=3DI:-Q7K$])S=L=)%+QR9P*W__A+(H..F.H?<br>
M8(^S"&lt;9_3`81F4FF&lt;$2%\RJ&amp;.,`=$%?)T`9]0FV1W1T(G)V#\_;ID9IA$?P#<br>
M75.#VD.CXSI&gt;?%J551T&lt;Q?O.Z_9OG?/V?LVLPPR`)_`]ON&lt;)M,H8:VO,@Y!L<br>
M#)LQ0D0/JAB8;326\:.EZF9G_&lt;A"H^6,_RQ?G&gt;['&amp;,$8X[.@(-%J[3]*5929<br>
MX#*&gt;WL8BI.]XDMQP#%/&lt;HU"F2*UK31,'\6U7M9)+(FA!$/:FHTF#6R5OT$8P<br>
MAH,T7Q;F&gt;=6K+41:I)%V1UB]2!&amp;2[PUS3AS6[6B==678ANR[DJ)4U"H_X)IF<br>
M?X9%R*[E:O#Z3!H?RZME,C&lt;V(OVB1S%&amp;4E[*-=&lt;C*8*T)+=(-*R_OY-1CS&amp;V<br>
M[N$^5!&lt;'=\-/`(`?1&amp;O&amp;Z,7\XT]AT`#"+)8)Y_&amp;(%VQ7#D&amp;S7OG$=(N'YK_!<br>
M25P:0%I(R9$N&amp;/MV'J!6;[)^M7Y9WZD]B-;I7]TP;],NT_\T0W:@R[""$R1;<br>
M]7%;?WR"CLUX@8NA.X_;[7T9BO.P0V=T#M?4?7]R^M?=TY.+X_UELSM]LZ=[<br>
MU&lt;]P/@KEFE*#)6DIFI6`-"KL!&amp;A2*R1A86T(,O+33==*!#!Z&lt;_7I!AH,:*G5<br>
M'LV3ICV0IE-(G,KU/,+7[::&gt;2_CZ5-N0&amp;+HS@@G*;FQXH'JZN0HOBN#:6@"N<br>
MIS9&lt;/[MP9&gt;#8WMA&lt;?58,Q^8"&lt;/QLPX$:,=O(QI@F&lt;U5?^%;U^99W59]O_BM7<br>
M]8EW59]OK3[Y_JM:,)LYR_H$EO7%]U_6S6&lt;V)-M;/N.I'.9&amp;CB'!;(QBTA_%<br>
MY-@,A%R/*K`YH:!BX(*=PMXEKQ.%[S$'[/&lt;S&amp;RHYWDS1\&lt;FUGX_^!C((V2R.<br>
M9I,T'GP&amp;Z86M8*P-$*V,I/F&amp;%D,,MBCA99V_33RZ"IGO\&amp;KAMQ4Z=CM60^(%<br>
M-]BLL`V3DH*E+T(6_O@+4M+CQ_1%0L2M]'ZGAQ_7&lt;!;T#&amp;^!V,(OFIZR__&amp;)<br>
M=0SF7#0]ACI5(SEA.$&amp;0&amp;Z_BKHPQDU49HH&amp;N8:&amp;+6G2^Q,0U-(Q[5TCH=)0(<br>
MTO3]8[ZT:,J%+'5&gt;SM([&lt;5ZQ4"A7CJ&amp;U*9%E=.1$0P^HGNG@&gt;QFQ1N)6D6BS<br>
ME)5K\`&lt;'8A*/V1R^@XIN-#H3F^\99SO=AW&amp;"3`T5A3@Z4;/4BK-2&amp;HY-DXBW<br>
M#"+F%=0%M\V"3T1!X]%3&gt;K0I-*#(Z[:`U[DX]3*P`2%61SW!)X/!93!+(%1%<br>
MFWP3K3$N^W0"O\A2*8SR]0`*4545@:O2&gt;E.9A675J2H0K-*E:@.[C2U=0]Y:<br>
M&amp;K&gt;3)Q&gt;GK?;'M;0P]+?IS&amp;6TO&amp;G?2A:W[HT=GM/P$TO3IR;$TO:IIZSQT[.6<br>
M-;IRP^7:Y6G35#?(Q=H?`Y0L'!X]$+H7+,,&gt;V[6VW&gt;Y-W\/?`G$G@NXDA&amp;_\<br>
M]7(\8,9'/PI+5H))&gt;-LPOX]FA@7C'1R9[A07&amp;_&gt;T;H]Y]B2.NI&lt;S9V.T7@4Z<br>
MG-`6FGIN/7_V`OX^J=M;$&amp;;H&amp;(KR=OW'NHYQ`@18H"0,"K:^;7P&gt;(5^J.?L9<br>
M!MA"^Z+G6_)*@Y+PH)\S'5RQ4Z;&lt;H#\9W0B]0_PY&amp;&lt;W0X;7?UT&amp;=&lt;#.\XXWP<br>
M#@U#[J!Q^`4''ORJ)AO&gt;/GXL;C_CFQYT5L-HC8^AU`JM069T_*+7P%\T*9ZN<br>
MYNT%/E&amp;3[MQF&gt;O-TY^O$/*C=H&lt;Y(#!_=;;RC)$0#S()'4&amp;$5R^.ONIP$.5:G<br>
MT;SVQ'@RC=;MX7I;W2AN5-;E=KVO=+,R&amp;%C*J9TR6%2,+,:$,G2/]63K.3)4<br>
M&lt;GIU\Y!&amp;R?5R5KQ-&gt;J9=V214[\-];_=6+T?C\O'G#]V'PZ6#ST6/W-$7=9,M<br>
M43@#I=Q[2/DX&lt;N^T_?Q[R&gt;3=#NM6G-LJT&lt;5\/3MBDO3\T,P8G-W@IG112K(+<br>
M9H80&lt;G\-/V+5NC"QP6OT811_`:%*V`C05^G019Z+`-$82(ZD-0HY0$VUC!8:<br>
M04_J[51L&lt;'VCG\9_%[DO-`_:I`P7&amp;]PEK0;,.!GA&amp;^$KODI^WQDFTR0&lt;D)&lt;$<br>
MYHG#ZU_25E(BIYA!DTLBPO[?QA0"!3?P..)&gt;12ZK5FN?:AB:4*'81`^T6W2D<br>
MP'N"3\DXB,)I:'K["+_-X.3UZ[/V.7M9I70Q?HM@&gt;:$43F;#^`IFY[-HAN87<br>
MPSOT^R#6R%MR/JR)@YHZI`EBHV7JH7RRJHY??$RC:1*"]J;-Z]T[ZFWKAKJG<br>
MC!APC8P[:=79+\IY`ZJ)ATU+VV(4U43DJ#L,&gt;.&amp;H^'C'.;%:[F!VV5?NL1(]<br>
MQ?Y!(I!=&lt;-5W`%UR=]8&gt;4S?&gt;=4NP!5,E*F2:QVK6:)&lt;$=]IAX6E)'M_AV2NB<br>
M2:3.^K(\J"'*8:FO&amp;&lt;V+_UB`%SQ=PK1&lt;+]4]H&amp;,XB&lt;SZS$9LCI(YVX81%1!'<br>
M!N&gt;"0PK2JI@E2*NG=7'`D6UE!.E,,@N[_!:;3A"7PAO&lt;9Z;UA"ZV;1=[X2_U<br>
MQ"YE66+PZ=MAA\6"NS'T[+@Q]DI?G;/]*X:4WF77PGQ/$^TQK:P4R"O1-E.@<br>
M1\**4A&lt;#!':+P:.Z(&gt;L9-'U\&lt;=2%`U;GY/C,YX5-/0!QKSDAB)5SIBG$BZ*]<br>
M&lt;"SOLEJ[;^'H]OI&lt;6'+".=M^O-\^)P-/)5F)5O#()R`[^[@V3:9D$D5USSOG<br>
MA^VN"79&gt;M2A.&gt;[+6?ONL5:F2#W@-I7$BU5707==JFO&gt;=^T=P$KP/^]-H-I8.<br>
M-T:71YR:YN3BK1[@?42#@.HU\TN+&lt;=TO*D,NHG+&amp;/KP5SPLJ\+@WBDHH1^FN<br>
MV7H+AGR.5MKG(KB7D(]Q)'1+Q,8D=IL?UT1(86H"&lt;](1-Z!W'A"\*%!&lt;(;/X<br>
M)&gt;V[\\7YZKQE!2ED(B6HU'!U;[7R^&gt;,^NX&gt;=L_.2%M9$QP/6LZJ&gt;'1P5\`8Z<br>
MJ*Y.7[?U41GY&amp;48V[F*9E];^)=,EFOE5\Y:O4F7_4E;KUUU6\B8NJ$"&gt;1NHB<br>
<a href="mailto:MO@.T_">MO@.T_</a>[934+Q\34]WCP]&lt;E/.WL":2=@4/W:M_9U4M0P*\MGF1GWE+D2,:+6=6<br>
M5W@4^!&gt;67C:]%?*6LZ"*?Q&amp;+^JA$D=(G(H&lt;DM5&gt;%2Y.BXK&lt;09:8)ARIUY\X"<br>
M2J`-NC3&lt;/PS"Y#2+V643RM"&lt;=:.W+JRB2N[*%57*6;O"?JJMGM3JYBV?3C.9<br>
M63]1]9L6,-.&amp;NX*Z?W&lt;))&gt;3F&amp;AI),3?T(BJU;F8=#65[9BDM%;._CF&lt;M*]3*<br>
M+&amp;:5GMS5W#LY.71FQ+PY&lt;(SV&gt;!Y(JQK?9F;A[6G[7:?]WC,'XDTSI[QG_"4U<br>
M,F,O*9\O#&amp;8D6&gt;FJ9,V):N@VD.:*I+$([W)G`Y,&lt;%DR)^;I95-,S.97K9J:I<br>
M&gt;J\5$,6NX&lt;&gt;5^P?QZ`;S5^7+SP?MDZ/V^&gt;F'C`RMJKJ0.A7RQ.A,PU5$:;&gt;2<br>
M@SF[^^_0&amp;,'=ZC*UYA*QIZ/QZB#N3X,O&amp;2QB%V3__H#OFK[B&gt;7M#;@7_OI#?<br>
M?A5AC(MFQ+"C(V^YQ&gt;0OMVY&amp;\OKBE;N$7[=)RFH)[GQ+\*%@"3YD8?I0N`3^<br>
M"KE+D--^Q27X4'$)/GS#$GPH7(*[O"7XX"S!Y6@Z'=VL4B)?#R6PV[M_&amp;?"=<br>
MN^F=%E%";@7_,N2W7V49N&amp;CY,G"YQ9;!K5N1$D0L@4"%4OIB!E+RK$N6/#B&amp;<br>
M0.ZZN.C+Q0O6Q5\A=UURVJ^X+I7(@\LMO"Z+D(&lt;(S*#7Y2Z[+O?;PVN\N$"K<br>
MC/S=M7W\!C&gt;LH_;Q&gt;6:#-1MHEE;+VV9]/539:3WU_+HK7\&amp;Y]E?R`%ZEDXA'<br>
M2E-A"7PRFGB9E954+;]\5E[/)YM5Z,V=61AK0?$,&lt;<a href="mailto:K\%.C@LJ%`^L">K\%.C@LJ%`^L</a>&gt;]/3O=]<br>
M9S!_*VNWHTDD3V'LB&gt;TYA%G!(:R"OV]^5'Q(I7CW\"#M4IX]@*F7&amp;=K4M7Q'<br>
ML"KULH&lt;P]9)TX?&lt;#3B\APH*B3VT/[_\X_"4YUT[713"&lt;F-1_*7GDKD%5;N`U<br>
M%"2//DQ.P05J5Y/X;IW--BE8!\7F0#?+5?+LK*7U-9=*K&lt;%6XXZZ0A:-VG!H<br>
MSF"&gt;664.=KEHA`&gt;R+K?CH48C#!PJ_9(-C$F&amp;?,5YHP-+&amp;'&lt;=&amp;&gt;"!#\D0E"CU<br>
M=XYW6^&gt;==^UF234/F]=!##2C=T))S-%:^*6K!Y6S&lt;QC1%4SQ"IJ#UM)IAGAT<br>
M`(4,Z&lt;A7S;P:'K(IK9,A&amp;?GJWXM@C$%6(1==O"*QZ`K_#J2BL*.&lt;4`S`JY.)<br>
M;[2+$DEQ6T`B&lt;C!&gt;`C'BA5CD,4M1RLT$#S#[M2(49(G%&gt;.VNM5731S15ZV:)<br>
MIW*O!1H=?XVBY4US`S=XU4"H*0/,&amp;PBJ"S['Y`J1D&lt;:PC&gt;Z[=NO\Y-0GCQFO<br>
M7&gt;G#JNF3R:K6S&lt;IEE7NM()M9%4HFV%\IPUYD)J;&lt;&amp;D(IO_7T&amp;5H4&gt;^_]\T%&lt;<br>
MZ-23UX:FTMD++W':%6]#&lt;5!RHE9L?-07GE%UC.J6X52W:'V[Y7A56K\0M\I[<br>
MGP^_NHMA6'&lt;!'.M^$Y9UOPN&gt;=1?'M&amp;X&gt;KFV:N,:VP=6Q[:`,V]Q+-+=V&amp;;:5<br>
MU2_&amp;MM+&gt;Y\2V@\6P[6`!;#OX)FP[^"[8=K`XMAWD8-N6B6UH!CL'LNV5(=M&gt;<br>
MT6#VRI&amp;MK'XQLI7V/B&gt;R[2V&amp;;'L+(-O&gt;-R';WG=!MKW%D6TO!]FV3613YZDH<br>
MN&lt;'`4A[[(5]HP`S&amp;90LURUOQ8-Y"[60P&lt;#%HRC'15ZTB-OJJ5M+1&gt;?M&lt;6%=7<br>
MW)JELQ/1=;L*,WSZ.V_&lt;2/-TI1#,"N_K@T@%WLU'+E$D;TRJA2+$JMI&amp;/E)5<br>
MAF(.A%*5S)Q+A07GQ3M=&lt;2&amp;N5-1.*5_R!5&lt;6-QP"/;H"/4RW2P++=:N567O[<br>
MLV%/ZHGB+W%OA@$`,3F=B/PTGHQZ9B;?,!T-9;Y&lt;5"O8==+9I:A`J3OC7HBZ<br>
MHG1T0S:AZ?37&gt;G`5#^,)VH&amp;WSCK+Y(\!\/9#]/"XQ,CWT`IE"L!,OC$0T&amp;PX<br>
M30:8SQ-3YF'XOD$\I;2;[]%K)&lt;0F=*\-]!]!&lt;ULHA'6X18PWA?&amp;S9!!FV32&amp;<br>
M9TB&amp;27J-C;#?!V=?2H9RW-38U2@(+]'Q@8,;W(PP6.,-:GU"3JTTO**YJ*6S<br>
MWC5.Q"3NC:Z&amp;R?_#3F^O10@G#LX]@49CFEYV\KZ&lt;36'=ZFOD&amp;/Y^]_2X&lt;WSP<br>
M,CA+T)]&amp;IB7.F^,&amp;1^0Z/CD/QJ,T32XY!PY`.1M'&amp;-81LR`+#Z3/X22A2))!<br>
M,LR.LH:?P\DTZ&lt;T&amp;'*S2"&amp;=-_D@TK1CI]#(6K4&lt;BL&lt;Y/'*\R:/_VMGV*W.M\<br>
M]U"&amp;W+&amp;&gt;Y?ILP'IT8T2#!1TWT!4LH?1BD0@CA]Y&gt;@W@X+G3I6/[?Y\1!@PXJ<br>
MN'$84YY6&lt;&gt;:0X1/0^PL7`?N!^8_&amp;6=^^-!X6N.&amp;\[ARV@Y7^F!T)C;7%&amp;L;B<br>
M4J``=CHVU]FN$W\!QJF]1+XTT$7[,IFJ@`5/&amp;L%]&amp;?=-,#(%WDOR2MMY`.,8<br>
MC"\I;`'T07^I77ACYE@D\+*@D=,3PV'&lt;$WR.)\0M.'&lt;'L;A!''Z.*7WX33@U<br>
M(G.7A\8,T.-YL&lt;1WQEREDYX5?:*@/1DP;2G'R3[-G0B&gt;)3D=W)F.99#Q0#."<br>
MQH@H:L2C,Q'P*'!.`"N7CB;L5NP!37J0S@^==HFF=XV&lt;Q69ZTC$\8$:!U*A*<br>
MTY[8HOB@.F-5',)N(886XKY&amp;X?D1?XE)4PR=+.J(($&gt;N0[$++'HPW;G^@U3I<br>
M"U?Z`I6DCRN4_:(=`OOCV;0'XYCT?M\0/L-0*'@&lt;?/G8@)?"L\\HM5FIU%9&gt;<br>
MJ:_*O1$FE)P#!_X@6KZI6S?F;A/GKF3J?L+L&gt;VK#VCW&gt;KUTV@L^8EZGVN:[R<br>
MM]:@H7J=LZ/T^S([RH^&gt;=RQU24&gt;9YTT:RBNJL;J*T`BWR'^HL!5B:GD45+$1<br>
M^-:L;BQ'43UW%:O6&lt;]?5KO&gt;UV@)[,P-4HJ;^[2298J+H(@9-`/D02&lt;7\E5&gt;=<br>
M#4ORX8T3,0L7YW(0]CZM!&lt;W5FB!"Z9JXY`EB[64&gt;TFO8F,__1L!_3Q0Y9'U&lt;<br>
M,0V;O8GENLGW([T;YDS%A,*?@J`\X;_H;`S20"H/2^[VJ@Y1R16(2I37]@J#<br>
MEG;AFRJ?B?HDMWFJ.9W,&gt;E-K93E#;!*Q=SU*)`&amp;(<a href="mailto:Y#.@XDC?F#K">Y#.@XDC?F#K</a>"`049)[E"<br>
MSJ@LJ$9+17X2T@\LK5M0B(8\Y#`2Q4'48?]^?(92#PE+O$&lt;I%_K@$@&lt;'DAQ'<br>
MY4VNXIOQ](Z$QX?&amp;C-3%5(51E'EGQL-=QO6'J&gt;U'HS$F]44)[/ZMSBY^KS^V<br>
M(FJ:9[C.2;=]&gt;HI7:&lt;L!49Z(D#\);](U.\J2BE`SUYTW"QP&amp;Z=4RDDGP3S\]<br>
M$F[O['A$&amp;176NB-);I59"'^FJW6.B$"=PCF.(U\',0A3=\0.1WT!'N4?18Y.<br>
M!]&lt;<a href="mailto:AB`\A%226%00SZ-@;.1;">AB`\A+6%00SZ-@;.1;</a>==UTEGB3SO!"YJ/#&amp;E:0&lt;50/A$'1':]65&gt;Q(7!=<br>
MW,JVO"4#`F)_M0=1'?WN"YJNR1B`2X$(AY-?6#$P#T8&lt;GW2/VD=,3(8'8X)!<br>
M$T:4)T/A\;+..&gt;<a href="mailto:X.A45@-Y@7PN?G">X.A45@-Y@7PN?G</a>)8S&amp;3!&lt;;']&gt;(-.WX1KD2E*RVJ:K9S3P6<br>
M!QQ_75H(JX)_%6RF^3+HAW#$)VE3`/D@XO'*-2B!N7CVQ?PNSV]C@E=CP"RF<br>
M,&gt;H4,,JSZ%D:[.3%&amp;E['/2F92J(@&gt;M&amp;JYR"0_%LN29%`ZP][`9"UA\R9B3D*<br>
MA$Q1$S$884XXC!(BDE&gt;<a href="mailto:07@0C?J#.A'">07@0C?J#.A'</a>):IQ@L61&gt;3/#ZEE"G]V6`@S6WQ1T"`<br>
MIP24SGXQF!HS=&amp;!*:K/Z)3AN'[:/SFJ$!G4I53-2W$X^KLE8=QGYS$@70?T\<br>
MSE1ZY?:LTT=$'(-D@'8^_?C6B'-$);+=NV-8#42_*OPCP;#C5F6A`C8/1-Z;<br>
M,/T4U&amp;#SZ.X=GK3^V@CL744DLE41$EV="L@&amp;NO4B,0D/^3B.A[HX1G$WOLJ=<br>
ML][T@G=Q7`1@:91%2V9F(B8I,D/(!B7'#GHV`AF6\($@:P04V"JZ4\HHF#*`<br>
MO!$)UHKOJ&amp;/./GXL48Z&gt;DM!4@]^41&gt;*!C80DO!DL**M\&gt;!D(IAK45(P7^%;7<br>
M4IB,F:B1H^'BD"[LA)-4CV4Z-(X*=!L_FF!"XF%L$!L\?X]1^)'%A!9M\V&amp;&lt;<br>
MU:PD#&amp;LMH92,,882:U","*Z54564]\3S1)SEW`",&lt;9,($5!7F0/=]+048AQA<br>
M6_EV0?/#E.-BEP"M",%&lt;Y))'6D-1EJ+T+\D4A\V=Z&gt;]BY2UMDT!=E.=KDR@'<br>
M);G0ZJI&amp;8RD&amp;]$7N`G$V*K@L^(E4.(`R]TQ]KI-4?&lt;X32D;S9Y\V"@XPAI8O<br>
M/^:L_ZRB3R5_RO!_RO!_RO!2^'-$]R(Y\7^B;,LY2H6LQ0E*\X3,IBF3%&gt;.)<br>
M+41F^O=)D&lt;42I`^G\\7';]UWC6AI:9[&amp;NV$=??[H_5=#*'9BBE/([4FD5FE^<br>
MO/OL3P#`AH#E'Y@M"!51E,$(T[D-1[&lt;-%&gt;`6IB`&gt;3$.4NR5M^&gt;#!(R,OQ&gt;\&gt;<br>
MDD)T6[K"!)@W\:@?A7&gt;P&gt;5`O)`&amp;;""-"V`?&lt;*RP'%(,B,L6!D(+IY=KT,\QK<br>
MC\O(+ZL*&lt;/&amp;DZ=28655FV3HS78G235L5=;A"UCBOKIJ@H&amp;[7+D^)[.A'B=0D<br>
<a href="mailto:M/G_5L_D@6GNP\6SVD9;-;*UA`XTSI:(.BWF1%228(@`K!NBK\;!L">M/G_5L_D@6GNP\6SVD9;-;*UA`XTSI:(.BWF1+8(@`K!NBK\;!L</a>,N72\O"[3R<br>
MG5&gt;_MI-S5IIR&lt;*Y[.R:&amp;S(W=4O7K.H3K&amp;Z_LE@KOZ\1,+7IGYX=OWGL[*Q/(<br>
MG!=W2\ZMW5+%2P9!!PI7ONGJCJ:AXC62&gt;354&lt;($DZ50T7ND"SRE9&lt;(GGE,R]<br>
MR!-DO^1&lt;]!@!/'.2N'SC?1XSOL7O]'[\@I3=[%&amp;K2XO&lt;Z154RK_0*ZB4?YNW<br>
M]+72$GLN;"N36/6[O%Q,^K8+/&gt;+L^E)/K5WEB[VEG%L]-3F&lt;IV&gt;A0[A,\),Y<br>
MA2^;%E6DBL#`JL+`FG*WP,:6RHR@PJ)J=S:][K9`&gt;L:@7$$(WT83/*+0Z;QW<br>
M'0)+CS]WT8;T][&gt;[YV^Z1[N_9&lt;<a href="mailto:%22@.B">+@.B</a>=JV(B[G&gt;/.&gt;4T?%&lt;R.67RV8)%&amp;D^_:<br>
MIVCS"EOG?CNHO8/._L_):2.`#YUC_+!A'K?YM,U`,2ZU3HY?=PY0!/"&lt;O@U=<br>
M-C")&lt;#:@+7X=1K&lt;NL2(9IE,4%D9]_`@;$QKNC="/&lt;]A/KF#/,A,AA],I&lt;JO:<br>
M?;.)^Z;86YZR3^BZ^R`KIBA[\40;&gt;?C$$Z:^[+E#+0U:HNT$CWYZ5.&gt;@XU=#<br>
M5,*3B(G1N./AE'S]E]"A,QG.5()MD6MGBLG/C&gt;Z:OCZPR&amp;JPR3W]Y_`1H+EZ<br>
MM[H*;]$@[=%_;CRRU9$8^-?H&gt;,D$D!0OTDI-Z1#ES.KYD',Z'ZDLLQT:$@+F<br>
<a href="mailto:M`@4LA.^">M`@4LA.^</a>,V$(KM0_R)483A)X:P0I&amp;9]&lt;'17B&amp;6(;QR;OPN1G(7RB-0DE[-2BR<br>
M^PZ^7GW%[0BV,8D!UAI?=-?Y/4*T9LUS;BGD7`.G&amp;+Q5T_'50_28F2&gt;B@:68<br>
MJ@J#Q[/5M1CLR@J_)?MS:5&lt;Y&amp;@T".$"'@R[Z@/,D6?'G[2:@!6'63FJZ['1*<br>
MY5VB6("HPM.F1B("&amp;:+R034IS_*D')&lt;C(;7FBDD9,JJ@)G6KBX(;.BPO0?&gt;O<br>
M=2+"KXO&gt;Y;JKY&gt;4N)!#)X\&gt;(^P_5NC67,R_9@M^&lt;&gt;FY/.@$4X7%FB9GUB&lt;&lt;4<br>
MGK%%B\2M,\W0VS?A,$*F=4U_\W`_7X.:T=ZJ=6T$?S.75G2+ZV'112DI&amp;5.Z<br>
M9&amp;8ZLBFE80RMKD_-?+]AL1ND#IF!3&gt;HX#(:BIN&lt;ADU'5^RB_\MXR5T+YE?@9<br>
M=4-&gt;%ZNO*$@")SF(Q(2O2]RQYF1YV1Q`#@)WCM_M'K+6VJ`321,KJ4$+:2D5<br>
M&amp;!'2+7-GV4QJI2].G:S8=!#E]5-D9(A'3XS0Z?3N;_SN;_!NZ^DS?/LWJ:%V<br>
M'*J2C[__#2E&amp;X)&lt;5&amp;SY5UK6P0&gt;,I?1C?#NX"I`&lt;X#C"6LQ:9*`R&amp;0Z3"+V0F<br>
MFI013DT_OZ51&amp;-]Q7V2:-;]7W7#$)F42H8&lt;&amp;%5VAIJ-!Y+4LW+%O1I]E%4[#<br>
M5#`@K&amp;WQL]0=6X`:358D9O&lt;N(@`D*@FAN#&lt;4KT7KQI61B6"NNIP&amp;_A+6X',X<br>
M2-22L`VU[,`6D%C7/1J-\4IS-`U"6&gt;DVIH3CPNE":;VU]EEGS2.*TAGS5#^Z<br>
MK)N7BW&lt;@^X4JCT/F8OA)H4NJ]W9%]5Z4X&lt;85%`"SL8F&gt;$#(#_TU[DV1,#JEZ<br>
MXV9,[T;ZI0&gt;'C'2,7-Z/5+C@$K?%P&amp;HSD&amp;NO@%;J,B[,*RM2O\4T-DR?`7)=<br>
M@EV8J_FW)0H7,AJ(052"7*5?X\.(T/O3GX8P#Z3D#?H,@_=%Y&gt;/-V]"4LVEP<br>
MVPAZX5C-##&gt;+D%`/:L?VHIJ'!^RWWW5:($A=G'U0]&lt;JGV,_&lt;.7J;\!;C1LA!<br>
M36\2C$C48+=SUF57-9#V0GE**&amp;P?F^`Y1JKGF6]16P?M\RZ4NF@[22]NDREN<br>
MH!+;E-TL.CB*E13*O5X(?`^=U$0\VY?&amp;(S/.K?E&lt;AV\WGZKPR&gt;9#C#CJ?/]@<br>
M53JUWV/\/_.[S%'A@"6"IMDU9?PG\ZD,&gt;F,],^*VF,^SSIPO&lt;=I6M,&lt;S"OMX<br>
M!;$CO?OD8M^:-QG9K&lt;:8_=5P@L&amp;3_6M@.C"_S'G&gt;S7]SD/MFSSM.X8Y(HY0:<br>
M6:)&gt;=W1AP\5N&lt;2U:8=`&lt;CSQGP!1'WH2-HY*;3U#A])+%PTDNA&amp;D)+([\5T!1<br>
M9WZ*\E$Q%#W?W3M4=+Q42,1$EU+"5&lt;ZC(G$RBG2"P08T/F)OE&gt;_C_'EN&lt;[D`<br>
M^73"J1%$R"A&gt;C?O]N#==I3VP@#_XB7Y!^C9Y^))FXM*AMW/\^@0Z/#S9W0&lt;D<br>
M/=T].FL*T/L@0P?3Z\EHQA?K"_$O+Z=:D*L$&amp;6*!Y&lt;VRC&amp;JDXEN.0H;A(&gt;4_<br>
MAIE8.0==7B$I=$&amp;&amp;X&lt;Z",%-9D)%8"8(UOQ"::RE5&gt;IB)^S30&gt;1(P&amp;56EL&lt;B#<br>
M$%^!ZX$Q^/E[4A`4H!&amp;.YQ;Y5GXL,OL4G`&amp;/)/CA"/7%Z+E.H)2$-KO57;L7<br>
M:RPKD^YYY8:UPVDF@X_6S)M:`];TWS\`#%?YCY&gt;6"N.&amp;/=P)_MOC]2\:SV1@<br>
M%CVTT+S)Z$+ET,OO*,CM*K]FMP3(@IH'"]?&lt;*ZE9&lt;H]7,@G^(`O%=8LC&lt;)74<br>
M+8RG5%*W,#R.GH7*F\^)3(A63.M9847,+JK&gt;1(P'X%UH_C@,)W&gt;2%@H84S%K<br>
MJL"&lt;=`_&amp;0"L,5:8%\6W!JNOY0L&gt;ZM:K$T&lt;S4J1B@T:U7-&gt;Y@4;T*V+PX+B^.<br>
MR0L'YLFM72&amp;X"E?6*(U&amp;S)+5TK9__XT(:2*8+5];<a href="mailto:__.?@5V*^''@E">__.?@5V*^''@E</a>)7(S52"<br>
M3&gt;N.U*5\IJE#CHVK^\LIQUW:I2U"N5?5Z`?;<a href="mailto:9A@M:RM4*`\I@*H.5;RNXLNB">9A@M:RM4*`\I@*H.5;RNXLNB</a><br>
MHF_;"44[FC"X^,X-4TL!2)(AFM?R=,A4A-;^Z%)@[B:02W\Y-3`V1]]&lt;`#:/<br>
MD,81%9"O8"&gt;S6%]N'*6Z6LM29"WH2WDQ?S67VEF^0DZ3.T.&gt;@?CE,)XW4RQA<br>
ME'3DGA+.E3O(C-!C(+S5O&amp;?UYI1[OD7R^1;99W'IQ\*`0JF8+1_+%4*^L%XZ<br>
M?ES(`GZV"._5TJ1."`A2OXL-Y$C\W@V?KG*2F\7W&gt;&lt;]N/O\^0)&gt;)`/@KQ^YT<br>
M&lt;7JM$AP,&gt;_2'(YQGG0V54+[&gt;)N^^GJR[XRGRZ7RM^5M=:(7-P:OHP=W3E%8B<br>
M9]3:4CD5C6:XZ]PFT?2Z$5S'N/DT@FB&lt;*%60O#E\J"S3W?S*`D!M6DNMZ?!\<br>
MKSN_68Q.)M!9-&lt;]Z(K^44EPQ*(6-?/`U\L%L!,:1WX*52=2R"[X)/Z%5:SK%<br>
M(S=&amp;&gt;K^:H8-3.(6=%7X9*WB;#-"88O0I&amp;"109S3LB2SU1!]BQE&amp;Y-IFFVJ]%<br>
M8#\`!]B_MH%&amp;PSQEZJL8/7V7VC&gt;Q5-%HRL9H-TCUV,AZ&lt;'2$`?,!\UIOFO(\<br>
M+KP(R+!9NX;@&lt;9RZ6C$;:MIUI"NK@,(M*NW]"@[L&gt;I3.8=J6H4Q)2Q1PY3IY<br>
MP:^`$X:@,F+ZJ4P,Z(S!]H@A63-W3AX'S^LPBR^&lt;)J)X3&amp;B\V;1M',O5$-\)<br>
MY%R(&lt;P!]T&lt;R+GD-1XW!'$;'AM,M6NK:V)K4X\WCZ9,PP4;MJ-!N$Z!H^B3%L<br>
M'-MCHI5$2E'N1$H*=/K!7=8X$I"RBXV`N2T&gt;."`)$MHD3F&lt;#MK?&gt;QHHT8&gt;M4<br>
MA(E+BV0%,W]ZL-?,ELQ,_C9N%(4+8#=@+H+:2?PZDR+@VON`CE0F354O\VBE<br>
M%D&amp;F7&amp;S2@7QX)"7="'FK*K'E4EO&amp;N-BZ?2EUPD`.6OE$QOOA7*MB\4K,F=&amp;?<br>
M&lt;.#56J:9&gt;VX[?*@%`$N*'IRVV\?*QD?*`"2?\1=S2&gt;&gt;V*J,=J;K-2I7K=G;U<br>
M366\'.`(K\D6BC;3=#8A(X_K\'.,D3!GDTD\-';2`$0,(.$S#!O*+(K9F+O5<br>
M7L+KS_$$C&lt;:G&lt;,:]C`?H:W6)@3IA9P8&gt;=_)7N&lt;U:[N89R2N5EJ9E%V2,_=E;<br>
M,L$K^Q%[3IDR%:;&amp;%'$\D?&amp;Q25@-G6)OPCL&lt;`9I=!HA*@O=R-:_T)MN;A,-T<br>
M@#$YY;4`63Y)0D`E`#DS#1.&lt;UK#'[E"JZ6_?J8&amp;N9&amp;?"^JAH-\QNXKJR2;)2<br>
M3B]KS]Y=_6U)QX*RMKRZG+Q&amp;B:=4:['JF'V.V%7GP6'ZU3O0DZ,-\3AV&lt;)IV<br>
M::?M4@P78VWS73@DHS4]/3Q)GYG'Y20^]@@0KT&gt;8[AVSWJQRVAOV*.=P%)0O<br>
M&amp;B0$=Y]G\.!(Z%FU2ANNDL-*Q(%Y1`%K3Z"^SD\OVM9N?J_,/:;2GEZRS:Y7<br>
MW61M%\#J\E\N%IDB,Q32WNW2!R0&gt;XH&gt;NX?9&gt;,X*;^$*%L"&amp;T`,^P%GZ8&lt;C1;<br>
M]#N,A77&gt;9$%_9.SC)9M=PB[T(!5NR)G8'QD@%H@&amp;0M:-:J`8!(7B[-R);:7R<br>
MYN1:9?(8='NUNC.*`F"YI:L1;BW3T;@K-,I=F-2NL.#TP(ZENB#NAU0.J#0:<br>
MW0H#WF\9`FH=.+`4-$V^+;B%9E?D&gt;P\'O:-@O^U]HG)AU)]G*,6=:;G!0S:.<br>
M'9X$!YE$-XT'Z':+8HMR@-HG&gt;;(ZII&gt;"5KE;+9O^P1WOH7&amp;5-D[6B&gt;ZJ0;W[<br>
M@5F,H0VS&amp;;2%U2@B,S_[EZX_V\L;H3)^/!*4=OE#$:"T=P\6R&amp;FUMKE7@8AM<br>
M5[UIC2/?9;%3VY]&gt;A3I:,".E&amp;H?E3B_1\SLLQ1_-#/7"P/$LN&lt;%&lt;EHJ+\\[N<br>
ME7RL5QQIY;O2YX(QE'@)?&amp;&amp;4Q*NY@[K_B^(NY4J&lt;*S(84Y%^.:]VLP+WRV]W<br>
M?2?8;IK47D&amp;"+F[1'(R*$Z3&lt;0M`!JM:/TKH^WY&lt;%]2)!EP.2)!&amp;Y+4\^!;6Z<br>
M,6[S]8ZK-E`AS-AC5D8P8\*G,#9GG0,V-4:W"&lt;4XI9-LA%DJ#!DZN&gt;HG@P'?<br>
MW&gt;@FS=@^49QY;48[4^7L&amp;$!G[?.CW3.,`616VZAG;XP`2NNN"+[7S7:%&amp;75-<br>
M=`DM&lt;@WK,H9S[J)O'7KVUNI"AXSZGN!V-!M$P63&amp;^4W"J2@A#@&amp;V&gt;D4X!KM!<br>
MZS`.'\S&lt;YL&gt;ZL:484[KY47K("9\XGN?B;#O+.1SFY;+ENY2:;LWR&gt;.!3UW&amp;8<br>
MZMS;0B-5BG*&gt;P4UG$`]-=QIRSUY4O9?*2-H41IN&lt;Y=BCG&amp;F&amp;'@&lt;[(J"VF*T&amp;<br>
M9PX1H-!@S&lt;@]P8.!$8TWJ&amp;'&lt;V#JWI/?@[-6EF"]G'D5QAB.CDL-7\60R'"'=<br>
MM7&lt;/=CO'?J-[[;5O7:$XG?E-^C0S,(]X8IKTO&amp;DPLSQ@KJ!_;!R5QP=92X,E<br>
M'C\6FFMT3]K.N,QFQY:_D;<a href="mailto:9VCUOMP\/V/FEWYO.DY7``F!F*\B?!G@5(">9VCUOMP\/V/FEWYO.DY7``F!F*\B?!G@5(</a>&gt;3O!<br>
M8,&amp;HTI'J`KV\?+]LD&amp;5%?TPQF$64VUY6_4JNTB=40=LO;7[I.5B(E,Y&gt;)3P*<br>
M/:,NK5T!&lt;:.__G`T[%)F*Z*"BJ/()9U\5[%^;S@=&amp;/3[&amp;KG]Z\.&amp;!4#P:W""<br>
M*2`I%!Q&amp;U9ECCYSKE@*E0C[,=?M%_(^X6S_Z41.S0K[18DY*KEK^\F_V@_.X<br>
M3EJT=:U+6^M]USXV-S:&gt;/7D2_`7F&lt;7OC.?U]_NPI_86?)\\W-I\&amp;P;/M9]M;<br>
MV\^&gt;;FP'P&gt;:3)QN;?PDVOBL4.3\S/,&lt;'P5^B\',2W&gt;27*WO_/_0'.2ZL&gt;[`:<br>
M2(+8I&lt;NAX'AT&amp;[3#]&amp;X-\;\U&amp;M^1W6E0:]6#S9]_?M;`W\^#?9R5X&amp;B47L:3<br>
MJWBR&gt;AX.K[`")Q),.&amp;@7II&amp;3A@5($_"@]PG.&lt;ISACHJ"N'4%0CB69K^&lt;47]Z<br>
M&amp;T[B9G`WFE'&amp;O4F,Y]E)&lt;CD#62:9BH"@V`#PQZ1_A\]F0^"ZU`V&amp;GDQEGP?'<br>
M%\$!YA@,!\';V&gt;4@Z06'&amp;/P!1+B0LO2-\6%Z':.T035&gt;(PQG`H;@]0@:IM-1<br>
M,X@3#&amp;X?B(A%P99Q&amp;RG:;."!J0;")T`^D4[9E'&lt;/[^=45?_@]1@CF97O&gt;C06<br>
MTBR,<a href="mailto:4%YR@KC;GPWH9A.;">4%YR@KC;GPWH9A.;</a>&gt;=\Y?W-R&lt;1[L'G_`C(&amp;GN\?G'YID+('N\G#DXZ:2<br>
MF_$@P:B9Z/&lt;UG-Z)(^!1^[3U!JKL[G4..^&lt;?$/[7'3+\#5[#&gt;78W&gt;+M[&gt;MYI<br>
M71SNG@9O+T[?GIRU\2XVCN7L8B,Y$]RG$RA&amp;&amp;X^G83)(&gt;=@?8%'3:Q+.Z&lt;9W<br>
M$O?B!*.XH1YW?%&gt;^&lt;-A(2'D$R")D:DQC$UGX&lt;#3%?#88.FPZRBXI5M&gt;KVH!#<br>
M=&amp;^M$3S].3B/*=+&lt;VT'8(YJ880O;VW!&amp;V1N!S#ZDW&amp;]'N\'&amp;UN;FYNHFL+-&amp;<br>
M&lt;'&amp;VRZ/:I5R,X[B7`+SQEUXLO"[I[$'1M`@EB02N8+@!'#5ODI00J&lt;^X'$91<br>
M@I6@@1DFA103,4@N)^$DB?%,/X1Y'$KT2#!%S2!&amp;JU+1LL2K6$/`%\TAS`C,<br>
M#-(3G&amp;8IJ28"PDW?\3R."+F1;HDN,.[E9!3-&gt;I@W4N2&lt;1"/T!O&lt;&lt;C6+.VW")<br>
MU`&lt;;&lt;3_@[)Z"(-@&lt;!P4"717;O$3[(B`#36_9A38(:HWP94)'/)H/(`6CP83L<br>
M?4!ROPWOL$N@GQZ2SVA($]KKP3H3^\%1(S"*#&lt;FATY43Z3V2J4&amp;6&gt;O[D0!M`<br>
MC+&gt;H0&amp;G(H!8JI29-'.="1?OZ.YH^6@0%*+'#&amp;^*B\\X``=7AQ4MGES?)5/C7<br>
M82AH'HQ`&lt;\SA20@R2&lt;54PVEX,(L(86A"L($4(U`/IQ)W&amp;M1P&gt;(4D`O!P#U,Y<br>
M5ZHGF'@&gt;%AY^Y=,;F/7+V&amp;)&lt;FB0-%`2H&gt;E-K($R&gt;Q+V37LA6"Z.^8)NW1!(T<br>
M-,QIBJM,+WK7HX1M*&amp;^O8YIT1%*DHZG;)&gt;JQQN/!'7Z@NE97:P8DT8C0^!;V<br>
M`$$H48S)#MP6H1!T;J`(+2F0"&amp;R"E,'5S&amp;2KT]BRXFSY)[$2P2\D='$DN;7K<br>
M5^:;`&lt;7Q"&gt;$IGH7PN(876])&amp;!&amp;=DM_/;/:&lt;Y.+G%DRFVI)_18=9^1+*[_2B=<br>
M1D`$[C/TA;6?S8:PO)$#:WJ7KB&gt;C7J9-&gt;$P:-2XNHG"&gt;G5_L[;7W,5%S^_3U<br>
M;JN]M*'&gt;'7:.+WXSWBQMJE=[9V:5I2WY8NG-6[O*MJIR\K9]#*?&lt;M\;;)^KE<br>
M?KMU&lt;=PQ:SY=<a href="mailto:EIEIW^R^:W/NUK.#">EIEIW^R^:W/NUK.#</a>[IOEGV0`T8NSM@LBO-3C!8%Y/&gt;4)(XT`<br>
MO-/M=2_.3KMGIZVN;*%U&gt;+%O=U/&lt;C^KH_OHLG:RGD]XZ,++9EW7Q?%WU?Q]*<br>
M"P!,",X^G'%WU%=@K1,)^PAX(*N&lt;M&lt;X/*7&lt;M/3-!LV&gt;&lt;7JO[M4#FCKX&amp;B@..<br>
M)3%5*-BH+`6Y_"E0(/I@A*/@FTS'%@[PV\P@DI$&lt;1N`NIFC07C!56H&amp;EX3);<br>
MP+[WV^^HI=/V@6K,`"^+;VZ'EVDD`D.FR22^TGVK'LTN80Y:NT?T7_9F=I?!<br>
M8%E&amp;=9&gt;,UO$R?#0$ZL0TY*GJT"D4WN#_@K=1W.L6EYB%5]."UV28`2Q-%]'S<br>
M;4Z]P@WQ0?SE/TB?0YP&gt;&amp;+Y-E1FF8E2Q&gt;*UQM+5YE7II,2L,XM`^WN\&gt;[QZU<br>
MEW1=?ZM1?#EC-BX9"=#U'H;=OWC]&gt;AFM'HMR1&gt;R8I9L.!^EV46I%'.Q6:"C8<br>
MQDB]FQM;3YID+L55&lt;&gt;&lt;&lt;)+`]&lt;H!NVM&amp;()*FG\E8WMS;,5F]'DT_DZ8""`^](<br>
M)T#Q9]-X+)JUEDYG@P'1\*8K@\B1I@_DN8@W&gt;=PM`=^#RS`E.46E?]?Y9%3&amp;<br>
M2-:$4OYN*(GQX8/@92":)$$7]^6H2TY*(!A"@5^EDI]K]&lt;-/,4*2J172*][4<br>
M==0MI_8E)@:8AG#:!3%A,!LV.67QEUE*UVA-/2S*&lt;6\,!LTZ95LHUW3$+D!V<br>
M2:RVFMA62JA+^KJ\(D;35-,YZY(5:"^ZI%5*?W^!0?+^@8?R#?%_R_A/S[XV<br>
M%7JW]O&lt;H&amp;$EM-*8@O$NZH5I-/L1$XD\Q5/;S^L&gt;LZLVRN3(-4P.*GTJIUV$5<br>
MQHW\D4I++#.^*-;#6)LD!&lt;61O`]7,Q]0?E*&gt;??X,*\`?Y*H:V8+Z438&amp;,&gt;9_<br>
M0-:QL^/AI!*[+G8/SHD!8_YV0ES4!HI+)]+_XG&gt;.=HEI81Y$TP?1X$%T'S.C<br>
M(7X\E`CR$."KHP9\6U[__H/S'Z`9DS.1+V582(H7^2"56?'"@(X:VL`,:`'$<br>
M.]0RD)1'5F3Y"DKN]JL&amp;7A"B4LD23(HZ&gt;4DYDC$\A"&amp;==$_WWY_*=!5F;&gt;UK<br>
MF#LD_%V3C;F69NB4YQE+$!0I7)=8U\^#PM]R?=9FO;3+2'(Y$Y;+UCN%-_S!<br>
M4X*Q":E:S19)N'+8#0,U^*8%,0266;92=Z8U=UZHV9JOM&gt;PD?&gt;.:4QA(01D!<br>
M+9U!8AA]$S7C8O^F*-G,;G[O8ZXUXK!F&amp;$@S]U&gt;&amp;@G@+D+M@YZ1U=GZHJ$HP<br>
M"&amp;AHT!6A0NW8X=*D06THQ)/15.%R,OK$+NMT^L=3J4DKD[@OSKLA90Z6=@V(<br>
M#5T121)K1PD&lt;U&amp;9PPJ;TPMP"',[&gt;Q,.&gt;N"H`KD3M]&amp;?1E?+4$^=9N\]TI()2<br>
MWEXGO6O)E2@)QG"(!F;3T1JJF2:R'=92S2;C$1ZY;TF+IU/_X/3`$9EBCV=Z<br>
MXVR9JB'N"@84?X$N'H6/:`_CI\`+'UT^4EP2L`_-/@#&lt;T5"Z&lt;F$;F7#?=8WS<br>
M^.B7'6D=585G$9#_]2!]1*FITNO19"JRNGR&gt;`U,E:A@11S1@\J41?-P,,:Z(<br>
MVRJRBI.C!R8*O8)-K&lt;+0_NM![Y'#A-74&amp;^S8[+#:8$4MO@Y7Q/!52D](`Y)Z<br>
MQ'H9K)GV'.;)P3_A0_NWUJ&amp;R(?&amp;YFQ3SYJSU;Y;3&lt;#O%XX(EU)1/H&gt;[..T?M<br>
MDXOS9:+I,YBT`&lt;X=Y5I"K32;:9"0I`)3H+8]'0!)H&lt;&lt;.:V6X\RA)!54A#HOL<br>
M#'*(N-&gt;+5AD6V06F(%IYMK'RYO^RH'&gt;M(LAN;@0W&lt;(J&gt;QNFOT)K*Z&lt;U&lt;&amp;?F\<br>
M/0;&lt;T;G-NK52R_G&lt;3ICD\`DH`L$N%(B:#?`NS5G2&lt;"T-_;L4OQ+"3F9S8H`9<br>
M`+1]"\D#9+42_&gt;J4EB(T-AX2J&amp;?`B%E0&gt;Y#6C5W(@-"+*960/Q?1C806WJU%<br>
M(_FK'7,3&lt;^VDV!`EOB6AMA&amp;,!A%]4E9#\D%@M6(X_LLM&lt;..CPGY;+.UC&lt;LT7<br>
MZIWH:I[V$OT8ME=Y8&amp;&amp;.0*&amp;\Q:.&amp;:EU59;L3744&amp;_\X4E(96-=YZZ^I&lt;]%A-<br>
M`=E?*?A7U7,+SGL:4.73&lt;T\(W,*40UE$Y5J_R%CCAL&gt;F*6E8!Q]U)4]'(+.8<br>
M%O/%)[&gt;`)0":+SQT9;XV1#^%9B)="!S`.*EGF1NELC$1%"8FQ4QRFA6N)$47<br>
M38:R"K[GF0L&amp;TER`K\O60&lt;=5*MIG:LSR:[)2S/C,0Q4'+_@^F;'-"AR9.24T<br>
<a href="mailto:MY0X.^.2M#K3B@%22B$4KTT">MY0X.^.2M#K3B@+B$4KTT</a>"U/DN(*UTFE79(D)1$1G?MHT6*;F69*%7G6OR9YF<br>
MZ3K"9-T$U(LNP$49=0S]R4?%91!&amp;.-6:[&gt;(XL3\9MAL.UG_'=AO!RM_Q:A+^<br>
M(FON&lt;A8&amp;7LLD32F"JM$`_.*5I.6@;WISE.=-2O1L*)VHG9&lt;R]#E6$L8N?U]]<br>
M)&gt;=VAZ&gt;2PB!RSB-ZC;S](7V"\30"^6D-YF(-[]')&lt;DX,^]Y.T?M\&gt;4#"=QE&amp;<br>
MXE:&amp;.?J.P?P+Q`+HD?!A1R*#:T]W?`*4[_I29;O7*XF*Q!&amp;EW0'1_.[7(+@O<br>
M7:ONMZ[CWB?6T;P]/=G#S,9K`*-D.P"+,EPKX#Z2B&gt;97T%9)S*T\]D=&amp;CFJ1<br>
M5YTIO2%&lt;=1G#,2U60U(!?&amp;:VJ^)/B4)1.E6%Z)O@SOQZ)4%&gt;Q(H2C8KX6W,K<br>
MB;OV8F/!G&lt;!`;'ZL'@0"9&lt;Q$-&gt;J!%C8L;QJ[[4SJ"41O&gt;_L@*LE;?3U_IC`B<br>
M6GTPF&amp;D+4(D#M5F734'=+BMO/(*R#*9N$&gt;*&amp;&gt;B;P6C_PXHHT"N4JG,Y%IG+A<br>
M)UT^;LEUQ5?*"MHD6&lt;L&lt;VGQ1KZOF7.K&amp;TY)`*PQ"X*N&lt;J3N)QX,[4;DFH0I^<br>
M#5;49S+;*VA.QNC5X(MLZ(3M`AZ#S9GXA$A!/-?&amp;57JD2A)R&amp;R_,1Q8Z$A&gt;'<br>
MMU8IDP\[2$9_`,M&lt;;HQ$ICN9QQ`QDZR&gt;J59FF')I%CI)HHS-M*WL1,0CJ/AR<br>
MEQ8`&gt;2D-MDY*Y]M8V+ZGL_$8HQ#!\61UU%\=3=`*JC="2Y:IRH^L9@G_"GJG<br>
M0U&amp;$^OY9+(U)2/DOA.WL3J;&amp;R!ZD2"ZH7G*G4E*](BI&gt;:+&amp;=JF*"NA2E*2D'<br>
MOW`5VVZ\=$=4&gt;"W@X`[EI+&amp;R'Q\1C@F743*+02,.?&lt;(P`#!WS=RYJ&amp;2M+MFA<br>
M88)&gt;<a href="mailto:R!.-IAD98^Y#">R!.-IAD98^Y#</a>[LU1W6**1G^-@/?H2H;H\@Q#':WNY%&amp;\,0!GQM'(QPIL<br>
MI,I$N!L1?));R,?&amp;LC';4//DU&amp;?QA=I8&lt;9BIL)CW130JG%&amp;Z;LIW%Q82HQ!V<br>
M/&amp;.M:R/XG)EH8^H/9&gt;.&gt;MVM8:4),%WN[63X+&lt;&amp;9)3.[W,-CX\D($740K&gt;WDB<br>
M$+3A'!Y\4"B462FIJPF.A'[H,1&lt;R-P%G%&lt;'*](+`^/NH&amp;!$,Z*4@1G/KL(08<br>
M1X`Q;&lt;&gt;-KHNX=&gt;\FFE-@*Q35F-63'42,T4-F7Y0U$&amp;F;U44@:A0O,3]#A`07<br>
MIFC=U,?0%FDP0]TS8S.909(?!&amp;K%T%21(\C=A!$KE:&gt;S83B-!W&gt;-`#,N*'P6<br>
M\Y=R*Z1/0U%*![U11RSM-.H[9?&amp;[TJ,6KN"*V#&amp;S'D!R[U)"!:"KDC`03WY5<br>
M=Y&amp;`C#5QK;E2QUDG%9:&lt;?2S[LJCL+SM9F0,P@ZVI,K+IDK[(YJF]BBX#O,77<br>
MNL6,@.85SFS!S!+*"J0R2R);7!KS2V*Y4IAQL$2,A\*-+-AU=8:&lt;Y_R(M)1_<br>
M&gt;LP_.LYU2N1.OL&lt;9L&gt;R$4+)G*IYERR;9236%D4+OL[S!5MG[_?O^_,-P=WZU<br>
MZR?&amp;$[G'W&lt;LXIN6N5_%FZVRT]B;K2!S^/;8L_Y:6#8R]M6!?-;=4WVXJ^M-[<br>
MIV_;%+B0[6C.I:$PH/)(SW1&gt;T]*3(SFIXF(_(IDITI8\FB\7^#7^B=-_XO3_<br>
M+IPV\Z3[%&gt;*TWYL*&lt;]OBE.[XAI91Z6G[/[IM+&amp;`8N"VS&gt;6=&amp;%R@?@["(^$=B<br>
MH@#6O+YK=4Y:K9.CH]WC_4;`B&amp;K=D]W+=NY-]/XCI5OQ6)J+D="G1B?$QH3&lt;<br>
M"A"C.7^A*`MKE2^^-2UQRY6TE)`E!1U$0!B?D')D#XHA&gt;:5-F[*E8*JAL^1'<br>
M+H3=L(\U'&amp;!:K:-]LHLVWR*R`@UH=9_Y@L6Y%5/EEZ-'S4#S2R5HWI]VSMM^<br>
M&lt;&amp;K&amp;[(+8:"Y8%D39E880W^L[]&amp;&lt;;\".\LS?%M;FZ8J=3A5@0;L[L3+$*T9-&gt;<br>
M47XL975F@(%#0:3HD5(NLTPJ6'FOD0=_:N\;+1T&lt;1L8`,?N&gt;PGF+O-QI64[^<br>
M6ATXO1%R%B\^+S^(<a href="mailto:.$.N:ES'Q!!I">.$.N:ES'Q!!I</a>]XQ7)"]36@'N7E@LO+0&gt;XK;Q,D?XM;.5<br>
MFK7.VL=G.LU9T09B3%KY)O)0+3_?AR_YL^\!PPUAM?/`]JL1BG&lt;+`^_QYG7^<br>
MC&lt;/:&amp;#+;AN,A`=5^^^VW8`;(EZ+U-9K5DNO.'\JRI1G*=-!-1I))9QCYC^34<br>
MJ*1USZ,_DE,+!Q:7V?FY-(JR5Q3R\KMR:M%A13ZL@5`J@U6GL&amp;3+^%25=EDM<br>
MFN_#TO12S;5S&gt;;9K/@3B!]"48+C562Q;3(G:/M/5[\-D::0&lt;MW&amp;Y"!PIFN/5<br>
MA^2JNN[.`V&amp;VYS3IXF,^Y^A^Z:--B@$9&lt;SA\C'%`*(27R=\JBN!S,5!S^YR/<br>
M?]D&lt;*L/`/*Y,_Q)&gt;Q;OV'\VL&gt;%^:=#7#^J&amp;B)?04W83=*$$#G[/3[O[1;O=T<br>
MWRD11M$DR[A$52#W[\VW?$"]/_4#58&amp;Y68"6\C8HG6#X/61&gt;?%G763]17"L9<br>
M!L#:1L,H-2[J7`-(.!M)%F980%9D8J*!'R0GTNBZ.B;29@DG$]"XW,QLQN)G<br>
<a href="mailto:MY@N%L.(%-2MO8VAA.R">MY@N%L.(%-2MO8VAA.R</a>=GY]W6F[^&gt;O?N&gt;G,D@0$E-L&gt;94Y2Q6X,N7_F1&gt;SI9E<br>
<a href="mailto:M71GNEO7W^2.9FY@9WA">M71GNEO7W^2.9FY@9WA</a>&gt;&gt;/:'[$^7^T6KM26X''X4K;-#K77X__@&gt;-6&gt;P/OC,B<br>
MPX&lt;U=%_I7:_=W!%MRQP=",H;D*10TP`+*L`QRM.?WB7?=P3&amp;`0\;]Y3MSX8]<br>
M#O`-97_#3,KH%M8Y\10=A]/K+DPJ-&gt;O8=WJ*LTTG5=CQ6'WFUV"S3\&lt;0U`&lt;Z<br>
MBI=B8C8RBJEOW0]\G6%V-,2-_0XF;G)+DC`RGA(?UJMN[!.J((HFW&gt;^LC"!'<br>
M,-^`X/Q8,I1C)XU!&gt;0TXS58;<a href="mailto:O7\?\DU$X58D*Y@:$-Z.D">O7\?\DU$X58D*Y@:$-Z.D</a>)#\VY&amp;QA"R@.]*Y<br>
MDC',8LE(?22[$1`7LX)')1$&amp;&gt;2&gt;Z8B,UYE.N*L5Z6P31F4^WE!B(.X-6L728<br>
MLM*)6)O[RE;\Z+U`0QQ=$DFQ&lt;0YP]5XX%?&amp;<a href="mailto:.@%22">.@+</a>.)Z"[('Y6F258SPTL6&gt;&gt;HM<br>
M?*HQ6O@Q)QL'\[5L@)VBFK=U]+8:P`:HF&gt;./:EF)"QF&amp;HZ0&amp;D[Z]P.TP&lt;+L7<br>
MYR=GQV?==[N'G?WEI&gt;"[W3!H#-$,HLSQJ$RR\.+O/,*%WQG%E"VRD0C^2-G"<br>
M,Y:+X[.+MV]/3L_;_B%E`,8A_:N#T?WY\^?/GS]__OSY\X?]_'^%X8H&gt;`&amp;@!<br>
!````<br>
`<br>
end<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek: timeout after scan and cmd line parser bug"</a>
<li> <b>Previous message:</b> <a href="0076.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Jeremy Hansen: "Re: Mustek 3-pass scanner test code"</a>
<li> <b>Maybe reply:</b> <a href="0086.html">Jeremy Hansen: "Re: Mustek 3-pass scanner test code"</a>
<!-- reply="end" -->
</ul>
