<!-- received="Sat Jul 19 14:48:20 1997 MST" -->
<!-- sent="Sat, 19 Jul 1997 18:38:38 -0400 (EDT)" -->
<!-- name="Gregory Trubetskoy" -->
<!-- email="grisha@ispol.com" -->
<!-- subject="Mustek difficulties..." -->
<!-- id="199707190523.WAA13417@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek difficulties...</title>
<h1>Mustek difficulties...</h1>
<b>Gregory Trubetskoy</b> (<a href="mailto:grisha@ispol.com"><i>grisha@ispol.com</i></a>)<br>
<i>Sat, 19 Jul 1997 18:38:38 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Kolja Waschk: "more about the DC390T problem (was: pre0.62 patch)"</a>
<li> <b>Previous message:</b> <a href="0098.html">David Mosberger-Tang: "pre0.62 patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have spent quite a lot of time copiling sane ( couldn't figure out what<br>
was wrong with gtk, I had to use a special esion, etc.. )<br>
<p>
My configuration is: Linux 2.0.30, Mustek 8000SP, ncr 810 PCI scsi card.<br>
<p>
I can do xscanimage mustek:/dev/sga and it brings up xscanimage. When I<br>
click on "acquire preview", I can see the scanner move to the opposite end<br>
where it hangs. I can turn it off and then back on, and this seems to<br>
reset the hung condition, but I can't get anythng in the preview window.<br>
When I resize it it turns black...<br>
<p>
My question is - can someone think of a reason why this scanner would stop<br>
responding?<br>
<p>
Does anyone else have a Mustek 8000SP working with an ncr 810 ?<br>
<p>
As a general comment on sane - it is my personal opnion that it would save<br>
new users a great deal of time if there were clear instructions on how to<br>
compile, install and test sane all in one file...<br>
<p>
------------------------------------------------------------<br>
                Gregory (Grisha) Trubetskoy<br>
                      <a href="mailto:grisha@ispol.com">grisha@ispol.com</a><br>
              <a href="http://www.ispol.com/home/grisha">http://www.ispol.com/home/grisha</a><br>
------------------------------------------------------------<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Kolja Waschk: "more about the DC390T problem (was: pre0.62 patch)"</a>
<li> <b>Previous message:</b> <a href="0098.html">David Mosberger-Tang: "pre0.62 patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
