<!-- received="Tue Jul 22 06:40:07 1997 MST" -->
<!-- sent="Tue, 22 Jul 1997 09:20:50 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??" -->
<!-- id="199707221320.JAA25305@nigel.redhat.com" -->
<!-- inreplyto="Help: Umax Vista-S6E / umax-sane problem: problem FOUND??" -->
<title>sane-devel: Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??</title>
<h1>Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Tue, 22 Jul 1997 09:20:50 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#114">[ date ]</a><a href="index.html#114">[ thread ]</a><a href="subject.html#114">[ subject ]</a><a href="author.html#114">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">Tristan Tarrant: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>Previous message:</b> <a href="0113.html">Jay Kuri: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0115.html">Tristan Tarrant: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>Reply:</b> <a href="0115.html">Tristan Tarrant: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>Reply:</b> <a href="0116.html">Phil Ptkwt Kristin: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Jay Kuri writes:<br>
<i>&gt;   after fiddling with it for a few minutes this evening I found out that</i><br>
<i>&gt;the scan works fine when you place xscanimage in any mode other than</i><br>
<i>&gt;color.</i><br>
<p>
Have you tried the latest umax package (NOT sane, umax) and built the<br>
umax-cli program?  Does it give you the same results?<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">Tristan Tarrant: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>Previous message:</b> <a href="0113.html">Jay Kuri: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0115.html">Tristan Tarrant: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>Reply:</b> <a href="0115.html">Tristan Tarrant: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>Reply:</b> <a href="0116.html">Phil Ptkwt Kristin: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- reply="end" -->
</ul>
