<!-- received="Thu Jul 24 08:42:34 1997 MST" -->
<!-- sent="Thu, 24 Jul 1997 08:13:33 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: More on Mustek 8000SP adventures..." -->
<!-- id="199707241513.IAA16748@panda.mosberger" -->
<!-- inreplyto="199707240613.IAA00748@cave.BitWizard.nl" -->
<title>sane-devel: Re: More on Mustek 8000SP adventures...</title>
<h1>Re: More on Mustek 8000SP adventures...</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Thu, 24 Jul 1997 08:13:33 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#133">[ date ]</a><a href="index.html#133">[ thread ]</a><a href="subject.html#133">[ subject ]</a><a href="author.html#133">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>Previous message:</b> <a href="0132.html">David Mosberger-Tang: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>In reply to:</b> <a href="0130.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0134.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>Reply:</b> <a href="0134.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 24 Jul 1997 08:13:18 +0200 (MET DST), <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> (Rogier Wolff) said:</i><br>
<p>
  Roger&gt; I'm writing sane-support for the Tamarack SCSI scanner. I had<br>
  Roger&gt; the same problem: my NCR810 driver would report an "NCR DEAD"<br>
  Roger&gt; when I tried to scan a slightly non-trivial amount of data.<br>
<p>
  Roger&gt; Initially I increased the timeout to one minute. However<br>
  Roger&gt; nowadays, my driver simply reduces the scan-size to at most<br>
  Roger&gt; an inch at a time.  The Tamarack takes less than 10 seconds<br>
  Roger&gt; to scan an inch, so there is no problem. This way I can run a<br>
  Roger&gt; standard kernel. (well almost).<br>
<p>
  Roger&gt; Mustec maintainers: This might also be applicable for the<br>
  Roger&gt; mustec backend....<br>
<p>
Hmmh, I don't think I would want to _force_ this behavior, since it<br>
would slow down scanning by quite a bit.  However, maybe we could put<br>
an option into mustek.conf that lets you limit the maximum distance<br>
scanned in one chunk.  Then we can distribute SANE with a mustek.conf<br>
that is safe for owners of an unpatched Linux ncr810 driver.  This<br>
leaves the option of getting back the old behavior when it's known to<br>
be safe.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>Previous message:</b> <a href="0132.html">David Mosberger-Tang: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>In reply to:</b> <a href="0130.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0134.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>Reply:</b> <a href="0134.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<!-- reply="end" -->
</ul>
