<!-- received="Sun Jul 27 08:43:51 1997 MST" -->
<!-- sent="Sun, 27 Jul 1997 08:21:45 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: sane-0.62 released" -->
<!-- id="199707271521.IAA03446@panda.mosberger" -->
<!-- inreplyto="199707271157.NAA12938@cave.BitWizard.nl" -->
<title>sane-devel: Re: sane-0.62 released</title>
<h1>Re: sane-0.62 released</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 27 Jul 1997 08:21:45 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#144">[ date ]</a><a href="index.html#144">[ thread ]</a><a href="subject.html#144">[ subject ]</a><a href="author.html#144">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">David  Mosberger: "Re: Problems with xscanimage"</a>
<li> <b>Previous message:</b> <a href="0143.html">David Mosberger-Tang: "Re: sane-0.62 released"</a>
<li> <b>In reply to:</b> <a href="0142.html">Rogier Wolff: "Re: sane-0.62 released"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0146.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.62 released"</a>
<li> <b>Reply:</b> <a href="0146.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.62 released"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 27 Jul 1997 13:57:46 +0200 (MET DST), <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> (Rogier Wolff) said:</i><br>
<p>
  Rogier&gt; David Mosberger-Tang wrote:<br>
<p>
<i>  &gt;&gt; I'd appreciate if people could give it a shot and let me know if</i><br>
<i>  &gt;&gt; there is anything that's confusing with respect to building and</i><br>
<i>  &gt;&gt; installing SANE.</i><br>
<p>
  Rogier&gt; I'll figure it out by myself in the following few hours, but<br>
  Rogier&gt; I would have appreciated something in the doc about making a<br>
  Rogier&gt; static "scanimage-mustek" (Actually I need<br>
  Rogier&gt; scanimage-tamarack :-). It might be nice to simply build<br>
  Rogier&gt; that binary (as an example for people developing a backend<br>
  Rogier&gt; like me), but not install it, as the dll-version is actually<br>
  Rogier&gt; more useful.<br>
<p>
  Rogier&gt; As far as I understand the framework, this would be easy to<br>
  Rogier&gt; make.<br>
<p>
Are you asking for a statically linked frontend that includes just one<br>
backend or are you simply looking for an easy way to debug backends<br>
(without having to deal with dynamic loading etc.)?<br>
<p>
If it's the latter, you can simply invoke ./configure with option<br>
--disable-shared.  Not only does this turn off shared libraries, but<br>
implicitly it also turns off dynamic loading.  This means that all<br>
backends will be preloaded into dll and nothing dynamic will happen.<br>
<p>
If you want to bypass dll completely, simply replace the libsane.a<br>
symlink by a symlink that points to libsane-tamarack.a (and build with<br>
"./configure --disable-shared)."<br>
<p>
I'll think about adding more info on this, though I'm kind of<br>
reluctant to burden the "casual" user with it since it's something<br>
that's likely to be relevant for developers only.  Maybe I should add<br>
a seperate "developers only" section to the README.<br>
<p>
<i>  &gt;&gt; This means that no other SCSI device on the same bus can be</i><br>
<i>  &gt;&gt; accessed while a scan is in progress.  With</i><br>
  Rogier&gt;                                       ^^^^ ????<br>
<p>
Duh, I must have gotten distracted by lunch or something... ;-)<br>
I fixed that now---thanks for catching it!<br>
<p>
<i>  &gt;&gt; Transparency adapter and automatic document feeder support is</i><br>
<i>  &gt;&gt; severly lacking (due to absence of equipment to test this with).</i><br>
<p>
  Rogier&gt; I saw lots of references to the transparency bits in the<br>
  Rogier&gt; backend. Is the documentation outdated, or has that simply<br>
  Rogier&gt; not been tested....<br>
<p>
  Rogier&gt; I have a transparency adapter. It is pretty simple: the bit<br>
  Rogier&gt; in the doc labelled "transparency adapter" turns the<br>
  Rogier&gt; external light-source on, and the internal one off. Simple.<br>
<p>
  Rogier&gt; I'm simply making a boolean SANE_OPTION that toggles this<br>
  Rogier&gt; bit.<br>
<p>
It's probably easy to add whatever transparancy-adapter support is<br>
missing in the Mustek backend.  But since I have never seen such a<br>
beast, I couldn't debug it myself, so I didn't bother spending time on<br>
something that may not work at all.  So, the docs are not out of date,<br>
but as you say, the TA support is probably easy to get working.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">David  Mosberger: "Re: Problems with xscanimage"</a>
<li> <b>Previous message:</b> <a href="0143.html">David Mosberger-Tang: "Re: sane-0.62 released"</a>
<li> <b>In reply to:</b> <a href="0142.html">Rogier Wolff: "Re: sane-0.62 released"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0146.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.62 released"</a>
<li> <b>Reply:</b> <a href="0146.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.62 released"</a>
<!-- reply="end" -->
</ul>
