<!-- received="Sun May 25 11:14:09 1997 MST" -->
<!-- sent="Sun, 25 May 1997 10:36:28 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Looking for scanner software" -->
<!-- id="199705251736.KAA04683@panda.mosberger" -->
<!-- inreplyto="33848162.74EC@roentgen.hlphys.uni-linz.ac.at" -->
<title>sane-devel: Re: Looking for scanner software</title>
<h1>Re: Looking for scanner software</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 25 May 1997 10:36:28 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#8">[ date ]</a><a href="index.html#8">[ thread ]</a><a href="subject.html#8">[ subject ]</a><a href="author.html#8">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">David Mosberger-Tang: "Re: SANE hp driver"</a>
<li> <b>Previous message:</b> <a href="0007.html">David Mosberger-Tang: "Re: mustek-probs: color, preview"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--CLAgHK65g6<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Below is a recent mail from Michael K. Johnson regarding UMAX support.<br>
The short answer is that SANE currently does not support UMAX scanners<br>
but there is another package that you might want to use in the<br>
meantime.<br>
<p>
	--david<br>
<p>
<p>
--CLAgHK65g6<br>
Content-Type: message/rfc822<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Return-Path: &lt;<a href="mailto:johnsonm@redhat.com">johnsonm@redhat.com</a>&gt;<br>
Received: from mail.azstarnet.com (localhost [127.0.0.1])<br>
	by panda.mosberger (8.8.5/8.8.5) with SMTP id IAA13414<br>
	for &lt;davidm&gt;; Mon, 5 May 1997 08:08:21 -0700<br>
Received: from aries.azstarnet.com (<a href="mailto:slist@aries.azstarnet.com">slist@aries.azstarnet.com</a> [169.197.1.12]) by mailhost.azstarnet.com (8.8.3-p/8.8.5) with ESMTP id HAA06008; Mon, 5 May 1997 07:35:51 -0700 (MST)<br>
Received: (from slist@localhost) by aries.azstarnet.com (8.8.5/8.8.5) id HAA07899; Mon, 5 May 1997 07:28:26 -0700<br>
Resent-Date: Mon, 5 May 1997 07:28:26 -0700<br>
Message-Id: &lt;199705051418.KAA26482@tristan.redhat.com&gt;<br>
In-reply-to: Your message of "Sat, 03 May 1997 15:52:04 PDT."<br>
             &lt;199705032252.PAA31144@panda.mosberger&gt; <br>
Mime-Version: 1.0<br>
Content-Type: text/plain; charset=us-ascii<br>
Resent-Message-ID: &lt;"RPuw31.0.Ix1.8wURp"@aries&gt;<br>
Resent-From: <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a><br>
Reply-To: <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a><br>
X-Mailing-List: &lt;<a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a>&gt; archive/latest/175<br>
X-Loop: <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a><br>
Precedence: list<br>
Resent-Sender: <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a><br>
X-UIDL: 3b6f5da2697c385cbe236c36cd14f398<br>
From: "Michael K. Johnson" &lt;<a href="mailto:johnsonm@redhat.com">johnsonm@redhat.com</a>&gt;<br>
Sender: <a href="mailto:johnsonm@tristan.redhat.com">johnsonm@tristan.redhat.com</a><br>
To: <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a><br>
Subject: Re: scanner help <br>
Date: Mon, 05 May 1997 10:18:08 -0400<br>
<p>
<p>
David Mosberger-Tang writes:<br>
<i>&gt;According to the file PROJECTS in the SANE distribution:</i><br>
<i>&gt;</i><br>
<i>&gt;  Backend:  Status: Contact:				     available hw:</i><br>
<i>&gt;  --------  ------- ---------------------------------------- -------------</i><br>
<i>&gt;  UMAX      planned Michael K. Johnson &lt;<a href="mailto:johnsonm@redhat.com">johnsonm@redhat.com</a>&gt; ???</i><br>
<i>&gt;</i><br>
<i>&gt;So the answer is: no, SANE does not currently support UMAX scanners.</i><br>
<i>&gt;However, there is standalone package that was written by Michael that</i><br>
<i>&gt;supports UMAX scanners (though I don't know whether it covers your</i><br>
<i>&gt;particular scanner and I'm afraid I don't remember what the name of</i><br>
<i>&gt;the package is; Michael, maybe you can help out?).</i><br>
<p>
I just call it "umax".  It's in the LSM.<br>
<a href="ftp://tsx-11.mit.edu/pub/linux/ALPHA/scanner/umax">ftp://tsx-11.mit.edu/pub/linux/ALPHA/scanner/umax</a>*<br>
<p>
The 0.5 version works on some scanners and includes all the documentation.<br>
The 0.5.x versions work on more scanners and have several improvements,<br>
but haven't been merged back into my source tree (someone else worked on<br>
that branch).<br>
<p>
Eventually, my plan is to make that code work both as the current<br>
standalone umax utility and be linked as a sane backend.  But I've got<br>
a few much-higher-priority tasks to complete first.<br>
<p>
<i>&gt;Also, I think</i><br>
<i>&gt;Michael said that UMAX made the programming documentation available in</i><br>
<i>&gt;PDF format so if you're interested in helping with a SANE backend for</i><br>
<i>&gt;UMAX, that should be possible.</i><br>
<p>
If you want to work on this, talk to me and I will explain to you how<br>
to work with the 0.5.x versions to create code that I can merge back in<br>
when I'm able to do so.<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
<p>
--CLAgHK65g6--
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">David Mosberger-Tang: "Re: SANE hp driver"</a>
<li> <b>Previous message:</b> <a href="0007.html">David Mosberger-Tang: "Re: mustek-probs: color, preview"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
