<!-- received="Sun May 25 13:54:57 1997 MST" -->
<!-- sent="Sun, 25 May 1997 15:31:08 -0500" -->
<!-- name="Worawut Wisutmethangoon" -->
<!-- email="wisutmet@cae.wisc.edu" -->
<!-- subject="Re: HP support" -->
<!-- id="199705251757.KAA04773@panda.mosberger" -->
<!-- inreplyto="HP support" -->
<title>sane-devel: Re: HP support</title>
<h1>Re: HP support</h1>
<b>Worawut Wisutmethangoon</b> (<a href="mailto:wisutmet@cae.wisc.edu"><i>wisutmet@cae.wisc.edu</i></a>)<br>
<i>Sun, 25 May 1997 15:31:08 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#11">[ date ]</a><a href="index.html#11">[ thread ]</a><a href="subject.html#11">[ subject ]</a><a href="author.html#11">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Michael K. Johnson: "Re: HP support"</a>
<li> <b>Previous message:</b> <a href="0010.html">David Mosberger-Tang: "Re: HP support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Mon, 19 May 1997 12:21:24 -0700, Sascha Ziemann &lt;<a href="mailto:szi@aibon.ping.de">szi@aibon.ping.de</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Sascha&gt; Hi, who is working on the HP Support. I get allways a core</i><br>
<i>&gt;   Sascha&gt; if I want to use the preview window (not enough colormap</i><br>
<i>&gt;   Sascha&gt; entries). Scanning without preview works. But for that I</i><br>
<i>&gt;   Sascha&gt; could have used hpscanimage. I would like to help a bit, if</i><br>
<i>&gt;   Sascha&gt; I can.</i><br>
<i>&gt; </i><br>
<i>&gt; What version of SANE and gtk are you using?  There are known problems</i><br>
<i>&gt; with older versions of GTK but sane-0.57.tar.gz with</i><br>
<i>&gt; gtk+970426-davidm.tar.gz works as far as I know (both can be found at</i><br>
<i>&gt; the SANE ftp site).</i><br>
<i>&gt; </i><br>
<p>
<p>
Hello All,<br>
<p>
	I'd like to add that I also have the same problem; preview doesn't <br>
work for me. My scanner is HP Scanjet 5p, though. I use sane-0.57 and<br>
gtk <br>
rpm from redhat contribution packages. The gtk rpm contains<br>
<p>
	libgdk.so.1.0.0<br>
	libgtk.so.1.0.0<br>
	libgimp.so.1.0.0<br>
	libgimpui.so.1.0.0<br>
	libglib.so.1.0.0<br>
<p>
	I downloaded the gtk+970426-davidm.tar.gz but could not compile <br>
it. The file README and INSTALL are empty.<br>
	<br>
	I also cannot run the installed [x]scanimage programs. I have to <br>
run it from the sane-0.57/frontend/ directory. It seems to me that the <br>
programs in the sane-0.57/frontend/ directory are the wrappers of the <br>
programs hidden in sane-0.57/frontend/.libs. Somehow the installation <br>
copied those files to /usr/local/bin/ but did not copy the wrappers.  <br>
<p>
	To run xscanimage, I need to type in the sane-0.57/frontend/<br>
	 ./xscanimage hp<br>
	Without the argument hp it will popup device selection window with<br>
options pnm:0 and pnm:1. Both do not work with my scanner.<br>
<p>
	Also, with scanimage I cannot use geometry options ( -t -l -x -y). <br>
For example, with the  command<br>
 	./scanimage -d hp -x 200 -y 200 --mode Color --resolution 100 &gt;<br>
out.pnm<br>
I got the following error<br>
	scanimage: setting of option --br-x failed (Invalid argument)<br>
Or <br>
	./scanimage -d hp -t 0 -l 0  --mode Color --resolution 100 &gt; out.pnm<br>
gives<br>
	scanimage: setting of option --tl-y failed (Invalid argument)<br>
<p>
	This is very similar error to what I got when trying to scan preview<br>
in the xscanimage. <br>
<p>
	Error: Failed restore value of option tl-x: Invalid argument.<br>
	Error: Failed restore value of option tl-y: Invalid argument.<br>
<p>
I wonder if there is connection between the two. <br>
	Another thing, the default resolution is set to 18 dpi. Why is it so<br>
coarse? Is there a way to set the the to something finer?	<br>
	<br>
	Lastly, I'd like to thank all the developers of SANE. Keep up the good<br>
work.<br>
	<br>
Thanks,<br>
Worawut W.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Michael K. Johnson: "Re: HP support"</a>
<li> <b>Previous message:</b> <a href="0010.html">David Mosberger-Tang: "Re: HP support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
