<!-- received="Sun May 25 17:25:15 1997 MST" -->
<!-- sent="Sun, 25 May 1997 17:00:38 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: problems with mscan-0.1 and paragon 600IICD" -->
<!-- id="199705260000.RAA06165@panda.mosberger" -->
<!-- inreplyto="199705251618.JAA03884@panda.mosberger" -->
<title>sane-devel: Re: problems with mscan-0.1 and paragon 600IICD</title>
<h1>Re: problems with mscan-0.1 and paragon 600IICD</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 25 May 1997 17:00:38 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#15">[ date ]</a><a href="index.html#15">[ thread ]</a><a href="subject.html#15">[ subject ]</a><a href="author.html#15">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">David Mosberger-Tang: "Re: HP support"</a>
<li> <b>Previous message:</b> <a href="0014.html">Thomas Blume: "Re: mustek-probs: color, preview"</a>
<li> <b>In reply to:</b> <a href="0006.html">David Mosberger-Tang: "Re: problems with mscan-0.1 and paragon 600IICD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 26 May 1997 00:05:12 +0200, Thomas Blume &lt;<a href="mailto:mblum1@nightshift.uni-paderborn.de">mblum1@nightshift.uni-paderborn.de</a>&gt; said:</i><br>
<p>
  Thomas&gt; BTW: Is mscan still under development??<br>
<p>
No, mscan is dead (at least as far as I'm concerned).  SANE is<br>
strictly superior and The Right Way to do scanner software. ;-)<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">David Mosberger-Tang: "Re: HP support"</a>
<li> <b>Previous message:</b> <a href="0014.html">Thomas Blume: "Re: mustek-probs: color, preview"</a>
<li> <b>In reply to:</b> <a href="0006.html">David Mosberger-Tang: "Re: problems with mscan-0.1 and paragon 600IICD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
