<!-- received="Wed May 28 09:05:09 1997 MST" -->
<!-- sent="Wed, 28 May 1997 17:52:14 +0059 (MDT)" -->
<!-- name="Mathias Weigt" -->
<!-- email="p5iba@medchem2.pharmazie.uni-halle.de" -->
<!-- subject="image buffering" -->
<!-- id="199705280238.TAA03781@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: image buffering</title>
<h1>image buffering</h1>
<b>Mathias Weigt</b> (<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de"><i>p5iba@medchem2.pharmazie.uni-halle.de</i></a>)<br>
<i>Wed, 28 May 1997 17:52:14 +0059 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#29">[ date ]</a><a href="index.html#29">[ thread ]</a><a href="subject.html#29">[ subject ]</a><a href="author.html#29">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">David Mosberger-Tang: "Re: HP support"</a>
<li> <b>Previous message:</b> <a href="0028.html">David Mosberger-Tang: "Re: SANE/TWAIN"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0038.html">Michael K. Johnson: "Re: image buffering"</a>
<li> <b>Maybe reply:</b> <a href="0038.html">Michael K. Johnson: "Re: image buffering"</a>
<li> <b>Maybe reply:</b> <a href="0045.html">Michael K. Johnson: "Re: image buffering"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Servus!<br>
<p>
In the last postings the buffering of images was mentioned.<br>
I thought a little bit and like to know more about it.<br>
In scanimage.c must_buffer is set for handheld scanners (parm.lines&lt;0)<br>
or for three pass scanning (either of the three frames).<br>
I think scanning a full size image (14 x 8.5 inch) at 600 dpi will cost <br>
125 Mbyte of memory. I don`t have such an amount of memory (only if I double<br>
my swapspace) and I think not many people on Linux have.<br>
David mentioned that a temporary file wouldn`t be a nice solution.<br>
Here is my question: Why not ?<br>
Shouldn't it be possible to write three temporary files for the red, green and<br>
blue frame (of course not as image but the red bytes in a line...) so that<br>
each will consume 1/3 of the entire image in space?<br>
After the last pass the picture can be put together from those three files<br>
and send to stdout or file.<br>
<p>
<p>
Mathias Weigt <br>
<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de">p5iba@medchem2.pharmazie.uni-halle.de</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">David Mosberger-Tang: "Re: HP support"</a>
<li> <b>Previous message:</b> <a href="0028.html">David Mosberger-Tang: "Re: SANE/TWAIN"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0038.html">Michael K. Johnson: "Re: image buffering"</a>
<li> <b>Maybe reply:</b> <a href="0038.html">Michael K. Johnson: "Re: image buffering"</a>
<li> <b>Maybe reply:</b> <a href="0045.html">Michael K. Johnson: "Re: image buffering"</a>
<!-- reply="end" -->
</ul>
