<!-- received="Wed May 28 21:12:55 1997 MST" -->
<!-- sent="Wed, 28 May 1997 20:47:21 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Question regarding known support: HP1150C Officejet PPA scanner" -->
<!-- id="199705290347.UAA11515@panda.mosberger" -->
<!-- inreplyto="269092487676807382@toto.iv" -->
<title>sane-devel: Re: Question regarding known support: HP1150C Officejet PPA scanner</title>
<h1>Re: Question regarding known support: HP1150C Officejet PPA scanner</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Wed, 28 May 1997 20:47:21 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#37">[ date ]</a><a href="index.html#37">[ thread ]</a><a href="subject.html#37">[ subject ]</a><a href="author.html#37">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">Michael K. Johnson: "Re: image buffering"</a>
<li> <b>Previous message:</b> <a href="0036.html">David Mosberger-Tang: "Re: Logitech Support ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 27 May 1997 15:28:14 -0500, Rick Stuart &lt;<a href="mailto:crs@anadarko.COM">crs@anadarko.COM</a>&gt; said:</i><br>
<p>
  Rick&gt; Please excuse the non-development question but I have grown<br>
  Rick&gt; tired of hotbot.<br>
<p>
  Rick&gt; I have been asked to find out if the parallel interface<br>
  Rick&gt; scanner which is part of the HP1150C is supported by any<br>
  Rick&gt; software which runs on a linux platform.  I have asked around<br>
  Rick&gt; and have gotten very little information about what this<br>
  Rick&gt; scanner can actually do.<br>
<p>
  Rick&gt; Any thoughts from the developers of SANE?<br>
<p>
Well, nobody else seems to bite, so I'll chip in my 2 cents (probably<br>
less than that, actually):<br>
<p>
The HP1150C is not listed in the SCL documentation I have.  So it<br>
looks like it's talking a language that may be completely different<br>
from SCL (which is the language spoken by HP ScanJet scanners).<br>
Adding HP1150C support therefore sounds like a non-trivial<br>
undertaking.  As far as I know, nobody is working on it for SANE.<br>
<p>
If you find some other free software for it, please let us know---it<br>
might be possible to integrate that other software into SANE without<br>
too much trouble.<br>
<p>
Good luck,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">Michael K. Johnson: "Re: image buffering"</a>
<li> <b>Previous message:</b> <a href="0036.html">David Mosberger-Tang: "Re: Logitech Support ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
