<!-- received="Fri May 30 01:59:49 1997 MST" -->
<!-- sent="Fri, 30 May 1997 10:27:35 +0100 (MET DST)" -->
<!-- name="Andreas Gaumann" -->
<!-- email="gg261@appl2.hrz.uni-siegen.de" -->
<!-- subject="mustek-probs: color, preview" -->
<!-- id="9705300827.AA02838@appl2.hrz.uni-siegen.de" -->
<!-- inreplyto="" -->
<title>sane-devel: mustek-probs: color, preview</title>
<h1>mustek-probs: color, preview</h1>
<b>Andreas Gaumann</b> (<a href="mailto:gg261@appl2.hrz.uni-siegen.de"><i>gg261@appl2.hrz.uni-siegen.de</i></a>)<br>
<i>Fri, 30 May 1997 10:27:35 +0100 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#44">[ date ]</a><a href="index.html#44">[ thread ]</a><a href="subject.html#44">[ subject ]</a><a href="author.html#44">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">Michael K. Johnson: "Re: image buffering"</a>
<li> <b>Previous message:</b> <a href="0043.html">David Mosberger-Tang: "Re: image buffering"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0014.html">Thomas Blume: "Re: mustek-probs: color, preview"</a>
<li> <b>Maybe reply:</b> <a href="0014.html">Thomas Blume: "Re: mustek-probs: color, preview"</a>
<li> <b>Reply:</b> <a href="0048.html">David Mosberger-Tang: "Re: mustek-probs: color, preview"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello all,<br>
<p>
last week I've written that I have some probs with the preview-window and <br>
color-scanning on my Mustek MSF-6000SP (Rev. 3.12).<br>
                            ^^^<br>
<p>
At first, thanks to all who helped me so far.<br>
<p>
Now there are no more horizontal stripes in color-images but therefore they are<br>
horizontal scaled by the factor 2 if the resolution is &lt;=300 dpi (equal if<br>
color- or gray-mode) and the are all right if the resolution is &gt;300 dpi.<br>
The preview-window runs only if I set the y_range.max to 180. But then all<br>
pictures are also scaled.<br>
<p>
Now here is more detailed what I have tested and find out:<br>
<p>
---------<br>
1. scanning-speed (-&gt;SIG_BIG_BUFF):<br>
---------<br>
<p>
In /usr/include/scsi/sg.h I've set SIG_BIG_BUFF to 1024*128-512. <br>
(Before I've forgot the -512). I have not exactly compared the scanning-times<br>
but (subjective) I would say that scanning is a little bit faster.<br>
<p>
---------<br>
2. horizontal stripes in color-pictures and no preview:<br>
---------<br>
<p>
---------<br>
(a) trying "./configure --disable-ld-fix"<br>
---------<br>
<p>
Recompiling sane with<br>
<p>
   make distclean; ./configure --disable-ld-fix; make; make install<br>
<p>
takes no effects to previous tests. The stripes are also in color-pictures<br>
while gray-pictures are all right. Trying to get a preview the scanner stops<br>
at the end (bottom) while it is still blinking but making NO noise. In <br>
/var/log/messages the entries of the preview test are<br>
<p>
  ncr53c8xx : at PCI bus 0, device 10, function 0<br>
  ncr_attach: unit=0 chip=810 base=fb000000, io_port=e000, irq=12<br>
  ncr53c810-0: using memory mapped IO at virtual address 0x283d000<br>
  ncr53c810-0: initial value of SCNTL3 = 13, final = 13<br>
  ncr53c810-0: requesting shared irq 12 (dev_id=0x1b5c068)<br>
  ncr53c810-0: restart (scsi reset).<br>
  scsi5 : ncr53c8xx (rel 1.12d)<br>
  scsi : 1 host.<br>
    Vendor: IOMEGA    Model: ZIP 100           Rev: D.09<br>
    Type:   Direct-Access                      ANSI SCSI revision: 02<br>
    Vendor: MUSTEK^?^?  Model: MSF-06000SP^?^?^?^?^?  Rev: 3.12<br>
    Type:   Scanner                            ANSI SCSI revision: 01<br>
  Detected scsi generic sgb at scsi5, channel 0, id 6, lun 0<br>
  ncr53c810-0-&lt;target 6, lun 0&gt;: extraneous data discarded.<br>
  ncr53c810-0-&lt;target 6, lun 0&gt;: COMMAND FAILED (9 0) @00469810.<br>
  ncr53c810-0: restart (ncr dead ?).<br>
  ncr53c810-0: releasing host resources<br>
  ncr53c810-0: resetting chip<br>
  ncr53c810-0: host resources successfully released<br>
  scsi : 0 hosts.<br>
<p>
(        ^ switching off the scanner and turn it on again)<br>
<p>
---------<br>
(b) adding MUSTEK_FLAG_LD_MFS<br>
---------<br>
<p>
I've added the line<br>
<p>
      dev-&gt;flags |= MUSTEK_FLAG_LD_MFS;<br>
<p>
in backend/mustek.c in the "attach"-function nearly line 324. This line is<br>
copied from the MFS-1200SP if-tree. After recompiling sane with<br>
<p>
   make distclean; ./configure; make; make install<br>
<p>
it has two effects:<br>
1. There are no more horizontal stripes in color-images.<br>
2. All images (color, gray, lineart, ...) are horizontal stretched by the<br>
   factor 2 if the resolution is in 0..300 dpi. But if the resolution is <br>
<i>   &gt;=301 dpi the images are all right!!! </i><br>
   Color-Images have two (very) small lines at the top (a dark blue line <br>
   and a cyan line under the blue one), but they are very small and can be<br>
   deleted very easily.<br>
<p>
Now I've added the factor 2 at some different places where the resulution is<br>
set (these places are chosen a little bit randomized because I don't really<br>
know what I have done there) but all tries take no effect equal which<br>
scan-mode I've tried. (I want to say that I've added the factor 2 at one <br>
place, recompiled sane, tested it and see no effect, than adding the factor<br>
at the next place (most times without deleting the previous one) and so on.)<br>
<p>
These placse are:<br>
1. in the function "line_distance" nearly line 779:<br>
      s-&gt;ld.peak_res = res / 2;<br>
2. in the same function nearly line 785/786:<br>
    res*=2;<br>
    peak_res*=2;<br>
3. in the function "sane_get_parameters" nearly line 1867:<br>
          s-&gt;params.lines = height * dots_per_mm * 2;<br>
<p>
(By this, what's the difference between "res" and<br>
"peak_res" ?)<br>
<p>
---------<br>
(c) setting y_range.max to 180 (instead of 360) in the function attach<br>
---------<br>
<p>
The entry in the function "attach" nearly line 325<br>
<p>
      dev-&gt;y_range.max = SANE_FIX (180);                /* measured */<br>
<p>
makes the scanner to scan the preview-window but with this parameter all<br>
images (equal if preview or normal) are scaled in horizontal direction.<br>
While getting the preview-image the scanner stops after the half length,<br>
then the first half of the image is shown in the window and finally the<br>
second half of the image is scanned. So it seemes that with the normal <br>
value (360) the scanner tries to scan the first part, but when the<br>
scanner-head reaches the bottom, it stops (perhaps a little bit before the<br>
half of the suspected data is read) and so the first half isn't shown and<br>
the rest of the image will not be scanned.<br>
<p>
------------------------------------------<br>
<p>
All in all I think that the main problem is the MUSTEK_FLAG_LD_MFS-flag<br>
because it is made for 1200-scanners. These have a resolution of 1200x600<br>
(I think so, but I do not really know). So there is the factor 2 between<br>
horizontal and vertical resolution. On the other hand my scanner has a<br>
resolution of 600dpi in both directions and so there is no factor 2. But<br>
I havn't found the place where to set the right resolution.<br>
<p>
<p>
So far,<br>
<p>
Andreas.<br>
<p>
-------------------------------<br>
<a href="mailto:gaumann@studm.hrz.uni-siegen.de">gaumann@studm.hrz.uni-siegen.de</a><br>
  <a href="mailto:gg261@appl2.hrz.uni-siegen.de">gg261@appl2.hrz.uni-siegen.de</a><br>
===============================<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">Michael K. Johnson: "Re: image buffering"</a>
<li> <b>Previous message:</b> <a href="0043.html">David Mosberger-Tang: "Re: image buffering"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0014.html">Thomas Blume: "Re: mustek-probs: color, preview"</a>
<li> <b>Maybe reply:</b> <a href="0014.html">Thomas Blume: "Re: mustek-probs: color, preview"</a>
<li> <b>Reply:</b> <a href="0048.html">David Mosberger-Tang: "Re: mustek-probs: color, preview"</a>
<!-- reply="end" -->
</ul>
