<!-- received="Fri May 30 08:29:52 1997 MST" -->
<!-- sent="Fri, 30 May 1997 08:16:17 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: mustek-probs: color, preview" -->
<!-- id="199705301516.IAA26685@panda.mosberger" -->
<!-- inreplyto="9705300827.AA02838@appl2.hrz.uni-siegen.de" -->
<title>sane-devel: Re: mustek-probs: color, preview</title>
<h1>Re: mustek-probs: color, preview</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Fri, 30 May 1997 08:16:17 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#48">[ date ]</a><a href="index.html#48">[ thread ]</a><a href="subject.html#48">[ subject ]</a><a href="author.html#48">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">David Mosberger-Tang: "Re: image buffering"</a>
<li> <b>Previous message:</b> <a href="0047.html">David Mosberger-Tang: "Re: xcam/xscanimage hangs w/ SANE 0.57"</a>
<li> <b>In reply to:</b> <a href="0044.html">Andreas Gaumann: "mustek-probs: color, preview"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 30 May 1997 10:27:35 +0100 (MET DST), Andreas Gaumann &lt;<a href="mailto:gg261@appl2.hrz.uni-siegen.de">gg261@appl2.hrz.uni-siegen.de</a>&gt; said:</i><br>
<p>
  Andreas&gt; Hello all, last week I've written that I have some probs<br>
  Andreas&gt; with the preview-window and color-scanning on my Mustek<br>
  Andreas&gt; MSF-6000SP (Rev. 3.12).<br>
<p>
  Andreas&gt; Now there are no more horizontal stripes in color-images<br>
  Andreas&gt; but therefore they are horizontal scaled by the factor 2 if<br>
  Andreas&gt; the resolution is &lt;=300 dpi (equal if color- or gray-mode)<br>
  Andreas&gt; and the are all right if the resolution is &gt;300 dpi.  The<br>
  Andreas&gt; preview-window runs only if I set the y_range.max to<br>
  Andreas&gt; 180. But then all pictures are also scaled.<br>
<p>
  Andreas&gt; Now here is more detailed what I have tested and find out:<br>
<p>
  Andreas&gt; --------- 1. scanning-speed (-&gt;SIG_BIG_BUFF): ---------<br>
<p>
  Andreas&gt; In /usr/include/scsi/sg.h I've set SIG_BIG_BUFF to<br>
  Andreas&gt; 1024*128-512.  (Before I've forgot the -512). I have not<br>
  Andreas&gt; exactly compared the scanning-times but (subjective) I<br>
  Andreas&gt; would say that scanning is a little bit faster.<br>
<p>
It should be a _lot_ faster --- on the order of 4 times faster in<br>
color mode (because there will be only a quarter of backtracks, which<br>
take all the time) --- this is true unless your scanner has a very big<br>
internal buffer, which could help to avoid backtracking completely.<br>
<p>
  Andreas&gt; In /var/log/messages the entries of the preview test are<br>
<p>
  Andreas&gt; ncr53c810-0: restart (ncr dead ?).<br>
<p>
This is your problem.  I just expanded the info in sane-mustek(5) a<br>
bit:<br>
<p>
              ncr810 When using this controller, be sure to<br>
                     configure the  ker- nel<br>
                     such that tagged command  queueing  is  dis-<br>
                     abled,  targets  are  not allowed to discon-<br>
                     nect, and make sure the SCSI timeout is rea-<br>
                     sonably  big;  the  default  timeout for the<br>
                     Linux 2.0 kernels is 10  seconds,  which  is<br>
                     way  too  low  when scanning large area.  If<br>
                     you get messages of the form  "restart  (ncr<br>
                     dead  ?)"  in your /var/log/messages file or<br>
                     on the system console,  it's  an  indication<br>
                     that  the  timeout  is  too  short.  In this<br>
                     case, find the line  "if  (np-&gt;latetime&gt;10)"<br>
                     in  file  ncr53c8xx.c (normally in directory<br>
                     /usr/src/linux/drivers/scsi) and change  the<br>
                     constant  10 to, say, 60 (one minute).  Then<br>
                     rebuild the kernel/module and try again.<br>
<p>
If this isn't clear, let me know.<br>
<p>
  Andreas&gt; I've added the line<br>
<p>
  Andreas&gt;   dev-&gt; flags |= MUSTEK_FLAG_LD_MFS;<br>
<p>
  Andreas&gt; in backend/mustek.c in the "attach"-function nearly line<br>
  Andreas&gt; 324. This line is copied from the MFS-1200SP if-tree. After<br>
  Andreas&gt; recompiling sane with<br>
<p>
  Andreas&gt; make distclean; ./configure; make; make install<br>
<p>
  Andreas&gt; it has two effects: 1. There are no more horizontal stripes<br>
  Andreas&gt; in color-images.  2. All images (color, gray, lineart, ...)<br>
  Andreas&gt; are horizontal stretched by the factor 2 if the resolution<br>
  Andreas&gt; is in 0..300 dpi. But if the resolution is<br>
  Andreas&gt; &gt;=301 dpi the images are all right!!!<br>
<p>
The scaling is most likely due to the fact that once you turn on<br>
MUSTEK_FLAG_LD_MFS, the line-distance command is not sent to the<br>
scanner anymore.  I have observed the same scaling-effect on my<br>
scanner when not sending the line-distance command.  This makes me<br>
doubt that setting the MUSTEK_FLAG_LD_MFS bit is the proper solution.<br>
<p>
Could you undo all your changes and then change mustek.c around line 1409<br>
to:<br>
<p>
#if 0<br>
	  if (s-&gt;hw-&gt;flags &amp; MUSTEK_FLAG_LD_MFS)<br>
	    fix_line_distance_mfs (s, lines_per_buffer, bpl, data, extra);<br>
	  else if (s-&gt;ld.max_value)<br>
	    /* need to correct for distance between r/g/b sensors: */<br>
	    fix_line_distance_normal (s, lines_per_buffer, bpl, data, extra);<br>
	  else<br>
#endif<br>
	    memcpy (extra, data, lines_per_buffer * bpl);<br>
<p>
and then scan an image that has three vertical bands of pure red,<br>
green, and blue at 100dpi and send me the resulting image?  The image<br>
doesn't have to be very large---it's enough if you get one or two<br>
backtracks.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">David Mosberger-Tang: "Re: image buffering"</a>
<li> <b>Previous message:</b> <a href="0047.html">David Mosberger-Tang: "Re: xcam/xscanimage hangs w/ SANE 0.57"</a>
<li> <b>In reply to:</b> <a href="0044.html">Andreas Gaumann: "mustek-probs: color, preview"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
