<!-- received="Fri Jun 13 08:23:06 1997 MST" -->
<!-- sent="Fri, 13 Jun 1997 08:02:56 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: ScanJet 5p working with SANE" -->
<!-- id="199706131502.IAA05887@panda.mosberger" -->
<!-- inreplyto="199706121511.IAA06903@panda.mosberger" -->
<title>sane-devel: Re: ScanJet 5p working with SANE</title>
<h1>Re: ScanJet 5p working with SANE</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Fri, 13 Jun 1997 08:02:56 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#78">[ date ]</a><a href="index.html#78">[ thread ]</a><a href="subject.html#78">[ subject ]</a><a href="author.html#78">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">David Mosberger-Tang: "Re: ScanJet 5p working with SANE"</a>
<li> <b>Previous message:</b> <a href="0077.html">Tristan Tarrant: "Re: umax-backend"</a>
<li> <b>In reply to:</b> <a href="0075.html">Sascha Ziemann: "Re: ScanJet 5p working with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0079.html">David Mosberger-Tang: "Re: ScanJet 5p working with SANE"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 12 Jun 1997 17:26:56 +0200, Sascha Ziemann &lt;<a href="mailto:szi@aibon.ping.de">szi@aibon.ping.de</a>&gt; said:</i><br>
<p>
  Sascha&gt; David Mosberger-Tang wrote:<br>
<p>
<i>  &gt;&gt; If you want to give a shot at it, let me know (I have the docs</i><br>
<i>  &gt;&gt; for the necessary commands).</i><br>
<p>
  Sascha&gt; Where can I get docs for the 4C? I called a bit around in<br>
  Sascha&gt; germany, but no one could send me a programming manual or<br>
  Sascha&gt; something similar.<br>
<p>
Send mail to <a href="mailto:hp_scan@greeley.sykes.com">hp_scan@greeley.sykes.com</a>.  They have an SDK that<br>
describes everything.  The only downside is that the sample source<br>
code is copyrighted in a way that makes it useless for free software.<br>
But the docs are very good.  Oh, you may also indicate that you do not<br>
want a CD-ROM in the Joliet filesystem format.<br>
<p>
Would you be interested in fixing the decipoint vs. pixel problem that<br>
exists on the 5p?  (The 4c can handle both command types.)<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">David Mosberger-Tang: "Re: ScanJet 5p working with SANE"</a>
<li> <b>Previous message:</b> <a href="0077.html">Tristan Tarrant: "Re: umax-backend"</a>
<li> <b>In reply to:</b> <a href="0075.html">Sascha Ziemann: "Re: ScanJet 5p working with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0079.html">David Mosberger-Tang: "Re: ScanJet 5p working with SANE"</a>
<!-- reply="end" -->
</ul>
