<!-- received="Sat Jun 14 15:28:12 1997 MST" -->
<!-- sent="Sat, 14 Jun 1997 15:19:27 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="SANE v0.6 released!" -->
<!-- id="199706142219.PAA06802@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE v0.6 released!</title>
<h1>SANE v0.6 released!</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sat, 14 Jun 1997 15:19:27 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#80">[ date ]</a><a href="index.html#80">[ thread ]</a><a href="subject.html#80">[ subject ]</a><a href="author.html#80">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Neville Wilford: "Sane on NeXT/OpenStep - a plea for help"</a>
<li> <b>Previous message:</b> <a href="0079.html">David Mosberger-Tang: "Re: ScanJet 5p working with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0103.html">Guido Muesch: "SANE 0.6 configure"</a>
<li> <b>Reply:</b> <a href="0103.html">Guido Muesch: "SANE 0.6 configure"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The latest version of SANE is finally out.  It's all at:<br>
<p>
	<a href="ftp://ftp.azstarnet.com/pub/linux/axp/sane/">ftp://ftp.azstarnet.com/pub/linux/axp/sane/</a><br>
<p>
The relevant files are:<br>
<p>
	sane-0.6.lsm<br>
	sane-0.6.tar.gz<br>
<p>
and, for the graphical frontends:<br>
<p>
	gtk+.README<br>
	gtk+960606-davidm.diff.gz<br>
	gtk+960606-davidm.tar.gz<br>
<p>
The most important changes:<br>
<p>
	- UMAX scanners are now supported!  Kudos to Oliver Rauch<br>
	  &lt;orauch@physik.uni-osnabrueck.de&gt; and Michael K. Johnson<br>
	  &lt;johnsonm@redhat.com&gt;.<br>
<p>
	- Better &amp; nicer looking vector option support.<br>
<p>
	- xscanimage no longer misbehaves when the preview window gets<br>
	  closed by the window manager.<br>
<p>
	- Revised copyright info.  The idea is that the SANE standard is<br>
	  in the public domain, the backends are under GPL, but it's allowed<br>
	  to link them into commercial apps (both statically and dynamically)<br>
	  and the frontends (xscanimage etc) are under strict GPL.<br>
<p>
Note that you will have to use the gtk+ fixes that are mentioned above<br>
to get a working xscanimage/xcam.  See gtk+.README for details.<br>
<p>
Thanks to everybody who contributed to this release.  And keep those<br>
patches coming!  But reports and suggestions for improvements are, of<br>
course, also welcome.<br>
<p>
Enjoy,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Neville Wilford: "Sane on NeXT/OpenStep - a plea for help"</a>
<li> <b>Previous message:</b> <a href="0079.html">David Mosberger-Tang: "Re: ScanJet 5p working with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0103.html">Guido Muesch: "SANE 0.6 configure"</a>
<li> <b>Reply:</b> <a href="0103.html">Guido Muesch: "SANE 0.6 configure"</a>
<!-- reply="end" -->
</ul>
