<!-- received="Sat Jun 14 17:55:48 1997 MST" -->
<!-- sent="Sat, 14 Jun 1997 20:50:05 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: Sane on NeXT/OpenStep - a plea for help" -->
<!-- id="199706150050.UAA24036@nigel.redhat.com" -->
<!-- inreplyto="Sane on NeXT/OpenStep - a plea for help" -->
<title>sane-devel: Re: Sane on NeXT/OpenStep - a plea for help</title>
<h1>Re: Sane on NeXT/OpenStep - a plea for help</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Sat, 14 Jun 1997 20:50:05 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#82">[ date ]</a><a href="index.html#82">[ thread ]</a><a href="subject.html#82">[ subject ]</a><a href="author.html#82">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Gordon Matzigkeit: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<li> <b>Previous message:</b> <a href="0081.html">Neville Wilford: "Sane on NeXT/OpenStep - a plea for help"</a>
<li> <b>Maybe in reply to:</b> <a href="0081.html">Neville Wilford: "Sane on NeXT/OpenStep - a plea for help"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0083.html">Gordon Matzigkeit: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Neville Wilford writes:<br>
<i>&gt;I would love to be able to compile SANE for OpenStep in order to use  </i><br>
<i>&gt;the Mustek scanner I have.  One of the linux mustek drivers has been  </i><br>
<i>&gt;ported to NeXTStep but this doesn't support my scanner.</i><br>
...<br>
<i>&gt;Can anyone advise me whether this is completely a lost cause?</i><br>
<p>
I doubt it, if there is generic scsi support sufficient to support<br>
another SCSI scanner.<br>
<p>
<i>&gt;Are there any subscribers to the list with NeXT/OpenStep experience?</i><br>
<p>
That I can't answer, but if you can tell us exactly which mustek driver<br>
supports NeXTStep, including a pointer to the source code, we'll have<br>
a higher probability of being able to help.  Internet access to your<br>
machine for one developer probably would also help.<br>
<p>
Generic SCSI support is far from standardized, and so it has to be<br>
written anew for just about every platform.  This takes some programming<br>
knowledge.<br>
<p>
I'd say that supporting NeXTStep would be nice, not only for NeXTStep,<br>
but also because it will likely work then on Apple's Rhapsody when it<br>
is released.<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Gordon Matzigkeit: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<li> <b>Previous message:</b> <a href="0081.html">Neville Wilford: "Sane on NeXT/OpenStep - a plea for help"</a>
<li> <b>Maybe in reply to:</b> <a href="0081.html">Neville Wilford: "Sane on NeXT/OpenStep - a plea for help"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0083.html">Gordon Matzigkeit: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<!-- reply="end" -->
</ul>
