<!-- received="Mon Jun 16 22:40:54 1997 MST" -->
<!-- sent="Tue, 17 Jun 1997 07:33:41 +0200 (MEST)" -->
<!-- name="Guenther Beulshausen" -->
<!-- email="Guenther.Beulshausen@stud.uni-hannover.de" -->
<!-- subject="Can't compile sane-0.6 on Linux" -->
<!-- id="199706162202.PAA00224@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: Can't compile sane-0.6 on Linux</title>
<h1>Can't compile sane-0.6 on Linux</h1>
<b>Guenther Beulshausen</b> (<a href="mailto:Guenther.Beulshausen@stud.uni-hannover.de"><i>Guenther.Beulshausen@stud.uni-hannover.de</i></a>)<br>
<i>Tue, 17 Jun 1997 07:33:41 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#100">[ date ]</a><a href="index.html#100">[ thread ]</a><a href="subject.html#100">[ subject ]</a><a href="author.html#100">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Andrew Kuchling: "B&amp;W qcam with SANE 0.6"</a>
<li> <b>Previous message:</b> <a href="0099.html">David Mosberger-Tang: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
I've got the following error when I tried to compile sane-0.6 on Linux:<br>
<p>
making all in frontend<br>
make[1]: Entering directory `/tmp/root/sane/sane-0.6/frontend'<br>
gcc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include<br>
-I/usr/local/include -DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d<br>
-DPATH_SANE_DATA_DIR=/usr/local/share           -DV_MAJOR=0 -DV_MINOR=5<br>
-I/usr/X11R6/include -g -O2 -D_GNU_SOURCE -Wall gtkglue.c<br>
gtkglue.c: In function `curve_new':<br>
gtkglue.c:701: warning: implicit declaration of function<br>
`gtk_gamma_curve_new'<br>
gtkglue.c:701: warning: assignment makes pointer from integer without a<br>
cast<br>
gtkglue.c:702: warning: implicit declaration of function `GTK_GAMMA_CURVE'<br>
gtkglue.c:702: invalid type argument of `-&gt;'<br>
gtkglue.c:696: warning: `curve' might be used uninitialized in this<br>
function<br>
gtkglue.c: In function `gsg_sync':<br>
gtkglue.c:1296: invalid type argument of `-&gt;'<br>
gtkglue.c:1275: warning: `curve' might be used uninitialized in this<br>
function<br>
make[1]: *** [gtkglue.o] Error 1<br>
make[1]: Leaving directory `/tmp/root/sane/sane-0.6/frontend'<br>
make: *** [all-recursive] Error 1<br>
<p>
I had no problems compiling sane-0.57!<br>
<p>
<p>
Bye,<br>
<p>
Guenther<br>
<p>
<a href="mailto:Guenther.Beulshausen@stud.uni-hannover.de">Guenther.Beulshausen@stud.uni-hannover.de</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Andrew Kuchling: "B&amp;W qcam with SANE 0.6"</a>
<li> <b>Previous message:</b> <a href="0099.html">David Mosberger-Tang: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
