<!-- received="Tue Jun 17 14:51:37 1997 MST" -->
<!-- sent="Tue, 17 Jun 1997 23:46:38 +0200 (MET DST)" -->
<!-- name="Guido Muesch" -->
<!-- email="odiug@faho.rwth-aachen.de" -->
<!-- subject="SANE 0.6 configure" -->
<!-- id="199706172146.XAA13006@darkstar.faho.rwth-aachen.de" -->
<!-- inreplyto="199706142219.PAA06802@panda.mosberger" -->
<title>sane-devel: SANE 0.6 configure</title>
<h1>SANE 0.6 configure</h1>
<b>Guido Muesch</b> (<a href="mailto:odiug@faho.rwth-aachen.de"><i>odiug@faho.rwth-aachen.de</i></a>)<br>
<i>Tue, 17 Jun 1997 23:46:38 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#103">[ date ]</a><a href="index.html#103">[ thread ]</a><a href="subject.html#103">[ subject ]</a><a href="author.html#103">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Andrew Kuchling: "Re: B&amp;W qcam with SANE 0.6"</a>
<li> <b>Previous message:</b> <a href="0102.html">David Mosberger-Tang: "Re: B&amp;W qcam with SANE 0.6"</a>
<li> <b>In reply to:</b> <a href="0080.html">David Mosberger-Tang: "SANE v0.6 released!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0147.html">Guido Muesch: "strange library problems solved"</a>
<li> <b>Reply:</b> <a href="0147.html">Guido Muesch: "strange library problems solved"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi<br>
<p>
On one of my systems, I have the problem that not all libraries are<br>
detected. (I once told David). It might be a problem with my system,<br>
but I need a hint how I can debug this further.<br>
<p>
configure gives me for the library section:<br>
creating libtool<br>
checking for X... libraries /usr/X11R6/lib, headers /usr/X11R6/include<br>
checking for sqrt in -lm... yes<br>
checking for gettext in -lintl... yes<br>
checking for gethostbyaddr in -lnsl... no<br>
checking for socket in -lsocket... no<br>
checking for main in -lXext... no<br>
checking for main in -lX11... yes<br>
checking for main in -lXpm... yes<br>
checking for main in -lglib... yes<br>
checking for main in -lgdk... no<br>
checking for gtk_check_button_new in -lgtk... no<br>
checking for libgimp/gimp.h... no<br>
checking for dlfcn.h... yes<br>
checking for dlopen in -ldl... yes<br>
checking for dlopen... yes<br>
<p>
These 'missing' libs (Xext and gtk) are there and have no visible<br>
differences in permissions and ownership.<br>
<p>
Any idea what to check next? What does configure actually do? Looking<br>
into 'configure' is rather confusing since it was built automatically<br>
and does not help (me) much.<br>
<p>
I suspect my versions of ld.so and maybe libc to cause this problem:<br>
odiug@darkstar sane-0.6 $ rpm -q ld.so<br>
ld.so-1.9.2-1<br>
odiug@darkstar sane-0.6 $ rpm -q libc   <br>
libc-5.4.23-3<br>
<p>
It would be helpful if someone could explain to me how configure<br>
checks for libraries. Maybe I can reproduce this problem then.<br>
<p>
Ciao<br>
  Guido<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Andrew Kuchling: "Re: B&amp;W qcam with SANE 0.6"</a>
<li> <b>Previous message:</b> <a href="0102.html">David Mosberger-Tang: "Re: B&amp;W qcam with SANE 0.6"</a>
<li> <b>In reply to:</b> <a href="0080.html">David Mosberger-Tang: "SANE v0.6 released!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0147.html">Guido Muesch: "strange library problems solved"</a>
<li> <b>Reply:</b> <a href="0147.html">Guido Muesch: "strange library problems solved"</a>
<!-- reply="end" -->
</ul>
