<!-- received="Tue Jun 17 16:06:32 1997 MST" -->
<!-- sent="Tue, 17 Jun 1997 19:00:49 -0400 (EDT)" -->
<!-- name="Andrew Kuchling" -->
<!-- email="amk@magnet.com" -->
<!-- subject="Re: B&amp;W qcam with SANE 0.6" -->
<!-- id="199706172300.TAA01810@lemur.magnet.com" -->
<!-- inreplyto="199706172233.AAA13861@darkstar.faho.rwth-aachen.de" -->
<title>sane-devel: Re: B&amp;W qcam with SANE 0.6</title>
<h1>Re: B&amp;W qcam with SANE 0.6</h1>
<b>Andrew Kuchling</b> (<a href="mailto:amk@magnet.com"><i>amk@magnet.com</i></a>)<br>
<i>Tue, 17 Jun 1997 19:00:49 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#108">[ date ]</a><a href="index.html#108">[ thread ]</a><a href="subject.html#108">[ subject ]</a><a href="author.html#108">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0109.html">Andrew Kuchling: "B&amp;W qcam: Curiouser..."</a>
<li> <b>Previous message:</b> <a href="0107.html">David Mosberger-Tang: "Re: B&amp;W qcam with SANE 0.6"</a>
<li> <b>In reply to:</b> <a href="0106.html">Guido Muesch: "Re: B&amp;W qcam with SANE 0.6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Seems like I was the last who tried to fix the BW Interface. 8-) I also</i><br>
<i>&gt; got as far as scanning some data but sane hung up then and had to be</i><br>
<i>&gt; killed with ^C. It seemed like it is issuing the right commands but has</i><br>
<p>
	Right, that's because Bpp is set to 3 and not 1, and tries to<br>
read 200% too much data; changing q-&gt;version==QC_MONO to<br>
q-&gt;version!=QC_COLOR fixes that, so scanimage runs and exits.<br>
<p>
	Scott Laird's qcam-0.91 works fine, so it's not that my qcam<br>
is somehow broken or misconfigured.  The same results are produced<br>
whether --test-image is on or not, so it looks like reading from the<br>
camera is wrong for the B&amp;W model.  Still working on it...<br>
<p>
<p>
	Andrew Kuchling<br>
	<a href="mailto:amk@magnet.com">amk@magnet.com</a><br>
	<a href="http://people.magnet.com/%7Eamk/">http://people.magnet.com/%7Eamk/</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0109.html">Andrew Kuchling: "B&amp;W qcam: Curiouser..."</a>
<li> <b>Previous message:</b> <a href="0107.html">David Mosberger-Tang: "Re: B&amp;W qcam with SANE 0.6"</a>
<li> <b>In reply to:</b> <a href="0106.html">Guido Muesch: "Re: B&amp;W qcam with SANE 0.6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
