<!-- received="Tue Jun 24 17:15:15 1997 MST" -->
<!-- sent="25 Jun 1997 01:55:42 +0200" -->
<!-- name="Christophe Zwecker" -->
<!-- email="doc@rrz.uni-hamburg.de" -->
<!-- subject="what is backtracking ?" -->
<!-- id="5opmpu$qrj$1@dumbo.und.zoff" -->
<!-- inreplyto="" -->
<title>sane-devel: what is backtracking ?</title>
<h1>what is backtracking ?</h1>
<b>Christophe Zwecker</b> (<a href="mailto:doc@rrz.uni-hamburg.de"><i>doc@rrz.uni-hamburg.de</i></a>)<br>
<i>25 Jun 1997 01:55:42 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#150">[ date ]</a><a href="index.html#150">[ thread ]</a><a href="subject.html#150">[ subject ]</a><a href="author.html#150">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Christophe Zwecker: "Re: sane compile probs with gtk"</a>
<li> <b>Previous message:</b> <a href="0149.html">David Mosberger-Tang: "Re: strange library problems solved"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0157.html">Michael J. Long: "Re: what is backtracking ?"</a>
<li> <b>Maybe reply:</b> <a href="0157.html">Michael J. Long: "Re: what is backtracking ?"</a>
<li> <b>Maybe reply:</b> <a href="0163.html">Christophe Zwecker: "Re: what is backtracking ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
neither sane-mustek nor xscanimage manpage mention it , what is it?<br>
<p>
cu<br>
<pre>
-- 
<p>
   Christophe
<p>
----------------------------------------------------------------------
Christophe Zwecker                email:      <a href="mailto:doc@rrz.uni-hamburg.de">doc@rrz.uni-hamburg.de</a>
Hamburg, Germany                    fax:      49 40 22715433  
----------------------------------------------------------------------
<p>
In newsgroups please reply also by email - thanks
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Christophe Zwecker: "Re: sane compile probs with gtk"</a>
<li> <b>Previous message:</b> <a href="0149.html">David Mosberger-Tang: "Re: strange library problems solved"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0157.html">Michael J. Long: "Re: what is backtracking ?"</a>
<li> <b>Maybe reply:</b> <a href="0157.html">Michael J. Long: "Re: what is backtracking ?"</a>
<li> <b>Maybe reply:</b> <a href="0163.html">Christophe Zwecker: "Re: what is backtracking ?"</a>
<!-- reply="end" -->
</ul>
