<!-- received="Sun Jan  4 18:46:47 1998 PST" -->
<!-- sent="Sun, 04 Jan 1998 20:14:05 -0600" -->
<!-- name="John Corey" -->
<!-- email="kunglao@prairienet.org" -->
<!-- subject="Mustek scanner docs" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek scanner docs</title>
<h1>Mustek scanner docs</h1>
<b>John Corey</b> (<a href="mailto:kunglao@prairienet.org"><i>kunglao@prairienet.org</i></a>)<br>
<i>Sun, 04 Jan 1998 20:14:05 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#6">[ date ]</a><a href="index.html#6">[ thread ]</a><a href="subject.html#6">[ subject ]</a><a href="author.html#6">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">Ralph Angenendt: "Any reasons why sane-0.68 doesn't compile with gtk 0.99.0 ?"</a>
<li> <b>Previous message:</b> <a href="0005.html">Matto Marjanovic: "condition codes, /dev/sg, and Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
To anyone who's worked on Mustek backends, where does one get the<br>
technical docs on their scanners?  I've tried contacting their tech<br>
support line, but it's always busy, and I can't find what the new number<br>
is for their FaxBack system.  So, anyone know that number, or where to<br>
get the info?<br>
<p>
Thanks<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">Ralph Angenendt: "Any reasons why sane-0.68 doesn't compile with gtk 0.99.0 ?"</a>
<li> <b>Previous message:</b> <a href="0005.html">Matto Marjanovic: "condition codes, /dev/sg, and Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
