<!-- received="Tue Jan  6 23:38:42 1998 PST" -->
<!-- sent="06 Jan 1998 23:37:54 -0800" -->
<!-- name="Kevin Dalley" -->
<!-- email="kevind@rahul.net" -->
<!-- subject="Re: UMAX 1200S SCSI CARD" -->
<!-- id="" -->
<!-- inreplyto="Mon, 5 Jan 1998 18:50:32 +0100 (MET)" -->
<title>sane-devel: Re: UMAX 1200S SCSI CARD</title>
<h1>Re: UMAX 1200S SCSI CARD</h1>
<b>Kevin Dalley</b> (<a href="mailto:kevind@rahul.net"><i>kevind@rahul.net</i></a>)<br>
<i>06 Jan 1998 23:37:54 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#26">[ date ]</a><a href="index.html#26">[ thread ]</a><a href="subject.html#26">[ subject ]</a><a href="author.html#26">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">Peter Daum: "Re: UMAX 1200S SCSI CARD"</a>
<li> <b>Previous message:</b> <a href="0025.html">A. Leidenfrost: "RE: Ben Gertzfield's patch for gtk-0.99.2 problem needed"</a>
<li> <b>In reply to:</b> <a href="0011.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S SCSI CARD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> writes:<br>
<p>
<i>&gt; </i><br>
<i>&gt; There sould be no great problem with a scsi-cable, because the</i><br>
<i>&gt; scanner has a 50 pin centronix connector, that is the "normal"</i><br>
<i>&gt; connector for scsi!</i><br>
<i>&gt; </i><br>
<i>&gt; If there is no terminator delivered with the scanner, you should buy</i><br>
<i>&gt; one, best would be a 25-pin-sub-d-active terminator, but that should</i><br>
<i>&gt; be no great problem, too!</i><br>
<p>
Hmm.  My umax 1200S has a 25 pin connector.  It came with a 25 pin<br>
terminator and an almost useless 25 pin cable.<br>
<pre>
-- 
Kevin Dalley
<a href="mailto:kevind@rahul.net">kevind@rahul.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">Peter Daum: "Re: UMAX 1200S SCSI CARD"</a>
<li> <b>Previous message:</b> <a href="0025.html">A. Leidenfrost: "RE: Ben Gertzfield's patch for gtk-0.99.2 problem needed"</a>
<li> <b>In reply to:</b> <a href="0011.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S SCSI CARD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
