<!-- received="Sun Jan 11 03:28:54 1998 PST" -->
<!-- sent="Sun, 11 Jan 1998 12:23:28 +0100 (MET)" -->
<!-- name="Bernd Seemann" -->
<!-- email="bernd@seebaer.ruhr.de" -->
<!-- subject="Re: umax-backend" -->
<!-- id="" -->
<!-- inreplyto="199801102020.VAA01365@Babylon5.wolfsburg.de" -->
<title>sane-devel: Re: umax-backend</title>
<h1>Re: umax-backend</h1>
<b>Bernd Seemann</b> (<a href="mailto:bernd@seebaer.ruhr.de"><i>bernd@seebaer.ruhr.de</i></a>)<br>
<i>Sun, 11 Jan 1998 12:23:28 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#33">[ date ]</a><a href="index.html#33">[ thread ]</a><a href="subject.html#33">[ subject ]</a><a href="author.html#33">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Peter Daum: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0032.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<li> <b>In reply to:</b> <a href="0032.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0034.html">Peter Daum: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Oliver.<br>
<p>
On Sat, 10 Jan 1998 <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<p>
<i>&gt; I propably will change the inquiry-command in the umax-driver.</i><br>
<i>&gt; But before I do that, I would like to know if the change command</i><br>
<i>&gt; works with all scanners. So please could you try the following change:</i><br>
<i>&gt; </i><br>
<i>&gt; changed line:</i><br>
<i>&gt; static unsigned char inquiryC[] = { INQUIRY, 0x00, 0x00, 0x00, 0xff, 0x00 };</i><br>
<p>
Tested wit Astra 600S / AHA1542. Works just as before, lineart and grey<br>
are ok, color scans dont work.<br>
<p>
Bye, Bernd.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Peter Daum: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0032.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<li> <b>In reply to:</b> <a href="0032.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0034.html">Peter Daum: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
