<!-- received="Wed Jan 14 03:15:52 1998 PST" -->
<!-- sent="Wed, 14 Jan 1998 11:34:58 +0100 (MET)" -->
<!-- name="Andreas Czechanowski" -->
<!-- email="m075@ins.uni-stuttgart.de" -->
<!-- subject="Re: Problems with Mustek 600 II N" -->
<!-- id="Pine.HPP.3.96.980114112102.20088B-100000@inshp01.ins.uni-stuttgart.de" -->
<!-- inreplyto="19980103153104.26495@hmg1.mg.de" -->
<title>sane-devel: Re: Problems with Mustek 600 II N</title>
<h1>Re: Problems with Mustek 600 II N</h1>
<b>Andreas Czechanowski</b> (<a href="mailto:m075@ins.uni-stuttgart.de"><i>m075@ins.uni-stuttgart.de</i></a>)<br>
<i>Wed, 14 Jan 1998 11:34:58 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#52">[ date ]</a><a href="index.html#52">[ thread ]</a><a href="subject.html#52">[ subject ]</a><a href="author.html#52">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0053.html">David Mosberger-Tang: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>Previous message:</b> <a href="0051.html">Rogier Wolff: "Re: Mustek 600 III EP plus"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0055.html">Henning Meier-Geinitz: "Re: Problems with Mustek 600 II N"</a>
<li> <b>Reply:</b> <a href="0055.html">Henning Meier-Geinitz: "Re: Problems with Mustek 600 II N"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Henning !<br>
<p>
On Sat, 3 Jan 1998, Henning Meier-Geinitz wrote:<br>
<p>
<i>&gt; &gt; ---&gt; scanner produces some noise (about one second), after that</i><br>
<i>&gt; &gt;      nothing happens, the light ist still turned on, xscanimage</i><br>
<i>&gt; &gt;      doesnt't react anymore, cpu usage is near 100%, --&gt; ctrl-c</i><br>
<p>
100% cpu means the backend hangs in a loop and waits for some<br>
status to change (by reading from I/O port again and again...)<br>
<p>
<i>&gt; I tried to do some debugging and set SANE_DEBUG_SANEI_AB306. If I use</i><br>
<i>&gt; a value of 4 or higher I can use the scanner, if its 3 or lower, the</i><br>
<i>&gt; driver hangs. Some Output with SANE_DEBUG_SANEI_AB306=3:</i><br>
<p>
Really loks like a timing problem ! Have you tried to use xscanimage<br>
as "normal" user ? If you do so, make sure to make /dev/port accessable<br>
for read and write to the user.<br>
<p>
Background: I/O via /dev/port is very much slower than by direct<br>
inb/outb assembler inline instructions (but these can only be used<br>
if the program is executed by root or is run with the SUID bit set).<br>
<p>
<i>&gt; [...]</i><br>
<i>&gt; [sanei_ab306] ab306_write: waiting for scanner to be ready 14</i><br>
<i>&gt; [sanei_ab306] ab306_write: waiting for scanner to be NOT ready b4</i><br>
<i>&gt; [sanei_ab306] ab306_write: waiting for scanner to be ready 14</i><br>
<i>&gt; [sanei_ab306] ab306_write: waiting for scanner to be NOT ready b4</i><br>
<i>&gt; [sanei_ab306] ab306_write: waiting for scanner to be ready 14</i><br>
<i>&gt; [sanei_ab306] ab306_write: waiting for scanner to be NOT ready b4</i><br>
<i>&gt; ---&gt; nothing happens, cpu-usage 100%</i><br>
<p>
Probably this is when the backend wants to do the inquiry<br>
(reading scanner type, firmware revision etc)<br>
 <br>
<i>&gt; Strange, isn't it? Perhaps a timing problem in sanei_ab306?</i><br>
<p>
I'll have a look at it as I have the time. It is possible that<br>
the hardware handshaking drops some status changes or asynchronously<br>
always got what it wanted, without respect to the correct order of<br>
events.<br>
<p>
Regards,<br>
<p>
Andreas.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0053.html">David Mosberger-Tang: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>Previous message:</b> <a href="0051.html">Rogier Wolff: "Re: Mustek 600 III EP plus"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0055.html">Henning Meier-Geinitz: "Re: Problems with Mustek 600 II N"</a>
<li> <b>Reply:</b> <a href="0055.html">Henning Meier-Geinitz: "Re: Problems with Mustek 600 II N"</a>
<!-- reply="end" -->
</ul>
