<!-- received="Thu Jan 15 13:04:32 1998 PST" -->
<!-- sent="Mon, 22 Dec 1997 03:28:33 +0000 (GMT)" -->
<!-- name="Alberto Menegazzi" -->
<!-- email="flash@flash.iol.it" -->
<!-- subject="USB support coming soon" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: USB support coming soon</title>
<h1>USB support coming soon</h1>
<b>Alberto Menegazzi</b> (<a href="mailto:flash@flash.iol.it"><i>flash@flash.iol.it</i></a>)<br>
<i>Mon, 22 Dec 1997 03:28:33 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#60">[ date ]</a><a href="index.html#60">[ thread ]</a><a href="subject.html#60">[ subject ]</a><a href="author.html#60">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">David Mosberger-Tang: "Re: USB support coming soon"</a>
<li> <b>Previous message:</b> <a href="0059.html">Christoph Doerbeck: "Re: Probable Bugs &amp; Suggestions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
I'm an Italian Linux user trying to become a kernel hacker.<br>
<p>
I'm now working with the writer of the USB kernel driver for Linux. I'm<br>
writing some parts of the guide, studing how the subsystem works and want<br>
to write a driver for it when it will be finished.<br>
<p>
It will works like SCSI : a subsystem with drivers for any avaible<br>
hardware controller (only two are avaible, no more are in plan) that<br>
provides high level services for drivers for hardware USB devices. <br>
<p>
As USB architecture is planned, writing drivers will be very easy !<br>
<p>
Due to exams and thesis we both are stopped (Inaky coding, me writing).<br>
<p>
I'm happy that a project to standardize access to devices has been<br>
started, so drivers writer have a starting point.<br>
Lot of USB hardware of this kind is coming !!! And support for FireWire<br>
is coming from .at domain as well !!!! <br>
<p>
My questions are :<br>
<p>
1) SANE is not planned to have mapped access of devices in the filing<br>
system. Everything is accessed from functions, like networking in Linux,<br>
not via devices mapped in the filing system, like sound. Am I wrong ? Is<br>
mapped access planned for the future ?<br>
<p>
2) What SANE wants to be ? Like TWAIN or like TWAIN + VIDEO for Windows ?<br>
<p>
I think the access to networked resouces is an excellent idea, but I want<br>
to make a proposal.<br>
<p>
I'm reading the SANE code. As far as I've understood links to remote<br>
resources are made via TCP to provide images without any error. Animations<br>
from Quickcams are sequences of images one after the other.  This is<br>
perfect for scanned images (= TWAIN)<br>
<p>
If you want to develope something bigger, I mean SANE = TWAIN + VIDEO,<br>
things must be different.<br>
<p>
The technology you use now is perfect for scanners and LOCAL streaming<br>
video or over an UNUSED network due to with bandwidth.<br>
<p>
If we want to make SANE the standard also for moving images (Quickcams via<br>
USB and Digital Video via FireWire are coming !) and video-conferences, I<br>
suggest to use also UDP (frames lost are not so important in video<br>
conferences, you must adapt to avaible bandwidth). <br>
<p>
Every video source should provide data in three formats :<br>
<p>
1) Best quality=zero compression, for local playback, recording or video<br>
editing.<br>
<p>
2) Good quality=small compression, for playing across fast networks like<br>
ethernets.<br>
<p>
3) Minimal quality=big compression, for playing across slow lines like<br>
analogical or 64K ISDN lines.<br>
<p>
Do you think SANE should be split in two different projects ? One for<br>
sanners and one for Quickcams ?<br>
<p>
Maybe VANE (Video Access Made Easy) could define a standard so SANE will<br>
have a single device for every *cam to obtain a still image.<br>
They both (SANE and VAME) could be part of a bigger project (maybe<br>
UDA=Uniform Device Access) that will document and collect APIs to access<br>
deices of the same family (Sound devices, joysticks and so on).<br>
<p>
What do you think about it ?<br>
<p>
I think that Windows if too strong for office apps, and so Linux has lost<br>
before beginning any competition for desktop operating system.<br>
<p>
But I think that Linux has a great future in more than one field, if we<br>
(all linux users and all kernel writers) play well our cards before year<br>
2K. Linux can be the right operating system as :<br>
<p>
* Number cruncher in scientific applications, where SMP, source<br>
avaibility, Real Time and a light operating system is necessary. <br>
<p>
* Network machine, as router, bridge, file server, network server,<br>
spooler, fast digital network point, fast multimedia conferencing system,<br>
fast, Fast, FAST ! Look at net pc developed from Corel. It's a StrongARM<br>
processor running Linux.<br>
<p>
Win NT is full of apps, well documented, solid, but SLOW ! This is the key<br>
of success for Linux in the future. Expecially for the last point I've<br>
written.<br>
<p>
I'm waiting for comments about this letter.<br>
<p>
CIAO CIAO<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">David Mosberger-Tang: "Re: USB support coming soon"</a>
<li> <b>Previous message:</b> <a href="0059.html">Christoph Doerbeck: "Re: Probable Bugs &amp; Suggestions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
