<!-- received="Mon Jan 19 00:18:35 1998 PST" -->
<!-- sent="Mon, 19 Jan 1998 08:15:46 +0100" -->
<!-- name="Carsten Zerbst" -->
<!-- email="zerbst@tu-harburg.de" -->
<!-- subject="Re: support for HP 6100C" -->
<!-- id="34C2FDA2.41E71DDD@tu-harburg.de" -->
<!-- inreplyto="support for HP 6100C" -->
<title>sane-devel: Re: support for HP 6100C</title>
<h1>Re: support for HP 6100C</h1>
<b>Carsten Zerbst</b> (<a href="mailto:zerbst@tu-harburg.de"><i>zerbst@tu-harburg.de</i></a>)<br>
<i>Mon, 19 Jan 1998 08:15:46 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#73">[ date ]</a><a href="index.html#73">[ thread ]</a><a href="subject.html#73">[ subject ]</a><a href="author.html#73">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">descarte@arcana.co.uk: "Sane 0.68 with Gimp 0.99.7"</a>
<li> <b>Previous message:</b> <a href="0072.html">becka@rz.uni-duesseldorf.de: "find-scanner (fwd)"</a>
<li> <b>Maybe in reply to:</b> <a href="0069.html">Frank Kardel: "support for HP 6100C"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: support for HP 6100C"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I tried the HP 6100 last week, Sane even refused to recognize it as a<br>
scanner. I therefor thing that I made a mistake. <br>
<p>
If anybody could tell me what to do, I could try the HP 6100 again. I'm<br>
using the latest sane version  and tried scanimage (there is a small<br>
problem with xscanimage and the actual gtk?) with<br>
<p>
/&gt; scanimage -d hp:/dev/sgd<br>
<p>
all I get is<br>
<p>
open of /dev/sgd failed: invalid argument<br>
<p>
<p>
Bye, Carsten<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">descarte@arcana.co.uk: "Sane 0.68 with Gimp 0.99.7"</a>
<li> <b>Previous message:</b> <a href="0072.html">becka@rz.uni-duesseldorf.de: "find-scanner (fwd)"</a>
<li> <b>Maybe in reply to:</b> <a href="0069.html">Frank Kardel: "support for HP 6100C"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: support for HP 6100C"</a>
<!-- reply="end" -->
</ul>
