<!-- received="Tue Jan 20 04:39:41 1998 PST" -->
<!-- sent="Tue, 20 Jan 1998 13:42:57 +0000" -->
<!-- name="Phil Risby" -->
<!-- email="prisby@acm.org" -->
<!-- subject="Give me Recommendations please" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Give me Recommendations please</title>
<h1>Give me Recommendations please</h1>
<b>Phil Risby</b> (<a href="mailto:prisby@acm.org"><i>prisby@acm.org</i></a>)<br>
<i>Tue, 20 Jan 1998 13:42:57 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#90">[ date ]</a><a href="index.html#90">[ thread ]</a><a href="subject.html#90">[ subject ]</a><a href="author.html#90">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">Nicolas Lucas de Peslouan: "Umax Backend."</a>
<li> <b>Previous message:</b> <a href="0089.html">Nicolas Bouthors: "Epson Filmscan 200"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi folks<br>
Been watching this list with some envy as I have a Relisys Infiniti scanner for which I<br>
have been unable to contact and get information from the manufacturers. They are most<br>
unhelpful.<br>
Well that left me almost no chance of doing a back-end.<br>
BUT now it has given up the ghost!!!<br>
So I am in the market for another scanner.<br>
My Question is which of the many now supported scanners will give me the least problems<br>
under sane. Oh and I am not in the $1000's bracket actually nearer the $10's :-)<br>
Thanks<br>
Phil<br>
<p>
<pre>
--
email at <a href="mailto:frees@technologist.com">frees@technologist.com</a> and at prisby@acm.org
This message was sent  using Linux 2.0 power!
Where do you want to go tomorrow?
_____________________________________________________
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">Nicolas Lucas de Peslouan: "Umax Backend."</a>
<li> <b>Previous message:</b> <a href="0089.html">Nicolas Bouthors: "Epson Filmscan 200"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
