<!-- received="Tue Jan 20 05:28:29 1998 PST" -->
<!-- sent="Tue, 20 Jan 1998 08:28:05 -0500" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: xerox settings for DINA4" -->
<!-- id="" -->
<!-- inreplyto="xerox settings for DINA4" -->
<title>sane-devel: Re: xerox settings for DINA4</title>
<h1>Re: xerox settings for DINA4</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Tue, 20 Jan 1998 08:28:05 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#92">[ date ]</a><a href="index.html#92">[ thread ]</a><a href="subject.html#92">[ subject ]</a><a href="author.html#92">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">Preston Brown: "Re: Umax Backend."</a>
<li> <b>Previous message:</b> <a href="0091.html">Nicolas Lucas de Peslouan: "Umax Backend."</a>
<li> <b>Maybe in reply to:</b> <a href="0086.html">Henning Sauer: "xerox settings for DINA4"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Joachim Woll: "Re: xerox settings for DINA4"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Henning Sauer wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hello,</i><br>
<i>&gt; </i><br>
<i>&gt; the xerox script that comes with sane-0.68 seems to expect the width and</i><br>
<i>&gt; length in inches and as here in Germany we use the metric system and I</i><br>
<i>&gt; would like to copy DINA4 papers I'm searching for the right settings for</i><br>
<i>&gt; DINA4.</i><br>
<p>
A4 media is 8.27x11.69 inches.<br>
<p>
<pre>
-- 
________________________________________________________________________
 Mike Sweet        Software for SGI and Sun      Easy Software Products
 (301) 373-9603          Workstations          44145 Airport View Drive
 mike@easysw.com    <a href="http://www.easysw.com">http://www.easysw.com</a>    Hollywood, Maryland  20636
<p>
        SUPPORT THE ANTI-SPAM AMENDMENT! - <a href="http://www.cauce.org">http://www.cauce.org</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">Preston Brown: "Re: Umax Backend."</a>
<li> <b>Previous message:</b> <a href="0091.html">Nicolas Lucas de Peslouan: "Umax Backend."</a>
<li> <b>Maybe in reply to:</b> <a href="0086.html">Henning Sauer: "xerox settings for DINA4"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Joachim Woll: "Re: xerox settings for DINA4"</a>
<!-- reply="end" -->
</ul>
