<!-- received="Wed Jan 21 02:09:58 1998 PST" -->
<!-- sent="Wed, 21 Jan 1998 11:54:23 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: xerox settings for DINA4" -->
<!-- id="m0xuxnb-0000XWC@charon.beck-sw.de" -->
<!-- inreplyto="XFMail.980121082709.hsauer@marnie.teuto.de" -->
<title>sane-devel: Re: xerox settings for DINA4</title>
<h1>Re: xerox settings for DINA4</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Wed, 21 Jan 1998 11:54:23 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#103">[ date ]</a><a href="index.html#103">[ thread ]</a><a href="subject.html#103">[ subject ]</a><a href="author.html#103">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Nicolas Lucas de Peslouan: "Re: Umax Backend."</a>
<li> <b>Previous message:</b> <a href="0102.html">Henning Sauer: "Re: xerox settings for DINA4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt;&gt; the xerox script that comes with sane-0.68 seems to expect the width</i><br>
<i>&gt; &gt; A4 media is 8.27x11.69 inches.</i><br>
<p>
<i>&gt; Unfortionately this does still lead to same result that copy of the page</i><br>
<i>&gt; is smaller than the orginal. I get the following warning "pnmtops:</i><br>
<i>&gt; warning, image too large for page, rescaling to 0.215078".</i><br>
<p>
You need to specify borders (don't know, if the xerox script allows that,<br>
but hope so ...) which are just as big as the borders pnmtops expects the <br>
printer to have. For this scan a black area and measure the borders of the <br>
printout. Then use thes for the area to scan.<br>
<p>
<i>&gt; How can I change this so that when I copy a DINA4 page the copy is really </i><br>
<i>&gt; a copy and not a scaled down copy ?</i><br>
This is basically a HW limitation. The scanner can read all the information <br>
on the page, the printer needs some border. Thus you either have to throw <br>
away the borders or scale down. pnmtops does the latter by default and you <br>
can compensate for it by not scanning the borders in the first place.<br>
<p>
CU,ANdy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt;
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Nicolas Lucas de Peslouan: "Re: Umax Backend."</a>
<li> <b>Previous message:</b> <a href="0102.html">Henning Sauer: "Re: xerox settings for DINA4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
