<!-- received="Wed Jan 21 20:50:57 1998 PST" -->
<!-- sent="Mon, 19 Jan 1998 02:46:48 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="find-scanner (fwd)" -->
<!-- id="m0xu6Ia-0000XUC@charon.beck-sw.de" -->
<!-- inreplyto="" -->
<title>sane-devel: find-scanner (fwd)</title>
<h1>find-scanner (fwd)</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Mon, 19 Jan 1998 02:46:48 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#111">[ date ]</a><a href="index.html#111">[ thread ]</a><a href="subject.html#111">[ subject ]</a><a href="author.html#111">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">becka@rz.uni-duesseldorf.de: "find-scanner (fwd)"</a>
<li> <b>Previous message:</b> <a href="0110.html">Rogier Wolff: "Re: Umax Backend."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I got some suggestion here which was mailed to me in german. <br>
The idea is not bad, so I forward a translation :<br>
<p>
<i>&gt; From <a href="mailto:jutul!gg@ppp.de">jutul!gg@ppp.de</a> Sun Jan 18 22:36:14 1998</i><br>
<p>
<i>&gt; Thanks for SANE ! For some obscure reason find-scanner didn't work here ...</i><br>
<i>&gt; Well - a suggestion :</i><br>
<i>&gt; It would have saved me some looking around at the installation, if</i><br>
<i>&gt; find scanner would check existence _and_ _permissions_ of the device </i><br>
<i>&gt; files ...</i><br>
<p>
I know this isn't as trivial as it sounds, as right permissions are something<br>
one can argue about, but a comment about it should be emitted during the<br>
install process.<br>
<p>
Something like<br>
<p>
if RW-others : "Please note that making scsi-genric devices world RW-able<br>
                poses a security risk and is normally not a good idea."<br>
if RW-group  : "please note that you need to be in group [group] to access<br>
                the scanner. Either make sure all users are in that group<br>
		or make the executables setgid to it."<br>
if RW-owner  : "[as with group]. [if uid is root] Please note that SANE has <br>
		not been designed to be run suid-root. Consider using a <br>
		setgid setup ..."<br>
<p>
CU,ANdy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt;
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">becka@rz.uni-duesseldorf.de: "find-scanner (fwd)"</a>
<li> <b>Previous message:</b> <a href="0110.html">Rogier Wolff: "Re: Umax Backend."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
