<!-- received="Thu Jan 22 23:42:43 1998 PST" -->
<!-- sent="Fri, 23 Jan 98 07:42:00 PST" -->
<!-- name="SZYNDEL, Patrick -Syntegra" -->
<!-- email="szyndelp@fleet7.syntegra.agw.bt.co.uk" -->
<!-- subject="Parallel driver for umax under linux" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Parallel driver for umax under linux</title>
<h1>Parallel driver for umax under linux</h1>
<b>SZYNDEL, Patrick -Syntegra</b> (<a href="mailto:szyndelp@fleet7.syntegra.agw.bt.co.uk"><i>szyndelp@fleet7.syntegra.agw.bt.co.uk</i></a>)<br>
<i>Fri, 23 Jan 98 07:42:00 PST</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#135">[ date ]</a><a href="index.html#135">[ thread ]</a><a href="subject.html#135">[ subject ]</a><a href="author.html#135">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0136.html">A. Leidenfrost: "Re: sane-0.69, finally!"</a>
<li> <b>Previous message:</b> <a href="0134.html">Roberto Cespa: "Page limit problem with Mustek 6000CZ"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0137.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<li> <b>Reply:</b> <a href="0137.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<li> <b>Reply:</b> <a href="0143.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Could you please help me. I am looking for a means to run my UMAX astra 610p <br>
on a linux os.<br>
<p>
Regards <a href="mailto:paddy.szyndel@virgin.net">paddy.szyndel@virgin.net</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0136.html">A. Leidenfrost: "Re: sane-0.69, finally!"</a>
<li> <b>Previous message:</b> <a href="0134.html">Roberto Cespa: "Page limit problem with Mustek 6000CZ"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0137.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<li> <b>Reply:</b> <a href="0137.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<li> <b>Reply:</b> <a href="0143.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<!-- reply="end" -->
</ul>
