<!-- received="Fri Jan 23 14:43:05 1998 PST" -->
<!-- sent="Fri, 23 Jan 1998 11:11:23 +0100" -->
<!-- name="Joachim Woll" -->
<!-- email="woll@physik.uni-kassel.de" -->
<!-- subject="Re: xerox settings for DINA4" -->
<!-- id="" -->
<!-- inreplyto="xerox settings for DINA4" -->
<title>sane-devel: Re: xerox settings for DINA4</title>
<h1>Re: xerox settings for DINA4</h1>
<b>Joachim Woll</b> (<a href="mailto:woll@physik.uni-kassel.de"><i>woll@physik.uni-kassel.de</i></a>)<br>
<i>Fri, 23 Jan 1998 11:11:23 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#146">[ date ]</a><a href="index.html#146">[ thread ]</a><a href="subject.html#146">[ subject ]</a><a href="author.html#146">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">William T Wilson: "Re: Umax Backend."</a>
<li> <b>Previous message:</b> <a href="0145.html">Brian Hall: "configuring/using xscanimage"</a>
<li> <b>Maybe in reply to:</b> <a href="0086.html">Henning Sauer: "xerox settings for DINA4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
--------------A665F054BDA27BDF026D8E1B<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Henning Sauer wrote:<br>
<p>
<i>&gt; Sorry, but I didn't find anything that seemed to be useful to solve this</i><br>
<i>&gt; problem in the pnmtops manpage.</i><br>
<i>&gt;</i><br>
<p>
Yesterday I played a little with the xerox-script.<br>
The result attached to this mail works quite well for me. Maybe<br>
it is a help for you.<br>
It is written for my HP-Laserjet-Printer. To enable Postscript,<br>
please read the file.<br>
<p>
J.<br>
<p>
--------------A665F054BDA27BDF026D8E1B<br>
Content-Type: text/plain; charset=us-ascii; name="xerox"<br>
Content-Transfer-Encoding: 7bit<br>
Content-Disposition: inline; filename="xerox"<br>
<p>
#!/bin/sh<br>
#<br>
# This is a xerox script for Laserjet Printer.<br>
# To get use of Postscript change the Printercommand and enable the<br>
# command at the end of this File.<br>
#<br>
# ~/src/sane-0.69/tools/xerox<br>
# changed for own purpose, J.Woll 22.01.1998<br>
#<br>
# Scannner Device/Resolution/Gamma-Table/Dev.-Spec.opts<br>
# The Gamma-Table written here is a first guess. It encreases the<br>
# brightness and contrast. Change it if needed<br>
DEV=mustek:/dev/scanner<br>
RES=300<br>
GAMMA=[0]0-[39]0,[40]0-[180]255,[181]255-[255]255 <br>
SOPTS="--backtrack=yes" # needed for my Mustek 12000SP<br>
#<br>
# Printer Command/Resolution<br>
LPR="lpr -Praw" # for Postscript Printer use LPR="lpr"<br>
PRES=${RES} # change this if other Res. is desired<br>
#<br>
# Papersize in inch<br>
# A4:<br>
WIDTH=8.27<br>
HEIGHT=11.69<br>
# letter:<br>
#WIDTH=8      <br>
#HEIGHT=10<br>
#<br>
#<br>
# Border in inch (Printable Size Limitation) <br>
#<br>
XMAR=0.25<br>
YMAR=0.25<br>
#<br>
# ***********************************************************<br>
#<br>
XMAX=`bc &lt;&lt;_EOF_ <br>
${WIDTH}-2*${XMAR}<br>
_EOF_`<br>
YMAX=`bc &lt;&lt;_EOF_ <br>
${HEIGHT}-2*${YMAR}<br>
_EOF_`<br>
#<br>
SCALE=`bc &lt;&lt; _EOF_<br>
72/${RES}<br>
_EOF_`<br>
#<br>
# further scanimage options (Missing in Sane-Documentation?):<br>
# x : width of scan<br>
# y : height of scan<br>
# l : offset horizontal<br>
# t : offset vertical<br>
#<br>
scanimage -d $DEV -x ${XMAX}\" -y ${YMAX}\" -l ${XMAR}\" -t ${YMAR}\" \<br>
          --resolution ${RES} --mode Gray --custom-gamma=yes \<br>
	  --gamma-table $GAMMA $SOPTS | \<br>
	pgmtopbm | pbmtolj -resolution ${PRES} \<br>
<i>	| $LPR</i><br>
#<br>
# For Postscript-Printer delete the previos Lines and uncomment the following <br>
#<br>
# scanimage -d $DEV -x ${XMAX}\" -y ${YMAX}\" -l ${XMAR}\" -t ${YMAR}\" \<br>
#          --resolution ${RES} --mode Gray --custom-gamma=yes \<br>
#	  --gamma-table $GAMMA $SOPTS | \<br>
#	pnmtops -center -rle -scale ${SCALE} -dpi ${PRES} \<br>
#	  -width ${WIDTH} -height ${HEIGHT} | $LPR<br>
#<br>
<p>
--------------A665F054BDA27BDF026D8E1B--<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">William T Wilson: "Re: Umax Backend."</a>
<li> <b>Previous message:</b> <a href="0145.html">Brian Hall: "configuring/using xscanimage"</a>
<li> <b>Maybe in reply to:</b> <a href="0086.html">Henning Sauer: "xerox settings for DINA4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
