<!-- received="Sun Jan 25 02:49:55 1998 PST" -->
<!-- sent="Sun, 25 Jan 1998 03:59:03 -0700" -->
<!-- name="Kevin R. Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="AGFA SnapScan version 0.3" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: AGFA SnapScan version 0.3</title>
<h1>AGFA SnapScan version 0.3</h1>
<b>Kevin R. Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Sun, 25 Jan 1998 03:59:03 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#154">[ date ]</a><a href="index.html#154">[ thread ]</a><a href="subject.html#154">[ subject ]</a><a href="author.html#154">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">Oliver.Rauch@Wolfsburg.DE: "Re: [sane, umax] My Vista-S6E doesn't work anymore."</a>
<li> <b>Previous message:</b> <a href="0153.html">Peter Bruley: "did not make the xscanimage file"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello again everyone---<br>
<p>
A new version of the SnapScan backend is now available at<br>
<a href="http://www.cs.ualberta.ca/~charter/snapscan.html">http://www.cs.ualberta.ca/~charter/snapscan.html</a>.<br>
<p>
This version fixes a couple of bugs and adds a bunch of features: new modes,<br>
gamma correction and halftoning.<br>
<p>
Kevin<br>
<pre>
-- 
Kevin Charter                        /\                      Grad Studies
<a href="mailto:charter@cs.ualberta.ca">charter@cs.ualberta.ca</a>            /\/  \  Department of Computing Science
<a href="http://web.cs.ualberta.ca/~charter">http://web.cs.ualberta.ca/~charter</a>  \   --------    University of Alberta
                                     ---------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">Oliver.Rauch@Wolfsburg.DE: "Re: [sane, umax] My Vista-S6E doesn't work anymore."</a>
<li> <b>Previous message:</b> <a href="0153.html">Peter Bruley: "did not make the xscanimage file"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
