<!-- received="Sun Jan 25 10:40:26 1998 PST" -->
<!-- sent="Sun, 25 Jan 1998 19:41:00 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Astra 6X0S-patch available" -->
<!-- id="199801251841.TAA09596@Babylon5.wolfsburg.de" -->
<!-- inreplyto="" -->
<title>sane-devel: Astra 6X0S-patch available</title>
<h1>Astra 6X0S-patch available</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Sun, 25 Jan 1998 19:41:00 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#158">[ date ]</a><a href="index.html#158">[ thread ]</a><a href="subject.html#158">[ subject ]</a><a href="author.html#158">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">Guilhem Lavaux: "Re: [sane, umax] My Vista-S6E doesn't work anymore."</a>
<li> <b>Previous message:</b> <a href="0157.html">Volker Braun: "Problems with installing SANE 0.68 (02DEC97)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0162.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0162.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0170.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0186.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0195.html">Matthias Kleinschmidt: "Re: Astra 6X0S-patch available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi UMAX-Astra 600S and 610S users,<br>
<p>
I uploaded a patch for the Astra 600S and Astra 610S<br>
to my homepage:<br>
<p>
www.wolfsburg.de/~rauch<br>
<p>
The patch includes first changes that are necessary to support<br>
color-mode of the Astra 600S and Astra 610S, but it will not<br>
work much better then sane-0.69.<br>
<p>
Please would someone try it and let me know what happens.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">Guilhem Lavaux: "Re: [sane, umax] My Vista-S6E doesn't work anymore."</a>
<li> <b>Previous message:</b> <a href="0157.html">Volker Braun: "Problems with installing SANE 0.68 (02DEC97)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0162.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0162.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0170.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0186.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0195.html">Matthias Kleinschmidt: "Re: Astra 6X0S-patch available"</a>
<!-- reply="end" -->
</ul>
