<!-- received="Sun Jan 25 12:48:00 1998 PST" -->
<!-- sent="Sun, 25 Jan 1998 21:40:21 +0100" -->
<!-- name="P. Kirchgessner" -->
<!-- email="pkirchgessner@t-online.de" -->
<!-- subject="Calibration on HP Scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Calibration on HP Scanners</title>
<h1>Calibration on HP Scanners</h1>
<b>P. Kirchgessner</b> (<a href="mailto:pkirchgessner@t-online.de"><i>pkirchgessner@t-online.de</i></a>)<br>
<i>Sun, 25 Jan 1998 21:40:21 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#160">[ date ]</a><a href="index.html#160">[ thread ]</a><a href="subject.html#160">[ subject ]</a><a href="author.html#160">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">Stefan Knodt: "Change Makefile(.in) ?"</a>
<li> <b>Previous message:</b> <a href="0159.html">Guilhem Lavaux: "Re: [sane, umax] My Vista-S6E doesn't work anymore."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
when scanning in the b/w calibration card into the HP Photosmart<br>
Photoscanner, I get a blue image back. Is there a possibility<br>
planned to perform a calibration or must it be done by separate<br>
software ?<br>
<p>
By<br>
<p>
Peter Kirchgessner<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">Stefan Knodt: "Change Makefile(.in) ?"</a>
<li> <b>Previous message:</b> <a href="0159.html">Guilhem Lavaux: "Re: [sane, umax] My Vista-S6E doesn't work anymore."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
