<!-- received="Sun Jan 25 22:38:25 1998 PST" -->
<!-- sent="Mon, 26 Jan 1998 06:36:21 +0000" -->
<!-- name="Slana" -->
<!-- email="suslosit@ptialaska.net" -->
<!-- subject="Micotek E3, SANE-0.69" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Micotek E3, SANE-0.69</title>
<h1>Micotek E3, SANE-0.69</h1>
<b>Slana</b> (<a href="mailto:suslosit@ptialaska.net"><i>suslosit@ptialaska.net</i></a>)<br>
<i>Mon, 26 Jan 1998 06:36:21 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#163">[ date ]</a><a href="index.html#163">[ thread ]</a><a href="subject.html#163">[ subject ]</a><a href="author.html#163">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Jeremy Rosenberger: "Re: Micotek E3, SANE-0.69"</a>
<li> <b>Previous message:</b> <a href="0162.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0164.html">Jeremy Rosenberger: "Re: Micotek E3, SANE-0.69"</a>
<li> <b>Reply:</b> <a href="0164.html">Jeremy Rosenberger: "Re: Micotek E3, SANE-0.69"</a>
<li> <b>Reply:</b> <a href="0268.html">Matto Marjanovic: "Re: Micotek E3, SANE-0.69"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Has anyone had any luck with SANE-0.69, Microtek E3 with "stock"<br>
Adaptec 1502AE scsi card, and RH 5.0?<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Jeremy Rosenberger: "Re: Micotek E3, SANE-0.69"</a>
<li> <b>Previous message:</b> <a href="0162.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0164.html">Jeremy Rosenberger: "Re: Micotek E3, SANE-0.69"</a>
<li> <b>Reply:</b> <a href="0164.html">Jeremy Rosenberger: "Re: Micotek E3, SANE-0.69"</a>
<li> <b>Reply:</b> <a href="0268.html">Matto Marjanovic: "Re: Micotek E3, SANE-0.69"</a>
<!-- reply="end" -->
</ul>
