<!-- received="Sun Jan 25 23:25:22 1998 PST" -->
<!-- sent="Mon, 26 Jan 1998 00:28:10 -0700" -->
<!-- name="Jeremy Rosenberger" -->
<!-- email="jeremyr@gte.net" -->
<!-- subject="Re: Micotek E3, SANE-0.69" -->
<!-- id="" -->
<!-- inreplyto="Micotek E3, SANE-0.69" -->
<title>sane-devel: Re: Micotek E3, SANE-0.69</title>
<h1>Re: Micotek E3, SANE-0.69</h1>
<b>Jeremy Rosenberger</b> (<a href="mailto:jeremyr@gte.net"><i>jeremyr@gte.net</i></a>)<br>
<i>Mon, 26 Jan 1998 00:28:10 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#164">[ date ]</a><a href="index.html#164">[ thread ]</a><a href="subject.html#164">[ subject ]</a><a href="author.html#164">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Jamie Zawinski: "sane 0.69, Irix 6.3"</a>
<li> <b>Previous message:</b> <a href="0163.html">Slana: "Micotek E3, SANE-0.69"</a>
<li> <b>Maybe in reply to:</b> <a href="0163.html">Slana: "Micotek E3, SANE-0.69"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0268.html">Matto Marjanovic: "Re: Micotek E3, SANE-0.69"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Slana wrote:<br>
<p>
<i>&gt; Has anyone had any luck with SANE-0.69, Microtek E3 with "stock"</i><br>
<i>&gt; Adaptec 1502AE scsi card, and RH 5.0?</i><br>
<p>
I haven't tried 0.69 yet, but 0.68 works just fine for me with the above<br>
configuration.<br>
<p>
Regards,<br>
Jeremy<br>
<p>
<pre>
-- 
<p>
Jeremy Rosenberger
<a href="mailto:jlr4@cornell.edu">mailto:jlr4@cornell.edu</a> * <a href="http://home1.gte.net/jeremyr/">http://home1.gte.net/jeremyr/</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Jamie Zawinski: "sane 0.69, Irix 6.3"</a>
<li> <b>Previous message:</b> <a href="0163.html">Slana: "Micotek E3, SANE-0.69"</a>
<li> <b>Maybe in reply to:</b> <a href="0163.html">Slana: "Micotek E3, SANE-0.69"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0268.html">Matto Marjanovic: "Re: Micotek E3, SANE-0.69"</a>
<!-- reply="end" -->
</ul>
