<!-- received="Tue Jan 27 18:06:56 1998 PST" -->
<!-- sent="Mon, 26 Jan 1998 23:22:23 +0100 (MET)" -->
<!-- name="Bernd Seemann" -->
<!-- email="bernd@seebaer.ruhr.de" -->
<!-- subject="Re: Astra 6X0S-patch available" -->
<!-- id="" -->
<!-- inreplyto="199801261721.SAA00246@Babylon5.wolfsburg.de" -->
<title>sane-devel: Re: Astra 6X0S-patch available</title>
<h1>Re: Astra 6X0S-patch available</h1>
<b>Bernd Seemann</b> (<a href="mailto:bernd@seebaer.ruhr.de"><i>bernd@seebaer.ruhr.de</i></a>)<br>
<i>Mon, 26 Jan 1998 23:22:23 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#202">[ date ]</a><a href="index.html#202">[ thread ]</a><a href="subject.html#202">[ subject ]</a><a href="author.html#202">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Previous message:</b> <a href="0201.html">Oliver.Rauch@Wolfsburg.DE: "Astra 6X0S-patch the second"</a>
<li> <b>In reply to:</b> <a href="0194.html">Oliver.Rauch@Wolfsburg.DE: "Re: Astra 6X0S-patch available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0203.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; &gt; 2. Scan</i><br>
<i>&gt; &gt; The scanner doesn't move to the right location. The scan shows only</i><br>
<i>&gt; &gt; horizontal bars as shown in scanimage-white.ppm.gz.</i><br>
<i>&gt; Hm, what do you mean with "The scanner doesn't move to the right location" ?</i><br>
<p>
It just moves 1 cm and stops there. After stopping it transmits further<br>
data over the SCSI-Bus.<br>
<p>
<i>&gt; I will have a closer look at it.</i><br>
<i>&gt; Please could you tell me if you have an Astra 600S or Astra 610S,</i><br>
<i>&gt; because the need different order-paramters!</i><br>
<p>
Astra 600S.<br>
<p>
Bye, Bernd.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Previous message:</b> <a href="0201.html">Oliver.Rauch@Wolfsburg.DE: "Astra 6X0S-patch the second"</a>
<li> <b>In reply to:</b> <a href="0194.html">Oliver.Rauch@Wolfsburg.DE: "Re: Astra 6X0S-patch available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0203.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<!-- reply="end" -->
</ul>
