<!-- received="Wed Jan 28 08:28:18 1998 PST" -->
<!-- sent="Wed, 28 Jan 1998 17:30:26 +0001 (MET)" -->
<!-- name="Mathias Weigt" -->
<!-- email="p5iba@medchem4.pharmazie.uni-halle.de" -->
<!-- subject="Re: SANE 0.69 and GTK+ 0.99.3" -->
<!-- id="" -->
<!-- inreplyto="XFMail.980128141145.hsauer@marnie.teuto.de" -->
<title>sane-devel: Re: SANE 0.69 and GTK+ 0.99.3</title>
<h1>Re: SANE 0.69 and GTK+ 0.99.3</h1>
<b>Mathias Weigt</b> (<a href="mailto:p5iba@medchem4.pharmazie.uni-halle.de"><i>p5iba@medchem4.pharmazie.uni-halle.de</i></a>)<br>
<i>Wed, 28 Jan 1998 17:30:26 +0001 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#228">[ date ]</a><a href="index.html#228">[ thread ]</a><a href="subject.html#228">[ subject ]</a><a href="author.html#228">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0229.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Previous message:</b> <a href="0227.html">Milon Firikis: "AppleScanner(s) Support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Mathias Weigt <br>
<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de">p5iba@medchem2.pharmazie.uni-halle.de</a><br>
<p>
<i>&gt; does SANE 0.69 work with the new GTK+ 0.99.3 ?</i><br>
<p>
Yes it does.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0229.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Previous message:</b> <a href="0227.html">Milon Firikis: "AppleScanner(s) Support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
