<!-- received="Wed Jan 28 23:40:24 1998 PST" -->
<!-- sent="Thu, 29 Jan 1998 08:40:01 +0100" -->
<!-- name="Andreas van Almsick" -->
<!-- email="almsick@jojo.informatik.uni-dortmund.de" -->
<!-- subject="SANE and Mustek 1200 PRO" -->
<!-- id="199801290740.IAA21466@rainer.informatik.uni-dortmund.de" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE and Mustek 1200 PRO</title>
<h1>SANE and Mustek 1200 PRO</h1>
<b>Andreas van Almsick</b> (<a href="mailto:almsick@jojo.informatik.uni-dortmund.de"><i>almsick@jojo.informatik.uni-dortmund.de</i></a>)<br>
<i>Thu, 29 Jan 1998 08:40:01 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#240">[ date ]</a><a href="index.html#240">[ thread ]</a><a href="subject.html#240">[ subject ]</a><a href="author.html#240">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0241.html">Matthias Kleinschmidt: "Re: UMAX Atra 610S"</a>
<li> <b>Previous message:</b> <a href="0239.html">Tracy R Reed: "UMAX Atra 610S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0244.html">David Mosberger-Tang: "Re: SANE and Mustek 1200 PRO"</a>
<li> <b>Reply:</b> <a href="0244.html">David Mosberger-Tang: "Re: SANE and Mustek 1200 PRO"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I have tried to use SANE with a Mustek 1200 PRO scanner. After patching the <br>
source code the scanner identified itself as a FS-1200SPPR. If I try to scan <br>
SANE answeres that the image is 0 pixel wide, then it blocks the scsi-channel.<br>
Has anyone had success with this scanner? <br>
<p>
Bye, Andreas<br>
<p>
------------------------------------------------------------------------------<br>
WWW  : <a href="http://ls4-www.informatik.uni-dortmund/MA/va/pi.html">http://ls4-www.informatik.uni-dortmund/MA/va/pi.html</a><br>
------------------------------------------------------------------------------<br>
Universitšt Dortmund         |	Tel. : (0231) 7554669<br>
Fachbereich Informatik LS IV |	Fax. : (0231) 7554730<br>
Andreas van Almsick          |	email: <a href="mailto:almsick@ls4.informatik.uni-dortmund.de">almsick@ls4.informatik.uni-dortmund.de</a><br>
August-Schmidt-Str. 12       | <br>
D-44227 Dortmund             | <br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0241.html">Matthias Kleinschmidt: "Re: UMAX Atra 610S"</a>
<li> <b>Previous message:</b> <a href="0239.html">Tracy R Reed: "UMAX Atra 610S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0244.html">David Mosberger-Tang: "Re: SANE and Mustek 1200 PRO"</a>
<li> <b>Reply:</b> <a href="0244.html">David Mosberger-Tang: "Re: SANE and Mustek 1200 PRO"</a>
<!-- reply="end" -->
</ul>
