<!-- received="Thu Jan 29 13:40:20 1998 PST" -->
<!-- sent="Thu, 29 Jan 1998 22:39:55 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: UMAX Atra 610S" -->
<!-- id="199801292139.WAA09189@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.LNX.3.95.980128230147.14589G-100000@freeside.ultraviolet.org" -->
<title>sane-devel: Re: UMAX Atra 610S</title>
<h1>Re: UMAX Atra 610S</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Thu, 29 Jan 1998 22:39:55 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#251">[ date ]</a><a href="index.html#251">[ thread ]</a><a href="subject.html#251">[ subject ]</a><a href="author.html#251">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0252.html">D. Cameron Mauch: "SANE and Sparc"</a>
<li> <b>Previous message:</b> <a href="0250.html">Markus Rudolf Domula: "looking for twain-module"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0253.html">Tracy R Reed: "Re: UMAX Atra 610S"</a>
<li> <b>Reply:</b> <a href="0253.html">Tracy R Reed: "Re: UMAX Atra 610S"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; However, when I run scanimage:</i><br>
<i>&gt; </i><br>
<i>&gt; [treed@freeside frontend]# ./scanimage</i><br>
<i>&gt; scanimage: sane_start: Invalid argument</i><br>
<p>
Please enter:<br>
<p>
export SANE_DEBUG_UMAX=31<br>
<p>
then call scanimage or xscanimage<br>
and send me the output!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0252.html">D. Cameron Mauch: "SANE and Sparc"</a>
<li> <b>Previous message:</b> <a href="0250.html">Markus Rudolf Domula: "looking for twain-module"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0253.html">Tracy R Reed: "Re: UMAX Atra 610S"</a>
<li> <b>Reply:</b> <a href="0253.html">Tracy R Reed: "Re: UMAX Atra 610S"</a>
<!-- reply="end" -->
</ul>
