<!-- received="Fri Jan 30 12:27:44 1998 PST" -->
<!-- sent="Fri, 30 Jan 1998 13:36:58 -0700" -->
<!-- name="Kevin R. Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: sane-0.70 is out" -->
<!-- id="" -->
<!-- inreplyto="sane-0.70 is out" -->
<title>sane-devel: Re: sane-0.70 is out</title>
<h1>Re: sane-0.70 is out</h1>
<b>Kevin R. Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Fri, 30 Jan 1998 13:36:58 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#262">[ date ]</a><a href="index.html#262">[ thread ]</a><a href="subject.html#262">[ subject ]</a><a href="author.html#262">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">Sascha Ziemann: "Brightness and Contrast"</a>
<li> <b>Previous message:</b> <a href="0261.html">Henning Sauer: "RE: sane-0.70 is out"</a>
<li> <b>Maybe in reply to:</b> <a href="0238.html">David Mosberger-Tang: "sane-0.70 is out"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Henning Sauer wrote:<br>
<i>&gt; </i><br>
<i>&gt; On 29-Jan-98 David Mosberger-Tang wrote:</i><br>
<i>&gt; &gt; Just uploaded sane-0.70 to</i><br>
<i>&gt; &gt; <a href="ftp://ftp.mostang.com/pub/sane/sane-0.70.tar.gz">ftp://ftp.mostang.com/pub/sane/sane-0.70.tar.gz</a>.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; New with 0.70:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; When starting xscanimage with SANE 0.70 I get the following message</i><br>
<i>&gt; </i><br>
<i>&gt; [snapscan] add_device: "UMAX    Astra 1200S     " is not an AGFA SnapScan</i><br>
<i>&gt; [snapscan] sane_snapscan_init: failed to add device "/dev/scanner"</i><br>
<p>
Sorry, this is my fault. The snapscan backend added in 0.70 complains about<br>
not finding an AGFA snapscan at initialization if there isn't one. <br>
<p>
Does the umax backend still find your scanner, or does xscanimage stop after<br>
these messages get printed? The message problem will be fixed in the<br>
snapscan backend this evening, and a patch will be available. In the<br>
meantime, the messages should go away if you command out the "snapscan"<br>
line in &lt;sane installation root&gt;/etc/sane.d/dll.conf.<br>
<p>
Sorry for any inconvenience.<br>
<p>
Kevin <br>
<pre>
-- 
Kevin Charter                        /\                      Grad Studies
<a href="mailto:charter@cs.ualberta.ca">charter@cs.ualberta.ca</a>            /\/  \  Department of Computing Science
<a href="http://web.cs.ualberta.ca/~charter">http://web.cs.ualberta.ca/~charter</a>  \   --------    University of Alberta
                                     ---------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">Sascha Ziemann: "Brightness and Contrast"</a>
<li> <b>Previous message:</b> <a href="0261.html">Henning Sauer: "RE: sane-0.70 is out"</a>
<li> <b>Maybe in reply to:</b> <a href="0238.html">David Mosberger-Tang: "sane-0.70 is out"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
