<!-- received="Sat Jan 31 09:10:41 1998 PST" -->
<!-- sent="Sat, 31 Jan 1998 12:10:07 -0500" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: Micotek E3, SANE-0.69" -->
<!-- id="199801311710.MAA17381@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Micotek E3, SANE-0.69" -->
<title>sane-devel: Re: Micotek E3, SANE-0.69</title>
<h1>Re: Micotek E3, SANE-0.69</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Sat, 31 Jan 1998 12:10:07 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#268">[ date ]</a><a href="index.html#268">[ thread ]</a><a href="subject.html#268">[ subject ]</a><a href="author.html#268">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0269.html">Kevin R. Charter: "Startup problems with SnapScan backend appear fixed."</a>
<li> <b>Previous message:</b> <a href="0267.html">Henning Sauer: "Re: sane-0.70 is out"</a>
<li> <b>Maybe in reply to:</b> <a href="0163.html">Slana: "Micotek E3, SANE-0.69"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
   Has anyone had any luck with SANE-0.69, Microtek E3 with "stock"<br>
   Adaptec 1502AE scsi card, and RH 5.0?<br>
<p>
I don't know how RH takes care of setting up scsi drivers, but the<br>
 1502AE card will work.  You need to use the aha152x driver, and you<br>
 need to specify the IRQ/base address manually.<br>
<p>
In my /etc/conf.modules (for a Debian-based box):<br>
<p>
	options aha152x aha152x=0x140,9,7,0,1,1<br>
<p>
This is described in the source file, .../linux-xxx/drivers/scsi/aha152x.c<br>
<p>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0269.html">Kevin R. Charter: "Startup problems with SnapScan backend appear fixed."</a>
<li> <b>Previous message:</b> <a href="0267.html">Henning Sauer: "Re: sane-0.70 is out"</a>
<li> <b>Maybe in reply to:</b> <a href="0163.html">Slana: "Micotek E3, SANE-0.69"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
