<!-- received="Sat Jan 31 14:41:16 1998 PST" -->
<!-- sent="Sat, 31 Jan 1998 15:50:34 -0700" -->
<!-- name="Kevin R. Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Startup problems with SnapScan backend appear fixed." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Startup problems with SnapScan backend appear fixed.</title>
<h1>Startup problems with SnapScan backend appear fixed.</h1>
<b>Kevin R. Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Sat, 31 Jan 1998 15:50:34 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#269">[ date ]</a><a href="index.html#269">[ thread ]</a><a href="subject.html#269">[ subject ]</a><a href="author.html#269">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0270.html">Didier Carlier: "xscanimage, gtk and gamma curves."</a>
<li> <b>Previous message:</b> <a href="0268.html">Matto Marjanovic: "Re: Micotek E3, SANE-0.69"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello again everyone--<br>
<p>
<p>
There are two new patches for the snapscan backend, patch 4 and patch 5,<br>
at <a href="http://www.cs.ualberta.ca/~charter/snapscan.html">http://www.cs.ualberta.ca/~charter/snapscan.html</a>.<br>
<p>
Patch 4 fixes a bug that went undetected in patch 2. I have confirmation<br>
from two people who do not use SnapScan scanners that applying patches<br>
2, 3, and 4 to the backend in sane-0.70 fixes the problems that the<br>
backend has during device detection.<br>
<p>
Patch 5 fixes an additional problem I found that can cause the snapscan<br>
backend to segfault if the scanner isn't turned on, or if a device name<br>
with no actual device attached is given.<br>
<p>
Thanks for your patience,<br>
<p>
Kevin<br>
<pre>
-- 
Kevin Charter                        /\                      Grad Studies
<a href="mailto:charter@cs.ualberta.ca">charter@cs.ualberta.ca</a>            /\/  \  Department of Computing Science
<a href="http://web.cs.ualberta.ca/~charter">http://web.cs.ualberta.ca/~charter</a>  \   --------    University of Alberta
                                     ---------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0270.html">Didier Carlier: "xscanimage, gtk and gamma curves."</a>
<li> <b>Previous message:</b> <a href="0268.html">Matto Marjanovic: "Re: Micotek E3, SANE-0.69"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
