<!-- received="Sun May  3 15:35:43 1998 PDT" -->
<!-- sent="Sun, 03 May 1998 18:39:24 -0400" -->
<!-- name="TomStuJed" -->
<!-- email="linux@gilbertschool.org" -->
<!-- subject="Re: Sane Compile dies at umax.c" -->
<!-- id="" -->
<!-- inreplyto="Sane Compile dies at umax.c" -->
<title>sane-devel: Re: Sane Compile dies at umax.c</title>
<h1>Re: Sane Compile dies at umax.c</h1>
<b>TomStuJed</b> (<a href="mailto:linux@gilbertschool.org"><i>linux@gilbertschool.org</i></a>)<br>
<i>Sun, 03 May 1998 18:39:24 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#32">[ date ]</a><a href="index.html#32">[ thread ]</a><a href="subject.html#32">[ subject ]</a><a href="author.html#32">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Paul Schulz: "Re: SANE Backend for my DS-7 Fujifilm camera."</a>
<li> <b>Previous message:</b> <a href="0031.html">Rob Fargher: "Re: Info Request: UMAX Astra 1200S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Still broked....<br>
<p>
<i>&gt; &gt; umax.c:   In function 'init_options':</i><br>
<i>&gt; &gt; umax.c:3686:  virtual memory exhausted</i><br>
<i>&gt; &gt; make[1]:   *** [umax.lo] Error 1</i><br>
<i>&gt; &gt; make{1}: Leaving directory '/root/sane-0.72/backend/</i><br>
<i>&gt; &gt; make: *** [all-recursive] Error 1</i><br>
<p>
<i>&gt;    Yes, this is some sort of problem with Slackware.  You have to turn</i><br>
<p>
<i>&gt; down the optimization flag.</i><br>
<i>&gt; Try &lt;CFLAGS -g01 ./configure.  Hans Fairchild said  that with 64 MB of ram</i><br>
<i>&gt; and 100 MB swap file he compiled OK.  Rather drole sense of humour.    What</i><br>
<i>&gt; the actual cause of this problem is I do not know.  David suggested</i><br>
<i>&gt; compiling without optimization which also worked for me.</i><br>
<i>&gt; Hope this helps.</i><br>
<p>
    Hrm....  I got it to compile, but now the xscanimage complains<br>
    about something called "__outb"<br>
<p>
abyss:/usr/local/bin# scanimage --L<br>
scanimage: can't resolve symbol '__outb'<br>
abyss:/usr/local/bin# xscanimage<br>
xscanimage: can't resolve symbol '__outb'<br>
<p>
    Any ideas now?   Should I just make a 100MB swap partition?<br>
    Or perhaps there is a binary distribution.......for...slackware?<br>
<p>
                                        Thomas Dorr<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Paul Schulz: "Re: SANE Backend for my DS-7 Fujifilm camera."</a>
<li> <b>Previous message:</b> <a href="0031.html">Rob Fargher: "Re: Info Request: UMAX Astra 1200S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
