<!-- received="Wed May  6 14:37:52 1998 PDT" -->
<!-- sent="Wed, 6 May 1998 21:15:56 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16"" -->
<!-- id="199805061915.VAA14109@Babylon5.wolfsburg.de" -->
<!-- inreplyto="XFMail.980506104219.dburr@POBoxes.com" -->
<title>sane-devel: Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16"</title>
<h1>Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16"</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Wed, 6 May 1998 21:15:56 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#65">[ date ]</a><a href="index.html#65">[ thread ]</a><a href="subject.html#65">[ subject ]</a><a href="author.html#65">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0066.html">Oliver.Rauch@Wolfsburg.DE: "Re: [umax] what options to use to get best results?"</a>
<li> <b>Previous message:</b> <a href="0064.html">Hugo van der Kooij: "Re: Coolscan not detected"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0070.html">Paul D. Robertson: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<li> <b>Reply:</b> <a href="0070.html">Paul D. Robertson: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; I am trying to use the "10-bit scan" option in xscanimage.  However, it is</i><br>
<i>&gt; not working.  When I try to acquire a Preview image, the scanner whirs,</i><br>
<i>&gt; then I get the error:</i><br>
<i>&gt; </i><br>
<i>&gt; Error: Preview cannot handle depth 16.</i><br>
<i>&gt; </i><br>
<i>&gt; But I am running my Xserver in 32bpp mode!</i><br>
<i>&gt; </i><br>
<i>&gt; Is this a known problem?  Is there a fix available?</i><br>
<p>
There is no frontend that can handle more then 8 bits per color.<br>
The umax-backend already supports this function, but you can not<br>
use it because there is no other software that can handle it.<br>
<p>
But if you use gamma correction, the image is scanned with 10 bits/color<br>
and converted with a 10 to 8 bit gamma table, so you get improvement<br>
by the 10 bit mode of your scanner.<br>
<p>
There is no graphic card that can handle more than 8 bits/color<br>
(= 24 bits/pixel), so you don't have a need of it. The only<br>
sense of more than 8 bits/color is if you like to do color manipulation<br>
after the scan.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0066.html">Oliver.Rauch@Wolfsburg.DE: "Re: [umax] what options to use to get best results?"</a>
<li> <b>Previous message:</b> <a href="0064.html">Hugo van der Kooij: "Re: Coolscan not detected"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0070.html">Paul D. Robertson: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<li> <b>Reply:</b> <a href="0070.html">Paul D. Robertson: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<!-- reply="end" -->
</ul>
