<!-- received="Wed May  6 23:20:45 1998 PDT" -->
<!-- sent="Wed, 06 May 1998 23:17:38 -0700 (PDT)" -->
<!-- name="Donald Burr" -->
<!-- email="dburr@POBoxes.com" -->
<!-- subject="[umax] using custom gamma table dumps core" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: [umax] using custom gamma table dumps core</title>
<h1>[umax] using custom gamma table dumps core</h1>
<b>Donald Burr</b> (<a href="mailto:dburr@POBoxes.com"><i>dburr@POBoxes.com</i></a>)<br>
<i>Wed, 06 May 1998 23:17:38 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#72">[ date ]</a><a href="index.html#72">[ thread ]</a><a href="subject.html#72">[ subject ]</a><a href="author.html#72">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Andreas Tille: "Re: Coolscan not detected"</a>
<li> <b>Previous message:</b> <a href="0071.html">Rogier Wolff: "Re: Microtek E6 - mode_sense_1 problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
<p>
Clicking on the "use custom gamma table" button in xscanimage causes<br>
xscanimage to immediately exit (dumping core) with:<br>
<p>
** ERROR **: could not allocate -20 bytes<br>
<p>
Program received signal SIGABRT, Aborted.<br>
0x10085b61 in kill ()<br>
(gdb) bt<br>
#0  0x10085b61 in kill ()<br>
#1  0x100853d3 in abort ()<br>
#2  0x10185560 in LC10 ()<br>
#3  0x1017ee6c in g_malloc ()<br>
#4  0x100c8d16 in gtk_curve_draw ()<br>
#5  0x100c9469 in L212 ()<br>
#6  0x10140699 in gtk_widget_marshal_signal_4 ()<br>
#7  0x10111fb4 in gtk_handlers_run ()<br>
#8  0x101117f4 in gtk_signal_real_emit ()<br>
#9  0x1010f8d9 in gtk_signal_emit ()<br>
#10 0x1013d92f in gtk_widget_event ()<br>
#11 0x100cb64d in gtk_drawing_area_send_configure ()<br>
#12 0x100cb48b in gtk_drawing_area_realize ()<br>
#13 0x1011125d in gtk_signal_default_marshaller ()<br>
#14 0x101117a3 in gtk_signal_real_emit ()<br>
#15 0x1010f8d9 in gtk_signal_emit ()<br>
#16 0x1013cfc3 in gtk_widget_realize ()<br>
#17 0x1013cea1 in gtk_widget_map ()<br>
#18 0x1011be2a in gtk_table_map ()<br>
#19 0x1011125d in gtk_signal_default_marshaller ()<br>
#20 0x101117a3 in gtk_signal_real_emit ()<br>
#21 0x1010f8d9 in gtk_signal_emit ()<br>
#22 0x1013ceb1 in gtk_widget_map ()<br>
#23 0x100b5a1a in gtk_box_map ()<br>
#24 0x1011125d in gtk_signal_default_marshaller ()<br>
#25 0x101117a3 in gtk_signal_real_emit ()<br>
#26 0x1010f8d9 in gtk_signal_emit ()<br>
#27 0x1013ceb1 in gtk_widget_map ()<br>
#28 0x100b5a1a in gtk_box_map ()<br>
#29 0x1011125d in gtk_signal_default_marshaller ()<br>
#30 0x101117a3 in gtk_signal_real_emit ()<br>
#31 0x1010f8d9 in gtk_signal_emit ()<br>
#32 0x1013ceb1 in gtk_widget_map ()<br>
#33 0x100f4854 in gtk_notebook_map ()<br>
#34 0x1011125d in gtk_signal_default_marshaller ()<br>
#35 0x101117a3 in gtk_signal_real_emit ()<br>
#36 0x1010f8d9 in gtk_signal_emit ()<br>
#37 0x10140a61 in gtk_widget_real_show ()<br>
#38 0x1011125d in gtk_signal_default_marshaller ()<br>
#39 0x101117a3 in gtk_signal_real_emit ()<br>
#40 0x1010f8d9 in gtk_signal_emit ()<br>
#41 0x1013c9f3 in gtk_widget_show ()<br>
#42 0x9e4d in vector_new ()<br>
#43 0xafe1 in panel_build ()<br>
#44 0xb043 in panel_rebuild ()<br>
#45 0x8ecf in button_update ()<br>
#46 0x1011125d in gtk_signal_default_marshaller ()<br>
#47 0x10111fb4 in gtk_handlers_run ()<br>
#48 0x101117f4 in gtk_signal_real_emit ()<br>
#49 0x1010f8d9 in gtk_signal_emit ()<br>
#50 0x10129bb1 in gtk_toggle_button_clicked ()<br>
#51 0x1011125d in gtk_signal_default_marshaller ()<br>
#52 0x101117a3 in gtk_signal_real_emit ()<br>
#53 0x1010f8d9 in gtk_signal_emit ()<br>
#54 0x100b66c0 in gtk_button_clicked ()<br>
#55 0x10129a8c in gtk_toggle_button_released ()<br>
#56 0x1011125d in gtk_signal_default_marshaller ()<br>
#57 0x101117a3 in gtk_signal_real_emit ()<br>
#58 0x1010f8d9 in gtk_signal_emit ()<br>
#59 0x100b7b65 in gtk_button_button_release ()<br>
#60 0x10140699 in gtk_widget_marshal_signal_4 ()<br>
#61 0x1011182f in gtk_signal_real_emit ()<br>
#62 0x1010f8d9 in gtk_signal_emit ()<br>
#63 0x1013dcca in gtk_widget_event ()<br>
#64 0x100ea21d in gtk_propagate_event ()<br>
#65 0x100e86a8 in gtk_main_iteration_do ()<br>
#66 0x100e8407 in gtk_main_iteration ()<br>
#67 0x100e8259 in gtk_main ()<br>
#68 0x4202 in main ()<br>
<p>
Is this a known problems?  Any idea as to a fix?<br>
<p>
Details of my system:<br>
<p>
FreeBSD 2.2.6-RELEASE<br>
SANE 0.72<br>
UMAX Astra 1200S, umax backend<br>
Adaptec AHA-2940AU PCI SCSI card<br>
ATI 3D Pro Turbo PC2TV w/4 MB, XFree86 3.3.2 Mach64 server<br>
GIMP 0.99.28, GTK 1.0.0<br>
- ---<br>
Donald Burr &lt;<a href="mailto:dburr@POBoxes.com">dburr@POBoxes.com</a>&gt; - Ask me for my PGP key | PGP: Your<br>
WWW HomePage: <a href="http://DonaldBurr.base.org/">http://DonaldBurr.base.org/</a>  ICQ #1347455 | right to<br>
Address: P.O. Box 91212, Santa Barbara, CA 93190-1212   | 'Net privacy.<br>
Phone: (805) 957-9666    FAX: (800) 492-5954            | USE IT.<br>
<p>
-----BEGIN PGP SIGNATURE-----<br>
Version: 2.6.2<br>
<p>
iQCVAwUBNVFSAvjpixuAwagxAQFZLAP9FhgWlT5deEwwobEwhKYsbXONcTAUisgj<br>
cTvxcktZonADpIc3DKjyqqL8onplka+b/XgZUkNF/gk0ekd6xs7C3qOpnu77xa+5<br>
BVMWLz+Kg1F2zfwQ6nKRAW7PB0Jdpy++wm7//WmP8poEvRfnQMBfp7KF6/XDsnIH<br>
XoHqk7x25eI=<br>
=s9Bk<br>
-----END PGP SIGNATURE-----<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Andreas Tille: "Re: Coolscan not detected"</a>
<li> <b>Previous message:</b> <a href="0071.html">Rogier Wolff: "Re: Microtek E6 - mode_sense_1 problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
