<!-- received="Thu May  7 19:02:13 1998 PDT" -->
<!-- sent="Thu, 7 May 1998 19:02:16 +0100 (BST)" -->
<!-- name="Jim Ford" -->
<!-- email="jim@watford.net" -->
<!-- subject="Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16"" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.91.980506224719.7587D-100000@gargoyle" -->
<title>sane-devel: Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16"</title>
<h1>Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16"</h1>
<b>Jim Ford</b> (<a href="mailto:jim@watford.net"><i>jim@watford.net</i></a>)<br>
<i>Thu, 7 May 1998 19:02:16 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#90">[ date ]</a><a href="index.html#90">[ thread ]</a><a href="subject.html#90">[ subject ]</a><a href="author.html#90">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">David Mosberger-Tang: "Re: DS-7 Backend"</a>
<li> <b>Previous message:</b> <a href="0089.html">Donald Burr: "Re: [umax] using custom gamma table dumps core"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 6 May 1998, Paul D. Robertson wrote:<br>
<p>
<i>&gt; BTW:  The transparency adapter on the Astra 1200S doesn't seem to auto </i><br>
<i>&gt; shut off like the flatbed lamp, and i have to scan from the bed to get it </i><br>
<p>
Hi Paul.<br>
<p>
Is the transparency adaptor worth getting - will it handle negs OK?<br>
In the U.K. it costs the same price as the scanner itself!<br>
<p>
Regards: Jim Ford<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">David Mosberger-Tang: "Re: DS-7 Backend"</a>
<li> <b>Previous message:</b> <a href="0089.html">Donald Burr: "Re: [umax] using custom gamma table dumps core"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
