<!-- received="Sun May 10 12:56:26 1998 PDT" -->
<!-- sent="Sun, 10 May 1998 21:49:10 +0200" -->
<!-- name="Brian Schau" -->
<!-- email="bsc@fleggaard.dk" -->
<!-- subject="Re: Highscreen RealScan" -->
<!-- id="" -->
<!-- inreplyto="Highscreen RealScan" -->
<title>sane-devel: Re: Highscreen RealScan</title>
<h1>Re: Highscreen RealScan</h1>
<b>Brian Schau</b> (<a href="mailto:bsc@fleggaard.dk"><i>bsc@fleggaard.dk</i></a>)<br>
<i>Sun, 10 May 1998 21:49:10 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#118">[ date ]</a><a href="index.html#118">[ thread ]</a><a href="subject.html#118">[ subject ]</a><a href="author.html#118">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Hugo van der Kooij: "Re: Highscreen RealScan"</a>
<li> <b>Previous message:</b> <a href="0117.html">Brian Macy: "Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Maybe in reply to:</b> <a href="0107.html">Brian Schau: "Highscreen RealScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
* sigh *   I've spent an whole evening getting this scanner to work<br>
...   Status:<br>
<p>
-	Downloaded and installed sane-0.72.  By doing so, I broke 'gimp'.  <br>
And now I can't get gimp compiled (can't find gtk-config) ... so now I<br>
am downloading gtk-sources (and they propably won't compile since I am<br>
not using glibc ...!)   Talk about bad luck.<br>
<p>
-	It still won't scan colors.   It places the three layers side by<br>
side.   Well, at least it scans ...<br>
<p>
-	When done acquiring a preview, xscanimage closes all open xscanimage<br>
windows when I close the preview window.   Is this a bug?  Or a<br>
"feature"?     Or is it just me?   ;o)<br>
<p>
<p>
<i>&gt; </i><br>
<i>&gt; If it still doesn't work with the newer software, send a debug log (follow</i><br>
<i>&gt;  the directions on the sane-microtek man-page), and indicate which versions</i><br>
<i>&gt;  of the software, OS, scsi card, etc, you have (it can make a difference).</i><br>
<i>&gt; </i><br>
<i>&gt; -matt m.</i><br>
<p>
The logfile has been sent ...<br>
<p>
<p>
<p>
Thanks,<br>
<p>
<p>
Brian<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Hugo van der Kooij: "Re: Highscreen RealScan"</a>
<li> <b>Previous message:</b> <a href="0117.html">Brian Macy: "Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Maybe in reply to:</b> <a href="0107.html">Brian Schau: "Highscreen RealScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
