<!-- received="Tue May 12 01:15:10 1998 PDT" -->
<!-- sent="Tue, 12 May 1998 09:58:45 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: problems with snapscan and scanimage" -->
<!-- id="199805120758.JAA02136@cave.BitWizard.nl" -->
<!-- inreplyto="199805120440.VAA15693@panda.mostang.com" -->
<title>sane-devel: Re: problems with snapscan and scanimage</title>
<h1>Re: problems with snapscan and scanimage</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Tue, 12 May 1998 09:58:45 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#133">[ date ]</a><a href="index.html#133">[ thread ]</a><a href="subject.html#133">[ subject ]</a><a href="author.html#133">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<li> <b>Previous message:</b> <a href="0132.html">David Mosberger-Tang: "sane 0.73 pre-test patch"</a>
<li> <b>In reply to:</b> <a href="0130.html">David Mosberger-Tang: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; 	- A 10-bit gamma table does indeed make sense even when the</i><br>
<i>&gt; 	  output is only 8 bits/channel.  Fortunately, this can be</i><br>
<i>&gt; 	  supported just fine with SANE (e.g., simply allow values in</i><br>
<i>&gt; 	  the range 0..1023 for the gamma vector elements).</i><br>
<p>
To clarify:<br>
<p>
when the host interface is 8 bits but internally the scanner can work<br>
with 10 bits, then the "enhanced" gamma table has 1024 entries which<br>
can hold values from 0 to 255. <br>
<p>
						Roger. <br>
<p>
<pre>
-- 
If it's there and you can see it, it's REAL      <a href="mailto:|___R.E.Wolff@BitWizard.nl">|___R.E.Wolff@BitWizard.nl</a>  |
If it's there and you can't see it, it's TRANSPARENT |  Tel: +31-15-2137555  |
If it's not there and you can see it, it's VIRTUAL   |__FAX:_+31-15-2138217  |
If it's not there and you can't see it, it's GONE! -- Roy Wilks, 1983  |_____|
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<li> <b>Previous message:</b> <a href="0132.html">David Mosberger-Tang: "sane 0.73 pre-test patch"</a>
<li> <b>In reply to:</b> <a href="0130.html">David Mosberger-Tang: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
