<!-- received="Wed May 13 02:18:40 1998 PDT" -->
<!-- sent="Wed, 13 May 1998 11:02:03 +0200" -->
<!-- name="KH Jeron" -->
<!-- email="kheinz@sero.org" -->
<!-- subject="Re: problems with snapscan and scanimage" -->
<!-- id="" -->
<!-- inreplyto="problems with snapscan and scanimage" -->
<title>sane-devel: Re: problems with snapscan and scanimage</title>
<h1>Re: problems with snapscan and scanimage</h1>
<b>KH Jeron</b> (<a href="mailto:kheinz@sero.org"><i>kheinz@sero.org</i></a>)<br>
<i>Wed, 13 May 1998 11:02:03 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#147">[ date ]</a><a href="index.html#147">[ thread ]</a><a href="subject.html#147">[ subject ]</a><a href="author.html#147">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Yuri Dario: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0146.html">Brion Vibber: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Maybe in reply to:</b> <a href="0123.html">KH Jeron: "problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0157.html">Rob Fargher: "Re: problems with snapscan and scanimage"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
now my snapscan 310 (sane 0.72) seems to work.<br>
the only problem is, that scanimage just scans the right corner on the bottom of a<br>
piece of paper.<br>
the paper size is 21 cm x 29,7 cm but the scanned area is just about 8 cm x  10<br>
cm.<br>
i have no idea why this happens.<br>
kheinz<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Yuri Dario: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0146.html">Brion Vibber: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Maybe in reply to:</b> <a href="0123.html">KH Jeron: "problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0157.html">Rob Fargher: "Re: problems with snapscan and scanimage"</a>
<!-- reply="end" -->
</ul>
