<!-- received="Fri May 15 12:12:18 1998 PDT" -->
<!-- sent="Fri, 15 May 1998 21:05:10 +0200" -->
<!-- name="Brian Schau" -->
<!-- email="bsc@fleggaard.dk" -->
<!-- subject="Re: Unresolved symbol ..." -->
<!-- id="" -->
<!-- inreplyto="Unresolved symbol ..." -->
<title>sane-devel: Re: Unresolved symbol ...</title>
<h1>Re: Unresolved symbol ...</h1>
<b>Brian Schau</b> (<a href="mailto:bsc@fleggaard.dk"><i>bsc@fleggaard.dk</i></a>)<br>
<i>Fri, 15 May 1998 21:05:10 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#184">[ date ]</a><a href="index.html#184">[ thread ]</a><a href="subject.html#184">[ subject ]</a><a href="author.html#184">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Jeff Freedman: "Re: Using NET backend"</a>
<li> <b>Previous message:</b> <a href="0183.html">Matto Marjanovic: "Re: Using NET backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0181.html">Brian Schau: "Unresolved symbol ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0192.html">Brian Schau: "Re: Unresolved symbol ..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Matto,<br>
<p>
<p>
You're my hero.   I'll check it out 1.st thing tomorrow!<br>
<p>
Proceedings WILL be posted!<br>
<p>
<p>
Regards,<br>
<p>
Brian<br>
<p>
<p>
<p>
P.S:   All you SANE :o) guys - keep up the good work!<br>
<p>
<p>
Matto Marjanovic wrote:<br>
<i>&gt; </i><br>
<i>&gt;    Date: Fri, 15 May 1998 18:24:58 +0200</i><br>
<i>&gt;    From: Brian Schau &lt;<a href="mailto:bsc@fleggaard.dk">bsc@fleggaard.dk</a>&gt;</i><br>
<i>&gt; </i><br>
<i>&gt;    I just compiled sane-0.72 + pre-0.73 patch.   Upon starting xscanimage I</i><br>
<i>&gt;    get:</i><br>
<i>&gt; </i><br>
<i>&gt;            xscanimage: can't resolve symbol 'attach'</i><br>
<i>&gt; </i><br>
<i>&gt; In microtek.c, the function 'attach' should be 'attach_scanner'.</i><br>
<i>&gt; I sent a micro-patch to this list, accompanied by some late-night ravings</i><br>
<i>&gt;  about the scsi config. code.</i><br>
<i>&gt; </i><br>
<i>&gt; -mm</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Jeff Freedman: "Re: Using NET backend"</a>
<li> <b>Previous message:</b> <a href="0183.html">Matto Marjanovic: "Re: Using NET backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0181.html">Brian Schau: "Unresolved symbol ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0192.html">Brian Schau: "Re: Unresolved symbol ..."</a>
<!-- reply="end" -->
</ul>
