<!-- received="Fri May 15 15:30:01 1998 PDT" -->
<!-- sent="Fri, 15 May 1998 15:30:38 -0700" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="Re: Using NET backend" -->
<!-- id="" -->
<!-- inreplyto="Using NET backend" -->
<title>sane-devel: Re: Using NET backend</title>
<h1>Re: Using NET backend</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Fri, 15 May 1998 15:30:38 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#185">[ date ]</a><a href="index.html#185">[ thread ]</a><a href="subject.html#185">[ subject ]</a><a href="author.html#185">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Randall Hopper: "0.72 &amp; Mtek E6: "Error during device I/O""</a>
<li> <b>Previous message:</b> <a href="0184.html">Brian Schau: "Re: Unresolved symbol ..."</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Jeff Freedman: "Using NET backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0247.html">Matto Marjanovic: "Re: Using NET backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Matto Marjanovic wrote:<br>
<p>
<i>&gt; As far as resetting things after a hang:  I've noticed that typically, when</i><br>
<i>&gt;  I do something that hangs the scanner, often the scanner has barfed on some</i><br>
<i>&gt;  command and reset itself, leaving another scsi command hanging off the bus.</i><br>
<i>&gt; If I wait some unreasonably long time (~5-10 minutes), the aha152x driver</i><br>
<i>&gt;  will time-out and scrap the hanging command, and then I'm free to go and</i><br>
<i>&gt;  do it again.  Maybe the driver for your 2940 will do the same.</i><br>
<p>
Thanks!  I'll try running saned and net in debug mode this weekend, and<br>
report anything interesting.<br>
<p>
-- Jeff<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Randall Hopper: "0.72 &amp; Mtek E6: "Error during device I/O""</a>
<li> <b>Previous message:</b> <a href="0184.html">Brian Schau: "Re: Unresolved symbol ..."</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Jeff Freedman: "Using NET backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0247.html">Matto Marjanovic: "Re: Using NET backend"</a>
<!-- reply="end" -->
</ul>
