<!-- received="Sun May 17 16:11:45 1998 PDT" -->
<!-- sent="Sun, 17 May 1998 16:16:52 -0700 (PDT)" -->
<!-- name="Thomas Boutell" -->
<!-- email="boutell@boutell.com" -->
<!-- subject="Web browser front end to SANE" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Web browser front end to SANE</title>
<h1>Web browser front end to SANE</h1>
<b>Thomas Boutell</b> (<a href="mailto:boutell@boutell.com"><i>boutell@boutell.com</i></a>)<br>
<i>Sun, 17 May 1998 16:16:52 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#201">[ date ]</a><a href="index.html#201">[ thread ]</a><a href="subject.html#201">[ subject ]</a><a href="author.html#201">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0202.html">Paul Lamar: "Mustek 1200 III EP"</a>
<li> <b>Next message:</b> <a href="0202.html">Jon Schneider: "xscanimage where ?"</a>
<li> <b>Next message:</b> <a href="0202.html">Firikis Milon: "Re: Looking for some info"</a>
<li> <b>Previous message:</b> <a href="0200.html">Brian Macy: "Re: Looking for some info"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have written 'sanecgi', a simple web browser-based front<br>
end to scanimage. This is a user-frienfly way to share a scanner <br>
with your entire office. Of course, the software is free<br>
(under the GNU Public License, version 2).<br>
<p>
The software supports scanning in GIF, JPEG and PNG format<br>
(PNG can be both truecolor and lossless). Be sure to install<br>
all the required pieces according to the documentation.<br>
<p>
Users can just plug in the dimensions of the scan, along<br>
with a few other preferences, and then save the resulting<br>
inline image to disk or make further adjustments.<br>
<p>
Come check it out here:<br>
<p>
<a href="http://www.boutell.com/sanecgi">http://www.boutell.com/sanecgi</a><br>
<p>
Pick a newsgroup and rescue it: <a href="http://www.boutell.com/boutell/usenet.html">http://www.boutell.com/boutell/usenet.html</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0202.html">Paul Lamar: "Mustek 1200 III EP"</a>
<li> <b>Next message:</b> <a href="0202.html">Jon Schneider: "xscanimage where ?"</a>
<li> <b>Next message:</b> <a href="0202.html">Firikis Milon: "Re: Looking for some info"</a>
<li> <b>Previous message:</b> <a href="0200.html">Brian Macy: "Re: Looking for some info"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
