<!-- received="Thu May 21 09:48:48 1998 PDT" -->
<!-- sent="Thu, 21 May 1998 12:47:50 -0400 (EDT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: Problems with microtek-backend" -->
<!-- id="m0ycYVS-000JAzC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Problems with microtek-backend" -->
<title>sane-devel: Re: Problems with microtek-backend</title>
<h1>Re: Problems with microtek-backend</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Thu, 21 May 1998 12:47:50 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#217">[ date ]</a><a href="index.html#217">[ thread ]</a><a href="subject.html#217">[ subject ]</a><a href="author.html#217">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Dave Restall - System Administrator: "Non Disclosure Agreements"</a>
<li> <b>Previous message:</b> <a href="0216.html">sl@sl.edvz.tuwien.ac.at: "sane mirror in .at (Central EU)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0226.html">Bernd Schroeder: "Re: Problems with microtek-backend"</a>
<li> <b>Reply:</b> <a href="0226.html">Bernd Schroeder: "Re: Problems with microtek-backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
   From: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a><br>
   Date: Thu, 21 May 1998 12:24:03 +0200 (MET DST)<br>
<p>
   Hello Matthew,<br>
<p>
   I am the programmer of the umax-backend.<br>
   Since sane-0.73 my system hangs when I let the<br>
   microtek (1) backend enabled.<br>
   ...<br>
<p>
My first guess is that the problem is that the microtek backend calls<br>
 INQUIRY asking for all 96 bytes at once; I noticed that other backends<br>
 do this in two parts --- asking for the std. bytes first, and then<br>
 getting the device specific ones in a second call.  Maybe this is<br>
 hanging the bus, and that hangs your system?  (Something to fix, either<br>
 way.)<br>
<p>
I plan to attack my backlog of scanner-mail over the coming long weekend<br>
 (as it is in the US)....<br>
<p>
-mm<br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Dave Restall - System Administrator: "Non Disclosure Agreements"</a>
<li> <b>Previous message:</b> <a href="0216.html">sl@sl.edvz.tuwien.ac.at: "sane mirror in .at (Central EU)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0226.html">Bernd Schroeder: "Re: Problems with microtek-backend"</a>
<li> <b>Reply:</b> <a href="0226.html">Bernd Schroeder: "Re: Problems with microtek-backend"</a>
<!-- reply="end" -->
</ul>
