<!-- received="Fri May 22 04:09:40 1998 PDT" -->
<!-- sent="Fri, 22 May 1998 13:06:49 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Problems with microtek-backend" -->
<!-- id="" -->
<!-- inreplyto="m0ycYVS-000JAzC@yoo-hoo.ai.mit.edu" -->
<title>sane-devel: Re: Problems with microtek-backend</title>
<h1>Re: Problems with microtek-backend</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Fri, 22 May 1998 13:06:49 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#226">[ date ]</a><a href="index.html#226">[ thread ]</a><a href="subject.html#226">[ subject ]</a><a href="author.html#226">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0227.html">Brian Macy: "Re: NT frontend"</a>
<li> <b>Previous message:</b> <a href="0225.html">becka@rz.uni-duesseldorf.de: "Re: NT frontend"</a>
<li> <b>In reply to:</b> <a href="0217.html">Matto Marjanovic: "Re: Problems with microtek-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Thu, May 21, 1998 at 12:47:50PM -0400, Matto Marjanovic wrote:<br>
<i>&gt; </i><br>
<i>&gt;    From: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt;    Date: Thu, 21 May 1998 12:24:03 +0200 (MET DST)</i><br>
<i>&gt; </i><br>
<i>&gt;    Hello Matthew,</i><br>
<i>&gt; </i><br>
<i>&gt;    I am the programmer of the umax-backend.</i><br>
<i>&gt;    Since sane-0.73 my system hangs when I let the</i><br>
<i>&gt;    microtek (1) backend enabled.</i><br>
<i>&gt;    ...</i><br>
<i>&gt; </i><br>
<i>&gt; My first guess is that the problem is that the microtek backend calls</i><br>
<i>&gt;  INQUIRY asking for all 96 bytes at once; I noticed that other backends</i><br>
<i>&gt;  do this in two parts --- asking for the std. bytes first, and then</i><br>
<i>&gt;  getting the device specific ones in a second call.  Maybe this is</i><br>
<i>&gt;  hanging the bus, and that hangs your system?  (Something to fix, either</i><br>
<i>&gt;  way.)</i><br>
<p>
I think this your response to an email you have received from Oliver.<br>
He sent me an email later in which he told me that he was not<br>
definitely sure which backend causes the problem.  But I don't think<br>
that calling INQUIRY with a result size of 96 bytes lets the system hang.<br>
As far as I have seen most backends call INQUIRY only once with a reply<br>
length of more than 5 bytes.<br>
<p>
As I wrote in an earlier mail there is/was a bug in the initialization<br>
function of the microtek2 backend, so I suspect that this backend causes the<br>
problem. I have (hopefully) fixed the bug and have asked Oliver to check<br>
whether the fix works, but I don't know, if he has the time to do so.<br>
<p>
Therefore I would like to ask if someone, who has experienced the same<br>
problem, is willing to test this bugfix and tell me the results. This<br>
would help to ensure that this bug will definitely be eliminated in<br>
later releases of sane.<br>
  <br>
A version of this backend (which is not the latest one, but includes the<br>
fix) is available on <a href="http://www.muc.de/~bernds/mtek2.tar.gz">http://www.muc.de/~bernds/mtek2.tar.gz</a> .<br>
<p>
Of course, I had not expected that this first version of the backend is<br>
completely free of bugs, but a bug that causes the whole system to hang,<br>
is very bad and should be eliminated as quickly as possible.  <br>
<p>
<i>&gt; I plan to attack my backlog of scanner-mail over the coming long weekend</i><br>
<i>&gt;  (as it is in the US)....</i><br>
<p>
Yes, I have a four day weekend, too.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0227.html">Brian Macy: "Re: NT frontend"</a>
<li> <b>Previous message:</b> <a href="0225.html">becka@rz.uni-duesseldorf.de: "Re: NT frontend"</a>
<li> <b>In reply to:</b> <a href="0217.html">Matto Marjanovic: "Re: Problems with microtek-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
