<!-- received="Mon May 25 02:42:55 1998 PDT" -->
<!-- sent="Mon, 25 May 1998 11:43:28 +0200" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: new UMAX-Patch available" -->
<!-- id="35693D3F.ADFE3ACF@ic.ac.uk" -->
<!-- inreplyto="new UMAX-Patch available" -->
<title>sane-devel: Re: new UMAX-Patch available</title>
<h1>Re: new UMAX-Patch available</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Mon, 25 May 1998 11:43:28 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#251">[ date ]</a><a href="index.html#251">[ thread ]</a><a href="subject.html#251">[ subject ]</a><a href="author.html#251">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0252.html">Jonathan Buzzard: "Re: Reverse Engineering"</a>
<li> <b>Previous message:</b> <a href="0250.html">Helen Terbizan: "Mustek Scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0248.html">Oliver.Rauch@Wolfsburg.DE: "new UMAX-Patch available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0254.html">Oliver.Rauch@Wolfsburg.DE: "Re: new UMAX-Patch available"</a>
<li> <b>Reply:</b> <a href="0254.html">Oliver.Rauch@Wolfsburg.DE: "Re: new UMAX-Patch available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
What's meant by calibration? I've now got a backend for Mustek's<br>
ScanExpress almost completely working. However, the specs mention<br>
read/write calibration data. The scanner works fine without it,<br>
but I'd like to include calibration if it's something useful.<br>
However, I've no idea even what 'calibration' means in this context.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0252.html">Jonathan Buzzard: "Re: Reverse Engineering"</a>
<li> <b>Previous message:</b> <a href="0250.html">Helen Terbizan: "Mustek Scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0248.html">Oliver.Rauch@Wolfsburg.DE: "new UMAX-Patch available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0254.html">Oliver.Rauch@Wolfsburg.DE: "Re: new UMAX-Patch available"</a>
<li> <b>Reply:</b> <a href="0254.html">Oliver.Rauch@Wolfsburg.DE: "Re: new UMAX-Patch available"</a>
<!-- reply="end" -->
</ul>
