<!-- received="Tue May 26 22:40:59 1998 PDT" -->
<!-- sent="Wed, 27 May 1998 01:40:12 -0400 (EDT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: Agfa Arcus" -->
<!-- id="m0yeYwe-000J3mC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Agfa Arcus" -->
<title>sane-devel: Re: Agfa Arcus</title>
<h1>Re: Agfa Arcus</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Wed, 27 May 1998 01:40:12 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#280">[ date ]</a><a href="index.html#280">[ thread ]</a><a href="subject.html#280">[ subject ]</a><a href="author.html#280">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0281.html">Rogier Wolff: "Re: new UMAX-Patch available"</a>
<li> <b>Previous message:</b> <a href="0279.html">Matto Marjanovic: "Re: failure with microtek scanmaker 600gs"</a>
<li> <b>Maybe in reply to:</b> <a href="0272.html">Kjetil Torgrim Homme: "Agfa Arcus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Unfortunately, I would guess that the Agfa "Arcus" is not related to<br>
 the other Microtek(1) scanners (even though "Arcus II" is).<br>
<p>
The two big clues are:<br>
  1) The Microtek documentation refers to "Arcus II", but not "Arcus".<br>
  2) In the inquiry data you obtained...<br>
<i>        &gt;   ========== Scanner Inquiry Report ==========</i><br>
<i>        &gt;   ===== Scanner ID...</i><br>
<i>        &gt;   Device Type Code: 0x06</i><br>
<i>        &gt;   Model Code: 0x50  &lt;----------------------[modified by you...]</i><br>
<i>        &gt;   Vendor Name: 'AGFA    '   Model Name: 'ARCUS           '</i><br>
<i>        &gt;   Firmware Rev: 'V2.3'</i><br>
<i>        &gt;   SCSI F/W version: 0.0     Scanner F/W version: 0.2</i><br>
<i>        &gt;   Response data format: 0x02</i><br>
     ...the scanners claims to use a SCSI-II command set ("0x02").<br>
     All the Microtek(1) scanners indicate "0x01".<br>
<p>
Perhaps Agfa outsourced this device from another company, and it uses the<br>
 same command set as another backend?<br>
<p>
-matt m.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0281.html">Rogier Wolff: "Re: new UMAX-Patch available"</a>
<li> <b>Previous message:</b> <a href="0279.html">Matto Marjanovic: "Re: failure with microtek scanmaker 600gs"</a>
<li> <b>Maybe in reply to:</b> <a href="0272.html">Kjetil Torgrim Homme: "Agfa Arcus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
