<!-- received="Fri Mar  6 22:13:26 1998 PST" -->
<!-- sent="Sat, 7 Mar 1998 01:13:16 -0500" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: sane 0.71 and microtek E3" -->
<!-- id="199803070613.BAA30084@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="sane 0.71 and microtek E3" -->
<title>sane-devel: Re: sane 0.71 and microtek E3</title>
<h1>Re: sane 0.71 and microtek E3</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Sat, 7 Mar 1998 01:13:16 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Ondrej Popp: "faint vertical stripes while scanning"</a>
<li> <b>Previous message:</b> <a href="0035.html">Samuli Ylinen: "Agfa SnapScan 310?"</a>
<li> <b>Maybe in reply to:</b> <a href="0021.html">Bob van der Poel: "sane 0.71 and microtek E3"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">Timo Neumann: "Re: sane 0.71 and microtek E3"</a>
<li> <b>Next in thread:</b> <a href="0041.html">Bob van der Poel: "Re: sane 0.71 and microtek E3"</a>
<li> <b>Reply:</b> <a href="0044.html">Timo Neumann: "Re: sane 0.71 and microtek E3"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Ok... it doesn't work for me *either* (with my E6), and that is bad,<br>
 since I wrote the backend.<br>
<p>
I just built the SANE-0.71 release, with the latest version of the backend, <br>
 actually (which I just mailed to David M-T.), and I am getting the following<br>
 debugging chunk:<br>
<p>
[microtek] .start_scan...<br>
[microtek] .wait_ready 5...<br>
[microtek] sense:  ERR_SCSICMD[microtek] wait_ready failed (0)<br>
[microtek] sense:  ERR_SCSICMD[microtek] wait_ready failed (1)<br>
[microtek] sense:  ERR_SCSICMD[microtek] wait_ready failed (2)<br>
[microtek] sense:  ERR_SCSICMD[microtek] wait_ready failed (3)<br>
[microtek] sense:  ERR_SCSICMD[microtek] wait_ready failed (4)<br>
[microtek] sense:  ERR_SCSICMD[microtek] wait_ready failed (5)<br>
[microtek] sense:  ERR_SCSICMD[microtek] wait_ready failed (6)<br>
[microtek] sane_cancel...<br>
<p>
This looks like it is a result of changes made to the Linux portion of<br>
 sanei/sanei_scsi.c regarding checking of return codes.  Here is the diff<br>
 that worries me:  (&lt; is 0.71, &gt; is 0.70)<br>
<p>
729,730c674<br>
&lt;         if (req-&gt;cdb.hdr.result == 0<br>
&lt;             &amp;&amp; (req-&gt;cdb.hdr.sense_buffer[0] &amp; 0x7f) == 0)<br>
<pre>
---
&gt;         if (req-&gt;cdb.hdr.result == 0)
744c688,689
&lt;             void *arg = fd_info[req-&gt;fd].sense_handler_arg;
<pre>
---
&gt;             void *arg
&gt;               = fd_info[req-&gt;fd].sense_handler_arg;
751c696
&lt;             else if (handler)
<pre>
---
&gt;             else if ((req-&gt;cdb.hdr.sense_buffer[0] &amp; 0x80) &amp;&amp; handler)
<p>
<p>
If I remove the "&amp;&amp; (req-&gt;cdb.hdr.sense_buffer[0] &amp; 0x7f) == 0" clause
 and recompile, everything works A-OK.
<p>
The ChangeLog states:
<p>
        * sanei/sanei_scsi.c (sanei_scsi_req_wait) [USE ==
        LINUX_INTERFACE]: Always check for a non-zero error code in the
        sense-buffer.  The Linux sg driver guarantees that the sense
        buffer is clear to zero when no sense code has been requested, so
        this is safe.
<p>
I don't really know what is going on, but it looks to me like the sg driver
 made some promises it doesn't keep.
<p>
<p>
For the record:
  Microtek E6, AVA-1502AE scsi card, 2.0.32 kernel, Debian w/libc6 dev. env.
and
  sane 0.70 worked just fine for me.
<p>
(Who knows, I bet the aha152x driver is the culprit....)
<p>
-matt m.
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Ondrej Popp: "faint vertical stripes while scanning"</a>
<li> <b>Previous message:</b> <a href="0035.html">Samuli Ylinen: "Agfa SnapScan 310?"</a>
<li> <b>Maybe in reply to:</b> <a href="0021.html">Bob van der Poel: "sane 0.71 and microtek E3"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">Timo Neumann: "Re: sane 0.71 and microtek E3"</a>
<li> <b>Next in thread:</b> <a href="0041.html">Bob van der Poel: "Re: sane 0.71 and microtek E3"</a>
<li> <b>Reply:</b> <a href="0044.html">Timo Neumann: "Re: sane 0.71 and microtek E3"</a>
<!-- reply="end" -->
</ul>
