<!-- received="Sun Mar  8 09:08:32 1998 PST" -->
<!-- sent="Sun, 8 Mar 1998 17:49:40 +0100 (MET)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: Problems with sane-0.71 and gimp 0.99.18" -->
<!-- id="199803081649.RAA02320@cave.BitWizard.nl" -->
<!-- inreplyto="199803030224.SAA00669@panda.mostang.com" -->
<title>sane-devel: Re: Problems with sane-0.71 and gimp 0.99.18</title>
<h1>Re: Problems with sane-0.71 and gimp 0.99.18</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Sun, 8 Mar 1998 17:49:40 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#51">[ date ]</a><a href="index.html#51">[ thread ]</a><a href="subject.html#51">[ subject ]</a><a href="author.html#51">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">Rogier Wolff: "Re: faint vertical stripes while scanning"</a>
<li> <b>Previous message:</b> <a href="0050.html">Johan Bengtsson: "Limited success with Mustek 600 II N &amp; Sane 0.71"</a>
<li> <b>In reply to:</b> <a href="0009.html">David Mosberger-Tang: "Re: Problems with sane-0.71 and gimp 0.99.18"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On 28 Feb 1998 01:24:38 -0800, Kevin Dalley &lt;<a href="mailto:kevind@rahul.net">kevind@rahul.net</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Kevin&gt; When I installed a newly compiled sane-0.71 and started gimp,</i><br>
<i>&gt;   Kevin&gt; I received the message below and gimp could not access</i><br>
<i>&gt;   Kevin&gt; xscanimage.  However, I could still run xscanimage directly</i><br>
<i>&gt;   Kevin&gt; and access my scanner, which is a UMAX 1200S, by the way.</i><br>
<i>&gt; </i><br>
<i>&gt;   Kevin&gt; When I went back to sane-0.70, gimp could access sane again.</i><br>
<i>&gt;   Kevin&gt; Does anyone know the solution to this problem.</i><br>
<i>&gt; </i><br>
<i>&gt;   Kevin&gt; query plug-in: "/usr/lib/gimp/0.99/plug-ins/xscanimage"</i><br>
<i>&gt;   Kevin&gt; /usr/lib/gimp/0.99/plug-ins/xscanimage: invalid option -- g</i><br>
<i>&gt;   Kevin&gt; Usage: xscanimage [OPTION]... [DEVICE]</i><br>
<i>&gt; </i><br>
<i>&gt; Looks like GIMP support didn't get compiled in.  Maybe you need to</i><br>
<i>&gt; specify --with-CFLAGS and/or --with-LDFLAGS options to configure to</i><br>
<i>&gt; ensure that it can pick up the gimp header file and libraries?</i><br>
<p>
Suggestion: Make -g an option that does<br>
<p>
	printf ("Gimp support not compiled into xscanimage.\n");<br>
	exit (1);<br>
<p>
when gimp support is turned off....<br>
<p>
				Roger. <br>
<p>
<p>
<pre>
-- 
If it's there and you can see it, it's REAL      <a href="mailto:|___R.E.Wolff@BitWizard.nl">|___R.E.Wolff@BitWizard.nl</a>  |
If it's there and you can't see it, it's TRANSPARENT |  Tel: +31-15-2137555  |
If it's not there and you can see it, it's VIRTUAL   |__FAX:_+31-15-2138217  |
If it's not there and you can't see it, it's GONE! -- Roy Wilks, 1983  |_____|
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">Rogier Wolff: "Re: faint vertical stripes while scanning"</a>
<li> <b>Previous message:</b> <a href="0050.html">Johan Bengtsson: "Limited success with Mustek 600 II N &amp; Sane 0.71"</a>
<li> <b>In reply to:</b> <a href="0009.html">David Mosberger-Tang: "Re: Problems with sane-0.71 and gimp 0.99.18"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
