<!-- received="Mon Mar  9 03:47:19 1998 PST" -->
<!-- sent="Mon, 9 Mar 1998 12:47:31 +0100 (MET)" -->
<!-- name="Andreas Czechanowski" -->
<!-- email="m075@ins.uni-stuttgart.de" -->
<!-- subject="Re: Limited success with Mustek 600 II N &amp; Sane 0.71" -->
<!-- id="Pine.HPP.3.96.980309124530.2811B-100000@inshp01.ins.uni-stuttgart.de" -->
<!-- inreplyto="199803072355.AAA00815@leonardo.lls.se" -->
<title>sane-devel: Re: Limited success with Mustek 600 II N &amp; Sane 0.71</title>
<h1>Re: Limited success with Mustek 600 II N &amp; Sane 0.71</h1>
<b>Andreas Czechanowski</b> (<a href="mailto:m075@ins.uni-stuttgart.de"><i>m075@ins.uni-stuttgart.de</i></a>)<br>
<i>Mon, 9 Mar 1998 12:47:31 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#55">[ date ]</a><a href="index.html#55">[ thread ]</a><a href="subject.html#55">[ subject ]</a><a href="author.html#55">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">Lele Forzani: "Sane 0.71 and CanoScan 300"</a>
<li> <b>Previous message:</b> <a href="0054.html">Andreas Czechanowski: "Re: Mustek 600 II N problems"</a>
<li> <b>In reply to:</b> <a href="0050.html">Johan Bengtsson: "Limited success with Mustek 600 II N &amp; Sane 0.71"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Johan !<br>
<p>
On Sun, 8 Mar 1998, Johan Bengtsson wrote:<br>
<p>
<i>&gt; I just want to reort that I've had some success using this scanner </i><br>
<i>&gt; with sane 0.71. If I set SANE_DEBUG_MUSTEK=128 I'm able to make b/w </i><br>
<i>&gt; scans--no color scans though.</i><br>
<p>
What happens when trying to scan in color mode ?<br>
What firmware revision do you have ? (SANE_DEBUG_MUSTEK=3 should be<br>
enough to find out)<br>
<p>
Regards,<br>
<p>
Andreas.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">Lele Forzani: "Sane 0.71 and CanoScan 300"</a>
<li> <b>Previous message:</b> <a href="0054.html">Andreas Czechanowski: "Re: Mustek 600 II N problems"</a>
<li> <b>In reply to:</b> <a href="0050.html">Johan Bengtsson: "Limited success with Mustek 600 II N &amp; Sane 0.71"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
