<!-- received="Mon Mar  9 12:05:01 1998 PST" -->
<!-- sent="Mon, 9 Mar 1998 21:05:03 +0100 (MET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Page with active references?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Page with active references?</title>
<h1>Page with active references?</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Mon, 9 Mar 1998 21:05:03 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#58">[ date ]</a><a href="index.html#58">[ thread ]</a><a href="subject.html#58">[ subject ]</a><a href="author.html#58">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">Christoph Doerbeck: "HP722S DeskJet printer..."</a>
<li> <b>Previous message:</b> <a href="0057.html">Christian Reiser: "Mustek Paragon 1200 SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Wouldn't it be nice to have a list of active references?<br>
<p>
So one would know the level of success people have with the various<br>
versions of sane and with what hardware?<br>
<p>
Perhaps people could add additional information regarding their setup. Or<br>
just add nive idea's and such on how to use SANE in the real world ;-)<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">Christoph Doerbeck: "HP722S DeskJet printer..."</a>
<li> <b>Previous message:</b> <a href="0057.html">Christian Reiser: "Mustek Paragon 1200 SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
