<!-- received="Thu Mar 19 12:20:59 1998 PST" -->
<!-- sent="Thu, 19 Mar 1998 12:26:10 -0800 (PST)" -->
<!-- name="Jeremy Probber" -->
<!-- email="woozy@rocketmail.com" -->
<!-- subject="Need some advice" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Need some advice</title>
<h1>Need some advice</h1>
<b>Jeremy Probber</b> (<a href="mailto:woozy@rocketmail.com"><i>woozy@rocketmail.com</i></a>)<br>
<i>Thu, 19 Mar 1998 12:26:10 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#134">[ date ]</a><a href="index.html#134">[ thread ]</a><a href="subject.html#134">[ subject ]</a><a href="author.html#134">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Christoph Doerbeck: "Re: Need some advice"</a>
<li> <b>Previous message:</b> <a href="0133.html">Christoph Doerbeck: "SCSI problems during my SANE demo"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0135.html">Christoph Doerbeck: "Re: Need some advice"</a>
<li> <b>Reply:</b> <a href="0135.html">Christoph Doerbeck: "Re: Need some advice"</a>
<li> <b>Reply:</b> <a href="0136.html">Allan Strand: "Re: Need some advice"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi All,<br>
    <br>
    I am new to sane and need some advice. I am<br>
planning to buy UMAX 1200s and was wondering what<br>
experience any of you might have had with this<br>
scanner running under sane. I also have a 2940u<br>
Adaptec SCSI card, which has 2 internal HD's and a<br>
zip drive hooked up to it.<br>
<p>
    My main question is, is it possible to run my 2<br>
Linux HD's and a zip off of the same host adapter<br>
without my computer crashing or freezing. I was<br>
reading some doc at the sane web site that said you<br>
might want to use a second SCSI host adapter, which<br>
for me is impossible as I am all out of PCI slots<br>
(and cash for that matter ;-). <br>
<p>
Thanks in advance,<br>
 <br>
-Jeremy<br>
<p>
<p>
 <br>
<p>
_________________________________________________________<br>
DO YOU YAHOO!?<br>
Get your free @yahoo.com address at <a href="http://mail.yahoo.com">http://mail.yahoo.com</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Christoph Doerbeck: "Re: Need some advice"</a>
<li> <b>Previous message:</b> <a href="0133.html">Christoph Doerbeck: "SCSI problems during my SANE demo"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0135.html">Christoph Doerbeck: "Re: Need some advice"</a>
<li> <b>Reply:</b> <a href="0135.html">Christoph Doerbeck: "Re: Need some advice"</a>
<li> <b>Reply:</b> <a href="0136.html">Allan Strand: "Re: Need some advice"</a>
<!-- reply="end" -->
</ul>
