<!-- received="Sat Mar 21 05:14:22 1998 PST" -->
<!-- sent="Sat, 21 Mar 1998 14:13:39 +0100 (MET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Updated patches for GTK+ 0.99.7 support" -->
<!-- id="" -->
<!-- inreplyto="y9hzpikcthw.fsf@always.got.net" -->
<title>sane-devel: Re: Updated patches for GTK+ 0.99.7 support</title>
<h1>Re: Updated patches for GTK+ 0.99.7 support</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sat, 21 Mar 1998 14:13:39 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#142">[ date ]</a><a href="index.html#142">[ thread ]</a><a href="subject.html#142">[ subject ]</a><a href="author.html#142">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Olaf Ronneberger: "Mustek MFC-600S damaged by scanimage - what now?"</a>
<li> <b>Previous message:</b> <a href="0141.html">Ben Gertzfield: "Updated patches for GTK+ 0.99.7 support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 21 Mar 1998, Ben Gertzfield wrote:<br>
<p>
<i>&gt; I made a few small errors with the older patches, notably removing</i><br>
<i>&gt; the ability to build dynamic libraries. Woops! Here's a set of</i><br>
<i>&gt; fixed patches.</i><br>
<i>&gt; </i><br>
<i>&gt; As usual, email me with any problems.</i><br>
<i>&gt; </i><br>
<i>&gt; Ben</i><br>
<p>
<i>&gt; --- sane-0.71.orig/frontend/Makefile.in	Tue Nov  4 23:36:47 1997</i><br>
<i>&gt; +++ sane-0.71/frontend/Makefile.in	Sat Mar 21 00:33:31 1998</i><br>
<i>&gt; @@ -28,13 +28,13 @@</i><br>
<i>&gt;  </i><br>
<i>&gt;  CC = @CC@</i><br>
<i>&gt;  INCLUDES = -I. -I$(srcdir) -I$(top_builddir)/include -I$(top_srcdir)/include \</i><br>
<i>&gt; -	-I/usr/local/include</i><br>
<i>&gt; +	-I/usr/local/include @GTK_CFLAGS@</i><br>
<i>&gt;  CPPFLAGS = @CPPFLAGS@</i><br>
<i>&gt;  CFLAGS = @CFLAGS@</i><br>
<i>&gt;  LDFLAGS = @LDFLAGS@</i><br>
<i>&gt;  LIBS = @LIBS@</i><br>
<i>&gt; -LIBX11 = @LIBX11@</i><br>
<i>&gt; -LIBGTK = @LIBGTK@</i><br>
<i>&gt; +GTK_CFLAGS = @GTK_CFLAGS@</i><br>
<i>&gt; +GTK_LIBS = @GTK_LIBS@</i><br>
<i>&gt;  DEFS = @DEFS@</i><br>
<p>
<p>
Well this patch does not work very well. After running configure the<br>
Makefile still has some @GTK_CFLAGS@ in there where these should be<br>
extended.<br>
<p>
I could not figure out where in the configure script this is missing but I<br>
do suspect the problem lies withing the configure script.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Olaf Ronneberger: "Mustek MFC-600S damaged by scanimage - what now?"</a>
<li> <b>Previous message:</b> <a href="0141.html">Ben Gertzfield: "Updated patches for GTK+ 0.99.7 support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
