<!-- received="Sat Mar 21 06:00:36 1998 PST" -->
<!-- sent="Sat, 21 Mar 1998 16:03:06 +0100" -->
<!-- name="Olaf Ronneberger" -->
<!-- email="Olaf.Ronneberger@dlr.de" -->
<!-- subject="Mustek MFC-600S damaged by scanimage - what now?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek MFC-600S damaged by scanimage - what now?</title>
<h1>Mustek MFC-600S damaged by scanimage - what now?</h1>
<b>Olaf Ronneberger</b> (<a href="mailto:Olaf.Ronneberger@dlr.de"><i>Olaf.Ronneberger@dlr.de</i></a>)<br>
<i>Sat, 21 Mar 1998 16:03:06 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#143">[ date ]</a><a href="index.html#143">[ thread ]</a><a href="subject.html#143">[ subject ]</a><a href="author.html#143">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Kaz Sasayama: "Re: epson via parallel"</a>
<li> <b>Previous message:</b> <a href="0142.html">Hugo van der Kooij: "Re: Updated patches for GTK+ 0.99.7 support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0181.html">Olaf Ronneberger: "Re: Mustek MFC-600S damaged by scanimage - what now?"</a>
<li> <b>Reply:</b> <a href="0181.html">Olaf Ronneberger: "Re: Mustek MFC-600S damaged by scanimage - what now?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi there!<br>
<p>
My equipment is as follows:<br>
<p>
	- Mustek MFC-600S Scanner<br>
	- sane-0.71<br>
	- linux 2.0.31 (German SUSE Distribution -- similar to RedHat)<br>
	- NCR - SCSI-card<br>
<p>
All went fine. I just installed sane and got good results using<br>
xscanimage. Then I tried <br>
<p>
	scanimge -d mustek --resolution 300 &gt; test.pnm<br>
<p>
The slider of the scanner didn't stop at the end of the physical scan<br>
area and the mechanism produced a loud noise (creek, creek, creek ...).<br>
I switched it off immediately, but when I switched it on again, only one<br>
side of the slider was pulled back, and the slider got stuck. <br>
<p>
I opened the scanner and found a wire-cable besides the cable drum near<br>
the motor. I put it back onto this drum and the slider now moves as<br>
before, but I have colored vertical stripes on each scan. Even in<br>
Gray-mode there is a light stripe on the image.<br>
<p>
I get exacty the same vertical stripes on my Macintosh with original<br>
Mustek-Software, so it is neither an SCSI- nor a software Problem.<br>
<p>
My questions are now:<br>
<p>
- Has anyone had already the same problem?<br>
- Is it possible to fix it myself (I found two screws at the end<br>
  of the cables -- perhaps they are for adjustment)?<br>
- Where is the CCD-Line located and how does the scanner separate <br>
  the blue green and yellow light?<br>
- What is wrong with scanimage? The scanner works fine with xscanimage<br>
<p>
Thanks in advance.<br>
<p>
Olaf<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Kaz Sasayama: "Re: epson via parallel"</a>
<li> <b>Previous message:</b> <a href="0142.html">Hugo van der Kooij: "Re: Updated patches for GTK+ 0.99.7 support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0181.html">Olaf Ronneberger: "Re: Mustek MFC-600S damaged by scanimage - what now?"</a>
<li> <b>Reply:</b> <a href="0181.html">Olaf Ronneberger: "Re: Mustek MFC-600S damaged by scanimage - what now?"</a>
<!-- reply="end" -->
</ul>
