<!-- received="Sat Mar 28 04:59:21 1998 PST" -->
<!-- sent="Sat, 28 Mar 1998 13:58:26 +0100 (MET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: When will SANE we gtk+-0.99.8 compliant?" -->
<!-- id="" -->
<!-- inreplyto="351CEBA0.3E8DB6BD@iae.nl" -->
<title>sane-devel: Re: When will SANE we gtk+-0.99.8 compliant?</title>
<h1>Re: When will SANE we gtk+-0.99.8 compliant?</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sat, 28 Mar 1998 13:58:26 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#194">[ date ]</a><a href="index.html#194">[ thread ]</a><a href="subject.html#194">[ subject ]</a><a href="author.html#194">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">Hugo van der Kooij: "Re: New HP backend"</a>
<li> <b>Previous message:</b> <a href="0193.html">Hugo van der Kooij: "Road ahead?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 28 Mar 1998, Arnoud de Geus wrote:<br>
<p>
<i>&gt; I recently bought a Scanjet 5P, and was advised to use</i><br>
<i>&gt; Gimp/Sane for scanning under Linux.</i><br>
<i>&gt; </i><br>
<i>&gt; I generated and installed Gtk+ 0.99.8, Gimp 0.99.23,</i><br>
<i>&gt; and both seem to work fine. Then I tried to generate</i><br>
<i>&gt; Sane 0.71, and got the following problems:</i><br>
<i>&gt; </i><br>
<i>&gt; 1. During Gtk installation the file glibconfig.h was not</i><br>
<i>&gt; installed to /usr/local/include, but /usr/local/include/glib.h</i><br>
<i>&gt; includes this file. A copy action quickly resolved this</i><br>
<i>&gt; problem.</i><br>
<i>&gt; </i><br>
<i>&gt; 2. frontend/gtkglue.c seems to make calls to older versions</i><br>
<i>&gt; of Gtk to functions no longer in the library:</i><br>
<i>&gt; </i><br>
<i>&gt; gtk_tooltips_set_tips has disappeared and a new functions</i><br>
<i>&gt; gtk_tooltips_set_tip has to be used. Furthermore</i><br>
<i>&gt; gtk_tooltips_unref is no longer there.</i><br>
<p>
<i>&gt; 3. frontend/xcam.c does a call to gdk_set_debug_level</i><br>
<i>&gt; which also had disappeared.</i><br>
<p>
A patch for items 2 and 3  was posted here several times. So check the<br>
archives!<br>
<p>
See:<br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<p>
<i>&gt; Last but not least, the documentation which comes with</i><br>
<i>&gt; Sane, is quite brief on the following. What to do, when</i><br>
<i>&gt; you installed Sane with make install, to get your</i><br>
<i>&gt; HP Scanjet to work (adding a device in /dev and so</i><br>
<i>&gt; on).</i><br>
<p>
The documentation is frank enough about the statement that a lot needs to<br>
be done yet in regard to the documentation.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">Hugo van der Kooij: "Re: New HP backend"</a>
<li> <b>Previous message:</b> <a href="0193.html">Hugo van der Kooij: "Road ahead?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
