<!-- received="Sat Mar 28 10:32:32 1998 PST" -->
<!-- sent="Sat, 28 Mar 1998 10:32:30 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: When will SANE we gtk+-0.99.8 compliant?" -->
<!-- id="199803281832.KAA03741@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.3.96.980328135559.25700A-100000@hvdkooij.dyn.ml.org" -->
<title>sane-devel: Re: When will SANE we gtk+-0.99.8 compliant?</title>
<h1>Re: When will SANE we gtk+-0.99.8 compliant?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sat, 28 Mar 1998 10:32:30 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#197">[ date ]</a><a href="index.html#197">[ thread ]</a><a href="subject.html#197">[ subject ]</a><a href="author.html#197">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0198.html">David Mosberger-Tang: "Re: New HP backend"</a>
<li> <b>Previous message:</b> <a href="0196.html">David Mosberger-Tang: "Re: Road ahead?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0200.html">Hugo van der Kooij: "Re: When will SANE we gtk+-0.99.8 compliant?"</a>
<li> <b>Reply:</b> <a href="0200.html">Hugo van der Kooij: "Re: When will SANE we gtk+-0.99.8 compliant?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sat, 28 Mar 1998 13:58:26 +0100 (MET), Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; said:</i><br>
<p>
<i>  &gt;&gt; Last but not least, the documentation which comes with Sane, is</i><br>
<i>  &gt;&gt; quite brief on the following. What to do, when you installed Sane</i><br>
<i>  &gt;&gt; with make install, to get your HP Scanjet to work (adding a</i><br>
<i>  &gt;&gt; device in /dev and so on).</i><br>
<p>
  Hugo&gt; The documentation is frank enough about the statement that a<br>
  Hugo&gt; lot needs to be done yet in regard to the documentation.<br>
<p>
How about the tutorial that's available on the SANE home page (the<br>
Linux Journal article that appeared in the March 1998 issues?).  We<br>
could certainly include it in the distribution if there is a feeling<br>
that it would be of value.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0198.html">David Mosberger-Tang: "Re: New HP backend"</a>
<li> <b>Previous message:</b> <a href="0196.html">David Mosberger-Tang: "Re: Road ahead?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0200.html">Hugo van der Kooij: "Re: When will SANE we gtk+-0.99.8 compliant?"</a>
<li> <b>Reply:</b> <a href="0200.html">Hugo van der Kooij: "Re: When will SANE we gtk+-0.99.8 compliant?"</a>
<!-- reply="end" -->
</ul>
