<!-- received="Tue Mar 31 05:07:56 1998 PST" -->
<!-- sent="Tue, 31 Mar 1998 05:03:54 PST" -->
<!-- name="Scott D. MacKay" -->
<!-- email="sdm@eroch.mc.xerox.com" -->
<!-- subject="SANE Platform" -->
<!-- id="3520E9BA.CA76C037@eroch.mc.xerox.com" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE Platform</title>
<h1>SANE Platform</h1>
<b>Scott D. MacKay</b> (<a href="mailto:sdm@eroch.mc.xerox.com"><i>sdm@eroch.mc.xerox.com</i></a>)<br>
<i>Tue, 31 Mar 1998 05:03:54 PST</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#214">[ date ]</a><a href="index.html#214">[ thread ]</a><a href="subject.html#214">[ subject ]</a><a href="author.html#214">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">Quy Tonthat: "xscanimage SIGSEGV in gtk_real_window_move_resize"</a>
<li> <b>Previous message:</b> <a href="0213.html">Rogier Wolff: "Re: Artec AT3 and A6000C Plus driver"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0216.html">Hugo van der Kooij: "Re: SANE Platform"</a>
<li> <b>Reply:</b> <a href="0216.html">Hugo van der Kooij: "Re: SANE Platform"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello!<br>
    I have a request; could you add a new platform to the SANE supported<br>
platform list?  I would like to see Solaris/x86 v5.6 added to the list,<br>
even if it is 'untested' in all catagories.  I would try, but all I have<br>
is<br>
a handhend LogiTech b/w scanner.<br>
<p>
<p>
Thanks!<br>
<p>
<p>
Scott MacKay<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">Quy Tonthat: "xscanimage SIGSEGV in gtk_real_window_move_resize"</a>
<li> <b>Previous message:</b> <a href="0213.html">Rogier Wolff: "Re: Artec AT3 and A6000C Plus driver"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0216.html">Hugo van der Kooij: "Re: SANE Platform"</a>
<li> <b>Reply:</b> <a href="0216.html">Hugo van der Kooij: "Re: SANE Platform"</a>
<!-- reply="end" -->
</ul>
