<!-- received="Tue Mar 11 07:07:06 1997 MST" -->
<!-- sent="Tue, 11 Mar 1997 07:11:06 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: SANE-pre0.5 snapshot available" -->
<!-- id="199703111411.HAA04266@panda.mosberger" -->
<!-- inreplyto="SANE-pre0.5 snapshot available" -->
<title>sane-devel: Re: SANE-pre0.5 snapshot available</title>
<h1>Re: SANE-pre0.5 snapshot available</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Tue, 11 Mar 1997 07:11:06 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#5">[ date ]</a><a href="index.html#5">[ thread ]</a><a href="subject.html#5">[ subject ]</a><a href="author.html#5">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0006.html">Guido Muesch: "sane and java?"</a>
<li> <b>Previous message:</b> <a href="0004.html">David Mosberger-Tang: "Re: Hello."</a>
<li> <b>Maybe in reply to:</b> <a href="0003.html">David Mosberger-Tang: "SANE-pre0.5 snapshot available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On 11 Mar 1997 09:20:57 +0100, Achim Oppelt &lt;<a href="mailto:aoppelt@theorie3.physik.uni-erlangen.de">aoppelt@theorie3.physik.uni-erlangen.de</a>&gt; said:</i><br>
<p>
  Achim&gt; <a href="mailto:davidm@AZStarNet.COM">davidm@AZStarNet.COM</a> (David Mosberger-Tang) writes:<br>
<i>  &gt;&gt;  I just uploaded a new SANE snapshot:</i><br>
<i>  &gt;&gt; </i><br>
<i>  &gt;&gt; <a href="ftp://ftp.azstarnet.com/~axplinux/axp/sane/sane-pre0.5.tar.gz">ftp://ftp.azstarnet.com/~axplinux/axp/sane/sane-pre0.5.tar.gz</a></i><br>
<i>  &gt;&gt; </i><br>
<p>
  Achim&gt; Shouldn't this read<br>
<p>
  Achim&gt; 	<a href="ftp://ftp.azstarnet.com/pub/linux/axp/sane/sane-pre0.5.tar.gz">ftp://ftp.azstarnet.com/pub/linux/axp/sane/sane-pre0.5.tar.gz</a><br>
<p>
  Achim&gt; ? At least for me, Netscape complains that axplinux is an<br>
  Achim&gt; unknown user.<br>
<p>
Yes, you're absolutely right.  Sorry about that.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0006.html">Guido Muesch: "sane and java?"</a>
<li> <b>Previous message:</b> <a href="0004.html">David Mosberger-Tang: "Re: Hello."</a>
<li> <b>Maybe in reply to:</b> <a href="0003.html">David Mosberger-Tang: "SANE-pre0.5 snapshot available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
