<!-- received="Wed Mar 12 16:27:22 1997 MST" -->
<!-- sent="Thu, 13 Mar 1997 00:32:11 +0100 (MET)" -->
<!-- name="Guido Muesch" -->
<!-- email="odiug@faho.rwth-aachen.de" -->
<!-- subject="Re: sane and java?" -->
<!-- id="199703122332.AAA04501@darkstar.faho.rwth-aachen.de" -->
<!-- inreplyto="199703122202.PAA11699@panda.mosberger" -->
<title>sane-devel: Re: sane and java?</title>
<h1>Re: sane and java?</h1>
<b>Guido Muesch</b> (<a href="mailto:odiug@faho.rwth-aachen.de"><i>odiug@faho.rwth-aachen.de</i></a>)<br>
<i>Thu, 13 Mar 1997 00:32:11 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#8">[ date ]</a><a href="index.html#8">[ thread ]</a><a href="subject.html#8">[ subject ]</a><a href="author.html#8">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">David Mosberger-Tang: "Re: sane and java?"</a>
<li> <b>Previous message:</b> <a href="0007.html">David Mosberger-Tang: "Re: sane and java?"</a>
<li> <b>In reply to:</b> <a href="0007.html">David Mosberger-Tang: "Re: sane and java?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0009.html">David Mosberger-Tang: "Re: sane and java?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 12 Mar, David Mosberger-Tang wrote:<br>
<i>&gt;&gt;&gt;&gt;&gt;&gt; On Wed, 12 Mar 1997 22:37:12 +0100 (MET), Guido Muesch &lt;<a href="mailto:odiug@faho.rwth-aachen.de">odiug@faho.rwth-aachen.de</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Guido&gt; Therefor my question: Is the network interface "documented"</i><br>
<i>&gt;   Guido&gt; or subject to changes? (From looking into the sources it</i><br>
<i>&gt;   Guido&gt; looks pretty promising).</i><br>
<i>&gt; </i><br>
<i>&gt; The protocol changed between 0.42 and pre0.5, but should be fairly</i><br>
<i>&gt; stable now.  The new encoding isn't documented yet.  It's on my</i><br>
<i>&gt; ever-growing list of things to do.  The encoding is straight-forward</i><br>
<i>&gt; though.  Just look at frontend/saned.c and</i><br>
<i>&gt; sanei/sanei_{net,wire,codec_bin}.[ch].</i><br>
<i>&gt; </i><br>
<i>&gt;   Guido&gt; Anybody thought about that?</i><br>
<i>&gt; </i><br>
<i>&gt; I didn't, but it sounds like an interesting idea.  Are you interested</i><br>
<i>&gt; in pursuing this?</i><br>
<p>
Interested yes.<br>
<p>
But I have nearly no experience with Java, beside playing around with<br>
"Hello World" style programs. Nevertheless I would be interested in<br>
doing something with Java. My time is also limited because I am working<br>
on my thesis right now.<br>
<p>
But if no one else is interested, I would have a look at it anyway, but<br>
I cannot promise anything.<br>
<p>
Maybe I should wait until things settle up (sane-0.5, JDK1.1 for<br>
Linux).<br>
<p>
Ciao<br>
  Guido<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">David Mosberger-Tang: "Re: sane and java?"</a>
<li> <b>Previous message:</b> <a href="0007.html">David Mosberger-Tang: "Re: sane and java?"</a>
<li> <b>In reply to:</b> <a href="0007.html">David Mosberger-Tang: "Re: sane and java?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0009.html">David Mosberger-Tang: "Re: sane and java?"</a>
<!-- reply="end" -->
</ul>
