<!-- received="Thu Mar 13 20:08:11 1997 MST" -->
<!-- sent="Fri, 14 Mar 1997 01:18:29 +0100 (MET)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: Scan Area &amp; Origin (4.5.2)" -->
<!-- id="m0w5KhZ-000BZKC@charon.beck-sw.de" -->
<!-- inreplyto="199703131822.MAA10624@abattoir.cc.ndsu.nodak.edu" -->
<title>sane-devel: Re: Scan Area &amp; Origin (4.5.2)</title>
<h1>Re: Scan Area &amp; Origin (4.5.2)</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Fri, 14 Mar 1997 01:18:29 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Guido Muesch: "BW QuickCam"</a>
<li> <b>Previous message:</b> <a href="0011.html">Nem W Schlecht: "Scan Area &amp; Origin (4.5.2)"</a>
<li> <b>In reply to:</b> <a href="0011.html">Nem W Schlecht: "Scan Area &amp; Origin (4.5.2)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;      +-+        +-o</i><br>
<i>&gt; Mine | |     HP | |   </i><br>
<i>&gt;      o-+        +-+</i><br>
<p>
<i>&gt;   The rulers and a big red arrow both correspond to this.  On one of the HP</i><br>
<i>&gt; scanners here that I looked at, the origin in is the back right side (but</i><br>
<i>&gt; the element is stored in the back also).</i><br>
<i>&gt;   Now to the actual question..  I noticed in section 4.5.2 of the SANE</i><br>
<i>&gt; Project docs that the origin is specified as the back left corner.I have</i><br>
<i>&gt; no problem with converting scanning co-ordinates or changing bits around</i><br>
<i>&gt; for BW/Halftone scans, but I'm wondering if this should be somehow</i><br>
<i>&gt; corellated (sp?) to where the light element and CCD array start from.</i><br>
Yes. It is intendend as it is normally used with the specific type of scanner.<br>
<p>
The SANE-coordinates are meant as correlated with the picture you want to<br>
scan. The hardware of most scanners will "suggest" an efficient way of<br>
doing it. I.e. the logical top-left of the picture you scan should be<br>
positioned in a way that it is in the same place on a "full-scan" regardless<br>
of how big the picture is.<br>
<p>
This normally means that the "top" should be oriented at the edge near the <br>
CCD-home-position and "left" should touch the corresponding border ...<br>
<p>
I.e. I would consider your scanner to be just a "turned round" version of<br>
the HP one (or one with the lid attached on the other side) and not try<br>
to "soft-emulate" another hardware-layout.<br>
<p>
CU,Andy<br>
<p>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
===  World-Wide-Web URL :  <a href="http://sunserver1.rz.uni-duesseldorf.de/~becka">http://sunserver1.rz.uni-duesseldorf.de/~becka</a>  ===
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Guido Muesch: "BW QuickCam"</a>
<li> <b>Previous message:</b> <a href="0011.html">Nem W Schlecht: "Scan Area &amp; Origin (4.5.2)"</a>
<li> <b>In reply to:</b> <a href="0011.html">Nem W Schlecht: "Scan Area &amp; Origin (4.5.2)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
