<!-- received="Tue Mar 25 17:31:02 1997 MST" -->
<!-- sent="Tue, 25 Mar 1997 17:22:24 -0700 (MST)" -->
<!-- name="David  Mosberger" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Mustek Question, and pre0.5 Question." -->
<!-- id="199703260022.RAA27543@web.azstarnet.com" -->
<!-- inreplyto="Mustek Question, and pre0.5 Question." -->
<title>sane-devel: Re: Mustek Question, and pre0.5 Question.</title>
<h1>Re: Mustek Question, and pre0.5 Question.</h1>
<b>David  Mosberger</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Tue, 25 Mar 1997 17:22:24 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#29">[ date ]</a><a href="index.html#29">[ thread ]</a><a href="subject.html#29">[ subject ]</a><a href="author.html#29">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">David Mosberger-Tang: "Re: BW QuickCam"</a>
<li> <b>Previous message:</b> <a href="0028.html">XxEDGExX: "Re: Mustek Question, and pre0.5 Question."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;  It</i><br>
<i>&gt;  comes with a DTC SCSI controller.  My question is, do I need to use this</i><br>
<i>&gt;  SCSI controller to use this scanner with linux?  I already have a BT-958</i><br>
<i>&gt;  Buslogic in my system, and if possible I would just like to use this</i><br>
<i>&gt;  controller to use the scanner.  It seems that it should should be ok, it's</i><br>
<i>&gt;  just documentation for sane, for some reason leads me to believe that you</i><br>
<i>&gt;  must use the scsi controller which comes with the scanner.</i><br>
<p>
No, it _should_ work fine with the BT controller, but I don't know<br>
that for a fact (if anybody does use a Mustek scanner with such a<br>
controller, let me know).  But even so you might be better off getting<br>
a second SCSI controller since the Mustek scanners will block the SCSI<br>
bus while a scan is in progress.  Please let me know if you have<br>
suggestions to clarify the mustek.README file.<br>
<p>
<i>&gt;  Next, I got sane-pre0.5 and make is failing.  I understand this pre0.5 is</i><br>
<i>&gt;  supposed to be buggy, hence pre, but if this is a common error which can</i><br>
<i>&gt;  be resolved, I'd appreciate any help.</i><br>
<p>
My main development machine is a Linux/Alpha box which is glibc based<br>
(aka, libc 6.0).  The header files are slightly different and that's<br>
probably what's causing the problem.  Try adding "#include &lt;sys/types.h&gt;"<br>
at the top of preview.h and let me know whether that fixes the compilation<br>
problem.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">David Mosberger-Tang: "Re: BW QuickCam"</a>
<li> <b>Previous message:</b> <a href="0028.html">XxEDGExX: "Re: Mustek Question, and pre0.5 Question."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
