<!-- received="Wed Mar 26 18:35:06 1997 MST" -->
<!-- sent="Wed, 26 Mar 1997 18:27:10 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: BW QuickCam" -->
<!-- id="199703270127.SAA18377@panda.mosberger" -->
<!-- inreplyto="BW QuickCam" -->
<title>sane-devel: Re: BW QuickCam</title>
<h1>Re: BW QuickCam</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Wed, 26 Mar 1997 18:27:10 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#30">[ date ]</a><a href="index.html#30">[ thread ]</a><a href="subject.html#30">[ subject ]</a><a href="author.html#30">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">David Mosberger-Tang: "new snapshot"</a>
<li> <b>Previous message:</b> <a href="0029.html">David  Mosberger: "Re: Mustek Question, and pre0.5 Question."</a>
<li> <b>Maybe in reply to:</b> <a href="0013.html">Guido Muesch: "BW QuickCam"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Guido&gt; [qcam] qc_send: sent 0x25, camera echoed 0x0f<br>
 Guido&gt; [qcam] qc_send: (re-read does not help)<br>
 Guido&gt; [qcam] qc_send: sent 0x68, camera echoed 0x0f<br>
 Guido&gt; [qcam] qc_send: (re-read does not help)<br>
 Guido&gt; [qcam] qc_send: sent 0xf6, camera echoed 0xf1<br>
 Guido&gt; [qcam] qc_send: (re-read does not help)<br>
 Guido&gt; [qcam] qc_send: sent 0x14a, camera echoed 0x45<br>
 Guido&gt; [qcam] qc_send: (re-read does not help)<br>
<p>
You may want to try to increase the delay in qc_wait() to see whether<br>
that gets rid of the above messages.  Maybe two read_lpstatus() would<br>
work.  If not, try an idle-loop or some such.<br>
<p>
 Guido&gt; It seems like something does not work with the communication.  BTW on<br>
 Guido&gt; the machine I tested this I have to force the QuickCam interface into<br>
 Guido&gt; UniDir Mode. BiDir gets detected but does not work (with the other<br>
 Guido&gt; drivers).<br>
<p>
 Guido&gt; I patched qcam.c like this:<br>
<p>
OK, I integrated your patch.  Let me know how it works (once I<br>
uploaded &amp; announced the latest snapshot).<br>
<p>
 Guido&gt; PS: OK, I did a test on another machine with working BiDir port:<br>
<p>
 Guido&gt; [qcam] qcam.start: bidir 246 lines of 330 pixels each (243540 bytes) =&gt; 330x246<br>
							       ^^^^^^^^^^^^<br>
<p>
This is wrong.  For a gray-scale mode, only 246*330=81180 bytes should<br>
be expected.  Maybe the Bpp in sane_get_parameters() gets computed<br>
incorrectly?  I don't see anything obvious that's wrong, but the bug<br>
must be in that area.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">David Mosberger-Tang: "new snapshot"</a>
<li> <b>Previous message:</b> <a href="0029.html">David  Mosberger: "Re: Mustek Question, and pre0.5 Question."</a>
<li> <b>Maybe in reply to:</b> <a href="0013.html">Guido Muesch: "BW QuickCam"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
