<!-- received="Mon Mar 31 18:35:35 1997 MST" -->
<!-- sent="Mon, 31 Mar 1997 18:25:28 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="sane-0.5 now available" -->
<!-- id="199704010125.SAA27308@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: sane-0.5 now available</title>
<h1>sane-0.5 now available</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Mon, 31 Mar 1997 18:25:28 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#35">[ date ]</a><a href="index.html#35">[ thread ]</a><a href="subject.html#35">[ subject ]</a><a href="author.html#35">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">Mathias Weigt: "experiences with MUSTEK and HP"</a>
<li> <b>Previous message:</b> <a href="0034.html">XxEDGExX: "Re: new snapshot"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
OK, finally the switch to sane-0.5 has happened:<br>
<p>
	<a href="ftp://ftp.azstarnet.com/pub/linux/axp/sane/sane-0.5.tar.gz">ftp://ftp.azstarnet.com/pub/linux/axp/sane/sane-0.5.tar.gz</a><br>
<p>
If you don't have the latest GIMP installed and/or are running on an<br>
8-bit display, you may also want to fetch gtk+-0.99.6-970328.tar.gz<br>
from the same directory.  This will allow running xscan and xcam<br>
without GIMP (though I think it's much neater to run xscan through<br>
GIMP).<br>
<p>
This release has been tested on three Linux/Alpha and Linux/x86<br>
machines running either Red Hat 4.0 or 4.1.  It's supposed to build<br>
and work under NetBSD as well (thanks to Gordon Matzigkeit!).<br>
<p>
If you all could give it a shot and let me know how it works, I'd<br>
appreciate it.  Oh, I have yet to hear from any Mustek scanner owners.<br>
Please do let me know which scanner you're using and whether there are<br>
any problems with it (please list the SCSI id, the label on the front<br>
of the scanner, and the SCSI card you're using).  Please report this<br>
info even if you think I ought to know already.<br>
<p>
A word on future releases: IMHO, the pre0.5 releases were a bad idea.<br>
<i>&gt;From now on, I'll make diffs available and make more frequent</i><br>
releases.  That should simplify things now that there are other people<br>
working on the same sources (there are no diffs between -0.42 and -0.5<br>
since the patch would have been almost as big as the entire<br>
sources...).<br>
<p>
Enjoy,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">Mathias Weigt: "experiences with MUSTEK and HP"</a>
<li> <b>Previous message:</b> <a href="0034.html">XxEDGExX: "Re: new snapshot"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
