<title>sane-devel by date</title>
<a name="start"><h1>sane-devel by date</h1></a>
<ul>
<li> <b><a href="#end">Most recent messages</a></b>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</b>
</ul>
<p>
<b>Starting:</b> <i>Tue 25 Feb 1997 - 08:42:42 MST</i><br>
<b>Ending:</b> <i>Wed 14 May 1997 - 14:41:40 MST</i><br>
<b>Messages:</b> 149
<p>
<ul>
<li> <a href="0000.html"><b>Re: XScan progress</b></a> <a name="0"><i>Michael K. Johnson</i></a>
<li> <a href="0001.html"><b>SANE in the graphics-muse</b></a> <a name="1"><i>David Mosberger-Tang</i></a>
<li> <a href="0002.html"><b>Hello.</b></a> <a name="2"><i>Nem W Schlecht</i></a>
<li> <a href="0003.html"><b>SANE-pre0.5 snapshot available</b></a> <a name="3"><i>David Mosberger-Tang</i></a>
<li> <a href="0004.html"><b>Re: Hello.</b></a> <a name="4"><i>David Mosberger-Tang</i></a>
<li> <a href="0005.html"><b>Re: SANE-pre0.5 snapshot available</b></a> <a name="5"><i>David Mosberger-Tang</i></a>
<li> <a href="0006.html"><b>sane and java?</b></a> <a name="6"><i>Guido Muesch</i></a>
<li> <a href="0007.html"><b>Re: sane and java?</b></a> <a name="7"><i>David Mosberger-Tang</i></a>
<li> <a href="0008.html"><b>Re: sane and java?</b></a> <a name="8"><i>Guido Muesch</i></a>
<li> <a href="0009.html"><b>Re: sane and java?</b></a> <a name="9"><i>David Mosberger-Tang</i></a>
<li> <a href="0010.html"><b>Re: sane and java?</b></a> <a name="10"><i>David Mosberger-Tang</i></a>
<li> <a href="0011.html"><b>Scan Area &amp; Origin (4.5.2)</b></a> <a name="11"><i>Nem W Schlecht</i></a>
<li> <a href="0012.html"><b>Re: Scan Area &amp; Origin (4.5.2)</b></a> <a name="12"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0013.html"><b>BW QuickCam</b></a> <a name="13"><i>Guido Muesch</i></a>
<li> <a href="0014.html"><b>Re: BW QuickCam</b></a> <a name="14"><i>David Mosberger-Tang</i></a>
<li> <a href="0015.html"><b>QuickCam drivers</b></a> <a name="15"><i>Alex Belits</i></a>
<li> <a href="0016.html"><b>Re: QuickCam drivers</b></a> <a name="16"><i>David Mosberger-Tang</i></a>
<li> <a href="0017.html"><b>Microtek Sane Backend</b></a> <a name="17"><i>Nem W Schlecht</i></a>
<li> <a href="0018.html"><b>Re: Microtek Sane Backend</b></a> <a name="18"><i>David Mosberger-Tang</i></a>
<li> <a href="0019.html"><b>Re: Microtek Sane Backend</b></a> <a name="19"><i>Nem W Schlecht</i></a>
<li> <a href="0020.html"><b>Re: BW QuickCam</b></a> <a name="20"><i>Guido Muesch</i></a>
<li> <a href="0021.html"><b>HP backend for SANE</b></a> <a name="21"><i>David Mosberger-Tang</i></a>
<li> <a href="0022.html"><b>another pre0.5 snapshot</b></a> <a name="22"><i>David Mosberger-Tang</i></a>
<li> <a href="0023.html"><b>Re: another pre0.5 snapshot</b></a> <a name="23"><i>Guido Muesch</i></a>
<li> <a href="0024.html"><b>Re: another pre0.5 snapshot</b></a> <a name="24"><i>David Mosberger-Tang</i></a>
<li> <a href="0025.html"><b>yet another pre0.5 release</b></a> <a name="25"><i>David Mosberger-Tang</i></a>
<li> <a href="0026.html"><b>two more features</b></a> <a name="26"><i>David Mosberger-Tang</i></a>
<li> <a href="0027.html"><b>yaspr</b></a> <a name="27"><i>David Mosberger-Tang</i></a>
<li> <a href="0028.html"><b>Re: Mustek Question, and pre0.5 Question.</b></a> <a name="28"><i>XxEDGExX</i></a>
<li> <a href="0029.html"><b>Re: Mustek Question, and pre0.5 Question.</b></a> <a name="29"><i>David  Mosberger</i></a>
<li> <a href="0030.html"><b>Re: BW QuickCam</b></a> <a name="30"><i>David Mosberger-Tang</i></a>
<li> <a href="0031.html"><b>new snapshot</b></a> <a name="31"><i>David Mosberger-Tang</i></a>
<li> <a href="0032.html"><b>Re: new snapshot</b></a> <a name="32"><i>XxEDGExX</i></a>
<li> <a href="0033.html"><b>Re: new snapshot</b></a> <a name="33"><i>David Mosberger-Tang</i></a>
<li> <a href="0034.html"><b>Re: new snapshot</b></a> <a name="34"><i>XxEDGExX</i></a>
<li> <a href="0035.html"><b>sane-0.5 now available</b></a> <a name="35"><i>David Mosberger-Tang</i></a>
<li> <a href="0036.html"><b>experiences with MUSTEK and HP</b></a> <a name="36"><i>Mathias Weigt</i></a>
<li> <a href="0037.html"><b>sane-0.5: trivial strndup fix</b></a> <a name="37"><i>Gordon Matzigkeit</i></a>
<li> <a href="0038.html"><b>sane-0.51 available</b></a> <a name="38"><i>David Mosberger-Tang</i></a>
<li> <a href="0039.html"><b>=?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?=</b></a> <a name="39"><i>Mathias Weigt</i></a>
<li> <a href="0040.html"><b>Re: =?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?=</b></a> <a name="40"><i>David Mosberger-Tang</i></a>
<li> <a href="0041.html"><b>0.50: xscan parameters label problems</b></a> <a name="41"><i>Gordon Matzigkeit</i></a>
<li> <a href="0042.html"><b>Re: 0.50: xscan parameters label problems</b></a> <a name="42"><i>David Mosberger-Tang</i></a>
<li> <a href="0043.html"><b>gtk-tooltips.diff.gz</b></a> <a name="43"><i>David Mosberger-Tang</i></a>
<li> <a href="0044.html"><b>Re: 0.50: xscan parameters label problems</b></a> <a name="44"><i>Gordon Matzigkeit</i></a>
<li> <a href="0045.html"><b>color scanning and MFS-6000CX</b></a> <a name="45"><i>Mathias Weigt</i></a>
<li> <a href="0046.html"><b>Re: color scanning and MFS-6000CX</b></a> <a name="46"><i>Michael K. Johnson</i></a>
<li> <a href="0047.html"><b>Re: color scanning and MFS-6000CX</b></a> <a name="47"><i>Mathias Weigt</i></a>
<li> <a href="0048.html"><b>Re: color scanning and MFS-6000CX</b></a> <a name="48"><i>David Mosberger-Tang</i></a>
<li> <a href="0049.html"><b>anybody with a Mustek 3-pass scanner?</b></a> <a name="49"><i>David Mosberger-Tang</i></a>
<li> <a href="0050.html"><b>Re: mustek 3-pass backend fix</b></a> <a name="50"><i>Matthias Lautner</i></a>
<li> <a href="0051.html"><b>Re: MFS-12000CX</b></a> <a name="51"><i>David Mosberger-Tang</i></a>
<li> <a href="0052.html"><b>mustek 3-pass backend now working!</b></a> <a name="52"><i>David Mosberger-Tang</i></a>
<li> <a href="0053.html"><b>Re: mustek 3-pass backend now working!</b></a> <a name="53"><i>Mathias Weigt</i></a>
<li> <a href="0054.html"><b>Re: mustek 3-pass backend now working!</b></a> <a name="54"><i>David Mosberger-Tang</i></a>
<li> <a href="0055.html"><b>Measurements in color mode</b></a> <a name="55"><i>Mathias Weigt</i></a>
<li> <a href="0056.html"><b>Re: Name collision (serious)</b></a> <a name="56"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0057.html"><b>Re: Name collision (serious)</b></a> <a name="57"><i>David Mosberger-Tang</i></a>
<li> <a href="0058.html"><b>sane-0.54 now available!</b></a> <a name="58"><i>David Mosberger-Tang</i></a>
<li> <a href="0059.html"><b>Re: Handheld Scanners supp.?</b></a> <a name="59"><i>David Mosberger-Tang</i></a>
<li> <a href="0060.html"><b>Re: sane-0.54 now available!</b></a> <a name="60"><i>Reimond Rombey</i></a>
<li> <a href="0061.html"><b>Re: sane-0.54 now available!</b></a> <a name="61"><i>David Mosberger-Tang</i></a>
<li> <a href="0062.html"><b>PINT driver patches</b></a> <a name="62"><i>Gordon Matzigkeit</i></a>
<li> <a href="0063.html"><b>Re: PINT driver patches</b></a> <a name="63"><i>David Mosberger-Tang</i></a>
<li> <a href="0064.html"><b>HP &amp; PINT screen shots</b></a> <a name="64"><i>David Mosberger-Tang</i></a>
<li> <a href="0065.html"><b>Re: Handheld Scanners supp.?</b></a> <a name="65"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0066.html"><b>Re: sane-0.54 now available!</b></a> <a name="66"><i>Guido Muesch</i></a>
<li> <a href="0067.html"><b>Re: sane-0.54 now available!</b></a> <a name="67"><i>David Mosberger-Tang</i></a>
<li> <a href="0068.html"><b>Connecting SANE and Java?</b></a> <a name="68"><i>Guido Muesch</i></a>
<li> <a href="0069.html"><b>Re: Connecting SANE and Java?</b></a> <a name="69"><i>David Mosberger-Tang</i></a>
<li> <a href="0070.html"><b>Re: PINT driver patches</b></a> <a name="70"><i>Gordon Matzigkeit</i></a>
<li> <a href="0071.html"><b>Re: PINT driver patches</b></a> <a name="71"><i>David Mosberger-Tang</i></a>
<li> <a href="0072.html"><b>man pages</b></a> <a name="72"><i>David Mosberger-Tang</i></a>
<li> <a href="0073.html"><b>Re: sane-0.54 now available!</b></a> <a name="73"><i>Reimond Rombey</i></a>
<li> <a href="0074.html"><b>Re: Connecting SANE and Java?</b></a> <a name="74"><i>Guido Muesch</i></a>
<li> <a href="0075.html"><b>Re: sane-0.54 now available!</b></a> <a name="75"><i>David Mosberger-Tang</i></a>
<li> <a href="0076.html"><b>Re: Connecting SANE and Java?</b></a> <a name="76"><i>David Mosberger-Tang</i></a>
<li> <a href="0077.html"><b>Re: sane-0.54 now available!</b></a> <a name="77"><i>Reimond Rombey</i></a>
<li> <a href="0078.html"><b>Re: sane-0.54 now available!</b></a> <a name="78"><i>David Mosberger-Tang</i></a>
<li> <a href="0079.html"><b>Re: sane-0.54 now available!</b></a> <a name="79"><i>Mathias Weigt</i></a>
<li> <a href="0080.html"><b>Re: sane-0.54 now available!</b></a> <a name="80"><i>Reimond Rombey</i></a>
<li> <a href="0081.html"><b>Re: Connecting SANE and Java?</b></a> <a name="81"><i>David Mosberger-Tang</i></a>
<li> <a href="0082.html"><b>sane-0.55 now available!</b></a> <a name="82"><i>David Mosberger-Tang</i></a>
<li> <a href="0083.html"><b>Re: xscanimage performance</b></a> <a name="83"><i>Mathias Weigt</i></a>
<li> <a href="0084.html"><b>Re: xscan performance</b></a> <a name="84"><i>David  Mosberger</i></a>
<li> <a href="0085.html"><b>sane-0.55: PINT/NetBSD fixes</b></a> <a name="85"><i>Gordon Matzigkeit</i></a>
<li> <a href="0086.html"><b>sane-0.55:can't allocate image buffer</b></a> <a name="86"><i>Matthias Lautner</i></a>
<li> <a href="0087.html"><b>xscanimage performance</b></a> <a name="87"><i>Mathias Weigt</i></a>
<li> <a href="0088.html"><b>Problems with sane</b></a> <a name="88"><i>cummings@mcmsys.com</i></a>
<li> <a href="0089.html"><b>Re: Problems with sane</b></a> <a name="89"><i>cummings@mcmsys.com</i></a>
<li> <a href="0090.html"><b>feature request: xscanimage postview window</b></a> <a name="90"><i>Gordon Matzigkeit</i></a>
<li> <a href="0091.html"><b>GTK buglet? [xscanimage length unit display]</b></a> <a name="91"><i>Gordon Matzigkeit</i></a>
<li> <a href="0092.html"><b>manual page for PINT backend</b></a> <a name="92"><i>Gordon Matzigkeit</i></a>
<li> <a href="0093.html"><b>Re: feature request: xscanimage postview window</b></a> <a name="93"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0094.html"><b>Re: feature request: xscanimage postview window</b></a> <a name="94"><i>Gordon Matzigkeit</i></a>
<li> <a href="0095.html"><b>Re: MFS-6000CX (id MSF-06000CZ) and Future Domain</b></a> <a name="95"><i>David  Mosberger</i></a>
<li> <a href="0096.html"><b>Kodak ds-20 camera interface</b></a> <a name="96"><i>John Kodis</i></a>
<li> <a href="0097.html"><b>Re: MFS-6000CX (id MSF-06000CZ) and Future Domain</b></a> <a name="97"><i>Andy Thaller</i></a>
<li> <a href="0098.html"><b>xscanimage</b></a> <a name="98"><i>Andy Thaller</i></a>
<li> <a href="0099.html"><b>scanner help</b></a> <a name="99"><i>Vance Stith</i></a>
<li> <a href="0100.html"><b>Re: xscanimage</b></a> <a name="100"><i>David Mosberger-Tang</i></a>
<li> <a href="0101.html"><b>Re: scanner help</b></a> <a name="101"><i>David Mosberger-Tang</i></a>
<li> <a href="0102.html"><b>Re: Kodak ds-20 camera interface</b></a> <a name="102"><i>David Mosberger-Tang</i></a>
<li> <a href="0103.html"><b>Re: Kodak ds-20 camera interface</b></a> <a name="103"><i>John Kodis</i></a>
<li> <a href="0104.html"><b>MFC-08000CZ</b></a> <a name="104"><i>Andreas Kabel</i></a>
<li> <a href="0105.html"><b>Re: MFS-6000CX (id MSF-06000CZ) and Future Domain</b></a> <a name="105"><i>David Mosberger-Tang</i></a>
<li> <a href="0106.html"><b>Re: scanner help</b></a> <a name="106"><i>Michael K. Johnson</i></a>
<li> <a href="0107.html"><b>turning off scanner-lamp</b></a> <a name="107"><i>Andy Thaller</i></a>
<li> <a href="0108.html"><b>Re: turning off scanner-lamp</b></a> <a name="108"><i>David Mosberger-Tang</i></a>
<li> <a href="0109.html"><b>Re: turning off scanner-lamp</b></a> <a name="109"><i>Michael K. Johnson</i></a>
<li> <a href="0110.html"><b>Re: turning off scanner-lamp</b></a> <a name="110"><i>David Mosberger-Tang</i></a>
<li> <a href="0111.html"><b>generic SCSI on SunOS/Solaris?</b></a> <a name="111"><i>David Mosberger-Tang</i></a>
<li> <a href="0112.html"><b>Re: turning off scanner-lamp</b></a> <a name="112"><i>David Mosberger-Tang</i></a>
<li> <a href="0113.html"><b>Re: turning off scanner-lamp</b></a> <a name="113"><i>Mathias Weigt</i></a>
<li> <a href="0114.html"><b>Mustek Paragon CD II</b></a> <a name="114"><i>Sven Neumann</i></a>
<li> <a href="0115.html"><b>Re: Mustek Paragon CD II</b></a> <a name="115"><i>David Mosberger-Tang</i></a>
<li> <a href="0116.html"><b>[patch] small but important fix for MFC-8000CZ</b></a> <a name="116"><i>David Mosberger-Tang</i></a>
<li> <a href="0117.html"><b>Re: Mustek Paragon CD II</b></a> <a name="117"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0118.html"><b>Re: Mustek Paragon CD II</b></a> <a name="118"><i>Michael K. Johnson</i></a>
<li> <a href="0119.html"><b>More about Mustek CD II</b></a> <a name="119"><i>Sven Neumann</i></a>
<li> <a href="0120.html"><b>Re: More about Mustek CD II</b></a> <a name="120"><i>David Mosberger-Tang</i></a>
<li> <a href="0121.html"><b>Re: Mustek Paragon CD II</b></a> <a name="121"><i>David Mosberger-Tang</i></a>
<li> <a href="0122.html"><b>avoiding scanner damage</b></a> <a name="122"><i>David Mosberger-Tang</i></a>
<li> <a href="0123.html"><b>avoiding scanner damage</b></a> <a name="123"><i>David Mosberger-Tang</i></a>
<li> <a href="0124.html"><b>Mustek/Request-sense problems -&gt; Solution?</b></a> <a name="124"><i>Thomas Blume</i></a>
<li> <a href="0125.html"><b>Re: Mustek/Request-sense problems -&gt; Solution?</b></a> <a name="125"><i>David Mosberger-Tang</i></a>
<li> <a href="0126.html"><b>Re: Mustek/Request-sense problems -&gt; Solution?</b></a> <a name="126"><i>Thomas Blume</i></a>
<li> <a href="0127.html"><b>Re: Mustek/Request-sense problems -&gt; Solution?</b></a> <a name="127"><i>David Mosberger-Tang</i></a>
<li> <a href="0128.html"><b>Re: sane-0.56 and hp</b></a> <a name="128"><i>David Mosberger-Tang</i></a>
<li> <a href="0129.html"><b>scanimage man page: here it is</b></a> <a name="129"><i>David Mosberger-Tang</i></a>
<li> <a href="0130.html"><b>Re: sane-0.56 and hp</b></a> <a name="130"><i>Mathias Weigt</i></a>
<li> <a href="0131.html"><b>Re: Mustek/Request-sense problems -&gt; Solution?</b></a> <a name="131"><i>Thomas Blume</i></a>
<li> <a href="0132.html"><b>Re: sane-0.56 and hp</b></a> <a name="132"><i>David Mosberger-Tang</i></a>
<li> <a href="0133.html"><b>reviewers wanted</b></a> <a name="133"><i>David Mosberger-Tang</i></a>
<li> <a href="0134.html"><b>sane-0.57 available</b></a> <a name="134"><i>David Mosberger-Tang</i></a>
<li> <a href="0135.html"><b>Re: reviewers wanted</b></a> <a name="135"><i>Michael K. Johnson</i></a>
<li> <a href="0136.html"><b>Q: Status of Microtek backend??</b></a> <a name="136"><i>Michael J. Long</i></a>
<li> <a href="0137.html"><b>Re: Q: Status of Microtek backend??</b></a> <a name="137"><i>Nem W Schlecht</i></a>
<li> <a href="0138.html"><b>Re: sane-0.57 available</b></a> <a name="138"><i>Mathias Weigt</i></a>
<li> <a href="0139.html"><b>Re: Q: Status of Microtek backend??</b></a> <a name="139"><i>David Mosberger-Tang</i></a>
<li> <a href="0140.html"><b>small preview fix</b></a> <a name="140"><i>David Mosberger-Tang</i></a>
<li> <a href="0141.html"><b>Mustek Scanner distorted image lines</b></a> <a name="141"><i>Stefan Luettringhaus-Kappel</i></a>
<li> <a href="0142.html"><b>Mustek - Speed - Buffer</b></a> <a name="142"><i>Thomas Blume</i></a>
<li> <a href="0143.html"><b>Re: Mustek Scanner distorted image lines</b></a> <a name="143"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0144.html"><b>Re: no mustek device - MFS6000SP</b></a> <a name="144"><i>David Mosberger-Tang</i></a>
<li> <a href="0145.html"><b>Re: sane-0.57 available</b></a> <a name="145"><i>Matthias Lautner</i></a>
<li> <a href="0146.html"><b>Scanner and Printer - Copier</b></a> <a name="146"><i>Reimond Rombey</i></a>
<li> <a href="0147.html"><b>[patch] Re: sane-0.57 available</b></a> <a name="147"><i>David Mosberger-Tang</i></a>
<li> <a href="0148.html"><b>Re: Scanner and Printer - Copier</b></a> <a name="148"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
</ul>
<p>
<a name="end"><b>Last message date:</b></a> <i>Wed 14 May 1997 - 14:41:40 MST</i><br>
<b>Archived on:</b> <i>Tue Sep 30 1997 - 21:19:29 MST</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
