<!-- received="Wed Jul  1 11:34:44 1998 PDT" -->
<!-- sent="Wed, 1 Jul 1998 14:30:47 -0400" -->
<!-- name="Wolfgang Kaess" -->
<!-- email="100346.2055@compuserve.com" -->
<!-- subject="HP 6100C + ADF" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP 6100C + ADF</title>
<h1>HP 6100C + ADF</h1>
<b>Wolfgang Kaess</b> (<a href="mailto:100346.2055@compuserve.com"><i>100346.2055@compuserve.com</i></a>)<br>
<i>Wed, 1 Jul 1998 14:30:47 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#1">[ date ]</a><a href="index.html#1">[ thread ]</a><a href="subject.html#1">[ subject ]</a><a href="author.html#1">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">Matto Marjanovic: "Re: which driver ?"</a>
<li> <b>Previous message:</b> <a href="0000.html">Ian Grant: "HP 6100C + ADF"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Ian Grant wrote:<br>
 <br>
<i>&gt; We are contemplating buying an HP 6100C with an automatic document feeder.</i><br>
<i>&gt; I haven't seen any reference to document feeds in the various sane man</i><br>
<i>&gt; pages.  Does this mean that it's all automatic? So when the scanner gets</i><br>
<i>&gt; the command to scan, it feeds in the next page if there's a stack loaded?</i><br>
 <br>
Hello Ian,<br>
SANE does have not implemented using a ADF by spezial commands, it should <br>
work<br>
as you descibe but only to scan _ONE_ page and not the whole stack.<br>
  1. ADF if avail and ready<br>
  2. Scan not using the ADF<br>
 <br>
I don't know about HP 6100C, but i think it will follow the same rules as any <br>
HP scanner using a ADF.<br>
 <br>
<i>&gt; I can't see any particular reason why the software would need to know</i><br>
<i>&gt; about the feeder, but sometimes I don't see too far. If anyone has</i><br>
<i>&gt; experience of this scanner under SANE then I'd be delighted to hear about</i><br>
<i>&gt; it.</i><br>
 <br>
 The Problem about ADF are "frontend" dependent because the "frontend" calles <br>
the "backend" to scan _ONE_ page, either from the ADF if ready or manual. <br>
 <br>
As for now and my knowledge there is no "sane_ADFReady" function implemented <br>
!<br>
But this ist necsessary to implement ADF function into a "frontend".<br>
 <br>
I and Peter Kirchgasser are working on a _NEW_ enhanced version of a HP <br>
backend.<br>
My intention is to implement ADF function in this backend.<br>
 <br>
If you are be able to compile it, you can download the source from <br>
<a href="ftp://members.aol.com/pkirchg/pub/sane/sane-0.72.xhp.0.63.tar.gz">ftp://members.aol.com/pkirchg/pub/sane/sane-0.72.xhp.0.63.tar.gz</a><br>
 <br>
BTW: Please tell me your OS and Compiler/Lib.<br>
 <br>
By,<br>
Wolfgang Kaess<br>
 <br>
***<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">Matto Marjanovic: "Re: which driver ?"</a>
<li> <b>Previous message:</b> <a href="0000.html">Ian Grant: "HP 6100C + ADF"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
