<!-- received="Tue Jul  7 11:10:42 1998 PDT" -->
<!-- sent="Tue, 07 Jul 1998 18:49:00 +0100" -->
<!-- name="Jim Ford" -->
<!-- email="jf001@watford.net" -->
<!-- subject="Re: Support for Umax Astra 1220S/P" -->
<!-- id="" -->
<!-- inreplyto="Support for Umax Astra 1220S/P" -->
<title>sane-devel: Re: Support for Umax Astra 1220S/P</title>
<h1>Re: Support for Umax Astra 1220S/P</h1>
<b>Jim Ford</b> (<a href="mailto:jf001@watford.net"><i>jf001@watford.net</i></a>)<br>
<i>Tue, 07 Jul 1998 18:49:00 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#23">[ date ]</a><a href="index.html#23">[ thread ]</a><a href="subject.html#23">[ subject ]</a><a href="author.html#23">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Bernd Schroeder: "Re: Suggestions?  Microtek ScanMaker X6?"</a>
<li> <b>Previous message:</b> <a href="0022.html">Richard Reuters: "Link update"</a>
<li> <b>Maybe in reply to:</b> <a href="0019.html">Peter Leif Rasmussen: "Support for Umax Astra 1220S/P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Peter Leif Rasmussen wrote:<br>
<p>
<i>&gt; I am new on this list, so bear with me if this is wellknown, though I</i><br>
<i>&gt; haven't been able to find any mentioning of it in the archives.</i><br>
<i>&gt;</i><br>
<i>&gt; I am in the process of lookng for a scanner that is as cheap as</i><br>
<i>&gt; possible,</i><br>
<i>&gt; but also provides as high quality output as possible, especially for</i><br>
<i>&gt; scanning transparencies.</i><br>
<p>
My UMAX 1220S works fine with SANE 0.72 and a ncr53c810a SCSI card. The<br>
scanner cost me 199 UK pounds about a month ago. As I knew the 1200 was<br>
supported by SANE, I originaly tried to get one - but was told  it was no<br>
longer available.<br>
<p>
I have also considered a transparency adaptor - which is available for the<br>
1220,  also at 199 UK pounds, but decided against it - too expensive and no<br>
good for 35mm (not sure about 6cmX6cm)<br>
<p>
Have a look at the UMAX support site - it's got lots about scanners and<br>
scanning.<br>
<p>
<a href="http://www.imcnet.com/support/">http://www.imcnet.com/support/</a><br>
<p>
Regards: Jim Ford<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Bernd Schroeder: "Re: Suggestions?  Microtek ScanMaker X6?"</a>
<li> <b>Previous message:</b> <a href="0022.html">Richard Reuters: "Link update"</a>
<li> <b>Maybe in reply to:</b> <a href="0019.html">Peter Leif Rasmussen: "Support for Umax Astra 1220S/P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
