<!-- received="Wed Jul 15 08:44:19 1998 PDT" -->
<!-- sent="Wed, 15 Jul 1998 11:43:51 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: SCSI-II scanner command list - specification file - common lib" -->
<!-- id="199807151543.LAA03341@tristan.redhat.com" -->
<!-- inreplyto="SCSI-II scanner command list - specification file - common lib" -->
<title>sane-devel: Re: SCSI-II scanner command list - specification file - common lib</title>
<h1>Re: SCSI-II scanner command list - specification file - common lib</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Wed, 15 Jul 1998 11:43:51 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#53">[ date ]</a><a href="index.html#53">[ thread ]</a><a href="subject.html#53">[ subject ]</a><a href="author.html#53">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Oliver Rauch: "Re: Is /dev/scanner still neccessary?"</a>
<li> <b>Previous message:</b> <a href="0052.html">Matto Marjanovic: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Maybe in reply to:</b> <a href="0051.html">Sreenivasa Sista: "SCSI-II scanner command list - specification file - common lib"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0066.html">Wolfgang Goeller: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Sreenivasa Sista writes:<br>
<i>&gt;Why don't we have a common library for all SCSI-II scanners and have</i><br>
<i>&gt;scanner dependent command list in a specifications file (text/ plain ASCII</i><br>
<i>&gt;file) ? </i><br>
<p>
Because part 14 is awfully loose in its definitions.  Not only can commands<br>
be arbitrarily extended with vendor blocks, but vendors have also interpreted<br>
part 14 differently.  Often there are different sets of exceptions for a<br>
single vendor; it can be challenging enough to maintain a single driver for<br>
one vendor's products, let alone for multiple vendors, even using reasonable<br>
software abstraction techniques.<br>
<p>
Most people who have sat down to write a SCSI II scanner driver have looked<br>
at this idea (or something similar), but no one has managed to come up with<br>
an abstraction that works for everyone.<br>
<p>
Feel free to work on it, and if you can do better than everyone else so far,<br>
great!  However, you asked why we don't have it, and there's the reason...<br>
<p>
michaelkjohnson<br>
<p>
"Magazines all too frequently lead to books and should be regarded by the<br>
 prudent as the heavy petting of literature."            -- Fran Lebowitz<br>
 Linux Application Development       <a href="http://www.redhat.com/~johnsonm/lad/">http://www.redhat.com/~johnsonm/lad/</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Oliver Rauch: "Re: Is /dev/scanner still neccessary?"</a>
<li> <b>Previous message:</b> <a href="0052.html">Matto Marjanovic: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Maybe in reply to:</b> <a href="0051.html">Sreenivasa Sista: "SCSI-II scanner command list - specification file - common lib"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0066.html">Wolfgang Goeller: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<!-- reply="end" -->
</ul>
