<!-- received="Thu Jul 16 13:08:06 1998 PDT" -->
<!-- sent="Thu, 16 Jul 1998 16:03:42 -0400" -->
<!-- name="Wolfgang Kaess" -->
<!-- email="100346.2055@compuserve.com" -->
<!-- subject="Re: Is /dev/scanner still neccessary?" -->
<!-- id="" -->
<!-- inreplyto="Is /dev/scanner still neccessary?" -->
<title>sane-devel: Re: Is /dev/scanner still neccessary?</title>
<h1>Re: Is /dev/scanner still neccessary?</h1>
<b>Wolfgang Kaess</b> (<a href="mailto:100346.2055@compuserve.com"><i>100346.2055@compuserve.com</i></a>)<br>
<i>Thu, 16 Jul 1998 16:03:42 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#60">[ date ]</a><a href="index.html#60">[ thread ]</a><a href="subject.html#60">[ subject ]</a><a href="author.html#60">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Cory Kempf: "Is anyone coordinating development?"</a>
<li> <b>Previous message:</b> <a href="0059.html">Ian Grant: "Re: raw parallel device Q"</a>
<li> <b>Maybe in reply to:</b> <a href="0047.html">Christoph Doerbeck: "Is /dev/scanner still neccessary?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0061.html">Cory Kempf: "Is anyone coordinating development?"</a>
<li> <b>Reply:</b> <a href="0061.html">Cory Kempf: "Is anyone coordinating development?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Christop Doerbeck wrote:<br>
 <br>
<i>&gt; Does OS/2 support the /proc stuff?  I haven't messed with OS/2 in Warp3.</i><br>
 <br>
The OS/2 version use a OS/2 Device driver called "aspitran" and the aktuell <br>
SANE 0.73 version of sanei_scsi.c use only a dummy parameter like "b0l0t2" in <br>
the<br>
*.conf file<br>
 <br>
OS/2 does not support the /proc stuff !<br>
 <br>
Wolfgang Kaess<br>
Using SANE 0.73 with hp/xhp backend, compiled with IBM VisualAge C++ for <br>
OS/2.<br>
 <br>
***<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Cory Kempf: "Is anyone coordinating development?"</a>
<li> <b>Previous message:</b> <a href="0059.html">Ian Grant: "Re: raw parallel device Q"</a>
<li> <b>Maybe in reply to:</b> <a href="0047.html">Christoph Doerbeck: "Is /dev/scanner still neccessary?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0061.html">Cory Kempf: "Is anyone coordinating development?"</a>
<li> <b>Reply:</b> <a href="0061.html">Cory Kempf: "Is anyone coordinating development?"</a>
<!-- reply="end" -->
</ul>
