<!-- received="Thu Jul 16 13:30:20 1998 PDT" -->
<!-- sent="16 Jul 1998 16:29:28 -0400" -->
<!-- name="Cory Kempf" -->
<!-- email="ckempf@enigami.com" -->
<!-- subject="Is anyone coordinating development?" -->
<!-- id="" -->
<!-- inreplyto="Thu, 16 Jul 1998 16:03:42 -0400"" -->
<title>sane-devel: Is anyone coordinating development?</title>
<h1>Is anyone coordinating development?</h1>
<b>Cory Kempf</b> (<a href="mailto:ckempf@enigami.com"><i>ckempf@enigami.com</i></a>)<br>
<i>16 Jul 1998 16:29:28 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#61">[ date ]</a><a href="index.html#61">[ thread ]</a><a href="subject.html#61">[ subject ]</a><a href="author.html#61">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Hugo van der Kooij: "Re: Is anyone coordinating development?"</a>
<li> <b>Previous message:</b> <a href="0060.html">Wolfgang Kaess: "Re: Is /dev/scanner still neccessary?"</a>
<li> <b>In reply to:</b> <a href="0060.html">Wolfgang Kaess: "Re: Is /dev/scanner still neccessary?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0097.html">Yuri Dario: "Re: Is /dev/scanner still neccessary?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Subject pretty much says it all.<br>
I need to hack on SANE, specifically the SCSI implimentation.<br>
<p>
Is there anyone I should talk to?<br>
<p>
+C<br>
<p>
<p>
<pre>
-- 
Thinking of purchasing RAM from the Chip Merchant?  
Please read this first: &lt;<a href="http://www.enigami.com/~ckempf/chipmerchant.html">http://www.enigami.com/~ckempf/chipmerchant.html</a>&gt;
<p>
Cory Kempf                Macintosh / Unix Consulting &amp; Software Development
<a href="mailto:ckempf@enigami.com">ckempf@enigami.com</a>        &lt;<a href="http://www.enigami.com/~ckempf/">http://www.enigami.com/~ckempf/</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Hugo van der Kooij: "Re: Is anyone coordinating development?"</a>
<li> <b>Previous message:</b> <a href="0060.html">Wolfgang Kaess: "Re: Is /dev/scanner still neccessary?"</a>
<li> <b>In reply to:</b> <a href="0060.html">Wolfgang Kaess: "Re: Is /dev/scanner still neccessary?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0097.html">Yuri Dario: "Re: Is /dev/scanner still neccessary?"</a>
<!-- reply="end" -->
</ul>
