<!-- received="Sun Jul 19 17:28:06 1998 PDT" -->
<!-- sent="Sun, 19 Jul 1998 18:59:19 -0500 (CDT)" -->
<!-- name="Glenn" -->
<!-- email="glenn@meaning.com" -->
<!-- subject="Re: ocr" -->
<!-- id="199807192359.SAA04579@cowboy.meaning.com" -->
<!-- inreplyto="35B22E8E.33CA2D2F@kootenay.com" -->
<title>sane-devel: Re: ocr</title>
<h1>Re: ocr</h1>
<b>Glenn</b> (<a href="mailto:glenn@meaning.com"><i>glenn@meaning.com</i></a>)<br>
<i>Sun, 19 Jul 1998 18:59:19 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#80">[ date ]</a><a href="index.html#80">[ thread ]</a><a href="subject.html#80">[ subject ]</a><a href="author.html#80">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Antal Novak: "Re: ocr"</a>
<li> <b>Previous message:</b> <a href="0079.html">becka@rz.uni-duesseldorf.de: "Re: ocr"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">Antal Novak: "Re: ocr"</a>
<li> <b>Reply:</b> <a href="0081.html">Antal Novak: "Re: ocr"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Bob van der Poel writes:<br>
^<br>
^Anyone working on any OCR software?<br>
<p>
<a href="http://www.vividata.com">http://www.vividata.com</a> makes scanshop for linux for $795. It uses<br>
the Omnipage engine and looks to be quite good. a free trial is<br>
available.<br>
<p>
^Is OCR all that difficult to do?<br>
<p>
yes. very.<br>
glenn<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Antal Novak: "Re: ocr"</a>
<li> <b>Previous message:</b> <a href="0079.html">becka@rz.uni-duesseldorf.de: "Re: ocr"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">Antal Novak: "Re: ocr"</a>
<li> <b>Reply:</b> <a href="0081.html">Antal Novak: "Re: ocr"</a>
<!-- reply="end" -->
</ul>
