<!-- received="Sun Jul 19 18:21:08 1998 PDT" -->
<!-- sent="Sun, 19 Jul 1998 21:21:18 -0400 (EDT)" -->
<!-- name="Antal Novak" -->
<!-- email="afn@weevil.net" -->
<!-- subject="Re: ocr" -->
<!-- id="" -->
<!-- inreplyto="199807192359.SAA04579@cowboy.meaning.com" -->
<title>sane-devel: Re: ocr</title>
<h1>Re: ocr</h1>
<b>Antal Novak</b> (<a href="mailto:afn@weevil.net"><i>afn@weevil.net</i></a>)<br>
<i>Sun, 19 Jul 1998 21:21:18 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#81">[ date ]</a><a href="index.html#81">[ thread ]</a><a href="subject.html#81">[ subject ]</a><a href="author.html#81">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Bob van der Poel: "Re: ocr"</a>
<li> <b>Previous message:</b> <a href="0080.html">Glenn: "Re: ocr"</a>
<li> <b>In reply to:</b> <a href="0080.html">Glenn: "Re: ocr"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; ^Anyone working on any OCR software?</i><br>
<i>&gt; </i><br>
<i>&gt; <a href="http://www.vividata.com">http://www.vividata.com</a> makes scanshop for linux for $795. It uses</i><br>
<i>&gt; the Omnipage engine and looks to be quite good. a free trial is</i><br>
<i>&gt; available.</i><br>
<i>&gt; </i><br>
<i>&gt; ^Is OCR all that difficult to do?</i><br>
<i>&gt; </i><br>
<i>&gt; yes. very.</i><br>
<p>
Hence the $795 price tag =)  Shit, that's expensive though, even for<br>
commercial Linux software (which tends to cost 10x the WinBlows vers)<br>
<p>
afn<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Bob van der Poel: "Re: ocr"</a>
<li> <b>Previous message:</b> <a href="0080.html">Glenn: "Re: ocr"</a>
<li> <b>In reply to:</b> <a href="0080.html">Glenn: "Re: ocr"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
