<!-- received="Sun Jul 19 21:29:51 1998 PDT" -->
<!-- sent="Sun, 19 Jul 1998 23:01:15 -0500 (CDT)" -->
<!-- name="Glenn" -->
<!-- email="glenn@meaning.com" -->
<!-- subject="install help" -->
<!-- id="199807200401.XAA05452@cowboy.meaning.com" -->
<!-- inreplyto="Pine.BSF.4.00.9807200013001.8020-100000@weevil.nac.net" -->
<title>sane-devel: install help</title>
<h1>install help</h1>
<b>Glenn</b> (<a href="mailto:glenn@meaning.com"><i>glenn@meaning.com</i></a>)<br>
<i>Sun, 19 Jul 1998 23:01:15 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#86">[ date ]</a><a href="index.html#86">[ thread ]</a><a href="subject.html#86">[ subject ]</a><a href="author.html#86">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">becka@rz.uni-duesseldorf.de: "Re: ocr (fwd)"</a>
<li> <b>Previous message:</b> <a href="0085.html">Antal Novak: "ANNOUNCE: Plustek backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0093.html">Matto Marjanovic: "Re: install help"</a>
<li> <b>Reply:</b> <a href="0093.html">Matto Marjanovic: "Re: install help"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm having trouble setting up SANE on my system. I'm running RedHat<br>
Linux 5.1 (intel) with an Adaptec 1502 SCSI card and Microtek E3<br>
and 35t+ scanners. xscanimage will only bring up the virtual file<br>
interfaces. I compiled and ran tools/find-scanner and it didn't<br>
find any scanners. What should I do next?<br>
glenn<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">becka@rz.uni-duesseldorf.de: "Re: ocr (fwd)"</a>
<li> <b>Previous message:</b> <a href="0085.html">Antal Novak: "ANNOUNCE: Plustek backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0093.html">Matto Marjanovic: "Re: install help"</a>
<li> <b>Reply:</b> <a href="0093.html">Matto Marjanovic: "Re: install help"</a>
<!-- reply="end" -->
</ul>
