<!-- received="Mon Jul 20 09:08:01 1998 PDT" -->
<!-- sent="Sun, 19 Jul 1998 22:31:23 +0000 (   )" -->
<!-- name="Jim Hatridge" -->
<!-- email="hatridge@straubing.baynet.de" -->
<!-- subject="Re: ocr" -->
<!-- id="" -->
<!-- inreplyto="35B22E8E.33CA2D2F@kootenay.com" -->
<title>sane-devel: Re: ocr</title>
<h1>Re: ocr</h1>
<b>Jim Hatridge</b> (<a href="mailto:hatridge@straubing.baynet.de"><i>hatridge@straubing.baynet.de</i></a>)<br>
<i>Sun, 19 Jul 1998 22:31:23 +0000 (   )</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#101">[ date ]</a><a href="index.html#101">[ thread ]</a><a href="subject.html#101">[ subject ]</a><a href="author.html#101">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">Nem W Schlecht: "Re: ocr (fwd)"</a>
<li> <b>Previous message:</b> <a href="0100.html">becka@rz.uni-duesseldorf.de: "Re: ocr"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 19 Jul 1998, Bob van der Poel wrote:<br>
<p>
<i>&gt; Sorry, but I know this is completely on topic. Just don't know where</i><br>
<i>&gt; else to address it...</i><br>
<i>&gt; </i><br>
<i>&gt; Anyone working on any OCR software? I've to occassional need and have</i><br>
<i>&gt; tried the program which came with my microtek scanner under win95. I</i><br>
<i>&gt; just spent most of the morning playing with it and the best I got</i><br>
<i>&gt; was a nice little windows message box with the useful message "twain</i><br>
<i>&gt; error".</i><br>
<i>&gt; I would have been much better off just typing the text in from the</i><br>
<i>&gt; start.</i><br>
<i>&gt; </i><br>
<i>&gt; Is OCR all that difficult to do?</i><br>
<p>
Hi Bob,<br>
<p>
IMHO just retype your text. I've messed around with OCR since about 1988<br>
and not once have I found a system worth a damn. <br>
<p>
But about your twain error, check how much ram you have. I sometimes get<br>
this error when I run out of memory. <br>
<p>
<p>
Hope this helps,<br>
<p>
<p>
<p>
<p>
JIM<br>
-----------------------------------------<br>
Jim Hatridge<br>
Germany <br>
<a href="mailto:hatridge@straubing.baynet.de">hatridge@straubing.baynet.de</a><br>
<p>
M$ -- Ghostdriver* on the road to the future!<br>
(*German Slang for the guy driving on the wrong side of the road!)<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">Nem W Schlecht: "Re: ocr (fwd)"</a>
<li> <b>Previous message:</b> <a href="0100.html">becka@rz.uni-duesseldorf.de: "Re: ocr"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
