<!-- received="Thu Jul 23 01:48:12 1998 PDT" -->
<!-- sent="Thu, 23 Jul 1998 09:56:08 +0100" -->
<!-- name="Yuri Dario" -->
<!-- email="mc6530@mclink.it" -->
<!-- subject="[PATCH] OS/2 parallel port and scsi matching support" -->
<!-- id="199807230847.KAA00312@ammi.mclink.it" -->
<!-- inreplyto="" -->
<title>sane-devel: [PATCH] OS/2 parallel port and scsi matching support</title>
<h1>[PATCH] OS/2 parallel port and scsi matching support</h1>
<b>Yuri Dario</b> (<a href="mailto:mc6530@mclink.it"><i>mc6530@mclink.it</i></a>)<br>
<i>Thu, 23 Jul 1998 09:56:08 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#140">[ date ]</a><a href="index.html#140">[ thread ]</a><a href="subject.html#140">[ subject ]</a><a href="author.html#140">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Matto Marjanovic: "Re: shmem in backends?"</a>
<li> <b>Previous message:</b> <a href="0139.html">Yuri Dario: "Re: Parallel port OS/2 support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--_=_=_=IMA.BOUNDARY.EWJW1J138764=_=_=_<br>
Content-Type: text/plain; charset="us-ascii"<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Hi,<br>
<p>
I have attached a first set of patches for<br>
<p>
1) parallel support (part of PIO code and configure.in changes are from Rocco Caputo / <a href="mailto:troc@netrus.net">troc@netrus.net</a>)<br>
2) support for  sanei_scsi_find_devices;<br>
<p>
But I don't know if PIO code works, because Rocco didn't tell it to me.<br>
<p>
<p>
Bye,<br>
<p>
	Yuri Dario<br>
<p>
/*<br>
 * member of TeamOS/2 - Italy<br>
 */<br>
<p>
<p>
--_=_=_=IMA.BOUNDARY.EWJW1J138764=_=_=_<br>
Content-Type: application/octet-stream; name="patch1.073"<br>
Content-Transfer-Encoding: base64<br>
<p>
ZGlmZiAtdXJiQiBiYWNrZW5kL3FjYW0uYyBiYWNrZW5kL3FjYW0uYw0KLS0tIGJhY2tlbmQvcWNh<br>
bS5jCVR1ZSBKYW4gMjcgMDg6Mzg6MTIgMTk5OA0KKysrIGJhY2tlbmQvcWNhbS5jCUZyaSBNYXkg<br>
MjkgMTc6NDQ6MjAgMTk5OA0KQEAgLTIwMCwxMyArMjAwLDE4IEBADQogc3RhdGljIGNvbnN0IFNB<br>
TkVfUmFuZ2UgYndfeV9yYW5nZSA9IHswLCAyNDEsIDF9OyANCiBzdGF0aWMgY29uc3QgU0FORV9S<br>
YW5nZSBvZGRfYndfeV9yYW5nZSA9IHsxLCAyNDIsIDF9OyANCiANCi0jaWZkZWYgX19saW51eF9f<br>
DQorI2lmIGRlZmluZWQoIF9fbGludXhfXykgfHwgSEFWRV9TWVNfSFdfSA0KIA0KLSNpZiBfX0dO<br>
VV9MSUJSQVJZX18gLSAwIDwgNg0KLSMgaW5jbHVkZSA8YXNtL2lvLmg+DQotI2Vsc2UNCisjIGlm<br>
IEhBVkVfU1lTX0lPX0gNCiAjIGluY2x1ZGUgPHN5cy9pby5oPg0KLSNlbmRpZg0KKyMgZWxpZiBI<br>
QVZFX0FTTV9JT19IDQorIyAgaW5jbHVkZSA8YXNtL2lvLmg+DQorIyBlbGlmIEhBVkVfU1lTX0hX<br>
X0gNCisjICBpbmNsdWRlIDxzeXMvaHcuaD4NCisjICBkZWZpbmUgaW5iKHApICAgICAgICBfaW5w<br>
OChwKQ0KKyMgIGRlZmluZSBvdXRiKHYscCkgICAgIF9vdXRwOCgocCksKHYpKQ0KKyMgIGRlZmlu<br>
ZSBpb3Blcm0oYixsLG8pIF9wb3J0YWNjZXNzKChiKSwoYikrKGwpLTEpDQorIyBlbmRpZg0KIA0K<br>
ICNkZWZpbmUgcmVhZF9scGRhdGEoZCkJCWluYiAoKGQpLT5wb3J0KQ0KICNkZWZpbmUgcmVhZF9s<br>
cHN0YXR1cyhkKQlpbmIgKChkKS0+cG9ydCArIDEpDQpAQCAtMjcxLDE4ICsyNzYsMjYgQEANCiBz<br>
dGF0aWMgU0FORV9TdGF0dXMNCiBxY19sb2NrX3dhaXQgKFFDX0RldmljZSAqIHEsIGludCB3YWl0<br>
KQ0KIHsNCisjaWZuZGVmIF9fRU1YX18NCiAgIHN0cnVjdCBmbG9jayBzZmw7DQorI2VuZGlmDQog<br>
DQogICBEQkcoMywgInFjX2xvY2tfd2FpdDogYWNxdWlyaW5nIGxvY2sgZm9yIDB4JXhcbiIsIHEt<br>
PnBvcnQpOw0KIA0KKyNpZm5kZWYgX19FTVhfXw0KICAgbWVtc2V0ICgmc2ZsLCAwLCBzaXplb2Yg<br>
KHNmbCkpOw0KKyNlbmRpZg0KIA0KICAgaWYgKHEtPmxvY2tfZmQgPCAwKQ0KICAgICB7DQogICAg<br>
ICAgY2hhciBsb2NrZmlsZVsxMjhdOw0KIA0KICAgICAgIHNwcmludGYgKGxvY2tmaWxlLCAiL3Rt<br>
cC9MT0NLLnFjYW0uMHgleCIsIHEtPnBvcnQpOw0KLSAgICAgIHEtPmxvY2tfZmQgPSBvcGVuIChs<br>
b2NrZmlsZSwgT19XUk9OTFkgfCBPX0NSRUFULCAwNjY2KTsNCisgICAgICBxLT5sb2NrX2ZkID0g<br>
b3BlbiAobG9ja2ZpbGUsIE9fV1JPTkxZIHwgT19DUkVBVA0KKyNpZmRlZiBfX0VNWF9fDQorICAg<br>
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICB8IE9fRVhDTA0KKyNlbmRp<br>
Zg0KKyAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgLCAwNjY2KTsN<br>
CiAgICAgICBpZiAocS0+bG9ja19mZCA8IDApDQogCXsNCiAJICBEQkcoMSwgInFjX2xvY2tfd2Fp<br>
dDogZmFpbGVkIHRvIG9wZW4gJXMgKCVzKVxuIiwNCkBAIC0yOTIsNiArMzA1LDcgQEANCiANCiAg<br>
ICAgfQ0KIA0KKyNpZm5kZWYgX19FTVhfXw0KICAgc2ZsLmxfdHlwZSA9IEZfV1JMQ0s7DQogICBp<br>
ZiAoZmNudGwgKHEtPmxvY2tfZmQsIHdhaXQgPyBGX1NFVExLVyA6IEZfU0VUTEssICZzZmwpICE9<br>
IDApDQogICAgIHsNCkBAIC0yOTksNiArMzEzLDcgQEANCiAJICBzdHJlcnJvciAoZXJybm8pKTsN<br>
CiAgICAgICByZXR1cm4gU0FORV9TVEFUVVNfSU5WQUw7DQogICAgIH0NCisjZW5kaWYNCiANCiAg<br>
IERCRygzLCAicWNfbG9ja193YWl0OiBnb3QgbG9jayBmb3IgMHgleFxuIiwgcS0+cG9ydCk7DQog<br>
ICByZXR1cm4gU0FORV9TVEFUVVNfR09PRDsNCkBAIC0zMDcsMTUgKzMyMiwxOCBAQA0KIHN0YXRp<br>
YyBTQU5FX1N0YXR1cw0KIHFjX3VubG9jayAoUUNfRGV2aWNlICpxKQ0KIHsNCisjaWZuZGVmIF9f<br>
RU1YX18NCiAgIHN0cnVjdCBmbG9jayBzZmw7DQogDQogICBEQkcoMywgInFjX2xvY2tfd2FpdDog<br>
cmVsZWFzaW5nIGxvY2sgZm9yIDB4JXhcbiIsIHEtPnBvcnQpOw0KIA0KICAgbWVtc2V0ICgmc2Zs<br>
LCAwLCBzaXplb2YgKHNmbCkpOw0KKyNlbmRpZg0KIA0KICAgaWYgKHEtPmxvY2tfZmQgPCAwKQ0K<br>
ICAgICByZXR1cm4gU0FORV9TVEFUVVNfSU5WQUw7CQkgLyogcG9ydCB3YXMgbm90IGxvY2tlZCAq<br>
Lw0KIA0KKyNpZm5kZWYgX19FTVhfXw0KICAgLyogY2xlYXIgdGhlIGV4Y2x1c2l2ZSBsb2NrICov<br>
DQogICBzZmwubF90eXBlID0gRl9VTkxDSzsNCiAgIGlmIChmY250bCAocS0+bG9ja19mZCwgRl9T<br>
RVRMSywgJnNmbCkgIT0gMCkNCkBAIC0zMjQsNiArMzQyLDggQEANCiAJICBzdHJlcnJvciAoZXJy<br>
bm8pKTsNCiAgICAgICByZXR1cm4gU0FORV9TVEFUVVNfSU5WQUw7DQogICAgIH0NCisjZW5kaWYN<br>
CisNCiAgIHJldHVybiBTQU5FX1NUQVRVU19HT09EOw0KIH0NCiANCk9ubHkgaW4gYmFja2VuZDog<br>
cWNhbS5sbw0KT25seSBpbiBiYWNrZW5kOiBxY2FtLm8NCk9ubHkgaW4gYmFja2VuZDogczkwMzYt<br>
cy5jDQpPbmx5IGluIGJhY2tlbmQ6IHM5MDM2LXMubG8NCk9ubHkgaW4gYmFja2VuZDogczkwMzYt<br>
cy5vDQpPbmx5IGluIGJhY2tlbmQ6IHM5MDM2LmxvDQpPbmx5IGluIGJhY2tlbmQ6IHM5MDM2Lm8N<br>
Ck9ubHkgaW4gYmFja2VuZDogc2FuZV9zdHJzdGF0dXMubG8NCk9ubHkgaW4gYmFja2VuZDogc2Fu<br>
ZV9zdHJzdGF0dXMubw0KT25seSBpbiBiYWNrZW5kOiBzYW5laV9zY3NpLmxvDQpPbmx5IGluIGJh<br>
Y2tlbmQ6IHNhbmVpX3Njc2kubw0KT25seSBpbiBiYWNrZW5kOiBzbmFwc2Nhbi1zLmMNCk9ubHkg<br>
aW4gYmFja2VuZDogc25hcHNjYW4tcy5sbw0KT25seSBpbiBiYWNrZW5kOiBzbmFwc2Nhbi1zLm8N<br>
Ck9ubHkgaW4gYmFja2VuZDogc25hcHNjYW4ubG8NCk9ubHkgaW4gYmFja2VuZDogc25hcHNjYW4u<br>
bw0KT25seSBpbiBiYWNrZW5kOiB0YW1hcmFjay1zLmMNCmRpZmYgLXVyYkIgY29uZmlndXJlLmlu<br>
IGNvbmZpZ3VyZS5pbg0KLS0tIGNvbmZpZ3VyZS5pbglTYXQgTWF5IDE2IDA1OjUwOjI0IDE5OTgN<br>
CisrKyBjb25maWd1cmUuaW4JRnJpIE1heSAyOSAxNzowNjo1NCAxOTk4DQpAQCAtMzksNyArMzks<br>
NyBAQA0KIEFDX0NIRUNLX0hFQURFUlMoZmNudGwuaCB1bmlzdGQuaCBsaWJpbnRsLmggbGliYy5o<br>
IHN5cy9kc3JlcS5oIHN5cy9zZWxlY3QuaCBcDQogICAgIHN5cy9zY2FuaW8uaCBzY3NpLmggc3lz<br>
L3Njc2kuaCBzeXMvc2NzaWNtZC5oIHN5cy9zY3NpaW8uaCBcDQogICAgIGJzZC9kZXYvc2NzaXJl<br>
Zy5oIHNjc2kvc2cuaCAvdXNyL3NyYy9saW51eC9pbmNsdWRlL3Njc2kvc2cuaCBpby9jYW0vY2Ft<br>
LmggXA0KLSAgICBvczIuaCBzeXMvc29ja2V0Lmggc3lzL2lvLmggYXNtL2lvLmggZ3NjZGRzLmgg<br>
XA0KKyAgICBvczIuaCBzeXMvc29ja2V0Lmggc3lzL2lvLmggYXNtL2lvLmggZ3NjZGRzLmggc3lz<br>
L2h3Lmggc3lzL3R5cGVzLmggXA0KICAgICBzeXMvc2NzaS9zZ2RlZnMuaCBzeXMvc2NzaS90YXJn<br>
ZXRzL3NjZ2lvLmggYXBvbGxvL3Njc2kuaCkNCiANCiBkbmwgQ2hlY2tzIGZvciB0eXBlZGVmcywg<br>
c3RydWN0dXJlcywgYW5kIGNvbXBpbGVyIGNoYXJhY3RlcmlzdGljcy4NCkBAIC03MCwxMyArNzAs<br>
MTQgQEANCiBBQ19DSEVDS19MSUIoaW50bCxnZXR0ZXh0KQ0KIEFDX0NIRUNLX0xJQihuc2wsZ2V0<br>
aG9zdGJ5YWRkcikNCiBBQ19DSEVDS19MSUIoc29ja2V0LHNvY2tldCkNCitBQ19DSEVDS19MSUIo<br>
c3lzbG9nLHN5c2xvZykgICAgICAgICAgICAgIyBPUy8yIG5lZWRzIHRoaXMNCiANCiBkbmwgQ2hl<br>
Y2tzIGZvciBsaWJyYXJ5IGZ1bmN0aW9ucy4NCiBBTV9GVU5DX0FMTE9DQQ0KIEFDX0ZVTkNfTU1B<br>
UA0KIEFDX0NIRUNLX0ZVTkNTKGF0ZXhpdCBpb3Blcm0gbWtkaXIgc2NzaXJlcV9lbnRlciBzaWdw<br>
cm9jbWFzayBcDQogICAgIHN0cmR1cCBzdHJuZHVwIHN0cmZ0aW1lIHN0cnN0ciBzdHJzZXAgc3Ry<br>
dG9kIHNucHJpbnRmIHVzbGVlcCBcDQotICAgIHN0cm5jYXNlY21wKQ0KKyAgICBzdHJuY2FzZWNt<br>
cCBfcG9ydGFjY2VzcykNCiANCiBkbmwgaW5pdGlhbGl6ZSBsaWJ0b29sDQogQU1fUFJPR19MSUJU<br>
T09MDQpAQCAtMTQwLDcgKzE0MSw3IEBADQogICBQSU5UPXBpbnQNCiBmaQ0KIEFDX1NVQlNUKFBJ<br>
TlQpDQotaWYgdGVzdCAiJHthY19jdl9mdW5jX2lvcGVybX0iID0gIm5vIjsgdGhlbg0KK2lmIHRl<br>
c3QgIiR7YWNfY3ZfZnVuY19pb3Blcm19IiA9ICJubyIgJiYgdGVzdCAiJHthY19jdl9mdW5jX19w<br>
b3J0YWNjZXNzfSIgPSAibm8iOyB0aGVuDQogICBlY2hvICJkaXNhYmxpbmcgUXVpY2tDYW0gYmFj<br>
a2VuZCINCiAgIFFDQU09DQogZWxzZQ0KZGlmZiAtdXJiQiBpbmNsdWRlL3NhbmUvY29uZmlnLmgu<br>
aW4gaW5jbHVkZS9zYW5lL2NvbmZpZy5oLmluDQotLS0gaW5jbHVkZS9zYW5lL2NvbmZpZy5oLmlu<br>
CUZyaSBNYXkgMTUgMDY6MjI6MzAgMTk5OA0KKysrIGluY2x1ZGUvc2FuZS9jb25maWcuaC5pbglG<br>
cmkgTWF5IDI5IDE3OjAyOjQwIDE5OTgNCkBAIC0yNzIsNiArMjcyLDEyIEBADQogLyogRGVmaW5l<br>
IGlmIHlvdSBoYXZlIHRoZSA8b3MyLmg+IGhlYWRlciBmaWxlLiAgKi8NCiAjdW5kZWYgSEFWRV9P<br>
UzJfSA0KIA0KKy8qIERlZmluZSBpZiB5b3UgaGF2ZSBFTVgncyBzeXMvaHcuaCBoZWFkZXJzLiAq<br>
Lw0KKyN1bmRlZiBIQVZFX1NZU19IV19IDQorDQorLyogRGVmaW5lIGlmIHlvdSBoYXZlIHN5cy90<br>
eXBlcy5oLiBPUy8yIHdhbnRzIHRoZW0gYmVmb3JlIHNlbGVjdC5oLCBldGMuICovDQorI3VuZGVm<br>
IEhBVkVfU1lTX1RZUEVTX0gNCisNCiAvKiBEZWZpbmUgaWYgeW91IGhhdmUgdGhlIDx1bmlzdGQu<br>
aD4gaGVhZGVyIGZpbGUuICAqLw0KICN1bmRlZiBIQVZFX1VOSVNURF9IDQogDQpkaWZmIC11cmJC<br>
IGxpYi91c2xlZXAuYyBsaWIvdXNsZWVwLmMNCi0tLSBsaWIvdXNsZWVwLmMJRnJpIEFwciAgMyAw<br>
NToxNzoyNiAxOTk4DQorKysgbGliL3VzbGVlcC5jCUZyaSBNYXkgMjkgMTc6MjI6MTAgMTk5OA0K<br>
QEAgLTIzLDYgKzIzLDEwIEBADQogI2luY2x1ZGUgPHN5cy90eXBlcy5oPg0KICNpbmNsdWRlIDxz<br>
eXMvdGltZS5oPg0KIA0KKyNpZmRlZiBIQVZFX1NZU19TRUxFQ1RfSA0KKyMgaW5jbHVkZSA8c3lz<br>
L3NlbGVjdC5oPg0KKyNlbmRpZg0KKw0KICNpZmRlZiBhcG9sbG8NCiAjIGluY2x1ZGUgPGFwb2xs<br>
by9iYXNlLmg+DQogIyBpbmNsdWRlIDxhcG9sbG8vdGltZS5oPg0KT25seSBpbiBsaWI6IHVzbGVl<br>
cC5sbw0KT25seSBpbiBsaWI6IHVzbGVlcC5vDQpPbmx5IGluIHNhbmUtMC43M2IzOiBsaWJ0b29s<br>
DQpPbmx5IGluIHNhbmVpOiBzYW5laV9uZXQubw0KZGlmZiAtdXJiQiBzYW5laS9zYW5laV9waW8u<br>
YyBzYW5laS9zYW5laV9waW8uYw0KLS0tIHNhbmVpL3NhbmVpX3Bpby5jCVRodSBBcHIgIDkgMTY6<br>
NDI6MzIgMTk5OA0KKysrIHNhbmVpL3NhbmVpX3Bpby5jCUZyaSBNYXkgMjkgMTc6MjY6NDQgMTk5<br>
OA0KQEAgLTU5LDYgKzU5LDEzIEBADQogIyBpbmNsdWRlIDxzeXMvaW8uaD4JLyogdXNlIHdoZXJl<br>
IGF2YWlsYWJsZSAoZ2xpYmMgMi54LCBmb3IgZXhhbXBsZSkgKi8NCiAjZWxpZiBIQVZFX0FTTV9J<br>
T19IDQogIyBpbmNsdWRlIDxhc20vaW8uaD4JCS8qIHVnbHksIGJ1dCBiYWNrd2FyZHMgY29tcGF0<br>
aWJsZSAqLw0KKyNlbGlmIEhBVkVfU1lTX0hXX0ggICAgIC8qIE9TLzIgaGFyZHdhcmUgc3R1ZmYg<br>
Ki8NCisNCisjaW5jbHVkZSA8c3lzL2h3Lmg+DQorI2RlZmluZSBpbmIocCkgICAgICAgIF9pbnA4<br>
KHApDQorI2RlZmluZSBvdXRiKHYscCkgICAgIF9vdXRwOCgocCksKHYpKQ0KKyNkZWZpbmUgaW9w<br>
ZXJtKGIsbCxvKSBfcG9ydGFjY2VzcygoYiksKGIpKyhsKS0xKQ0KKw0KICNlbGlmIGRlZmluZWQo<br>
X19pMzg2X18pICAmJiBkZWZpbmVkIChfX0dOVUNfXykNCiANCiBzdGF0aWMgX19pbmxpbmVfXyB2<br>
b2lkDQpPbmx5IGluIHNhbmVpOiBzYW5laV9waW8ubG8NCk9ubHkgaW4gc2FuZWk6IHNhbmVpX3Nh<br>
dmVfdmFsdWVzLm8NCmRpZmYgLXVyYkIgc2FuZWkvc2FuZWlfc2NzaS5jIHNhbmVpL3NhbmVpX3Nj<br>
c2kuYw0KLS0tIHNhbmVpL3NhbmVpX3Njc2kuYwlGcmkgTWF5IDE1IDA5OjEwOjI4IDE5OTgNCisr<br>
KyBzYW5laS9zYW5laV9zY3NpLmMJU2F0IEp1biAgNiAxNzowMjoyNiAxOTk4DQpAQCAtNDgsNiAr<br>
NDgsNyBAQA0KICNpbmNsdWRlIDxsYWxsb2NhLmg+DQogDQogI2luY2x1ZGUgPGFzc2VydC5oPg0K<br>
KyNpbmNsdWRlIDxjdHlwZS5oPg0KICNpbmNsdWRlIDxlcnJuby5oPg0KICNpbmNsdWRlIDxmY250<br>
bC5oPg0KICNpbmNsdWRlIDxzdGRsaWIuaD4NCkBAIC0yNzgsNiArMjc5LDE3IEBADQogc3RhdGlj<br>
IEhGSUxFIGRyaXZlcl9oYW5kbGUgPSAwOwkvKiBmaWxlIGhhbmRsZSBmb3IgZGV2aWNlIGRyaXZl<br>
ciAqLw0KIHN0YXRpYyBQVk9JRCBhc3BpX2J1ZiA9IDA7CS8qIEJpZyBkYXRhIGJ1ZmZlciBsb2Nr<br>
ZWQgYnkgZHJpdmVyLiAqLw0KIHN0YXRpYyBpbnQgYXNwaV9yZWZfY291bnQgPSAwOwkvKiAjIG9m<br>
IGZkcyB1c2luZyBBU1BJICovDQorc3RhdGljIGNoYXIgdG1wQXNwaVsgTUFYUEFUSExFTl07ICAg<br>
ICAgICAvLyBzY3NpIGNoYWluIHNjYW4NCisjZGVmaW5lIElOUVVJUlkJCQkJCTB4MTINCisjZGVm<br>
aW5lIHNldF9pbnF1aXJ5X3JldHVybl9zaXplKGljYix2YWwpCWljYlsweDA0XT12YWwNCisjZGVm<br>
aW5lIElOX3BlcmlwaF9kZXZ0eXBlX2NwdQkJCTB4MDMNCisjZGVmaW5lIElOX3BlcmlwaF9kZXZ0<br>
eXBlX3NjYW5uZXIJCTB4MDYNCisjZGVmaW5lIGdldF9pbnF1aXJ5X3ZlbmRvcihpbiwgYnVmKQkJ<br>
c3RybmNweShidWYsIGluICsgMHgwOCwgMHgwOCkNCisjZGVmaW5lIGdldF9pbnF1aXJ5X3Byb2R1<br>
Y3QoaW4sIGJ1ZikJCXN0cm5jcHkoYnVmLCBpbiArIDB4MTAsIDB4MDEwKQ0KKyNkZWZpbmUgZ2V0<br>
X2lucXVpcnlfdmVyc2lvbihpbiwgYnVmKQkJc3RybmNweShidWYsIGluICsgMHgyMCwgMHgwNCkN<br>
CisjZGVmaW5lIGdldF9pbnF1aXJ5X3BlcmlwaF9kZXZ0eXBlKGluKQkJKGluWzBdICYgMHgxZikN<br>
CisjZGVmaW5lIGdldF9pbnF1aXJ5X2FkZGl0aW9uYWxfbGVuZ3RoKGluKQlpblsweDA0XQ0KKyNk<br>
ZWZpbmUgc2V0X2lucXVpcnlfbGVuZ3RoKG91dCxuKQkJb3V0WzB4MDRdPW4tNQ0KIA0KIC8qIE9w<br>
ZW4gT1MyIEFTUEkgZHJpdmVyLg0KIA0KQEAgLTI5MSw2ICszMDMsMTQgQEANCiAgIFVTSE9SVCBs<br>
b2NrU2VnbWVudFJldHVybjsNCiAgIHVuc2lnbmVkIGxvbmcgY2JyZXR1cm47DQogICB1bnNpZ25l<br>
ZCBsb25nIGNiUGFyYW07DQorICBTUkIgU1JCbG9jazsJCQkgICAgICAgICAvLyBTQ1NJIFJlcXVl<br>
c3QgQmxvY2sNCisgIGludCAgICBpLCBudW1fYWRhcHRlcnM7ICAgICAgICAgICAgICAgIC8vIG5v<br>
LiBvZiBzY3NpIGFkYXB0ZXJzIGluc3RhbGxlZA0KKyAgY2hhciAqZGV2dHlwZXNbXSA9IHsNCisg<br>
ICAgICAiZGlzayIsICJ0YXBlIiwgInByaW50ZXIiLCAicHJvY2Vzc29yIiwgIkNELXdyaXRlciIs<br>
DQorICAgICAgIkNELWRyaXZlIiwgInNjYW5uZXIiLCAib3B0aWNhbC1kcml2ZSIsICJqdWtlYm94<br>
IiwNCisgICAgICAiY29tbXVuaWNhdG9yIg0KKyAgfTsNCisgIEZJTEUqIHRtcDsNCiANCiAgIGlm<br>
IChkcml2ZXJfaGFuZGxlKQ0KICAgICByZXR1cm4gMTsJCQkvKiBBbHJlYWR5IG9wZW4uICovDQpA<br>
QCAtMzQ0LDYgKzM2NCwxNTIgQEANCiAgICAgICBEQkcgKDEsICJvcGVuX2FzcGk6ICBDYW4ndCBs<br>
b2NrIGJ1ZmZlci5cbiIpOw0KICAgICAgIHJldHVybiAwOw0KICAgICB9DQorDQorICAgICAgLy8g<br>
cXVlcnkgbnVtYmVyIG9mIGluc3RhbGxlZCBhZGFwdGVycw0KKyAgIG1lbXNldCggJlNSQmxvY2ss<br>
IDAsIHNpemVvZiggU1JCbG9jaykpOw0KKyAgIFNSQmxvY2suY21kID0gU1JCX0lucXVpcnk7ICAg<br>
ICAgICAgICAgLy8gaG9zdCBhZGFwdGVyIGlucXVpcnkNCisgICBTUkJsb2NrLmhhX251bT0wOyAg<br>
ICAgICAgICAgICAgICAgICAgIC8vIGhvc3QgYWRhcHRlciBudW1iZXINCisgICBTUkJsb2NrLmZs<br>
YWdzPTA7ICAgICAgICAgICAgICAgICAgICAgIC8vIG5vIGZsYWdzIHNldA0KKyAgIHJjID0gRG9z<br>
RGV2SU9DdGwoIGRyaXZlcl9oYW5kbGUsIDB4OTIsIDB4MDIsDQorICAgICAgICAgICAgICAgICAg<br>
ICAodm9pZCopICZTUkJsb2NrLCBzaXplb2YoU1JCKSwgJmNiUGFyYW0sDQorICAgICAgICAgICAg<br>
ICAgICAgICAodm9pZCopICZTUkJsb2NrLCBzaXplb2YoU1JCKSwgJmNicmV0dXJuKTsNCisgICBu<br>
dW1fYWRhcHRlcnMgPSBTUkJsb2NrLnUuaW5xLm51bV9oYTsNCisNCisgICBEQkcoIDEsICJPUy8y<br>
OiBpbnN0YWxsZWQgYWRhcHRlcnMgJWRcbiIsIG51bV9hZGFwdGVycyk7DQorICAgREJHKCAxLCAi<br>
T1MvMjogQVNQSSBtYW5hZ2VyIGlzICclcydcbiIsIFNSQmxvY2sudS5pbnEuYXNwaW1ncl9pZCk7<br>
DQorICAgREJHKCAxLCAiT1MvMjogaG9zdCBhZGFwdGVyIGlzICclcydcbiIsIFNSQmxvY2sudS5p<br>
bnEuaG9zdF9pZCk7DQorICAgREJHKCAxLCAiT1MvMjogdW5pcXVlIGlkIGlzICAgICclcydcbiIs<br>
IFNSQmxvY2sudS5pbnEudW5pcXVlX2lkKTsNCisNCisgICBzdHJjcHkoIHRtcEFzcGksICJhc1hY<br>
WFhYWCIpOw0KKyAgIG1rdGVtcCggdG1wQXNwaSk7DQorICAgREJHICgxLCAib3Blbl9hc3BpOiB0<br>
ZW1wb3JhcnkgZmlsZSBpcyAnJXMnXG4iLCB0bXBBc3BpKTsNCisgICB0bXAgPSBmb3BlbiggdG1w<br>
QXNwaSwgInciKTsNCisgICBpZiAoIXRtcCkgeyAgICAgICAgICAgICAgICAgICAgICAgICAgIC8v<br>
IGNhbid0IG9wZW4gdG1wIGZpbGUNCisgICAgICBEQkcgKDEsICJvcGVuX2FzcGk6ICBDYW4ndCBv<br>
cGVuIHRlbXBvcmFyeSBmaWxlLlxuIik7DQorICAgICAgcmV0dXJuIDA7DQorICAgfQ0KKw0KKyAg<br>
ICAgIC8vIHNjYW4gYWxsIGluc3RhbGxlZCBhZGFwdGVycw0KKyAgIGZvciggaT0wOyBpIDwgbnVt<br>
X2FkYXB0ZXJzOyBpKyspIHsNCisgICAgICBpbnQgaWQ7DQorICAgICAgICAgLy8gcXVlcnkgYWRh<br>
cHRlciBuYW1lDQorICAgICAgbWVtc2V0KCAmU1JCbG9jaywgMCwgc2l6ZW9mKCBTUkJsb2NrKSk7<br>
DQorICAgICAgU1JCbG9jay5jbWQ9U1JCX0lucXVpcnk7ICAgICAgICAgICAvLyBob3N0IGFkYXB0<br>
ZXIgaW5xdWlyeQ0KKyAgICAgIFNSQmxvY2suaGFfbnVtPWk7ICAgICAgICAgICAgICAgICAgLy8g<br>
aG9zdCBhZGFwdGVyIG51bWJlcg0KKyAgICAgIFNSQmxvY2suZmxhZ3M9MDsgICAgICAgICAgICAg<br>
ICAgICAgLy8gbm8gZmxhZ3Mgc2V0DQorICAgICAgcmMgPSBEb3NEZXZJT0N0bCggZHJpdmVyX2hh<br>
bmRsZSwgMHg5MiwgMHgwMiwNCisgICAgICAgICAgICAgICAgICAgICh2b2lkKikgJlNSQmxvY2ss<br>
IHNpemVvZihTUkIpLCAmY2JQYXJhbSwNCisgICAgICAgICAgICAgICAgICAgICh2b2lkKikgJlNS<br>
QmxvY2ssIHNpemVvZihTUkIpLCAmY2JyZXR1cm4pOw0KKyAgICAgIERCRyggMSwgIk9TLzI6IGFk<br>
YXB0ZXIjJTAyZCAnJXMnXG4iLCBpLCBTUkJsb2NrLnUuaW5xLmhvc3RfaWQpOw0KKw0KKyAgICAg<br>
ICAgIC8vIHNjYW4gc2NzaSBjaGFpbiAobmVlZCAxNSBmb3Igd2lkZT8pDQorICAgICAgZm9yKCBp<br>
ZD0wOyBpZDw3OyBpZCsrKSB7DQorICAgICAgICAgdW5zaWduZWQgY2hhciBsZW47DQorICAgICAg<br>
ICAgdW5zaWduZWQgY2hhciB2ZW5kb3JbOV07DQorICAgICAgICAgdW5zaWduZWQgY2hhciBwcm9k<br>
dWN0WzE3XTsNCisgICAgICAgICB1bnNpZ25lZCBjaGFyIHZlcnNpb25bNV07DQorICAgICAgICAg<br>
dW5zaWduZWQgY2hhciAqcHA7DQorDQorICAgICAgICAgbWVtc2V0KCAmU1JCbG9jaywgMCwgc2l6<br>
ZW9mKCBTUkJsb2NrKSk7DQorICAgICAgICAgU1JCbG9jay5jbWQgPSBTUkJfRGV2aWNlOyAgICAg<br>
ICAvLyBnZXQgZGV2aWNlIHR5cGUNCisgICAgICAgICBTUkJsb2NrLmhhX251bT1pOyAgICAgICAg<br>
ICAgICAgIC8vIGhvc3QgYWRhcHRlciBudW1iZXINCisgICAgICAgICBTUkJsb2NrLmZsYWdzPTA7<br>
ICAgICAgICAgICAgICAgIC8vIG5vIGZsYWdzIHNldA0KKyAgICAgICAgIFNSQmxvY2sudS5kZXYu<br>
dGFyZ2V0PWlkOyAgICAgICAgLy8gdGFyZ2V0IGlkDQorICAgICAgICAgU1JCbG9jay51LmRldi5s<br>
dW49MDsgICAgICAgICAgICAvLyB0YXJnZXQgTFVODQorICAgICAgICAgcmMgPSBEb3NEZXZJT0N0<br>
bChkcml2ZXJfaGFuZGxlLCAweDkyLCAweDAyLA0KKyAgICAgICAgICAgICAgICAgICAgKHZvaWQq<br>
KSAmU1JCbG9jaywgc2l6ZW9mKFNSQiksICZjYlBhcmFtLA0KKyAgICAgICAgICAgICAgICAgICAg<br>
KHZvaWQqKSAmU1JCbG9jaywgc2l6ZW9mKFNSQiksICZjYnJldHVybik7DQorICAgICAgICAgREJH<br>
KCAxLCAiT1MvMjogICAgICAgICAgICAgaWQjJTAyZCBzdGF0dXM9JTAyeGhcbiIsIGlkLCBTUkJs<br>
b2NrLnN0YXR1cyk7DQorDQorICAgICAgICAgICAgLy8gc2tpcCBpZiBkZXZpY2Ugbm90IGNvbm5l<br>
Y3RlZA0KKyAgICAgICAgIGlmIChTUkJsb2NrLnN0YXR1cyA9PSBTUkJfQmFkRGV2aWNlKQ0KKyAg<br>
ICAgICAgICAgIGNvbnRpbnVlOw0KKw0KKyAgICAgICAgIERCRyggMSwgIk9TLzI6ICAgICAgICAg<br>
ICAgICAgICAgIHR5cGUgaXMgJyVzJ1xuIiwNCisgICAgICAgICAgICAgICAgIFNSQmxvY2sudS5k<br>
ZXYuZGV2dHlwZSA8IHNpemVvZihkZXZ0eXBlcykvc2l6ZW9mKGNoYXIqKSA/IA0KKyAgICAgICAg<br>
ICAgICAgICAgZGV2dHlwZXNbU1JCbG9jay51LmRldi5kZXZ0eXBlXSA6ICJ1bmtub3duIGRldmlj<br>
ZSIpOw0KKw0KKyAgICAgICAgICAgIC8vIHF1ZXJ5IGFkYXB0ZXIgc3RyaW5nIGlkDQorICAgICAg<br>
ICAgbWVtc2V0KCAmU1JCbG9jaywgMCwgc2l6ZW9mKCBTUkJsb2NrKSk7DQorICAgICAgICAgU1JC<br>
bG9jay5jbWQgPSBTUkJfQ29tbWFuZDsgICAgICAvLyBleGVjdXRlIFNDU0kgY29tbWFuZA0KKyAg<br>
ICAgICAgIFNSQmxvY2suaGFfbnVtID0gaTsgICAgICAgICAgICAgLy8gaG9zdCBhZGFwdGVyIG51<br>
bWJlcg0KKyAgICAgICAgIFNSQmxvY2suZmxhZ3M9U1JCX1JlYWQgfCBTUkJfUG9zdDsvLyBkYXRh<br>
IHRyYW5zZmVyLCBwb3N0aW5nDQorICAgICAgICAgU1JCbG9jay51LmNtZC50YXJnZXQ9aWQ7ICAg<br>
ICAgICAvLyBUYXJnZXQgU0NTSSBJRA0KKyAgICAgICAgIFNSQmxvY2sudS5jbWQubHVuPTA7ICAg<br>
ICAgICAgICAgLy8gVGFyZ2V0IFNDU0kgTFVODQorICAgICAgICAgU1JCbG9jay51LmNtZC5kYXRh<br>
X2xlbj01OyAgICAgICAvLyAjIG9mIGJ5dGVzIHRyYW5zZmVycmVkDQorICAgICAgICAgU1JCbG9j<br>
ay51LmNtZC5zZW5zZV9sZW49MTY7ICAgICAvLyBsZW5ndGggb2Ygc2Vuc2UgYnVmZmVyDQorICAg<br>
ICAgICAgU1JCbG9jay51LmNtZC5kYXRhX3B0cj1OVUxMOyAgICAvLyBwb2ludGVyIHRvIGRhdGEg<br>
YnVmZmVyDQorICAgICAgICAgU1JCbG9jay51LmNtZC5saW5rX3B0cj1OVUxMOyAgICAvLyBwb2lu<br>
dGVyIHRvIG5leHQgU1JCDQorICAgICAgICAgU1JCbG9jay51LmNtZC5jZGJfbGVuPTY7ICAgICAg<br>
ICAvLyBTQ1NJIGNvbW1hbmQgbGVuZ3RoDQorICAgICAgICAgU1JCbG9jay51LmNtZC5jZGJfc3Rb<br>
MF09SU5RVUlSWTsvLyBpbnF1aXJ5IGNvbW1hbmQNCisgICAgICAgICBTUkJsb2NrLnUuY21kLmNk<br>
Yl9zdFsxXT0wOyAgICAgIC8vID8/IGxlbmd0aA0KKyAgICAgICAgIFNSQmxvY2sudS5jbWQuY2Ri<br>
X3N0WzJdPTA7ICAgICAgLy8gdHJhbnNmZXIgbGVuZ3RoIE1TQg0KKyAgICAgICAgIFNSQmxvY2su<br>
dS5jbWQuY2RiX3N0WzNdPTA7ICAgICAgLy8gdHJhbnNmZXIgbGVuZ3RoDQorICAgICAgICAgU1JC<br>
bG9jay51LmNtZC5jZGJfc3RbNF09NTsgICAgICAvLyB0cmFuc2ZlciBsZW5ndGggTFNCDQorICAg<br>
ICAgICAgU1JCbG9jay51LmNtZC5jZGJfc3RbNV09MDsNCisgICAgICAgICByYyA9IERvc0RldklP<br>
Q3RsKGRyaXZlcl9oYW5kbGUsIDB4OTIsIDB4MDIsDQorICAgICAgICAgICAgICAgICAgICh2b2lk<br>
KikgJlNSQmxvY2ssIHNpemVvZihTUkIpLCAmY2JQYXJhbSwNCisgICAgICAgICAgICAgICAgICAg<br>
KHZvaWQqKSAmU1JCbG9jaywgc2l6ZW9mKFNSQiksICZjYnJldHVybik7DQorICAgICAgICAgRG9z<br>
V2FpdEV2ZW50U2VtIChwb3N0U2VtYSwgLTEpOw0KKyAgICAgICAgIERvc1Jlc2V0RXZlbnRTZW0g<br>
KHBvc3RTZW1hLCAmcmMpOw0KKyAgICAgICAgIGxlbiA9ICgoY2hhciopYXNwaV9idWYpWzRdOyAg<br>
ICAgICAgICAgICAgLy8gYWRkaXRpb25hbCBsZW5ndGgNCisNCisgICAgICAgICAgICAvLyBxdWVy<br>
eSBpZCBzdHJpbmcNCisgICAgICAgICBtZW1zZXQoICZTUkJsb2NrLCAwLCBzaXplb2YoIFNSQmxv<br>
Y2spKTsNCisgICAgICAgICBTUkJsb2NrLmNtZCA9IFNSQl9Db21tYW5kOyAgICAgIC8vIGV4ZWN1<br>
dGUgU0NTSSBjb21tYW5kDQorICAgICAgICAgU1JCbG9jay5oYV9udW0gPSBpOyAgICAgICAgICAg<br>
ICAvLyBob3N0IGFkYXB0ZXIgbnVtYmVyDQorICAgICAgICAgU1JCbG9jay5mbGFncz1TUkJfUmVh<br>
ZCB8IFNSQl9Qb3N0Oy8vIGRhdGEgdHJhbnNmZXIsIHBvc3RpbmcNCisgICAgICAgICBTUkJsb2Nr<br>
LnUuY21kLnRhcmdldD1pZDsgICAgICAgIC8vIFRhcmdldCBTQ1NJIElEDQorICAgICAgICAgU1JC<br>
bG9jay51LmNtZC5sdW49MDsgICAgICAgICAgICAgICAgICAgICAgIC8vIFRhcmdldCBTQ1NJIExV<br>
Tg0KKyAgICAgICAgIFNSQmxvY2sudS5jbWQuZGF0YV9sZW49NStsZW47ICAgLy8gIyBvZiBieXRl<br>
cyB0cmFuc2ZlcnJlZA0KKyAgICAgICAgIFNSQmxvY2sudS5jbWQuc2Vuc2VfbGVuPTE2OyAgICAg<br>
Ly8gbGVuZ3RoIG9mIHNlbnNlIGJ1ZmZlcg0KKyAgICAgICAgIFNSQmxvY2sudS5jbWQuZGF0YV9w<br>
dHI9TlVMTDsgICAgLy8gcG9pbnRlciB0byBkYXRhIGJ1ZmZlcg0KKyAgICAgICAgIFNSQmxvY2su<br>
dS5jbWQubGlua19wdHI9TlVMTDsgICAgLy8gcG9pbnRlciB0byBuZXh0IFNSQg0KKyAgICAgICAg<br>
IFNSQmxvY2sudS5jbWQuY2RiX2xlbj02OyAgICAgICAgLy8gU0NTSSBjb21tYW5kIGxlbmd0aA0K<br>
KyAgICAgICAgIFNSQmxvY2sudS5jbWQuY2RiX3N0WzBdPTB4MTI7ICAgLy8gaW5xdWlyeSBjb21t<br>
YW5kDQorICAgICAgICAgU1JCbG9jay51LmNtZC5jZGJfc3RbMV09MDsgICAgICAvLyA/PyBsZW5n<br>
dGgNCisgICAgICAgICBTUkJsb2NrLnUuY21kLmNkYl9zdFsyXT0wOyAgICAgIC8vIHRyYW5zZmVy<br>
IGxlbmd0aCBNU0INCisgICAgICAgICBTUkJsb2NrLnUuY21kLmNkYl9zdFszXT0wOyAgICAgIC8v<br>
IHRyYW5zZmVyIGxlbmd0aA0KKyAgICAgICAgIFNSQmxvY2sudS5jbWQuY2RiX3N0WzRdPTUrbGVu<br>
OyAgLy8gdHJhbnNmZXIgbGVuZ3RoIExTQg0KKyAgICAgICAgIFNSQmxvY2sudS5jbWQuY2RiX3N0<br>
WzVdPTA7DQorICAgICAgICAgcmMgPSBEb3NEZXZJT0N0bChkcml2ZXJfaGFuZGxlLCAweDkyLCAw<br>
eDAyLA0KKyAgICAgICAgICAgICAgICAgICAodm9pZCopICZTUkJsb2NrLCBzaXplb2YoU1JCKSwg<br>
JmNiUGFyYW0sDQorICAgICAgICAgICAgICAgICAgICh2b2lkKikgJlNSQmxvY2ssIHNpemVvZihT<br>
UkIpLCAmY2JyZXR1cm4pOw0KKyAgICAgICAgIERvc1dhaXRFdmVudFNlbSAocG9zdFNlbWEsIC0x<br>
KTsNCisgICAgICAgICBEb3NSZXNldEV2ZW50U2VtIChwb3N0U2VtYSwgJnJjKTsNCisgICAgICAg<br>
ICBEQkcoIDEsICJPUy8yICAgICAgICAgJyVzJ1xuIiwgKGNoYXIqKWFzcGlfYnVmKzgpOw0KKyAg<br>
ICAgICAgICAgIC8vIHdyaXRlIGRhdGENCisgICAgICAgICBnZXRfaW5xdWlyeV92ZW5kb3IgKChj<br>
aGFyICopIGFzcGlfYnVmLCB2ZW5kb3IpOw0KKyAgICAgICAgIGdldF9pbnF1aXJ5X3Byb2R1Y3Qg<br>
KChjaGFyICopIGFzcGlfYnVmLCBwcm9kdWN0KTsNCisgICAgICAgICBnZXRfaW5xdWlyeV92ZXJz<br>
aW9uICgoY2hhciAqKSBhc3BpX2J1ZiwgdmVyc2lvbik7DQorDQorICAgICAgICAgcHAgPSAmdmVu<br>
ZG9yWzddOw0KKyAgICAgICAgIHZlbmRvcls4XSA9ICdcMCc7DQorICAgICAgICAgd2hpbGUgKHBw<br>
ID49IHZlbmRvciAmJiAoKnBwID09ICcgJyB8fCAqcHAgPj0gMTI3KSkNCisgICAgICAgICAgICpw<br>
cC0tID0gJ1wwJzsNCisNCisgICAgICAgICBwcCA9ICZwcm9kdWN0WzE1XTsNCisgICAgICAgICBw<br>
cm9kdWN0WzE2XSA9ICdcMCc7DQorICAgICAgICAgd2hpbGUgKHBwID49IHByb2R1Y3QgJiYgKCpw<br>
cCA9PSAnICcgfHwgKnBwID49IDEyNykpDQorICAgICAgICAgICAqcHAtLSA9ICdcMCc7DQorDQor<br>
ICAgICAgICAgcHAgPSBwcm9kdWN0Ow0KKyAgICAgICAgIGRvIHsNCisgICAgICAgICAgICBpZiAo<br>
aXNzcGFjZSggKnBwKSkgKnBwID0gJ18nOw0KKyAgICAgICAgIH0gd2hpbGUoICorK3BwKTsNCisN<br>
CisgICAgICAgICBwcCA9ICZ2ZXJzaW9uWzNdOw0KKyAgICAgICAgIHZlcnNpb25bNF0gPSAnXDAn<br>
Ow0KKyAgICAgICAgIHdoaWxlIChwcCA+PSB2ZXJzaW9uICYmICgqcHAgPT0gJyAnIHx8ICoocHAg<br>
LSAxKSA+PSAxMjcpKQ0KKyAgICAgICAgICAgKnBwLS0gPSAnXDAnOw0KKyAgICAgICAgIGZwcmlu<br>
dGYoIHRtcCwgIlZlbmRvcjogJXMgIiwgdmVuZG9yKTsNCisgICAgICAgICBmcHJpbnRmKCB0bXAs<br>
ICJNb2RlbDogJXMgIiwgcHJvZHVjdCk7DQorICAgICAgICAgZnByaW50ZiggdG1wLCAiUmV2OiAl<br>
cyAiLCB2ZXJzaW9uKTsNCisgICAgICAgICBmcHJpbnRmKCB0bXAsICJzY3NpICVkIENoYW5uZWw6<br>
IDAgSWQ6ICVkIEx1bjogMFxuIiwgaSwgaWQpOw0KKyAgICAgIH0NCisgICB9DQorICAgZmNsb3Nl<br>
KCB0bXApOw0KKw0KICAgcmV0dXJuIDE7DQogfQ0KIA0KQEAgLTM2MSw2ICs1MjcsMTEgQEANCiAg<br>
IGlmIChhc3BpX2J1ZikJCQkvKiBGcmVlIGJ1ZmZlci4gKi8NCiAgICAgRG9zRnJlZU1lbSAoYXNw<br>
aV9idWYpOw0KICAgYXNwaV9idWYgPSAwOw0KKw0KKyAgdW5saW5rKCB0bXBBc3BpKTsgICAgICAg<br>
ICAgICAgICAgICAgICAgLy8gcmVtb3ZlIHNjc2kgZGVzY3JpcHRpb25zDQorICBzdHJjcHkoIHRt<br>
cEFzcGksICIiKTsNCisNCisgIERCRyggMSwgIk9TLzI6IEFTUEkgY2xvc2VkXG4iKTsNCiB9DQog<br>
DQogI2VuZGlmIC8qIFVTRV9PUzJfSU5URVJGQUNFICovDQpAQCAtMTYzOCw2ICsxODA5LDEzOCBA<br>
QA0KICNlbmRpZiAvKiBVU0UgPT0gU0NPX09TNV9JTlRFUkZBQ0UgKi8NCiANCiAjaWYgVVNFID09<br>
IE9TMl9JTlRFUkZBQ0UNCisNCisjZGVmaW5lIFdFX0hBVkVfRklORF9ERVZJQ0VTDQorDQorc3Rh<br>
dGljIGludA0KK2dldF9kZXZpY2VuYW1lIChpbnQgYnVzLCBpbnQgdGFyZ2V0LCBpbnQgbHVuLCBj<br>
aGFyICpuYW1lLCBzaXplX3QgbmFtZV9sZW4pDQorew0KKyAgIHNucHJpbnRmKCBuYW1lLCBuYW1l<br>
X2xlbiwgImIlZHQlZGwlZCIsIGJ1cywgdGFyZ2V0LCBsdW4pOw0KKyAgIERCRyAoMSwgIk9TLzIg<br>
c2VhcmNoZWQgZGV2aWNlIGlzICVzXG4iLCBuYW1lKTsNCisgICByZXR1cm4gMDsNCit9DQorDQor<br>
dm9pZA0KK3NhbmVpX3Njc2lfZmluZF9kZXZpY2VzIChjb25zdCBjaGFyICpmaW5kdmVuZG9yLCBj<br>
b25zdCBjaGFyICpmaW5kbW9kZWwsDQorCQkJIGNvbnN0IGNoYXIgKmZpbmR0eXBlLA0KKwkJCSBp<br>
bnQgZmluZGJ1cywgaW50IGZpbmRjaGFubmVsLCBpbnQgZmluZGlkLCBpbnQgZmluZGx1biwNCisJ<br>
CQkgU0FORV9TdGF0dXMgKCphdHRhY2gpIChjb25zdCBjaGFyICpkZXYpKQ0KK3sNCisgIHNpemVf<br>
dCBmaW5kdmVuZG9yX2xlbiA9IDAsIGZpbmRtb2RlbF9sZW4gPSAwLCBmaW5kdHlwZV9sZW4gPSAw<br>
Ow0KKyAgY2hhciB2ZW5kb3JbMzJdLCBtb2RlbFszMl0sIHR5cGVbMzJdLCByZXZpc2lvblszMl07<br>
DQorICBpbnQgYnVzLCBjaGFubmVsLCBpZCwgbHVuLCBudW1iZXIsIGk7DQorICBjaGFyIGxpbmVb<br>
MjU2XSwgZGV2X25hbWVbMTI4XTsNCisgIGNvbnN0IGNoYXIgKnN0cmluZzsNCisgIEZJTEUgKnBy<br>
b2NfZnA7DQorICBjaGFyICplbmQ7DQorICBjb25zdCBzdHJ1Y3QNCisgICAgew0KKyAgICAgIGNv<br>
bnN0IGNoYXIgKm5hbWU7DQorICAgICAgc2l6ZV90IG5hbWVfbGVuOw0KKyAgICAgIGludCBpc19p<br>
bnQ7CQkvKiBpbnRlZ2VyIHZhbHVlZD8gKG5vdCBhIHN0cmluZykgKi8NCisgICAgICB1bmlvbg0K<br>
KyAgICAgICAgew0KKwkgIHZvaWQgKnY7CQkvKiBhdm9pZHMgY29tcGlsZXIgd2FybmluZ3MuLi4g<br>
Ki8NCisJICBjaGFyICpzdHI7DQorCSAgaW50ICppOw0KKyAgICAgICAgfQ0KKyAgICAgIHU7DQor<br>
ICAgIH0NCisgIHBhcmFtW10gPQ0KKyAgICB7DQorICAgICAgeyAiVmVuZG9yOiIsICA3LCAwLCB7<br>
IHZlbmRvciAgICB9IH0sDQorICAgICAgeyAiTW9kZWw6IiwgICA2LCAwLCB7IG1vZGVsICAgICB9<br>
IH0sDQorICAgICAgeyAiVHlwZToiLCAgICA1LCAwLCB7IHR5cGUgICAgICB9IH0sDQorICAgICAg<br>
eyAiUmV2OiIsICAgICA0LCAwLCB7IHJldmlzaW9uICB9IH0sDQorICAgICAgeyAic2NzaSIsCSAg<br>
ICA0LCAxLCB7ICZidXMgICAgICB9IH0sDQorICAgICAgeyAiQ2hhbm5lbDoiLCA4LCAxLCB7ICZj<br>
aGFubmVsICB9IH0sDQorICAgICAgeyAiSWQ6IiwJICAgIDMsIDEsIHsgJmlkICAgICAgIH0gfSwN<br>
CisgICAgICB7ICJMdW46IiwJICAgIDQsIDEsIHsgJmx1biAgICAgIH0gfQ0KKyAgICB9Ow0KKw0K<br>
KyAgREJHX0lOSVQgKCk7DQorDQorICBvcGVuX2FzcGkoKTsgICAgICAgICAgICAgICAgICAgICAg<br>
ICAgICAvLyBvcGVuIGFzcGkgbWFuYWdlciBpZiBub3QgYWxyZWFkeSBkb25lDQorDQorICBwcm9j<br>
X2ZwID0gZm9wZW4oIHRtcEFzcGksICJyIik7DQorICBpZiAoIXByb2NfZnApDQorICAgIHsNCisg<br>
ICAgICBEQkcgKDEsICJjb3VsZCBub3Qgb3BlbiAlcyBmb3IgcmVhZGluZ1xuIiwgdG1wQXNwaSk7<br>
DQorICAgICAgcmV0dXJuOw0KKyAgICB9DQorDQorICBudW1iZXIgPSBidXMgPSBjaGFubmVsID0g<br>
aWQgPSBsdW4gPSAtMTsNCisNCisgIHZlbmRvclswXSA9IG1vZGVsWzBdID0gdHlwZVswXSA9ICdc<br>
MCc7DQorICBpZiAoZmluZHZlbmRvcikNCisgICAgZmluZHZlbmRvcl9sZW4gPSBzdHJsZW4gKGZp<br>
bmR2ZW5kb3IpOw0KKyAgaWYgKGZpbmRtb2RlbCkNCisgICAgZmluZG1vZGVsX2xlbiA9IHN0cmxl<br>
biAoZmluZG1vZGVsKTsNCisgIGlmIChmaW5kdHlwZSkNCisgICAgZmluZHR5cGVfbGVuID0gc3Ry<br>
bGVuIChmaW5kdHlwZSk7DQorDQorICB3aGlsZSAoIWZlb2YgKHByb2NfZnApKQ0KKyAgICB7DQor<br>
ICAgICAgaWYgKCFmZ2V0cyAobGluZSwgc2l6ZW9mIChsaW5lKSwgcHJvY19mcCkpDQorICAgICAg<br>
ICAgYnJlYWs7ICAgICAgICAgICAgICAgICAgICAgICAgICAvLyBhdCBlb2YgZXhpdA0KKw0KKyAg<br>
ICAgIHN0cmluZyA9IHNhbmVpX2NvbmZpZ19za2lwX3doaXRlc3BhY2UgKGxpbmUpOw0KKw0KKyAg<br>
ICAgIHdoaWxlICgqc3RyaW5nKQ0KKwl7DQorCSAgZm9yIChpID0gMDsgaSA8IE5FTEVNUyAocGFy<br>
YW0pOyArK2kpDQorCSAgICB7DQorCSAgICAgIGlmIChzdHJuY21wIChzdHJpbmcsIHBhcmFtW2ld<br>
Lm5hbWUsIHBhcmFtW2ldLm5hbWVfbGVuKSA9PSAwKQ0KKwkgICAgICAgIHsNCisJCSAgc3RyaW5n<br>
ICs9IHBhcmFtW2ldLm5hbWVfbGVuOw0KKwkJICBzdHJpbmcgPSBzYW5laV9jb25maWdfc2tpcF93<br>
aGl0ZXNwYWNlIChzdHJpbmcpOw0KKwkJICBpZiAocGFyYW1baV0uaXNfaW50KQ0KKwkJICAgIHsN<br>
CisJCSAgICAgICpwYXJhbVtpXS51LmkgPSBzdHJ0b2wgKHN0cmluZywgJmVuZCwgMTApOw0KKwkJ<br>
ICAgICAgc3RyaW5nID0gKGNoYXIgKikgZW5kOw0KKwkJICAgIH0NCisJCSAgZWxzZQ0KKwkJICAg<br>
IHsNCisJCSAgICAgIHN0cm5jcHkgKHBhcmFtW2ldLnUuc3RyLCBzdHJpbmcsIDMyKTsNCisJCSAg<br>
ICAgIHBhcmFtW2ldLnUuc3RyWzMxXSA9ICdcMCc7DQorCQkgICAgICB3aGlsZSAoKnN0cmluZyAm<br>
JiAhaXNzcGFjZSAoKnN0cmluZykpDQorCQkJKytzdHJpbmc7DQorCQkgICAgfQ0KKwkJICBzdHJp<br>
bmcgPSBzYW5laV9jb25maWdfc2tpcF93aGl0ZXNwYWNlIChzdHJpbmcpOw0KKw0KKwkJICBpZiAo<br>
cGFyYW1baV0udS52ID09ICZidXMpDQorCQkgICAgKytudW1iZXI7DQorCQkgIGJyZWFrOw0KKwkJ<br>
fQ0KKwkgICAgfQ0KKwkgIGlmIChpID49IE5FTEVNUyAocGFyYW0pKQ0KKwkgICAgKytzdHJpbmc7<br>
CQkJLyogbm8gbWF0Y2ggKi8NCisJfQ0KKw0KKyAgICAgIGlmICgoZmluZHZlbmRvciAmJiAhdmVu<br>
ZG9yWzBdKSB8fCAoZmluZG1vZGVsICYmICFtb2RlbFswXSkNCisJICB8fCAoZmluZHR5cGUgJiYg<br>
IXR5cGVbMF0pDQorCSAgfHwgKGZpbmRidXMgPj0gMCAmJiBidXMgPT0gLTEpIHx8IChmaW5kY2hh<br>
bm5lbCA+PSAwICYmIGNoYW5uZWwgPT0gLTEpDQorCSAgfHwgKGZpbmRsdW4gPj0gMCAmJiBsdW4g<br>
PT0gLTEpKQ0KKwkvKiBzb21lIGluZm8gaXMgc3RpbGwgbWlzc2luZyAqLw0KKwljb250aW51ZTsN<br>
CisNCisgICAgICBpZiAoICAgKCFmaW5kdmVuZG9yIHx8IHN0cm5jbXAgKHZlbmRvciwgZmluZHZl<br>
bmRvciwgZmluZHZlbmRvcl9sZW4pID09IDApDQorCSAgJiYgKCFmaW5kbW9kZWwgIHx8IHN0cm5j<br>
bXAgKG1vZGVsLCBmaW5kbW9kZWwsIGZpbmRtb2RlbF9sZW4pID09IDApDQorCSAgJiYgKCFmaW5k<br>
dHlwZSAgIHx8IHN0cm5jbXAgKHR5cGUsIGZpbmR0eXBlLCBmaW5kdHlwZV9sZW4pID09IDApDQor<br>
CSAgJiYgKGZpbmRidXMJICA9PSAtMSB8fCBidXMgPT0gZmluZGJ1cykNCisJICAmJiAoZmluZGNo<br>
YW5uZWwgPT0gLTEgfHwgY2hhbm5lbCA9PSBmaW5kY2hhbm5lbCkNCisJICAmJiAoZmluZGlkCSAg<br>
PT0gLTEgfHwgaWQgPT0gZmluZGlkKQ0KKwkgICYmIChmaW5kbHVuCSAgPT0gLTEgfHwgbHVuID09<br>
IGZpbmRsdW4pDQorCSAgJiYgZ2V0X2RldmljZW5hbWUoIGJ1cywgaWQsIGx1biwgZGV2X25hbWUs<br>
IHNpemVvZiAoZGV2X25hbWUpKSA+PSAwDQorCSAgJiYgKCphdHRhY2gpIChkZXZfbmFtZSkgIT0g<br>
U0FORV9TVEFUVVNfR09PRCkNCisJcmV0dXJuOw0KKw0KKyAgICAgIHZlbmRvclswXSA9IG1vZGVs<br>
WzBdID0gdHlwZVswXSA9IDA7DQorICAgICAgYnVzID0gY2hhbm5lbCA9IGlkID0gbHVuID0gLTE7<br>
DQorICAgIH0NCisgIGZjbG9zZSAocHJvY19mcCk7DQorfQ0KKw0KIC8qIFhYWCB1bnRlc3RlZCBj<br>
b2RlISAqLw0KIFNBTkVfU3RhdHVzDQogc2FuZWlfc2NzaV9jbWQgKGludCBmZCwgY29uc3Qgdm9p<br>
ZCAqc3JjLCBzaXplX3Qgc3JjX3NpemUsDQpAQCAtMjA3NSw2ICsyMzc4LDcgQEANCiANCiB2b2lk<br>
DQogc2FuZWlfc2NzaV9maW5kX2RldmljZXMgKGNvbnN0IGNoYXIgKmZpbmR2ZW5kb3IsIGNvbnN0<br>
IGNoYXIgKmZpbmRtb2RlbCwNCisgICAgICAgICAgICAgICAgICAgICAgICAgY29uc3QgY2hhciAq<br>
ZmluZHR5cGUsDQogCQkJIGludCBmaW5kYnVzLCBpbnQgZmluZGNoYW5uZWwsIGludCBmaW5kaWQs<br>
IGludCBmaW5kbHVuLA0KIAkJCSBTQU5FX1N0YXR1cyAoKmF0dGFjaCkgKGNvbnN0IGNoYXIgKmRl<br>
dikpDQogew0KT25seSBpbiBzYW5laTogc2FuZWlfc2NzaS5sbw0KT25seSBpbiBzYW5laTogc2Fu<br>
ZWlfc2NzaS5vDQpPbmx5IGluIHNhbmVpOiBzYW5laV93aXJlLmxvDQpPbmx5IGluIHNhbmVpOiBz<br>
YW5laV93aXJlLm8NCg==<br>
<p>
--_=_=_=IMA.BOUNDARY.EWJW1J138764=_=_=_--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Matto Marjanovic: "Re: shmem in backends?"</a>
<li> <b>Previous message:</b> <a href="0139.html">Yuri Dario: "Re: Parallel port OS/2 support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
