<!-- received="Fri Jul 24 09:49:57 1998 PDT" -->
<!-- sent="Fri, 24 Jul 1998 12:50:54 -0400" -->
<!-- name="Chinedum Osuji" -->
<!-- email="cosuji@uzi.mit.edu" -->
<!-- subject="Re: problems with sgi/umax" -->
<!-- id="" -->
<!-- inreplyto="problems with sgi/umax" -->
<title>sane-devel: Re: problems with sgi/umax</title>
<h1>Re: problems with sgi/umax</h1>
<b>Chinedum Osuji</b> (<a href="mailto:cosuji@uzi.mit.edu"><i>cosuji@uzi.mit.edu</i></a>)<br>
<i>Fri, 24 Jul 1998 12:50:54 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#149">[ date ]</a><a href="index.html#149">[ thread ]</a><a href="subject.html#149">[ subject ]</a><a href="author.html#149">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0150.html">Matto Marjanovic: "Re: Does CANCEL_PREVIEW work?"</a>
<li> <b>Previous message:</b> <a href="0148.html">Berend Reitsma: "Multiple models within one backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">vp00955@hp2.vpn.at: "problems with sgi/umax"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0151.html">Oliver Rauch: "Re: problems with sgi/umax"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Tried it and it worked very well! Thank you.<br>
<p>
Chinedum Osuji<br>
<p>
<p>
Didier Carlier wrote:<br>
<i>&gt; </i><br>
<i>&gt; On 23-Jul-98 Chinedum Osuji wrote:</i><br>
<i>&gt; &gt; Hi,</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;       Anyone out there ever run into the following with SGI/UMAX: Previews</i><br>
<i>&gt; &gt; and scans are all fine, at all resolutions and with color and or</i><br>
<i>&gt; &gt; transparency adapter, but only for scan files that do not equal or</i><br>
<i>&gt; &gt; exceed 4MB in size! For such scans, the scanner just stops a few seconds</i><br>
<i>&gt; &gt; into the scan, and a black or "black with white patches" image is</i><br>
<i>&gt; &gt; produced. When such a thing occurs, the little status bar that monitors</i><br>
<i>&gt; &gt; transfer of data to GIMP or whatever is blank. i.e. The box appears, but</i><br>
<i>&gt; &gt; no words or status bar is visible.</i><br>
<i>&gt; </i><br>
<i>&gt; The coolscan backend suffered from a very similar problem on SGI. The</i><br>
<i>&gt; workaround has been to limit the size of the data chunks read from the scanner</i><br>
<i>&gt; to 64K instead of 'sanei_scsi_max_request_size'.</i><br>
<i>&gt; </i><br>
<i>&gt; Probably more a workaround than a fix but since there was no perceivable</i><br>
<i>&gt; performance penalty I kept it that way.</i><br>
<i>&gt; </i><br>
<i>&gt; Regards,</i><br>
<i>&gt; Didier</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0150.html">Matto Marjanovic: "Re: Does CANCEL_PREVIEW work?"</a>
<li> <b>Previous message:</b> <a href="0148.html">Berend Reitsma: "Multiple models within one backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">vp00955@hp2.vpn.at: "problems with sgi/umax"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0151.html">Oliver Rauch: "Re: problems with sgi/umax"</a>
<!-- reply="end" -->
</ul>
