<!-- received="Tue Jul 28 16:39:46 1998 PDT" -->
<!-- sent="Wed, 29 Jul 1998 00:51:34 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: segfault with Microtek Scanmaker 330" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.980727112915.6874A-100000@unicorn.franken.de" -->
<title>sane-devel: Re: segfault with Microtek Scanmaker 330</title>
<h1>Re: segfault with Microtek Scanmaker 330</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Wed, 29 Jul 1998 00:51:34 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#166">[ date ]</a><a href="index.html#166">[ thread ]</a><a href="subject.html#166">[ subject ]</a><a href="author.html#166">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Antal Novak: "Re: Is there a driver for a plustek OpticPro 4800P for sane?"</a>
<li> <b>Previous message:</b> <a href="0165.html">Pkirchg@aol.com: "(x)hp-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Mon, Jul 27, 1998 at 11:31:54AM -0100, Norman Uhlmann wrote:<br>
<i>&gt; Hi all,</i><br>
<i>&gt; </i><br>
<i>&gt; I recompiled the kernel and the sane package, with</i><br>
<i>&gt; sg.h #define SG_BIG_BUFF 32768 and it works now.</i><br>
<p>
Good to hear that a mode exists that works for you. However, the<br>
problem that the backend returns an error for bigger buffer sizes still<br>
exists. <br>
<p>
The backend itself doesn't call a function in the sane_read() or <br>
scsi_read_image() function (which report the 'out of memory' error), that<br>
might cause this error. Most likely it is a write()-call that is issued<br>
in one of the functions in sanei/sanei_scsi.c. You can verify this, if<br>
you enable debugging with SANE_DEBUG_SANEI_SCSI set to 128, for example.<br>
<p>
If you see a debug message similar to 'SG_BIG_BUF inconsistency', then<br>
there is still a problem with the value of SG_BIG_BUF.<br>
<p>
There are several options:<br>
<p>
  - Try it with a value for SG_BIG_BUF that is lower than the recommended value<br>
    (for example 64 KB or 120 KB)<br>
<p>
  - The handling of the buffers has changed since version 0.1 of the <br>
    backend. Try it with the backend that is included in sane-0.74. <br>
    If the problem doesn't disappear further debugging is required.<br>
<p>
<i>&gt; After that I got brave and compiled with</i><br>
<i>&gt; sg.h #define SG_BIG_BUFF 512000 but</i><br>
<i>&gt; it doesn't work :-((.</i><br>
<p>
To my knowledge the maximum value for SG_BIG_BUFF is 128KB - 0.5KB.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Antal Novak: "Re: Is there a driver for a plustek OpticPro 4800P for sane?"</a>
<li> <b>Previous message:</b> <a href="0165.html">Pkirchg@aol.com: "(x)hp-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
