<!-- received="Sun Aug  1 12:00:13 1999 PDT" -->
<!-- sent="Sun, 01 Aug 1999 20:28:20 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: SANE &amp; exposure times" -->
<!-- id="" -->
<!-- inreplyto="SANE &amp; exposure times" -->
<title>sane-devel: Re: SANE &amp; exposure times</title>
<h1>Re: SANE &amp; exposure times</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 01 Aug 1999 20:28:20 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#4">[ date ]</a><a href="index.html#4">[ thread ]</a><a href="subject.html#4">[ subject ]</a><a href="author.html#4">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Oliver Rauch: "xsane-0.31 available"</a>
<li> <b>Previous message:</b> <a href="0003.html">Chris Pinkham: "Re: FAQish questions: Which scanner ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<p>
<i>&gt; Andreas Rick wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I don't know too much about the subject, but I think there must be</i><br>
<i>&gt; &gt; some standards allready defined that we can use.</i><br>
<i>&gt; &gt; Who does know more about this.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt;</i><br>
<i>&gt; May be we should take a look at</i><br>
<i>&gt; xcmsdb</i><br>
<i>&gt; at first! (On my system there is a manpage for it)</i><br>
<i>&gt; I only know it exists, I did not take a closer look at it!</i><br>
<i>&gt;</i><br>
<p>
Hi,<br>
<p>
to be a bit more exact, this are the relevant manpages:<br>
<p>
XcmsCIELab (3x)      - Xcms color struture<br>
XcmsCIELuv (3x)      - Xcms color struture<br>
XcmsCIEXYZ (3x)      - Xcms color struture<br>
XcmsCIEuvY (3x)      - Xcms color struture<br>
XcmsCIExyY (3x)      - Xcms color struture<br>
XcmsColor (3x)       - Xcms color struture<br>
XcmsConvertColors (3x) - convert CCC color specifications<br>
XcmsLookupColor (3x) - obtain color values<br>
XcmsPad (3x)         - Xcms color struture<br>
XcmsQueryBlack (3x)  - obtain black, blue, green, red, and white CCC color<br>
specifications<br>
XcmsQueryBlue (3x)   - obtain black, blue, green, red, and white CCC color<br>
specifications<br>
XcmsQueryColor (3x)  - obtain color values<br>
XcmsQueryColors (3x) - obtain color values<br>
XcmsQueryGreen (3x)  - obtain black, blue, green, red, and white CCC color<br>
specifications<br>
XcmsQueryRed (3x)    - obtain black, blue, green, red, and white CCC color<br>
specifications<br>
XcmsQueryWhite (3x)  - obtain black, blue, green, red, and white CCC color<br>
specifications<br>
XcmsRGB (3x)         - Xcms color struture<br>
XcmsRGBi (3x)        - Xcms color struture<br>
XcmsTekHVC (3x)      - Xcms color struture<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Oliver Rauch: "xsane-0.31 available"</a>
<li> <b>Previous message:</b> <a href="0003.html">Chris Pinkham: "Re: FAQish questions: Which scanner ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
