<!-- received="Sun Aug  1 15:40:07 1999 PDT" -->
<!-- sent="Mon, 2 Aug 1999 07:40:19 +0900" -->
<!-- name="afadu209@oct.zaq.ne.jp" -->
<!-- email=""afadu209@oct.zaq.ne.jp"" -->
<!-- subject="Re: Re: Can I use Tekram DC-390 SCSI card on Linux box?" -->
<!-- id="19990802074019.f1a652@mail.oct.zaq.ne.jp" -->
<!-- inreplyto="37A4A487.A0C398DB@free.fr" -->
<title>sane-devel: Re: Re: Can I use Tekram DC-390 SCSI card on Linux box?</title>
<h1>Re: Re: Can I use Tekram DC-390 SCSI card on Linux box?</h1>
<b>afadu209@oct.zaq.ne.jp</b> (<a href="mailto:"afadu209@oct.zaq.ne.jp""><i>"afadu209@oct.zaq.ne.jp"</i></a>)<br>
<i>Mon, 2 Aug 1999 07:40:19 +0900</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#8">[ date ]</a><a href="index.html#8">[ thread ]</a><a href="subject.html#8">[ subject ]</a><a href="author.html#8">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Nick Lamb: "Re: xsane-0.31 available"</a>
<li> <b>Previous message:</b> <a href="0007.html">Andreas: "Re: Can I use Tekram DC-390 SCSI card on Linux box?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi, Andreas.<br>
<p>
Thanks your information! I'll try "tmscsim.o".<br>
<p>
<p>
Andreas &lt;<a href="mailto:andreas.rick@free.fr">andreas.rick@free.fr</a>&gt; wrote<br>
------------------------------------------------------------------------<br>
------ cut ---------<br>
<i>&gt; You may try to use the "other" driver that works with the Tekram DC390</i><br>
<i>&gt; which is called "tmscsim.o" and is usually included in the Kernel</i><br>
<i>&gt; or get the latest version from:</i><br>
<i>&gt; <a href="http://www.garloff.de/kurt/linux/dc390/index.html">http://www.garloff.de/kurt/linux/dc390/index.html</a></i><br>
<i>&gt; Recompile your kernel (make all the low level drivers as loadable</i><br>
<i>&gt; modules if you don't use a SCSI-disk so you can experiment more easily).</i><br>
<i>&gt; </i><br>
<i>&gt; I use that driver for a UMAX Astra 1220s and a Coolscan LS-30 both on</i><br>
<i>&gt; the</i><br>
<i>&gt; same card without problems.</i><br>
<i>&gt; </i><br>
<i>&gt; Andreas</i><br>
<p>
<p>
************************************<br>
*Nobuhisa Okuda                    *<br>
*     <a href="mailto:E-mail:okuda@netfort.gr.jp">E-mail:okuda@netfort.gr.jp</a>   *<br>
*                                  *<br>
*$B$$$$$s$A$gIa5Z0Q0w2q2q0w(J No.95    *<br>
************************************<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Nick Lamb: "Re: xsane-0.31 available"</a>
<li> <b>Previous message:</b> <a href="0007.html">Andreas: "Re: Can I use Tekram DC-390 SCSI card on Linux box?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
