<!-- received="Mon Aug  2 10:07:23 1999 PDT" -->
<!-- sent="Mon, 02 Aug 1999 19:08:36 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane-0.31 available" -->
<!-- id=" " -->
<!-- inreplyto="xsane-0.31 available" -->
<title>sane-devel: Re: xsane-0.31 available</title>
<h1>Re: xsane-0.31 available</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 02 Aug 1999 19:08:36 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#13">[ date ]</a><a href="index.html#13">[ thread ]</a><a href="subject.html#13">[ subject ]</a><a href="author.html#13">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Vmax: "info about a mustek and an artec scanner needed....."</a>
<li> <b>Previous message:</b> <a href="0012.html">Ewald R. de Wit: "Re: xsane-0.31 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0005.html">Oliver Rauch: "xsane-0.31 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0018.html">Gus Baldauf: "Re: xsane-0.31 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Ewald R. de Wit" wrote:<br>
<p>
<i>&gt; Oliver Rauch (<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a>) wrote:</i><br>
<i>&gt; &gt; that is the reason why I renamed it!</i><br>
<i>&gt; &gt; The frontend does not need to know how the alpha channel</i><br>
<i>&gt; &gt; is generated, so it is better to name it alpha than infrared.</i><br>
<i>&gt;</i><br>
<i>&gt; I feel it's a bit stupid and confusing to call it the alpha channel.</i><br>
<i>&gt; Alpha channel has a very well defined and established meaning in the</i><br>
<i>&gt; graphics world. Just because you can dump the infrared data into the</i><br>
<i>&gt; 4th channel of a file doesn't make this data 'alpha' in any way. If</i><br>
<i>&gt; you look at the SANE standard, it defines the red channel as 'data</i><br>
<i>&gt; from the red spectral band', etc. , so why would the infrared channel</i><br>
<i>&gt; be treated differently.</i><br>
<i>&gt;</i><br>
<i>&gt; Should scanners in the future support a different sort of 4th channel,</i><br>
<i>&gt; lets say height, then it should get it's own SANE_FRAME name (eg RGBH</i><br>
<i>&gt; or something).</i><br>
<i>&gt;</i><br>
<i>&gt; The SANE_FRAME name tells the frontend what sort of data it is that it</i><br>
<i>&gt; receives. Perhaps your frontend isn't interested in this but other</i><br>
<i>&gt; frontends might.</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
Hi Ewald,<br>
<p>
the idea of the infrared-channel of the slide scanners is comparable<br>
to the alpha channel. It is to detect dust and things like that to<br>
identify the transparency of the slide.<br>
<p>
Of course we could add an IR and an UV channel and thousands of other<br>
channels, but then somone should go and define image file formats that do<br>
suppurt such data.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Vmax: "info about a mustek and an artec scanner needed....."</a>
<li> <b>Previous message:</b> <a href="0012.html">Ewald R. de Wit: "Re: xsane-0.31 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0005.html">Oliver Rauch: "xsane-0.31 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0018.html">Gus Baldauf: "Re: xsane-0.31 available"</a>
<!-- reply="end" -->
</ul>
