<!-- received="Mon Aug  2 10:28:04 1999 PDT" -->
<!-- sent="Mon, 02 Aug 1999 20:31:02 +0300" -->
<!-- name="Vmax" -->
<!-- email="Vmax@freemail.gr" -->
<!-- subject="info about a mustek and an artec scanner needed....." -->
<!-- id=" " -->
<!-- inreplyto="" -->
<title>sane-devel: info about a mustek and an artec scanner needed.....</title>
<h1>info about a mustek and an artec scanner needed.....</h1>
<b>Vmax</b> (<a href="mailto:Vmax@freemail.gr"><i>Vmax@freemail.gr</i></a>)<br>
<i>Mon, 02 Aug 1999 20:31:02 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#14">[ date ]</a><a href="index.html#14">[ thread ]</a><a href="subject.html#14">[ subject ]</a><a href="author.html#14">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">Chris Pinkham: "Re: info about a mustek and an artec scanner needed....."</a>
<li> <b>Previous message:</b> <a href="0013.html">Oliver Rauch: "Re: xsane-0.31 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
    First, I would like to say halo to all the people in the list and<br>
ask for a bit of tolerance to these question, which are about - what<br>
else - if these scanners will work with sane and Linux Redhat 6.0. I<br>
haven't yet purchased those scanners so I would like to know if they'll<br>
work....<br>
    The first is a mustek 600 IIN with the isa scsi controller provided<br>
by mustek, which has the following printed on the<br>
controller's chip :<br>
<p>
Mustek<br>
GA1601<br>
AH1515.1<br>
9703<br>
<p>
and the following on the PCB:<br>
<p>
AB306 I/F RevA<br>
<p>
    The next scanner is an Artec 6000C with the isa 53C400 controller<br>
given by Artec.<br>
    Will anyone of the above work well with sane? Are they supported,<br>
but not their standard controller ( because in such case, I could buy a<br>
supported controller.. ) ?<br>
    Looking forward to any info you could give me.<br>
<p>
TIA, Sotiris...<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">Chris Pinkham: "Re: info about a mustek and an artec scanner needed....."</a>
<li> <b>Previous message:</b> <a href="0013.html">Oliver Rauch: "Re: xsane-0.31 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
