<!-- received="Tue Aug  3 20:45:43 1999 PDT" -->
<!-- sent="Wed, 04 Aug 1999 11:52:55 +0800" -->
<!-- name="Steve Gunnell" -->
<!-- email="steveg@ccis.adisys.com.au" -->
<!-- subject="Re: RGBI (was Re: xsane-0.31 available)" -->
<!-- id="" -->
<!-- inreplyto="RGBI (was Re: xsane-0.31 available)" -->
<title>sane-devel: Re: RGBI (was Re: xsane-0.31 available)</title>
<h1>Re: RGBI (was Re: xsane-0.31 available)</h1>
<b>Steve Gunnell</b> (<a href="mailto:steveg@ccis.adisys.com.au"><i>steveg@ccis.adisys.com.au</i></a>)<br>
<i>Wed, 04 Aug 1999 11:52:55 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#41">[ date ]</a><a href="index.html#41">[ thread ]</a><a href="subject.html#41">[ subject ]</a><a href="author.html#41">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Nick Lamb: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0040.html">Tom Martone: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<li> <b>Maybe in reply to:</b> <a href="0025.html">Nick Lamb: "RGBI (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0069.html">Oliver Rauch: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The sensible way to do it would be to have SANE_FRAME_1CH,<br>
SANE_FRAME_3CH, and SANE_FRAME_4CH. Each channel<br>
is then assignable to a destination in the front end. The interface from<br>
the front end to the image manipulation tool defines how the data may<br>
be mapped.<br>
<p>
Ok maybe you don't want to change the definitions that much. So<br>
keep SANE_FRAME_RGBA where A means Auxillary. Then have<br>
the front end allow the user to select how the Auxillary channel is to<br>
be passed on. So Oliver can pass it to Gimp as an Alpha channel<br>
because that is how he wants to use it and Nick and others can<br>
pass it across as a seperate (named) image layer.<br>
<p>
Just my opinion.<br>
<p>
Steve Gunnell<br>
<p>
Nick Lamb wrote:<br>
[Oliver and Nick's discussion deleted]<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Nick Lamb: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0040.html">Tom Martone: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<li> <b>Maybe in reply to:</b> <a href="0025.html">Nick Lamb: "RGBI (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0069.html">Oliver Rauch: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- reply="end" -->
</ul>
