<!-- received="Sun Aug  8 06:10:00 1999 PDT" -->
<!-- sent="Sun, 8 Aug 1999 15:04:11 +0200 (CEST)" -->
<!-- name="Johan Brichau" -->
<!-- email="johanb@igwe4.vub.ac.be" -->
<!-- subject="Descreen function" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Descreen function</title>
<h1>Descreen function</h1>
<b>Johan Brichau</b> (<a href="mailto:johanb@igwe4.vub.ac.be"><i>johanb@igwe4.vub.ac.be</i></a>)<br>
<i>Sun, 8 Aug 1999 15:04:11 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#70">[ date ]</a><a href="index.html#70">[ thread ]</a><a href="subject.html#70">[ subject ]</a><a href="author.html#70">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">Kick Glorie: "Re: Descreen function"</a>
<li> <b>Previous message:</b> <a href="0069.html">Oliver Rauch: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
Does anyone out here plan to incorporate the descreen-function that is<br>
available on scanners as the AGFA snapscan 1236s ?<br>
<p>
Or does anyone have any documentation on how this works (maybe even in<br>
particular for the snapscan 1236s) ? <br>
<p>
<p>
greetings,<br>
<p>
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -<br>
Johan Brichau                        @    .-.<br>
Brussels Free University             @    /v\    L   I   N   U   X<br>
Final year in Computer Science       @   // \\  &gt;Phear the Penguin&lt;<br>
	                             @  /(   )\<br>
Co-founder of the Brussels LUG       @   ^^-^^<br>
-------------------------------------------------------------------------<br>
<a href="mailto:johanb@igwe.vub.ac.be">johanb@igwe.vub.ac.be</a>                   <a href="http://igwe4.vub.ac.be">http://igwe4.vub.ac.be</a><br>
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   <br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">Kick Glorie: "Re: Descreen function"</a>
<li> <b>Previous message:</b> <a href="0069.html">Oliver Rauch: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
