<!-- received="Wed Aug 11 10:00:39 1999 PDT" -->
<!-- sent="Wed, 11 Aug 1999 18:27:56 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Starting a discussion about SANE and TWAIN..." -->
<!-- id="" -->
<!-- inreplyto="Starting a discussion about SANE and TWAIN..." -->
<title>sane-devel: Re: Starting a discussion about SANE and TWAIN...</title>
<h1>Re: Starting a discussion about SANE and TWAIN...</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 11 Aug 1999 18:27:56 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#91">[ date ]</a><a href="index.html#91">[ thread ]</a><a href="subject.html#91">[ subject ]</a><a href="author.html#91">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Oliver Rauch: "Discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0090.html">Petter Reinholdtsen: "Re: a few questions"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">252353N@knotes.kodak.com: "Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0100.html">Petter Reinholdtsen: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<p>
<i>&gt; Oliver, do you want to take the lead on these discussions?  Seems like</i><br>
<i>&gt; a great opportunity.  I'm very interested in this topic, but am</i><br>
<i>&gt; unfortunately unable to make time for it right now.</i><br>
<i>&gt;</i><br>
<i>&gt; I'd like to suggest to cc all mail to sane-devel so we can keep the</i><br>
<i>&gt; discussions open.</i><br>
<i>&gt;</i><br>
<i>&gt; Cheers,</i><br>
<p>
Hello David,<br>
<p>
this is an interesting thing.<br>
I'll do so!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Oliver Rauch: "Discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0090.html">Petter Reinholdtsen: "Re: a few questions"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">252353N@knotes.kodak.com: "Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0100.html">Petter Reinholdtsen: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
