<!-- received="Wed Aug 11 12:27:56 1999 PDT" -->
<!-- sent="Wed, 11 Aug 1999 21:29:06 +0200 (CEST)" -->
<!-- name="regis rampnoux" -->
<!-- email="regisr@regix.com" -->
<!-- subject="RE: 35mm film scanner, roll film" -->
<!-- id="" -->
<!-- inreplyto="199908110137.UAA31157@aeolus.aem.umn.edu" -->
<title>sane-devel: RE: 35mm film scanner, roll film</title>
<h1>RE: 35mm film scanner, roll film</h1>
<b>regis rampnoux</b> (<a href="mailto:regisr@regix.com"><i>regisr@regix.com</i></a>)<br>
<i>Wed, 11 Aug 1999 21:29:06 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#96">[ date ]</a><a href="index.html#96">[ thread ]</a><a href="subject.html#96">[ subject ]</a><a href="author.html#96">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">Petter Reinholdtsen: "Re: a few questions"</a>
<li> <b>Previous message:</b> <a href="0095.html">Stephen Williams: "Re: Discussion about SANE and TWAIN..."</a>
<li> <b>In reply to:</b> <a href="0085.html">Ray Muno: "35mm film scanner, roll film"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 11-Aug-99 Ray Muno wrote:<br>
<i>&gt; We are in need of a film scanner that can handle 35MM strip film in lengths</i><br>
<i>&gt; of about 3 feet.  The film cannot be cut.</i><br>
<i>&gt; Is there a comparable type of film scanner that is supported by SANE</i><br>
<i>&gt; that would allow us to automate the process of scanning long strips</i><br>
<i>&gt; of 35mm film?</i><br>
<p>
The Microtek 35t+<br>
can do this but it is only 1950 dpi (without interpolation)...<br>
But of course you need to adapt your motor<br>
<p>
<p>
<pre>
---
&lt;regisr&gt;       <a href="mailto:regisr@regix.com">regisr@regix.com</a>     <a href="http://www.regix.com/">http://www.regix.com/</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">Petter Reinholdtsen: "Re: a few questions"</a>
<li> <b>Previous message:</b> <a href="0095.html">Stephen Williams: "Re: Discussion about SANE and TWAIN..."</a>
<li> <b>In reply to:</b> <a href="0085.html">Ray Muno: "35mm film scanner, roll film"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
