<!-- received="Thu Aug 12 19:24:15 1999 PDT" -->
<!-- sent="Fri, 13 Aug 1999 01:34:55 +0200" -->
<!-- name="Andreas Beck" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Unexpected Win32 success story" -->
<!-- id="" -->
<!-- inreplyto="199908122114.XAA26132@lee.Cc.Uit.No" -->
<title>sane-devel: Re: Unexpected Win32 success story</title>
<h1>Re: Unexpected Win32 success story</h1>
<b>Andreas Beck</b> (<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a>)<br>
<i>Fri, 13 Aug 1999 01:34:55 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#114">[ date ]</a><a href="index.html#114">[ thread ]</a><a href="subject.html#114">[ subject ]</a><a href="author.html#114">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">Henry Miller: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0113.html">Fred Willingham: "Re: A page on the Coolscan LS-30/2000"</a>
<li> <b>In reply to:</b> <a href="0112.html">Petter Reinholdtsen: "Unexpected Win32 success story"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0121.html">Petter Reinholdtsen: "Re: Unexpected Win32 success story"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; Using the current CVS source, I was able to successfully configure and</i><br>
<i>&gt; compile SANE on Win32 using CygWin 20.1.</i><br>
<p>
Hmm - LibGGI, which also heavily uses dynamic library loading, works since<br>
we used the very latest version of cywin. IIRC it is called 20.1b or<br>
something ... wait ... sorry - deleted the file that would have told.<br>
But it is announced on the cywin site.<br>
<p>
<i>&gt; The DLL backend did not work (there where no .so.1 files), </i><br>
<p>
Yes. You need to hack the backend to search for .dll and make sure they are<br>
in the PATH. LibGGI uses a mapping file a la<br>
<p>
module-name	path/to/module.so<br>
<p>
which can be easily autoconfed to use .dll on win.<br>
<p>
<i>&gt; It seems like the porting will be a lot easier then I expected.  All</i><br>
<i>&gt; that is left is to get the DLL backend to work. :-)</i><br>
<p>
No - the hard part is getting the HAL to work. I don't think cygwin will<br>
try to emulate /dev/sg* on ASPI. But it is good to know, we have a working<br>
development tool.<br>
<p>
CU, Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">Henry Miller: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0113.html">Fred Willingham: "Re: A page on the Coolscan LS-30/2000"</a>
<li> <b>In reply to:</b> <a href="0112.html">Petter Reinholdtsen: "Unexpected Win32 success story"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0121.html">Petter Reinholdtsen: "Re: Unexpected Win32 success story"</a>
<!-- reply="end" -->
</ul>
