<!-- received="Fri Aug 13 03:26:52 1999 PDT" -->
<!-- sent="Fri, 13 Aug 1999 12:29:11 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: Unexpected Win32 success story" -->
<!-- id="199908131029.MAA26410@lee.Cc.Uit.No" -->
<!-- inreplyto="Unexpected Win32 success story" -->
<title>sane-devel: Re: Unexpected Win32 success story</title>
<h1>Re: Unexpected Win32 success story</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Fri, 13 Aug 1999 12:29:11 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#121">[ date ]</a><a href="index.html#121">[ thread ]</a><a href="subject.html#121">[ subject ]</a><a href="author.html#121">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0122.html">Andreas Czechanowski: "Re: a few questions"</a>
<li> <b>Previous message:</b> <a href="0120.html">Petter Reinholdtsen: "Re: SANE 1.0.1 under DEC UNIX 4.0"</a>
<li> <b>Maybe in reply to:</b> <a href="0112.html">Petter Reinholdtsen: "Unexpected Win32 success story"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Andreas Beck]<br>
<i>&gt; No - the hard part is getting the HAL to work. I don't think cygwin</i><br>
<i>&gt; will try to emulate /dev/sg* on ASPI. But it is good to know, we</i><br>
<i>&gt; have a working development tool.</i><br>
<p>
Ah, but I don't care if the scanner backends are working.  I only need<br>
the dll and net backends.  My scanners are available from Unix scanner<br>
hosts over the net.<br>
<p>
I would expect preloading the net backend will get this working as I<br>
want.<br>
<p>
<i>&gt; Yes. You need to hack the backend to search for .dll and make sure</i><br>
<i>&gt; they are in the PATH.</i><br>
<p>
I am planning to change the DLL backend to use libtool ltdl instead.<br>
I beleave it fixes all these problems.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0122.html">Andreas Czechanowski: "Re: a few questions"</a>
<li> <b>Previous message:</b> <a href="0120.html">Petter Reinholdtsen: "Re: SANE 1.0.1 under DEC UNIX 4.0"</a>
<li> <b>Maybe in reply to:</b> <a href="0112.html">Petter Reinholdtsen: "Unexpected Win32 success story"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
