<!-- received="Fri Aug 13 06:55:08 1999 PDT" -->
<!-- sent="Fri, 13 Aug 1999 15:54:04 +0100" -->
<!-- name="Lars Hanke" -->
<!-- email="hanke@janeway.physik.uni-dortmund.de" -->
<!-- subject="Re: Starting a discussion about SANE and TWAIN..." -->
<!-- id="" -->
<!-- inreplyto="Starting a discussion about SANE and TWAIN..." -->
<title>sane-devel: Re: Starting a discussion about SANE and TWAIN...</title>
<h1>Re: Starting a discussion about SANE and TWAIN...</h1>
<b>Lars Hanke</b> (<a href="mailto:hanke@janeway.physik.uni-dortmund.de"><i>hanke@janeway.physik.uni-dortmund.de</i></a>)<br>
<i>Fri, 13 Aug 1999 15:54:04 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#124">[ date ]</a><a href="index.html#124">[ thread ]</a><a href="subject.html#124">[ subject ]</a><a href="author.html#124">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0125.html">Andreas Beck: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0123.html">Nick Lamb: "Re: SV: modprobe"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">252353N@knotes.kodak.com: "Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0132.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
If I read correctly Andy stated that it is possible to have <br>
something like a TWAIN backend for SANE. The other way round, i.e. a <br>
TWAIN frontend for SANE is trivial as I understand. Why do not <br>
implement this as a first step?<br>
<p>
I think this is a good starting point. I don't know how eager <br>
hardware manufacturers are to write new drivers for different OS, but <br>
a lot of historical experience shows that they cling to their islands <br>
as long as possible. Current example: writeable DVD.<br>
<p>
Especially in the WinWorld there had been no real revolutions. There <br>
are still many people running MS-DOS programs in a Win98 DOS-box. <br>
Thus if something should be changed it has to run parallel to <br>
traditional solutions. If SANE or a derivative is offered as a <br>
second and compatible standard, which requires the TWAIN <br>
administration to be involved, both standards will melt together <br>
automatically. And I am convinced that as soon as hardware developers <br>
notice that a SANE driver doesn't make the scanner eat up pages but <br>
produces an interface for most platforms in one run, they will turn <br>
to SANE just by calculating costs and profits.<br>
<p>
What I want to say: If we create a new driver concept from scratch, <br>
which is neither SANE nor TWAIN, it is pretty unlikely to be used at <br>
all. Manufacturers will keep to what they know, anything else is <br>
expensive and a high risk. If SANE becomes an official component, <br>
customers will learn its advantages and use it. Applications grow <br>
with possibilities. By now TWAIN is the scanner driver like Win98 is <br>
built into Pentiums.<br>
<p>
If the aim is a standard cross-(all)-platform solution, introduce <br>
SANE softly and stable. There is an exploding market with NT-networks <br>
using Linux servers, which will readily accept this. There even a Win <br>
only TWAIN frontend would win.<br>
<p>
Just some economical comments,<br>
<p>
 <br>
	Lars.	(<a href="mailto:hanke@janeway.physik.uni-dortmund.de">hanke@janeway.physik.uni-dortmund.de</a>)<br>
		Tel.: +49-(231)-755-3536<br>
		FAX:  +49-(231)-755-3674<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0125.html">Andreas Beck: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0123.html">Nick Lamb: "Re: SV: modprobe"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">252353N@knotes.kodak.com: "Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0132.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
