<!-- received="Fri Aug 13 12:15:16 1999 PDT" -->
<!-- sent="Fri, 13 Aug 1999 21:17:46 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="[net] connect_dev: major version mismatch: got 0, expected 1" -->
<!-- id="199908131917.VAA09711@lee.Cc.Uit.No" -->
<!-- inreplyto="" -->
<title>sane-devel: [net] connect_dev: major version mismatch: got 0, expected 1</title>
<h1>[net] connect_dev: major version mismatch: got 0, expected 1</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Fri, 13 Aug 1999 21:17:46 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#128">[ date ]</a><a href="index.html#128">[ thread ]</a><a href="subject.html#128">[ subject ]</a><a href="author.html#128">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">Nick Lamb: "Re: [net] connect_dev: major version mismatch: got 0, expected 1"</a>
<li> <b>Previous message:</b> <a href="0127.html">Nick Lamb: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0129.html">Nick Lamb: "Re: [net] connect_dev: major version mismatch: got 0, expected 1"</a>
<li> <b>Reply:</b> <a href="0129.html">Nick Lamb: "Re: [net] connect_dev: major version mismatch: got 0, expected 1"</a>
<li> <b>Reply:</b> <a href="0136.html">Kevin Charter: "Re: [net] connect_dev: major version mismatch: got 0, expected 1"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I just discovered the root to one of my problems.  For a long time, I<br>
have beleaved that the message '[net] connect_dev: major version<br>
mismatch: got 0, expected 1', extracted using SANE_DEBUG_NET=128, was<br>
a result of a version mismatch in the protocol.<br>
<p>
In my case, I just discovered, it was the result of denied access to<br>
the scanner host.  I just updated etc/sane.d/saned.conf to include the<br>
client host, and it started working.<br>
<p>
I was able to use scanimage from my Win32.  No problems using the hp<br>
backend to access HP ScanJet II, but the snapscan backend does not<br>
work with my AFGA SnapScan 1236S.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">Nick Lamb: "Re: [net] connect_dev: major version mismatch: got 0, expected 1"</a>
<li> <b>Previous message:</b> <a href="0127.html">Nick Lamb: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0129.html">Nick Lamb: "Re: [net] connect_dev: major version mismatch: got 0, expected 1"</a>
<li> <b>Reply:</b> <a href="0129.html">Nick Lamb: "Re: [net] connect_dev: major version mismatch: got 0, expected 1"</a>
<li> <b>Reply:</b> <a href="0136.html">Kevin Charter: "Re: [net] connect_dev: major version mismatch: got 0, expected 1"</a>
<!-- reply="end" -->
</ul>
