<!-- received="Fri Aug 13 17:12:50 1999 PDT" -->
<!-- sent="Fri, 13 Aug 1999 18:15:17 -0600 (MDT)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: [net] connect_dev: major version mismatch: got 0, expected 1" -->
<!-- id="19990814001525Z13200-13483+374@scapa.cs.ualberta.ca" -->
<!-- inreplyto="199908131917.VAA09711@lee.Cc.Uit.No" -->
<title>sane-devel: Re: [net] connect_dev: major version mismatch: got 0, expected 1</title>
<h1>Re: [net] connect_dev: major version mismatch: got 0, expected 1</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Fri, 13 Aug 1999 18:15:17 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#136">[ date ]</a><a href="index.html#136">[ thread ]</a><a href="subject.html#136">[ subject ]</a><a href="author.html#136">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Henry Miller: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0135.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>In reply to:</b> <a href="0128.html">Petter Reinholdtsen: "[net] connect_dev: major version mismatch: got 0, expected 1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I was able to use scanimage from my Win32.  No problems using the hp</i><br>
<i>&gt; backend to access HP ScanJet II, but the snapscan backend does not</i><br>
<i>&gt; work with my AFGA SnapScan 1236S.</i><br>
<p>
That's the SnapScan backend's fault. I'm revising it to fix this now.<br>
<p>
<p>
<pre>
-- 
Kevin Charter              
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Henry Miller: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0135.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>In reply to:</b> <a href="0128.html">Petter Reinholdtsen: "[net] connect_dev: major version mismatch: got 0, expected 1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
