<!-- received="Sat Aug 14 04:41:40 1999 PDT" -->
<!-- sent="Sat, 14 Aug 1999 13:28:32 +0200 (CDT)" -->
<!-- name="Yuri Dario" -->
<!-- email="mc6530@mclink.it" -->
<!-- subject="Re: Starting a discussion about SANE and TWAIN..." -->
<!-- id="199908141140.NAA04909@mail1.mclink.it" -->
<!-- inreplyto="17FA0B544B7@janeway.physik.uni-dortmund.de" -->
<title>sane-devel: Re: Starting a discussion about SANE and TWAIN...</title>
<h1>Re: Starting a discussion about SANE and TWAIN...</h1>
<b>Yuri Dario</b> (<a href="mailto:mc6530@mclink.it"><i>mc6530@mclink.it</i></a>)<br>
<i>Sat, 14 Aug 1999 13:28:32 +0200 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#141">[ date ]</a><a href="index.html#141">[ thread ]</a><a href="subject.html#141">[ subject ]</a><a href="author.html#141">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Petter Reinholdtsen: "Re: [net] connect_dev: major version mismatch: got 0, expected 1"</a>
<li> <b>Previous message:</b> <a href="0140.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 13 Aug 1999 15:54:04 +0100, Lars Hanke wrote:<br>
<p>
<i>&gt;something like a TWAIN backend for SANE. The other way round, i.e. a </i><br>
<i>&gt;TWAIN frontend for SANE is trivial as I understand. Why do not </i><br>
<i>&gt;implement this as a first step?</i><br>
<p>
TWAIN is not as trivial as it seems; I have looked at the API in the<br>
past (to get a TWAIN interface to SANE under OS/2), and it not easy to<br>
understand. But with the help of TWAIN people it should be much easier.<br>
At least they can say which calls needs to be available for a minimal<br>
implementation.<br>
<p>
<p>
Bye,<br>
<p>
	Yuri Dario<br>
<p>
/*<br>
 * member of TeamOS/2 - Italy<br>
 * <a href="http://www.quasarbbs.com/yuri">http://www.quasarbbs.com/yuri</a><br>
 */<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Petter Reinholdtsen: "Re: [net] connect_dev: major version mismatch: got 0, expected 1"</a>
<li> <b>Previous message:</b> <a href="0140.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
