<!-- received="Tue Aug 17 16:58:43 1999 PDT" -->
<!-- sent="Tue, 17 Aug 1999 20:04:44 +0200" -->
<!-- name="Andreas Beck" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: 2 scanners under Linux" -->
<!-- id="" -->
<!-- inreplyto="37B83596.21E4FF68@wolfsburg.de" -->
<title>sane-devel: Re: 2 scanners under Linux</title>
<h1>Re: 2 scanners under Linux</h1>
<b>Andreas Beck</b> (<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a>)<br>
<i>Tue, 17 Aug 1999 20:04:44 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#219">[ date ]</a><a href="index.html#219">[ thread ]</a><a href="subject.html#219">[ subject ]</a><a href="author.html#219">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0220.html">Andreas Beck: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0218.html">Andreas Beck: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; 3) you need read and write access to both devices (e.g. chmod 666 /dev/sgx</i><br>
<i>&gt; where x are your scanner deives)</i><br>
<p>
... where I again have to suppress that little security daemon inside me ...<br>
<p>
chgrp sane /dev/sgx /usr/local/bin/scanimage; chmod 660 /dev/sgx;<br>
chmod 2711 /usr/local/bin/scanimage;<br>
<p>
Ooops - he won again ...<br>
<p>
CU, ANdy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0220.html">Andreas Beck: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0218.html">Andreas Beck: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
