<!-- received="Wed Aug 18 03:56:18 1999 PDT" -->
<!-- sent="Wed, 18 Aug 1999 12:56:42 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Mustek Paragon 1200SP" -->
<!-- id="199908181056.MAA11715@zeus.rz.uni-duesseldorf.de" -->
<!-- inreplyto="Pine.LNX.4.05.9908181047310.31167-100000@obastrlx.combox.de" -->
<title>sane-devel: Re: Mustek Paragon 1200SP</title>
<h1>Re: Mustek Paragon 1200SP</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Wed, 18 Aug 1999 12:56:42 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#223">[ date ]</a><a href="index.html#223">[ thread ]</a><a href="subject.html#223">[ subject ]</a><a href="author.html#223">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0224.html">Tobias Goeller: "Re: Mustek Paragon 1200SP"</a>
<li> <b>Previous message:</b> <a href="0222.html">Tobias Goeller: "Mustek Paragon 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0224.html">Tobias Goeller: "Re: Mustek Paragon 1200SP"</a>
<li> <b>Reply:</b> <a href="0224.html">Tobias Goeller: "Re: Mustek Paragon 1200SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; My problem is that using a mustek 1200SP scsi scanner with sane,</i><br>
<i>&gt; gray images work at any resolution without any problems. If I try</i><br>
<i>&gt; to scan colour, the image comes out totally scrambled (the colors</i><br>
<i>&gt; are really weird, stripes all over the image, etc).</i><br>
<p>
O.k. - could you send me the exact model of your scanner ? /proc/scsi/scsi<br>
should do, and maybe the output from SANE_DEBUG_MUSTEK=255 from a color scan.<br>
<p>
In case you have one that is identifying itself as MFS12000SP with a firmware<br>
revision of 1.00, I have a fix for this. I already sent it to David.<br>
<p>
The problem is, that this scanner uses a backlog-type line distance correction,<br>
which had a very subtle bug that shows up at high resolutions and big scan <br>
areas.<br>
<p>
Try scanning a medium sized area at 50dpi. You should not have problems, then. <br>
Actually you shouldn't have problems at below 72 dpi anyway. <br>
If you go beyond that, chances are that you will get horizontal stripes.<br>
<p>
In case that does not fit your problem, please have a look at sane-mustek(1),<br>
which discribes two options for mustek.conf that might help you. Well actually<br>
one of them might help. The lineart fix isn't really helpful for you.<br>
<p>
CU,<br>
<p>
Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:Andreas.Beck@ggi-project.org">Andreas.Beck@ggi-project.org</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0224.html">Tobias Goeller: "Re: Mustek Paragon 1200SP"</a>
<li> <b>Previous message:</b> <a href="0222.html">Tobias Goeller: "Mustek Paragon 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0224.html">Tobias Goeller: "Re: Mustek Paragon 1200SP"</a>
<li> <b>Reply:</b> <a href="0224.html">Tobias Goeller: "Re: Mustek Paragon 1200SP"</a>
<!-- reply="end" -->
</ul>
