<!-- received="Wed Aug 18 10:34:46 1999 PDT" -->
<!-- sent="Wed, 18 Aug 1999 19:40:00 +0200" -->
<!-- name="Andreas Beck" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: SANE V2" -->
<!-- id="" -->
<!-- inreplyto="199908180206.TAA17003@icarus.com" -->
<title>sane-devel: Re: SANE V2</title>
<h1>Re: SANE V2</h1>
<b>Andreas Beck</b> (<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a>)<br>
<i>Wed, 18 Aug 1999 19:40:00 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#228">[ date ]</a><a href="index.html#228">[ thread ]</a><a href="subject.html#228">[ subject ]</a><a href="author.html#228">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0229.html">Nick Lamb: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0227.html">becka@rz.uni-duesseldorf.de: "Re: canon fs 2710 unde linux?"</a>
<li> <b>In reply to:</b> <a href="0221.html">Stephen Williams: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt; 1. Medium-Old frontends that do not know format xxx together with a</i><br>
<i>&gt; &gt; driver that does. Those frontends cannot do anything reasonable with</i><br>
<i>&gt; &gt; the data  the driver offers in format xxx.  </i><br>
<p>
<i>&gt; ... and won't get it because they don't ask for it.</i><br>
<p>
I will not be able to get a format the backend _can_ do, just because my<br>
frontend can't be smart about it ?<br>
<p>
I want to be able to click an option "Format: image/strange_stuff", and<br>
have my backend ask me to save the frames for me that itself doesn't <br>
understand or given them away to external configured programs.<br>
<p>
Note, that there is a question of how you ask for a frame format. Options<br>
are global stuff. If you transfer multiframe stuff, you might get things you<br>
did not specifically ask for, at least not in an (for the mind of a<br>
program) obvious manner.<br>
<p>
Cu, ANdy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0229.html">Nick Lamb: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0227.html">becka@rz.uni-duesseldorf.de: "Re: canon fs 2710 unde linux?"</a>
<li> <b>In reply to:</b> <a href="0221.html">Stephen Williams: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
