<!-- received="Fri Aug 20 20:23:23 1999 PDT" -->
<!-- sent="Fri, 20 Aug 1999 22:24:16 -0500 (CDT)" -->
<!-- name="Henry Miller" -->
<!-- email="hank@black-hole.com" -->
<!-- subject="Re: SANE backend using TWAIN and WINE?" -->
<!-- id="" -->
<!-- inreplyto="15941.199908202230@doyle.cogsci.ed.ac.uk" -->
<title>sane-devel: Re: SANE backend using TWAIN and WINE?</title>
<h1>Re: SANE backend using TWAIN and WINE?</h1>
<b>Henry Miller</b> (<a href="mailto:hank@black-hole.com"><i>hank@black-hole.com</i></a>)<br>
<i>Fri, 20 Aug 1999 22:24:16 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#249">[ date ]</a><a href="index.html#249">[ thread ]</a><a href="subject.html#249">[ subject ]</a><a href="author.html#249">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Menaka Lashitha Bandara: "Acer Scanners"</a>
<li> <b>Previous message:</b> <a href="0248.html">Richard Tobin: "SANE backend using TWAIN and WINE?"</a>
<li> <b>In reply to:</b> <a href="0248.html">Richard Tobin: "SANE backend using TWAIN and WINE?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 20 Aug 1999, Richard Tobin wrote:<br>
<p>
<i>&gt; Excuse me if this is a naive question!</i><br>
<i>&gt; </i><br>
<i>&gt; Would it be possible to write a fairly simple MS-Windows program that</i><br>
<i>&gt; provided access to a scanner using TWAIN, accepting commands and</i><br>
<i>&gt; returning data through a pipe or socket, and use WINE to run it from</i><br>
<i>&gt; unix?  This would provide a SANE backend for any scanner with a TWAIN</i><br>
<i>&gt; interface.</i><br>
<p>
Maybe, sometimes.  Twain has a optional protocol that can be used to do<br>
what you suggest.  Problem is it is optional, and wasn't even in the spec<br>
until not too long ago.  Hence most scanners don't support it, and less of<br>
the low end cheep ones.  (read the very expensive ones are likely to<br>
support it, the ones you can accually walk into a store and buy probably<br>
don't - but all generalzations are false)<br>
<p>
Assuming the optional interface was implimented, the rest is a matter of<br>
programing.  I don't think anyone has done enough work to make that<br>
possibal, but someone did suggest they were working one winSane, which<br>
would probably containe many of the parts.  (not the part of turning twain<br>
into Sane, but the rest perhaps if the netbackend worked) <br>
<p>
<pre>
--
      <a href="http://www.black-hole.com/users/henrymiller/">http://www.black-hole.com/users/henrymiller/</a> 
      <a href="mailto:hank@black-hole.com">hank@black-hole.com</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Menaka Lashitha Bandara: "Acer Scanners"</a>
<li> <b>Previous message:</b> <a href="0248.html">Richard Tobin: "SANE backend using TWAIN and WINE?"</a>
<li> <b>In reply to:</b> <a href="0248.html">Richard Tobin: "SANE backend using TWAIN and WINE?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
