<!-- received="Sat Aug 21 08:00:28 1999 PDT" -->
<!-- sent="Sat, 21 Aug 1999 14:55:32 +0200" -->
<!-- name="Andreas Beck" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Acer Scanners" -->
<!-- id="" -->
<!-- inreplyto="37BE2D35.2B98F145@alphalink.com.au" -->
<title>sane-devel: Re: Acer Scanners</title>
<h1>Re: Acer Scanners</h1>
<b>Andreas Beck</b> (<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a>)<br>
<i>Sat, 21 Aug 1999 14:55:32 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#257">[ date ]</a><a href="index.html#257">[ thread ]</a><a href="subject.html#257">[ subject ]</a><a href="author.html#257">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">regis rampnoux: "Re: SANE 1.0.1 on FreeBSD 3.2-RELEASE"</a>
<li> <b>Previous message:</b> <a href="0256.html">Oliver Rauch: "Re: SANE frames"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; pre-compiled driver. Anyway, here's the message they sent me:</i><br>
<p>
O.K. - I'll try to comment on their questions. Please forward as<br>
appropriate.<br>
<p>
<i>&gt; Subject: The scanner driver for Linux</i><br>
<i>&gt;     From: Regis Hsu &lt;<a href="mailto:RegisHsu@api.com.tw">RegisHsu@api.com.tw</a>&gt;</i><br>
<i>&gt;       To: "'lashi@alphalink.com.au'" &lt;lashi@alphalink.com.au&gt;</i><br>
<p>
<i>&gt; 1. Do we need to open the source code if we use GNU C/C++ to compile our</i><br>
<i>&gt; code ?</i><br>
<p>
No. You only need to do so, if you use or link to GPLed code. All libraries<br>
and headers that are relevant are LGPL, which does not have that<br>
restriction. However you need to use dynamic linking (which is the default<br>
anyway) as LGPL demands that you allow the user to link to the latest<br>
libraries if desired.<br>
<p>
<i>&gt; 2. Could you help me to develop the driver ? or somebody can help me ?</i><br>
<p>
The SANE people can probably help. Give him contact info to SANE and the guy<br>
who already is working on the Acer stuff.<br>
<p>
<i>&gt; 3. Does Linux support USB ?</i><br>
<p>
Yes, but that is a very recent development, and is considered alpha state.<br>
You can not expect it to be present in currently used Linux distributions.<br>
I cannot tell how the development pace is, though.<br>
<p>
CU, ANdy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">regis rampnoux: "Re: SANE 1.0.1 on FreeBSD 3.2-RELEASE"</a>
<li> <b>Previous message:</b> <a href="0256.html">Oliver Rauch: "Re: SANE frames"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
