<!-- received="Sun Aug 22 06:52:20 1999 PDT" -->
<!-- sent="Sun, 22 Aug 1999 15:57:53 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="xsane-0.32 available" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane-0.32 available</title>
<h1>xsane-0.32 available</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 22 Aug 1999 15:57:53 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#263">[ date ]</a><a href="index.html#263">[ thread ]</a><a href="subject.html#263">[ subject ]</a><a href="author.html#263">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0264.html">Oliver Rauch: "sane-umax-build-9"</a>
<li> <b>Previous message:</b> <a href="0262.html">Oliver Rauch: "Re: SANE frames"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I changed in xsane-0.32:<br>
- support for multi image/ADF scans.<br>
        if sane_read returns with SANE_STATUS_GOOD<br>
        instead of SANE_STATUS_EOF xsane calls sane_start again,<br>
        if sane_read returns with SANE_STATUS_EOF xsane calls sane_cancel<br>
<p>
I uploaded xsane-0.32 to my homepage<br>
<a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a><br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0264.html">Oliver Rauch: "sane-umax-build-9"</a>
<li> <b>Previous message:</b> <a href="0262.html">Oliver Rauch: "Re: SANE frames"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
