<!-- received="Wed Aug 25 12:01:10 1999 PDT" -->
<!-- sent="Wed, 25 Aug 1999 11:57:54 -0700" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint" -->
<!-- id="" -->
<!-- inreplyto="Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint" -->
<title>sane-devel: Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint</title>
<h1>Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Wed, 25 Aug 1999 11:57:54 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#301">[ date ]</a><a href="index.html#301">[ thread ]</a><a href="subject.html#301">[ subject ]</a><a href="author.html#301">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0302.html">Cooper: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint"</a>
<li> <b>Previous message:</b> <a href="0300.html">Oliver Rauch: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Cooper wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt; I have a machine with both a Buslogic 930LT and a 950,  any attempt to use the</i><br>
<i>&gt; &gt; 930 locks up the machine tight.  I have never been able to resolv this problem</i><br>
<i>&gt; &gt; with over a year of trying,  yet the 950 (Ultra wide) which the drives are</i><br>
<i>&gt; &gt; connected to works fine.</i><br>
<i>&gt; </i><br>
<i>&gt; But don't you think it's weird that I can do several scans before it</i><br>
<i>&gt; locks up (then it's 3, then it's 30, but it always does eventually) and</i><br>
<i>&gt; yet no other device on the SCSI bus has a problem?</i><br>
<i>&gt; Writing CD's at 8-speed without any complaints, heavy datatransfers from</i><br>
<i>&gt; CD to harddisk aren't a problem either.</i><br>
<i>&gt; It's *ONLY* happening when scanning.</i><br>
<i>&gt; </i><br>
<i>&gt; Basically you're saying that I should bring this issue up with the</i><br>
<i>&gt; developer of the SCSI driver for my adapter or get myself a new SCSI</i><br>
<i>&gt; adapter?</i><br>
<p>
Did you say what kernel you were using? I have a similar problem with my<br>
BT958... I'm thinking this is likely a sg driver issue though. Anyways,<br>
I'm going to overhaul my hardware... I have an odd motherboard and am<br>
using software raid. I'm grabbing a AMI MegaRAID controller, replacing<br>
the motherboard, and then I'll see how the BT958 fairs with a stock<br>
RedHat 6.0 kernel. If it turns out to be the BusLogic controller I'll<br>
have to see about swapping SCSI cards for the scanner... I think that<br>
cheap AHA-1505 that came with the scanner works with the aha152x driver.<br>
<p>
Right now this problem is greatly hindering my ability to do SANE<br>
related development.<br>
<p>
Brian Macy<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0302.html">Cooper: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint"</a>
<li> <b>Previous message:</b> <a href="0300.html">Oliver Rauch: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
