<!-- received="Wed Aug 25 12:12:00 1999 PDT" -->
<!-- sent="Wed, 25 Aug 1999 21:15:37 -0100" -->
<!-- name="Cooper" -->
<!-- email="Cooper@Linuxfan.com" -->
<!-- subject="Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint" -->
<!-- id="" -->
<!-- inreplyto="Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint" -->
<title>sane-devel: Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint</title>
<h1>Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint</h1>
<b>Cooper</b> (<a href="mailto:Cooper@Linuxfan.com"><i>Cooper@Linuxfan.com</i></a>)<br>
<i>Wed, 25 Aug 1999 21:15:37 -0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#302">[ date ]</a><a href="index.html#302">[ thread ]</a><a href="subject.html#302">[ subject ]</a><a href="author.html#302">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0303.html">Stephen Williams: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0301.html">Brian Macy: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Brian Macy wrote:<br>
<i>&gt; </i><br>
<i>&gt; Cooper wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; &gt; I have a machine with both a Buslogic 930LT and a 950,  any attempt to use the</i><br>
<i>&gt; &gt; &gt; 930 locks up the machine tight.  I have never been able to resolv this problem</i><br>
<i>&gt; &gt; &gt; with over a year of trying,  yet the 950 (Ultra wide) which the drives are</i><br>
<i>&gt; &gt; &gt; connected to works fine.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; But don't you think it's weird that I can do several scans before it</i><br>
<i>&gt; &gt; locks up (then it's 3, then it's 30, but it always does eventually) and</i><br>
<i>&gt; &gt; yet no other device on the SCSI bus has a problem?</i><br>
<i>&gt; &gt; Writing CD's at 8-speed without any complaints, heavy datatransfers from</i><br>
<i>&gt; &gt; CD to harddisk aren't a problem either.</i><br>
<i>&gt; &gt; It's *ONLY* happening when scanning.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Basically you're saying that I should bring this issue up with the</i><br>
<i>&gt; &gt; developer of the SCSI driver for my adapter or get myself a new SCSI</i><br>
<i>&gt; &gt; adapter?</i><br>
<i>&gt; </i><br>
<i>&gt; Did you say what kernel you were using? I have a similar problem with my</i><br>
<i>&gt; BT958... I'm thinking this is likely a sg driver issue though. Anyways,</i><br>
<i>&gt; I'm going to overhaul my hardware... I have an odd motherboard and am</i><br>
<i>&gt; using software raid. I'm grabbing a AMI MegaRAID controller, replacing</i><br>
<i>&gt; the motherboard, and then I'll see how the BT958 fairs with a stock</i><br>
<i>&gt; RedHat 6.0 kernel. If it turns out to be the BusLogic controller I'll</i><br>
<i>&gt; have to see about swapping SCSI cards for the scanner... I think that</i><br>
<i>&gt; cheap AHA-1505 that came with the scanner works with the aha152x driver.</i><br>
<p>
I've had this problem occur in kernels as old as 2.0.26 and as recent as<br>
2.2.10.<br>
If it's an sg problem I'm inclined to think it should happen on other<br>
setups aswell, but since I haven't heared anybody else bring this up, I<br>
guess it's a BusLogic-only problem.<br>
<p>
Leonard N. Zubikoff, creator of the BusLogic driver, has remained<br>
unresponsive to my pleas for help.<br>
<p>
<i>&gt; Right now this problem is greatly hindering my ability to do SANE</i><br>
<i>&gt; related development.</i><br>
<p>
Well, this is greatly hindering (i.e. making it impossible) my ability<br>
to scan *AT ALL*!<br>
It's reached the point where I can reliably make the machine Oops during<br>
a scan.<br>
If anybody has some good hints on how to trap all that output that flies<br>
across the screen so I can submit it to developers that know how to deal<br>
with it, I'm all ears.<br>
<p>
And, like you, I'm getting myself a new SCSI adapter *JUST BECAUSE OF<br>
THIS*.<br>
I shouldn't have to, but if the developer seems uninterested and I'm<br>
uncapable...<br>
<p>
Cooper<br>
<pre>
-- 
I'd like to take this moment to ask you parents out there:
Please close the door when being probed by aliens. Think
of the children...
    - Taken from Squee #4 -
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0303.html">Stephen Williams: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0301.html">Brian Macy: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
