<!-- received="Wed Aug 25 21:01:02 1999 PDT" -->
<!-- sent="Wed, 25 Aug 1999 20:57:44 -0700" -->
<!-- name="Stephen Williams" -->
<!-- email="steve@icarus.com" -->
<!-- subject="Re: SANE V2" -->
<!-- id="199908260357.UAA03827@icarus.com" -->
<!-- inreplyto="Pine.LNX.4.10.9908242355140.19093-100000@chef.ecs.soton.ac.uk" -->
<title>sane-devel: Re: SANE V2</title>
<h1>Re: SANE V2</h1>
<b>Stephen Williams</b> (<a href="mailto:steve@icarus.com"><i>steve@icarus.com</i></a>)<br>
<i>Wed, 25 Aug 1999 20:57:44 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#304">[ date ]</a><a href="index.html#304">[ thread ]</a><a href="subject.html#304">[ subject ]</a><a href="author.html#304">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0305.html">Brian Macy: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint"</a>
<li> <b>Previous message:</b> <a href="0303.html">Stephen Williams: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0310.html">Nick Lamb: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0310.html">Nick Lamb: "Re: SANE V2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have comments.<br>
<p>
<a href="mailto:njl98r@ecs.soton.ac.uk">njl98r@ecs.soton.ac.uk</a> said:<br>
<i>&gt; I've written up a draft of how I currently think SANE 1.2 / SANE 2</i><br>
<i>&gt; should look.</i><br>
<p>
<pre>
--
In 3.2.2 Image Transmission you suggest that front ends provide some sort
of means of warning or constraining the user from requesting frame formats
that it does not support. I contend that this is not in general possible
unless optional frame types can be enabled by a well-known option.
Without a well-known option, the front end cannot know (in general)
how to constrain the backend.
<p>
<pre>
--
In 4.5.4 Scan area options It might be nice to allow multiple scan
areas for devices that support multiple scan areas per page. I know
of a couple scanners that support such things.
<p>
In addition, on scanners we build, each "window" of the page may have
a different format (i.e. JFIF for the color and gray, TIFF/G4 for the
bitonal) ant it would be nice to specify the frame type within the
scan area specification.
<p>
<pre>
-- 
Steve Williams                "The woods are lovely, dark and deep.
<a href="mailto:steve@icarus.com">steve@icarus.com</a>              But I have promises to keep,
<a href="mailto:steve@picturel.com">steve@picturel.com</a>            and lines to code before I sleep,
<a href="http://www.picturel.com">http://www.picturel.com</a>       And lines to code before I sleep."
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0305.html">Brian Macy: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint"</a>
<li> <b>Previous message:</b> <a href="0303.html">Stephen Williams: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0310.html">Nick Lamb: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0310.html">Nick Lamb: "Re: SANE V2"</a>
<!-- reply="end" -->
</ul>
