<!-- received="Mon Aug 30 11:11:53 1999 PDT" -->
<!-- sent="Mon, 30 Aug 1999 21:16:47 +0200 (CEST)" -->
<!-- name="Georg Huettenegger" -->
<!-- email="georg@mondoshawan.unix.cslab.tuwien.ac.at" -->
<!-- subject="Re: Mustek MFS-6000CX, once again please." -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.04.9908301123180.12640-100000@ml.edata.com" -->
<title>sane-devel: Re: Mustek MFS-6000CX, once again please.</title>
<h1>Re: Mustek MFS-6000CX, once again please.</h1>
<b>Georg Huettenegger</b> (<a href="mailto:georg@mondoshawan.unix.cslab.tuwien.ac.at"><i>georg@mondoshawan.unix.cslab.tuwien.ac.at</i></a>)<br>
<i>Mon, 30 Aug 1999 21:16:47 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#347">[ date ]</a><a href="index.html#347">[ thread ]</a><a href="subject.html#347">[ subject ]</a><a href="author.html#347">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0348.html">abel deuring: "Re: SANE V2 - again..."</a>
<li> <b>Previous message:</b> <a href="0346.html">abel deuring: "Re: SANE V2 - again..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
hi mike<br>
<p>
On Mon, 30 Aug 1999 <a href="mailto:ml@vianetinc.com">ml@vianetinc.com</a> wrote:<br>
<p>
<i>&gt; Hate to be a pest but anyone out there can tell me if I need a SCSI</i><br>
<i>&gt; terminator given that I'm using a new SCSI card. The Mustek came without</i><br>
<i>&gt; one and I'm a little confused over the difference between the the</i><br>
<i>&gt; Mustek-supplied "SCSI" card and a "real" card.</i><br>
<i>&gt; </i><br>
<i>&gt; Please advise. Thanks.</i><br>
<p>
well either your scanner has autoermination (highly unlikely) or you will<br>
need termination. nevertheless some scsi adapters are very tolerant about<br>
such issues (especially with only one device connected).<br>
<p>
i would recommend you to get a ncr/symbios logic 810a card (should<br>
probably cost around $50). this card is a quite good fast-scsi ii pci card<br>
supported by all major systems (including linux). the adaptec 1505 you<br>
mentioned earlier can only be recommended for people without pci slots<br>
(it is also a fast-scsi ii controller but is not capable of bus mastering <br>
which forces the cpu to do all the scsi-transfer work).<br>
<p>
so in my opinion (and i also own a mustek scsi scanner) for a correct scsi<br>
termination you will need to buy an external terminater and connect it to<br>
the second connector on the mustek scanner.<br>
<p>
for your scsi card i would recommend you buy a ncr 810a which gives you a<br>
good scsi controller and your system should (this is my personal<br>
experience) work without proper termination. of course with virtually any<br>
other card than the proposed adaptec 1505 you will need to buy a proper<br>
cable (the one packaged with the scanner won't fit).<br>
<p>
hope this helps,<br>
  georg<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0348.html">abel deuring: "Re: SANE V2 - again..."</a>
<li> <b>Previous message:</b> <a href="0346.html">abel deuring: "Re: SANE V2 - again..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
