<!-- received="Mon Aug 30 14:24:51 1999 PDT" -->
<!-- sent="Mon, 30 Aug 1999 21:24:09 +0000" -->
<!-- name="Adam Williams" -->
<!-- email="awilliam@whitemice.org" -->
<!-- subject="Xsane and GIF Images" -->
<!-- id="9908302124.ZM2193@estate1.whitemice.org" -->
<!-- inreplyto="37C965B2.E33288E6@satzbau-gmbh.de" -->
<title>sane-devel: Xsane and GIF Images</title>
<h1>Xsane and GIF Images</h1>
<b>Adam Williams</b> (<a href="mailto:awilliam@whitemice.org"><i>awilliam@whitemice.org</i></a>)<br>
<i>Mon, 30 Aug 1999 21:24:09 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#352">[ date ]</a><a href="index.html#352">[ thread ]</a><a href="subject.html#352">[ subject ]</a><a href="author.html#352">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0353.html">Stephen Williams: "Re: SANE V2 - again..."</a>
<li> <b>Previous message:</b> <a href="0351.html">Oliver Rauch: "Re: SANE V2 - again..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0357.html">Oliver Rauch: "Re: Xsane and GIF Images"</a>
<li> <b>Reply:</b> <a href="0357.html">Oliver Rauch: "Re: Xsane and GIF Images"</a>
<li> <b>Reply:</b> <a href="0358.html">Dan Kegel: "Re: Xsane and GIF Images"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Is there any way to build support for GIF images into Xsane,  I need to save<br>
greyscale gifs.  Am I simply missing a library during ./configure or does xsane<br>
not support gifs?<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0353.html">Stephen Williams: "Re: SANE V2 - again..."</a>
<li> <b>Previous message:</b> <a href="0351.html">Oliver Rauch: "Re: SANE V2 - again..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0357.html">Oliver Rauch: "Re: Xsane and GIF Images"</a>
<li> <b>Reply:</b> <a href="0357.html">Oliver Rauch: "Re: Xsane and GIF Images"</a>
<li> <b>Reply:</b> <a href="0358.html">Dan Kegel: "Re: Xsane and GIF Images"</a>
<!-- reply="end" -->
</ul>
