<!-- received="Mon Aug 30 14:42:01 1999 PDT" -->
<!-- sent="Mon, 30 Aug 1999 14:42:17 -0700" -->
<!-- name="Stephen Williams" -->
<!-- email="steve@icarus.com" -->
<!-- subject="Re: SANE V2 - again..." -->
<!-- id="199908302142.OAA08231@icarus.com" -->
<!-- inreplyto="37CAF2BB.81988E6E@wolfsburg.de" -->
<title>sane-devel: Re: SANE V2 - again...</title>
<h1>Re: SANE V2 - again...</h1>
<b>Stephen Williams</b> (<a href="mailto:steve@icarus.com"><i>steve@icarus.com</i></a>)<br>
<i>Mon, 30 Aug 1999 14:42:17 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#353">[ date ]</a><a href="index.html#353">[ thread ]</a><a href="subject.html#353">[ subject ]</a><a href="author.html#353">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0354.html">Cooper: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint"</a>
<li> <b>Previous message:</b> <a href="0352.html">Adam Williams: "Xsane and GIF Images"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a> said:<br>
<i>&gt; We could create a 3x3 matrix of gamma tables and we would get almost</i><br>
<i>&gt; all possible corrections. But the problem is to get the values for the</i><br>
<i>&gt; matrix/table for each device.</i><br>
<p>
ICC profiles are (unfortunately) not typically gamma tables. They tend<br>
to be on the order of 300K files. I think that applying ICC correction<br>
is out of the realm for the scanner driver, although it may choose to<br>
arrange for profiles to be associated with the the image.<br>
<p>
Hardware manufacturers are typically responsible for producing a profile<br>
for their hardware, though that is not required, not all do, some get third<br>
parties to do it, and there is nothing preventing the random individual<br>
making a profile of his/her own. That implies that the driver need not<br>
even *carry* the profile.<br>
<p>
Typically, the display tool applies the profiles for the scanner and<br>
the display device to the image at the time the image is rendered. The<br>
user may even select the profiles to be applied, depending on the tool.<br>
So this is, and should remain, entirely a front-end issue.<br>
<pre>
-- 
Steve Williams                "The woods are lovely, dark and deep.
<a href="mailto:steve@icarus.com">steve@icarus.com</a>              But I have promises to keep,
<a href="mailto:steve@picturel.com">steve@picturel.com</a>            and lines to code before I sleep,
<a href="http://www.picturel.com">http://www.picturel.com</a>       And lines to code before I sleep."
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0354.html">Cooper: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint"</a>
<li> <b>Previous message:</b> <a href="0352.html">Adam Williams: "Xsane and GIF Images"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
