<!-- received="Mon Aug 30 17:24:28 1999 PDT" -->
<!-- sent="Mon, 30 Aug 1999 17:27:42 -0700" -->
<!-- name="Dan Kegel" -->
<!-- email="dank@alumni.caltech.edu" -->
<!-- subject="Re: Xsane and GIF Images" -->
<!-- id="" -->
<!-- inreplyto="Xsane and GIF Images" -->
<title>sane-devel: Re: Xsane and GIF Images</title>
<h1>Re: Xsane and GIF Images</h1>
<b>Dan Kegel</b> (<a href="mailto:dank@alumni.caltech.edu"><i>dank@alumni.caltech.edu</i></a>)<br>
<i>Mon, 30 Aug 1999 17:27:42 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#358">[ date ]</a><a href="index.html#358">[ thread ]</a><a href="subject.html#358">[ subject ]</a><a href="author.html#358">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0359.html">Adam Williams: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint LT"</a>
<li> <b>Previous message:</b> <a href="0357.html">Oliver Rauch: "Re: Xsane and GIF Images"</a>
<li> <b>Maybe in reply to:</b> <a href="0352.html">Adam Williams: "Xsane and GIF Images"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Adam Williams wrote:<br>
<i>&gt; Is there any way to build support for GIF images into Xsane,  I need to save</i><br>
<i>&gt; greyscale gifs.  Am I simply missing a library during ./configure or does xsane</i><br>
<i>&gt; not support gifs?</i><br>
<p>
Unisys is now asking $7000 per web site that uses GIF images.<br>
It's probably time to desupport the GIF format entirely<br>
in favor of PNG.<br>
See <a href="http://burnallgifs.org/">http://burnallgifs.org/</a><br>
- Dan<br>
<p>
<pre>
-- 
(The above is my opinion alone, and not that of my employer)
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0359.html">Adam Williams: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint LT"</a>
<li> <b>Previous message:</b> <a href="0357.html">Oliver Rauch: "Re: Xsane and GIF Images"</a>
<li> <b>Maybe in reply to:</b> <a href="0352.html">Adam Williams: "Xsane and GIF Images"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
